<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1019_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{77,78}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>npc_1019_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,172},{78,80}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>npc_1019_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,327},{78,78}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>npc_1019_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,360},{81,76}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,76}}</string>
        <key>sourceSize</key>
        <string>{81,76}</string>
      </dict>
      <key>npc_1019_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,83},{80,76}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
      <key>npc_1019_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{80,76}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
      <key>npc_1019_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,89},{81,76}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,76}}</string>
        <key>sourceSize</key>
        <string>{81,76}</string>
      </dict>
      <key>npc_1019_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,254},{79,78}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>npc_1019_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,407},{72,77}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>npc_1019_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,407},{72,77}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>npc_1019_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,165},{79,73}}</string>
        <key>offset</key>
        <string>{6,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,73}}</string>
        <key>sourceSize</key>
        <string>{79,73}</string>
      </dict>
      <key>npc_1019_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,276},{82,75}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>npc_1019_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{87,73}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>npc_1019_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,72}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,72}}</string>
        <key>sourceSize</key>
        <string>{95,72}</string>
      </dict>
      <key>npc_1019_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{95,71}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,71}}</string>
        <key>sourceSize</key>
        <string>{95,71}</string>
      </dict>
      <key>npc_1019_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{95,71}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,71}}</string>
        <key>sourceSize</key>
        <string>{95,71}</string>
      </dict>
      <key>npc_1019_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{95,72}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,72}}</string>
        <key>sourceSize</key>
        <string>{95,72}</string>
      </dict>
      <key>npc_1019_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,187},{87,73}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,73}}</string>
        <key>sourceSize</key>
        <string>{87,73}</string>
      </dict>
      <key>npc_1019_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{88,73}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,73}}</string>
        <key>sourceSize</key>
        <string>{88,73}</string>
      </dict>
      <key>npc_1019_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,97},{88,73}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,73}}</string>
        <key>sourceSize</key>
        <string>{88,73}</string>
      </dict>
      <key>npc_1019_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,335},{76,79}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,79}}</string>
        <key>sourceSize</key>
        <string>{76,79}</string>
      </dict>
      <key>npc_1019_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{78,81}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>npc_1019_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,416},{77,79}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>npc_1019_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,246},{78,78}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>npc_1019_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,163},{78,77}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>npc_1019_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,80},{78,77}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>npc_1019_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{78,78}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,78}}</string>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>npc_1019_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,246},{77,79}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,79}}</string>
        <key>sourceSize</key>
        <string>{77,79}</string>
      </dict>
      <key>npc_1019_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,165},{74,79}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,79}}</string>
        <key>sourceSize</key>
        <string>{74,79}</string>
      </dict>
      <key>npc_1019_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,82},{74,79}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,79}}</string>
        <key>sourceSize</key>
        <string>{74,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1019_0_2.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>npc_1019_0_2.png</string>
    </dict>
  </dict>
</plist>