<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1031_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,128},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,128},{60,126}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,126}}</string>
        <key>sourceSize</key>
        <string>{60,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,128},{61,126}}</string>
        <key>offset</key>
        <string>{-5,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,126}}</string>
        <key>sourceSize</key>
        <string>{61,126}</string>
      </dict>
      <key>npc_1031_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{61,126}}</string>
        <key>offset</key>
        <string>{-5,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,126}}</string>
        <key>sourceSize</key>
        <string>{61,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1031_0_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>npc_1031_0_0.png</string>
    </dict>
  </dict>
</plist>