<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_014640.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014641.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014642.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014643.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014644.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014645.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014646.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014647.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014648.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014649.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014650.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014651.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014652.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014653.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014654.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014655.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014656.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014657.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014658.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014659.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014660.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014661.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014662.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014663.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014664.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014665.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014666.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014667.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014668.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014669.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014670.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014671.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014672.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014673.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014674.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014675.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014676.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014677.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014678.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_014679.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_366.png</string>
		<key>size</key>
		<string>{32,16}</string>
		<key>textureFileName</key>
		<string>obj190_366.png</string>
	</dict>
</dict>
</plist>
