<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_025000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025001.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,0},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025002.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,0},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025003.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,194},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,194},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025005.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,194},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025006.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,388},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,388},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,582},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025009.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,388},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025010.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,582},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025011.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,582},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025012.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,776},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,776},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025014.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,970},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025015.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,776},{192,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,288}}</string>
			<key>sourceSize</key>
			<string>{192,288}</string>
		</dict>
		<key>obj190_025016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,1066},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_025017.png</key>
		<dict>
			<key>frame</key>
			<string>{{1019,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_025018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_025019.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_025020.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,1356},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025021.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1262},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025022.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1310},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025023.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,1360},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025024.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1408},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025025.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,1360},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025026.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,1458},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025027.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1506},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025028.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,1556},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025029.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1604},{96,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,224}}</string>
			<key>sourceSize</key>
			<string>{96,224}</string>
		</dict>
		<key>obj190_025030.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,776},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025031.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,0},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025032.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,290},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025033.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,970},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025034.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,970},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025035.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,1066},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025036.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1116},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025037.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1116},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025038.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,1262},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
		<key>obj190_025039.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1164},{144,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,288}}</string>
			<key>sourceSize</key>
			<string>{144,288}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_625.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>textureFileName</key>
		<string>obj190_625.png</string>
	</dict>
</dict>
</plist>
