<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj191_016400.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016401.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016402.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016403.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016404.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016405.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016406.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016407.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016408.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016409.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016410.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016411.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016412.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016413.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016414.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016415.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016416.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016417.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016418.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016419.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016420.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016421.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016422.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,134},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016423.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,134},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016424.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016425.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016426.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016427.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016428.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,118},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016429.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,118},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016430.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,152},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016431.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,168},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016432.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,184},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016433.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,186},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016434.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,220},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016435.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016436.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,220},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016437.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016438.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016439.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj191_410.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>obj191_410.png</string>
	</dict>
</dict>
</plist>
