<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_029480.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029481.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029482.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029483.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029484.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029485.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029486.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029487.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029488.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029489.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029490.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029491.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029492.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029493.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029494.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029495.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029496.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029497.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029498.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029499.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029500.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029501.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029502.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029503.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029504.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029505.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029506.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029507.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029508.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029509.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029510.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029511.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029512.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029513.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029514.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029515.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029516.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029517.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029518.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_029519.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_737.png</string>
		<key>size</key>
		<string>{32,16}</string>
		<key>textureFileName</key>
		<string>obj190_737.png</string>
	</dict>
</dict>
</plist>
