<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_027000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,900},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1350},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1800},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027005.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027006.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027007.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027008.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027010.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,0},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027011.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,146},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027012.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,146},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027013.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,146},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027014.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,292},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027015.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,292},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027016.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,292},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027017.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,438},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027018.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,438},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027019.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,584},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027020.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,438},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,450},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027022.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,584},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027023.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,450},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027024.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,1034},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027025.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,1484},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027026.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,1630},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027027.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,1776},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027028.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,900},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027029.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,900},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027030.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,730},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027031.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,900},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027032.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,1350},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027033.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,900},{144,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,448}}</string>
			<key>sourceSize</key>
			<string>{144,448}</string>
		</dict>
		<key>obj190_027034.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_027035.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_027036.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_027037.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_027038.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_027039.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_675.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>obj190_675.png</string>
	</dict>
</dict>
</plist>
