<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj191_016760.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016761.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016762.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016763.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016764.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016765.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016766.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016767.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016768.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016769.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016770.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016771.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016772.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016773.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016774.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,150},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016775.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016776.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,200},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016777.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016778.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016779.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016780.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016781.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016782.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,134},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016783.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,134},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016784.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016785.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016786.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016787.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,84},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016788.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,118},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016789.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,118},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016790.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,152},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016791.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,168},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016792.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,184},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016793.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,186},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016794.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,220},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016795.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016796.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,220},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016797.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,50},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016798.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj191_016799.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,100},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj191_419.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>obj191_419.png</string>
	</dict>
</dict>
</plist>
