<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_026520.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026521.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026522.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026523.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026524.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026525.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026526.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026527.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026528.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026529.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026530.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026531.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026532.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026533.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026534.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026535.png</key>
		<dict>
			<key>frame</key>
			<string>{{3,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026536.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026537.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026538.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026539.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026540.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026541.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026542.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026543.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026544.png</key>
		<dict>
			<key>frame</key>
			<string>{{12,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026545.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026546.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026547.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026548.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026549.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026550.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026551.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026552.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026553.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,3},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026554.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,6},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026555.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026556.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,9},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026557.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026558.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,12},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj190_026559.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,0},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_663.png</string>
		<key>size</key>
		<string>{32,16}</string>
		<key>textureFileName</key>
		<string>obj190_663.png</string>
	</dict>
</dict>
</plist>
