<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj191_000080.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,750},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj191_000081.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,50},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000082.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,50},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000083.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,300},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000084.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,300},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000085.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,350},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000086.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,800},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj191_000087.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,400},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000088.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1558},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj191_000089.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,1044},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000090.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,878},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000091.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,928},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000092.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,450},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000093.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,500},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000094.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,550},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000095.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,600},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000096.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1044},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj191_000097.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1094},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000098.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj191_000099.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj191_000100.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj191_000101.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,50},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj191_000102.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,50},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj191_000103.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,100},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj191_000104.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1058},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj191_000105.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1144},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000106.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,150},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj191_000107.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1604},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_000108.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1194},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000109.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1244},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000110.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1294},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000111.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1344},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000112.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1394},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_000113.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,200},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj191_000114.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,250},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj191_000115.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,650},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000116.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,700},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj191_000117.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,1056}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,1056}}</string>
			<key>sourceSize</key>
			<string>{48,1056}</string>
		</dict>
		<key>obj191_000118.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj191_000119.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,994},{48,928}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,928}}</string>
			<key>sourceSize</key>
			<string>{48,928}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj191_2.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>textureFileName</key>
		<string>obj191_2.png</string>
	</dict>
</dict>
</plist>
