<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj191_015240.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,658},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015241.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,658},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015242.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,788},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015243.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,658},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015244.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,966},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015245.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,788},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015246.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,834},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015247.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,696},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015248.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,834},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015249.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,150},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015250.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,646},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj191_015251.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,200},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015252.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,250},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015253.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,300},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015254.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,350},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015255.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,400},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015256.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,450},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015257.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,500},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015258.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,350},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015259.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,608},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015260.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,550},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015261.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,916},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015262.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,966},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj191_015263.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,864}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,864}}</string>
			<key>sourceSize</key>
			<string>{48,864}</string>
		</dict>
		<key>obj191_015264.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,50},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj191_015265.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,864}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,864}}</string>
			<key>sourceSize</key>
			<string>{48,864}</string>
		</dict>
		<key>obj191_015266.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj191_015267.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,0},{48,800}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,800}}</string>
			<key>sourceSize</key>
			<string>{48,800}</string>
		</dict>
		<key>obj191_015268.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,966},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj191_015269.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,834},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015270.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,50},{48,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,768}}</string>
			<key>sourceSize</key>
			<string>{48,768}</string>
		</dict>
		<key>obj191_015271.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,696},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015272.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,916},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj191_015273.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,100},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj191_015274.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,866},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj191_015275.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,802},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015276.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,916},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj191_015277.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,100},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj191_015278.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,964},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj191_015279.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,966},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj191_381.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>obj191_381.png</string>
	</dict>
</dict>
</plist>
