<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj190_010040.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,150},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010041.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,324},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010042.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj190_010043.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,454},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010044.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010045.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,130},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010046.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,260},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010047.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,310},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010048.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,200},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010049.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,310},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010050.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,162},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj190_010051.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,250},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010052.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,248},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010053.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,440},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010054.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010055.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,298},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010056.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010057.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,50},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010058.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010059.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,298},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010060.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,50},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010061.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,100},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010062.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,348},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010063.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,100},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010064.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,324},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj190_010065.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,446},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj190_010066.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,0},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj190_010067.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,348},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010068.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,150},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010069.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,396},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010070.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,398},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010071.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,200},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010072.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,448},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010073.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj190_010074.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,250},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010075.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,200},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010076.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,150},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010077.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,300},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010078.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,300},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj190_010079.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,98},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj190_251.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>obj190_251.png</string>
	</dict>
</dict>
</plist>
