<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20001_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{228,358}}</string>
        <key>offset</key>
        <string>{-94,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,358}}</string>
        <key>sourceSize</key>
        <string>{228,358}</string>
      </dict>
      <key>monster_20001_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,872},{230,322}}</string>
        <key>offset</key>
        <string>{-80,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,322}}</string>
        <key>sourceSize</key>
        <string>{230,322}</string>
      </dict>
      <key>monster_20001_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{229,336}}</string>
        <key>offset</key>
        <string>{-86,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,336}}</string>
        <key>sourceSize</key>
        <string>{229,336}</string>
      </dict>
      <key>monster_20001_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,0},{231,336}}</string>
        <key>offset</key>
        <string>{-97,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,336}}</string>
        <key>sourceSize</key>
        <string>{231,336}</string>
      </dict>
      <key>monster_20001_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1094},{227,318}}</string>
        <key>offset</key>
        <string>{-101,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,318}}</string>
        <key>sourceSize</key>
        <string>{227,318}</string>
      </dict>
      <key>monster_20001_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{230,341}}</string>
        <key>offset</key>
        <string>{-97,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,341}}</string>
        <key>sourceSize</key>
        <string>{230,341}</string>
      </dict>
      <key>monster_20001_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,370}}</string>
        <key>offset</key>
        <string>{-114,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,370}}</string>
        <key>sourceSize</key>
        <string>{315,370}</string>
      </dict>
      <key>monster_20001_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,530},{340,352}}</string>
        <key>offset</key>
        <string>{-85,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,352}}</string>
        <key>sourceSize</key>
        <string>{340,352}</string>
      </dict>
      <key>monster_20001_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{312,353}}</string>
        <key>offset</key>
        <string>{-63,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,353}}</string>
        <key>sourceSize</key>
        <string>{312,353}</string>
      </dict>
      <key>monster_20001_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,338},{289,332}}</string>
        <key>offset</key>
        <string>{-83,308}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,332}}</string>
        <key>sourceSize</key>
        <string>{289,332}</string>
      </dict>
      <key>monster_20001_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,672},{238,323}}</string>
        <key>offset</key>
        <string>{-72,306}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,323}}</string>
        <key>sourceSize</key>
        <string>{238,323}</string>
      </dict>
      <key>monster_20001_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,230},{298,354}}</string>
        <key>offset</key>
        <string>{-105,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,354}}</string>
        <key>sourceSize</key>
        <string>{298,354}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20001_0_1_2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_20001_0_1_2.png</string>
    </dict>
  </dict>
</plist>