<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21004_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,470},{220,190}}</string>
        <key>offset</key>
        <string>{-93,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,4},{220,190}}</string>
        <key>sourceSize</key>
        <string>{244,201}</string>
      </dict>
      <key>monster_21004_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{262,166}}</string>
        <key>offset</key>
        <string>{-94,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,33},{262,166}}</string>
        <key>sourceSize</key>
        <string>{277,217}</string>
      </dict>
      <key>monster_21004_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,758},{228,202}}</string>
        <key>offset</key>
        <string>{-104,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,3},{228,202}}</string>
        <key>sourceSize</key>
        <string>{245,212}</string>
      </dict>
      <key>monster_21004_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{240,196}}</string>
        <key>offset</key>
        <string>{-108,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{240,196}}</string>
        <key>sourceSize</key>
        <string>{254,218}</string>
      </dict>
      <key>monster_21004_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,692},{220,220}}</string>
        <key>offset</key>
        <string>{-110,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,5},{220,220}}</string>
        <key>sourceSize</key>
        <string>{242,233}</string>
      </dict>
      <key>monster_21004_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,242},{226,206}}</string>
        <key>offset</key>
        <string>{-108,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,7},{226,206}}</string>
        <key>sourceSize</key>
        <string>{248,231}</string>
      </dict>
      <key>monster_21004_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,526},{230,226}}</string>
        <key>offset</key>
        <string>{-90,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,3},{230,226}}</string>
        <key>sourceSize</key>
        <string>{245,236}</string>
      </dict>
      <key>monster_21004_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{248,210}}</string>
        <key>offset</key>
        <string>{-97,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{248,210}}</string>
        <key>sourceSize</key>
        <string>{252,224}</string>
      </dict>
      <key>monster_21004_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{266,226}}</string>
        <key>offset</key>
        <string>{-100,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,2},{266,226}}</string>
        <key>sourceSize</key>
        <string>{278,236}</string>
      </dict>
      <key>monster_21004_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{274,194}}</string>
        <key>offset</key>
        <string>{-102,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,16},{274,194}}</string>
        <key>sourceSize</key>
        <string>{285,228}</string>
      </dict>
      <key>monster_21004_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,530},{256,226}}</string>
        <key>offset</key>
        <string>{-82,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,2},{256,226}}</string>
        <key>sourceSize</key>
        <string>{265,237}</string>
      </dict>
      <key>monster_21004_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,268},{260,210}}</string>
        <key>offset</key>
        <string>{-81,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,2},{260,210}}</string>
        <key>sourceSize</key>
        <string>{277,224}</string>
      </dict>
      <key>monster_21004_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,268},{256,220}}</string>
        <key>offset</key>
        <string>{-81,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,7},{256,220}}</string>
        <key>sourceSize</key>
        <string>{264,235}</string>
      </dict>
      <key>monster_21004_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,788},{236,212}}</string>
        <key>offset</key>
        <string>{-84,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,12},{236,212}}</string>
        <key>sourceSize</key>
        <string>{247,237}</string>
      </dict>
      <key>monster_21004_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{268,202}}</string>
        <key>offset</key>
        <string>{-89,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{268,202}}</string>
        <key>sourceSize</key>
        <string>{274,212}</string>
      </dict>
      <key>monster_21004_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{264,202}}</string>
        <key>offset</key>
        <string>{-88,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,4},{264,202}}</string>
        <key>sourceSize</key>
        <string>{282,218}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21004_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21004_0_7.png</string>
    </dict>
  </dict>
</plist>