<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20040_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,259}}</string>
        <key>offset</key>
        <string>{-121,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,259}}</string>
        <key>sourceSize</key>
        <string>{240,259}</string>
      </dict>
      <key>monster_20040_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{244,259}}</string>
        <key>offset</key>
        <string>{-125,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,259}}</string>
        <key>sourceSize</key>
        <string>{244,259}</string>
      </dict>
      <key>monster_20040_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{244,259}}</string>
        <key>offset</key>
        <string>{-127,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,259}}</string>
        <key>sourceSize</key>
        <string>{244,259}</string>
      </dict>
      <key>monster_20040_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,261},{241,258}}</string>
        <key>offset</key>
        <string>{-123,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,258}}</string>
        <key>sourceSize</key>
        <string>{241,258}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20040_0_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20040_0_0_7.png</string>
    </dict>
  </dict>
</plist>