<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20007_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{277,230}}</string>
        <key>offset</key>
        <string>{-98,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,230}}</string>
        <key>sourceSize</key>
        <string>{277,230}</string>
      </dict>
      <key>monster_20007_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,603},{268,231}}</string>
        <key>offset</key>
        <string>{-120,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,231}}</string>
        <key>sourceSize</key>
        <string>{268,231}</string>
      </dict>
      <key>monster_20007_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,783},{233,228}}</string>
        <key>offset</key>
        <string>{-73,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,228}}</string>
        <key>sourceSize</key>
        <string>{233,228}</string>
      </dict>
      <key>monster_20007_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{322,219}}</string>
        <key>offset</key>
        <string>{-82,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,219}}</string>
        <key>sourceSize</key>
        <string>{322,219}</string>
      </dict>
      <key>monster_20007_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,274},{237,260}}</string>
        <key>offset</key>
        <string>{-72,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,260}}</string>
        <key>sourceSize</key>
        <string>{237,260}</string>
      </dict>
      <key>monster_20007_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,210},{248,241}}</string>
        <key>offset</key>
        <string>{-96,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,241}}</string>
        <key>sourceSize</key>
        <string>{248,241}</string>
      </dict>
      <key>monster_20007_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,0},{249,208}}</string>
        <key>offset</key>
        <string>{-86,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,208}}</string>
        <key>sourceSize</key>
        <string>{249,208}</string>
      </dict>
      <key>monster_20007_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,536},{245,224}}</string>
        <key>offset</key>
        <string>{-92,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,224}}</string>
        <key>sourceSize</key>
        <string>{245,224}</string>
      </dict>
      <key>monster_20007_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,260},{176,240}}</string>
        <key>offset</key>
        <string>{-65,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,240}}</string>
        <key>sourceSize</key>
        <string>{176,240}</string>
      </dict>
      <key>monster_20007_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{258,239}}</string>
        <key>offset</key>
        <string>{-78,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,239}}</string>
        <key>sourceSize</key>
        <string>{258,239}</string>
      </dict>
      <key>monster_20007_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,783},{202,239}}</string>
        <key>offset</key>
        <string>{-101,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,239}}</string>
        <key>sourceSize</key>
        <string>{202,239}</string>
      </dict>
      <key>monster_20007_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{272,211}}</string>
        <key>offset</key>
        <string>{-95,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,211}}</string>
        <key>sourceSize</key>
        <string>{272,211}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20007_0_2_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20007_0_2_1.png</string>
    </dict>
  </dict>
</plist>