<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20006_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1410,419},{404,411}}</string>
        <key>offset</key>
        <string>{-161,318}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{404,411}}</string>
        <key>sourceSize</key>
        <string>{404,411}</string>
      </dict>
      <key>monster_20006_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,0},{417,391}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,391}}</string>
        <key>sourceSize</key>
        <string>{417,391}</string>
      </dict>
      <key>monster_20006_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,433},{426,342}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,342}}</string>
        <key>sourceSize</key>
        <string>{426,342}</string>
      </dict>
      <key>monster_20006_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1045,0},{431,343}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,343}}</string>
        <key>sourceSize</key>
        <string>{431,343}</string>
      </dict>
      <key>monster_20006_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{507,349}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{507,349}}</string>
        <key>sourceSize</key>
        <string>{507,349}</string>
      </dict>
      <key>monster_20006_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,458},{454,352}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{454,352}}</string>
        <key>sourceSize</key>
        <string>{454,352}</string>
      </dict>
      <key>monster_20006_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{510,363}}</string>
        <key>offset</key>
        <string>{-161,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{510,363}}</string>
        <key>sourceSize</key>
        <string>{510,363}</string>
      </dict>
      <key>monster_20006_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,0},{456,350}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,350}}</string>
        <key>sourceSize</key>
        <string>{456,350}</string>
      </dict>
      <key>monster_20006_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,0},{452,326}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,326}}</string>
        <key>sourceSize</key>
        <string>{452,326}</string>
      </dict>
      <key>monster_20006_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,914},{366,371}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,371}}</string>
        <key>sourceSize</key>
        <string>{366,371}</string>
      </dict>
      <key>monster_20006_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1410,832},{390,350}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,350}}</string>
        <key>sourceSize</key>
        <string>{390,350}</string>
      </dict>
      <key>monster_20006_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,512},{468,359}}</string>
        <key>offset</key>
        <string>{-162,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,359}}</string>
        <key>sourceSize</key>
        <string>{468,359}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20006_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20006_0_2_0.png</string>
    </dict>
  </dict>
</plist>