<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21014_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,100}}</string>
        <key>offset</key>
        <string>{-23,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{98,100}}</string>
        <key>sourceSize</key>
        <string>{99,105}</string>
      </dict>
      <key>monster_21014_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{94,100}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{94,100}}</string>
        <key>sourceSize</key>
        <string>{98,105}</string>
      </dict>
      <key>monster_21014_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{96,98}}</string>
        <key>offset</key>
        <string>{-21,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{96,98}}</string>
        <key>sourceSize</key>
        <string>{97,103}</string>
      </dict>
      <key>monster_21014_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,102},{94,98}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{94,98}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>monster_21014_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,202},{84,94}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{84,94}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>monster_21014_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,98},{82,94}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{82,94}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>monster_21014_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{82,94}}</string>
        <key>offset</key>
        <string>{-20,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{82,94}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>monster_21014_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,402},{82,94}}</string>
        <key>offset</key>
        <string>{-20,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{82,94}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>monster_21014_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{96,96}}</string>
        <key>offset</key>
        <string>{-39,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{96,96}}</string>
        <key>sourceSize</key>
        <string>{99,100}</string>
      </dict>
      <key>monster_21014_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{96,94}}</string>
        <key>offset</key>
        <string>{-38,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{96,94}}</string>
        <key>sourceSize</key>
        <string>{98,99}</string>
      </dict>
      <key>monster_21014_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,298},{92,94}}</string>
        <key>offset</key>
        <string>{-34,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{92,94}}</string>
        <key>sourceSize</key>
        <string>{95,99}</string>
      </dict>
      <key>monster_21014_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{88,96}}</string>
        <key>offset</key>
        <string>{-31,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{88,96}}</string>
        <key>sourceSize</key>
        <string>{91,100}</string>
      </dict>
      <key>monster_21014_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,176},{82,90}}</string>
        <key>offset</key>
        <string>{-18,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{82,90}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_21014_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,364},{82,90}}</string>
        <key>offset</key>
        <string>{-18,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{82,90}}</string>
        <key>sourceSize</key>
        <string>{83,95}</string>
      </dict>
      <key>monster_21014_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,176},{80,92}}</string>
        <key>offset</key>
        <string>{-17,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{80,92}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>monster_21014_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{78,92}}</string>
        <key>offset</key>
        <string>{-17,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{78,92}}</string>
        <key>sourceSize</key>
        <string>{81,97}</string>
      </dict>
      <key>monster_21014_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,394},{94,86}}</string>
        <key>offset</key>
        <string>{-20,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{94,86}}</string>
        <key>sourceSize</key>
        <string>{96,91}</string>
      </dict>
      <key>monster_21014_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{94,86}}</string>
        <key>offset</key>
        <string>{-21,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{94,86}}</string>
        <key>sourceSize</key>
        <string>{96,91}</string>
      </dict>
      <key>monster_21014_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,88},{94,86}}</string>
        <key>offset</key>
        <string>{-21,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{94,86}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>monster_21014_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{92,88}}</string>
        <key>offset</key>
        <string>{-21,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{92,88}}</string>
        <key>sourceSize</key>
        <string>{95,93}</string>
      </dict>
      <key>monster_21014_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,268},{82,90}}</string>
        <key>offset</key>
        <string>{-15,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{82,90}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_21014_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,360},{82,90}}</string>
        <key>offset</key>
        <string>{-14,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{82,90}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>monster_21014_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,94},{80,92}}</string>
        <key>offset</key>
        <string>{-14,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{80,92}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>monster_21014_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,270},{78,92}}</string>
        <key>offset</key>
        <string>{-12,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{78,92}}</string>
        <key>sourceSize</key>
        <string>{81,97}</string>
      </dict>
      <key>monster_21014_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,402},{96,94}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{96,94}}</string>
        <key>sourceSize</key>
        <string>{99,99}</string>
      </dict>
      <key>monster_21014_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,304},{96,92}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{96,92}}</string>
        <key>sourceSize</key>
        <string>{98,98}</string>
      </dict>
      <key>monster_21014_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,176},{90,94}}</string>
        <key>offset</key>
        <string>{-9,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{90,94}}</string>
        <key>sourceSize</key>
        <string>{94,99}</string>
      </dict>
      <key>monster_21014_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,202},{90,96}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{90,96}}</string>
        <key>sourceSize</key>
        <string>{91,100}</string>
      </dict>
      <key>monster_21014_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,272},{84,94}}</string>
        <key>offset</key>
        <string>{-12,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{84,94}}</string>
        <key>sourceSize</key>
        <string>{87,98}</string>
      </dict>
      <key>monster_21014_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,176},{82,94}}</string>
        <key>offset</key>
        <string>{-13,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{82,94}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>monster_21014_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,272},{82,94}}</string>
        <key>offset</key>
        <string>{-12,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{82,94}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>monster_21014_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,356},{82,94}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{82,94}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21014_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_21014_0_0.png</string>
    </dict>
  </dict>
</plist>