<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21025_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,118}}</string>
        <key>offset</key>
        <string>{-46,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{160,118}}</string>
        <key>sourceSize</key>
        <string>{177,130}</string>
      </dict>
      <key>monster_21025_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{160,120}}</string>
        <key>offset</key>
        <string>{-46,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{160,120}}</string>
        <key>sourceSize</key>
        <string>{179,132}</string>
      </dict>
      <key>monster_21025_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{136,116}}</string>
        <key>offset</key>
        <string>{-47,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{136,116}}</string>
        <key>sourceSize</key>
        <string>{149,130}</string>
      </dict>
      <key>monster_21025_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{136,118}}</string>
        <key>offset</key>
        <string>{-46,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{136,118}}</string>
        <key>sourceSize</key>
        <string>{147,131}</string>
      </dict>
      <key>monster_21025_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,234},{96,118}}</string>
        <key>offset</key>
        <string>{-40,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,9},{96,118}}</string>
        <key>sourceSize</key>
        <string>{113,136}</string>
      </dict>
      <key>monster_21025_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,306},{102,118}}</string>
        <key>offset</key>
        <string>{-39,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,7},{102,118}}</string>
        <key>sourceSize</key>
        <string>{113,133}</string>
      </dict>
      <key>monster_21025_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,120},{112,114}}</string>
        <key>offset</key>
        <string>{-41,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{112,114}}</string>
        <key>sourceSize</key>
        <string>{127,128}</string>
      </dict>
      <key>monster_21025_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,234},{114,116}}</string>
        <key>offset</key>
        <string>{-40,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,4},{114,116}}</string>
        <key>sourceSize</key>
        <string>{127,126}</string>
      </dict>
      <key>monster_21025_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{152,116}}</string>
        <key>offset</key>
        <string>{-57,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,2},{152,116}}</string>
        <key>sourceSize</key>
        <string>{171,126}</string>
      </dict>
      <key>monster_21025_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{156,118}}</string>
        <key>offset</key>
        <string>{-57,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,2},{156,118}}</string>
        <key>sourceSize</key>
        <string>{171,128}</string>
      </dict>
      <key>monster_21025_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,120},{112,122}}</string>
        <key>offset</key>
        <string>{-31,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{112,122}}</string>
        <key>sourceSize</key>
        <string>{126,133}</string>
      </dict>
      <key>monster_21025_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{104,114}}</string>
        <key>offset</key>
        <string>{-30,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,4},{104,114}}</string>
        <key>sourceSize</key>
        <string>{121,126}</string>
      </dict>
      <key>monster_21025_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,332},{98,118}}</string>
        <key>offset</key>
        <string>{-21,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,8},{98,118}}</string>
        <key>sourceSize</key>
        <string>{109,134}</string>
      </dict>
      <key>monster_21025_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,138},{98,120}}</string>
        <key>offset</key>
        <string>{-21,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,6},{98,120}}</string>
        <key>sourceSize</key>
        <string>{111,135}</string>
      </dict>
      <key>monster_21025_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,324},{146,118}}</string>
        <key>offset</key>
        <string>{-51,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,3},{146,118}}</string>
        <key>sourceSize</key>
        <string>{160,131}</string>
      </dict>
      <key>monster_21025_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,158},{146,118}}</string>
        <key>offset</key>
        <string>{-50,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{146,118}}</string>
        <key>sourceSize</key>
        <string>{159,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21025_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_21025_0_7.png</string>
    </dict>
  </dict>
</plist>