<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21039_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,106},{128,138}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,1},{128,138}}</string>
        <key>sourceSize</key>
        <string>{129,140}</string>
      </dict>
      <key>monster_21039_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,150},{128,144}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{128,144}}</string>
        <key>sourceSize</key>
        <string>{128,144}</string>
      </dict>
      <key>monster_21039_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{158,128}}</string>
        <key>offset</key>
        <string>{-47,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{158,128}}</string>
        <key>sourceSize</key>
        <string>{158,129}</string>
      </dict>
      <key>monster_21039_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,126}}</string>
        <key>offset</key>
        <string>{-59,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{162,126}}</string>
        <key>sourceSize</key>
        <string>{162,127}</string>
      </dict>
      <key>monster_21039_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,320},{146,114}}</string>
        <key>offset</key>
        <string>{-69,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{146,114}}</string>
        <key>sourceSize</key>
        <string>{146,114}</string>
      </dict>
      <key>monster_21039_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{162,114}}</string>
        <key>offset</key>
        <string>{-70,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{162,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_21039_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,356},{122,106}}</string>
        <key>offset</key>
        <string>{-48,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{122,106}}</string>
        <key>sourceSize</key>
        <string>{122,106}</string>
      </dict>
      <key>monster_21039_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,106},{120,104}}</string>
        <key>offset</key>
        <string>{-40,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,104}}</string>
        <key>sourceSize</key>
        <string>{121,105}</string>
      </dict>
      <key>monster_21039_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,228},{112,112}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{112,112}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>monster_21039_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,356},{122,108}}</string>
        <key>offset</key>
        <string>{-42,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{122,108}}</string>
        <key>sourceSize</key>
        <string>{122,108}</string>
      </dict>
      <key>monster_21039_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{148,122}}</string>
        <key>offset</key>
        <string>{-51,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,0},{148,122}}</string>
        <key>sourceSize</key>
        <string>{150,123}</string>
      </dict>
      <key>monster_21039_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,164},{154,114}}</string>
        <key>offset</key>
        <string>{-44,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,114}}</string>
        <key>sourceSize</key>
        <string>{155,115}</string>
      </dict>
      <key>monster_21039_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,356},{136,118}}</string>
        <key>offset</key>
        <string>{-18,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,118}}</string>
        <key>sourceSize</key>
        <string>{137,119}</string>
      </dict>
      <key>monster_21039_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,236},{138,118}}</string>
        <key>offset</key>
        <string>{-23,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{138,118}}</string>
        <key>sourceSize</key>
        <string>{139,118}</string>
      </dict>
      <key>monster_21039_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{106,140}}</string>
        <key>offset</key>
        <string>{-16,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{106,140}}</string>
        <key>sourceSize</key>
        <string>{106,141}</string>
      </dict>
      <key>monster_21039_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{104,142}}</string>
        <key>offset</key>
        <string>{-18,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,1},{104,142}}</string>
        <key>sourceSize</key>
        <string>{104,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21039_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_21039_0_7.png</string>
    </dict>
  </dict>
</plist>