<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{130,95}}</string>
        <key>offset</key>
        <string>{-25,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,95}}</string>
        <key>sourceSize</key>
        <string>{130,95}</string>
      </dict>
      <key>monster_21000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,408},{123,93}}</string>
        <key>offset</key>
        <string>{-34,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,93}}</string>
        <key>sourceSize</key>
        <string>{123,93}</string>
      </dict>
      <key>monster_21000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,126},{121,101}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,101}}</string>
        <key>sourceSize</key>
        <string>{121,101}</string>
      </dict>
      <key>monster_21000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,248},{106,104}}</string>
        <key>offset</key>
        <string>{-30,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,104}}</string>
        <key>sourceSize</key>
        <string>{106,104}</string>
      </dict>
      <key>monster_21000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,249},{116,120}}</string>
        <key>offset</key>
        <string>{-47,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,120}}</string>
        <key>sourceSize</key>
        <string>{116,120}</string>
      </dict>
      <key>monster_21000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,126},{107,120}}</string>
        <key>offset</key>
        <string>{-34,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>monster_21000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,143},{116,131}}</string>
        <key>offset</key>
        <string>{-29,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,131}}</string>
        <key>sourceSize</key>
        <string>{116,131}</string>
      </dict>
      <key>monster_21000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,143},{116,128}}</string>
        <key>offset</key>
        <string>{-26,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,128}}</string>
        <key>sourceSize</key>
        <string>{116,128}</string>
      </dict>
      <key>monster_21000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,276},{130,125}}</string>
        <key>offset</key>
        <string>{-32,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,125}}</string>
        <key>sourceSize</key>
        <string>{130,125}</string>
      </dict>
      <key>monster_21000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{124,120}}</string>
        <key>offset</key>
        <string>{-22,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,120}}</string>
        <key>sourceSize</key>
        <string>{124,120}</string>
      </dict>
      <key>monster_21000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{141,120}}</string>
        <key>offset</key>
        <string>{-12,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,120}}</string>
        <key>sourceSize</key>
        <string>{141,120}</string>
      </dict>
      <key>monster_21000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{124,119}}</string>
        <key>offset</key>
        <string>{-3,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,119}}</string>
        <key>sourceSize</key>
        <string>{124,119}</string>
      </dict>
      <key>monster_21000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{128,105}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,105}}</string>
        <key>sourceSize</key>
        <string>{128,105}</string>
      </dict>
      <key>monster_21000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,371},{120,113}}</string>
        <key>offset</key>
        <string>{1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,113}}</string>
        <key>sourceSize</key>
        <string>{120,113}</string>
      </dict>
      <key>monster_21000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,408},{122,91}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,91}}</string>
        <key>sourceSize</key>
        <string>{122,91}</string>
      </dict>
      <key>monster_21000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,273},{122,93}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,93}}</string>
        <key>sourceSize</key>
        <string>{122,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21000_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_21000_0_7.png</string>
    </dict>
  </dict>
</plist>