<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20002_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{198,233}}</string>
        <key>offset</key>
        <string>{-82,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,233}}</string>
        <key>sourceSize</key>
        <string>{198,233}</string>
      </dict>
      <key>monster_20002_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,474},{197,209}}</string>
        <key>offset</key>
        <string>{-77,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,209}}</string>
        <key>sourceSize</key>
        <string>{197,209}</string>
      </dict>
      <key>monster_20002_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,700},{196,214}}</string>
        <key>offset</key>
        <string>{-78,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,214}}</string>
        <key>sourceSize</key>
        <string>{196,214}</string>
      </dict>
      <key>monster_20002_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{236,215}}</string>
        <key>offset</key>
        <string>{-95,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,215}}</string>
        <key>sourceSize</key>
        <string>{236,215}</string>
      </dict>
      <key>monster_20002_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{240,231}}</string>
        <key>offset</key>
        <string>{-103,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,231}}</string>
        <key>sourceSize</key>
        <string>{240,231}</string>
      </dict>
      <key>monster_20002_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,242},{216,230}}</string>
        <key>offset</key>
        <string>{-94,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,230}}</string>
        <key>sourceSize</key>
        <string>{216,230}</string>
      </dict>
      <key>monster_20002_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{180,187}}</string>
        <key>offset</key>
        <string>{-64,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,187}}</string>
        <key>sourceSize</key>
        <string>{180,187}</string>
      </dict>
      <key>monster_20002_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,242},{177,203}}</string>
        <key>offset</key>
        <string>{-67,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,203}}</string>
        <key>sourceSize</key>
        <string>{177,203}</string>
      </dict>
      <key>monster_20002_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,474},{175,224}}</string>
        <key>offset</key>
        <string>{-66,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,224}}</string>
        <key>sourceSize</key>
        <string>{175,224}</string>
      </dict>
      <key>monster_20002_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{186,261}}</string>
        <key>offset</key>
        <string>{-78,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,261}}</string>
        <key>sourceSize</key>
        <string>{186,261}</string>
      </dict>
      <key>monster_20002_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,262}}</string>
        <key>offset</key>
        <string>{-73,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,262}}</string>
        <key>sourceSize</key>
        <string>{179,262}</string>
      </dict>
      <key>monster_20002_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,765},{166,231}}</string>
        <key>offset</key>
        <string>{-65,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,231}}</string>
        <key>sourceSize</key>
        <string>{166,231}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20002_0_1_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20002_0_1_1.png</string>
    </dict>
  </dict>
</plist>