<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20057_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{187,211}}</string>
        <key>offset</key>
        <string>{-77,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,211}}</string>
        <key>sourceSize</key>
        <string>{187,211}</string>
      </dict>
      <key>monster_20057_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{187,211}}</string>
        <key>offset</key>
        <string>{-78,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,211}}</string>
        <key>sourceSize</key>
        <string>{187,211}</string>
      </dict>
      <key>monster_20057_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{183,209}}</string>
        <key>offset</key>
        <string>{-82,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,209}}</string>
        <key>sourceSize</key>
        <string>{183,209}</string>
      </dict>
      <key>monster_20057_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,211},{184,209}}</string>
        <key>offset</key>
        <string>{-83,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,209}}</string>
        <key>sourceSize</key>
        <string>{184,209}</string>
      </dict>
      <key>monster_20057_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,213},{189,211}}</string>
        <key>offset</key>
        <string>{-80,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,211}}</string>
        <key>sourceSize</key>
        <string>{189,211}</string>
      </dict>
      <key>monster_20057_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{187,211}}</string>
        <key>offset</key>
        <string>{-77,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,211}}</string>
        <key>sourceSize</key>
        <string>{187,211}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20057_0_1_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20057_0_1_3.png</string>
    </dict>
  </dict>
</plist>