<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20087_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,228}}</string>
        <key>offset</key>
        <string>{-47,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,228}}</string>
        <key>sourceSize</key>
        <string>{138,228}</string>
      </dict>
      <key>monster_20087_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{138,213}}</string>
        <key>offset</key>
        <string>{-42,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,213}}</string>
        <key>sourceSize</key>
        <string>{138,213}</string>
      </dict>
      <key>monster_20087_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{145,205}}</string>
        <key>offset</key>
        <string>{-44,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,205}}</string>
        <key>sourceSize</key>
        <string>{145,205}</string>
      </dict>
      <key>monster_20087_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{156,228}}</string>
        <key>offset</key>
        <string>{-60,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,228}}</string>
        <key>sourceSize</key>
        <string>{156,228}</string>
      </dict>
      <key>monster_20087_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{160,223}}</string>
        <key>offset</key>
        <string>{-70,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,223}}</string>
        <key>sourceSize</key>
        <string>{160,223}</string>
      </dict>
      <key>monster_20087_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,215},{145,210}}</string>
        <key>offset</key>
        <string>{-56,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,210}}</string>
        <key>sourceSize</key>
        <string>{145,210}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20087_0_1_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20087_0_1_4.png</string>
    </dict>
  </dict>
</plist>