<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21035_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{198,162}}</string>
        <key>offset</key>
        <string>{-47,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,162}}</string>
        <key>sourceSize</key>
        <string>{199,163}</string>
      </dict>
      <key>monster_21035_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{222,162}}</string>
        <key>offset</key>
        <string>{-57,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{222,162}}</string>
        <key>sourceSize</key>
        <string>{223,163}</string>
      </dict>
      <key>monster_21035_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,384},{134,184}}</string>
        <key>offset</key>
        <string>{-33,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{134,184}}</string>
        <key>sourceSize</key>
        <string>{134,185}</string>
      </dict>
      <key>monster_21035_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,590},{150,186}}</string>
        <key>offset</key>
        <string>{-47,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,186}}</string>
        <key>sourceSize</key>
        <string>{152,187}</string>
      </dict>
      <key>monster_21035_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,446},{144,192}}</string>
        <key>offset</key>
        <string>{-23,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{144,192}}</string>
        <key>sourceSize</key>
        <string>{146,192}</string>
      </dict>
      <key>monster_21035_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,400},{178,188}}</string>
        <key>offset</key>
        <string>{-52,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{178,188}}</string>
        <key>sourceSize</key>
        <string>{179,189}</string>
      </dict>
      <key>monster_21035_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,206},{192,178}}</string>
        <key>offset</key>
        <string>{-48,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{192,178}}</string>
        <key>sourceSize</key>
        <string>{193,180}</string>
      </dict>
      <key>monster_21035_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,652},{194,192}}</string>
        <key>offset</key>
        <string>{-59,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,192}}</string>
        <key>sourceSize</key>
        <string>{196,194}</string>
      </dict>
      <key>monster_21035_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,194},{188,186}}</string>
        <key>offset</key>
        <string>{-55,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{188,186}}</string>
        <key>sourceSize</key>
        <string>{190,187}</string>
      </dict>
      <key>monster_21035_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{188,204}}</string>
        <key>offset</key>
        <string>{-53,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{188,204}}</string>
        <key>sourceSize</key>
        <string>{189,205}</string>
      </dict>
      <key>monster_21035_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{204,178}}</string>
        <key>offset</key>
        <string>{-59,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{204,178}}</string>
        <key>sourceSize</key>
        <string>{205,180}</string>
      </dict>
      <key>monster_21035_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{220,192}}</string>
        <key>offset</key>
        <string>{-63,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,0},{220,192}}</string>
        <key>sourceSize</key>
        <string>{222,194}</string>
      </dict>
      <key>monster_21035_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,852},{156,190}}</string>
        <key>offset</key>
        <string>{-38,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,190}}</string>
        <key>sourceSize</key>
        <string>{157,192}</string>
      </dict>
      <key>monster_21035_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{192,186}}</string>
        <key>offset</key>
        <string>{-43,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,1},{192,186}}</string>
        <key>sourceSize</key>
        <string>{194,189}</string>
      </dict>
      <key>monster_21035_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,848},{156,190}}</string>
        <key>offset</key>
        <string>{-37,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{156,190}}</string>
        <key>sourceSize</key>
        <string>{157,190}</string>
      </dict>
      <key>monster_21035_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,0},{176,188}}</string>
        <key>offset</key>
        <string>{-28,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{176,188}}</string>
        <key>sourceSize</key>
        <string>{177,188}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21035_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21035_0_7.png</string>
    </dict>
  </dict>
</plist>