<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20071_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,495},{537,390}}</string>
        <key>offset</key>
        <string>{-128,307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{537,390}}</string>
        <key>sourceSize</key>
        <string>{537,390}</string>
      </dict>
      <key>monster_20071_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,0},{557,493}}</string>
        <key>offset</key>
        <string>{-180,391}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,493}}</string>
        <key>sourceSize</key>
        <string>{557,493}</string>
      </dict>
      <key>monster_20071_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{735,474}}</string>
        <key>offset</key>
        <string>{-349,355}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{735,474}}</string>
        <key>sourceSize</key>
        <string>{735,474}</string>
      </dict>
      <key>monster_20071_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{770,428}}</string>
        <key>offset</key>
        <string>{-357,303}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{770,428}}</string>
        <key>sourceSize</key>
        <string>{770,428}</string>
      </dict>
      <key>monster_20071_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,0},{635,372}}</string>
        <key>offset</key>
        <string>{-224,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{635,372}}</string>
        <key>sourceSize</key>
        <string>{635,372}</string>
      </dict>
      <key>monster_20071_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,637},{551,357}}</string>
        <key>offset</key>
        <string>{-142,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,357}}</string>
        <key>sourceSize</key>
        <string>{551,357}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20071_0_2_6.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_20071_0_2_6.png</string>
    </dict>
  </dict>
</plist>