<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,186},{180,148}}</string>
        <key>offset</key>
        <string>{-71,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,6},{180,148}}</string>
        <key>sourceSize</key>
        <string>{183,157}</string>
      </dict>
      <key>monster_21006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{172,140}}</string>
        <key>offset</key>
        <string>{-62,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{172,140}}</string>
        <key>sourceSize</key>
        <string>{173,147}</string>
      </dict>
      <key>monster_21006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,366},{158,152}}</string>
        <key>offset</key>
        <string>{-47,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{158,152}}</string>
        <key>sourceSize</key>
        <string>{162,162}</string>
      </dict>
      <key>monster_21006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,384},{152,150}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,4},{152,150}}</string>
        <key>sourceSize</key>
        <string>{157,162}</string>
      </dict>
      <key>monster_21006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,170}}</string>
        <key>offset</key>
        <string>{-67,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{200,170}}</string>
        <key>sourceSize</key>
        <string>{203,177}</string>
      </dict>
      <key>monster_21006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,194},{188,170}}</string>
        <key>offset</key>
        <string>{-63,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{188,170}}</string>
        <key>sourceSize</key>
        <string>{189,178}</string>
      </dict>
      <key>monster_21006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{198,164}}</string>
        <key>offset</key>
        <string>{-66,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{198,164}}</string>
        <key>sourceSize</key>
        <string>{199,179}</string>
      </dict>
      <key>monster_21006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,202},{192,172}}</string>
        <key>offset</key>
        <string>{-64,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,6},{192,172}}</string>
        <key>sourceSize</key>
        <string>{194,188}</string>
      </dict>
      <key>monster_21006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,186},{178,164}}</string>
        <key>offset</key>
        <string>{-63,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,6},{178,164}}</string>
        <key>sourceSize</key>
        <string>{180,172}</string>
      </dict>
      <key>monster_21006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,142},{170,168}}</string>
        <key>offset</key>
        <string>{-59,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,5},{170,168}}</string>
        <key>sourceSize</key>
        <string>{171,179}</string>
      </dict>
      <key>monster_21006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{188,162}}</string>
        <key>offset</key>
        <string>{-73,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,6},{188,162}}</string>
        <key>sourceSize</key>
        <string>{190,177}</string>
      </dict>
      <key>monster_21006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{192,172}}</string>
        <key>offset</key>
        <string>{-76,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,6},{192,172}}</string>
        <key>sourceSize</key>
        <string>{193,188}</string>
      </dict>
      <key>monster_21006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{184,168}}</string>
        <key>offset</key>
        <string>{-73,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,7},{184,168}}</string>
        <key>sourceSize</key>
        <string>{185,178}</string>
      </dict>
      <key>monster_21006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,0},{174,168}}</string>
        <key>offset</key>
        <string>{-62,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{174,168}}</string>
        <key>sourceSize</key>
        <string>{176,177}</string>
      </dict>
      <key>monster_21006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,312},{162,154}}</string>
        <key>offset</key>
        <string>{-45,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,3},{162,154}}</string>
        <key>sourceSize</key>
        <string>{167,163}</string>
      </dict>
      <key>monster_21006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,368},{156,148}}</string>
        <key>offset</key>
        <string>{-44,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{156,148}}</string>
        <key>sourceSize</key>
        <string>{161,161}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21006_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21006_0_7.png</string>
    </dict>
  </dict>
</plist>