<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21040_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,374},{114,88}}</string>
        <key>offset</key>
        <string>{-18,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{114,88}}</string>
        <key>sourceSize</key>
        <string>{114,89}</string>
      </dict>
      <key>monster_21040_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,252},{114,104}}</string>
        <key>offset</key>
        <string>{-22,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{114,104}}</string>
        <key>sourceSize</key>
        <string>{114,104}</string>
      </dict>
      <key>monster_21040_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,344},{80,104}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{80,104}}</string>
        <key>sourceSize</key>
        <string>{80,105}</string>
      </dict>
      <key>monster_21040_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,124},{84,114}}</string>
        <key>offset</key>
        <string>{-11,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,114}}</string>
        <key>sourceSize</key>
        <string>{85,115}</string>
      </dict>
      <key>monster_21040_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{98,114}}</string>
        <key>offset</key>
        <string>{-24,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{98,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>monster_21040_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{88,112}}</string>
        <key>offset</key>
        <string>{-17,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,112}}</string>
        <key>sourceSize</key>
        <string>{89,113}</string>
      </dict>
      <key>monster_21040_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{120,116}}</string>
        <key>offset</key>
        <string>{-30,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{120,116}}</string>
        <key>sourceSize</key>
        <string>{121,116}</string>
      </dict>
      <key>monster_21040_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,368},{110,104}}</string>
        <key>offset</key>
        <string>{-19,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{110,104}}</string>
        <key>sourceSize</key>
        <string>{110,105}</string>
      </dict>
      <key>monster_21040_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{122,122}}</string>
        <key>offset</key>
        <string>{-27,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{122,122}}</string>
        <key>sourceSize</key>
        <string>{122,122}</string>
      </dict>
      <key>monster_21040_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,116},{114,106}}</string>
        <key>offset</key>
        <string>{-25,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,106}</string>
      </dict>
      <key>monster_21040_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,126}}</string>
        <key>offset</key>
        <string>{1,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{108,126}}</string>
        <key>sourceSize</key>
        <string>{109,126}</string>
      </dict>
      <key>monster_21040_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{92,116}}</string>
        <key>offset</key>
        <string>{-7,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,116}}</string>
        <key>sourceSize</key>
        <string>{93,116}</string>
      </dict>
      <key>monster_21040_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{108,112}}</string>
        <key>offset</key>
        <string>{2,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{108,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_21040_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,110},{84,112}}</string>
        <key>offset</key>
        <string>{2,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,112}}</string>
        <key>sourceSize</key>
        <string>{85,113}</string>
      </dict>
      <key>monster_21040_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{122,92}}</string>
        <key>offset</key>
        <string>{-10,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{122,92}}</string>
        <key>sourceSize</key>
        <string>{122,93}</string>
      </dict>
      <key>monster_21040_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,232},{110,102}}</string>
        <key>offset</key>
        <string>{-15,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,1},{110,102}}</string>
        <key>sourceSize</key>
        <string>{111,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21040_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_21040_0_7.png</string>
    </dict>
  </dict>
</plist>