<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20017_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,0},{370,348}}</string>
        <key>offset</key>
        <string>{-199,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,348}}</string>
        <key>sourceSize</key>
        <string>{370,348}</string>
      </dict>
      <key>monster_20017_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,383},{371,338}}</string>
        <key>offset</key>
        <string>{-195,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,338}}</string>
        <key>sourceSize</key>
        <string>{371,338}</string>
      </dict>
      <key>monster_20017_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,372},{368,337}}</string>
        <key>offset</key>
        <string>{-191,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,337}}</string>
        <key>sourceSize</key>
        <string>{368,337}</string>
      </dict>
      <key>monster_20017_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,413},{399,318}}</string>
        <key>offset</key>
        <string>{-218,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,318}}</string>
        <key>sourceSize</key>
        <string>{399,318}</string>
      </dict>
      <key>monster_20017_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,0},{381,319}}</string>
        <key>offset</key>
        <string>{-194,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,319}}</string>
        <key>sourceSize</key>
        <string>{381,319}</string>
      </dict>
      <key>monster_20017_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{486,321}}</string>
        <key>offset</key>
        <string>{-197,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{486,321}}</string>
        <key>sourceSize</key>
        <string>{486,321}</string>
      </dict>
      <key>monster_20017_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{488,329}}</string>
        <key>offset</key>
        <string>{-198,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,329}}</string>
        <key>sourceSize</key>
        <string>{488,329}</string>
      </dict>
      <key>monster_20017_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1367,0},{360,362}}</string>
        <key>offset</key>
        <string>{-205,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,362}}</string>
        <key>sourceSize</key>
        <string>{360,362}</string>
      </dict>
      <key>monster_20017_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1690,364},{360,350}}</string>
        <key>offset</key>
        <string>{-204,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,350}}</string>
        <key>sourceSize</key>
        <string>{360,350}</string>
      </dict>
      <key>monster_20017_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1690,726},{360,355}}</string>
        <key>offset</key>
        <string>{-203,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,355}}</string>
        <key>sourceSize</key>
        <string>{360,355}</string>
      </dict>
      <key>monster_20017_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,756},{360,347}}</string>
        <key>offset</key>
        <string>{-204,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,347}}</string>
        <key>sourceSize</key>
        <string>{360,347}</string>
      </dict>
      <key>monster_20017_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1373,1088},{344,346}}</string>
        <key>offset</key>
        <string>{-204,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,346}}</string>
        <key>sourceSize</key>
        <string>{344,346}</string>
      </dict>
      <key>monster_20017_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,490},{413,366}}</string>
        <key>offset</key>
        <string>{-204,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,366}}</string>
        <key>sourceSize</key>
        <string>{413,366}</string>
      </dict>
      <key>monster_20017_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{411,363}}</string>
        <key>offset</key>
        <string>{-205,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,363}}</string>
        <key>sourceSize</key>
        <string>{411,363}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20017_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20017_0_2_1.png</string>
    </dict>
  </dict>
</plist>