<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20012_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,250},{197,232}}</string>
        <key>offset</key>
        <string>{-70,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,232}}</string>
        <key>sourceSize</key>
        <string>{197,232}</string>
      </dict>
      <key>monster_20012_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{248,202}}</string>
        <key>offset</key>
        <string>{-109,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,202}}</string>
        <key>sourceSize</key>
        <string>{248,202}</string>
      </dict>
      <key>monster_20012_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{161,239}}</string>
        <key>offset</key>
        <string>{-53,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,239}}</string>
        <key>sourceSize</key>
        <string>{161,239}</string>
      </dict>
      <key>monster_20012_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{157,219}}</string>
        <key>offset</key>
        <string>{-52,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,219}}</string>
        <key>sourceSize</key>
        <string>{157,219}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20012_0_7_3.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_20012_0_7_3.png</string>
    </dict>
  </dict>
</plist>