<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20022_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{396,300}}</string>
        <key>offset</key>
        <string>{-146,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,300}}</string>
        <key>sourceSize</key>
        <string>{396,300}</string>
      </dict>
      <key>monster_20022_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{398,297}}</string>
        <key>offset</key>
        <string>{-141,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,297}}</string>
        <key>sourceSize</key>
        <string>{398,297}</string>
      </dict>
      <key>monster_20022_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,302},{394,291}}</string>
        <key>offset</key>
        <string>{-132,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,291}}</string>
        <key>sourceSize</key>
        <string>{394,291}</string>
      </dict>
      <key>monster_20022_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{398,292}}</string>
        <key>offset</key>
        <string>{-131,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,292}}</string>
        <key>sourceSize</key>
        <string>{398,292}</string>
      </dict>
      <key>monster_20022_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,595},{392,295}}</string>
        <key>offset</key>
        <string>{-130,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,295}}</string>
        <key>sourceSize</key>
        <string>{392,295}</string>
      </dict>
      <key>monster_20022_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{403,292}}</string>
        <key>offset</key>
        <string>{-146,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,292}}</string>
        <key>sourceSize</key>
        <string>{403,292}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20022_0_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20022_0_1_2.png</string>
    </dict>
  </dict>
</plist>