<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20001_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,405},{286,366}}</string>
        <key>offset</key>
        <string>{-126,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,366}}</string>
        <key>sourceSize</key>
        <string>{286,366}</string>
      </dict>
      <key>monster_20001_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{262,391}}</string>
        <key>offset</key>
        <string>{-123,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,391}}</string>
        <key>sourceSize</key>
        <string>{262,391}</string>
      </dict>
      <key>monster_20001_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,0},{310,355}}</string>
        <key>offset</key>
        <string>{-171,309}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,355}}</string>
        <key>sourceSize</key>
        <string>{310,355}</string>
      </dict>
      <key>monster_20001_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1233,683},{229,320}}</string>
        <key>offset</key>
        <string>{-90,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,320}}</string>
        <key>sourceSize</key>
        <string>{229,320}</string>
      </dict>
      <key>monster_20001_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,357},{229,324}}</string>
        <key>offset</key>
        <string>{-90,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,324}}</string>
        <key>sourceSize</key>
        <string>{229,324}</string>
      </dict>
      <key>monster_20001_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{286,366}}</string>
        <key>offset</key>
        <string>{-126,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,366}}</string>
        <key>sourceSize</key>
        <string>{286,366}</string>
      </dict>
      <key>monster_20001_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{302,356}}</string>
        <key>offset</key>
        <string>{-207,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,356}}</string>
        <key>sourceSize</key>
        <string>{302,356}</string>
      </dict>
      <key>monster_20001_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{403,366}}</string>
        <key>offset</key>
        <string>{-242,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,366}}</string>
        <key>sourceSize</key>
        <string>{403,366}</string>
      </dict>
      <key>monster_20001_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,368},{291,361}}</string>
        <key>offset</key>
        <string>{-197,297}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,361}}</string>
        <key>sourceSize</key>
        <string>{291,361}</string>
      </dict>
      <key>monster_20001_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,731},{259,341}}</string>
        <key>offset</key>
        <string>{-112,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,341}}</string>
        <key>sourceSize</key>
        <string>{259,341}</string>
      </dict>
      <key>monster_20001_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,716},{283,336}}</string>
        <key>offset</key>
        <string>{-134,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,336}}</string>
        <key>sourceSize</key>
        <string>{283,336}</string>
      </dict>
      <key>monster_20001_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,358},{302,356}}</string>
        <key>offset</key>
        <string>{-207,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,356}}</string>
        <key>sourceSize</key>
        <string>{302,356}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20001_0_2_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_20001_0_2_0.png</string>
    </dict>
  </dict>
</plist>