<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21027_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1872,146},{172,168}}</string>
        <key>offset</key>
        <string>{-23,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{172,168}}</string>
        <key>sourceSize</key>
        <string>{174,173}</string>
      </dict>
      <key>monster_21027_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,190},{182,152}}</string>
        <key>offset</key>
        <string>{-36,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,152}}</string>
        <key>sourceSize</key>
        <string>{185,157}</string>
      </dict>
      <key>monster_21027_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,206},{198,90}}</string>
        <key>offset</key>
        <string>{-86,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{198,90}}</string>
        <key>sourceSize</key>
        <string>{199,94}</string>
      </dict>
      <key>monster_21027_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,600},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,400},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,200},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,0},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,794},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,594},{192,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,110}}</string>
        <key>sourceSize</key>
        <string>{193,114}</string>
      </dict>
      <key>monster_21027_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1406,0},{182,110}}</string>
        <key>offset</key>
        <string>{-82,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{182,110}}</string>
        <key>sourceSize</key>
        <string>{184,114}</string>
      </dict>
      <key>monster_21027_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,194},{188,168}}</string>
        <key>offset</key>
        <string>{-60,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{188,168}}</string>
        <key>sourceSize</key>
        <string>{190,172}</string>
      </dict>
      <key>monster_21027_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,138}}</string>
        <key>offset</key>
        <string>{-95,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{240,138}}</string>
        <key>sourceSize</key>
        <string>{242,143}</string>
      </dict>
      <key>monster_21027_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,184},{174,110}}</string>
        <key>offset</key>
        <string>{-65,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{174,110}}</string>
        <key>sourceSize</key>
        <string>{176,114}</string>
      </dict>
      <key>monster_21027_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1542,908},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,908},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,446},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,546},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,560},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,660},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,674},{166,112}}</string>
        <key>offset</key>
        <string>{-58,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{166,112}}</string>
        <key>sourceSize</key>
        <string>{167,118}</string>
      </dict>
      <key>monster_21027_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,424},{208,156}}</string>
        <key>offset</key>
        <string>{-92,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{208,156}}</string>
        <key>sourceSize</key>
        <string>{209,160}</string>
      </dict>
      <key>monster_21027_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,238},{224,124}}</string>
        <key>offset</key>
        <string>{-109,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{224,124}}</string>
        <key>sourceSize</key>
        <string>{225,128}</string>
      </dict>
      <key>monster_21027_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,558},{178,124}}</string>
        <key>offset</key>
        <string>{-73,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{178,124}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_21027_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,220},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,212},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,678},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,890},{210,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,108}}</string>
        <key>sourceSize</key>
        <string>{211,113}</string>
      </dict>
      <key>monster_21027_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{198,108}}</string>
        <key>offset</key>
        <string>{-105,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{204,146}}</string>
        <key>offset</key>
        <string>{-63,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,146}}</string>
        <key>sourceSize</key>
        <string>{206,150}</string>
      </dict>
      <key>monster_21027_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1764,316},{170,128}}</string>
        <key>offset</key>
        <string>{-65,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{170,128}}</string>
        <key>sourceSize</key>
        <string>{173,132}</string>
      </dict>
      <key>monster_21027_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,678},{210,140}}</string>
        <key>offset</key>
        <string>{-61,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{210,140}}</string>
        <key>sourceSize</key>
        <string>{212,144}</string>
      </dict>
      <key>monster_21027_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,718},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,718},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,242},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,480},{236,112}}</string>
        <key>offset</key>
        <string>{-103,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{242,116}</string>
      </dict>
      <key>monster_21027_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{218,112}}</string>
        <key>offset</key>
        <string>{-101,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{218,112}}</string>
        <key>sourceSize</key>
        <string>{219,116}</string>
      </dict>
      <key>monster_21027_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,0},{174,140}}</string>
        <key>offset</key>
        <string>{-22,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{174,140}}</string>
        <key>sourceSize</key>
        <string>{176,144}</string>
      </dict>
      <key>monster_21027_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,368},{176,124}}</string>
        <key>offset</key>
        <string>{-19,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{176,124}}</string>
        <key>sourceSize</key>
        <string>{178,129}</string>
      </dict>
      <key>monster_21027_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,422},{200,136}}</string>
        <key>offset</key>
        <string>{-46,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{200,136}}</string>
        <key>sourceSize</key>
        <string>{202,140}</string>
      </dict>
      <key>monster_21027_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,0},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1330,764},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,572},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,374},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1546,184},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,0},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1436,756},{182,104}}</string>
        <key>offset</key>
        <string>{-47,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,104}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>monster_21027_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1872,0},{174,144}}</string>
        <key>offset</key>
        <string>{-16,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{174,144}}</string>
        <key>sourceSize</key>
        <string>{176,149}</string>
      </dict>
      <key>monster_21027_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,634},{202,128}}</string>
        <key>offset</key>
        <string>{-25,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{202,128}}</string>
        <key>sourceSize</key>
        <string>{203,132}</string>
      </dict>
      <key>monster_21027_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,464},{212,140}}</string>
        <key>offset</key>
        <string>{-49,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{212,140}}</string>
        <key>sourceSize</key>
        <string>{213,144}</string>
      </dict>
      <key>monster_21027_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,480},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,238},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,718},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,718},{236,112}}</string>
        <key>offset</key>
        <string>{-63,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{236,112}}</string>
        <key>sourceSize</key>
        <string>{238,116}</string>
      </dict>
      <key>monster_21027_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,464},{218,112}}</string>
        <key>offset</key>
        <string>{-62,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{218,112}}</string>
        <key>sourceSize</key>
        <string>{220,116}</string>
      </dict>
      <key>monster_21027_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,902},{162,156}}</string>
        <key>offset</key>
        <string>{2,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{162,156}}</string>
        <key>sourceSize</key>
        <string>{164,160}</string>
      </dict>
      <key>monster_21027_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,890},{210,124}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{210,124}}</string>
        <key>sourceSize</key>
        <string>{211,128}</string>
      </dict>
      <key>monster_21027_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,384},{186,124}}</string>
        <key>offset</key>
        <string>{-24,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{186,124}}</string>
        <key>sourceSize</key>
        <string>{187,129}</string>
      </dict>
      <key>monster_21027_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,200},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,0},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,624},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,824},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,400},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,200},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1070,0},{198,108}}</string>
        <key>offset</key>
        <string>{-37,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,108}}</string>
        <key>sourceSize</key>
        <string>{199,113}</string>
      </dict>
      <key>monster_21027_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1542,738},{166,168}}</string>
        <key>offset</key>
        <string>{-10,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{166,168}}</string>
        <key>sourceSize</key>
        <string>{167,173}</string>
      </dict>
      <key>monster_21027_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,394},{192,138}}</string>
        <key>offset</key>
        <string>{-32,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,138}}</string>
        <key>sourceSize</key>
        <string>{193,142}</string>
      </dict>
      <key>monster_21027_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,212},{208,108}}</string>
        <key>offset</key>
        <string>{-55,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{208,108}}</string>
        <key>sourceSize</key>
        <string>{213,113}</string>
      </dict>
      <key>monster_21027_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,0},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,788},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,588},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1256,384},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,778},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,574},{188,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,112}}</string>
        <key>sourceSize</key>
        <string>{190,117}</string>
      </dict>
      <key>monster_21027_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,788},{166,112}}</string>
        <key>offset</key>
        <string>{-53,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{166,112}}</string>
        <key>sourceSize</key>
        <string>{168,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21027_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_21027_0_4.png</string>
    </dict>
  </dict>
</plist>