<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20093_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{435,411}}</string>
        <key>offset</key>
        <string>{-344,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,411}}</string>
        <key>sourceSize</key>
        <string>{435,411}</string>
      </dict>
      <key>monster_20093_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,829},{426,422}}</string>
        <key>offset</key>
        <string>{-353,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,422}}</string>
        <key>sourceSize</key>
        <string>{426,422}</string>
      </dict>
      <key>monster_20093_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,409},{418,441}}</string>
        <key>offset</key>
        <string>{-349,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,441}}</string>
        <key>sourceSize</key>
        <string>{418,441}</string>
      </dict>
      <key>monster_20093_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{407,449}}</string>
        <key>offset</key>
        <string>{-338,352}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,449}}</string>
        <key>sourceSize</key>
        <string>{407,449}</string>
      </dict>
      <key>monster_20093_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{427,430}}</string>
        <key>offset</key>
        <string>{-360,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,430}}</string>
        <key>sourceSize</key>
        <string>{427,430}</string>
      </dict>
      <key>monster_20093_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{446,407}}</string>
        <key>offset</key>
        <string>{-356,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,407}}</string>
        <key>sourceSize</key>
        <string>{446,407}</string>
      </dict>
      <key>monster_20093_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,822},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20093_0_1_3.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_20093_0_1_3.png</string>
    </dict>
  </dict>
</plist>