<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21033_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,246},{236,140}}</string>
        <key>offset</key>
        <string>{-76,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{236,140}}</string>
        <key>sourceSize</key>
        <string>{253,157}</string>
      </dict>
      <key>monster_21033_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,862},{190,140}}</string>
        <key>offset</key>
        <string>{-41,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,6},{190,140}}</string>
        <key>sourceSize</key>
        <string>{208,157}</string>
      </dict>
      <key>monster_21033_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1056,234},{174,224}}</string>
        <key>offset</key>
        <string>{-49,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,6},{174,224}}</string>
        <key>sourceSize</key>
        <string>{193,242}</string>
      </dict>
      <key>monster_21033_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,246},{234,170}}</string>
        <key>offset</key>
        <string>{-70,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{234,170}}</string>
        <key>sourceSize</key>
        <string>{248,187}</string>
      </dict>
      <key>monster_21033_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1388,446},{208,182}}</string>
        <key>offset</key>
        <string>{-87,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{208,182}}</string>
        <key>sourceSize</key>
        <string>{223,197}</string>
      </dict>
      <key>monster_21033_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,712},{220,184}}</string>
        <key>offset</key>
        <string>{-79,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,7},{220,184}}</string>
        <key>sourceSize</key>
        <string>{233,202}</string>
      </dict>
      <key>monster_21033_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1614,218},{196,164}}</string>
        <key>offset</key>
        <string>{-41,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,5},{196,164}}</string>
        <key>sourceSize</key>
        <string>{208,177}</string>
      </dict>
      <key>monster_21033_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,154},{158,178}}</string>
        <key>offset</key>
        <string>{-24,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,2},{158,178}}</string>
        <key>sourceSize</key>
        <string>{173,192}</string>
      </dict>
      <key>monster_21033_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,818},{186,244}}</string>
        <key>offset</key>
        <string>{-79,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,5},{186,244}}</string>
        <key>sourceSize</key>
        <string>{203,257}</string>
      </dict>
      <key>monster_21033_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,896},{154,152}}</string>
        <key>offset</key>
        <string>{-24,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,4},{154,152}}</string>
        <key>sourceSize</key>
        <string>{168,167}</string>
      </dict>
      <key>monster_21033_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,552},{264,154}}</string>
        <key>offset</key>
        <string>{-42,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,6},{264,154}}</string>
        <key>sourceSize</key>
        <string>{278,172}</string>
      </dict>
      <key>monster_21033_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{288,154}}</string>
        <key>offset</key>
        <string>{-61,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,7},{288,154}}</string>
        <key>sourceSize</key>
        <string>{303,172}</string>
      </dict>
      <key>monster_21033_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,0},{148,222}}</string>
        <key>offset</key>
        <string>{-32,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,8},{148,222}}</string>
        <key>sourceSize</key>
        <string>{163,242}</string>
      </dict>
      <key>monster_21033_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,682},{144,210}}</string>
        <key>offset</key>
        <string>{-40,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,8},{144,210}}</string>
        <key>sourceSize</key>
        <string>{163,227}</string>
      </dict>
      <key>monster_21033_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,606},{282,204}}</string>
        <key>offset</key>
        <string>{-159,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,3},{282,204}}</string>
        <key>sourceSize</key>
        <string>{298,217}</string>
      </dict>
      <key>monster_21033_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,540},{242,160}}</string>
        <key>offset</key>
        <string>{-96,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,4},{242,160}}</string>
        <key>sourceSize</key>
        <string>{258,172}</string>
      </dict>
      <key>monster_21033_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,484},{236,174}}</string>
        <key>offset</key>
        <string>{-9,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,6},{236,174}}</string>
        <key>sourceSize</key>
        <string>{253,192}</string>
      </dict>
      <key>monster_21033_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,0},{232,184}}</string>
        <key>offset</key>
        <string>{-10,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{232,184}}</string>
        <key>sourceSize</key>
        <string>{248,197}</string>
      </dict>
      <key>monster_21033_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1254,0},{172,216}}</string>
        <key>offset</key>
        <string>{-59,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,4},{172,216}}</string>
        <key>sourceSize</key>
        <string>{188,232}</string>
      </dict>
      <key>monster_21033_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,426},{176,198}}</string>
        <key>offset</key>
        <string>{-73,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,7},{176,198}}</string>
        <key>sourceSize</key>
        <string>{193,217}</string>
      </dict>
      <key>monster_21033_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{274,168}}</string>
        <key>offset</key>
        <string>{-172,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{274,168}}</string>
        <key>sourceSize</key>
        <string>{288,182}</string>
      </dict>
      <key>monster_21033_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{290,172}}</string>
        <key>offset</key>
        <string>{-144,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,6},{290,172}}</string>
        <key>sourceSize</key>
        <string>{308,187}</string>
      </dict>
      <key>monster_21033_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1230,460},{156,220}}</string>
        <key>offset</key>
        <string>{0,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,7},{156,220}}</string>
        <key>sourceSize</key>
        <string>{168,237}</string>
      </dict>
      <key>monster_21033_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,722},{150,230}}</string>
        <key>offset</key>
        <string>{-4,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,3},{150,230}}</string>
        <key>sourceSize</key>
        <string>{163,242}</string>
      </dict>
      <key>monster_21033_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,722},{230,172}}</string>
        <key>offset</key>
        <string>{-115,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,3},{230,172}}</string>
        <key>sourceSize</key>
        <string>{243,187}</string>
      </dict>
      <key>monster_21033_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,0},{188,162}}</string>
        <key>offset</key>
        <string>{-109,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,4},{188,162}}</string>
        <key>sourceSize</key>
        <string>{203,177}</string>
      </dict>
      <key>monster_21033_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1448,218},{206,164}}</string>
        <key>offset</key>
        <string>{-96,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,4},{206,164}}</string>
        <key>sourceSize</key>
        <string>{223,177}</string>
      </dict>
      <key>monster_21033_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,482},{218,228}}</string>
        <key>offset</key>
        <string>{-114,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,8},{218,228}}</string>
        <key>sourceSize</key>
        <string>{233,247}</string>
      </dict>
      <key>monster_21033_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,0},{200,216}}</string>
        <key>offset</key>
        <string>{-80,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,7},{200,216}}</string>
        <key>sourceSize</key>
        <string>{218,232}</string>
      </dict>
      <key>monster_21033_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,224},{214,220}}</string>
        <key>offset</key>
        <string>{-91,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,4},{214,220}}</string>
        <key>sourceSize</key>
        <string>{228,232}</string>
      </dict>
      <key>monster_21033_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1508,656},{204,162}}</string>
        <key>offset</key>
        <string>{-125,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,6},{204,162}}</string>
        <key>sourceSize</key>
        <string>{223,177}</string>
      </dict>
      <key>monster_21033_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,626},{186,174}}</string>
        <key>offset</key>
        <string>{-104,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,4},{186,174}}</string>
        <key>sourceSize</key>
        <string>{203,187}</string>
      </dict>
      <key>monster_21033_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,948},{168,168}}</string>
        <key>offset</key>
        <string>{-45,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{168,168}}</string>
        <key>sourceSize</key>
        <string>{183,182}</string>
      </dict>
      <key>monster_21033_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,314},{160,276}}</string>
        <key>offset</key>
        <string>{-71,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,4},{160,276}}</string>
        <key>sourceSize</key>
        <string>{178,292}</string>
      </dict>
      <key>monster_21033_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{244,182}}</string>
        <key>offset</key>
        <string>{-169,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,7},{244,182}}</string>
        <key>sourceSize</key>
        <string>{258,197}</string>
      </dict>
      <key>monster_21033_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{272,172}}</string>
        <key>offset</key>
        <string>{-179,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,5},{272,172}}</string>
        <key>sourceSize</key>
        <string>{288,187}</string>
      </dict>
      <key>monster_21033_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,484},{156,174}}</string>
        <key>offset</key>
        <string>{-71,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,5},{156,174}}</string>
        <key>sourceSize</key>
        <string>{168,187}</string>
      </dict>
      <key>monster_21033_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,642},{156,172}}</string>
        <key>offset</key>
        <string>{-59,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{156,172}}</string>
        <key>sourceSize</key>
        <string>{173,187}</string>
      </dict>
      <key>monster_21033_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,276},{274,164}}</string>
        <key>offset</key>
        <string>{-70,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,5},{274,164}}</string>
        <key>sourceSize</key>
        <string>{288,177}</string>
      </dict>
      <key>monster_21033_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,274},{264,238}}</string>
        <key>offset</key>
        <string>{-90,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,5},{264,238}}</string>
        <key>sourceSize</key>
        <string>{278,252}</string>
      </dict>
      <key>monster_21033_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,784},{240,162}}</string>
        <key>offset</key>
        <string>{-195,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,8},{240,162}}</string>
        <key>sourceSize</key>
        <string>{253,182}</string>
      </dict>
      <key>monster_21033_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,540},{240,152}}</string>
        <key>offset</key>
        <string>{-190,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,6},{240,152}}</string>
        <key>sourceSize</key>
        <string>{253,167}</string>
      </dict>
      <key>monster_21033_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,890},{170,158}}</string>
        <key>offset</key>
        <string>{-64,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,3},{170,158}}</string>
        <key>sourceSize</key>
        <string>{183,172}</string>
      </dict>
      <key>monster_21033_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,0},{186,152}}</string>
        <key>offset</key>
        <string>{-66,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,3},{186,152}}</string>
        <key>sourceSize</key>
        <string>{203,167}</string>
      </dict>
      <key>monster_21033_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{258,172}}</string>
        <key>offset</key>
        <string>{-55,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{258,172}}</string>
        <key>sourceSize</key>
        <string>{273,187}</string>
      </dict>
      <key>monster_21033_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{312,214}}</string>
        <key>offset</key>
        <string>{-108,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,6},{312,214}}</string>
        <key>sourceSize</key>
        <string>{328,232}</string>
      </dict>
      <key>monster_21033_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,800},{172,172}}</string>
        <key>offset</key>
        <string>{-124,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{172,172}}</string>
        <key>sourceSize</key>
        <string>{188,187}</string>
      </dict>
      <key>monster_21033_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,314},{168,178}}</string>
        <key>offset</key>
        <string>{-113,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,2},{168,178}}</string>
        <key>sourceSize</key>
        <string>{183,192}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21033_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_21033_0_2.png</string>
    </dict>
  </dict>
</plist>