<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21027_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,506},{168,158}}</string>
        <key>offset</key>
        <string>{-64,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{168,158}}</string>
        <key>sourceSize</key>
        <string>{170,162}</string>
      </dict>
      <key>monster_21027_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,776},{168,154}}</string>
        <key>offset</key>
        <string>{-63,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{168,154}}</string>
        <key>sourceSize</key>
        <string>{169,158}</string>
      </dict>
      <key>monster_21027_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,186},{166,152}}</string>
        <key>offset</key>
        <string>{-62,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{166,152}}</string>
        <key>sourceSize</key>
        <string>{168,156}</string>
      </dict>
      <key>monster_21027_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,362},{172,142}}</string>
        <key>offset</key>
        <string>{-68,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{172,142}}</string>
        <key>sourceSize</key>
        <string>{174,147}</string>
      </dict>
      <key>monster_21027_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,418},{196,148}}</string>
        <key>offset</key>
        <string>{-97,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{196,148}}</string>
        <key>sourceSize</key>
        <string>{199,153}</string>
      </dict>
      <key>monster_21027_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,616},{192,148}}</string>
        <key>offset</key>
        <string>{-91,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{192,148}}</string>
        <key>sourceSize</key>
        <string>{193,152}</string>
      </dict>
      <key>monster_21027_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,652},{202,146}}</string>
        <key>offset</key>
        <string>{-101,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{202,146}}</string>
        <key>sourceSize</key>
        <string>{203,150}</string>
      </dict>
      <key>monster_21027_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,880},{204,142}}</string>
        <key>offset</key>
        <string>{-104,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21027_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,160}}</string>
        <key>offset</key>
        <string>{-93,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{224,160}}</string>
        <key>sourceSize</key>
        <string>{225,165}</string>
      </dict>
      <key>monster_21027_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,226},{218,160}}</string>
        <key>offset</key>
        <string>{-87,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{218,160}}</string>
        <key>sourceSize</key>
        <string>{219,165}</string>
      </dict>
      <key>monster_21027_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,446},{204,160}}</string>
        <key>offset</key>
        <string>{-81,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{204,160}}</string>
        <key>sourceSize</key>
        <string>{206,165}</string>
      </dict>
      <key>monster_21027_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,386},{182,160}}</string>
        <key>offset</key>
        <string>{-65,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{182,160}}</string>
        <key>sourceSize</key>
        <string>{183,164}</string>
      </dict>
      <key>monster_21027_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{222,144}}</string>
        <key>offset</key>
        <string>{-55,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{222,144}}</string>
        <key>sourceSize</key>
        <string>{228,149}</string>
      </dict>
      <key>monster_21027_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{220,148}}</string>
        <key>offset</key>
        <string>{-50,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{220,148}}</string>
        <key>sourceSize</key>
        <string>{221,153}</string>
      </dict>
      <key>monster_21027_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{212,150}}</string>
        <key>offset</key>
        <string>{-47,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{212,150}}</string>
        <key>sourceSize</key>
        <string>{214,155}</string>
      </dict>
      <key>monster_21027_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,672},{210,148}}</string>
        <key>offset</key>
        <string>{-49,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,148}}</string>
        <key>sourceSize</key>
        <string>{214,153}</string>
      </dict>
      <key>monster_21027_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,0},{184,170}}</string>
        <key>offset</key>
        <string>{-13,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{184,170}}</string>
        <key>sourceSize</key>
        <string>{186,175}</string>
      </dict>
      <key>monster_21027_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,590},{184,172}}</string>
        <key>offset</key>
        <string>{-13,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{184,172}}</string>
        <key>sourceSize</key>
        <string>{186,177}</string>
      </dict>
      <key>monster_21027_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,400},{188,176}}</string>
        <key>offset</key>
        <string>{-13,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{188,176}}</string>
        <key>sourceSize</key>
        <string>{190,180}</string>
      </dict>
      <key>monster_21027_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,196},{188,170}}</string>
        <key>offset</key>
        <string>{-13,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,170}}</string>
        <key>sourceSize</key>
        <string>{190,175}</string>
      </dict>
      <key>monster_21027_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,672},{206,146}}</string>
        <key>offset</key>
        <string>{-33,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{206,146}}</string>
        <key>sourceSize</key>
        <string>{209,150}</string>
      </dict>
      <key>monster_21027_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,856},{202,150}}</string>
        <key>offset</key>
        <string>{-32,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{202,150}}</string>
        <key>sourceSize</key>
        <string>{207,154}</string>
      </dict>
      <key>monster_21027_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,214},{202,150}}</string>
        <key>offset</key>
        <string>{-32,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,4},{202,150}}</string>
        <key>sourceSize</key>
        <string>{206,156}</string>
      </dict>
      <key>monster_21027_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{202,150}}</string>
        <key>offset</key>
        <string>{-30,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{202,150}}</string>
        <key>sourceSize</key>
        <string>{203,154}</string>
      </dict>
      <key>monster_21027_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{188,158}}</string>
        <key>offset</key>
        <string>{-20,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{188,158}}</string>
        <key>sourceSize</key>
        <string>{190,163}</string>
      </dict>
      <key>monster_21027_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,810},{190,158}}</string>
        <key>offset</key>
        <string>{-20,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{190,158}}</string>
        <key>sourceSize</key>
        <string>{191,162}</string>
      </dict>
      <key>monster_21027_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,204},{194,158}}</string>
        <key>offset</key>
        <string>{-20,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{194,158}}</string>
        <key>sourceSize</key>
        <string>{195,163}</string>
      </dict>
      <key>monster_21027_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{194,158}}</string>
        <key>offset</key>
        <string>{-20,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,158}}</string>
        <key>sourceSize</key>
        <string>{196,162}</string>
      </dict>
      <key>monster_21027_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,666},{164,148}}</string>
        <key>offset</key>
        <string>{5,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{164,148}}</string>
        <key>sourceSize</key>
        <string>{167,152}</string>
      </dict>
      <key>monster_21027_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,506},{164,148}}</string>
        <key>offset</key>
        <string>{4,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{164,148}}</string>
        <key>sourceSize</key>
        <string>{169,152}</string>
      </dict>
      <key>monster_21027_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,0},{166,146}}</string>
        <key>offset</key>
        <string>{3,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{166,146}}</string>
        <key>sourceSize</key>
        <string>{172,150}</string>
      </dict>
      <key>monster_21027_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,186},{174,142}}</string>
        <key>offset</key>
        <string>{5,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{174,142}}</string>
        <key>sourceSize</key>
        <string>{175,147}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21027_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_21027_0_0.png</string>
    </dict>
  </dict>
</plist>