<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21050_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,570},{82,80}}</string>
        <key>offset</key>
        <string>{-15,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,80}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,376},{88,72}}</string>
        <key>offset</key>
        <string>{-12,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{88,72}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,570},{84,64}}</string>
        <key>offset</key>
        <string>{-12,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,64}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,780},{96,66}}</string>
        <key>offset</key>
        <string>{-28,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{96,66}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,88},{70,72}}</string>
        <key>offset</key>
        <string>{-15,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,68}}</string>
        <key>offset</key>
        <string>{-41,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,68}}</string>
        <key>sourceSize</key>
        <string>{128,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,116},{102,66}}</string>
        <key>offset</key>
        <string>{-35,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,66}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,116},{102,66}}</string>
        <key>offset</key>
        <string>{-35,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,66}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{102,66}}</string>
        <key>offset</key>
        <string>{-35,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,66}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{102,66}}</string>
        <key>offset</key>
        <string>{-35,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,66}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,284},{90,82}}</string>
        <key>offset</key>
        <string>{-17,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,1},{90,82}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,466},{82,74}}</string>
        <key>offset</key>
        <string>{-21,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{82,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,370},{82,72}}</string>
        <key>offset</key>
        <string>{-38,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{82,72}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,188},{90,70}}</string>
        <key>offset</key>
        <string>{-26,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{90,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,274},{72,82}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,82}}</string>
        <key>sourceSize</key>
        <string>{80,96}</string>
      </dict>
      <key>monster_21050_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{114,94}}</string>
        <key>offset</key>
        <string>{-48,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,1},{114,94}}</string>
        <key>sourceSize</key>
        <string>{128,96}</string>
      </dict>
      <key>monster_21050_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,196},{92,70}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,96},{92,70}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{92,70}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,870},{92,70}}</string>
        <key>offset</key>
        <string>{-21,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,94},{90,74}}</string>
        <key>offset</key>
        <string>{-34,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{90,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,186},{84,86}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,86}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,888},{74,84}}</string>
        <key>offset</key>
        <string>{-30,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,84}}</string>
        <key>sourceSize</key>
        <string>{80,96}</string>
      </dict>
      <key>monster_21050_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,752},{84,84}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,656},{84,76}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,676},{86,96}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{86,96}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{90,74}}</string>
        <key>offset</key>
        <string>{-16,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,834},{90,74}}</string>
        <key>offset</key>
        <string>{-16,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,926},{90,74}}</string>
        <key>offset</key>
        <string>{-16,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,704},{90,74}}</string>
        <key>offset</key>
        <string>{-16,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,74}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,568},{94,80}}</string>
        <key>offset</key>
        <string>{-19,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,80}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,796},{84,90}}</string>
        <key>offset</key>
        <string>{-25,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,760},{84,92}}</string>
        <key>offset</key>
        <string>{-40,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,646},{84,92}}</string>
        <key>offset</key>
        <string>{-25,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,92},{84,86}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{106,82}}</string>
        <key>offset</key>
        <string>{-26,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,82}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,454},{94,68}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,324},{94,68}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,208},{94,68}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,100},{94,68}}</string>
        <key>offset</key>
        <string>{-23,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,572},{84,90}}</string>
        <key>offset</key>
        <string>{-18,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,516},{90,92}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,92}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,478},{84,90}}</string>
        <key>offset</key>
        <string>{-15,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,90}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{98,92}}</string>
        <key>offset</key>
        <string>{-23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,400},{72,92}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{72,92}}</string>
        <key>sourceSize</key>
        <string>{80,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{110,90}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,90}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,676},{102,74}}</string>
        <key>offset</key>
        <string>{-30,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,572},{102,74}}</string>
        <key>offset</key>
        <string>{-30,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,464},{102,74}}</string>
        <key>offset</key>
        <string>{-30,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,350},{102,74}}</string>
        <key>offset</key>
        <string>{-30,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,74}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,280},{88,82}}</string>
        <key>offset</key>
        <string>{-17,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,82}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,290},{90,92}}</string>
        <key>offset</key>
        <string>{-7,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,92}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,220},{96,102}}</string>
        <key>offset</key>
        <string>{-3,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,102}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>monster_21050_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,104},{102,86}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,86}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{86,82}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{106,92}}</string>
        <key>offset</key>
        <string>{-21,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,92}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,190},{92,70}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,94},{92,70}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{92,70}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,384},{92,70}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,70}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{98,72}}</string>
        <key>offset</key>
        <string>{-13,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{98,72}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{94,86}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{94,86}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,664},{86,86}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{86,86}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>monster_21050_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,880},{98,82}}</string>
        <key>offset</key>
        <string>{-37,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,82}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
      <key>monster_21050_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,854},{92,66}}</string>
        <key>offset</key>
        <string>{-33,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,66}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{94,114}}</string>
        <key>offset</key>
        <string>{-30,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,-1},{94,114}}</string>
        <key>sourceSize</key>
        <string>{96,128}</string>
      </dict>
      <key>monster_21050_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,740},{92,76}}</string>
        <key>offset</key>
        <string>{-31,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{92,76}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,610},{92,76}}</string>
        <key>offset</key>
        <string>{-31,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{92,76}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,478},{92,76}}</string>
        <key>offset</key>
        <string>{-31,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{92,76}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,384},{92,76}}</string>
        <key>offset</key>
        <string>{-31,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,-1},{92,76}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,878},{94,78}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,78}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,948},{92,72}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{92,72}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,356},{106,70}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,70}}</string>
        <key>sourceSize</key>
        <string>{112,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,774},{94,72}}</string>
        <key>offset</key>
        <string>{-16,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,72}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,180},{82,66}}</string>
        <key>offset</key>
        <string>{-22,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{82,66}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,244},{104,102}}</string>
        <key>offset</key>
        <string>{-25,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,102}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>monster_21050_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,664},{94,68}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,550},{94,68}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,420},{94,68}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>monster_21050_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,304},{94,68}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,68}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21050_0_4.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21050_0_4.png</string>
    </dict>
  </dict>
</plist>