<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{81,151}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,151}}</string>
        <key>sourceSize</key>
        <string>{81,151}</string>
      </dict>
      <key>monster_20000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,373},{80,158}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,158}}</string>
        <key>sourceSize</key>
        <string>{80,158}</string>
      </dict>
      <key>monster_20000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,153},{146,124}}</string>
        <key>offset</key>
        <string>{-56,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,124}}</string>
        <key>sourceSize</key>
        <string>{146,124}</string>
      </dict>
      <key>monster_20000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,332},{151,128}}</string>
        <key>offset</key>
        <string>{-60,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,128}}</string>
        <key>sourceSize</key>
        <string>{151,128}</string>
      </dict>
      <key>monster_20000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,191},{180,88}}</string>
        <key>offset</key>
        <string>{-82,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,88}}</string>
        <key>sourceSize</key>
        <string>{180,88}</string>
      </dict>
      <key>monster_20000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{189,85}}</string>
        <key>offset</key>
        <string>{-88,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,85}}</string>
        <key>sourceSize</key>
        <string>{189,85}</string>
      </dict>
      <key>monster_20000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,197},{131,119}}</string>
        <key>offset</key>
        <string>{-49,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,119}}</string>
        <key>sourceSize</key>
        <string>{131,119}</string>
      </dict>
      <key>monster_20000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{143,120}}</string>
        <key>offset</key>
        <string>{-54,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,120}}</string>
        <key>sourceSize</key>
        <string>{143,120}</string>
      </dict>
      <key>monster_20000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,301},{78,134}}</string>
        <key>offset</key>
        <string>{-3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,134}}</string>
        <key>sourceSize</key>
        <string>{78,134}</string>
      </dict>
      <key>monster_20000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{80,137}}</string>
        <key>offset</key>
        <string>{-4,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,137}}</string>
        <key>sourceSize</key>
        <string>{80,137}</string>
      </dict>
      <key>monster_20000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,197},{134,109}}</string>
        <key>offset</key>
        <string>{-21,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,109}}</string>
        <key>sourceSize</key>
        <string>{134,109}</string>
      </dict>
      <key>monster_20000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,82},{136,113}}</string>
        <key>offset</key>
        <string>{-23,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,113}}</string>
        <key>sourceSize</key>
        <string>{136,113}</string>
      </dict>
      <key>monster_20000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,172},{158,79}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,79}}</string>
        <key>sourceSize</key>
        <string>{158,79}</string>
      </dict>
      <key>monster_20000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{170,79}}</string>
        <key>offset</key>
        <string>{-29,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,79}}</string>
        <key>sourceSize</key>
        <string>{170,79}</string>
      </dict>
      <key>monster_20000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,330},{124,129}}</string>
        <key>offset</key>
        <string>{-13,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>monster_20000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,308},{123,134}}</string>
        <key>offset</key>
        <string>{-16,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,134}}</string>
        <key>sourceSize</key>
        <string>{123,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20000_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20000_0_7.png</string>
    </dict>
  </dict>
</plist>