<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20016_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,550},{493,407}}</string>
        <key>offset</key>
        <string>{-195,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{493,407}}</string>
        <key>sourceSize</key>
        <string>{493,407}</string>
      </dict>
      <key>monster_20016_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1554},{469,402}}</string>
        <key>offset</key>
        <string>{-170,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,402}}</string>
        <key>sourceSize</key>
        <string>{469,402}</string>
      </dict>
      <key>monster_20016_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{548,409}}</string>
        <key>offset</key>
        <string>{-222,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,409}}</string>
        <key>sourceSize</key>
        <string>{548,409}</string>
      </dict>
      <key>monster_20016_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1055},{497,411}}</string>
        <key>offset</key>
        <string>{-234,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{497,411}}</string>
        <key>sourceSize</key>
        <string>{497,411}</string>
      </dict>
      <key>monster_20016_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,1045},{444,426}}</string>
        <key>offset</key>
        <string>{-164,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,426}}</string>
        <key>sourceSize</key>
        <string>{444,426}</string>
      </dict>
      <key>monster_20016_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,1491},{416,396}}</string>
        <key>offset</key>
        <string>{-163,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,396}}</string>
        <key>sourceSize</key>
        <string>{416,396}</string>
      </dict>
      <key>monster_20016_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,1045},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_20016_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,550},{503,367}}</string>
        <key>offset</key>
        <string>{-175,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{503,367}}</string>
        <key>sourceSize</key>
        <string>{503,367}</string>
      </dict>
      <key>monster_20016_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,441},{416,361}}</string>
        <key>offset</key>
        <string>{-168,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,361}}</string>
        <key>sourceSize</key>
        <string>{416,361}</string>
      </dict>
      <key>monster_20016_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,1554},{456,372}}</string>
        <key>offset</key>
        <string>{-170,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,372}}</string>
        <key>sourceSize</key>
        <string>{456,372}</string>
      </dict>
      <key>monster_20016_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,0},{405,375}}</string>
        <key>offset</key>
        <string>{-165,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,375}}</string>
        <key>sourceSize</key>
        <string>{405,375}</string>
      </dict>
      <key>monster_20016_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{439,392}}</string>
        <key>offset</key>
        <string>{-184,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,392}}</string>
        <key>sourceSize</key>
        <string>{439,392}</string>
      </dict>
      <key>monster_20016_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,859},{400,401}}</string>
        <key>offset</key>
        <string>{-142,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,401}}</string>
        <key>sourceSize</key>
        <string>{400,401}</string>
      </dict>
      <key>monster_20016_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,1048},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20016_0_2_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_20016_0_2_3.png</string>
    </dict>
  </dict>
</plist>