<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21012_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{94,104}}</string>
        <key>offset</key>
        <string>{-26,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,10},{94,104}}</string>
        <key>sourceSize</key>
        <string>{109,117}</string>
      </dict>
      <key>monster_21012_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,448},{96,100}}</string>
        <key>offset</key>
        <string>{-26,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,12},{96,100}}</string>
        <key>sourceSize</key>
        <string>{111,118}</string>
      </dict>
      <key>monster_21012_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,696},{98,102}}</string>
        <key>offset</key>
        <string>{-26,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,8},{98,102}}</string>
        <key>sourceSize</key>
        <string>{110,115}</string>
      </dict>
      <key>monster_21012_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,330},{100,98}}</string>
        <key>offset</key>
        <string>{-34,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,11},{100,98}}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>monster_21012_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{102,104}}</string>
        <key>offset</key>
        <string>{-38,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,9},{102,104}}</string>
        <key>sourceSize</key>
        <string>{118,115}</string>
      </dict>
      <key>monster_21012_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,564},{102,102}}</string>
        <key>offset</key>
        <string>{-33,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,9},{102,102}}</string>
        <key>sourceSize</key>
        <string>{111,113}</string>
      </dict>
      <key>monster_21012_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,112},{108,98}}</string>
        <key>offset</key>
        <string>{-40,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,11},{108,98}}</string>
        <key>sourceSize</key>
        <string>{129,111}</string>
      </dict>
      <key>monster_21012_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{112,102}}</string>
        <key>offset</key>
        <string>{-48,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,5},{112,102}}</string>
        <key>sourceSize</key>
        <string>{138,110}</string>
      </dict>
      <key>monster_21012_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,894},{118,102}}</string>
        <key>offset</key>
        <string>{-49,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,6},{118,102}}</string>
        <key>sourceSize</key>
        <string>{135,110}</string>
      </dict>
      <key>monster_21012_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{120,106}}</string>
        <key>offset</key>
        <string>{-51,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,5},{120,106}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>monster_21012_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,114},{112,104}}</string>
        <key>offset</key>
        <string>{-48,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,9},{112,104}}</string>
        <key>sourceSize</key>
        <string>{143,119}</string>
      </dict>
      <key>monster_21012_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,834},{102,104}}</string>
        <key>offset</key>
        <string>{-47,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{17,8},{102,104}}</string>
        <key>sourceSize</key>
        <string>{134,115}</string>
      </dict>
      <key>monster_21012_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{112,106}}</string>
        <key>offset</key>
        <string>{-34,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,12},{112,106}}</string>
        <key>sourceSize</key>
        <string>{123,123}</string>
      </dict>
      <key>monster_21012_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,724},{108,106}}</string>
        <key>offset</key>
        <string>{-33,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,9},{108,106}}</string>
        <key>sourceSize</key>
        <string>{121,120}</string>
      </dict>
      <key>monster_21012_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,114},{110,110}}</string>
        <key>offset</key>
        <string>{-34,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,8},{110,110}}</string>
        <key>sourceSize</key>
        <string>{121,124}</string>
      </dict>
      <key>monster_21012_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,110}}</string>
        <key>offset</key>
        <string>{-37,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,15},{130,110}}</string>
        <key>sourceSize</key>
        <string>{145,135}</string>
      </dict>
      <key>monster_21012_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{126,126}}</string>
        <key>offset</key>
        <string>{-34,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,11},{126,126}}</string>
        <key>sourceSize</key>
        <string>{141,139}</string>
      </dict>
      <key>monster_21012_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{118,126}}</string>
        <key>offset</key>
        <string>{-36,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,10},{118,126}}</string>
        <key>sourceSize</key>
        <string>{134,139}</string>
      </dict>
      <key>monster_21012_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,586},{106,108}}</string>
        <key>offset</key>
        <string>{-44,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,8},{106,108}}</string>
        <key>sourceSize</key>
        <string>{122,120}</string>
      </dict>
      <key>monster_21012_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,222},{106,100}}</string>
        <key>offset</key>
        <string>{-43,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,9},{106,100}}</string>
        <key>sourceSize</key>
        <string>{127,121}</string>
      </dict>
      <key>monster_21012_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{110,110}}</string>
        <key>offset</key>
        <string>{-43,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,8},{110,110}}</string>
        <key>sourceSize</key>
        <string>{133,124}</string>
      </dict>
      <key>monster_21012_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,128},{114,114}}</string>
        <key>offset</key>
        <string>{-45,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,3},{114,114}}</string>
        <key>sourceSize</key>
        <string>{135,129}</string>
      </dict>
      <key>monster_21012_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{112,122}}</string>
        <key>offset</key>
        <string>{-47,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,7},{112,122}}</string>
        <key>sourceSize</key>
        <string>{135,138}</string>
      </dict>
      <key>monster_21012_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{112,120}}</string>
        <key>offset</key>
        <string>{-49,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,7},{112,120}}</string>
        <key>sourceSize</key>
        <string>{133,140}</string>
      </dict>
      <key>monster_21012_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,612},{110,100}}</string>
        <key>offset</key>
        <string>{-42,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,9},{110,100}}</string>
        <key>sourceSize</key>
        <string>{134,119}</string>
      </dict>
      <key>monster_21012_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,612},{110,102}}</string>
        <key>offset</key>
        <string>{-50,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{20,9},{110,102}}</string>
        <key>sourceSize</key>
        <string>{147,121}</string>
      </dict>
      <key>monster_21012_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,772},{120,108}}</string>
        <key>offset</key>
        <string>{-47,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,8},{120,108}}</string>
        <key>sourceSize</key>
        <string>{148,120}</string>
      </dict>
      <key>monster_21012_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,382},{114,96}}</string>
        <key>offset</key>
        <string>{-45,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{21,7},{114,96}}</string>
        <key>sourceSize</key>
        <string>{148,116}</string>
      </dict>
      <key>monster_21012_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,498},{114,102}}</string>
        <key>offset</key>
        <string>{-44,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,8},{114,102}}</string>
        <key>sourceSize</key>
        <string>{146,123}</string>
      </dict>
      <key>monster_21012_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,382},{114,106}}</string>
        <key>offset</key>
        <string>{-47,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{18,9},{114,106}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>monster_21012_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,474},{106,110}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,10},{106,110}}</string>
        <key>sourceSize</key>
        <string>{123,124}</string>
      </dict>
      <key>monster_21012_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,112},{106,100}}</string>
        <key>offset</key>
        <string>{-30,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,9},{106,100}}</string>
        <key>sourceSize</key>
        <string>{126,121}</string>
      </dict>
      <key>monster_21012_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,342},{110,110}}</string>
        <key>offset</key>
        <string>{-34,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,9},{110,110}}</string>
        <key>sourceSize</key>
        <string>{130,125}</string>
      </dict>
      <key>monster_21012_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,244},{114,108}}</string>
        <key>offset</key>
        <string>{-37,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,10},{114,108}}</string>
        <key>sourceSize</key>
        <string>{136,131}</string>
      </dict>
      <key>monster_21012_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,894},{112,118}}</string>
        <key>offset</key>
        <string>{-34,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,7},{112,118}}</string>
        <key>sourceSize</key>
        <string>{134,138}</string>
      </dict>
      <key>monster_21012_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,770},{112,118}}</string>
        <key>offset</key>
        <string>{-30,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,8},{112,118}}</string>
        <key>sourceSize</key>
        <string>{134,140}</string>
      </dict>
      <key>monster_21012_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,498},{112,110}}</string>
        <key>offset</key>
        <string>{-34,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,8},{112,110}}</string>
        <key>sourceSize</key>
        <string>{123,123}</string>
      </dict>
      <key>monster_21012_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,226},{110,104}}</string>
        <key>offset</key>
        <string>{-33,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,12},{110,104}}</string>
        <key>sourceSize</key>
        <string>{121,122}</string>
      </dict>
      <key>monster_21012_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,454},{108,108}}</string>
        <key>offset</key>
        <string>{-32,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,10},{108,108}}</string>
        <key>sourceSize</key>
        <string>{122,124}</string>
      </dict>
      <key>monster_21012_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{130,122}}</string>
        <key>offset</key>
        <string>{-53,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,4},{130,122}}</string>
        <key>sourceSize</key>
        <string>{146,131}</string>
      </dict>
      <key>monster_21012_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{126,118}}</string>
        <key>offset</key>
        <string>{-51,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,8},{126,118}}</string>
        <key>sourceSize</key>
        <string>{141,137}</string>
      </dict>
      <key>monster_21012_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{118,126}}</string>
        <key>offset</key>
        <string>{-43,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,12},{118,126}}</string>
        <key>sourceSize</key>
        <string>{134,141}</string>
      </dict>
      <key>monster_21012_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,338},{108,100}}</string>
        <key>offset</key>
        <string>{-35,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,10},{108,100}}</string>
        <key>sourceSize</key>
        <string>{129,112}</string>
      </dict>
      <key>monster_21012_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,360},{112,102}}</string>
        <key>offset</key>
        <string>{-37,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,4},{112,102}}</string>
        <key>sourceSize</key>
        <string>{138,109}</string>
      </dict>
      <key>monster_21012_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,264},{116,102}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,6},{116,102}}</string>
        <key>sourceSize</key>
        <string>{134,110}</string>
      </dict>
      <key>monster_21012_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,648},{120,108}}</string>
        <key>offset</key>
        <string>{-41,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,3},{120,108}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>monster_21012_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,228},{112,104}}</string>
        <key>offset</key>
        <string>{-41,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,7},{112,104}}</string>
        <key>sourceSize</key>
        <string>{143,117}</string>
      </dict>
      <key>monster_21012_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,834},{102,104}}</string>
        <key>offset</key>
        <string>{-31,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,8},{102,104}}</string>
        <key>sourceSize</key>
        <string>{129,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21012_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21012_0_1.png</string>
    </dict>
  </dict>
</plist>