<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20007_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{173,253}}</string>
        <key>offset</key>
        <string>{-112,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,253}}</string>
        <key>sourceSize</key>
        <string>{173,253}</string>
      </dict>
      <key>monster_20007_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,175},{178,242}}</string>
        <key>offset</key>
        <string>{-117,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,242}}</string>
        <key>sourceSize</key>
        <string>{178,242}</string>
      </dict>
      <key>monster_20007_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{184,226}}</string>
        <key>offset</key>
        <string>{-122,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,226}}</string>
        <key>sourceSize</key>
        <string>{184,226}</string>
      </dict>
      <key>monster_20007_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{173,253}}</string>
        <key>offset</key>
        <string>{-112,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,253}}</string>
        <key>sourceSize</key>
        <string>{173,253}</string>
      </dict>
      <key>monster_20007_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{219,237}}</string>
        <key>offset</key>
        <string>{-110,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,237}}</string>
        <key>sourceSize</key>
        <string>{219,237}</string>
      </dict>
      <key>monster_20007_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{230,230}}</string>
        <key>offset</key>
        <string>{-123,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,230}}</string>
        <key>sourceSize</key>
        <string>{230,230}</string>
      </dict>
      <key>monster_20007_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,576},{228,219}}</string>
        <key>offset</key>
        <string>{-122,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,219}}</string>
        <key>sourceSize</key>
        <string>{228,219}</string>
      </dict>
      <key>monster_20007_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,355},{219,236}}</string>
        <key>offset</key>
        <string>{-110,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,236}}</string>
        <key>sourceSize</key>
        <string>{219,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20007_0_0_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_20007_0_0_1.png</string>
    </dict>
  </dict>
</plist>