<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21031_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,552},{110,128}}</string>
        <key>offset</key>
        <string>{-21,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{110,128}}</string>
        <key>sourceSize</key>
        <string>{112,135}</string>
      </dict>
      <key>monster_21031_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,472},{106,132}}</string>
        <key>offset</key>
        <string>{-20,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,5},{106,132}}</string>
        <key>sourceSize</key>
        <string>{109,139}</string>
      </dict>
      <key>monster_21031_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,148},{106,134}}</string>
        <key>offset</key>
        <string>{-24,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,4},{106,134}}</string>
        <key>sourceSize</key>
        <string>{110,140}</string>
      </dict>
      <key>monster_21031_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,486},{114,128}}</string>
        <key>offset</key>
        <string>{-34,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{114,128}}</string>
        <key>sourceSize</key>
        <string>{118,138}</string>
      </dict>
      <key>monster_21031_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,236},{122,130}}</string>
        <key>offset</key>
        <string>{-39,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,3},{122,130}}</string>
        <key>sourceSize</key>
        <string>{126,135}</string>
      </dict>
      <key>monster_21031_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,284},{118,132}}</string>
        <key>offset</key>
        <string>{-32,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,7},{118,132}}</string>
        <key>sourceSize</key>
        <string>{123,141}</string>
      </dict>
      <key>monster_21031_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,136},{126,132}}</string>
        <key>offset</key>
        <string>{-43,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,5},{126,132}}</string>
        <key>sourceSize</key>
        <string>{131,139}</string>
      </dict>
      <key>monster_21031_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{126,132}}</string>
        <key>offset</key>
        <string>{-42,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,4},{126,132}}</string>
        <key>sourceSize</key>
        <string>{132,138}</string>
      </dict>
      <key>monster_21031_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,0},{134,132}}</string>
        <key>offset</key>
        <string>{-47,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,9},{134,132}}</string>
        <key>sourceSize</key>
        <string>{138,144}</string>
      </dict>
      <key>monster_21031_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,802},{134,128}}</string>
        <key>offset</key>
        <string>{-51,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{134,128}}</string>
        <key>sourceSize</key>
        <string>{140,134}</string>
      </dict>
      <key>monster_21031_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,486},{128,128}}</string>
        <key>offset</key>
        <string>{-45,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{128,128}}</string>
        <key>sourceSize</key>
        <string>{132,133}</string>
      </dict>
      <key>monster_21031_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,0},{130,132}}</string>
        <key>offset</key>
        <string>{-44,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,4},{130,132}}</string>
        <key>sourceSize</key>
        <string>{133,138}</string>
      </dict>
      <key>monster_21031_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{206,84}}</string>
        <key>offset</key>
        <string>{-121,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{206,84}}</string>
        <key>sourceSize</key>
        <string>{209,92}</string>
      </dict>
      <key>monster_21031_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{204,86}}</string>
        <key>offset</key>
        <string>{-119,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{204,86}}</string>
        <key>sourceSize</key>
        <string>{209,91}</string>
      </dict>
      <key>monster_21031_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{204,86}}</string>
        <key>offset</key>
        <string>{-117,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{204,86}}</string>
        <key>sourceSize</key>
        <string>{208,92}</string>
      </dict>
      <key>monster_21031_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{200,86}}</string>
        <key>offset</key>
        <string>{-118,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{200,86}}</string>
        <key>sourceSize</key>
        <string>{209,92}</string>
      </dict>
      <key>monster_21031_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,614},{194,86}}</string>
        <key>offset</key>
        <string>{-116,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,8},{194,86}}</string>
        <key>sourceSize</key>
        <string>{208,96}</string>
      </dict>
      <key>monster_21031_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{202,84}}</string>
        <key>offset</key>
        <string>{-119,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{202,84}}</string>
        <key>sourceSize</key>
        <string>{210,91}</string>
      </dict>
      <key>monster_21031_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,414},{198,94}}</string>
        <key>offset</key>
        <string>{-120,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,3},{198,94}}</string>
        <key>sourceSize</key>
        <string>{209,100}</string>
      </dict>
      <key>monster_21031_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{196,82}}</string>
        <key>offset</key>
        <string>{-117,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{196,82}}</string>
        <key>sourceSize</key>
        <string>{198,87}</string>
      </dict>
      <key>monster_21031_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{192,86}}</string>
        <key>offset</key>
        <string>{-113,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{192,86}}</string>
        <key>sourceSize</key>
        <string>{196,93}</string>
      </dict>
      <key>monster_21031_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,614},{194,98}}</string>
        <key>offset</key>
        <string>{-114,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,3},{194,98}}</string>
        <key>sourceSize</key>
        <string>{199,104}</string>
      </dict>
      <key>monster_21031_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,820},{196,96}}</string>
        <key>offset</key>
        <string>{-115,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{196,96}}</string>
        <key>sourceSize</key>
        <string>{200,101}</string>
      </dict>
      <key>monster_21031_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,206},{194,98}}</string>
        <key>offset</key>
        <string>{-116,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,3},{194,98}}</string>
        <key>sourceSize</key>
        <string>{207,105}</string>
      </dict>
      <key>monster_21031_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,514},{142,120}}</string>
        <key>offset</key>
        <string>{-55,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{142,120}}</string>
        <key>sourceSize</key>
        <string>{145,125}</string>
      </dict>
      <key>monster_21031_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,132},{132,102}}</string>
        <key>offset</key>
        <string>{-52,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{132,102}}</string>
        <key>sourceSize</key>
        <string>{137,107}</string>
      </dict>
      <key>monster_21031_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,658},{134,114}}</string>
        <key>offset</key>
        <string>{-50,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{134,114}}</string>
        <key>sourceSize</key>
        <string>{139,119}</string>
      </dict>
      <key>monster_21031_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,330},{140,116}}</string>
        <key>offset</key>
        <string>{-48,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{140,116}}</string>
        <key>sourceSize</key>
        <string>{144,122}</string>
      </dict>
      <key>monster_21031_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{146,110}}</string>
        <key>offset</key>
        <string>{-50,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{146,110}}</string>
        <key>sourceSize</key>
        <string>{149,114}</string>
      </dict>
      <key>monster_21031_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,658},{142,118}}</string>
        <key>offset</key>
        <string>{-54,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{142,118}}</string>
        <key>sourceSize</key>
        <string>{147,124}</string>
      </dict>
      <key>monster_21031_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,402},{182,94}}</string>
        <key>offset</key>
        <string>{-36,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,94}}</string>
        <key>sourceSize</key>
        <string>{209,100}</string>
      </dict>
      <key>monster_21031_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,350},{168,82}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{168,82}}</string>
        <key>sourceSize</key>
        <string>{194,87}</string>
      </dict>
      <key>monster_21031_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,168},{160,86}}</string>
        <key>offset</key>
        <string>{-31,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{160,86}}</string>
        <key>sourceSize</key>
        <string>{192,93}</string>
      </dict>
      <key>monster_21031_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{166,98}}</string>
        <key>offset</key>
        <string>{-35,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{166,98}}</string>
        <key>sourceSize</key>
        <string>{197,104}</string>
      </dict>
      <key>monster_21031_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,810},{172,96}}</string>
        <key>offset</key>
        <string>{-41,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{172,96}}</string>
        <key>sourceSize</key>
        <string>{205,101}</string>
      </dict>
      <key>monster_21031_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{174,98}}</string>
        <key>offset</key>
        <string>{-39,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{174,98}}</string>
        <key>sourceSize</key>
        <string>{207,105}</string>
      </dict>
      <key>monster_21031_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,194},{180,84}}</string>
        <key>offset</key>
        <string>{-36,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,5},{180,84}}</string>
        <key>sourceSize</key>
        <string>{189,92}</string>
      </dict>
      <key>monster_21031_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,176},{168,86}}</string>
        <key>offset</key>
        <string>{-26,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{168,86}}</string>
        <key>sourceSize</key>
        <string>{176,91}</string>
      </dict>
      <key>monster_21031_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,346},{166,88}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{166,88}}</string>
        <key>sourceSize</key>
        <string>{182,92}</string>
      </dict>
      <key>monster_21031_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,586},{172,86}}</string>
        <key>offset</key>
        <string>{-27,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{172,86}}</string>
        <key>sourceSize</key>
        <string>{180,92}</string>
      </dict>
      <key>monster_21031_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,810},{174,86}}</string>
        <key>offset</key>
        <string>{-28,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{174,86}}</string>
        <key>sourceSize</key>
        <string>{182,92}</string>
      </dict>
      <key>monster_21031_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,176},{172,84}}</string>
        <key>offset</key>
        <string>{-24,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{172,84}}</string>
        <key>sourceSize</key>
        <string>{178,91}</string>
      </dict>
      <key>monster_21031_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,360},{124,130}}</string>
        <key>offset</key>
        <string>{-32,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,6},{124,130}}</string>
        <key>sourceSize</key>
        <string>{129,139}</string>
      </dict>
      <key>monster_21031_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,794},{110,132}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,4},{110,132}}</string>
        <key>sourceSize</key>
        <string>{113,138}</string>
      </dict>
      <key>monster_21031_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,418},{118,132}}</string>
        <key>offset</key>
        <string>{-28,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,10},{118,132}}</string>
        <key>sourceSize</key>
        <string>{123,144}</string>
      </dict>
      <key>monster_21031_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,602},{120,128}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{120,128}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>monster_21031_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,616},{120,128}}</string>
        <key>offset</key>
        <string>{-19,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{120,128}}</string>
        <key>sourceSize</key>
        <string>{127,133}</string>
      </dict>
      <key>monster_21031_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,270},{118,132}}</string>
        <key>offset</key>
        <string>{-24,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{118,132}}</string>
        <key>sourceSize</key>
        <string>{122,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21031_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21031_0_1.png</string>
    </dict>
  </dict>
</plist>