<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20041_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{601,330}}</string>
        <key>offset</key>
        <string>{-114,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{601,330}}</string>
        <key>sourceSize</key>
        <string>{601,330}</string>
      </dict>
      <key>monster_20041_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{562,351}}</string>
        <key>offset</key>
        <string>{-115,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{562,351}}</string>
        <key>sourceSize</key>
        <string>{562,351}</string>
      </dict>
      <key>monster_20041_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,564},{530,398}}</string>
        <key>offset</key>
        <string>{-114,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,398}}</string>
        <key>sourceSize</key>
        <string>{530,398}</string>
      </dict>
      <key>monster_20041_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,603},{598,341}}</string>
        <key>offset</key>
        <string>{-106,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{598,341}}</string>
        <key>sourceSize</key>
        <string>{598,341}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20041_0_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_20041_0_0_7.png</string>
    </dict>
  </dict>
</plist>