<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21028_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,412},{198,160}}</string>
        <key>offset</key>
        <string>{-72,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{198,160}}</string>
        <key>sourceSize</key>
        <string>{199,164}</string>
      </dict>
      <key>monster_21028_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,206},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,412},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,618},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,206},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,412},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,618},{204,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{204,142}}</string>
        <key>sourceSize</key>
        <string>{206,146}</string>
      </dict>
      <key>monster_21028_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1094},{158,142}}</string>
        <key>offset</key>
        <string>{-82,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{158,142}}</string>
        <key>sourceSize</key>
        <string>{160,146}</string>
      </dict>
      <key>monster_21028_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,612},{198,158}}</string>
        <key>offset</key>
        <string>{-75,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{198,158}}</string>
        <key>sourceSize</key>
        <string>{199,163}</string>
      </dict>
      <key>monster_21028_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,824},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,206},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,412},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,618},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,824},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,206},{204,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{204,142}}</string>
        <key>sourceSize</key>
        <string>{205,147}</string>
      </dict>
      <key>monster_21028_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1798,1174},{158,142}}</string>
        <key>offset</key>
        <string>{-85,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{158,142}}</string>
        <key>sourceSize</key>
        <string>{160,147}</string>
      </dict>
      <key>monster_21028_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,920},{170,126}}</string>
        <key>offset</key>
        <string>{-39,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{170,126}}</string>
        <key>sourceSize</key>
        <string>{171,131}</string>
      </dict>
      <key>monster_21028_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,848},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,212},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,424},{210,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{212,125}</string>
      </dict>
      <key>monster_21028_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,0},{182,120}}</string>
        <key>offset</key>
        <string>{-68,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{182,120}}</string>
        <key>sourceSize</key>
        <string>{184,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,1092},{168,126}}</string>
        <key>offset</key>
        <string>{-48,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{168,126}}</string>
        <key>sourceSize</key>
        <string>{171,131}</string>
      </dict>
      <key>monster_21028_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,636},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,848},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,212},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,424},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,636},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,636},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,848},{210,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{210,120}}</string>
        <key>sourceSize</key>
        <string>{211,125}</string>
      </dict>
      <key>monster_21028_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1314,184},{182,120}}</string>
        <key>offset</key>
        <string>{-78,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,120}}</string>
        <key>sourceSize</key>
        <string>{183,125}</string>
      </dict>
      <key>monster_21028_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,918},{174,124}}</string>
        <key>offset</key>
        <string>{-45,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{174,124}}</string>
        <key>sourceSize</key>
        <string>{176,129}</string>
      </dict>
      <key>monster_21028_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,396},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,592},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,788},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1190,0},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1190,196},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,392},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1328,588},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,784},{194,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{194,122}}</string>
        <key>sourceSize</key>
        <string>{196,126}</string>
      </dict>
      <key>monster_21028_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1332,368},{182,122}}</string>
        <key>offset</key>
        <string>{-67,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{182,122}}</string>
        <key>sourceSize</key>
        <string>{184,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1832,836},{176,126}}</string>
        <key>offset</key>
        <string>{-38,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{176,126}}</string>
        <key>sourceSize</key>
        <string>{178,132}</string>
      </dict>
      <key>monster_21028_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,812},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,0},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,198},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,396},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,594},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,792},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,0},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,198},{196,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{196,122}}</string>
        <key>sourceSize</key>
        <string>{197,126}</string>
      </dict>
      <key>monster_21028_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1452,552},{182,122}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{182,122}}</string>
        <key>sourceSize</key>
        <string>{183,126}</string>
      </dict>
      <key>monster_21028_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,984},{170,158}}</string>
        <key>offset</key>
        <string>{-22,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{170,158}}</string>
        <key>sourceSize</key>
        <string>{173,162}</string>
      </dict>
      <key>monster_21028_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,184},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1436,0},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1868,184},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1868,366},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,736},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1720,552},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1864,548},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1864,692},{180,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{180,142}}</string>
        <key>sourceSize</key>
        <string>{182,146}</string>
      </dict>
      <key>monster_21028_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,968},{158,142}}</string>
        <key>offset</key>
        <string>{-27,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{158,142}}</string>
        <key>sourceSize</key>
        <string>{160,146}</string>
      </dict>
      <key>monster_21028_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1014},{172,158}}</string>
        <key>offset</key>
        <string>{-30,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{172,158}}</string>
        <key>sourceSize</key>
        <string>{174,163}</string>
      </dict>
      <key>monster_21028_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1544,736},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,0},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1872,0},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1436,184},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,368},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1580,184},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,552},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,368},{182,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{182,142}}</string>
        <key>sourceSize</key>
        <string>{183,147}</string>
      </dict>
      <key>monster_21028_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,968},{158,142}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,3},{158,142}}</string>
        <key>sourceSize</key>
        <string>{159,147}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21028_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_21028_0_4.png</string>
    </dict>
  </dict>
</plist>