<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20001_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{238,365}}</string>
        <key>offset</key>
        <string>{-80,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,365}}</string>
        <key>sourceSize</key>
        <string>{238,365}</string>
      </dict>
      <key>monster_20001_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,369},{212,360}}</string>
        <key>offset</key>
        <string>{-76,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,360}}</string>
        <key>sourceSize</key>
        <string>{212,360}</string>
      </dict>
      <key>monster_20001_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,0},{226,367}}</string>
        <key>offset</key>
        <string>{-82,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,367}}</string>
        <key>sourceSize</key>
        <string>{226,367}</string>
      </dict>
      <key>monster_20001_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,367},{238,365}}</string>
        <key>offset</key>
        <string>{-80,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,365}}</string>
        <key>sourceSize</key>
        <string>{238,365}</string>
      </dict>
      <key>monster_20001_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{275,381}}</string>
        <key>offset</key>
        <string>{-41,322}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,381}}</string>
        <key>sourceSize</key>
        <string>{275,381}</string>
      </dict>
      <key>monster_20001_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{262,378}}</string>
        <key>offset</key>
        <string>{-41,319}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,378}}</string>
        <key>sourceSize</key>
        <string>{262,378}</string>
      </dict>
      <key>monster_20001_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,383},{275,380}}</string>
        <key>offset</key>
        <string>{-41,321}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,380}}</string>
        <key>sourceSize</key>
        <string>{275,380}</string>
      </dict>
      <key>monster_20001_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{275,381}}</string>
        <key>offset</key>
        <string>{-41,322}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,381}}</string>
        <key>sourceSize</key>
        <string>{275,381}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20001_0_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20001_0_0_2.png</string>
    </dict>
  </dict>
</plist>