<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20073_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{293,374}}</string>
        <key>offset</key>
        <string>{-127,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,374}}</string>
        <key>sourceSize</key>
        <string>{293,374}</string>
      </dict>
      <key>monster_20073_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,551},{195,370}}</string>
        <key>offset</key>
        <string>{-73,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,370}}</string>
        <key>sourceSize</key>
        <string>{195,370}</string>
      </dict>
      <key>monster_20073_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{254,379}}</string>
        <key>offset</key>
        <string>{-101,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,379}}</string>
        <key>sourceSize</key>
        <string>{254,379}</string>
      </dict>
      <key>monster_20073_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,551},{293,374}}</string>
        <key>offset</key>
        <string>{-127,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,374}}</string>
        <key>sourceSize</key>
        <string>{293,374}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20073_0_0_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_20073_0_0_0.png</string>
    </dict>
  </dict>
</plist>