<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20015_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,417},{93,198}}</string>
        <key>offset</key>
        <string>{-31,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,198}}</string>
        <key>sourceSize</key>
        <string>{93,198}</string>
      </dict>
      <key>monster_20015_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{99,199}}</string>
        <key>offset</key>
        <string>{-37,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,199}}</string>
        <key>sourceSize</key>
        <string>{99,199}</string>
      </dict>
      <key>monster_20015_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{93,200}}</string>
        <key>offset</key>
        <string>{-34,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,200}}</string>
        <key>sourceSize</key>
        <string>{93,200}</string>
      </dict>
      <key>monster_20015_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,316},{99,199}}</string>
        <key>offset</key>
        <string>{-35,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,199}}</string>
        <key>sourceSize</key>
        <string>{99,199}</string>
      </dict>
      <key>monster_20015_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,201},{94,198}}</string>
        <key>offset</key>
        <string>{-33,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,198}}</string>
        <key>sourceSize</key>
        <string>{94,198}</string>
      </dict>
      <key>monster_20015_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,114},{93,198}}</string>
        <key>offset</key>
        <string>{-31,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,198}}</string>
        <key>sourceSize</key>
        <string>{93,198}</string>
      </dict>
      <key>monster_20015_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,114},{100,198}}</string>
        <key>offset</key>
        <string>{-36,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,198}}</string>
        <key>sourceSize</key>
        <string>{100,198}</string>
      </dict>
      <key>monster_20015_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,202}}</string>
        <key>offset</key>
        <string>{-33,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,202}}</string>
        <key>sourceSize</key>
        <string>{93,202}</string>
      </dict>
      <key>monster_20015_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{93,202}}</string>
        <key>offset</key>
        <string>{-34,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,202}}</string>
        <key>sourceSize</key>
        <string>{93,202}</string>
      </dict>
      <key>monster_20015_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{112,200}}</string>
        <key>offset</key>
        <string>{-39,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,200}}</string>
        <key>sourceSize</key>
        <string>{112,200}</string>
      </dict>
      <key>monster_20015_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,114},{108,200}}</string>
        <key>offset</key>
        <string>{-31,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,200}}</string>
        <key>sourceSize</key>
        <string>{108,200}</string>
      </dict>
      <key>monster_20015_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,401},{100,198}}</string>
        <key>offset</key>
        <string>{-36,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,198}}</string>
        <key>sourceSize</key>
        <string>{100,198}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20015_0_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20015_0_1_2.png</string>
    </dict>
  </dict>
</plist>