<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21019_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,462},{130,118}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{130,118}}</string>
        <key>sourceSize</key>
        <string>{132,123}</string>
      </dict>
      <key>monster_21019_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,298},{130,118}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{130,118}}</string>
        <key>sourceSize</key>
        <string>{132,123}</string>
      </dict>
      <key>monster_21019_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,478},{142,112}}</string>
        <key>offset</key>
        <string>{-45,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{142,112}}</string>
        <key>sourceSize</key>
        <string>{144,117}</string>
      </dict>
      <key>monster_21019_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,680},{158,106}}</string>
        <key>offset</key>
        <string>{-70,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{158,106}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>monster_21019_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,272},{114,110}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,3},{114,110}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>monster_21019_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,132},{114,110}}</string>
        <key>offset</key>
        <string>{-27,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,3},{114,110}}</string>
        <key>sourceSize</key>
        <string>{119,115}</string>
      </dict>
      <key>monster_21019_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{168,110}}</string>
        <key>offset</key>
        <string>{-58,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{168,110}}</string>
        <key>sourceSize</key>
        <string>{169,115}</string>
      </dict>
      <key>monster_21019_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,858},{164,102}}</string>
        <key>offset</key>
        <string>{-58,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{164,102}}</string>
        <key>sourceSize</key>
        <string>{167,110}</string>
      </dict>
      <key>monster_21019_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,176},{170,126}}</string>
        <key>offset</key>
        <string>{-52,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{170,126}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>monster_21019_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,518},{166,106}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{166,106}}</string>
        <key>sourceSize</key>
        <string>{167,111}</string>
      </dict>
      <key>monster_21019_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,318},{142,104}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{142,104}}</string>
        <key>sourceSize</key>
        <string>{148,109}</string>
      </dict>
      <key>monster_21019_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,756},{126,106}}</string>
        <key>offset</key>
        <string>{-28,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{126,106}}</string>
        <key>sourceSize</key>
        <string>{128,111}</string>
      </dict>
      <key>monster_21019_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,140},{130,108}}</string>
        <key>offset</key>
        <string>{-40,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{130,108}}</string>
        <key>sourceSize</key>
        <string>{132,112}</string>
      </dict>
      <key>monster_21019_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,884},{124,106}}</string>
        <key>offset</key>
        <string>{-38,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{124,106}}</string>
        <key>sourceSize</key>
        <string>{126,111}</string>
      </dict>
      <key>monster_21019_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,858},{164,122}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,4},{164,122}}</string>
        <key>sourceSize</key>
        <string>{173,128}</string>
      </dict>
      <key>monster_21019_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,348},{166,92}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{166,92}}</string>
        <key>sourceSize</key>
        <string>{168,96}</string>
      </dict>
      <key>monster_21019_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,518},{168,92}}</string>
        <key>offset</key>
        <string>{-7,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{168,92}}</string>
        <key>sourceSize</key>
        <string>{170,97}</string>
      </dict>
      <key>monster_21019_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{112,98}}</string>
        <key>offset</key>
        <string>{-6,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{112,98}}</string>
        <key>sourceSize</key>
        <string>{116,103}</string>
      </dict>
      <key>monster_21019_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,388},{86,110}}</string>
        <key>offset</key>
        <string>{-19,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{86,110}}</string>
        <key>sourceSize</key>
        <string>{88,114}</string>
      </dict>
      <key>monster_21019_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,714},{82,112}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,2},{82,112}}</string>
        <key>sourceSize</key>
        <string>{86,116}</string>
      </dict>
      <key>monster_21019_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{160,108}}</string>
        <key>offset</key>
        <string>{-42,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{160,108}}</string>
        <key>sourceSize</key>
        <string>{172,115}</string>
      </dict>
      <key>monster_21019_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,804},{134,96}}</string>
        <key>offset</key>
        <string>{-36,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{134,96}}</string>
        <key>sourceSize</key>
        <string>{135,101}</string>
      </dict>
      <key>monster_21019_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,840},{148,86}}</string>
        <key>offset</key>
        <string>{-29,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{148,86}}</string>
        <key>sourceSize</key>
        <string>{151,90}</string>
      </dict>
      <key>monster_21019_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{152,86}}</string>
        <key>offset</key>
        <string>{-26,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{152,86}}</string>
        <key>sourceSize</key>
        <string>{154,91}</string>
      </dict>
      <key>monster_21019_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,0},{130,112}}</string>
        <key>offset</key>
        <string>{-29,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{130,112}}</string>
        <key>sourceSize</key>
        <string>{132,117}</string>
      </dict>
      <key>monster_21019_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,154},{142,114}}</string>
        <key>offset</key>
        <string>{-36,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{142,114}}</string>
        <key>sourceSize</key>
        <string>{145,121}</string>
      </dict>
      <key>monster_21019_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,336},{158,98}}</string>
        <key>offset</key>
        <string>{-32,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,6},{158,98}}</string>
        <key>sourceSize</key>
        <string>{165,106}</string>
      </dict>
      <key>monster_21019_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,594},{118,110}}</string>
        <key>offset</key>
        <string>{-29,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{118,110}}</string>
        <key>sourceSize</key>
        <string>{120,115}</string>
      </dict>
      <key>monster_21019_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,430},{118,108}}</string>
        <key>offset</key>
        <string>{-28,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{118,108}}</string>
        <key>sourceSize</key>
        <string>{119,112}</string>
      </dict>
      <key>monster_21019_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,162},{158,94}}</string>
        <key>offset</key>
        <string>{-27,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{158,94}}</string>
        <key>sourceSize</key>
        <string>{159,98}</string>
      </dict>
      <key>monster_21019_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,248},{90,110}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{90,110}}</string>
        <key>sourceSize</key>
        <string>{91,114}</string>
      </dict>
      <key>monster_21019_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,550},{92,112}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{92,112}}</string>
        <key>sourceSize</key>
        <string>{95,116}</string>
      </dict>
      <key>monster_21019_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,322},{154,108}}</string>
        <key>offset</key>
        <string>{-72,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,5},{154,108}}</string>
        <key>sourceSize</key>
        <string>{158,115}</string>
      </dict>
      <key>monster_21019_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,840},{146,96}}</string>
        <key>offset</key>
        <string>{-60,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{146,96}}</string>
        <key>sourceSize</key>
        <string>{148,101}</string>
      </dict>
      <key>monster_21019_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,516},{162,86}}</string>
        <key>offset</key>
        <string>{-77,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{162,86}}</string>
        <key>sourceSize</key>
        <string>{164,90}</string>
      </dict>
      <key>monster_21019_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{152,86}}</string>
        <key>offset</key>
        <string>{-67,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{152,86}}</string>
        <key>sourceSize</key>
        <string>{153,91}</string>
      </dict>
      <key>monster_21019_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,656},{146,108}}</string>
        <key>offset</key>
        <string>{-34,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{146,108}}</string>
        <key>sourceSize</key>
        <string>{148,113}</string>
      </dict>
      <key>monster_21019_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{138,106}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{138,106}}</string>
        <key>sourceSize</key>
        <string>{140,111}</string>
      </dict>
      <key>monster_21019_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,122}}</string>
        <key>offset</key>
        <string>{-84,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{174,122}}</string>
        <key>sourceSize</key>
        <string>{181,129}</string>
      </dict>
      <key>monster_21019_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{170,92}}</string>
        <key>offset</key>
        <string>{-102,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{170,92}}</string>
        <key>sourceSize</key>
        <string>{173,96}</string>
      </dict>
      <key>monster_21019_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,686},{164,92}}</string>
        <key>offset</key>
        <string>{-95,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{164,92}}</string>
        <key>sourceSize</key>
        <string>{167,96}</string>
      </dict>
      <key>monster_21019_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,114},{100,98}}</string>
        <key>offset</key>
        <string>{-28,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{100,98}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>monster_21019_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,496},{158,108}}</string>
        <key>offset</key>
        <string>{-50,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{158,108}}</string>
        <key>sourceSize</key>
        <string>{160,112}</string>
      </dict>
      <key>monster_21019_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,172},{162,100}}</string>
        <key>offset</key>
        <string>{-51,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{162,100}}</string>
        <key>sourceSize</key>
        <string>{164,106}</string>
      </dict>
      <key>monster_21019_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{168,124}}</string>
        <key>offset</key>
        <string>{-55,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{168,124}}</string>
        <key>sourceSize</key>
        <string>{173,131}</string>
      </dict>
      <key>monster_21019_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,162},{154,102}}</string>
        <key>offset</key>
        <string>{-85,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{154,102}}</string>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>monster_21019_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,622},{132,102}}</string>
        <key>offset</key>
        <string>{-60,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{132,102}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>monster_21019_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,884},{126,104}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{126,104}}</string>
        <key>sourceSize</key>
        <string>{127,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21019_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21019_0_2.png</string>
    </dict>
  </dict>
</plist>