<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_21046_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,260},{210,140}}</string>
        <key>offset</key>
        <string>{-30,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{210,140}}</string>
        <key>sourceSize</key>
        <string>{222,154}</string>
      </dict>
      <key>monster_21046_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,532},{232,142}}</string>
        <key>offset</key>
        <string>{-41,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{232,142}}</string>
        <key>sourceSize</key>
        <string>{247,154}</string>
      </dict>
      <key>monster_21046_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,758},{222,136}}</string>
        <key>offset</key>
        <string>{-90,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,7},{222,136}}</string>
        <key>sourceSize</key>
        <string>{237,154}</string>
      </dict>
      <key>monster_21046_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,758},{214,134}}</string>
        <key>offset</key>
        <string>{-91,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,6},{214,134}}</string>
        <key>sourceSize</key>
        <string>{232,149}</string>
      </dict>
      <key>monster_21046_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,260},{206,144}}</string>
        <key>offset</key>
        <string>{-99,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,5},{206,144}}</string>
        <key>sourceSize</key>
        <string>{222,159}</string>
      </dict>
      <key>monster_21046_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{196,144}}</string>
        <key>offset</key>
        <string>{-85,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,6},{196,144}}</string>
        <key>sourceSize</key>
        <string>{212,159}</string>
      </dict>
      <key>monster_21046_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{172,152}}</string>
        <key>offset</key>
        <string>{-60,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,7},{172,152}}</string>
        <key>sourceSize</key>
        <string>{187,169}</string>
      </dict>
      <key>monster_21046_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{188,168}}</string>
        <key>offset</key>
        <string>{-79,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,5},{188,168}}</string>
        <key>sourceSize</key>
        <string>{202,184}</string>
      </dict>
      <key>monster_21046_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{232,158}}</string>
        <key>offset</key>
        <string>{-107,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,7},{232,158}}</string>
        <key>sourceSize</key>
        <string>{247,174}</string>
      </dict>
      <key>monster_21046_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,166}}</string>
        <key>offset</key>
        <string>{-122,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{266,166}}</string>
        <key>sourceSize</key>
        <string>{282,179}</string>
      </dict>
      <key>monster_21046_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{258,158}}</string>
        <key>offset</key>
        <string>{-85,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,8},{258,158}}</string>
        <key>sourceSize</key>
        <string>{277,174}</string>
      </dict>
      <key>monster_21046_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{262,174}}</string>
        <key>offset</key>
        <string>{-84,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{262,174}}</string>
        <key>sourceSize</key>
        <string>{277,189}</string>
      </dict>
      <key>monster_21046_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{186,178}}</string>
        <key>offset</key>
        <string>{-32,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{186,178}}</string>
        <key>sourceSize</key>
        <string>{202,194}</string>
      </dict>
      <key>monster_21046_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,198},{178,190}}</string>
        <key>offset</key>
        <string>{-35,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,4},{178,190}}</string>
        <key>sourceSize</key>
        <string>{197,204}</string>
      </dict>
      <key>monster_21046_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,472},{208,170}}</string>
        <key>offset</key>
        <string>{-49,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,4},{208,170}}</string>
        <key>sourceSize</key>
        <string>{227,184}</string>
      </dict>
      <key>monster_21046_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,532},{224,170}}</string>
        <key>offset</key>
        <string>{-46,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,4},{224,170}}</string>
        <key>sourceSize</key>
        <string>{242,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_21046_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_21046_0_7.png</string>
    </dict>
  </dict>
</plist>