<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20026_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{143,185}}</string>
        <key>offset</key>
        <string>{-78,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,185}}</string>
        <key>sourceSize</key>
        <string>{143,185}</string>
      </dict>
      <key>monster_20026_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,210}}</string>
        <key>offset</key>
        <string>{-85,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,210}}</string>
        <key>sourceSize</key>
        <string>{157,210}</string>
      </dict>
      <key>monster_20026_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{167,191}}</string>
        <key>offset</key>
        <string>{-82,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,191}}</string>
        <key>sourceSize</key>
        <string>{167,191}</string>
      </dict>
      <key>monster_20026_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,514},{150,169}}</string>
        <key>offset</key>
        <string>{-81,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,169}}</string>
        <key>sourceSize</key>
        <string>{150,169}</string>
      </dict>
      <key>monster_20026_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{157,180}}</string>
        <key>offset</key>
        <string>{-80,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,180}}</string>
        <key>sourceSize</key>
        <string>{157,180}</string>
      </dict>
      <key>monster_20026_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,514},{164,167}}</string>
        <key>offset</key>
        <string>{-77,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,167}}</string>
        <key>sourceSize</key>
        <string>{164,167}</string>
      </dict>
      <key>monster_20026_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,169},{181,162}}</string>
        <key>offset</key>
        <string>{-77,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,162}}</string>
        <key>sourceSize</key>
        <string>{181,162}</string>
      </dict>
      <key>monster_20026_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,624},{160,154}}</string>
        <key>offset</key>
        <string>{-77,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,154}}</string>
        <key>sourceSize</key>
        <string>{160,154}</string>
      </dict>
      <key>monster_20026_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{170,159}}</string>
        <key>offset</key>
        <string>{-77,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,159}}</string>
        <key>sourceSize</key>
        <string>{170,159}</string>
      </dict>
      <key>monster_20026_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,333},{179,180}}</string>
        <key>offset</key>
        <string>{-77,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,180}}</string>
        <key>sourceSize</key>
        <string>{179,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20026_0_4_4.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>monster_20026_0_4_4.png</string>
    </dict>
  </dict>
</plist>