<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20057_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,213},{166,208}}</string>
        <key>offset</key>
        <string>{-75,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,208}}</string>
        <key>sourceSize</key>
        <string>{166,208}</string>
      </dict>
      <key>monster_20057_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{173,205}}</string>
        <key>offset</key>
        <string>{-74,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,205}}</string>
        <key>sourceSize</key>
        <string>{173,205}</string>
      </dict>
      <key>monster_20057_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{175,210}}</string>
        <key>offset</key>
        <string>{-79,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,210}}</string>
        <key>sourceSize</key>
        <string>{175,210}</string>
      </dict>
      <key>monster_20057_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,211}}</string>
        <key>offset</key>
        <string>{-79,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,211}}</string>
        <key>sourceSize</key>
        <string>{176,211}</string>
      </dict>
      <key>monster_20057_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{170,208}}</string>
        <key>offset</key>
        <string>{-77,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,208}}</string>
        <key>sourceSize</key>
        <string>{170,208}</string>
      </dict>
      <key>monster_20057_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,210},{166,208}}</string>
        <key>offset</key>
        <string>{-75,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,208}}</string>
        <key>sourceSize</key>
        <string>{166,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20057_0_1_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20057_0_1_1.png</string>
    </dict>
  </dict>
</plist>