<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20041_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{312,545}}</string>
        <key>offset</key>
        <string>{-157,421}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,545}}</string>
        <key>sourceSize</key>
        <string>{312,545}</string>
      </dict>
      <key>monster_20041_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,0},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,328},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,656},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,970},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,984},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1298},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_20041_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1626},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20041_0_4_4.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_20041_0_4_4.png</string>
    </dict>
  </dict>
</plist>