<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20003_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,251},{106,203}}</string>
        <key>offset</key>
        <string>{-48,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,203}}</string>
        <key>sourceSize</key>
        <string>{106,203}</string>
      </dict>
      <key>monster_20003_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,359},{194,202}}</string>
        <key>offset</key>
        <string>{-108,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,202}}</string>
        <key>sourceSize</key>
        <string>{194,202}</string>
      </dict>
      <key>monster_20003_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{282,205}}</string>
        <key>offset</key>
        <string>{-192,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,205}}</string>
        <key>sourceSize</key>
        <string>{282,205}</string>
      </dict>
      <key>monster_20003_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{290,188}}</string>
        <key>offset</key>
        <string>{-181,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,188}}</string>
        <key>sourceSize</key>
        <string>{290,188}</string>
      </dict>
      <key>monster_20003_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,284},{262,178}}</string>
        <key>offset</key>
        <string>{-51,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,178}}</string>
        <key>sourceSize</key>
        <string>{262,178}</string>
      </dict>
      <key>monster_20003_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{282,188}}</string>
        <key>offset</key>
        <string>{-71,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,188}}</string>
        <key>sourceSize</key>
        <string>{282,188}</string>
      </dict>
      <key>monster_20003_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,409},{171,179}}</string>
        <key>offset</key>
        <string>{-76,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,179}}</string>
        <key>sourceSize</key>
        <string>{171,179}</string>
      </dict>
      <key>monster_20003_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,210},{197,189}}</string>
        <key>offset</key>
        <string>{-102,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,189}}</string>
        <key>sourceSize</key>
        <string>{197,189}</string>
      </dict>
      <key>monster_20003_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{249,231}}</string>
        <key>offset</key>
        <string>{-157,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,231}}</string>
        <key>sourceSize</key>
        <string>{249,231}</string>
      </dict>
      <key>monster_20003_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{281,237}}</string>
        <key>offset</key>
        <string>{-144,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,237}}</string>
        <key>sourceSize</key>
        <string>{281,237}</string>
      </dict>
      <key>monster_20003_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{208,243}}</string>
        <key>offset</key>
        <string>{-42,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,243}}</string>
        <key>sourceSize</key>
        <string>{208,243}</string>
      </dict>
      <key>monster_20003_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,210},{206,218}}</string>
        <key>offset</key>
        <string>{-17,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,218}}</string>
        <key>sourceSize</key>
        <string>{206,218}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20003_0_2_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_20003_0_2_1.png</string>
    </dict>
  </dict>
</plist>