<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20003_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,143},{159,195}}</string>
        <key>offset</key>
        <string>{-59,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,195}}</string>
        <key>sourceSize</key>
        <string>{159,195}</string>
      </dict>
      <key>monster_20003_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,308},{161,196}}</string>
        <key>offset</key>
        <string>{-60,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,196}}</string>
        <key>sourceSize</key>
        <string>{161,196}</string>
      </dict>
      <key>monster_20003_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,143},{163,199}}</string>
        <key>offset</key>
        <string>{-62,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,199}}</string>
        <key>sourceSize</key>
        <string>{163,199}</string>
      </dict>
      <key>monster_20003_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,308},{166,199}}</string>
        <key>offset</key>
        <string>{-63,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,199}}</string>
        <key>sourceSize</key>
        <string>{166,199}</string>
      </dict>
      <key>monster_20003_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{141,205}}</string>
        <key>offset</key>
        <string>{-38,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,205}}</string>
        <key>sourceSize</key>
        <string>{141,205}</string>
      </dict>
      <key>monster_20003_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{142,206}}</string>
        <key>offset</key>
        <string>{-38,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,206}}</string>
        <key>sourceSize</key>
        <string>{142,206}</string>
      </dict>
      <key>monster_20003_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,208}}</string>
        <key>offset</key>
        <string>{-38,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,208}}</string>
        <key>sourceSize</key>
        <string>{143,208}</string>
      </dict>
      <key>monster_20003_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{144,208}}</string>
        <key>offset</key>
        <string>{-38,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,208}}</string>
        <key>sourceSize</key>
        <string>{144,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20003_0_0_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_20003_0_0_2.png</string>
    </dict>
  </dict>
</plist>