<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20041_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,678},{647,302}}</string>
        <key>offset</key>
        <string>{-472,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{647,302}}</string>
        <key>sourceSize</key>
        <string>{647,302}</string>
      </dict>
      <key>monster_20041_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,0},{610,348}}</string>
        <key>offset</key>
        <string>{-417,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{610,348}}</string>
        <key>sourceSize</key>
        <string>{610,348}</string>
      </dict>
      <key>monster_20041_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,0},{445,447}}</string>
        <key>offset</key>
        <string>{-275,340}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,447}}</string>
        <key>sourceSize</key>
        <string>{445,447}</string>
      </dict>
      <key>monster_20041_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{719,296}}</string>
        <key>offset</key>
        <string>{-400,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{719,296}}</string>
        <key>sourceSize</key>
        <string>{719,296}</string>
      </dict>
      <key>monster_20041_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{676,362}}</string>
        <key>offset</key>
        <string>{-378,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{676,362}}</string>
        <key>sourceSize</key>
        <string>{676,362}</string>
      </dict>
      <key>monster_20041_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,721},{655,297}}</string>
        <key>offset</key>
        <string>{-423,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{655,297}}</string>
        <key>sourceSize</key>
        <string>{655,297}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20041_0_2_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_20041_0_2_2.png</string>
    </dict>
  </dict>
</plist>