<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20003_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{188,156}}</string>
        <key>offset</key>
        <string>{-93,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,36},{188,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{190,160}}</string>
        <key>offset</key>
        <string>{-91,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,30},{190,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,304},{184,160}}</string>
        <key>offset</key>
        <string>{-88,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,26},{184,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,312},{184,150}}</string>
        <key>offset</key>
        <string>{-87,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{16,34},{184,150}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{186,142}}</string>
        <key>offset</key>
        <string>{-88,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,38},{186,142}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,144},{186,158}}</string>
        <key>offset</key>
        <string>{-88,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,28},{186,158}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,720},{146,176}}</string>
        <key>offset</key>
        <string>{-105,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,11},{146,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{162,178}}</string>
        <key>offset</key>
        <string>{-112,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,12},{162,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{168,184}}</string>
        <key>offset</key>
        <string>{-110,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,10},{168,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{176,168}}</string>
        <key>offset</key>
        <string>{-105,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,24},{176,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,968},{160,170}}</string>
        <key>offset</key>
        <string>{-105,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,19},{160,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,466},{156,178}}</string>
        <key>offset</key>
        <string>{-107,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,15},{156,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{98,188}}</string>
        <key>offset</key>
        <string>{-109,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{37,0},{98,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,464},{96,180}}</string>
        <key>offset</key>
        <string>{-108,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{39,2},{96,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,868},{98,174}}</string>
        <key>offset</key>
        <string>{-109,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{37,0},{98,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,666},{110,176}}</string>
        <key>offset</key>
        <string>{-112,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{28,5},{110,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,466},{100,178}}</string>
        <key>offset</key>
        <string>{-107,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,0},{100,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,562},{102,178}}</string>
        <key>offset</key>
        <string>{-108,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,-1},{102,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,930},{166,174}}</string>
        <key>offset</key>
        <string>{-103,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,5},{166,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1098},{146,168}}</string>
        <key>offset</key>
        <string>{-105,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,6},{146,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,892},{138,172}}</string>
        <key>offset</key>
        <string>{-110,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,4},{138,172}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1032},{130,166}}</string>
        <key>offset</key>
        <string>{-114,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,4},{130,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1246},{132,160}}</string>
        <key>offset</key>
        <string>{-114,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,5},{132,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1084},{146,160}}</string>
        <key>offset</key>
        <string>{-106,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,3},{146,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,264},{184,160}}</string>
        <key>offset</key>
        <string>{-89,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,17},{184,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,354},{184,158}}</string>
        <key>offset</key>
        <string>{-89,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,12},{184,158}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,426},{184,156}}</string>
        <key>offset</key>
        <string>{-89,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,8},{184,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,150},{186,160}}</string>
        <key>offset</key>
        <string>{-90,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,5},{186,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,208},{186,144}}</string>
        <key>offset</key>
        <string>{-89,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,15},{186,144}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{188,148}}</string>
        <key>offset</key>
        <string>{-89,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,12},{188,148}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,1062},{144,166}}</string>
        <key>offset</key>
        <string>{-50,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,7},{144,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,1050},{166,168}}</string>
        <key>offset</key>
        <string>{-60,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,-1},{166,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,1130},{160,162}}</string>
        <key>offset</key>
        <string>{-63,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,0},{160,162}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,916},{172,166}}</string>
        <key>offset</key>
        <string>{-62,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,11},{172,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,758},{162,176}}</string>
        <key>offset</key>
        <string>{-62,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,6},{162,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{160,182}}</string>
        <key>offset</key>
        <string>{-61,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{54,1},{160,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,514},{106,180}}</string>
        <key>offset</key>
        <string>{-63,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{79,-1},{106,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,624},{96,178}}</string>
        <key>offset</key>
        <string>{-68,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{79,0},{96,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,646},{104,174}}</string>
        <key>offset</key>
        <string>{-64,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,-1},{104,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,100},{106,188}}</string>
        <key>offset</key>
        <string>{-63,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{79,1},{106,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,192}}</string>
        <key>offset</key>
        <string>{-63,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,0},{104,192}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,162},{100,188}}</string>
        <key>offset</key>
        <string>{-65,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,0},{100,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,722},{168,174}}</string>
        <key>offset</key>
        <string>{-60,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,8},{168,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,892},{136,168}}</string>
        <key>offset</key>
        <string>{-68,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,13},{136,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,622},{134,178}}</string>
        <key>offset</key>
        <string>{-68,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,1},{134,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,922},{126,172}}</string>
        <key>offset</key>
        <string>{-64,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,10},{126,172}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,584},{134,180}}</string>
        <key>offset</key>
        <string>{-68,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,1},{134,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,778},{136,174}}</string>
        <key>offset</key>
        <string>{-67,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,5},{136,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20003_1_5.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>wings_20003_1_5.png</string>
    </dict>
  </dict>
</plist>