<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20003_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1264,336},{160,116}}</string>
        <key>offset</key>
        <string>{-85,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,55},{160,116}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,894},{164,124}}</string>
        <key>offset</key>
        <string>{-83,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,48},{164,124}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,708},{164,128}}</string>
        <key>offset</key>
        <string>{-83,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,49},{164,128}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,528},{164,128}}</string>
        <key>offset</key>
        <string>{-82,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,49},{164,128}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1332,498},{160,116}}</string>
        <key>offset</key>
        <string>{-85,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,55},{160,116}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,170},{164,124}}</string>
        <key>offset</key>
        <string>{-83,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,48},{164,124}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1336,0},{164,128}}</string>
        <key>offset</key>
        <string>{-83,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,49},{164,128}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,874},{164,128}}</string>
        <key>offset</key>
        <string>{-82,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,49},{164,128}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,336},{158,154}}</string>
        <key>offset</key>
        <string>{-117,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,26},{158,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,166},{158,154}}</string>
        <key>offset</key>
        <string>{-116,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,26},{158,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,160},{140,154}}</string>
        <key>offset</key>
        <string>{-107,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,26},{140,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,496},{148,156}}</string>
        <key>offset</key>
        <string>{-110,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,24},{148,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1466,0},{158,154}}</string>
        <key>offset</key>
        <string>{-117,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,26},{158,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,660},{158,154}}</string>
        <key>offset</key>
        <string>{-116,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,26},{158,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1622,0},{140,154}}</string>
        <key>offset</key>
        <string>{-107,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,26},{140,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1538,326},{148,156}}</string>
        <key>offset</key>
        <string>{-110,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,24},{148,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,366},{102,178}}</string>
        <key>offset</key>
        <string>{-106,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,1},{102,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,382},{104,184}}</string>
        <key>offset</key>
        <string>{-106,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,0},{104,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,192},{104,184}}</string>
        <key>offset</key>
        <string>{-106,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,6},{104,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,184},{104,180}}</string>
        <key>offset</key>
        <string>{-106,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,5},{104,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,182},{102,178}}</string>
        <key>offset</key>
        <string>{-106,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,1},{102,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{104,184}}</string>
        <key>offset</key>
        <string>{-106,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,0},{104,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,568},{104,184}}</string>
        <key>offset</key>
        <string>{-106,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,6},{104,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{104,180}}</string>
        <key>offset</key>
        <string>{-106,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,5},{104,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{150,182}}</string>
        <key>offset</key>
        <string>{-111,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,1},{150,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,0},{150,178}}</string>
        <key>offset</key>
        <string>{-112,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,0},{150,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,360},{144,174}}</string>
        <key>offset</key>
        <string>{-114,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,-1},{144,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1052,0},{144,172}}</string>
        <key>offset</key>
        <string>{-114,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,0},{144,172}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,372},{150,182}}</string>
        <key>offset</key>
        <string>{-111,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,1},{150,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,738},{150,178}}</string>
        <key>offset</key>
        <string>{-112,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,0},{150,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,180},{144,174}}</string>
        <key>offset</key>
        <string>{-114,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,-1},{144,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,720},{144,172}}</string>
        <key>offset</key>
        <string>{-114,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,0},{144,172}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,158}}</string>
        <key>offset</key>
        <string>{-88,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,17},{190,158}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{188,152}}</string>
        <key>offset</key>
        <string>{-87,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,14},{188,152}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{188,166}}</string>
        <key>offset</key>
        <string>{-87,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,7},{188,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{190,176}}</string>
        <key>offset</key>
        <string>{-87,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,0},{190,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{190,158}}</string>
        <key>offset</key>
        <string>{-88,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,17},{190,158}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,576},{188,152}}</string>
        <key>offset</key>
        <string>{-87,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,14},{188,152}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,766},{188,166}}</string>
        <key>offset</key>
        <string>{-87,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,7},{188,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{190,176}}</string>
        <key>offset</key>
        <string>{-87,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,0},{190,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,754},{160,184}}</string>
        <key>offset</key>
        <string>{-59,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,-1},{160,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,556},{160,182}}</string>
        <key>offset</key>
        <string>{-59,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,0},{160,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,546},{164,178}}</string>
        <key>offset</key>
        <string>{-61,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{52,2},{164,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,726},{150,176}}</string>
        <key>offset</key>
        <string>{-68,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{52,2},{150,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,186},{160,184}}</string>
        <key>offset</key>
        <string>{-59,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,-1},{160,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,372},{160,182}}</string>
        <key>offset</key>
        <string>{-59,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,0},{160,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,362},{164,178}}</string>
        <key>offset</key>
        <string>{-61,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{52,2},{164,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,542},{150,176}}</string>
        <key>offset</key>
        <string>{-68,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{52,2},{150,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,184},{106,182}}</string>
        <key>offset</key>
        <string>{-61,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,0},{106,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,180},{106,178}}</string>
        <key>offset</key>
        <string>{-61,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,4},{106,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,922},{100,176}}</string>
        <key>offset</key>
        <string>{-65,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,2},{100,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,192},{100,188}}</string>
        <key>offset</key>
        <string>{-65,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{80,0},{100,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{106,182}}</string>
        <key>offset</key>
        <string>{-61,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,0},{106,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,0},{106,178}}</string>
        <key>offset</key>
        <string>{-61,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,4},{106,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,918},{100,176}}</string>
        <key>offset</key>
        <string>{-65,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,2},{100,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,382},{100,188}}</string>
        <key>offset</key>
        <string>{-65,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{80,0},{100,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,694},{158,162}}</string>
        <key>offset</key>
        <string>{-55,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,18},{158,162}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,740},{158,180}}</string>
        <key>offset</key>
        <string>{-55,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,14},{158,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,174},{136,168}}</string>
        <key>offset</key>
        <string>{-65,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,19},{136,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,536},{146,170}}</string>
        <key>offset</key>
        <string>{-59,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{63,17},{146,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,858},{158,162}}</string>
        <key>offset</key>
        <string>{-55,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,18},{158,162}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,556},{158,180}}</string>
        <key>offset</key>
        <string>{-55,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,14},{158,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1198,0},{136,168}}</string>
        <key>offset</key>
        <string>{-65,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,19},{136,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,356},{146,170}}</string>
        <key>offset</key>
        <string>{-59,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{63,17},{146,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20003_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>wings_20003_0_0.png</string>
    </dict>
  </dict>
</plist>