<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,514},{160,106}}</string>
        <key>offset</key>
        <string>{-100,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,83},{160,106}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,700},{162,144}}</string>
        <key>offset</key>
        <string>{-99,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,44},{162,144}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,864},{162,136}}</string>
        <key>offset</key>
        <string>{-99,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,48},{162,136}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,864},{138,154}}</string>
        <key>offset</key>
        <string>{-115,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,46},{138,154}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{104,180}}</string>
        <key>offset</key>
        <string>{-115,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,16},{104,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{112,182}}</string>
        <key>offset</key>
        <string>{-115,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{24,22},{112,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,370},{146,178}}</string>
        <key>offset</key>
        <string>{-117,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,16},{146,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,186},{118,178}}</string>
        <key>offset</key>
        <string>{-118,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,4},{118,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,184}}</string>
        <key>offset</key>
        <string>{-117,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,3},{118,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{172,180}}</string>
        <key>offset</key>
        <string>{-105,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,1},{172,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,734},{170,158}}</string>
        <key>offset</key>
        <string>{-100,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,1},{170,158}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,734},{170,156}}</string>
        <key>offset</key>
        <string>{-100,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,3},{170,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,180},{166,166}}</string>
        <key>offset</key>
        <string>{-72,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{40,14},{166,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{166,162}}</string>
        <key>offset</key>
        <string>{-74,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,5},{166,162}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,532},{166,160}}</string>
        <key>offset</key>
        <string>{-73,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{39,3},{166,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,550},{136,170}}</string>
        <key>offset</key>
        <string>{-48,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,16},{136,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{114,178}}</string>
        <key>offset</key>
        <string>{-57,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,3},{114,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,180},{120,178}}</string>
        <key>offset</key>
        <string>{-54,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,3},{120,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,348},{148,150}}</string>
        <key>offset</key>
        <string>{-55,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,44},{148,150}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{130,178}}</string>
        <key>offset</key>
        <string>{-52,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{78,15},{130,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,360},{126,170}}</string>
        <key>offset</key>
        <string>{-54,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{78,20},{126,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,906},{164,102}}</string>
        <key>offset</key>
        <string>{-63,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,78},{164,102}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,348},{164,136}}</string>
        <key>offset</key>
        <string>{-64,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{49,47},{164,136}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,700},{162,138}}</string>
        <key>offset</key>
        <string>{-62,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,44},{162,138}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20006_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>wings_20006_0_7.png</string>
    </dict>
  </dict>
</plist>