<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_3004_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,101}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,101}}</string>
        <key>sourceSize</key>
        <string>{135,101}</string>
      </dict>
      <key>wings_3004_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{134,98}}</string>
        <key>offset</key>
        <string>{-43,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,98}}</string>
        <key>sourceSize</key>
        <string>{134,98}</string>
      </dict>
      <key>wings_3004_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,548},{134,103}}</string>
        <key>offset</key>
        <string>{-42,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,103}}</string>
        <key>sourceSize</key>
        <string>{134,103}</string>
      </dict>
      <key>wings_3004_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,411},{134,106}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,106}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>wings_3004_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,274},{134,102}}</string>
        <key>offset</key>
        <string>{-42,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,102}}</string>
        <key>sourceSize</key>
        <string>{134,102}</string>
      </dict>
      <key>wings_3004_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{135,98}}</string>
        <key>offset</key>
        <string>{-44,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,98}}</string>
        <key>sourceSize</key>
        <string>{135,98}</string>
      </dict>
      <key>wings_3004_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,410},{102,124}}</string>
        <key>offset</key>
        <string>{-47,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,124}}</string>
        <key>sourceSize</key>
        <string>{102,124}</string>
      </dict>
      <key>wings_3004_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,132},{109,122}}</string>
        <key>offset</key>
        <string>{-49,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,122}}</string>
        <key>sourceSize</key>
        <string>{109,122}</string>
      </dict>
      <key>wings_3004_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,536},{112,119}}</string>
        <key>offset</key>
        <string>{-50,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,119}}</string>
        <key>sourceSize</key>
        <string>{112,119}</string>
      </dict>
      <key>wings_3004_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,776},{115,116}}</string>
        <key>offset</key>
        <string>{-51,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,116}}</string>
        <key>sourceSize</key>
        <string>{115,116}</string>
      </dict>
      <key>wings_3004_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,394},{113,118}}</string>
        <key>offset</key>
        <string>{-51,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>wings_3004_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{108,122}}</string>
        <key>offset</key>
        <string>{-49,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,122}}</string>
        <key>sourceSize</key>
        <string>{108,122}</string>
      </dict>
      <key>wings_3004_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,136},{57,130}}</string>
        <key>offset</key>
        <string>{-27,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,130}}</string>
        <key>sourceSize</key>
        <string>{57,130}</string>
      </dict>
      <key>wings_3004_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,816},{53,128}}</string>
        <key>offset</key>
        <string>{-24,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,128}}</string>
        <key>sourceSize</key>
        <string>{53,128}</string>
      </dict>
      <key>wings_3004_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,547},{58,127}}</string>
        <key>offset</key>
        <string>{-27,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,127}}</string>
        <key>sourceSize</key>
        <string>{58,127}</string>
      </dict>
      <key>wings_3004_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,816},{60,128}}</string>
        <key>offset</key>
        <string>{-29,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,128}}</string>
        <key>sourceSize</key>
        <string>{60,128}</string>
      </dict>
      <key>wings_3004_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,410},{57,127}}</string>
        <key>offset</key>
        <string>{-27,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,127}}</string>
        <key>sourceSize</key>
        <string>{57,127}</string>
      </dict>
      <key>wings_3004_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{52,130}}</string>
        <key>offset</key>
        <string>{-24,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,130}}</string>
        <key>sourceSize</key>
        <string>{52,130}</string>
      </dict>
      <key>wings_3004_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{112,117}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,117}}</string>
        <key>sourceSize</key>
        <string>{112,117}</string>
      </dict>
      <key>wings_3004_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,789},{107,117}}</string>
        <key>offset</key>
        <string>{-48,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,117}}</string>
        <key>sourceSize</key>
        <string>{107,117}</string>
      </dict>
      <key>wings_3004_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,894},{103,116}}</string>
        <key>offset</key>
        <string>{-46,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,116}}</string>
        <key>sourceSize</key>
        <string>{103,116}</string>
      </dict>
      <key>wings_3004_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,376},{100,115}}</string>
        <key>offset</key>
        <string>{-45,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,115}}</string>
        <key>sourceSize</key>
        <string>{100,115}</string>
      </dict>
      <key>wings_3004_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,908},{102,117}}</string>
        <key>offset</key>
        <string>{-46,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,117}}</string>
        <key>sourceSize</key>
        <string>{102,117}</string>
      </dict>
      <key>wings_3004_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{108,114}}</string>
        <key>offset</key>
        <string>{-48,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,114}}</string>
        <key>sourceSize</key>
        <string>{108,114}</string>
      </dict>
      <key>wings_3004_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{135,92}}</string>
        <key>offset</key>
        <string>{-42,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,92}}</string>
        <key>sourceSize</key>
        <string>{135,92}</string>
      </dict>
      <key>wings_3004_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{135,93}}</string>
        <key>offset</key>
        <string>{-44,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,93}}</string>
        <key>sourceSize</key>
        <string>{135,93}</string>
      </dict>
      <key>wings_3004_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,136},{134,92}}</string>
        <key>offset</key>
        <string>{-44,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,92}}</string>
        <key>sourceSize</key>
        <string>{134,92}</string>
      </dict>
      <key>wings_3004_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{134,93}}</string>
        <key>offset</key>
        <string>{-44,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,93}}</string>
        <key>sourceSize</key>
        <string>{134,93}</string>
      </dict>
      <key>wings_3004_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,274},{135,91}}</string>
        <key>offset</key>
        <string>{-44,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,91}}</string>
        <key>sourceSize</key>
        <string>{135,91}</string>
      </dict>
      <key>wings_3004_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,137},{135,91}}</string>
        <key>offset</key>
        <string>{-43,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,91}}</string>
        <key>sourceSize</key>
        <string>{135,91}</string>
      </dict>
      <key>wings_3004_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,256},{104,118}}</string>
        <key>offset</key>
        <string>{-9,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,118}}</string>
        <key>sourceSize</key>
        <string>{104,118}</string>
      </dict>
      <key>wings_3004_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,244},{108,115}}</string>
        <key>offset</key>
        <string>{-12,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,115}}</string>
        <key>sourceSize</key>
        <string>{108,115}</string>
      </dict>
      <key>wings_3004_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,894},{111,116}}</string>
        <key>offset</key>
        <string>{-14,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,116}}</string>
        <key>sourceSize</key>
        <string>{111,116}</string>
      </dict>
      <key>wings_3004_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,119},{115,115}}</string>
        <key>offset</key>
        <string>{-16,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,115}}</string>
        <key>sourceSize</key>
        <string>{115,115}</string>
      </dict>
      <key>wings_3004_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,514},{113,116}}</string>
        <key>offset</key>
        <string>{-15,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,116}}</string>
        <key>sourceSize</key>
        <string>{113,116}</string>
      </dict>
      <key>wings_3004_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,657},{107,117}}</string>
        <key>offset</key>
        <string>{-11,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,117}}</string>
        <key>sourceSize</key>
        <string>{107,117}</string>
      </dict>
      <key>wings_3004_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,679},{55,128}}</string>
        <key>offset</key>
        <string>{19,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,128}}</string>
        <key>sourceSize</key>
        <string>{55,128}</string>
      </dict>
      <key>wings_3004_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{53,130}}</string>
        <key>offset</key>
        <string>{19,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,130}}</string>
        <key>sourceSize</key>
        <string>{53,130}</string>
      </dict>
      <key>wings_3004_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,816},{56,130}}</string>
        <key>offset</key>
        <string>{18,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,130}}</string>
        <key>sourceSize</key>
        <string>{56,130}</string>
      </dict>
      <key>wings_3004_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,684},{61,130}}</string>
        <key>offset</key>
        <string>{16,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,130}}</string>
        <key>sourceSize</key>
        <string>{61,130}</string>
      </dict>
      <key>wings_3004_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,547},{57,130}}</string>
        <key>offset</key>
        <string>{18,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,130}}</string>
        <key>sourceSize</key>
        <string>{57,130}</string>
      </dict>
      <key>wings_3004_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,948},{53,129}}</string>
        <key>offset</key>
        <string>{19,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,129}}</string>
        <key>sourceSize</key>
        <string>{53,129}</string>
      </dict>
      <key>wings_3004_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,124},{111,118}}</string>
        <key>offset</key>
        <string>{-14,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,118}}</string>
        <key>sourceSize</key>
        <string>{111,118}</string>
      </dict>
      <key>wings_3004_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,666},{107,121}}</string>
        <key>offset</key>
        <string>{-11,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,121}}</string>
        <key>sourceSize</key>
        <string>{107,121}</string>
      </dict>
      <key>wings_3004_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,268},{103,124}}</string>
        <key>offset</key>
        <string>{-9,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,124}}</string>
        <key>sourceSize</key>
        <string>{103,124}</string>
      </dict>
      <key>wings_3004_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,676},{100,125}}</string>
        <key>offset</key>
        <string>{-7,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,125}}</string>
        <key>sourceSize</key>
        <string>{100,125}</string>
      </dict>
      <key>wings_3004_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,539},{103,125}}</string>
        <key>offset</key>
        <string>{-9,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,125}}</string>
        <key>sourceSize</key>
        <string>{103,125}</string>
      </dict>
      <key>wings_3004_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,803},{108,122}}</string>
        <key>offset</key>
        <string>{-12,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,122}}</string>
        <key>sourceSize</key>
        <string>{108,122}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_3004_1_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>wings_3004_1_1.png</string>
    </dict>
  </dict>
</plist>