<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20007_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{136,128}}</string>
        <key>offset</key>
        <string>{-54,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{136,128}}</string>
        <key>sourceSize</key>
        <string>{156,152}</string>
      </dict>
      <key>wings_20007_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,130},{126,130}}</string>
        <key>offset</key>
        <string>{-32,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,11},{126,130}}</string>
        <key>sourceSize</key>
        <string>{144,153}</string>
      </dict>
      <key>wings_20007_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,154},{128,148}}</string>
        <key>offset</key>
        <string>{-64,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,10},{128,148}}</string>
        <key>sourceSize</key>
        <string>{148,170}</string>
      </dict>
      <key>wings_20007_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,152}}</string>
        <key>offset</key>
        <string>{-55,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,9},{150,152}}</string>
        <key>sourceSize</key>
        <string>{172,173}</string>
      </dict>
      <key>wings_20007_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{94,142}}</string>
        <key>offset</key>
        <string>{-56,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,9},{94,142}}</string>
        <key>sourceSize</key>
        <string>{116,165}</string>
      </dict>
      <key>wings_20007_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,304},{140,142}}</string>
        <key>offset</key>
        <string>{-68,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,9},{140,142}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>wings_20007_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,336},{128,110}}</string>
        <key>offset</key>
        <string>{-67,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,11},{128,110}}</string>
        <key>sourceSize</key>
        <string>{152,132}</string>
      </dict>
      <key>wings_20007_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,130},{126,122}}</string>
        <key>offset</key>
        <string>{-70,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,8},{126,122}}</string>
        <key>sourceSize</key>
        <string>{148,139}</string>
      </dict>
      <key>wings_20007_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,258},{130,76}}</string>
        <key>offset</key>
        <string>{-50,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{130,76}}</string>
        <key>sourceSize</key>
        <string>{152,98}</string>
      </dict>
      <key>wings_20007_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{118,100}}</string>
        <key>offset</key>
        <string>{-61,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,9},{118,100}}</string>
        <key>sourceSize</key>
        <string>{140,118}</string>
      </dict>
      <key>wings_20007_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{126,108}}</string>
        <key>offset</key>
        <string>{-30,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,12},{126,108}}</string>
        <key>sourceSize</key>
        <string>{148,131}</string>
      </dict>
      <key>wings_20007_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{150,72}}</string>
        <key>offset</key>
        <string>{-67,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,9},{150,72}}</string>
        <key>sourceSize</key>
        <string>{176,90}</string>
      </dict>
      <key>wings_20007_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,144},{94,140}}</string>
        <key>offset</key>
        <string>{-9,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,11},{94,140}}</string>
        <key>sourceSize</key>
        <string>{116,165}</string>
      </dict>
      <key>wings_20007_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{140,94}}</string>
        <key>offset</key>
        <string>{-44,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,9},{140,94}}</string>
        <key>sourceSize</key>
        <string>{164,112}</string>
      </dict>
      <key>wings_20007_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{130,150}}</string>
        <key>offset</key>
        <string>{-35,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,10},{130,150}}</string>
        <key>sourceSize</key>
        <string>{152,172}</string>
      </dict>
      <key>wings_20007_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,336},{128,118}}</string>
        <key>offset</key>
        <string>{-32,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,10},{128,118}}</string>
        <key>sourceSize</key>
        <string>{152,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20007_1_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>wings_20007_1_8.png</string>
    </dict>
  </dict>
</plist>