<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_3000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,89},{81,61}}</string>
        <key>offset</key>
        <string>{-27,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,61}}</string>
        <key>sourceSize</key>
        <string>{81,61}</string>
      </dict>
      <key>wings_3000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,358},{74,80}}</string>
        <key>offset</key>
        <string>{-24,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>wings_3000_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,193},{75,89}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,89}}</string>
        <key>sourceSize</key>
        <string>{75,89}</string>
      </dict>
      <key>wings_3000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,284},{64,86}}</string>
        <key>offset</key>
        <string>{-35,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
      <key>wings_3000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{49,93}}</string>
        <key>offset</key>
        <string>{-25,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,93}}</string>
        <key>sourceSize</key>
        <string>{49,93}</string>
      </dict>
      <key>wings_3000_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{53,97}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,97}}</string>
        <key>sourceSize</key>
        <string>{53,97}</string>
      </dict>
      <key>wings_3000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{63,94}}</string>
        <key>offset</key>
        <string>{-43,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,94}}</string>
        <key>sourceSize</key>
        <string>{63,94}</string>
      </dict>
      <key>wings_3000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{57,95}}</string>
        <key>offset</key>
        <string>{-37,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,95}}</string>
        <key>sourceSize</key>
        <string>{57,95}</string>
      </dict>
      <key>wings_3000_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,97},{55,94}}</string>
        <key>offset</key>
        <string>{-23,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,94}}</string>
        <key>sourceSize</key>
        <string>{55,94}</string>
      </dict>
      <key>wings_3000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,386},{86,90}}</string>
        <key>offset</key>
        <string>{-39,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wings_3000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{87,85}}</string>
        <key>offset</key>
        <string>{-36,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,85}}</string>
        <key>sourceSize</key>
        <string>{87,85}</string>
      </dict>
      <key>wings_3000_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,372},{84,80}}</string>
        <key>offset</key>
        <string>{-25,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,80}}</string>
        <key>sourceSize</key>
        <string>{84,80}</string>
      </dict>
      <key>wings_3000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,186},{80,85}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>wings_3000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,273},{79,83}}</string>
        <key>offset</key>
        <string>{-7,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,83}}</string>
        <key>sourceSize</key>
        <string>{79,83}</string>
      </dict>
      <key>wings_3000_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,261},{78,79}}</string>
        <key>offset</key>
        <string>{-7,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,79}}</string>
        <key>sourceSize</key>
        <string>{78,79}</string>
      </dict>
      <key>wings_3000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{58,95}}</string>
        <key>offset</key>
        <string>{26,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,95}}</string>
        <key>sourceSize</key>
        <string>{58,95}</string>
      </dict>
      <key>wings_3000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{52,91}}</string>
        <key>offset</key>
        <string>{23,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,91}}</string>
        <key>sourceSize</key>
        <string>{52,91}</string>
      </dict>
      <key>wings_3000_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,292},{49,90}}</string>
        <key>offset</key>
        <string>{16,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,90}}</string>
        <key>sourceSize</key>
        <string>{49,90}</string>
      </dict>
      <key>wings_3000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,89},{59,85}}</string>
        <key>offset</key>
        <string>{23,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,85}}</string>
        <key>sourceSize</key>
        <string>{59,85}</string>
      </dict>
      <key>wings_3000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,95},{59,89}}</string>
        <key>offset</key>
        <string>{20,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,89}}</string>
        <key>sourceSize</key>
        <string>{59,89}</string>
      </dict>
      <key>wings_3000_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{53,92}}</string>
        <key>offset</key>
        <string>{15,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,92}}</string>
        <key>sourceSize</key>
        <string>{53,92}</string>
      </dict>
      <key>wings_3000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,176},{83,64}}</string>
        <key>offset</key>
        <string>{-1,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,64}}</string>
        <key>sourceSize</key>
        <string>{83,64}</string>
      </dict>
      <key>wings_3000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,172},{79,77}}</string>
        <key>offset</key>
        <string>{-3,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>wings_3000_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{79,81}}</string>
        <key>offset</key>
        <string>{-9,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,81}}</string>
        <key>sourceSize</key>
        <string>{79,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_3000_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>wings_3000_0_7.png</string>
    </dict>
  </dict>
</plist>