<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20003_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,898},{154,114}}</string>
        <key>offset</key>
        <string>{-108,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,73},{154,114}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,550},{174,156}}</string>
        <key>offset</key>
        <string>{-100,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,37},{174,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,370},{174,142}}</string>
        <key>offset</key>
        <string>{-100,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,40},{174,142}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,176},{154,146}}</string>
        <key>offset</key>
        <string>{-110,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,50},{154,146}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,370},{124,178}}</string>
        <key>offset</key>
        <string>{-113,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{20,8},{124,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,182},{128,174}}</string>
        <key>offset</key>
        <string>{-112,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{19,10},{128,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,192},{160,186}}</string>
        <key>offset</key>
        <string>{-113,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,15},{160,186}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{136,188}}</string>
        <key>offset</key>
        <string>{-119,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,6},{136,188}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,760},{136,184}}</string>
        <key>offset</key>
        <string>{-118,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,4},{136,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{186,190}}</string>
        <key>offset</key>
        <string>{-101,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{186,190}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{188,180}}</string>
        <key>offset</key>
        <string>{-98,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,7},{188,180}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{186,184}}</string>
        <key>offset</key>
        <string>{-100,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{186,184}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,188},{180,178}}</string>
        <key>offset</key>
        <string>{-70,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,15},{180,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{180,170}}</string>
        <key>offset</key>
        <string>{-70,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,3},{180,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{180,186}}</string>
        <key>offset</key>
        <string>{-70,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,2},{180,186}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,546},{150,162}}</string>
        <key>offset</key>
        <string>{-51,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{69,22},{150,162}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,380},{128,182}}</string>
        <key>offset</key>
        <string>{-53,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{78,5},{128,182}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,746},{128,178}}</string>
        <key>offset</key>
        <string>{-52,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,4},{128,178}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,358},{158,140}}</string>
        <key>offset</key>
        <string>{-55,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{61,51},{158,140}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,726},{142,170}}</string>
        <key>offset</key>
        <string>{-49,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{75,20},{142,170}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{140,174}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{76,14},{140,174}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,926},{164,94}}</string>
        <key>offset</key>
        <string>{-59,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{54,83},{164,94}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{186,138}}</string>
        <key>offset</key>
        <string>{-72,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,49},{186,138}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20003_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,564},{180,140}}</string>
        <key>offset</key>
        <string>{-69,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,48},{180,140}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20003_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>wings_20003_0_7.png</string>
    </dict>
  </dict>
</plist>