<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20007_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{136,104}}</string>
        <key>offset</key>
        <string>{-51,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,8},{136,104}}</string>
        <key>sourceSize</key>
        <string>{156,125}</string>
      </dict>
      <key>wings_20007_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,746},{136,100}}</string>
        <key>offset</key>
        <string>{-50,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,10},{136,100}}</string>
        <key>sourceSize</key>
        <string>{156,123}</string>
      </dict>
      <key>wings_20007_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,410},{132,100}}</string>
        <key>offset</key>
        <string>{-50,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,8},{132,100}}</string>
        <key>sourceSize</key>
        <string>{156,121}</string>
      </dict>
      <key>wings_20007_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,138},{134,96}}</string>
        <key>offset</key>
        <string>{-52,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,8},{134,96}}</string>
        <key>sourceSize</key>
        <string>{156,117}</string>
      </dict>
      <key>wings_20007_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{134,98}}</string>
        <key>offset</key>
        <string>{-49,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,10},{134,98}}</string>
        <key>sourceSize</key>
        <string>{152,121}</string>
      </dict>
      <key>wings_20007_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,884},{136,108}}</string>
        <key>offset</key>
        <string>{-50,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,10},{136,108}}</string>
        <key>sourceSize</key>
        <string>{156,131}</string>
      </dict>
      <key>wings_20007_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,724},{108,134}}</string>
        <key>offset</key>
        <string>{-63,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,10},{108,134}}</string>
        <key>sourceSize</key>
        <string>{128,157}</string>
      </dict>
      <key>wings_20007_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,568},{112,134}}</string>
        <key>offset</key>
        <string>{-63,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,10},{112,134}}</string>
        <key>sourceSize</key>
        <string>{128,157}</string>
      </dict>
      <key>wings_20007_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,272},{112,132}}</string>
        <key>offset</key>
        <string>{-65,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,10},{112,132}}</string>
        <key>sourceSize</key>
        <string>{132,155}</string>
      </dict>
      <key>wings_20007_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,136},{108,132}}</string>
        <key>offset</key>
        <string>{-67,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,9},{108,132}}</string>
        <key>sourceSize</key>
        <string>{132,153}</string>
      </dict>
      <key>wings_20007_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,420},{110,134}}</string>
        <key>offset</key>
        <string>{-63,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,9},{110,134}}</string>
        <key>sourceSize</key>
        <string>{128,156}</string>
      </dict>
      <key>wings_20007_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{110,140}}</string>
        <key>offset</key>
        <string>{-62,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,9},{110,140}}</string>
        <key>sourceSize</key>
        <string>{132,162}</string>
      </dict>
      <key>wings_20007_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,938},{76,152}}</string>
        <key>offset</key>
        <string>{-45,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,12},{76,152}}</string>
        <key>sourceSize</key>
        <string>{96,178}</string>
      </dict>
      <key>wings_20007_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{74,154}}</string>
        <key>offset</key>
        <string>{-45,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,10},{74,154}}</string>
        <key>sourceSize</key>
        <string>{96,177}</string>
      </dict>
      <key>wings_20007_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,782},{76,152}}</string>
        <key>offset</key>
        <string>{-45,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,12},{76,152}}</string>
        <key>sourceSize</key>
        <string>{96,177}</string>
      </dict>
      <key>wings_20007_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{78,154}}</string>
        <key>offset</key>
        <string>{-47,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{78,154}}</string>
        <key>sourceSize</key>
        <string>{100,179}</string>
      </dict>
      <key>wings_20007_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,158},{78,154}}</string>
        <key>offset</key>
        <string>{-45,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,11},{78,154}}</string>
        <key>sourceSize</key>
        <string>{96,178}</string>
      </dict>
      <key>wings_20007_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{72,154}}</string>
        <key>offset</key>
        <string>{-42,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,12},{72,154}}</string>
        <key>sourceSize</key>
        <string>{92,178}</string>
      </dict>
      <key>wings_20007_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,156},{110,144}}</string>
        <key>offset</key>
        <string>{-68,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{110,144}}</string>
        <key>sourceSize</key>
        <string>{132,168}</string>
      </dict>
      <key>wings_20007_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,462},{106,142}}</string>
        <key>offset</key>
        <string>{-66,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,12},{106,142}}</string>
        <key>sourceSize</key>
        <string>{128,167}</string>
      </dict>
      <key>wings_20007_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{106,144}}</string>
        <key>offset</key>
        <string>{-65,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,11},{106,144}}</string>
        <key>sourceSize</key>
        <string>{128,168}</string>
      </dict>
      <key>wings_20007_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,314},{110,146}}</string>
        <key>offset</key>
        <string>{-65,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{110,146}}</string>
        <key>sourceSize</key>
        <string>{128,169}</string>
      </dict>
      <key>wings_20007_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,624},{110,144}}</string>
        <key>offset</key>
        <string>{-66,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,11},{110,144}}</string>
        <key>sourceSize</key>
        <string>{128,167}</string>
      </dict>
      <key>wings_20007_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,770},{106,140}}</string>
        <key>offset</key>
        <string>{-65,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,12},{106,140}}</string>
        <key>sourceSize</key>
        <string>{128,166}</string>
      </dict>
      <key>wings_20007_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,274},{134,118}}</string>
        <key>offset</key>
        <string>{-55,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,11},{134,118}}</string>
        <key>sourceSize</key>
        <string>{156,140}</string>
      </dict>
      <key>wings_20007_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,136},{134,116}}</string>
        <key>offset</key>
        <string>{-55,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,11},{134,116}}</string>
        <key>sourceSize</key>
        <string>{156,139}</string>
      </dict>
      <key>wings_20007_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{134,118}}</string>
        <key>offset</key>
        <string>{-55,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,11},{134,118}}</string>
        <key>sourceSize</key>
        <string>{156,140}</string>
      </dict>
      <key>wings_20007_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,860},{134,118}}</string>
        <key>offset</key>
        <string>{-54,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,12},{134,118}}</string>
        <key>sourceSize</key>
        <string>{156,141}</string>
      </dict>
      <key>wings_20007_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,586},{136,116}}</string>
        <key>offset</key>
        <string>{-54,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,10},{136,116}}</string>
        <key>sourceSize</key>
        <string>{156,138}</string>
      </dict>
      <key>wings_20007_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,430},{136,114}}</string>
        <key>offset</key>
        <string>{-56,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,10},{136,114}}</string>
        <key>sourceSize</key>
        <string>{156,136}</string>
      </dict>
      <key>wings_20007_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,912},{108,140}}</string>
        <key>offset</key>
        <string>{-13,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,12},{108,140}}</string>
        <key>sourceSize</key>
        <string>{128,163}</string>
      </dict>
      <key>wings_20007_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,606},{110,138}}</string>
        <key>offset</key>
        <string>{-16,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,13},{110,138}}</string>
        <key>sourceSize</key>
        <string>{132,163}</string>
      </dict>
      <key>wings_20007_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,446},{110,138}}</string>
        <key>offset</key>
        <string>{-14,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,12},{110,138}}</string>
        <key>sourceSize</key>
        <string>{128,164}</string>
      </dict>
      <key>wings_20007_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,302},{112,142}}</string>
        <key>offset</key>
        <string>{-13,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,13},{112,142}}</string>
        <key>sourceSize</key>
        <string>{128,168}</string>
      </dict>
      <key>wings_20007_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,146},{110,142}}</string>
        <key>offset</key>
        <string>{-13,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,12},{110,142}}</string>
        <key>sourceSize</key>
        <string>{128,166}</string>
      </dict>
      <key>wings_20007_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,704},{108,134}}</string>
        <key>offset</key>
        <string>{-16,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,13},{108,134}}</string>
        <key>sourceSize</key>
        <string>{128,161}</string>
      </dict>
      <key>wings_20007_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{76,154}}</string>
        <key>offset</key>
        <string>{0,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{76,154}}</string>
        <key>sourceSize</key>
        <string>{96,177}</string>
      </dict>
      <key>wings_20007_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,156}}</string>
        <key>offset</key>
        <string>{0,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,10},{76,156}}</string>
        <key>sourceSize</key>
        <string>{96,178}</string>
      </dict>
      <key>wings_20007_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{76,154}}</string>
        <key>offset</key>
        <string>{0,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{76,154}}</string>
        <key>sourceSize</key>
        <string>{96,178}</string>
      </dict>
      <key>wings_20007_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,470},{80,152}}</string>
        <key>offset</key>
        <string>{-2,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,12},{80,152}}</string>
        <key>sourceSize</key>
        <string>{100,177}</string>
      </dict>
      <key>wings_20007_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,626},{76,154}}</string>
        <key>offset</key>
        <string>{0,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{76,154}}</string>
        <key>sourceSize</key>
        <string>{96,178}</string>
      </dict>
      <key>wings_20007_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{72,154}}</string>
        <key>offset</key>
        <string>{0,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,11},{72,154}}</string>
        <key>sourceSize</key>
        <string>{92,177}</string>
      </dict>
      <key>wings_20007_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,0},{110,132}}</string>
        <key>offset</key>
        <string>{-13,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,9},{110,132}}</string>
        <key>sourceSize</key>
        <string>{132,154}</string>
      </dict>
      <key>wings_20007_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,290},{106,138}}</string>
        <key>offset</key>
        <string>{-11,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,8},{106,138}}</string>
        <key>sourceSize</key>
        <string>{128,159}</string>
      </dict>
      <key>wings_20007_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,556},{106,134}}</string>
        <key>offset</key>
        <string>{-11,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,10},{106,134}}</string>
        <key>sourceSize</key>
        <string>{128,157}</string>
      </dict>
      <key>wings_20007_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{110,132}}</string>
        <key>offset</key>
        <string>{-13,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,8},{110,132}}</string>
        <key>sourceSize</key>
        <string>{132,153}</string>
      </dict>
      <key>wings_20007_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,282},{106,136}}</string>
        <key>offset</key>
        <string>{-11,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,10},{106,136}}</string>
        <key>sourceSize</key>
        <string>{128,158}</string>
      </dict>
      <key>wings_20007_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,142},{106,138}}</string>
        <key>offset</key>
        <string>{-12,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,9},{106,138}}</string>
        <key>sourceSize</key>
        <string>{128,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20007_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>wings_20007_1_3.png</string>
    </dict>
  </dict>
</plist>