<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_3003_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,902},{83,75}}</string>
        <key>offset</key>
        <string>{-20,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>wings_3003_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,902},{83,76}}</string>
        <key>offset</key>
        <string>{-18,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,76}}</string>
        <key>sourceSize</key>
        <string>{83,76}</string>
      </dict>
      <key>wings_3003_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,783},{82,78}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,78}}</string>
        <key>sourceSize</key>
        <string>{82,78}</string>
      </dict>
      <key>wings_3003_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{85,74}}</string>
        <key>offset</key>
        <string>{-20,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>wings_3003_1_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,800},{84,71}}</string>
        <key>offset</key>
        <string>{-20,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,71}}</string>
        <key>sourceSize</key>
        <string>{84,71}</string>
      </dict>
      <key>wings_3003_1_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,706},{85,75}}</string>
        <key>offset</key>
        <string>{-20,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,75}}</string>
        <key>sourceSize</key>
        <string>{85,75}</string>
      </dict>
      <key>wings_3003_1_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,824},{84,76}}</string>
        <key>offset</key>
        <string>{-21,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>wings_3003_1_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,873},{83,73}}</string>
        <key>offset</key>
        <string>{-19,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,73}}</string>
        <key>sourceSize</key>
        <string>{83,73}</string>
      </dict>
      <key>wings_3003_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,586},{62,91}}</string>
        <key>offset</key>
        <string>{-23,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,91}}</string>
        <key>sourceSize</key>
        <string>{62,91}</string>
      </dict>
      <key>wings_3003_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,573},{63,90}}</string>
        <key>offset</key>
        <string>{-24,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,90}}</string>
        <key>sourceSize</key>
        <string>{63,90}</string>
      </dict>
      <key>wings_3003_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,602},{62,91}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,91}}</string>
        <key>sourceSize</key>
        <string>{62,91}</string>
      </dict>
      <key>wings_3003_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,568},{62,92}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,92}}</string>
        <key>sourceSize</key>
        <string>{62,92}</string>
      </dict>
      <key>wings_3003_1_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,594},{63,90}}</string>
        <key>offset</key>
        <string>{-24,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,90}}</string>
        <key>sourceSize</key>
        <string>{63,90}</string>
      </dict>
      <key>wings_3003_1_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,650},{63,90}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,90}}</string>
        <key>sourceSize</key>
        <string>{63,90}</string>
      </dict>
      <key>wings_3003_1_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,465},{64,93}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>wings_3003_1_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,428},{65,94}}</string>
        <key>offset</key>
        <string>{-24,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>wings_3003_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,528},{43,92}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,92}}</string>
        <key>sourceSize</key>
        <string>{43,92}</string>
      </dict>
      <key>wings_3003_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,548},{44,92}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,92}}</string>
        <key>sourceSize</key>
        <string>{44,92}</string>
      </dict>
      <key>wings_3003_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,495},{48,93}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>wings_3003_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,324},{52,96}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,96}}</string>
        <key>sourceSize</key>
        <string>{52,96}</string>
      </dict>
      <key>wings_3003_1_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,387},{52,97}}</string>
        <key>offset</key>
        <string>{-13,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,97}}</string>
        <key>sourceSize</key>
        <string>{52,97}</string>
      </dict>
      <key>wings_3003_1_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,372},{54,96}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,96}}</string>
        <key>sourceSize</key>
        <string>{54,96}</string>
      </dict>
      <key>wings_3003_1_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,410},{53,95}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,95}}</string>
        <key>sourceSize</key>
        <string>{53,95}</string>
      </dict>
      <key>wings_3003_1_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,422},{53,96}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,96}}</string>
        <key>sourceSize</key>
        <string>{53,96}</string>
      </dict>
      <key>wings_3003_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,337},{71,100}}</string>
        <key>offset</key>
        <string>{-29,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,100}}</string>
        <key>sourceSize</key>
        <string>{71,100}</string>
      </dict>
      <key>wings_3003_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,110},{70,105}}</string>
        <key>offset</key>
        <string>{-28,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,105}}</string>
        <key>sourceSize</key>
        <string>{70,105}</string>
      </dict>
      <key>wings_3003_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,217},{70,105}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,105}}</string>
        <key>sourceSize</key>
        <string>{70,105}</string>
      </dict>
      <key>wings_3003_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{74,106}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,106}}</string>
        <key>sourceSize</key>
        <string>{74,106}</string>
      </dict>
      <key>wings_3003_1_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,108}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,108}}</string>
        <key>sourceSize</key>
        <string>{71,108}</string>
      </dict>
      <key>wings_3003_1_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{73,108}}</string>
        <key>offset</key>
        <string>{-28,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,108}}</string>
        <key>sourceSize</key>
        <string>{73,108}</string>
      </dict>
      <key>wings_3003_1_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,230},{71,105}}</string>
        <key>offset</key>
        <string>{-27,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,105}}</string>
        <key>sourceSize</key>
        <string>{71,105}</string>
      </dict>
      <key>wings_3003_1_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,70},{71,107}}</string>
        <key>offset</key>
        <string>{-28,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,107}}</string>
        <key>sourceSize</key>
        <string>{71,107}</string>
      </dict>
      <key>wings_3003_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{83,101}}</string>
        <key>offset</key>
        <string>{-17,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,101}}</string>
        <key>sourceSize</key>
        <string>{83,101}</string>
      </dict>
      <key>wings_3003_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,253},{82,103}}</string>
        <key>offset</key>
        <string>{-16,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,103}}</string>
        <key>sourceSize</key>
        <string>{82,103}</string>
      </dict>
      <key>wings_3003_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,143},{85,106}}</string>
        <key>offset</key>
        <string>{-17,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,106}}</string>
        <key>sourceSize</key>
        <string>{85,106}</string>
      </dict>
      <key>wings_3003_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{91,108}}</string>
        <key>offset</key>
        <string>{-21,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,108}}</string>
        <key>sourceSize</key>
        <string>{91,108}</string>
      </dict>
      <key>wings_3003_1_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,93},{89,107}}</string>
        <key>offset</key>
        <string>{-20,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,107}}</string>
        <key>sourceSize</key>
        <string>{89,107}</string>
      </dict>
      <key>wings_3003_1_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{91,108}}</string>
        <key>offset</key>
        <string>{-19,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,108}}</string>
        <key>sourceSize</key>
        <string>{91,108}</string>
      </dict>
      <key>wings_3003_1_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,162},{87,107}}</string>
        <key>offset</key>
        <string>{-19,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>wings_3003_1_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,75},{85,108}}</string>
        <key>offset</key>
        <string>{-18,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,108}}</string>
        <key>sourceSize</key>
        <string>{85,108}</string>
      </dict>
      <key>wings_3003_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,303},{67,101}}</string>
        <key>offset</key>
        <string>{8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,101}}</string>
        <key>sourceSize</key>
        <string>{67,101}</string>
      </dict>
      <key>wings_3003_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,318},{67,103}}</string>
        <key>offset</key>
        <string>{8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>wings_3003_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,251},{65,105}}</string>
        <key>offset</key>
        <string>{9,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,105}}</string>
        <key>sourceSize</key>
        <string>{65,105}</string>
      </dict>
      <key>wings_3003_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{68,108}}</string>
        <key>offset</key>
        <string>{7,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,108}}</string>
        <key>sourceSize</key>
        <string>{68,108}</string>
      </dict>
      <key>wings_3003_1_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{68,105}}</string>
        <key>offset</key>
        <string>{7,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,105}}</string>
        <key>sourceSize</key>
        <string>{68,105}</string>
      </dict>
      <key>wings_3003_1_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,184},{67,106}}</string>
        <key>offset</key>
        <string>{8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,106}}</string>
        <key>sourceSize</key>
        <string>{67,106}</string>
      </dict>
      <key>wings_3003_1_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{68,108}}</string>
        <key>offset</key>
        <string>{6,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,108}}</string>
        <key>sourceSize</key>
        <string>{68,108}</string>
      </dict>
      <key>wings_3003_1_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{70,107}}</string>
        <key>offset</key>
        <string>{7,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,107}}</string>
        <key>sourceSize</key>
        <string>{70,107}</string>
      </dict>
      <key>wings_3003_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{42,93}}</string>
        <key>offset</key>
        <string>{19,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,93}}</string>
        <key>sourceSize</key>
        <string>{42,93}</string>
      </dict>
      <key>wings_3003_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{45,91}}</string>
        <key>offset</key>
        <string>{16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,91}}</string>
        <key>sourceSize</key>
        <string>{45,91}</string>
      </dict>
      <key>wings_3003_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,477},{49,93}}</string>
        <key>offset</key>
        <string>{12,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,93}}</string>
        <key>sourceSize</key>
        <string>{49,93}</string>
      </dict>
      <key>wings_3003_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,495},{51,93}}</string>
        <key>offset</key>
        <string>{10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,93}}</string>
        <key>sourceSize</key>
        <string>{51,93}</string>
      </dict>
      <key>wings_3003_1_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,531},{53,93}}</string>
        <key>offset</key>
        <string>{8,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,93}}</string>
        <key>sourceSize</key>
        <string>{53,93}</string>
      </dict>
      <key>wings_3003_1_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,545},{55,93}}</string>
        <key>offset</key>
        <string>{7,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,93}}</string>
        <key>sourceSize</key>
        <string>{55,93}</string>
      </dict>
      <key>wings_3003_1_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,441},{52,95}}</string>
        <key>offset</key>
        <string>{8,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,95}}</string>
        <key>sourceSize</key>
        <string>{52,95}</string>
      </dict>
      <key>wings_3003_1_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{53,95}}</string>
        <key>offset</key>
        <string>{7,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,95}}</string>
        <key>sourceSize</key>
        <string>{53,95}</string>
      </dict>
      <key>wings_3003_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,728},{65,85}}</string>
        <key>offset</key>
        <string>{6,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,85}}</string>
        <key>sourceSize</key>
        <string>{65,85}</string>
      </dict>
      <key>wings_3003_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,783},{67,85}}</string>
        <key>offset</key>
        <string>{5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>wings_3003_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,666},{66,86}}</string>
        <key>offset</key>
        <string>{7,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>wings_3003_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,679},{67,86}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,86}}</string>
        <key>sourceSize</key>
        <string>{67,86}</string>
      </dict>
      <key>wings_3003_1_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,638},{66,86}}</string>
        <key>offset</key>
        <string>{6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>wings_3003_1_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,659},{67,86}}</string>
        <key>offset</key>
        <string>{6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,86}}</string>
        <key>sourceSize</key>
        <string>{67,86}</string>
      </dict>
      <key>wings_3003_1_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,715},{66,86}}</string>
        <key>offset</key>
        <string>{7,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>wings_3003_1_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,734},{64,86}}</string>
        <key>offset</key>
        <string>{7,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_3003_1_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>wings_3003_1_0.png</string>
    </dict>
  </dict>
</plist>