<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_3003_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,756},{81,74}}</string>
        <key>offset</key>
        <string>{-18,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>wings_3003_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,812},{81,74}}</string>
        <key>offset</key>
        <string>{-18,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>wings_3003_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,883},{82,73}}</string>
        <key>offset</key>
        <string>{-18,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,73}}</string>
        <key>sourceSize</key>
        <string>{82,73}</string>
      </dict>
      <key>wings_3003_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,781},{83,77}}</string>
        <key>offset</key>
        <string>{-19,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,77}}</string>
        <key>sourceSize</key>
        <string>{83,77}</string>
      </dict>
      <key>wings_3003_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,666},{86,76}}</string>
        <key>offset</key>
        <string>{-20,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>wings_3003_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,806},{83,75}}</string>
        <key>offset</key>
        <string>{-18,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>wings_3003_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,883},{82,75}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>wings_3003_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,840},{81,74}}</string>
        <key>offset</key>
        <string>{-18,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>wings_3003_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,540},{61,90}}</string>
        <key>offset</key>
        <string>{-23,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,90}}</string>
        <key>sourceSize</key>
        <string>{61,90}</string>
      </dict>
      <key>wings_3003_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,603},{61,89}}</string>
        <key>offset</key>
        <string>{-23,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,89}}</string>
        <key>sourceSize</key>
        <string>{61,89}</string>
      </dict>
      <key>wings_3003_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,640},{61,89}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,89}}</string>
        <key>sourceSize</key>
        <string>{61,89}</string>
      </dict>
      <key>wings_3003_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,576},{62,90}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,90}}</string>
        <key>sourceSize</key>
        <string>{62,90}</string>
      </dict>
      <key>wings_3003_0_0_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,585},{62,90}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,90}}</string>
        <key>sourceSize</key>
        <string>{62,90}</string>
      </dict>
      <key>wings_3003_0_0_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{62,90}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,90}}</string>
        <key>sourceSize</key>
        <string>{62,90}</string>
      </dict>
      <key>wings_3003_0_0_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,649},{62,89}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,89}}</string>
        <key>sourceSize</key>
        <string>{62,89}</string>
      </dict>
      <key>wings_3003_0_0_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,509},{63,91}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,91}}</string>
        <key>sourceSize</key>
        <string>{63,91}</string>
      </dict>
      <key>wings_3003_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,464},{43,96}}</string>
        <key>offset</key>
        <string>{-13,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,96}}</string>
        <key>sourceSize</key>
        <string>{43,96}</string>
      </dict>
      <key>wings_3003_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,539},{44,92}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,92}}</string>
        <key>sourceSize</key>
        <string>{44,92}</string>
      </dict>
      <key>wings_3003_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,432},{50,97}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,97}}</string>
        <key>sourceSize</key>
        <string>{50,97}</string>
      </dict>
      <key>wings_3003_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,377},{51,98}}</string>
        <key>offset</key>
        <string>{-12,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,98}}</string>
        <key>sourceSize</key>
        <string>{51,98}</string>
      </dict>
      <key>wings_3003_0_0_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,378},{52,101}}</string>
        <key>offset</key>
        <string>{-13,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,101}}</string>
        <key>sourceSize</key>
        <string>{52,101}</string>
      </dict>
      <key>wings_3003_0_0_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,415},{52,98}}</string>
        <key>offset</key>
        <string>{-12,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,98}}</string>
        <key>sourceSize</key>
        <string>{52,98}</string>
      </dict>
      <key>wings_3003_0_0_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,469},{53,96}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,96}}</string>
        <key>sourceSize</key>
        <string>{53,96}</string>
      </dict>
      <key>wings_3003_0_0_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,484},{53,96}}</string>
        <key>offset</key>
        <string>{-13,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,96}}</string>
        <key>sourceSize</key>
        <string>{53,96}</string>
      </dict>
      <key>wings_3003_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,256},{70,104}}</string>
        <key>offset</key>
        <string>{-28,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,104}}</string>
        <key>sourceSize</key>
        <string>{70,104}</string>
      </dict>
      <key>wings_3003_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,234},{71,105}}</string>
        <key>offset</key>
        <string>{-27,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,105}}</string>
        <key>sourceSize</key>
        <string>{71,105}</string>
      </dict>
      <key>wings_3003_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{72,108}}</string>
        <key>offset</key>
        <string>{-28,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,108}}</string>
        <key>sourceSize</key>
        <string>{72,108}</string>
      </dict>
      <key>wings_3003_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{74,109}}</string>
        <key>offset</key>
        <string>{-30,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,109}}</string>
        <key>sourceSize</key>
        <string>{74,109}</string>
      </dict>
      <key>wings_3003_0_0_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,74},{71,108}}</string>
        <key>offset</key>
        <string>{-28,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,108}}</string>
        <key>sourceSize</key>
        <string>{71,108}</string>
      </dict>
      <key>wings_3003_0_0_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,171},{73,107}}</string>
        <key>offset</key>
        <string>{-29,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,107}}</string>
        <key>sourceSize</key>
        <string>{73,107}</string>
      </dict>
      <key>wings_3003_0_0_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,235},{70,107}}</string>
        <key>offset</key>
        <string>{-27,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,107}}</string>
        <key>sourceSize</key>
        <string>{70,107}</string>
      </dict>
      <key>wings_3003_0_0_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{70,109}}</string>
        <key>offset</key>
        <string>{-27,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,109}}</string>
        <key>sourceSize</key>
        <string>{70,109}</string>
      </dict>
      <key>wings_3003_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,330},{83,102}}</string>
        <key>offset</key>
        <string>{-17,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,102}}</string>
        <key>sourceSize</key>
        <string>{83,102}</string>
      </dict>
      <key>wings_3003_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,246},{82,105}}</string>
        <key>offset</key>
        <string>{-16,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,105}}</string>
        <key>sourceSize</key>
        <string>{82,105}</string>
      </dict>
      <key>wings_3003_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,84},{85,108}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,108}}</string>
        <key>sourceSize</key>
        <string>{85,108}</string>
      </dict>
      <key>wings_3003_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,144},{89,108}}</string>
        <key>offset</key>
        <string>{-19,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,108}}</string>
        <key>sourceSize</key>
        <string>{89,108}</string>
      </dict>
      <key>wings_3003_0_0_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{86,108}}</string>
        <key>offset</key>
        <string>{-18,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,108}}</string>
        <key>sourceSize</key>
        <string>{86,108}</string>
      </dict>
      <key>wings_3003_0_0_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,295},{88,107}}</string>
        <key>offset</key>
        <string>{-19,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,107}}</string>
        <key>sourceSize</key>
        <string>{88,107}</string>
      </dict>
      <key>wings_3003_0_0_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,147},{85,108}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,108}}</string>
        <key>sourceSize</key>
        <string>{85,108}</string>
      </dict>
      <key>wings_3003_0_0_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{82,109}}</string>
        <key>offset</key>
        <string>{-16,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,109}}</string>
        <key>sourceSize</key>
        <string>{82,109}</string>
      </dict>
      <key>wings_3003_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{66,101}}</string>
        <key>offset</key>
        <string>{8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,101}}</string>
        <key>sourceSize</key>
        <string>{66,101}</string>
      </dict>
      <key>wings_3003_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{64,104}}</string>
        <key>offset</key>
        <string>{10,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,104}}</string>
        <key>sourceSize</key>
        <string>{64,104}</string>
      </dict>
      <key>wings_3003_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,307},{68,104}}</string>
        <key>offset</key>
        <string>{8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,104}}</string>
        <key>sourceSize</key>
        <string>{68,104}</string>
      </dict>
      <key>wings_3003_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,76},{66,109}}</string>
        <key>offset</key>
        <string>{7,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,109}}</string>
        <key>sourceSize</key>
        <string>{66,109}</string>
      </dict>
      <key>wings_3003_0_0_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,112}}</string>
        <key>offset</key>
        <string>{8,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,112}}</string>
        <key>sourceSize</key>
        <string>{66,112}</string>
      </dict>
      <key>wings_3003_0_0_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{65,109}}</string>
        <key>offset</key>
        <string>{8,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,109}}</string>
        <key>sourceSize</key>
        <string>{65,109}</string>
      </dict>
      <key>wings_3003_0_0_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,307},{69,105}}</string>
        <key>offset</key>
        <string>{8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,105}}</string>
        <key>sourceSize</key>
        <string>{69,105}</string>
      </dict>
      <key>wings_3003_0_0_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,147},{68,107}}</string>
        <key>offset</key>
        <string>{7,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,107}}</string>
        <key>sourceSize</key>
        <string>{68,107}</string>
      </dict>
      <key>wings_3003_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,563},{40,92}}</string>
        <key>offset</key>
        <string>{19,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,92}}</string>
        <key>sourceSize</key>
        <string>{40,92}</string>
      </dict>
      <key>wings_3003_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,574},{43,90}}</string>
        <key>offset</key>
        <string>{17,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,90}}</string>
        <key>sourceSize</key>
        <string>{43,90}</string>
      </dict>
      <key>wings_3003_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,524},{50,93}}</string>
        <key>offset</key>
        <string>{13,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,93}}</string>
        <key>sourceSize</key>
        <string>{50,93}</string>
      </dict>
      <key>wings_3003_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{52,97}}</string>
        <key>offset</key>
        <string>{9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,97}}</string>
        <key>sourceSize</key>
        <string>{52,97}</string>
      </dict>
      <key>wings_3003_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,362},{53,100}}</string>
        <key>offset</key>
        <string>{8,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,100}}</string>
        <key>sourceSize</key>
        <string>{53,100}</string>
      </dict>
      <key>wings_3003_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,430},{54,97}}</string>
        <key>offset</key>
        <string>{7,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,97}}</string>
        <key>sourceSize</key>
        <string>{54,97}</string>
      </dict>
      <key>wings_3003_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,486},{52,94}}</string>
        <key>offset</key>
        <string>{8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,94}}</string>
        <key>sourceSize</key>
        <string>{52,94}</string>
      </dict>
      <key>wings_3003_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{54,95}}</string>
        <key>offset</key>
        <string>{7,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,95}}</string>
        <key>sourceSize</key>
        <string>{54,95}</string>
      </dict>
      <key>wings_3003_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,737},{67,85}}</string>
        <key>offset</key>
        <string>{6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>wings_3003_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,703},{66,86}}</string>
        <key>offset</key>
        <string>{7,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>wings_3003_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,669},{66,87}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,87}}</string>
        <key>sourceSize</key>
        <string>{66,87}</string>
      </dict>
      <key>wings_3003_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,713},{66,86}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>wings_3003_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,619},{66,87}}</string>
        <key>offset</key>
        <string>{5,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,87}}</string>
        <key>sourceSize</key>
        <string>{66,87}</string>
      </dict>
      <key>wings_3003_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,687},{67,85}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>wings_3003_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,744},{66,85}}</string>
        <key>offset</key>
        <string>{7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,85}}</string>
        <key>sourceSize</key>
        <string>{66,85}</string>
      </dict>
      <key>wings_3003_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,771},{67,85}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_3003_0_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>wings_3003_0_0.png</string>
    </dict>
  </dict>
</plist>