<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_20002_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,310},{162,152}}</string>
        <key>offset</key>
        <string>{-99,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,47},{162,152}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,176}}</string>
        <key>offset</key>
        <string>{-111,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,20},{104,176}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{108,168}}</string>
        <key>offset</key>
        <string>{-112,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{29,23},{108,168}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{172,156}}</string>
        <key>offset</key>
        <string>{-94,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,23},{172,156}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,162},{166,146}}</string>
        <key>offset</key>
        <string>{-71,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{41,28},{166,146}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,310},{116,166}}</string>
        <key>offset</key>
        <string>{-58,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,23},{116,166}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{122,172}}</string>
        <key>offset</key>
        <string>{-55,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,19},{122,172}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>wings_20002_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{170,160}}</string>
        <key>offset</key>
        <string>{-80,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,41},{170,160}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_20002_1_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>wings_20002_1_11.png</string>
    </dict>
  </dict>
</plist>