<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>wings_3003_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,380},{76,84}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,84}}</string>
        <key>sourceSize</key>
        <string>{76,84}</string>
      </dict>
      <key>wings_3003_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{73,85}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,85}}</string>
        <key>sourceSize</key>
        <string>{73,85}</string>
      </dict>
      <key>wings_3003_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,202},{71,87}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,87}}</string>
        <key>sourceSize</key>
        <string>{71,87}</string>
      </dict>
      <key>wings_3003_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{72,86}}</string>
        <key>offset</key>
        <string>{2,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,86}}</string>
        <key>sourceSize</key>
        <string>{72,86}</string>
      </dict>
      <key>wings_3003_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,495},{83,82}}</string>
        <key>offset</key>
        <string>{-13,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,82}}</string>
        <key>sourceSize</key>
        <string>{83,82}</string>
      </dict>
      <key>wings_3003_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,420},{73,84}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,84}}</string>
        <key>sourceSize</key>
        <string>{73,84}</string>
      </dict>
      <key>wings_3003_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,538},{78,81}}</string>
        <key>offset</key>
        <string>{-20,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>wings_3003_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,468},{81,82}}</string>
        <key>offset</key>
        <string>{-16,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
      <key>wings_3003_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,214},{84,86}}</string>
        <key>offset</key>
        <string>{-20,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
      <key>wings_3003_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,468},{76,82}}</string>
        <key>offset</key>
        <string>{-20,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,82}}</string>
        <key>sourceSize</key>
        <string>{76,82}</string>
      </dict>
      <key>wings_3003_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,275},{63,86}}</string>
        <key>offset</key>
        <string>{-22,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,86}}</string>
        <key>sourceSize</key>
        <string>{63,86}</string>
      </dict>
      <key>wings_3003_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,300},{81,85}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,85}}</string>
        <key>sourceSize</key>
        <string>{81,85}</string>
      </dict>
      <key>wings_3003_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{59,95}}</string>
        <key>offset</key>
        <string>{-20,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,95}}</string>
        <key>sourceSize</key>
        <string>{59,95}</string>
      </dict>
      <key>wings_3003_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{54,94}}</string>
        <key>offset</key>
        <string>{-18,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,94}}</string>
        <key>sourceSize</key>
        <string>{54,94}</string>
      </dict>
      <key>wings_3003_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{61,96}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,96}}</string>
        <key>sourceSize</key>
        <string>{61,96}</string>
      </dict>
      <key>wings_3003_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,47},{54,96}}</string>
        <key>offset</key>
        <string>{-20,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,96}}</string>
        <key>sourceSize</key>
        <string>{54,96}</string>
      </dict>
      <key>wings_3003_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{45,97}}</string>
        <key>offset</key>
        <string>{-17,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,97}}</string>
        <key>sourceSize</key>
        <string>{45,97}</string>
      </dict>
      <key>wings_3003_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{59,94}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,94}}</string>
        <key>sourceSize</key>
        <string>{59,94}</string>
      </dict>
      <key>wings_3003_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,156},{47,93}}</string>
        <key>offset</key>
        <string>{-19,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,93}}</string>
        <key>sourceSize</key>
        <string>{47,93}</string>
      </dict>
      <key>wings_3003_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,60},{47,95}}</string>
        <key>offset</key>
        <string>{-19,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,95}}</string>
        <key>sourceSize</key>
        <string>{47,95}</string>
      </dict>
      <key>wings_3003_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,63},{47,95}}</string>
        <key>offset</key>
        <string>{-20,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,95}}</string>
        <key>sourceSize</key>
        <string>{47,95}</string>
      </dict>
      <key>wings_3003_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{54,93}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,93}}</string>
        <key>sourceSize</key>
        <string>{54,93}</string>
      </dict>
      <key>wings_3003_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,205},{69,89}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,89}}</string>
        <key>sourceSize</key>
        <string>{69,89}</string>
      </dict>
      <key>wings_3003_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,61},{45,94}}</string>
        <key>offset</key>
        <string>{-19,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,94}}</string>
        <key>sourceSize</key>
        <string>{45,94}</string>
      </dict>
      <key>wings_3003_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,579},{80,79}}</string>
        <key>offset</key>
        <string>{-30,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,79}}</string>
        <key>sourceSize</key>
        <string>{80,79}</string>
      </dict>
      <key>wings_3003_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,340},{72,85}}</string>
        <key>offset</key>
        <string>{-28,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>wings_3003_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,571},{76,83}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,83}}</string>
        <key>sourceSize</key>
        <string>{76,83}</string>
      </dict>
      <key>wings_3003_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,492},{77,84}}</string>
        <key>offset</key>
        <string>{-32,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,84}}</string>
        <key>sourceSize</key>
        <string>{77,84}</string>
      </dict>
      <key>wings_3003_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,383},{84,83}}</string>
        <key>offset</key>
        <string>{-26,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,83}}</string>
        <key>sourceSize</key>
        <string>{84,83}</string>
      </dict>
      <key>wings_3003_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,298},{80,86}}</string>
        <key>offset</key>
        <string>{-33,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,86}}</string>
        <key>sourceSize</key>
        <string>{80,86}</string>
      </dict>
      <key>wings_3003_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,500},{79,82}}</string>
        <key>offset</key>
        <string>{-6,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>wings_3003_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,222},{87,74}}</string>
        <key>offset</key>
        <string>{-17,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>wings_3003_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,414},{84,84}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>wings_3003_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{79,78}}</string>
        <key>offset</key>
        <string>{-8,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>wings_3003_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,276},{75,87}}</string>
        <key>offset</key>
        <string>{3,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,87}}</string>
        <key>sourceSize</key>
        <string>{75,87}</string>
      </dict>
      <key>wings_3003_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,458},{84,78}}</string>
        <key>offset</key>
        <string>{-15,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>wings_3003_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{58,96}}</string>
        <key>offset</key>
        <string>{16,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,96}}</string>
        <key>sourceSize</key>
        <string>{58,96}</string>
      </dict>
      <key>wings_3003_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,160},{60,90}}</string>
        <key>offset</key>
        <string>{10,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,90}}</string>
        <key>sourceSize</key>
        <string>{60,90}</string>
      </dict>
      <key>wings_3003_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,353},{65,86}}</string>
        <key>offset</key>
        <string>{10,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,86}}</string>
        <key>sourceSize</key>
        <string>{65,86}</string>
      </dict>
      <key>wings_3003_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,150},{62,91}}</string>
        <key>offset</key>
        <string>{12,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,91}}</string>
        <key>sourceSize</key>
        <string>{62,91}</string>
      </dict>
      <key>wings_3003_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,159},{41,91}}</string>
        <key>offset</key>
        <string>{24,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,91}}</string>
        <key>sourceSize</key>
        <string>{41,91}</string>
      </dict>
      <key>wings_3003_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{62,88}}</string>
        <key>offset</key>
        <string>{11,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,88}}</string>
        <key>sourceSize</key>
        <string>{62,88}</string>
      </dict>
      <key>wings_3003_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,61},{50,94}}</string>
        <key>offset</key>
        <string>{18,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,94}}</string>
        <key>sourceSize</key>
        <string>{50,94}</string>
      </dict>
      <key>wings_3003_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,108},{40,93}}</string>
        <key>offset</key>
        <string>{24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,93}}</string>
        <key>sourceSize</key>
        <string>{40,93}</string>
      </dict>
      <key>wings_3003_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,109},{49,94}}</string>
        <key>offset</key>
        <string>{21,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,94}}</string>
        <key>sourceSize</key>
        <string>{49,94}</string>
      </dict>
      <key>wings_3003_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,112},{42,94}}</string>
        <key>offset</key>
        <string>{22,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,94}}</string>
        <key>sourceSize</key>
        <string>{42,94}</string>
      </dict>
      <key>wings_3003_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,279},{62,87}}</string>
        <key>offset</key>
        <string>{9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,87}}</string>
        <key>sourceSize</key>
        <string>{62,87}</string>
      </dict>
      <key>wings_3003_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,113},{44,93}}</string>
        <key>offset</key>
        <string>{24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,93}}</string>
        <key>sourceSize</key>
        <string>{44,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wings_3003_1_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>wings_3003_1_3.png</string>
    </dict>
  </dict>
</plist>