<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28006_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,206},{92,84}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,84}}</string>
        <key>sourceSize</key>
        <string>{92,84}</string>
      </dict>
      <key>player_28006_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,284},{82,80}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,80}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
      <key>player_28006_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,98},{84,92}}</string>
        <key>offset</key>
        <string>{-17,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>player_28006_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{74,82}}</string>
        <key>offset</key>
        <string>{-18,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>player_28006_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,300},{76,90}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>player_28006_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{64,92}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{64,92}}</string>
        <key>sourceSize</key>
        <string>{66,92}</string>
      </dict>
      <key>player_28006_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,414},{86,94}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>player_28006_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,206},{94,66}}</string>
        <key>offset</key>
        <string>{-9,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,66}}</string>
        <key>sourceSize</key>
        <string>{96,66}</string>
      </dict>
      <key>player_28006_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,110},{64,102}}</string>
        <key>offset</key>
        <string>{3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{64,102}}</string>
        <key>sourceSize</key>
        <string>{64,102}</string>
      </dict>
      <key>player_28006_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{70,92}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{70,92}}</string>
        <key>sourceSize</key>
        <string>{70,93}</string>
      </dict>
      <key>player_28006_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,90},{86,78}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{86,78}}</string>
        <key>sourceSize</key>
        <string>{88,78}</string>
      </dict>
      <key>player_28006_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{106,46}}</string>
        <key>offset</key>
        <string>{-11,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{106,46}}</string>
        <key>sourceSize</key>
        <string>{108,46}</string>
      </dict>
      <key>player_28006_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,398},{80,92}}</string>
        <key>offset</key>
        <string>{-2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{80,92}}</string>
        <key>sourceSize</key>
        <string>{80,93}</string>
      </dict>
      <key>player_28006_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{100,78}}</string>
        <key>offset</key>
        <string>{-22,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,78}}</string>
        <key>sourceSize</key>
        <string>{102,78}</string>
      </dict>
      <key>player_28006_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,64}}</string>
        <key>offset</key>
        <string>{-13,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{108,64}}</string>
        <key>sourceSize</key>
        <string>{108,65}</string>
      </dict>
      <key>player_28006_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{96,58}}</string>
        <key>offset</key>
        <string>{-5,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{96,59}</string>
      </dict>
      <key>player_28006_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{102,84}}</string>
        <key>offset</key>
        <string>{-17,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,84}}</string>
        <key>sourceSize</key>
        <string>{104,84}</string>
      </dict>
      <key>player_28006_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,214},{100,72}}</string>
        <key>offset</key>
        <string>{-19,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,72}}</string>
        <key>sourceSize</key>
        <string>{100,73}</string>
      </dict>
      <key>player_28006_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{86,62}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,62}}</string>
        <key>sourceSize</key>
        <string>{88,63}</string>
      </dict>
      <key>player_28006_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,328},{66,72}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_28006_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,316},{88,96}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>player_28006_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,392},{78,84}}</string>
        <key>offset</key>
        <string>{-13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{78,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>player_28006_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,178},{70,82}}</string>
        <key>offset</key>
        <string>{-14,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,82}}</string>
        <key>sourceSize</key>
        <string>{70,82}</string>
      </dict>
      <key>player_28006_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,94},{88,66}}</string>
        <key>offset</key>
        <string>{-29,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,66}}</string>
        <key>sourceSize</key>
        <string>{90,67}</string>
      </dict>
      <key>player_28006_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,414},{64,96}}</string>
        <key>offset</key>
        <string>{0,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,96}}</string>
        <key>sourceSize</key>
        <string>{66,97}</string>
      </dict>
      <key>player_28006_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,88},{62,82}}</string>
        <key>offset</key>
        <string>{-1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{62,82}}</string>
        <key>sourceSize</key>
        <string>{62,82}</string>
      </dict>
      <key>player_28006_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,192},{80,90}}</string>
        <key>offset</key>
        <string>{-17,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{80,90}}</string>
        <key>sourceSize</key>
        <string>{80,90}</string>
      </dict>
      <key>player_28006_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{106,54}}</string>
        <key>offset</key>
        <string>{-45,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{106,54}}</string>
        <key>sourceSize</key>
        <string>{106,55}</string>
      </dict>
      <key>player_28006_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{84,88}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>player_28006_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,250},{82,76}}</string>
        <key>offset</key>
        <string>{-8,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>player_28006_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,104},{100,92}}</string>
        <key>offset</key>
        <string>{-26,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,92}}</string>
        <key>sourceSize</key>
        <string>{102,92}</string>
      </dict>
      <key>player_28006_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,302},{94,74}}</string>
        <key>offset</key>
        <string>{-40,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,74}}</string>
        <key>sourceSize</key>
        <string>{96,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28006_1_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_28006_1_4.png</string>
    </dict>
  </dict>
</plist>