<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3012_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,173},{79,75}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>player_3012_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,88},{72,83}}</string>
        <key>offset</key>
        <string>{1,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>player_3012_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{74,83}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,83}}</string>
        <key>sourceSize</key>
        <string>{74,83}</string>
      </dict>
      <key>player_3012_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,85},{76,76}}</string>
        <key>offset</key>
        <string>{2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>player_3012_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,86}}</string>
        <key>offset</key>
        <string>{-5,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>player_3012_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,176},{77,84}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,84}}</string>
        <key>sourceSize</key>
        <string>{77,84}</string>
      </dict>
      <key>player_3012_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{86,73}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,73}}</string>
        <key>sourceSize</key>
        <string>{86,73}</string>
      </dict>
      <key>player_3012_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{83,69}}</string>
        <key>offset</key>
        <string>{-6,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,69}}</string>
        <key>sourceSize</key>
        <string>{83,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3012_0_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>player_3012_0_11.png</string>
    </dict>
  </dict>
</plist>