<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28002_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,426},{46,60}}</string>
        <key>offset</key>
        <string>{0,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{46,60}}</string>
        <key>sourceSize</key>
        <string>{46,60}</string>
      </dict>
      <key>player_28002_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,202},{68,70}}</string>
        <key>offset</key>
        <string>{-11,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>player_28002_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{44,72}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{44,72}}</string>
        <key>sourceSize</key>
        <string>{44,72}</string>
      </dict>
      <key>player_28002_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{42,62}}</string>
        <key>offset</key>
        <string>{-2,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{42,62}}</string>
        <key>sourceSize</key>
        <string>{42,63}</string>
      </dict>
      <key>player_28002_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,266},{68,70}}</string>
        <key>offset</key>
        <string>{-16,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_28002_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,70},{40,76}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{40,76}}</string>
        <key>sourceSize</key>
        <string>{40,77}</string>
      </dict>
      <key>player_28002_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{48,70}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{48,70}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>player_28002_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,126},{74,74}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,74}}</string>
        <key>sourceSize</key>
        <string>{76,74}</string>
      </dict>
      <key>player_28002_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,86},{38,76}}</string>
        <key>offset</key>
        <string>{6,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,76}}</string>
        <key>sourceSize</key>
        <string>{40,77}</string>
      </dict>
      <key>player_28002_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{52,70}}</string>
        <key>offset</key>
        <string>{0,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,70}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_28002_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,196},{68,72}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>player_28002_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,272},{42,70}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{42,70}}</string>
        <key>sourceSize</key>
        <string>{42,70}</string>
      </dict>
      <key>player_28002_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{44,80}}</string>
        <key>offset</key>
        <string>{3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,80}}</string>
        <key>sourceSize</key>
        <string>{46,81}</string>
      </dict>
      <key>player_28002_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,82}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,82}}</string>
        <key>sourceSize</key>
        <string>{70,82}</string>
      </dict>
      <key>player_28002_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{44,78}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{44,78}}</string>
        <key>sourceSize</key>
        <string>{44,78}</string>
      </dict>
      <key>player_28002_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,112},{42,76}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{42,76}}</string>
        <key>sourceSize</key>
        <string>{42,77}</string>
      </dict>
      <key>player_28002_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{68,82}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,82}}</string>
        <key>sourceSize</key>
        <string>{70,82}</string>
      </dict>
      <key>player_28002_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,46},{38,80}}</string>
        <key>offset</key>
        <string>{5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{38,80}}</string>
        <key>sourceSize</key>
        <string>{40,80}</string>
      </dict>
      <key>player_28002_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,336},{50,64}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>player_28002_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{76,70}}</string>
        <key>offset</key>
        <string>{-12,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>player_28002_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,156},{38,74}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{38,74}}</string>
        <key>sourceSize</key>
        <string>{40,74}</string>
      </dict>
      <key>player_28002_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{52,62}}</string>
        <key>offset</key>
        <string>{-5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{52,62}}</string>
        <key>sourceSize</key>
        <string>{52,62}</string>
      </dict>
      <key>player_28002_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,316},{68,70}}</string>
        <key>offset</key>
        <string>{-14,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>player_28002_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{42,72}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{42,72}}</string>
        <key>sourceSize</key>
        <string>{42,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28002_1_7.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>player_28002_1_7.png</string>
    </dict>
  </dict>
</plist>