<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,308},{62,60}}</string>
        <key>offset</key>
        <string>{4,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,61}</string>
      </dict>
      <key>player_28000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,382},{66,70}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,71}</string>
      </dict>
      <key>player_28000_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{66,78}}</string>
        <key>offset</key>
        <string>{5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>player_28000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,454},{54,64}}</string>
        <key>offset</key>
        <string>{0,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{54,64}}</string>
        <key>sourceSize</key>
        <string>{54,65}</string>
      </dict>
      <key>player_28000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,416},{52,72}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{52,72}}</string>
        <key>sourceSize</key>
        <string>{52,72}</string>
      </dict>
      <key>player_28000_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,134},{54,78}}</string>
        <key>offset</key>
        <string>{9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{54,78}}</string>
        <key>sourceSize</key>
        <string>{54,78}</string>
      </dict>
      <key>player_28000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,250},{56,74}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,74}}</string>
        <key>sourceSize</key>
        <string>{58,75}</string>
      </dict>
      <key>player_28000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,190},{58,76}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,76}}</string>
        <key>sourceSize</key>
        <string>{60,77}</string>
      </dict>
      <key>player_28000_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,146},{66,78}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>player_28000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{64,80}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{64,80}}</string>
        <key>sourceSize</key>
        <string>{64,81}</string>
      </dict>
      <key>player_28000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,66},{66,80}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{66,80}}</string>
        <key>sourceSize</key>
        <string>{66,81}</string>
      </dict>
      <key>player_28000_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,214},{70,76}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,76}}</string>
        <key>sourceSize</key>
        <string>{70,76}</string>
      </dict>
      <key>player_28000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,82}}</string>
        <key>offset</key>
        <string>{-1,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,82}}</string>
        <key>sourceSize</key>
        <string>{70,82}</string>
      </dict>
      <key>player_28000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{68,82}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{68,82}}</string>
        <key>sourceSize</key>
        <string>{70,82}</string>
      </dict>
      <key>player_28000_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,286},{70,74}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{70,74}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_28000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,70},{74,80}}</string>
        <key>offset</key>
        <string>{0,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_28000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{68,80}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{68,80}}</string>
        <key>sourceSize</key>
        <string>{68,81}</string>
      </dict>
      <key>player_28000_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{60,78}}</string>
        <key>offset</key>
        <string>{6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{60,78}}</string>
        <key>sourceSize</key>
        <string>{60,79}</string>
      </dict>
      <key>player_28000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{74,70}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>player_28000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,308},{72,74}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>player_28000_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{60,76}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{60,76}}</string>
        <key>sourceSize</key>
        <string>{60,76}</string>
      </dict>
      <key>player_28000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,358},{74,56}}</string>
        <key>offset</key>
        <string>{2,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,56}}</string>
        <key>sourceSize</key>
        <string>{76,57}</string>
      </dict>
      <key>player_28000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{74,64}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,64}}</string>
        <key>sourceSize</key>
        <string>{76,65}</string>
      </dict>
      <key>player_28000_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,416},{70,72}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{70,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28000_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_28000_0_7.png</string>
    </dict>
  </dict>
</plist>