<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21029_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{68,75}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_21029_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,306},{59,74}}</string>
        <key>offset</key>
        <string>{9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,74}}</string>
        <key>sourceSize</key>
        <string>{59,74}</string>
      </dict>
      <key>player_21029_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,236},{67,78}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,78}}</string>
        <key>sourceSize</key>
        <string>{67,78}</string>
      </dict>
      <key>player_21029_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{75,86}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,86}}</string>
        <key>sourceSize</key>
        <string>{75,86}</string>
      </dict>
      <key>player_21029_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,76},{78,83}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,83}}</string>
        <key>sourceSize</key>
        <string>{78,83}</string>
      </dict>
      <key>player_21029_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,152},{82,81}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>player_21029_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,439},{65,73}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,73}}</string>
        <key>sourceSize</key>
        <string>{65,73}</string>
      </dict>
      <key>player_21029_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{63,75}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
      <key>player_21029_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,301},{74,78}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>player_21029_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{74,86}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,86}}</string>
        <key>sourceSize</key>
        <string>{74,86}</string>
      </dict>
      <key>player_21029_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,235},{69,79}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,79}}</string>
        <key>sourceSize</key>
        <string>{69,79}</string>
      </dict>
      <key>player_21029_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,74},{86,76}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>player_21029_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,506},{71,65}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,65}}</string>
        <key>sourceSize</key>
        <string>{71,65}</string>
      </dict>
      <key>player_21029_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,514},{70,71}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_21029_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{85,71}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,71}}</string>
        <key>sourceSize</key>
        <string>{85,71}</string>
      </dict>
      <key>player_21029_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,156},{78,82}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>player_21029_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,294},{71,80}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,80}}</string>
        <key>sourceSize</key>
        <string>{71,80}</string>
      </dict>
      <key>player_21029_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,73},{84,71}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,71}}</string>
        <key>sourceSize</key>
        <string>{84,71}</string>
      </dict>
      <key>player_21029_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,572},{70,67}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,67}}</string>
        <key>sourceSize</key>
        <string>{70,67}</string>
      </dict>
      <key>player_21029_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,307},{74,68}}</string>
        <key>offset</key>
        <string>{-3,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,68}}</string>
        <key>sourceSize</key>
        <string>{74,68}</string>
      </dict>
      <key>player_21029_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{78,69}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,69}}</string>
        <key>sourceSize</key>
        <string>{78,69}</string>
      </dict>
      <key>player_21029_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,75},{84,75}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,75}}</string>
        <key>sourceSize</key>
        <string>{84,75}</string>
      </dict>
      <key>player_21029_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,305},{78,77}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>player_21029_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,503},{71,67}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,67}}</string>
        <key>sourceSize</key>
        <string>{71,67}</string>
      </dict>
      <key>player_21029_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,442},{58,72}}</string>
        <key>offset</key>
        <string>{6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>player_21029_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,566},{66,71}}</string>
        <key>offset</key>
        <string>{0,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,71}}</string>
        <key>sourceSize</key>
        <string>{66,71}</string>
      </dict>
      <key>player_21029_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,448},{64,73}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_21029_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,222},{82,77}}</string>
        <key>offset</key>
        <string>{-3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,77}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>player_21029_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{85,86}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,86}}</string>
        <key>sourceSize</key>
        <string>{85,86}</string>
      </dict>
      <key>player_21029_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,367},{70,74}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,74}}</string>
        <key>sourceSize</key>
        <string>{70,74}</string>
      </dict>
      <key>player_21029_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,502},{62,72}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,72}}</string>
        <key>sourceSize</key>
        <string>{62,72}</string>
      </dict>
      <key>player_21029_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,384},{62,74}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
      <key>player_21029_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,77},{63,75}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
      <key>player_21029_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,152},{68,83}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,83}}</string>
        <key>sourceSize</key>
        <string>{68,83}</string>
      </dict>
      <key>player_21029_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,92}}</string>
        <key>offset</key>
        <string>{6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,92}}</string>
        <key>sourceSize</key>
        <string>{71,92}</string>
      </dict>
      <key>player_21029_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,377},{75,78}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,78}}</string>
        <key>sourceSize</key>
        <string>{75,78}</string>
      </dict>
      <key>player_21029_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,367},{68,74}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
      <key>player_21029_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,573},{65,71}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>player_21029_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,377},{63,74}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,74}}</string>
        <key>sourceSize</key>
        <string>{63,74}</string>
      </dict>
      <key>player_21029_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,237},{69,82}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,82}}</string>
        <key>sourceSize</key>
        <string>{69,82}</string>
      </dict>
      <key>player_21029_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{72,88}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>player_21029_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,225},{67,81}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,81}}</string>
        <key>sourceSize</key>
        <string>{67,81}</string>
      </dict>
      <key>player_21029_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,454},{63,73}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_21029_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,437},{64,73}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_21029_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{68,75}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_21029_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,146},{77,83}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>player_21029_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,225},{80,82}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>player_21029_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{73,86}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21029_1_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_21029_1_3.png</string>
    </dict>
  </dict>
</plist>