<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0516_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,0},{221,100}}</string>
        <key>offset</key>
        <string>{-84,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{221,100}</string>
        <key>sourceSize</key>
        <string>{221,100}</string>
      </dict>
      <key>player_0516_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{223,98}}</string>
        <key>offset</key>
        <string>{-84,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,98}</string>
        <key>sourceSize</key>
        <string>{223,98}</string>
      </dict>
      <key>player_0516_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,96}}</string>
        <key>offset</key>
        <string>{-85,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{224,96}</string>
        <key>sourceSize</key>
        <string>{224,96}</string>
      </dict>
      <key>player_0516_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,450},{222,91}}</string>
        <key>offset</key>
        <string>{-84,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{222,91}</string>
        <key>sourceSize</key>
        <string>{222,91}</string>
      </dict>
      <key>player_0516_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,450},{222,94}}</string>
        <key>offset</key>
        <string>{-86,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{222,94}</string>
        <key>sourceSize</key>
        <string>{222,94}</string>
      </dict>
      <key>player_0516_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{223,106}}</string>
        <key>offset</key>
        <string>{-84,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,106}</string>
        <key>sourceSize</key>
        <string>{223,106}</string>
      </dict>
      <key>player_0516_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,845},{157,157}}</string>
        <key>offset</key>
        <string>{-73,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,157}</string>
        <key>sourceSize</key>
        <string>{157,157}</string>
      </dict>
      <key>player_0516_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,346},{168,145}}</string>
        <key>offset</key>
        <string>{-83,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{168,145}</string>
        <key>sourceSize</key>
        <string>{168,145}</string>
      </dict>
      <key>player_0516_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,405},{173,142}}</string>
        <key>offset</key>
        <string>{-85,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{173,142}</string>
        <key>sourceSize</key>
        <string>{173,142}</string>
      </dict>
      <key>player_0516_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,353},{172,141}}</string>
        <key>offset</key>
        <string>{-87,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,141}</string>
        <key>sourceSize</key>
        <string>{172,141}</string>
      </dict>
      <key>player_0516_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,174},{170,137}}</string>
        <key>offset</key>
        <string>{-88,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,137}</string>
        <key>sourceSize</key>
        <string>{170,137}</string>
      </dict>
      <key>player_0516_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,175},{172,143}}</string>
        <key>offset</key>
        <string>{-85,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,143}</string>
        <key>sourceSize</key>
        <string>{172,143}</string>
      </dict>
      <key>player_0516_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,901},{93,185}}</string>
        <key>offset</key>
        <string>{-27,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{93,185}</string>
        <key>sourceSize</key>
        <string>{93,185}</string>
      </dict>
      <key>player_0516_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,674},{97,180}}</string>
        <key>offset</key>
        <string>{-31,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{97,180}</string>
        <key>sourceSize</key>
        <string>{97,180}</string>
      </dict>
      <key>player_0516_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,449},{106,180}}</string>
        <key>offset</key>
        <string>{-33,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{106,180}</string>
        <key>sourceSize</key>
        <string>{106,180}</string>
      </dict>
      <key>player_0516_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{101,176}}</string>
        <key>offset</key>
        <string>{-34,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{101,176}</string>
        <key>sourceSize</key>
        <string>{101,176}</string>
      </dict>
      <key>player_0516_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,856},{97,175}}</string>
        <key>offset</key>
        <string>{-36,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{97,175}</string>
        <key>sourceSize</key>
        <string>{97,175}</string>
      </dict>
      <key>player_0516_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,223},{102,180}}</string>
        <key>offset</key>
        <string>{-31,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{102,180}</string>
        <key>sourceSize</key>
        <string>{102,180}</string>
      </dict>
      <key>player_0516_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,631},{175,158}}</string>
        <key>offset</key>
        <string>{-86,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,158}</string>
        <key>sourceSize</key>
        <string>{175,158}</string>
      </dict>
      <key>player_0516_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,0},{164,163}}</string>
        <key>offset</key>
        <string>{-87,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{164,163}</string>
        <key>sourceSize</key>
        <string>{164,163}</string>
      </dict>
      <key>player_0516_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,796},{161,164}}</string>
        <key>offset</key>
        <string>{-84,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,164}</string>
        <key>sourceSize</key>
        <string>{161,164}</string>
      </dict>
      <key>player_0516_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1207,0},{162,162}}</string>
        <key>offset</key>
        <string>{-86,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{162,162}</string>
        <key>sourceSize</key>
        <string>{162,162}</string>
      </dict>
      <key>player_0516_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,172},{165,161}}</string>
        <key>offset</key>
        <string>{-88,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,161}</string>
        <key>sourceSize</key>
        <string>{165,161}</string>
      </dict>
      <key>player_0516_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,796},{163,164}}</string>
        <key>offset</key>
        <string>{-85,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{163,164}</string>
        <key>sourceSize</key>
        <string>{163,164}</string>
      </dict>
      <key>player_0516_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,225},{222,135}}</string>
        <key>offset</key>
        <string>{-90,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{222,135}</string>
        <key>sourceSize</key>
        <string>{222,135}</string>
      </dict>
      <key>player_0516_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{223,140}}</string>
        <key>offset</key>
        <string>{-91,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,140}</string>
        <key>sourceSize</key>
        <string>{223,140}</string>
      </dict>
      <key>player_0516_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,225},{223,140}}</string>
        <key>offset</key>
        <string>{-91,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,140}</string>
        <key>sourceSize</key>
        <string>{223,140}</string>
      </dict>
      <key>player_0516_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{223,139}}</string>
        <key>offset</key>
        <string>{-90,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,139}</string>
        <key>sourceSize</key>
        <string>{223,139}</string>
      </dict>
      <key>player_0516_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,676},{223,134}}</string>
        <key>offset</key>
        <string>{-89,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,134}</string>
        <key>sourceSize</key>
        <string>{223,134}</string>
      </dict>
      <key>player_0516_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,676},{223,136}}</string>
        <key>offset</key>
        <string>{-91,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,136}</string>
        <key>sourceSize</key>
        <string>{223,136}</string>
      </dict>
      <key>player_0516_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1025,505},{157,160}}</string>
        <key>offset</key>
        <string>{-36,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{157,160}</string>
        <key>sourceSize</key>
        <string>{157,160}</string>
      </dict>
      <key>player_0516_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{170,158}}</string>
        <key>offset</key>
        <string>{-38,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,158}</string>
        <key>sourceSize</key>
        <string>{170,158}</string>
      </dict>
      <key>player_0516_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,178},{173,161}}</string>
        <key>offset</key>
        <string>{-40,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{173,161}</string>
        <key>sourceSize</key>
        <string>{173,161}</string>
      </dict>
      <key>player_0516_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,0},{172,163}}</string>
        <key>offset</key>
        <string>{-37,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,163}</string>
        <key>sourceSize</key>
        <string>{172,163}</string>
      </dict>
      <key>player_0516_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,527},{171,163}}</string>
        <key>offset</key>
        <string>{-34,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,163}</string>
        <key>sourceSize</key>
        <string>{171,163}</string>
      </dict>
      <key>player_0516_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{173,163}}</string>
        <key>offset</key>
        <string>{-39,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{173,163}</string>
        <key>sourceSize</key>
        <string>{173,163}</string>
      </dict>
      <key>player_0516_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,693},{90,161}}</string>
        <key>offset</key>
        <string>{2,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,161}</string>
        <key>sourceSize</key>
        <string>{90,161}</string>
      </dict>
      <key>player_0516_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{627,700},{94,170}}</string>
        <key>offset</key>
        <string>{0,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{94,170}</string>
        <key>sourceSize</key>
        <string>{94,170}</string>
      </dict>
      <key>player_0516_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,522},{93,169}}</string>
        <key>offset</key>
        <string>{1,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{93,169}</string>
        <key>sourceSize</key>
        <string>{93,169}</string>
      </dict>
      <key>player_0516_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,580},{92,173}}</string>
        <key>offset</key>
        <string>{2,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{92,173}</string>
        <key>sourceSize</key>
        <string>{92,173}</string>
      </dict>
      <key>player_0516_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,349},{82,171}}</string>
        <key>offset</key>
        <string>{5,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{82,171}</string>
        <key>sourceSize</key>
        <string>{82,171}</string>
      </dict>
      <key>player_0516_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1227,164},{90,159}}</string>
        <key>offset</key>
        <string>{5,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{90,159}</string>
        <key>sourceSize</key>
        <string>{90,159}</string>
      </dict>
      <key>player_0516_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,808},{175,133}}</string>
        <key>offset</key>
        <string>{-41,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,133}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>player_0516_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,516},{164,136}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{164,136}</string>
        <key>sourceSize</key>
        <string>{164,136}</string>
      </dict>
      <key>player_0516_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,331},{160,140}}</string>
        <key>offset</key>
        <string>{-28,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,140}</string>
        <key>sourceSize</key>
        <string>{160,140}</string>
      </dict>
      <key>player_0516_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,682},{161,139}}</string>
        <key>offset</key>
        <string>{-28,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,139}</string>
        <key>sourceSize</key>
        <string>{161,139}</string>
      </dict>
      <key>player_0516_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,339},{164,138}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{164,138}</string>
        <key>sourceSize</key>
        <string>{164,138}</string>
      </dict>
      <key>player_0516_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,166},{163,132}}</string>
        <key>offset</key>
        <string>{-30,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{163,132}</string>
        <key>sourceSize</key>
        <string>{163,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0516_1_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0516_1_3.png</string>
    </dict>
  </dict>
</plist>