<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_11001_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,385},{78,77}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>player_11001_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,179},{76,80}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_11001_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,313},{77,76}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>player_11001_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,367},{84,84}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>player_11001_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,163},{70,80}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,80}}</string>
        <key>sourceSize</key>
        <string>{70,80}</string>
      </dict>
      <key>player_11001_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,88},{71,84}}</string>
        <key>offset</key>
        <string>{3,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,84}}</string>
        <key>sourceSize</key>
        <string>{71,84}</string>
      </dict>
      <key>player_11001_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,385},{75,79}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,79}}</string>
        <key>sourceSize</key>
        <string>{75,79}</string>
      </dict>
      <key>player_11001_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{84,90}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>player_11001_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,279},{67,86}}</string>
        <key>offset</key>
        <string>{4,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,86}}</string>
        <key>sourceSize</key>
        <string>{67,86}</string>
      </dict>
      <key>player_11001_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,183},{65,86}}</string>
        <key>offset</key>
        <string>{5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,86}}</string>
        <key>sourceSize</key>
        <string>{65,86}</string>
      </dict>
      <key>player_11001_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{77,90}}</string>
        <key>offset</key>
        <string>{-7,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,90}}</string>
        <key>sourceSize</key>
        <string>{77,90}</string>
      </dict>
      <key>player_11001_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{75,93}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,93}}</string>
        <key>sourceSize</key>
        <string>{75,93}</string>
      </dict>
      <key>player_11001_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,179},{70,83}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,83}}</string>
        <key>sourceSize</key>
        <string>{70,83}</string>
      </dict>
      <key>player_11001_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{76,85}}</string>
        <key>offset</key>
        <string>{-2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,85}}</string>
        <key>sourceSize</key>
        <string>{76,85}</string>
      </dict>
      <key>player_11001_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,95},{77,91}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,91}}</string>
        <key>sourceSize</key>
        <string>{77,91}</string>
      </dict>
      <key>player_11001_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{73,90}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,90}}</string>
        <key>sourceSize</key>
        <string>{73,90}</string>
      </dict>
      <key>player_11001_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,235},{76,80}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_11001_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,78},{85,83}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,83}}</string>
        <key>sourceSize</key>
        <string>{85,83}</string>
      </dict>
      <key>player_11001_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,188},{89,86}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,86}}</string>
        <key>sourceSize</key>
        <string>{89,86}</string>
      </dict>
      <key>player_11001_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,91},{86,82}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>player_11001_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,92},{76,89}}</string>
        <key>offset</key>
        <string>{-2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>player_11001_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{83,92}}</string>
        <key>offset</key>
        <string>{-8,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>player_11001_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,381},{78,90}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>player_11001_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,271},{76,84}}</string>
        <key>offset</key>
        <string>{-1,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,84}}</string>
        <key>sourceSize</key>
        <string>{76,84}</string>
      </dict>
      <key>player_11001_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{71,93}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,93}}</string>
        <key>sourceSize</key>
        <string>{71,93}</string>
      </dict>
      <key>player_11001_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{69,98}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,98}}</string>
        <key>sourceSize</key>
        <string>{69,98}</string>
      </dict>
      <key>player_11001_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,381},{71,88}}</string>
        <key>offset</key>
        <string>{-1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,88}}</string>
        <key>sourceSize</key>
        <string>{71,88}</string>
      </dict>
      <key>player_11001_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,264},{69,81}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,81}}</string>
        <key>sourceSize</key>
        <string>{69,81}</string>
      </dict>
      <key>player_11001_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,289},{83,90}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,90}}</string>
        <key>sourceSize</key>
        <string>{83,90}</string>
      </dict>
      <key>player_11001_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{82,89}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>player_11001_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{78,86}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,86}}</string>
        <key>sourceSize</key>
        <string>{78,86}</string>
      </dict>
      <key>player_11001_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,313},{70,80}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,80}}</string>
        <key>sourceSize</key>
        <string>{70,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_11001_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_11001_0_0.png</string>
    </dict>
  </dict>
</plist>