<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,196},{94,78}}</string>
        <key>offset</key>
        <string>{-15,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,78}}</string>
        <key>sourceSize</key>
        <string>{96,78}</string>
      </dict>
      <key>player_28006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,98},{92,78}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,78}}</string>
        <key>sourceSize</key>
        <string>{92,78}</string>
      </dict>
      <key>player_28006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,292},{94,90}}</string>
        <key>offset</key>
        <string>{-6,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>player_28006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,90},{76,88}}</string>
        <key>offset</key>
        <string>{-17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{76,88}}</string>
        <key>sourceSize</key>
        <string>{76,88}</string>
      </dict>
      <key>player_28006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,168},{72,88}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>player_28006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,196},{84,94}}</string>
        <key>offset</key>
        <string>{-7,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>player_28006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,104},{76,96}}</string>
        <key>offset</key>
        <string>{-21,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,96}}</string>
        <key>sourceSize</key>
        <string>{76,97}</string>
      </dict>
      <key>player_28006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,314},{64,98}}</string>
        <key>offset</key>
        <string>{2,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{64,98}}</string>
        <key>sourceSize</key>
        <string>{66,98}</string>
      </dict>
      <key>player_28006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{70,100}}</string>
        <key>offset</key>
        <string>{5,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>player_28006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{78,104}}</string>
        <key>offset</key>
        <string>{-20,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{78,104}}</string>
        <key>sourceSize</key>
        <string>{80,104}</string>
      </dict>
      <key>player_28006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{84,96}}</string>
        <key>offset</key>
        <string>{-13,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,96}}</string>
        <key>sourceSize</key>
        <string>{84,96}</string>
      </dict>
      <key>player_28006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{88,92}}</string>
        <key>offset</key>
        <string>{-9,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{88,92}}</string>
        <key>sourceSize</key>
        <string>{88,92}</string>
      </dict>
      <key>player_28006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,320},{94,100}}</string>
        <key>offset</key>
        <string>{-8,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,100}}</string>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
      <key>player_28006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,98},{94,96}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,96}}</string>
        <key>sourceSize</key>
        <string>{96,97}</string>
      </dict>
      <key>player_28006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{96,86}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{96,86}}</string>
        <key>sourceSize</key>
        <string>{96,86}</string>
      </dict>
      <key>player_28006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{100,104}}</string>
        <key>offset</key>
        <string>{-6,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,104}}</string>
        <key>sourceSize</key>
        <string>{100,105}</string>
      </dict>
      <key>player_28006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,106}}</string>
        <key>offset</key>
        <string>{1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{86,106}}</string>
        <key>sourceSize</key>
        <string>{88,106}</string>
      </dict>
      <key>player_28006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,216},{74,102}}</string>
        <key>offset</key>
        <string>{4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,102}}</string>
        <key>sourceSize</key>
        <string>{76,102}</string>
      </dict>
      <key>player_28006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,212},{90,100}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{90,100}}</string>
        <key>sourceSize</key>
        <string>{92,100}</string>
      </dict>
      <key>player_28006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,422},{86,100}}</string>
        <key>offset</key>
        <string>{-9,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{88,101}</string>
      </dict>
      <key>player_28006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,108},{72,102}}</string>
        <key>offset</key>
        <string>{-2,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,102}}</string>
        <key>sourceSize</key>
        <string>{72,102}</string>
      </dict>
      <key>player_28006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{102,78}}</string>
        <key>offset</key>
        <string>{-6,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,78}}</string>
        <key>sourceSize</key>
        <string>{104,79}</string>
      </dict>
      <key>player_28006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{106,82}}</string>
        <key>offset</key>
        <string>{-14,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{106,82}}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>player_28006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,414},{98,96}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28006_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_28006_0_7.png</string>
    </dict>
  </dict>
</plist>