<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20009_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{120,112}}</string>
        <key>offset</key>
        <string>{-44,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{120,112}}</string>
        <key>sourceSize</key>
        <string>{121,112}</string>
      </dict>
      <key>player_20009_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,138}}</string>
        <key>offset</key>
        <string>{-34,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,138}}</string>
        <key>sourceSize</key>
        <string>{106,138}</string>
      </dict>
      <key>player_20009_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{110,136}}</string>
        <key>offset</key>
        <string>{-37,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{110,136}}</string>
        <key>sourceSize</key>
        <string>{111,136}</string>
      </dict>
      <key>player_20009_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,276},{118,126}}</string>
        <key>offset</key>
        <string>{-44,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
      <key>player_20009_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{104,130}}</string>
        <key>offset</key>
        <string>{-9,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{104,130}}</string>
        <key>sourceSize</key>
        <string>{105,130}</string>
      </dict>
      <key>player_20009_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,140},{84,134}}</string>
        <key>offset</key>
        <string>{0,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,134}}</string>
        <key>sourceSize</key>
        <string>{85,135}</string>
      </dict>
      <key>player_20009_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{92,138}}</string>
        <key>offset</key>
        <string>{-4,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,138}}</string>
        <key>sourceSize</key>
        <string>{92,138}</string>
      </dict>
      <key>player_20009_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,140},{108,108}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20009_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_20009_0_11.png</string>
    </dict>
  </dict>
</plist>