<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0511_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,1628},{190,202}}</string>
        <key>offset</key>
        <string>{-175,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,83},{190,202}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,1508},{204,198}}</string>
        <key>offset</key>
        <string>{-178,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{96,87},{204,198}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,1708},{202,200}}</string>
        <key>offset</key>
        <string>{-182,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{93,87},{202,200}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,1290},{190,208}}</string>
        <key>offset</key>
        <string>{-181,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,78},{190,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1814},{194,202}}</string>
        <key>offset</key>
        <string>{-178,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{101,85},{194,202}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,1424},{206,202}}</string>
        <key>offset</key>
        <string>{-175,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{98,83},{206,202}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,1262},{160,214}}</string>
        <key>offset</key>
        <string>{-201,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{95,71},{160,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1484},{168,212}}</string>
        <key>offset</key>
        <string>{-203,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,70},{168,212}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1002},{170,224}}</string>
        <key>offset</key>
        <string>{-201,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{90,64},{170,224}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,936},{160,222}}</string>
        <key>offset</key>
        <string>{-200,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{96,68},{160,222}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,832},{166,224}}</string>
        <key>offset</key>
        <string>{-196,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{97,69},{166,224}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,1188},{170,218}}</string>
        <key>offset</key>
        <string>{-206,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{85,69},{170,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,274},{138,232}}</string>
        <key>offset</key>
        <string>{-199,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{108,51},{138,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,532},{154,230}}</string>
        <key>offset</key>
        <string>{-185,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{114,47},{154,230}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,166},{168,234}}</string>
        <key>offset</key>
        <string>{-183,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{109,44},{168,234}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{148,234}}</string>
        <key>offset</key>
        <string>{-184,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{118,44},{148,234}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1654},{158,204}}</string>
        <key>offset</key>
        <string>{-187,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,44},{158,204}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,1360},{146,214}}</string>
        <key>offset</key>
        <string>{-196,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{107,43},{146,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,1496},{164,196}}</string>
        <key>offset</key>
        <string>{-202,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{92,41},{164,196}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,764},{170,226}}</string>
        <key>offset</key>
        <string>{-205,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,34},{170,226}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,174},{172,234}}</string>
        <key>offset</key>
        <string>{-206,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,36},{172,234}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{164,238}}</string>
        <key>offset</key>
        <string>{-203,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,38},{164,238}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,514},{162,228}}</string>
        <key>offset</key>
        <string>{-202,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,37},{162,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{172,236}}</string>
        <key>offset</key>
        <string>{-204,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,31},{172,236}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,582},{180,228}}</string>
        <key>offset</key>
        <string>{-179,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{107,49},{180,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,688},{196,228}}</string>
        <key>offset</key>
        <string>{-173,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{105,42},{196,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,336},{194,232}}</string>
        <key>offset</key>
        <string>{-169,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,43},{194,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,816},{184,228}}</string>
        <key>offset</key>
        <string>{-171,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{113,52},{184,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,886},{182,226}}</string>
        <key>offset</key>
        <string>{-177,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{108,51},{182,226}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{196,232}}</string>
        <key>offset</key>
        <string>{-178,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,45},{196,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,246}}</string>
        <key>offset</key>
        <string>{-143,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{157,39},{152,246}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,348},{164,232}}</string>
        <key>offset</key>
        <string>{-138,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{156,30},{164,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,414},{166,232}}</string>
        <key>offset</key>
        <string>{-143,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{150,35},{166,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{158,230}}</string>
        <key>offset</key>
        <string>{-146,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{151,42},{158,230}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{152,238}}</string>
        <key>offset</key>
        <string>{-144,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{156,42},{152,238}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1174},{168,220}}</string>
        <key>offset</key>
        <string>{-140,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{152,35},{168,220}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,130},{142,236}}</string>
        <key>offset</key>
        <string>{-152,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,46},{142,236}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{128,238}}</string>
        <key>offset</key>
        <string>{-151,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{161,42},{128,238}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,1000},{132,220}}</string>
        <key>offset</key>
        <string>{-149,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{161,47},{132,220}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,1070},{116,222}}</string>
        <key>offset</key>
        <string>{-162,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{156,55},{116,222}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1344},{138,218}}</string>
        <key>offset</key>
        <string>{-165,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{142,54},{138,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,678},{152,228}}</string>
        <key>offset</key>
        <string>{-162,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{138,43},{152,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,1290},{152,204}}</string>
        <key>offset</key>
        <string>{-148,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{152,67},{152,204}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1098},{162,220}}</string>
        <key>offset</key>
        <string>{-143,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{152,67},{162,220}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,1694},{188,170}}</string>
        <key>offset</key>
        <string>{-155,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{127,72},{188,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,1482},{154,204}}</string>
        <key>offset</key>
        <string>{-146,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,76},{154,204}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,1134},{154,218}}</string>
        <key>offset</key>
        <string>{-149,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{150,69},{154,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1638},{164,194}}</string>
        <key>offset</key>
        <string>{-147,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{147,65},{164,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0511_1_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>player_0511_1_1.png</string>
    </dict>
  </dict>
</plist>