<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20004_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,814},{116,126}}</string>
        <key>offset</key>
        <string>{-66,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{41,62},{116,126}}</string>
        <key>sourceSize</key>
        <string>{160,189}</string>
      </dict>
      <key>player_20004_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,110},{104,94}}</string>
        <key>offset</key>
        <string>{-65,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,94},{104,94}}</string>
        <key>sourceSize</key>
        <string>{152,189}</string>
      </dict>
      <key>player_20004_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{110,136}}</string>
        <key>offset</key>
        <string>{-65,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,47},{110,136}}</string>
        <key>sourceSize</key>
        <string>{156,184}</string>
      </dict>
      <key>player_20004_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,554},{112,128}}</string>
        <key>offset</key>
        <string>{-57,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,44},{112,128}}</string>
        <key>sourceSize</key>
        <string>{176,173}</string>
      </dict>
      <key>player_20004_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{112,128}}</string>
        <key>offset</key>
        <string>{-56,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,45},{112,128}}</string>
        <key>sourceSize</key>
        <string>{176,174}</string>
      </dict>
      <key>player_20004_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,134},{114,130}}</string>
        <key>offset</key>
        <string>{-57,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,44},{114,130}}</string>
        <key>sourceSize</key>
        <string>{172,175}</string>
      </dict>
      <key>player_20004_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,554},{98,126}}</string>
        <key>offset</key>
        <string>{-59,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{55,64},{98,126}}</string>
        <key>sourceSize</key>
        <string>{156,191}</string>
      </dict>
      <key>player_20004_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{94,118}}</string>
        <key>offset</key>
        <string>{-59,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{55,79},{94,118}}</string>
        <key>sourceSize</key>
        <string>{152,198}</string>
      </dict>
      <key>player_20004_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,682},{108,126}}</string>
        <key>offset</key>
        <string>{-65,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{42,53},{108,126}}</string>
        <key>sourceSize</key>
        <string>{152,180}</string>
      </dict>
      <key>player_20004_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,122}}</string>
        <key>offset</key>
        <string>{-68,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,53},{142,122}}</string>
        <key>sourceSize</key>
        <string>{180,176}</string>
      </dict>
      <key>player_20004_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,394},{124,120}}</string>
        <key>offset</key>
        <string>{-67,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,54},{124,120}}</string>
        <key>sourceSize</key>
        <string>{164,175}</string>
      </dict>
      <key>player_20004_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,416},{126,120}}</string>
        <key>offset</key>
        <string>{-69,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,53},{126,120}}</string>
        <key>sourceSize</key>
        <string>{164,174}</string>
      </dict>
      <key>player_20004_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,254},{102,118}}</string>
        <key>offset</key>
        <string>{-63,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,56},{102,118}}</string>
        <key>sourceSize</key>
        <string>{152,175}</string>
      </dict>
      <key>player_20004_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,814},{106,128}}</string>
        <key>offset</key>
        <string>{-62,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{48,59},{106,128}}</string>
        <key>sourceSize</key>
        <string>{156,188}</string>
      </dict>
      <key>player_20004_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,374},{114,118}}</string>
        <key>offset</key>
        <string>{-65,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,57},{114,118}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20004_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,544},{126,112}}</string>
        <key>offset</key>
        <string>{-59,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{53,58},{126,112}}</string>
        <key>sourceSize</key>
        <string>{180,171}</string>
      </dict>
      <key>player_20004_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,120},{116,114}}</string>
        <key>offset</key>
        <string>{-60,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{53,58},{116,114}}</string>
        <key>sourceSize</key>
        <string>{172,173}</string>
      </dict>
      <key>player_20004_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{110,116}}</string>
        <key>offset</key>
        <string>{-59,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,56},{110,116}}</string>
        <key>sourceSize</key>
        <string>{164,173}</string>
      </dict>
      <key>player_20004_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,494},{114,114}}</string>
        <key>offset</key>
        <string>{-65,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{41,55},{114,114}}</string>
        <key>sourceSize</key>
        <string>{156,170}</string>
      </dict>
      <key>player_20004_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,420},{114,132}}</string>
        <key>offset</key>
        <string>{-65,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,43},{114,132}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20004_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{130,102}}</string>
        <key>offset</key>
        <string>{-68,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,68},{130,102}}</string>
        <key>sourceSize</key>
        <string>{172,171}</string>
      </dict>
      <key>player_20004_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,282},{132,112}}</string>
        <key>offset</key>
        <string>{-69,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{34,55},{132,112}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>player_20004_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,672},{126,116}}</string>
        <key>offset</key>
        <string>{-68,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,54},{126,116}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
      <key>player_20004_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,770},{120,116}}</string>
        <key>offset</key>
        <string>{-68,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,53},{120,116}}</string>
        <key>sourceSize</key>
        <string>{156,170}</string>
      </dict>
      <key>player_20004_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,254},{102,118}}</string>
        <key>offset</key>
        <string>{-49,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{75,51},{102,118}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>player_20004_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,144},{104,132}}</string>
        <key>offset</key>
        <string>{-50,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{71,41},{104,132}}</string>
        <key>sourceSize</key>
        <string>{176,174}</string>
      </dict>
      <key>player_20004_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{108,100}}</string>
        <key>offset</key>
        <string>{-53,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,68},{108,100}}</string>
        <key>sourceSize</key>
        <string>{180,169}</string>
      </dict>
      <key>player_20004_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,924},{120,98}}</string>
        <key>offset</key>
        <string>{-63,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{46,71},{120,98}}</string>
        <key>sourceSize</key>
        <string>{168,170}</string>
      </dict>
      <key>player_20004_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,120},{118,102}}</string>
        <key>offset</key>
        <string>{-64,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,70},{118,102}}</string>
        <key>sourceSize</key>
        <string>{168,173}</string>
      </dict>
      <key>player_20004_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,360},{114,98}}</string>
        <key>offset</key>
        <string>{-62,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{48,71},{114,98}}</string>
        <key>sourceSize</key>
        <string>{164,170}</string>
      </dict>
      <key>player_20004_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,944},{78,126}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{87,48},{78,126}}</string>
        <key>sourceSize</key>
        <string>{168,175}</string>
      </dict>
      <key>player_20004_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{76,132}}</string>
        <key>offset</key>
        <string>{-41,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{90,51},{76,132}}</string>
        <key>sourceSize</key>
        <string>{168,184}</string>
      </dict>
      <key>player_20004_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{94,118}}</string>
        <key>offset</key>
        <string>{-46,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,57},{94,118}}</string>
        <key>sourceSize</key>
        <string>{180,176}</string>
      </dict>
      <key>player_20004_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,800},{122,104}}</string>
        <key>offset</key>
        <string>{-55,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{61,71},{122,104}}</string>
        <key>sourceSize</key>
        <string>{184,176}</string>
      </dict>
      <key>player_20004_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,520},{124,104}}</string>
        <key>offset</key>
        <string>{-58,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{57,73},{124,104}}</string>
        <key>sourceSize</key>
        <string>{184,178}</string>
      </dict>
      <key>player_20004_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,266},{126,108}}</string>
        <key>offset</key>
        <string>{-57,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{57,68},{126,108}}</string>
        <key>sourceSize</key>
        <string>{184,177}</string>
      </dict>
      <key>player_20004_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{86,132}}</string>
        <key>offset</key>
        <string>{-43,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,51},{86,132}}</string>
        <key>sourceSize</key>
        <string>{172,184}</string>
      </dict>
      <key>player_20004_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,494},{86,118}}</string>
        <key>offset</key>
        <string>{-43,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,72},{86,118}}</string>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>player_20004_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,800},{94,124}}</string>
        <key>offset</key>
        <string>{-46,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,54},{94,124}}</string>
        <key>sourceSize</key>
        <string>{180,179}</string>
      </dict>
      <key>player_20004_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,374},{112,118}}</string>
        <key>offset</key>
        <string>{-59,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{54,61},{112,118}}</string>
        <key>sourceSize</key>
        <string>{168,180}</string>
      </dict>
      <key>player_20004_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,238},{114,112}}</string>
        <key>offset</key>
        <string>{-61,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,64},{114,112}}</string>
        <key>sourceSize</key>
        <string>{168,177}</string>
      </dict>
      <key>player_20004_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,614},{108,116}}</string>
        <key>offset</key>
        <string>{-59,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,60},{108,116}}</string>
        <key>sourceSize</key>
        <string>{168,177}</string>
      </dict>
      <key>player_20004_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,240},{110,118}}</string>
        <key>offset</key>
        <string>{-52,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{68,60},{110,118}}</string>
        <key>sourceSize</key>
        <string>{180,179}</string>
      </dict>
      <key>player_20004_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,118},{114,84}}</string>
        <key>offset</key>
        <string>{-55,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{61,92},{114,84}}</string>
        <key>sourceSize</key>
        <string>{176,177}</string>
      </dict>
      <key>player_20004_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{108,136}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,47},{108,136}}</string>
        <key>sourceSize</key>
        <string>{184,184}</string>
      </dict>
      <key>player_20004_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,892},{114,120}}</string>
        <key>offset</key>
        <string>{-52,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{70,49},{114,120}}</string>
        <key>sourceSize</key>
        <string>{188,170}</string>
      </dict>
      <key>player_20004_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,132},{112,120}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{71,50},{112,120}}</string>
        <key>sourceSize</key>
        <string>{184,171}</string>
      </dict>
      <key>player_20004_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,646},{110,122}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{74,47},{110,122}}</string>
        <key>sourceSize</key>
        <string>{188,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20004_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_20004_1_2.png</string>
    </dict>
  </dict>
</plist>