<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20004_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,80},{112,124}}</string>
        <key>offset</key>
        <string>{-64,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,56},{112,124}}</string>
        <key>sourceSize</key>
        <string>{156,181}</string>
      </dict>
      <key>player_20004_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{90,130}}</string>
        <key>offset</key>
        <string>{-58,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,56},{90,130}}</string>
        <key>sourceSize</key>
        <string>{148,187}</string>
      </dict>
      <key>player_20004_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{98,118}}</string>
        <key>offset</key>
        <string>{-59,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{53,54},{98,118}}</string>
        <key>sourceSize</key>
        <string>{152,173}</string>
      </dict>
      <key>player_20004_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{110,106}}</string>
        <key>offset</key>
        <string>{-65,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,59},{110,106}}</string>
        <key>sourceSize</key>
        <string>{156,166}</string>
      </dict>
      <key>player_20004_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{104,108}}</string>
        <key>offset</key>
        <string>{-51,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,59},{104,108}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>player_20004_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,240},{68,118}}</string>
        <key>offset</key>
        <string>{-39,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{94,55},{68,118}}</string>
        <key>sourceSize</key>
        <string>{164,174}</string>
      </dict>
      <key>player_20004_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,132}}</string>
        <key>offset</key>
        <string>{-42,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{88,55},{78,132}}</string>
        <key>sourceSize</key>
        <string>{168,188}</string>
      </dict>
      <key>player_20004_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,132},{106,122}}</string>
        <key>offset</key>
        <string>{-51,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{69,58},{106,122}}</string>
        <key>sourceSize</key>
        <string>{176,181}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20004_1_11.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>player_20004_1_11.png</string>
    </dict>
  </dict>
</plist>