<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0518_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,391},{180,95}}</string>
        <key>offset</key>
        <string>{-60,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,95}</string>
        <key>sourceSize</key>
        <string>{180,95}</string>
      </dict>
      <key>player_0518_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,597},{188,114}}</string>
        <key>offset</key>
        <string>{-59,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,114}</string>
        <key>sourceSize</key>
        <string>{188,114}</string>
      </dict>
      <key>player_0518_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{189,148}}</string>
        <key>offset</key>
        <string>{-57,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{189,148}</string>
        <key>sourceSize</key>
        <string>{189,148}</string>
      </dict>
      <key>player_0518_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,391},{171,129}}</string>
        <key>offset</key>
        <string>{-103,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,129}</string>
        <key>sourceSize</key>
        <string>{171,129}</string>
      </dict>
      <key>player_0518_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,191},{157,171}}</string>
        <key>offset</key>
        <string>{-91,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{157,171}</string>
        <key>sourceSize</key>
        <string>{157,171}</string>
      </dict>
      <key>player_0518_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,0},{155,168}}</string>
        <key>offset</key>
        <string>{-74,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{155,168}</string>
        <key>sourceSize</key>
        <string>{155,168}</string>
      </dict>
      <key>player_0518_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,564},{149,158}}</string>
        <key>offset</key>
        <string>{-90,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{149,158}</string>
        <key>sourceSize</key>
        <string>{149,158}</string>
      </dict>
      <key>player_0518_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,787},{143,186}}</string>
        <key>offset</key>
        <string>{-73,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,186}</string>
        <key>sourceSize</key>
        <string>{143,186}</string>
      </dict>
      <key>player_0518_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,625},{126,196}}</string>
        <key>offset</key>
        <string>{-47,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{126,196}</string>
        <key>sourceSize</key>
        <string>{126,196}</string>
      </dict>
      <key>player_0518_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,823},{166,195}}</string>
        <key>offset</key>
        <string>{-96,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{166,195}</string>
        <key>sourceSize</key>
        <string>{166,195}</string>
      </dict>
      <key>player_0518_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{162,204}}</string>
        <key>offset</key>
        <string>{-88,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,204}</string>
        <key>sourceSize</key>
        <string>{162,204}</string>
      </dict>
      <key>player_0518_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,203},{164,197}}</string>
        <key>offset</key>
        <string>{-84,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{164,197}</string>
        <key>sourceSize</key>
        <string>{164,197}</string>
      </dict>
      <key>player_0518_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,597},{186,176}}</string>
        <key>offset</key>
        <string>{-74,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,176}</string>
        <key>sourceSize</key>
        <string>{186,176}</string>
      </dict>
      <key>player_0518_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,199},{187,190}}</string>
        <key>offset</key>
        <string>{-79,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{187,190}</string>
        <key>sourceSize</key>
        <string>{187,190}</string>
      </dict>
      <key>player_0518_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{188,199}}</string>
        <key>offset</key>
        <string>{-82,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{188,199}</string>
        <key>sourceSize</key>
        <string>{188,199}</string>
      </dict>
      <key>player_0518_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,402},{192,193}}</string>
        <key>offset</key>
        <string>{-41,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{192,193}</string>
        <key>sourceSize</key>
        <string>{192,193}</string>
      </dict>
      <key>player_0518_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{167,197}}</string>
        <key>offset</key>
        <string>{-27,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{167,197}</string>
        <key>sourceSize</key>
        <string>{167,197}</string>
      </dict>
      <key>player_0518_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{147,201}}</string>
        <key>offset</key>
        <string>{-21,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{147,201}</string>
        <key>sourceSize</key>
        <string>{147,201}</string>
      </dict>
      <key>player_0518_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{141,216}}</string>
        <key>offset</key>
        <string>{-7,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{141,216}</string>
        <key>sourceSize</key>
        <string>{141,216}</string>
      </dict>
      <key>player_0518_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,625},{130,195}}</string>
        <key>offset</key>
        <string>{-8,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,195}</string>
        <key>sourceSize</key>
        <string>{130,195}</string>
      </dict>
      <key>player_0518_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,822},{121,195}}</string>
        <key>offset</key>
        <string>{-18,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{121,195}</string>
        <key>sourceSize</key>
        <string>{121,195}</string>
      </dict>
      <key>player_0518_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,785},{161,130}}</string>
        <key>offset</key>
        <string>{-15,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,130}</string>
        <key>sourceSize</key>
        <string>{161,130}</string>
      </dict>
      <key>player_0518_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,170},{155,147}}</string>
        <key>offset</key>
        <string>{-13,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{155,147}</string>
        <key>sourceSize</key>
        <string>{155,147}</string>
      </dict>
      <key>player_0518_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,364},{158,155}}</string>
        <key>offset</key>
        <string>{-20,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{158,155}</string>
        <key>sourceSize</key>
        <string>{158,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0518_1_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0518_1_7.png</string>
    </dict>
  </dict>
</plist>