<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0525_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,641},{210,108}}</string>
        <key>offset</key>
        <string>{-78,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{210,108}</string>
        <key>sourceSize</key>
        <string>{210,108}</string>
      </dict>
      <key>player_0525_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{211,105}}</string>
        <key>offset</key>
        <string>{-78,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,105}</string>
        <key>sourceSize</key>
        <string>{211,105}</string>
      </dict>
      <key>player_0525_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,855},{211,105}}</string>
        <key>offset</key>
        <string>{-78,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{211,105}</string>
        <key>sourceSize</key>
        <string>{211,105}</string>
      </dict>
      <key>player_0525_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,642},{211,99}}</string>
        <key>offset</key>
        <string>{-79,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,99}</string>
        <key>sourceSize</key>
        <string>{211,99}</string>
      </dict>
      <key>player_0525_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,428},{211,106}}</string>
        <key>offset</key>
        <string>{-80,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,106}</string>
        <key>sourceSize</key>
        <string>{211,106}</string>
      </dict>
      <key>player_0525_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,109}}</string>
        <key>offset</key>
        <string>{-79,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,109}</string>
        <key>sourceSize</key>
        <string>{212,109}</string>
      </dict>
      <key>player_0525_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,514},{147,153}}</string>
        <key>offset</key>
        <string>{-68,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{147,153}</string>
        <key>sourceSize</key>
        <string>{147,153}</string>
      </dict>
      <key>player_0525_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,695},{157,142}}</string>
        <key>offset</key>
        <string>{-77,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,142}</string>
        <key>sourceSize</key>
        <string>{157,142}</string>
      </dict>
      <key>player_0525_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1037,0},{161,141}}</string>
        <key>offset</key>
        <string>{-79,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,141}</string>
        <key>sourceSize</key>
        <string>{161,141}</string>
      </dict>
      <key>player_0525_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,869},{160,141}}</string>
        <key>offset</key>
        <string>{-81,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{160,141}</string>
        <key>sourceSize</key>
        <string>{160,141}</string>
      </dict>
      <key>player_0525_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,346},{166,142}}</string>
        <key>offset</key>
        <string>{-83,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{166,142}</string>
        <key>sourceSize</key>
        <string>{166,142}</string>
      </dict>
      <key>player_0525_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,352},{171,146}}</string>
        <key>offset</key>
        <string>{-80,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,146}</string>
        <key>sourceSize</key>
        <string>{171,146}</string>
      </dict>
      <key>player_0525_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,213},{90,182}}</string>
        <key>offset</key>
        <string>{-23,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{90,182}</string>
        <key>sourceSize</key>
        <string>{90,182}</string>
      </dict>
      <key>player_0525_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{95,175}}</string>
        <key>offset</key>
        <string>{-25,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{95,175}</string>
        <key>sourceSize</key>
        <string>{95,175}</string>
      </dict>
      <key>player_0525_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{101,179}}</string>
        <key>offset</key>
        <string>{-27,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{101,179}</string>
        <key>sourceSize</key>
        <string>{101,179}</string>
      </dict>
      <key>player_0525_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{102,176}}</string>
        <key>offset</key>
        <string>{-28,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{102,176}</string>
        <key>sourceSize</key>
        <string>{102,176}</string>
      </dict>
      <key>player_0525_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,395},{107,177}}</string>
        <key>offset</key>
        <string>{-30,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,177}</string>
        <key>sourceSize</key>
        <string>{107,177}</string>
      </dict>
      <key>player_0525_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,213},{104,180}}</string>
        <key>offset</key>
        <string>{-26,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{104,180}</string>
        <key>sourceSize</key>
        <string>{104,180}</string>
      </dict>
      <key>player_0525_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,177},{165,173}}</string>
        <key>offset</key>
        <string>{-80,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{165,173}</string>
        <key>sourceSize</key>
        <string>{165,173}</string>
      </dict>
      <key>player_0525_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,181},{167,177}}</string>
        <key>offset</key>
        <string>{-82,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{167,177}</string>
        <key>sourceSize</key>
        <string>{167,177}</string>
      </dict>
      <key>player_0525_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,820},{165,178}}</string>
        <key>offset</key>
        <string>{-80,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{165,178}</string>
        <key>sourceSize</key>
        <string>{165,178}</string>
      </dict>
      <key>player_0525_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,639},{165,179}}</string>
        <key>offset</key>
        <string>{-80,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{165,179}</string>
        <key>sourceSize</key>
        <string>{165,179}</string>
      </dict>
      <key>player_0525_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,360},{165,174}}</string>
        <key>offset</key>
        <string>{-82,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{165,174}</string>
        <key>sourceSize</key>
        <string>{165,174}</string>
      </dict>
      <key>player_0525_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,853},{154,180}}</string>
        <key>offset</key>
        <string>{-80,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,180}</string>
        <key>sourceSize</key>
        <string>{154,180}</string>
      </dict>
      <key>player_0525_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,427},{210,145}}</string>
        <key>offset</key>
        <string>{-84,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{210,145}</string>
        <key>sourceSize</key>
        <string>{210,145}</string>
      </dict>
      <key>player_0525_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,214},{211,148}}</string>
        <key>offset</key>
        <string>{-85,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,148}</string>
        <key>sourceSize</key>
        <string>{211,148}</string>
      </dict>
      <key>player_0525_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{212,152}}</string>
        <key>offset</key>
        <string>{-85,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,152}</string>
        <key>sourceSize</key>
        <string>{212,152}</string>
      </dict>
      <key>player_0525_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{212,149}}</string>
        <key>offset</key>
        <string>{-84,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,149}</string>
        <key>sourceSize</key>
        <string>{212,149}</string>
      </dict>
      <key>player_0525_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{211,143}}</string>
        <key>offset</key>
        <string>{-83,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,143}</string>
        <key>sourceSize</key>
        <string>{211,143}</string>
      </dict>
      <key>player_0525_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{212,147}}</string>
        <key>offset</key>
        <string>{-85,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,147}</string>
        <key>sourceSize</key>
        <string>{212,147}</string>
      </dict>
      <key>player_0525_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,710},{147,171}}</string>
        <key>offset</key>
        <string>{-31,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{147,171}</string>
        <key>sourceSize</key>
        <string>{147,171}</string>
      </dict>
      <key>player_0525_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,175},{158,169}}</string>
        <key>offset</key>
        <string>{-32,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{158,169}</string>
        <key>sourceSize</key>
        <string>{158,169}</string>
      </dict>
      <key>player_0525_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{162,169}}</string>
        <key>offset</key>
        <string>{-34,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,169}</string>
        <key>sourceSize</key>
        <string>{162,169}</string>
      </dict>
      <key>player_0525_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,536},{161,172}}</string>
        <key>offset</key>
        <string>{-31,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,172}</string>
        <key>sourceSize</key>
        <string>{161,172}</string>
      </dict>
      <key>player_0525_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{160,173}}</string>
        <key>offset</key>
        <string>{-29,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{160,173}</string>
        <key>sourceSize</key>
        <string>{160,173}</string>
      </dict>
      <key>player_0525_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,574},{162,175}}</string>
        <key>offset</key>
        <string>{-34,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,175}</string>
        <key>sourceSize</key>
        <string>{162,175}</string>
      </dict>
      <key>player_0525_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,883},{103,169}}</string>
        <key>offset</key>
        <string>{-7,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{103,169}</string>
        <key>sourceSize</key>
        <string>{103,169}</string>
      </dict>
      <key>player_0525_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,751},{104,173}}</string>
        <key>offset</key>
        <string>{-5,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{104,173}</string>
        <key>sourceSize</key>
        <string>{104,173}</string>
      </dict>
      <key>player_0525_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,698},{100,169}}</string>
        <key>offset</key>
        <string>{-3,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{100,169}</string>
        <key>sourceSize</key>
        <string>{100,169}</string>
      </dict>
      <key>player_0525_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,525},{101,171}}</string>
        <key>offset</key>
        <string>{-5,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{101,171}</string>
        <key>sourceSize</key>
        <string>{101,171}</string>
      </dict>
      <key>player_0525_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,352},{99,171}}</string>
        <key>offset</key>
        <string>{-5,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,171}</string>
        <key>sourceSize</key>
        <string>{99,171}</string>
      </dict>
      <key>player_0525_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,525},{100,168}}</string>
        <key>offset</key>
        <string>{-7,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{100,168}</string>
        <key>sourceSize</key>
        <string>{100,168}</string>
      </dict>
      <key>player_0525_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,171},{163,143}}</string>
        <key>offset</key>
        <string>{-35,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{163,143}</string>
        <key>sourceSize</key>
        <string>{163,143}</string>
      </dict>
      <key>player_0525_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,854},{154,140}}</string>
        <key>offset</key>
        <string>{-24,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,140}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>player_0525_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,669},{149,143}}</string>
        <key>offset</key>
        <string>{-23,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{149,143}</string>
        <key>sourceSize</key>
        <string>{149,143}</string>
      </dict>
      <key>player_0525_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,0},{150,139}}</string>
        <key>offset</key>
        <string>{-23,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{150,139}</string>
        <key>sourceSize</key>
        <string>{150,139}</string>
      </dict>
      <key>player_0525_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,336},{153,138}}</string>
        <key>offset</key>
        <string>{-23,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{153,138}</string>
        <key>sourceSize</key>
        <string>{153,138}</string>
      </dict>
      <key>player_0525_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,163},{153,139}}</string>
        <key>offset</key>
        <string>{-25,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{153,139}</string>
        <key>sourceSize</key>
        <string>{153,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0525_0_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0525_0_3.png</string>
    </dict>
  </dict>
</plist>