<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_5001_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{222,167}}</string>
        <key>offset</key>
        <string>{-91,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,167}}</string>
        <key>sourceSize</key>
        <string>{222,167}</string>
      </dict>
      <key>player_5001_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{220,178}}</string>
        <key>offset</key>
        <string>{-81,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,178}}</string>
        <key>sourceSize</key>
        <string>{220,178}</string>
      </dict>
      <key>player_5001_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{222,172}}</string>
        <key>offset</key>
        <string>{-82,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,172}}</string>
        <key>sourceSize</key>
        <string>{222,172}</string>
      </dict>
      <key>player_5001_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,424},{207,168}}</string>
        <key>offset</key>
        <string>{-77,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,168}}</string>
        <key>sourceSize</key>
        <string>{207,168}</string>
      </dict>
      <key>player_5001_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,441},{155,213}}</string>
        <key>offset</key>
        <string>{-85,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,213}}</string>
        <key>sourceSize</key>
        <string>{155,213}</string>
      </dict>
      <key>player_5001_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,656},{164,212}}</string>
        <key>offset</key>
        <string>{-87,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,212}}</string>
        <key>sourceSize</key>
        <string>{164,212}</string>
      </dict>
      <key>player_5001_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{171,210}}</string>
        <key>offset</key>
        <string>{-92,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,210}}</string>
        <key>sourceSize</key>
        <string>{171,210}</string>
      </dict>
      <key>player_5001_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,633},{178,205}}</string>
        <key>offset</key>
        <string>{-98,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,205}}</string>
        <key>sourceSize</key>
        <string>{178,205}</string>
      </dict>
      <key>player_5001_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,212},{134,207}}</string>
        <key>offset</key>
        <string>{-56,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,207}}</string>
        <key>sourceSize</key>
        <string>{134,207}</string>
      </dict>
      <key>player_5001_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,421},{123,205}}</string>
        <key>offset</key>
        <string>{-56,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,205}}</string>
        <key>sourceSize</key>
        <string>{123,205}</string>
      </dict>
      <key>player_5001_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,421},{110,204}}</string>
        <key>offset</key>
        <string>{-46,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,204}}</string>
        <key>sourceSize</key>
        <string>{110,204}</string>
      </dict>
      <key>player_5001_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{111,207}}</string>
        <key>offset</key>
        <string>{-47,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,207}}</string>
        <key>sourceSize</key>
        <string>{111,207}</string>
      </dict>
      <key>player_5001_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,432},{176,212}}</string>
        <key>offset</key>
        <string>{-109,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,212}}</string>
        <key>sourceSize</key>
        <string>{176,212}</string>
      </dict>
      <key>player_5001_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,212},{164,210}}</string>
        <key>offset</key>
        <string>{-98,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,210}}</string>
        <key>sourceSize</key>
        <string>{164,210}</string>
      </dict>
      <key>player_5001_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,670},{162,219}}</string>
        <key>offset</key>
        <string>{-97,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,219}}</string>
        <key>sourceSize</key>
        <string>{162,219}</string>
      </dict>
      <key>player_5001_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{165,220}}</string>
        <key>offset</key>
        <string>{-92,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,220}}</string>
        <key>sourceSize</key>
        <string>{165,220}</string>
      </dict>
      <key>player_5001_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,670},{218,209}}</string>
        <key>offset</key>
        <string>{-87,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,209}}</string>
        <key>sourceSize</key>
        <string>{218,209}</string>
      </dict>
      <key>player_5001_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,448},{218,210}}</string>
        <key>offset</key>
        <string>{-87,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,210}}</string>
        <key>sourceSize</key>
        <string>{218,210}</string>
      </dict>
      <key>player_5001_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,222},{217,216}}</string>
        <key>offset</key>
        <string>{-87,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,216}}</string>
        <key>sourceSize</key>
        <string>{217,216}</string>
      </dict>
      <key>player_5001_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,0},{209,215}}</string>
        <key>offset</key>
        <string>{-87,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,215}}</string>
        <key>sourceSize</key>
        <string>{209,215}</string>
      </dict>
      <key>player_5001_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,840},{175,203}}</string>
        <key>offset</key>
        <string>{-23,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,203}}</string>
        <key>sourceSize</key>
        <string>{175,203}</string>
      </dict>
      <key>player_5001_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,209},{169,203}}</string>
        <key>offset</key>
        <string>{-24,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,203}}</string>
        <key>sourceSize</key>
        <string>{169,203}</string>
      </dict>
      <key>player_5001_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,0},{173,203}}</string>
        <key>offset</key>
        <string>{-26,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,203}}</string>
        <key>sourceSize</key>
        <string>{173,203}</string>
      </dict>
      <key>player_5001_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,627},{168,203}}</string>
        <key>offset</key>
        <string>{-27,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,203}}</string>
        <key>sourceSize</key>
        <string>{168,203}</string>
      </dict>
      <key>player_5001_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,0},{127,207}}</string>
        <key>offset</key>
        <string>{-21,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,207}}</string>
        <key>sourceSize</key>
        <string>{127,207}</string>
      </dict>
      <key>player_5001_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,891},{125,207}}</string>
        <key>offset</key>
        <string>{-19,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,207}}</string>
        <key>sourceSize</key>
        <string>{125,207}</string>
      </dict>
      <key>player_5001_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,646},{137,209}}</string>
        <key>offset</key>
        <string>{-38,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,209}}</string>
        <key>sourceSize</key>
        <string>{137,209}</string>
      </dict>
      <key>player_5001_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,0},{146,210}}</string>
        <key>offset</key>
        <string>{-42,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,210}}</string>
        <key>sourceSize</key>
        <string>{146,210}</string>
      </dict>
      <key>player_5001_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,217},{163,213}}</string>
        <key>offset</key>
        <string>{-23,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,213}}</string>
        <key>sourceSize</key>
        <string>{163,213}</string>
      </dict>
      <key>player_5001_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,870},{151,212}}</string>
        <key>offset</key>
        <string>{-21,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,212}}</string>
        <key>sourceSize</key>
        <string>{151,212}</string>
      </dict>
      <key>player_5001_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,217},{151,212}}</string>
        <key>offset</key>
        <string>{-20,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,212}}</string>
        <key>sourceSize</key>
        <string>{151,212}</string>
      </dict>
      <key>player_5001_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,668},{156,214}}</string>
        <key>offset</key>
        <string>{-19,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,214}}</string>
        <key>sourceSize</key>
        <string>{156,214}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_5001_1_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_5001_1_0.png</string>
    </dict>
  </dict>
</plist>