<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21030_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,73}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_21030_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{64,73}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_21030_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{64,73}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_21030_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{63,73}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_21030_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{66,73}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_21030_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,300},{65,72}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,72}}</string>
        <key>sourceSize</key>
        <string>{65,72}</string>
      </dict>
      <key>player_21030_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,374},{66,72}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_21030_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,225},{66,73}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_21030_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,70}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,70}}</string>
        <key>sourceSize</key>
        <string>{64,70}</string>
      </dict>
      <key>player_21030_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,72},{63,70}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,70}}</string>
        <key>sourceSize</key>
        <string>{63,70}</string>
      </dict>
      <key>player_21030_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,144},{63,70}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,70}}</string>
        <key>sourceSize</key>
        <string>{63,70}</string>
      </dict>
      <key>player_21030_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,144},{64,70}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,70}}</string>
        <key>sourceSize</key>
        <string>{64,70}</string>
      </dict>
      <key>player_21030_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,144},{66,68}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_21030_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,72},{64,68}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>player_21030_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{65,68}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>player_21030_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,287},{66,68}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_21030_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,214},{62,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_21030_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,142},{62,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_21030_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,70},{62,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_21030_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{63,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,68}}</string>
        <key>sourceSize</key>
        <string>{63,68}</string>
      </dict>
      <key>player_21030_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,72},{57,70}}</string>
        <key>offset</key>
        <string>{14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,70}}</string>
        <key>sourceSize</key>
        <string>{57,70}</string>
      </dict>
      <key>player_21030_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{58,70}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21030_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,72},{58,70}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21030_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{58,70}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21030_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,216},{55,69}}</string>
        <key>offset</key>
        <string>{14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,69}}</string>
        <key>sourceSize</key>
        <string>{55,69}</string>
      </dict>
      <key>player_21030_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,448},{55,70}}</string>
        <key>offset</key>
        <string>{14,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,70}}</string>
        <key>sourceSize</key>
        <string>{55,70}</string>
      </dict>
      <key>player_21030_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,287},{54,69}}</string>
        <key>offset</key>
        <string>{14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,69}}</string>
        <key>sourceSize</key>
        <string>{54,69}</string>
      </dict>
      <key>player_21030_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,216},{55,69}}</string>
        <key>offset</key>
        <string>{14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,69}}</string>
        <key>sourceSize</key>
        <string>{55,69}</string>
      </dict>
      <key>player_21030_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{60,73}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
      <key>player_21030_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,450},{60,72}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,72}}</string>
        <key>sourceSize</key>
        <string>{60,72}</string>
      </dict>
      <key>player_21030_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{60,73}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
      <key>player_21030_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,375},{60,73}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21030_1_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_21030_1_0.png</string>
    </dict>
  </dict>
</plist>