<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3034_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{104,59}}</string>
        <key>offset</key>
        <string>{-20,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,59}}</string>
        <key>sourceSize</key>
        <string>{104,59}</string>
      </dict>
      <key>player_3034_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{114,78}}</string>
        <key>offset</key>
        <string>{-15,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,78}}</string>
        <key>sourceSize</key>
        <string>{114,78}</string>
      </dict>
      <key>player_3034_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,132},{125,97}}</string>
        <key>offset</key>
        <string>{-13,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,97}}</string>
        <key>sourceSize</key>
        <string>{125,97}</string>
      </dict>
      <key>player_3034_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,218},{96,75}}</string>
        <key>offset</key>
        <string>{-37,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,75}}</string>
        <key>sourceSize</key>
        <string>{96,75}</string>
      </dict>
      <key>player_3034_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,345},{98,97}}</string>
        <key>offset</key>
        <string>{-23,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>player_3034_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,111},{105,102}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,102}}</string>
        <key>sourceSize</key>
        <string>{105,102}</string>
      </dict>
      <key>player_3034_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,345},{84,102}}</string>
        <key>offset</key>
        <string>{-26,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,102}}</string>
        <key>sourceSize</key>
        <string>{84,102}</string>
      </dict>
      <key>player_3034_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,236},{83,109}}</string>
        <key>offset</key>
        <string>{-15,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,109}}</string>
        <key>sourceSize</key>
        <string>{83,109}</string>
      </dict>
      <key>player_3034_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,116},{81,113}}</string>
        <key>offset</key>
        <string>{0,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,113}}</string>
        <key>sourceSize</key>
        <string>{81,113}</string>
      </dict>
      <key>player_3034_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,362},{96,111}}</string>
        <key>offset</key>
        <string>{-33,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,111}}</string>
        <key>sourceSize</key>
        <string>{96,111}</string>
      </dict>
      <key>player_3034_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,125},{100,117}}</string>
        <key>offset</key>
        <string>{-25,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,117}}</string>
        <key>sourceSize</key>
        <string>{100,117}</string>
      </dict>
      <key>player_3034_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{109,109}}</string>
        <key>offset</key>
        <string>{-20,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,109}}</string>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>player_3034_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,119},{115,113}}</string>
        <key>offset</key>
        <string>{-11,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,113}}</string>
        <key>sourceSize</key>
        <string>{115,113}</string>
      </dict>
      <key>player_3034_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{117,115}}</string>
        <key>offset</key>
        <string>{-12,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,115}}</string>
        <key>sourceSize</key>
        <string>{117,115}</string>
      </dict>
      <key>player_3034_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,259},{121,103}}</string>
        <key>offset</key>
        <string>{-12,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,103}}</string>
        <key>sourceSize</key>
        <string>{121,103}</string>
      </dict>
      <key>player_3034_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{123,113}}</string>
        <key>offset</key>
        <string>{6,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,113}}</string>
        <key>sourceSize</key>
        <string>{123,113}</string>
      </dict>
      <key>player_3034_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{130,118}}</string>
        <key>offset</key>
        <string>{-7,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,118}}</string>
        <key>sourceSize</key>
        <string>{130,118}</string>
      </dict>
      <key>player_3034_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,244},{105,116}}</string>
        <key>offset</key>
        <string>{7,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,116}}</string>
        <key>sourceSize</key>
        <string>{105,116}</string>
      </dict>
      <key>player_3034_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,382},{120,91}}</string>
        <key>offset</key>
        <string>{5,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,91}}</string>
        <key>sourceSize</key>
        <string>{120,91}</string>
      </dict>
      <key>player_3034_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{126,102}}</string>
        <key>offset</key>
        <string>{-9,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,102}}</string>
        <key>sourceSize</key>
        <string>{126,102}</string>
      </dict>
      <key>player_3034_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,362},{97,110}}</string>
        <key>offset</key>
        <string>{3,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,110}}</string>
        <key>sourceSize</key>
        <string>{97,110}</string>
      </dict>
      <key>player_3034_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{122,70}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,70}}</string>
        <key>sourceSize</key>
        <string>{122,70}</string>
      </dict>
      <key>player_3034_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{127,85}}</string>
        <key>offset</key>
        <string>{-7,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,85}}</string>
        <key>sourceSize</key>
        <string>{127,85}</string>
      </dict>
      <key>player_3034_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,231},{112,96}}</string>
        <key>offset</key>
        <string>{2,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,96}}</string>
        <key>sourceSize</key>
        <string>{112,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3034_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3034_0_7.png</string>
    </dict>
  </dict>
</plist>