<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3004_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,183},{64,78}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,78}}</string>
        <key>sourceSize</key>
        <string>{64,78}</string>
      </dict>
      <key>player_3004_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,416},{67,72}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>player_3004_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,92},{67,78}}</string>
        <key>offset</key>
        <string>{2,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,78}}</string>
        <key>sourceSize</key>
        <string>{67,78}</string>
      </dict>
      <key>player_3004_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{65,80}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,80}}</string>
        <key>sourceSize</key>
        <string>{65,80}</string>
      </dict>
      <key>player_3004_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{67,70}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_3004_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{68,79}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,79}}</string>
        <key>sourceSize</key>
        <string>{68,79}</string>
      </dict>
      <key>player_3004_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,263},{73,75}}</string>
        <key>offset</key>
        <string>{-4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,75}}</string>
        <key>sourceSize</key>
        <string>{73,75}</string>
      </dict>
      <key>player_3004_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,441},{68,69}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>player_3004_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,425},{70,75}}</string>
        <key>offset</key>
        <string>{6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_3004_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{76,77}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,77}}</string>
        <key>sourceSize</key>
        <string>{76,77}</string>
      </dict>
      <key>player_3004_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,79},{66,73}}</string>
        <key>offset</key>
        <string>{7,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_3004_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,416},{65,72}}</string>
        <key>offset</key>
        <string>{6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,72}}</string>
        <key>sourceSize</key>
        <string>{65,72}</string>
      </dict>
      <key>player_3004_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{90,73}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,73}}</string>
        <key>sourceSize</key>
        <string>{90,73}</string>
      </dict>
      <key>player_3004_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{73,73}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>player_3004_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,425},{70,75}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_3004_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{89,72}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,72}}</string>
        <key>sourceSize</key>
        <string>{89,72}</string>
      </dict>
      <key>player_3004_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,229},{70,72}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>player_3004_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,340},{72,74}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{72,74}</string>
      </dict>
      <key>player_3004_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{77,71}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,71}}</string>
        <key>sourceSize</key>
        <string>{77,71}</string>
      </dict>
      <key>player_3004_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{66,70}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>player_3004_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,277},{64,69}}</string>
        <key>offset</key>
        <string>{8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_3004_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,154},{73,67}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,67}}</string>
        <key>sourceSize</key>
        <string>{73,67}</string>
      </dict>
      <key>player_3004_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,343},{68,64}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>player_3004_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,68},{68,70}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_3004_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,303},{68,71}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,71}}</string>
        <key>sourceSize</key>
        <string>{68,71}</string>
      </dict>
      <key>player_3004_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,138},{70,66}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,66}}</string>
        <key>sourceSize</key>
        <string>{70,66}</string>
      </dict>
      <key>player_3004_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,206},{70,69}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>player_3004_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,376},{64,71}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,71}}</string>
        <key>sourceSize</key>
        <string>{64,71}</string>
      </dict>
      <key>player_3004_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,207},{66,65}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,65}}</string>
        <key>sourceSize</key>
        <string>{66,65}</string>
      </dict>
      <key>player_3004_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,376},{70,69}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>player_3004_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,138},{63,67}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>player_3004_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,275},{63,65}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>player_3004_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,150},{72,71}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>player_3004_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,303},{69,71}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>player_3004_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,224},{69,71}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>player_3004_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,448},{62,70}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>player_3004_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,149},{65,71}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>player_3004_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,75},{62,73}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,73}}</string>
        <key>sourceSize</key>
        <string>{62,73}</string>
      </dict>
      <key>player_3004_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{66,73}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_3004_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,297},{65,70}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,70}}</string>
        <key>sourceSize</key>
        <string>{65,70}</string>
      </dict>
      <key>player_3004_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,74},{62,71}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>player_3004_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,172},{65,74}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>player_3004_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,340},{67,75}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>player_3004_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,75},{68,72}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3004_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,369},{61,70}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,70}}</string>
        <key>sourceSize</key>
        <string>{61,70}</string>
      </dict>
      <key>player_3004_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{68,72}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3004_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,413},{66,68}}</string>
        <key>offset</key>
        <string>{-3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_3004_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,248},{68,74}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3004_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3004_0_5.png</string>
    </dict>
  </dict>
</plist>