<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3027_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,239},{72,68}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>player_3027_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{53,66}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,66}}</string>
        <key>sourceSize</key>
        <string>{53,66}</string>
      </dict>
      <key>player_3027_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,83},{77,77}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>player_3027_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{89,86}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,86}}</string>
        <key>sourceSize</key>
        <string>{89,86}</string>
      </dict>
      <key>player_3027_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,227},{67,72}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>player_3027_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,331},{73,74}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,74}}</string>
        <key>sourceSize</key>
        <string>{73,74}</string>
      </dict>
      <key>player_3027_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,227},{57,72}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,72}}</string>
        <key>sourceSize</key>
        <string>{57,72}</string>
      </dict>
      <key>player_3027_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,77},{73,69}}</string>
        <key>offset</key>
        <string>{-4,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,69}}</string>
        <key>sourceSize</key>
        <string>{73,69}</string>
      </dict>
      <key>player_3027_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,275},{66,79}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>player_3027_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,101},{87,76}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,76}}</string>
        <key>sourceSize</key>
        <string>{87,76}</string>
      </dict>
      <key>player_3027_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,152},{73,72}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,72}}</string>
        <key>sourceSize</key>
        <string>{73,72}</string>
      </dict>
      <key>player_3027_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,162},{70,75}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_3027_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,301},{68,68}}</string>
        <key>offset</key>
        <string>{2,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>player_3027_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,356},{79,70}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,70}}</string>
        <key>sourceSize</key>
        <string>{79,70}</string>
      </dict>
      <key>player_3027_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,288},{84,71}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,71}}</string>
        <key>sourceSize</key>
        <string>{84,71}</string>
      </dict>
      <key>player_3027_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,72}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,72}}</string>
        <key>sourceSize</key>
        <string>{99,72}</string>
      </dict>
      <key>player_3027_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,374},{80,72}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,72}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>player_3027_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,286},{72,71}}</string>
        <key>offset</key>
        <string>{10,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>player_3027_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,152},{73,63}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,63}}</string>
        <key>sourceSize</key>
        <string>{73,63}</string>
      </dict>
      <key>player_3027_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{71,77}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
      <key>player_3027_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{94,71}}</string>
        <key>offset</key>
        <string>{-7,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,71}}</string>
        <key>sourceSize</key>
        <string>{94,71}</string>
      </dict>
      <key>player_3027_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{93,59}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,59}}</string>
        <key>sourceSize</key>
        <string>{93,59}</string>
      </dict>
      <key>player_3027_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,173},{78,59}}</string>
        <key>offset</key>
        <string>{3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,59}}</string>
        <key>sourceSize</key>
        <string>{78,59}</string>
      </dict>
      <key>player_3027_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,301},{72,65}}</string>
        <key>offset</key>
        <string>{5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,65}}</string>
        <key>sourceSize</key>
        <string>{72,65}</string>
      </dict>
      <key>player_3027_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,375},{70,70}}</string>
        <key>offset</key>
        <string>{0,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>player_3027_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,197},{74,89}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,89}}</string>
        <key>sourceSize</key>
        <string>{74,89}</string>
      </dict>
      <key>player_3027_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,383},{76,85}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,85}}</string>
        <key>sourceSize</key>
        <string>{76,85}</string>
      </dict>
      <key>player_3027_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,190},{83,58}}</string>
        <key>offset</key>
        <string>{2,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,58}}</string>
        <key>sourceSize</key>
        <string>{83,58}</string>
      </dict>
      <key>player_3027_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,456},{80,49}}</string>
        <key>offset</key>
        <string>{0,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,49}}</string>
        <key>sourceSize</key>
        <string>{80,49}</string>
      </dict>
      <key>player_3027_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,79},{75,55}}</string>
        <key>offset</key>
        <string>{-3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>player_3027_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{61,74}}</string>
        <key>offset</key>
        <string>{5,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,74}}</string>
        <key>sourceSize</key>
        <string>{61,74}</string>
      </dict>
      <key>player_3027_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,89},{80,82}}</string>
        <key>offset</key>
        <string>{6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>player_3027_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{64,86}}</string>
        <key>offset</key>
        <string>{3,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
      <key>player_3027_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,253},{76,60}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,60}}</string>
        <key>sourceSize</key>
        <string>{76,60}</string>
      </dict>
      <key>player_3027_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,76},{68,51}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,51}}</string>
        <key>sourceSize</key>
        <string>{68,51}</string>
      </dict>
      <key>player_3027_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,371},{62,62}}</string>
        <key>offset</key>
        <string>{-3,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>player_3027_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,423},{68,69}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>player_3027_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{87,63}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,63}}</string>
        <key>sourceSize</key>
        <string>{87,63}</string>
      </dict>
      <key>player_3027_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{87,81}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,81}}</string>
        <key>sourceSize</key>
        <string>{87,81}</string>
      </dict>
      <key>player_3027_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{75,73}}</string>
        <key>offset</key>
        <string>{-17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>player_3027_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,423},{69,57}}</string>
        <key>offset</key>
        <string>{-11,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,57}}</string>
        <key>sourceSize</key>
        <string>{69,57}</string>
      </dict>
      <key>player_3027_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,447},{57,65}}</string>
        <key>offset</key>
        <string>{-8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>player_3027_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,359},{72,62}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,62}}</string>
        <key>sourceSize</key>
        <string>{72,62}</string>
      </dict>
      <key>player_3027_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,76},{74,58}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,58}}</string>
        <key>sourceSize</key>
        <string>{74,58}</string>
      </dict>
      <key>player_3027_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,437},{79,67}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,67}}</string>
        <key>sourceSize</key>
        <string>{79,67}</string>
      </dict>
      <key>player_3027_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{71,81}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>player_3027_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,447},{63,61}}</string>
        <key>offset</key>
        <string>{-12,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,61}}</string>
        <key>sourceSize</key>
        <string>{63,61}</string>
      </dict>
      <key>player_3027_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,146},{64,65}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,65}}</string>
        <key>sourceSize</key>
        <string>{64,65}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3027_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3027_1_2.png</string>
    </dict>
  </dict>
</plist>