<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3028_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,89},{72,82}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,82}}</string>
        <key>sourceSize</key>
        <string>{72,82}</string>
      </dict>
      <key>player_3028_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,188},{67,83}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,83}}</string>
        <key>sourceSize</key>
        <string>{67,83}</string>
      </dict>
      <key>player_3028_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{65,82}}</string>
        <key>offset</key>
        <string>{7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,82}}</string>
        <key>sourceSize</key>
        <string>{65,82}</string>
      </dict>
      <key>player_3028_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,188},{71,83}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,83}}</string>
        <key>sourceSize</key>
        <string>{71,83}</string>
      </dict>
      <key>player_3028_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,89},{72,83}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,83}}</string>
        <key>sourceSize</key>
        <string>{72,83}</string>
      </dict>
      <key>player_3028_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,374},{69,83}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,83}}</string>
        <key>sourceSize</key>
        <string>{69,83}</string>
      </dict>
      <key>player_3028_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,259},{78,80}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,80}}</string>
        <key>sourceSize</key>
        <string>{78,80}</string>
      </dict>
      <key>player_3028_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,358},{82,79}}</string>
        <key>offset</key>
        <string>{-11,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,79}}</string>
        <key>sourceSize</key>
        <string>{82,79}</string>
      </dict>
      <key>player_3028_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,273},{83,80}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,80}}</string>
        <key>sourceSize</key>
        <string>{83,80}</string>
      </dict>
      <key>player_3028_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{87,80}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,80}}</string>
        <key>sourceSize</key>
        <string>{87,80}</string>
      </dict>
      <key>player_3028_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,174},{83,77}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,77}}</string>
        <key>sourceSize</key>
        <string>{83,77}</string>
      </dict>
      <key>player_3028_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,173},{78,79}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,79}}</string>
        <key>sourceSize</key>
        <string>{78,79}</string>
      </dict>
      <key>player_3028_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,79}}</string>
        <key>offset</key>
        <string>{-16,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,79}}</string>
        <key>sourceSize</key>
        <string>{96,79}</string>
      </dict>
      <key>player_3028_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{92,77}}</string>
        <key>offset</key>
        <string>{-20,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,77}}</string>
        <key>sourceSize</key>
        <string>{92,77}</string>
      </dict>
      <key>player_3028_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{86,72}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,72}}</string>
        <key>sourceSize</key>
        <string>{86,72}</string>
      </dict>
      <key>player_3028_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{94,74}}</string>
        <key>offset</key>
        <string>{-15,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>player_3028_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,98},{88,76}}</string>
        <key>offset</key>
        <string>{-16,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>player_3028_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,376},{86,77}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,77}}</string>
        <key>sourceSize</key>
        <string>{86,77}</string>
      </dict>
      <key>player_3028_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{88,71}}</string>
        <key>offset</key>
        <string>{-7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,71}}</string>
        <key>sourceSize</key>
        <string>{88,71}</string>
      </dict>
      <key>player_3028_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,288},{84,73}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,73}}</string>
        <key>sourceSize</key>
        <string>{84,73}</string>
      </dict>
      <key>player_3028_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,254},{77,68}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,68}}</string>
        <key>sourceSize</key>
        <string>{77,68}</string>
      </dict>
      <key>player_3028_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,442},{78,68}}</string>
        <key>offset</key>
        <string>{-7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>player_3028_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,165},{77,76}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>player_3028_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,84},{79,77}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,77}}</string>
        <key>sourceSize</key>
        <string>{79,77}</string>
      </dict>
      <key>player_3028_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,358},{81,71}}</string>
        <key>offset</key>
        <string>{-7,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>player_3028_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,80},{77,66}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>player_3028_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,244},{68,74}}</string>
        <key>offset</key>
        <string>{8,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
      <key>player_3028_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,320},{70,73}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>player_3028_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,244},{75,71}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,71}}</string>
        <key>sourceSize</key>
        <string>{75,71}</string>
      </dict>
      <key>player_3028_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,158},{74,72}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>player_3028_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,0},{60,67}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3028_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,0},{66,66}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>player_3028_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,411},{75,75}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>player_3028_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,421},{72,76}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>player_3028_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,234},{73,73}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>player_3028_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,155},{72,67}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,67}}</string>
        <key>sourceSize</key>
        <string>{72,67}</string>
      </dict>
      <key>player_3028_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,321},{71,75}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>player_3028_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,79},{74,73}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>player_3028_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,76},{66,72}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_3028_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{74,73}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>player_3028_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,333},{68,76}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>player_3028_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,398},{66,74}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,74}}</string>
        <key>sourceSize</key>
        <string>{66,74}</string>
      </dict>
      <key>player_3028_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{68,78}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>player_3028_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,341},{70,78}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,78}}</string>
        <key>sourceSize</key>
        <string>{70,78}</string>
      </dict>
      <key>player_3028_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,442},{66,79}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,79}}</string>
        <key>sourceSize</key>
        <string>{66,79}</string>
      </dict>
      <key>player_3028_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{73,77}}</string>
        <key>offset</key>
        <string>{-10,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,77}}</string>
        <key>sourceSize</key>
        <string>{73,77}</string>
      </dict>
      <key>player_3028_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,79},{64,77}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,77}}</string>
        <key>sourceSize</key>
        <string>{64,77}</string>
      </dict>
      <key>player_3028_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{70,79}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,79}}</string>
        <key>sourceSize</key>
        <string>{70,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3028_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3028_0_5.png</string>
    </dict>
  </dict>
</plist>