<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21015_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,72}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>player_21015_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{65,73}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,73}}</string>
        <key>sourceSize</key>
        <string>{65,73}</string>
      </dict>
      <key>player_21015_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,157},{73,68}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,68}}</string>
        <key>sourceSize</key>
        <string>{73,68}</string>
      </dict>
      <key>player_21015_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{75,64}}</string>
        <key>offset</key>
        <string>{-5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,64}}</string>
        <key>sourceSize</key>
        <string>{75,64}</string>
      </dict>
      <key>player_21015_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,75},{71,71}}</string>
        <key>offset</key>
        <string>{-1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>player_21015_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{56,74}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,74}}</string>
        <key>sourceSize</key>
        <string>{56,74}</string>
      </dict>
      <key>player_21015_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,158},{62,74}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
      <key>player_21015_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,81},{74,71}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21015_1_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>player_21015_1_11.png</string>
    </dict>
  </dict>
</plist>