<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3021_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{71,69}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,69}}</string>
        <key>sourceSize</key>
        <string>{71,69}</string>
      </dict>
      <key>player_3021_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,220},{64,67}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>player_3021_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{72,81}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>player_3021_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,225},{50,70}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,70}}</string>
        <key>sourceSize</key>
        <string>{50,70}</string>
      </dict>
      <key>player_3021_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,262},{44,74}}</string>
        <key>offset</key>
        <string>{5,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,74}}</string>
        <key>sourceSize</key>
        <string>{44,74}</string>
      </dict>
      <key>player_3021_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,427},{57,75}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,75}}</string>
        <key>sourceSize</key>
        <string>{57,75}</string>
      </dict>
      <key>player_3021_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,148},{68,70}}</string>
        <key>offset</key>
        <string>{10,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_3021_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,73},{69,70}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_3021_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{88,80}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,80}}</string>
        <key>sourceSize</key>
        <string>{88,80}</string>
      </dict>
      <key>player_3021_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,338},{62,74}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
      <key>player_3021_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,89},{75,71}}</string>
        <key>offset</key>
        <string>{-11,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,71}}</string>
        <key>sourceSize</key>
        <string>{75,71}</string>
      </dict>
      <key>player_3021_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,77},{71,72}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_3021_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{75,66}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,66}}</string>
        <key>sourceSize</key>
        <string>{75,66}</string>
      </dict>
      <key>player_3021_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{72,69}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,69}}</string>
        <key>sourceSize</key>
        <string>{72,69}</string>
      </dict>
      <key>player_3021_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{87,68}}</string>
        <key>offset</key>
        <string>{10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,68}}</string>
        <key>sourceSize</key>
        <string>{87,68}</string>
      </dict>
      <key>player_3021_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,181},{79,66}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,66}}</string>
        <key>sourceSize</key>
        <string>{79,66}</string>
      </dict>
      <key>player_3021_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89,67}}</string>
        <key>offset</key>
        <string>{-14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,67}}</string>
        <key>sourceSize</key>
        <string>{89,67}</string>
      </dict>
      <key>player_3021_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{84,68}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,68}}</string>
        <key>sourceSize</key>
        <string>{84,68}</string>
      </dict>
      <key>player_3021_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,145},{67,60}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,60}}</string>
        <key>sourceSize</key>
        <string>{67,60}</string>
      </dict>
      <key>player_3021_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,122},{67,63}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,63}}</string>
        <key>sourceSize</key>
        <string>{67,63}</string>
      </dict>
      <key>player_3021_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{82,56}}</string>
        <key>offset</key>
        <string>{7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,56}}</string>
        <key>sourceSize</key>
        <string>{82,56}</string>
      </dict>
      <key>player_3021_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{83,55}}</string>
        <key>offset</key>
        <string>{2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,55}}</string>
        <key>sourceSize</key>
        <string>{83,55}</string>
      </dict>
      <key>player_3021_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,349},{76,64}}</string>
        <key>offset</key>
        <string>{1,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,64}}</string>
        <key>sourceSize</key>
        <string>{76,64}</string>
      </dict>
      <key>player_3021_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,166},{73,60}}</string>
        <key>offset</key>
        <string>{-1,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,60}}</string>
        <key>sourceSize</key>
        <string>{73,60}</string>
      </dict>
      <key>player_3021_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,56},{68,64}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>player_3021_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,187},{65,67}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,67}}</string>
        <key>sourceSize</key>
        <string>{65,67}</string>
      </dict>
      <key>player_3021_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,435},{65,54}}</string>
        <key>offset</key>
        <string>{6,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,54}}</string>
        <key>sourceSize</key>
        <string>{65,54}</string>
      </dict>
      <key>player_3021_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{69,54}}</string>
        <key>offset</key>
        <string>{6,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,54}}</string>
        <key>sourceSize</key>
        <string>{69,54}</string>
      </dict>
      <key>player_3021_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,435},{65,62}}</string>
        <key>offset</key>
        <string>{9,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,62}}</string>
        <key>sourceSize</key>
        <string>{65,62}</string>
      </dict>
      <key>player_3021_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,241},{72,61}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>player_3021_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,388},{59,68}}</string>
        <key>offset</key>
        <string>{2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>player_3021_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,151},{59,72}}</string>
        <key>offset</key>
        <string>{10,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,72}}</string>
        <key>sourceSize</key>
        <string>{59,72}</string>
      </dict>
      <key>player_3021_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,321},{56,63}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,63}}</string>
        <key>sourceSize</key>
        <string>{56,63}</string>
      </dict>
      <key>player_3021_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,458},{58,52}}</string>
        <key>offset</key>
        <string>{8,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,52}}</string>
        <key>sourceSize</key>
        <string>{58,52}</string>
      </dict>
      <key>player_3021_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,254},{65,57}}</string>
        <key>offset</key>
        <string>{8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,57}}</string>
        <key>sourceSize</key>
        <string>{65,57}</string>
      </dict>
      <key>player_3021_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,379},{60,63}}</string>
        <key>offset</key>
        <string>{4,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>player_3021_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,0},{59,70}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>player_3021_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,74},{65,72}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,72}}</string>
        <key>sourceSize</key>
        <string>{65,72}</string>
      </dict>
      <key>player_3021_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,414},{64,71}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,71}}</string>
        <key>sourceSize</key>
        <string>{64,71}</string>
      </dict>
      <key>player_3021_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,122},{59,47}}</string>
        <key>offset</key>
        <string>{-4,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,47}}</string>
        <key>sourceSize</key>
        <string>{59,47}</string>
      </dict>
      <key>player_3021_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,367},{67,53}}</string>
        <key>offset</key>
        <string>{2,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>player_3021_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,441},{61,61}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>player_3021_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,315},{71,68}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>player_3021_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,297},{66,68}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_3021_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,267},{65,80}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,80}}</string>
        <key>sourceSize</key>
        <string>{65,80}</string>
      </dict>
      <key>player_3021_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,321},{62,60}}</string>
        <key>offset</key>
        <string>{-9,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>player_3021_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,436},{56,67}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,67}}</string>
        <key>sourceSize</key>
        <string>{56,67}</string>
      </dict>
      <key>player_3021_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,367},{58,66}}</string>
        <key>offset</key>
        <string>{-2,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3021_1_10.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3021_1_10.png</string>
    </dict>
  </dict>
</plist>