<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3013_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,167},{70,59}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,59}}</string>
        <key>sourceSize</key>
        <string>{70,59}</string>
      </dict>
      <key>player_3013_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,167},{66,66}}</string>
        <key>offset</key>
        <string>{6,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>player_3013_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{76,74}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,74}}</string>
        <key>sourceSize</key>
        <string>{76,74}</string>
      </dict>
      <key>player_3013_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,81},{64,64}}</string>
        <key>offset</key>
        <string>{-12,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>player_3013_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,257},{68,71}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,71}}</string>
        <key>sourceSize</key>
        <string>{68,71}</string>
      </dict>
      <key>player_3013_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,436},{74,80}}</string>
        <key>offset</key>
        <string>{2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>player_3013_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,347},{71,73}}</string>
        <key>offset</key>
        <string>{-15,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>player_3013_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{79,78}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>player_3013_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{81,83}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>player_3013_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,436},{69,79}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,79}}</string>
        <key>sourceSize</key>
        <string>{69,79}</string>
      </dict>
      <key>player_3013_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,264},{78,81}}</string>
        <key>offset</key>
        <string>{-2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>player_3013_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,85},{76,80}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_3013_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{78,85}}</string>
        <key>offset</key>
        <string>{3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,85}}</string>
        <key>sourceSize</key>
        <string>{78,85}</string>
      </dict>
      <key>player_3013_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,88},{78,84}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>player_3013_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,174},{78,81}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>player_3013_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{84,86}}</string>
        <key>offset</key>
        <string>{12,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
      <key>player_3013_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,87}}</string>
        <key>offset</key>
        <string>{8,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,87}}</string>
        <key>sourceSize</key>
        <string>{80,87}</string>
      </dict>
      <key>player_3013_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{77,86}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,86}}</string>
        <key>sourceSize</key>
        <string>{77,86}</string>
      </dict>
      <key>player_3013_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,177},{85,70}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,70}}</string>
        <key>sourceSize</key>
        <string>{85,70}</string>
      </dict>
      <key>player_3013_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{82,77}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,77}}</string>
        <key>sourceSize</key>
        <string>{82,77}</string>
      </dict>
      <key>player_3013_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,352},{82,82}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>player_3013_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,85},{81,53}}</string>
        <key>offset</key>
        <string>{8,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,53}}</string>
        <key>sourceSize</key>
        <string>{81,53}</string>
      </dict>
      <key>player_3013_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,264},{82,61}}</string>
        <key>offset</key>
        <string>{4,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,61}}</string>
        <key>sourceSize</key>
        <string>{82,61}</string>
      </dict>
      <key>player_3013_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,177},{86,71}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,71}}</string>
        <key>sourceSize</key>
        <string>{86,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3013_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3013_0_7.png</string>
    </dict>
  </dict>
</plist>