<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0508_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,1042},{136,140}}</string>
        <key>offset</key>
        <string>{-193,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,80},{136,140}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,626},{150,160}}</string>
        <key>offset</key>
        <string>{-209,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{92,70},{150,160}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,122},{196,154}}</string>
        <key>offset</key>
        <string>{-182,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{96,65},{196,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,812},{148,154}}</string>
        <key>offset</key>
        <string>{-196,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,69},{148,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,980},{124,150}}</string>
        <key>offset</key>
        <string>{-181,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{133,68},{124,150}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,278},{186,128}}</string>
        <key>offset</key>
        <string>{-196,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,91},{186,128}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,848},{96,154}}</string>
        <key>offset</key>
        <string>{-176,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{152,68},{96,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,730},{160,158}}</string>
        <key>offset</key>
        <string>{-211,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,61},{160,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,584},{162,166}}</string>
        <key>offset</key>
        <string>{-168,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{127,53},{162,166}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{190,164}}</string>
        <key>offset</key>
        <string>{-165,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,55},{190,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,130},{188,160}}</string>
        <key>offset</key>
        <string>{-161,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{121,60},{188,160}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,850},{128,154}}</string>
        <key>offset</key>
        <string>{-184,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{128,67},{128,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,946},{138,154}}</string>
        <key>offset</key>
        <string>{-198,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{109,65},{138,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,890},{150,148}}</string>
        <key>offset</key>
        <string>{-162,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{139,69},{150,148}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{96,168}}</string>
        <key>offset</key>
        <string>{-156,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{172,50},{96,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{186,178}}</string>
        <key>offset</key>
        <string>{-140,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{143,40},{186,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,144},{186,178}}</string>
        <key>offset</key>
        <string>{-151,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{132,44},{186,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,704},{106,166}}</string>
        <key>offset</key>
        <string>{-183,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{140,58},{106,166}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,458},{168,134}}</string>
        <key>offset</key>
        <string>{-171,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{121,80},{168,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,906},{120,144}}</string>
        <key>offset</key>
        <string>{-153,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{163,67},{120,144}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,900},{148,140}}</string>
        <key>offset</key>
        <string>{-170,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{132,72},{148,140}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,166},{126,182}}</string>
        <key>offset</key>
        <string>{-147,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{166,50},{126,182}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{100,192}}</string>
        <key>offset</key>
        <string>{-163,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{163,40},{100,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,444},{170,138}}</string>
        <key>offset</key>
        <string>{-181,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{110,76},{170,138}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,778},{126,158}}</string>
        <key>offset</key>
        <string>{-149,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,64},{126,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,1084},{126,124}}</string>
        <key>offset</key>
        <string>{-145,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{168,98},{126,124}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{198,110}}</string>
        <key>offset</key>
        <string>{-174,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{103,113},{198,110}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,748},{156,150}}</string>
        <key>offset</key>
        <string>{-162,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{136,74},{156,150}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{150,172}}</string>
        <key>offset</key>
        <string>{-191,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,57},{150,172}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,294},{180,162}}</string>
        <key>offset</key>
        <string>{-153,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{133,61},{180,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,756},{90,162}}</string>
        <key>offset</key>
        <string>{-166,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{165,64},{90,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,408},{174,104}}</string>
        <key>offset</key>
        <string>{-143,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{146,122},{174,104}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,550},{170,152}}</string>
        <key>offset</key>
        <string>{-180,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{111,75},{170,152}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{204,120}}</string>
        <key>offset</key>
        <string>{-191,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{83,108},{204,120}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{192,142}}</string>
        <key>offset</key>
        <string>{-198,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,86},{192,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,222}}</string>
        <key>offset</key>
        <string>{-151,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{167,5},{116,222}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,1028},{132,142}}</string>
        <key>offset</key>
        <string>{-157,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,81},{132,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,458},{166,116}}</string>
        <key>offset</key>
        <string>{-186,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{107,124},{166,116}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,666},{88,170}}</string>
        <key>offset</key>
        <string>{-188,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{144,52},{88,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,292},{186,100}}</string>
        <key>offset</key>
        <string>{-209,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{74,123},{186,100}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{198,128}}</string>
        <key>offset</key>
        <string>{-205,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,98},{198,128}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{86,174}}</string>
        <key>offset</key>
        <string>{-169,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,50},{86,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,324},{180,118}}</string>
        <key>offset</key>
        <string>{-182,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{104,96},{180,118}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,594},{134,162}}</string>
        <key>offset</key>
        <string>{-190,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{119,93},{134,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,514},{150,174}}</string>
        <key>offset</key>
        <string>{-191,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,47},{150,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,962},{120,146}}</string>
        <key>offset</key>
        <string>{-196,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{120,81},{120,146}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,1040},{96,142}}</string>
        <key>offset</key>
        <string>{-184,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{144,75},{96,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,394},{178,154}}</string>
        <key>offset</key>
        <string>{-180,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{107,70},{178,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0508_1_10.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>player_0508_1_10.png</string>
    </dict>
  </dict>
</plist>