<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0512_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{198,174}}</string>
        <key>offset</key>
        <string>{-178,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{98,92},{198,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,774},{184,178}}</string>
        <key>offset</key>
        <string>{-176,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{107,85},{184,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,774},{190,172}}</string>
        <key>offset</key>
        <string>{-174,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,79},{190,172}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{186,208}}</string>
        <key>offset</key>
        <string>{-220,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,78},{186,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,440},{168,208}}</string>
        <key>offset</key>
        <string>{-218,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,72},{168,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{172,200}}</string>
        <key>offset</key>
        <string>{-215,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{74,68},{172,200}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,232}}</string>
        <key>offset</key>
        <string>{-206,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{100,42},{138,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{154,226}}</string>
        <key>offset</key>
        <string>{-196,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{102,42},{154,226}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,684},{132,216}}</string>
        <key>offset</key>
        <string>{-191,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{118,45},{132,216}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,650},{182,208}}</string>
        <key>offset</key>
        <string>{-222,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,31},{182,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,228},{184,210}}</string>
        <key>offset</key>
        <string>{-216,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,26},{184,210}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,440},{188,208}}</string>
        <key>offset</key>
        <string>{-208,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,26},{188,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,202},{200,192}}</string>
        <key>offset</key>
        <string>{-171,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,39},{200,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,200},{182,192}}</string>
        <key>offset</key>
        <string>{-173,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{111,40},{182,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,394},{192,192}}</string>
        <key>offset</key>
        <string>{-176,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{103,38},{192,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,650},{184,204}}</string>
        <key>offset</key>
        <string>{-129,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{154,35},{184,204}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,210},{166,206}}</string>
        <key>offset</key>
        <string>{-130,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{162,31},{166,206}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,860},{160,206}}</string>
        <key>offset</key>
        <string>{-131,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,28},{160,206}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{150,226}}</string>
        <key>offset</key>
        <string>{-149,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,47},{150,226}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{154,220}}</string>
        <key>offset</key>
        <string>{-154,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{144,48},{154,220}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{134,218}}</string>
        <key>offset</key>
        <string>{-158,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{150,42},{134,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,588},{184,192}}</string>
        <key>offset</key>
        <string>{-128,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{155,88},{184,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,404},{190,194}}</string>
        <key>offset</key>
        <string>{-138,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{142,82},{190,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0512_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{178,200}}</string>
        <key>offset</key>
        <string>{-137,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{149,69},{178,200}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0512_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0512_0_7.png</string>
    </dict>
  </dict>
</plist>