<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_5002_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,152},{147,133}}</string>
        <key>offset</key>
        <string>{-46,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,133}}</string>
        <key>sourceSize</key>
        <string>{147,133}</string>
      </dict>
      <key>player_5002_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,134}}</string>
        <key>offset</key>
        <string>{-50,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,134}}</string>
        <key>sourceSize</key>
        <string>{151,134}</string>
      </dict>
      <key>player_5002_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{150,134}}</string>
        <key>offset</key>
        <string>{-49,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,134}}</string>
        <key>sourceSize</key>
        <string>{150,134}</string>
      </dict>
      <key>player_5002_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{151,142}}</string>
        <key>offset</key>
        <string>{-50,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,142}}</string>
        <key>sourceSize</key>
        <string>{151,142}</string>
      </dict>
      <key>player_5002_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{147,140}}</string>
        <key>offset</key>
        <string>{-49,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,140}}</string>
        <key>sourceSize</key>
        <string>{147,140}</string>
      </dict>
      <key>player_5002_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,297},{143,142}}</string>
        <key>offset</key>
        <string>{-50,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,142}}</string>
        <key>sourceSize</key>
        <string>{143,142}</string>
      </dict>
      <key>player_5002_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,293},{141,142}}</string>
        <key>offset</key>
        <string>{-50,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,142}}</string>
        <key>sourceSize</key>
        <string>{141,142}</string>
      </dict>
      <key>player_5002_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,145},{142,140}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,140}}</string>
        <key>sourceSize</key>
        <string>{142,140}</string>
      </dict>
      <key>player_5002_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,148},{143,141}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,141}}</string>
        <key>sourceSize</key>
        <string>{143,141}</string>
      </dict>
      <key>player_5002_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,149},{146,142}}</string>
        <key>offset</key>
        <string>{-50,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,142}}</string>
        <key>sourceSize</key>
        <string>{146,142}</string>
      </dict>
      <key>player_5002_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{148,142}}</string>
        <key>offset</key>
        <string>{-51,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,142}}</string>
        <key>sourceSize</key>
        <string>{148,142}</string>
      </dict>
      <key>player_5002_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,306},{148,139}}</string>
        <key>offset</key>
        <string>{-49,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,139}}</string>
        <key>sourceSize</key>
        <string>{148,139}</string>
      </dict>
      <key>player_5002_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{140,140}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>player_5002_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{140,140}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>player_5002_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,142},{135,140}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,140}}</string>
        <key>sourceSize</key>
        <string>{135,140}</string>
      </dict>
      <key>player_5002_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,289},{136,140}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>player_5002_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,279},{136,140}}</string>
        <key>offset</key>
        <string>{-36,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>player_5002_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,417},{136,140}}</string>
        <key>offset</key>
        <string>{-36,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>player_5002_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,437},{137,139}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,139}}</string>
        <key>sourceSize</key>
        <string>{137,139}</string>
      </dict>
      <key>player_5002_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,442},{139,139}}</string>
        <key>offset</key>
        <string>{-39,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,139}}</string>
        <key>sourceSize</key>
        <string>{139,139}</string>
      </dict>
      <key>player_5002_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,437},{140,140}}</string>
        <key>offset</key>
        <string>{-40,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>player_5002_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{143,141}}</string>
        <key>offset</key>
        <string>{-42,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,141}}</string>
        <key>sourceSize</key>
        <string>{143,141}</string>
      </dict>
      <key>player_5002_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,297},{145,131}}</string>
        <key>offset</key>
        <string>{-44,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,131}}</string>
        <key>sourceSize</key>
        <string>{145,131}</string>
      </dict>
      <key>player_5002_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{146,141}}</string>
        <key>offset</key>
        <string>{-45,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,141}}</string>
        <key>sourceSize</key>
        <string>{146,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_5002_1_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_5002_1_7.png</string>
    </dict>
  </dict>
</plist>