<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20004_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,272},{114,130}}</string>
        <key>offset</key>
        <string>{-59,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,52},{114,130}}</string>
        <key>sourceSize</key>
        <string>{168,183}</string>
      </dict>
      <key>player_20004_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,134}}</string>
        <key>offset</key>
        <string>{-59,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,52},{114,134}}</string>
        <key>sourceSize</key>
        <string>{168,187}</string>
      </dict>
      <key>player_20004_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{116,134}}</string>
        <key>offset</key>
        <string>{-66,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,52},{116,134}}</string>
        <key>sourceSize</key>
        <string>{156,187}</string>
      </dict>
      <key>player_20004_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{118,134}}</string>
        <key>offset</key>
        <string>{-67,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,55},{118,134}}</string>
        <key>sourceSize</key>
        <string>{156,190}</string>
      </dict>
      <key>player_20004_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{92,120}}</string>
        <key>offset</key>
        <string>{-54,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{63,57},{92,120}}</string>
        <key>sourceSize</key>
        <string>{156,178}</string>
      </dict>
      <key>player_20004_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{100,110}}</string>
        <key>offset</key>
        <string>{-59,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,65},{100,110}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20004_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,268},{116,106}}</string>
        <key>offset</key>
        <string>{-67,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,66},{116,106}}</string>
        <key>sourceSize</key>
        <string>{156,173}</string>
      </dict>
      <key>player_20004_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,404},{118,96}}</string>
        <key>offset</key>
        <string>{-70,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,74},{118,96}}</string>
        <key>sourceSize</key>
        <string>{156,171}</string>
      </dict>
      <key>player_20004_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,386},{114,88}}</string>
        <key>offset</key>
        <string>{-61,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,78},{114,88}}</string>
        <key>sourceSize</key>
        <string>{168,167}</string>
      </dict>
      <key>player_20004_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,136},{114,78}}</string>
        <key>offset</key>
        <string>{-60,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,89},{114,78}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>player_20004_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,112},{98,108}}</string>
        <key>offset</key>
        <string>{-46,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,65},{98,108}}</string>
        <key>sourceSize</key>
        <string>{184,174}</string>
      </dict>
      <key>player_20004_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,222},{102,100}}</string>
        <key>offset</key>
        <string>{-45,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,72},{102,100}}</string>
        <key>sourceSize</key>
        <string>{184,173}</string>
      </dict>
      <key>player_20004_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,386},{72,116}}</string>
        <key>offset</key>
        <string>{-44,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,59},{72,116}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20004_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,112},{90,106}}</string>
        <key>offset</key>
        <string>{-50,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,67},{90,106}}</string>
        <key>sourceSize</key>
        <string>{164,174}</string>
      </dict>
      <key>player_20004_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{102,132}}</string>
        <key>offset</key>
        <string>{-48,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{78,54},{102,132}}</string>
        <key>sourceSize</key>
        <string>{184,187}</string>
      </dict>
      <key>player_20004_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,136},{108,130}}</string>
        <key>offset</key>
        <string>{-48,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{75,59},{108,130}}</string>
        <key>sourceSize</key>
        <string>{184,190}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20004_0_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_20004_0_8.png</string>
    </dict>
  </dict>
</plist>