<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3008_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,275},{68,68}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>player_3008_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,426},{65,69}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>player_3008_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{68,76}}</string>
        <key>offset</key>
        <string>{5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>player_3008_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{73,78}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>player_3008_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,179},{82,80}}</string>
        <key>offset</key>
        <string>{0,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,80}}</string>
        <key>sourceSize</key>
        <string>{82,80}</string>
      </dict>
      <key>player_3008_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,160},{74,70}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>player_3008_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,212},{61,70}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,70}}</string>
        <key>sourceSize</key>
        <string>{61,70}</string>
      </dict>
      <key>player_3008_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,229},{59,70}}</string>
        <key>offset</key>
        <string>{11,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>player_3008_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,80},{70,78}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,78}}</string>
        <key>sourceSize</key>
        <string>{70,78}</string>
      </dict>
      <key>player_3008_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{62,75}}</string>
        <key>offset</key>
        <string>{7,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,75}}</string>
        <key>sourceSize</key>
        <string>{62,75}</string>
      </dict>
      <key>player_3008_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,79},{73,74}}</string>
        <key>offset</key>
        <string>{7,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,74}}</string>
        <key>sourceSize</key>
        <string>{73,74}</string>
      </dict>
      <key>player_3008_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,430},{75,72}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>player_3008_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,426},{57,69}}</string>
        <key>offset</key>
        <string>{9,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,69}}</string>
        <key>sourceSize</key>
        <string>{57,69}</string>
      </dict>
      <key>player_3008_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,76},{66,71}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,71}}</string>
        <key>sourceSize</key>
        <string>{66,71}</string>
      </dict>
      <key>player_3008_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,0},{70,71}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_3008_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,352},{64,75}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3008_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,275},{69,70}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_3008_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,73},{69,71}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>player_3008_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{65,69}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>player_3008_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,290},{70,67}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,67}}</string>
        <key>sourceSize</key>
        <string>{70,67}</string>
      </dict>
      <key>player_3008_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,311},{72,68}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>player_3008_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,236},{68,72}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3008_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,345},{68,66}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>player_3008_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{71,65}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,65}}</string>
        <key>sourceSize</key>
        <string>{71,65}</string>
      </dict>
      <key>player_3008_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,73},{69,71}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>player_3008_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,346},{68,70}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_3008_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,144},{66,71}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,71}}</string>
        <key>sourceSize</key>
        <string>{66,71}</string>
      </dict>
      <key>player_3008_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{65,77}}</string>
        <key>offset</key>
        <string>{5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>player_3008_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,155},{66,72}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_3008_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,263},{75,68}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,68}}</string>
        <key>sourceSize</key>
        <string>{75,68}</string>
      </dict>
      <key>player_3008_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,340},{70,75}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_3008_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,236},{63,73}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_3008_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{60,74}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,74}}</string>
        <key>sourceSize</key>
        <string>{60,74}</string>
      </dict>
      <key>player_3008_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{60,85}}</string>
        <key>offset</key>
        <string>{9,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,85}}</string>
        <key>sourceSize</key>
        <string>{60,85}</string>
      </dict>
      <key>player_3008_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{63,85}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,85}}</string>
        <key>sourceSize</key>
        <string>{63,85}</string>
      </dict>
      <key>player_3008_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,417},{74,75}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>player_3008_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,385},{63,72}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,72}}</string>
        <key>sourceSize</key>
        <string>{63,72}</string>
      </dict>
      <key>player_3008_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,359},{65,70}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,70}}</string>
        <key>sourceSize</key>
        <string>{65,70}</string>
      </dict>
      <key>player_3008_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,146},{64,71}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,71}}</string>
        <key>sourceSize</key>
        <string>{64,71}</string>
      </dict>
      <key>player_3008_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{65,87}}</string>
        <key>offset</key>
        <string>{5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,87}}</string>
        <key>sourceSize</key>
        <string>{65,87}</string>
      </dict>
      <key>player_3008_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{63,88}}</string>
        <key>offset</key>
        <string>{7,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,88}}</string>
        <key>sourceSize</key>
        <string>{63,88}</string>
      </dict>
      <key>player_3008_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,310},{69,72}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,72}}</string>
        <key>sourceSize</key>
        <string>{69,72}</string>
      </dict>
      <key>player_3008_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,229},{72,66}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>player_3008_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,384},{70,66}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,66}}</string>
        <key>sourceSize</key>
        <string>{70,66}</string>
      </dict>
      <key>player_3008_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,155},{72,71}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>player_3008_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,87},{74,80}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>player_3008_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{78,84}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>player_3008_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,416},{68,69}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3008_0_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3008_0_3.png</string>
    </dict>
  </dict>
</plist>