<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28009_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{78,68}}</string>
        <key>offset</key>
        <string>{-2,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{78,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>player_28009_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,184},{82,76}}</string>
        <key>offset</key>
        <string>{-5,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{82,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>player_28009_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,284},{80,84}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{82,85}</string>
      </dict>
      <key>player_28009_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,92},{58,82}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{58,82}}</string>
        <key>sourceSize</key>
        <string>{58,83}</string>
      </dict>
      <key>player_28009_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,184},{70,84}}</string>
        <key>offset</key>
        <string>{-11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,84}}</string>
        <key>sourceSize</key>
        <string>{70,84}</string>
      </dict>
      <key>player_28009_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,370},{72,84}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,84}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>player_28009_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,284},{60,86}}</string>
        <key>offset</key>
        <string>{-5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{60,86}}</string>
        <key>sourceSize</key>
        <string>{60,87}</string>
      </dict>
      <key>player_28009_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,96},{70,90}}</string>
        <key>offset</key>
        <string>{-5,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,90}}</string>
        <key>sourceSize</key>
        <string>{70,90}</string>
      </dict>
      <key>player_28009_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{78,90}}</string>
        <key>offset</key>
        <string>{-4,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{80,91}</string>
      </dict>
      <key>player_28009_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,372},{66,86}}</string>
        <key>offset</key>
        <string>{-7,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,86}}</string>
        <key>sourceSize</key>
        <string>{68,86}</string>
      </dict>
      <key>player_28009_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,392},{78,88}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{80,89}</string>
      </dict>
      <key>player_28009_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,92},{84,90}}</string>
        <key>offset</key>
        <string>{-10,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>player_28009_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{78,90}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>player_28009_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,0},{82,94}}</string>
        <key>offset</key>
        <string>{1,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{82,94}}</string>
        <key>sourceSize</key>
        <string>{82,94}</string>
      </dict>
      <key>player_28009_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,204},{82,92}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{82,92}}</string>
        <key>sourceSize</key>
        <string>{82,93}</string>
      </dict>
      <key>player_28009_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{72,94}}</string>
        <key>offset</key>
        <string>{14,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,94}}</string>
        <key>sourceSize</key>
        <string>{74,95}</string>
      </dict>
      <key>player_28009_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,102}}</string>
        <key>offset</key>
        <string>{11,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{80,102}}</string>
        <key>sourceSize</key>
        <string>{80,103}</string>
      </dict>
      <key>player_28009_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{84,98}}</string>
        <key>offset</key>
        <string>{6,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{84,98}}</string>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
      <key>player_28009_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,96},{72,92}}</string>
        <key>offset</key>
        <string>{9,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,92}}</string>
        <key>sourceSize</key>
        <string>{72,92}</string>
      </dict>
      <key>player_28009_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{78,94}}</string>
        <key>offset</key>
        <string>{8,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,94}}</string>
        <key>sourceSize</key>
        <string>{80,95}</string>
      </dict>
      <key>player_28009_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{86,92}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{86,92}}</string>
        <key>sourceSize</key>
        <string>{86,93}</string>
      </dict>
      <key>player_28009_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,270},{84,78}}</string>
        <key>offset</key>
        <string>{2,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{84,78}}</string>
        <key>sourceSize</key>
        <string>{86,78}</string>
      </dict>
      <key>player_28009_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,298},{92,78}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,78}}</string>
        <key>sourceSize</key>
        <string>{94,79}</string>
      </dict>
      <key>player_28009_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,190},{92,82}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,82}}</string>
        <key>sourceSize</key>
        <string>{92,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28009_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_28009_0_7.png</string>
    </dict>
  </dict>
</plist>