<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0524_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,1085},{179,165}}</string>
        <key>offset</key>
        <string>{-63,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{179,165}</string>
        <key>sourceSize</key>
        <string>{179,165}</string>
      </dict>
      <key>player_0524_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,826},{186,164}}</string>
        <key>offset</key>
        <string>{-67,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{186,164}</string>
        <key>sourceSize</key>
        <string>{186,164}</string>
      </dict>
      <key>player_0524_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1239},{180,163}}</string>
        <key>offset</key>
        <string>{-64,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{180,163}</string>
        <key>sourceSize</key>
        <string>{180,163}</string>
      </dict>
      <key>player_0524_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,1298},{159,166}}</string>
        <key>offset</key>
        <string>{-54,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{159,166}</string>
        <key>sourceSize</key>
        <string>{159,166}</string>
      </dict>
      <key>player_0524_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1404},{145,174}}</string>
        <key>offset</key>
        <string>{-42,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{145,174}</string>
        <key>sourceSize</key>
        <string>{145,174}</string>
      </dict>
      <key>player_0524_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,1090},{174,167}}</string>
        <key>offset</key>
        <string>{-61,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{174,167}</string>
        <key>sourceSize</key>
        <string>{174,167}</string>
      </dict>
      <key>player_0524_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,620},{167,194}}</string>
        <key>offset</key>
        <string>{-87,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{167,194}</string>
        <key>sourceSize</key>
        <string>{167,194}</string>
      </dict>
      <key>player_0524_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,729},{170,194}}</string>
        <key>offset</key>
        <string>{-90,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,194}</string>
        <key>sourceSize</key>
        <string>{170,194}</string>
      </dict>
      <key>player_0524_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,901},{169,189}}</string>
        <key>offset</key>
        <string>{-86,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,189}</string>
        <key>sourceSize</key>
        <string>{169,189}</string>
      </dict>
      <key>player_0524_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,745},{173,190}}</string>
        <key>offset</key>
        <string>{-87,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{173,190}</string>
        <key>sourceSize</key>
        <string>{173,190}</string>
      </dict>
      <key>player_0524_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,573},{170,195}}</string>
        <key>offset</key>
        <string>{-85,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,195}</string>
        <key>sourceSize</key>
        <string>{170,195}</string>
      </dict>
      <key>player_0524_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,418},{172,197}}</string>
        <key>offset</key>
        <string>{-90,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{172,197}</string>
        <key>sourceSize</key>
        <string>{172,197}</string>
      </dict>
      <key>player_0524_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,219}}</string>
        <key>offset</key>
        <string>{-44,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{108,219}</string>
        <key>sourceSize</key>
        <string>{108,219}</string>
      </dict>
      <key>player_0524_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{108,215}}</string>
        <key>offset</key>
        <string>{-45,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{108,215}</string>
        <key>sourceSize</key>
        <string>{108,215}</string>
      </dict>
      <key>player_0524_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,110},{106,210}}</string>
        <key>offset</key>
        <string>{-42,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{106,210}</string>
        <key>sourceSize</key>
        <string>{106,210}</string>
      </dict>
      <key>player_0524_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,117},{115,206}}</string>
        <key>offset</key>
        <string>{-51,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{115,206}</string>
        <key>sourceSize</key>
        <string>{115,206}</string>
      </dict>
      <key>player_0524_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{127,204}}</string>
        <key>offset</key>
        <string>{-64,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{127,204}</string>
        <key>sourceSize</key>
        <string>{127,204}</string>
      </dict>
      <key>player_0524_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{115,217}}</string>
        <key>offset</key>
        <string>{-51,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{115,217}</string>
        <key>sourceSize</key>
        <string>{115,217}</string>
      </dict>
      <key>player_0524_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,402},{169,198}}</string>
        <key>offset</key>
        <string>{-84,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,198}</string>
        <key>sourceSize</key>
        <string>{169,198}</string>
      </dict>
      <key>player_0524_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,218},{172,201}}</string>
        <key>offset</key>
        <string>{-89,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,201}</string>
        <key>sourceSize</key>
        <string>{172,201}</string>
      </dict>
      <key>player_0524_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,234},{166,201}}</string>
        <key>offset</key>
        <string>{-84,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{166,201}</string>
        <key>sourceSize</key>
        <string>{166,201}</string>
      </dict>
      <key>player_0524_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,617},{164,191}}</string>
        <key>offset</key>
        <string>{-86,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{164,191}</string>
        <key>sourceSize</key>
        <string>{164,191}</string>
      </dict>
      <key>player_0524_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,920},{163,186}}</string>
        <key>offset</key>
        <string>{-84,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{163,186}</string>
        <key>sourceSize</key>
        <string>{163,186}</string>
      </dict>
      <key>player_0524_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,1072},{170,182}}</string>
        <key>offset</key>
        <string>{-88,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,182}</string>
        <key>sourceSize</key>
        <string>{170,182}</string>
      </dict>
      <key>player_0524_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,1244},{176,168}}</string>
        <key>offset</key>
        <string>{-62,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{176,168}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
      <key>player_0524_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{187,166}}</string>
        <key>offset</key>
        <string>{-68,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{187,166}</string>
        <key>sourceSize</key>
        <string>{187,166}</string>
      </dict>
      <key>player_0524_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,925},{180,163}}</string>
        <key>offset</key>
        <string>{-64,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{180,163}</string>
        <key>sourceSize</key>
        <string>{180,163}</string>
      </dict>
      <key>player_0524_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,1138},{158,174}}</string>
        <key>offset</key>
        <string>{-53,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{158,174}</string>
        <key>sourceSize</key>
        <string>{158,174}</string>
      </dict>
      <key>player_0524_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,1259},{142,169}}</string>
        <key>offset</key>
        <string>{-40,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{142,169}</string>
        <key>sourceSize</key>
        <string>{142,169}</string>
      </dict>
      <key>player_0524_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1252},{173,157}}</string>
        <key>offset</key>
        <string>{-60,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{173,157}</string>
        <key>sourceSize</key>
        <string>{173,157}</string>
      </dict>
      <key>player_0524_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,586},{141,195}}</string>
        <key>offset</key>
        <string>{-4,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,195}</string>
        <key>sourceSize</key>
        <string>{141,195}</string>
      </dict>
      <key>player_0524_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,291},{148,200}}</string>
        <key>offset</key>
        <string>{-4,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{148,200}</string>
        <key>sourceSize</key>
        <string>{148,200}</string>
      </dict>
      <key>player_0524_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,441},{143,198}}</string>
        <key>offset</key>
        <string>{-4,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{143,198}</string>
        <key>sourceSize</key>
        <string>{143,198}</string>
      </dict>
      <key>player_0524_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,680},{144,191}}</string>
        <key>offset</key>
        <string>{-5,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,191}</string>
        <key>sourceSize</key>
        <string>{144,191}</string>
      </dict>
      <key>player_0524_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,783},{140,187}}</string>
        <key>offset</key>
        <string>{-4,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{140,187}</string>
        <key>sourceSize</key>
        <string>{140,187}</string>
      </dict>
      <key>player_0524_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,992},{144,180}}</string>
        <key>offset</key>
        <string>{-4,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,180}</string>
        <key>sourceSize</key>
        <string>{144,180}</string>
      </dict>
      <key>player_0524_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{94,218}}</string>
        <key>offset</key>
        <string>{2,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{94,218}</string>
        <key>sourceSize</key>
        <string>{94,218}</string>
      </dict>
      <key>player_0524_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,96},{90,217}}</string>
        <key>offset</key>
        <string>{9,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,217}</string>
        <key>sourceSize</key>
        <string>{90,217}</string>
      </dict>
      <key>player_0524_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,0},{87,211}}</string>
        <key>offset</key>
        <string>{8,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{87,211}</string>
        <key>sourceSize</key>
        <string>{87,211}</string>
      </dict>
      <key>player_0524_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,188},{101,206}}</string>
        <key>offset</key>
        <string>{3,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{101,206}</string>
        <key>sourceSize</key>
        <string>{101,206}</string>
      </dict>
      <key>player_0524_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,213},{106,203}}</string>
        <key>offset</key>
        <string>{10,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{106,203}</string>
        <key>sourceSize</key>
        <string>{106,203}</string>
      </dict>
      <key>player_0524_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{96,216}}</string>
        <key>offset</key>
        <string>{6,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{96,216}</string>
        <key>sourceSize</key>
        <string>{96,216}</string>
      </dict>
      <key>player_0524_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,476},{142,198}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{142,198}</string>
        <key>sourceSize</key>
        <string>{142,198}</string>
      </dict>
      <key>player_0524_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,537},{141,196}}</string>
        <key>offset</key>
        <string>{-2,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,196}</string>
        <key>sourceSize</key>
        <string>{141,196}</string>
      </dict>
      <key>player_0524_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,789},{137,193}}</string>
        <key>offset</key>
        <string>{-2,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{137,193}</string>
        <key>sourceSize</key>
        <string>{137,193}</string>
      </dict>
      <key>player_0524_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1096},{141,181}}</string>
        <key>offset</key>
        <string>{-5,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,181}</string>
        <key>sourceSize</key>
        <string>{141,181}</string>
      </dict>
      <key>player_0524_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{137,200}}</string>
        <key>offset</key>
        <string>{-1,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{137,200}</string>
        <key>sourceSize</key>
        <string>{137,200}</string>
      </dict>
      <key>player_0524_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,392},{143,199}}</string>
        <key>offset</key>
        <string>{-4,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{143,199}</string>
        <key>sourceSize</key>
        <string>{143,199}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0524_0_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>player_0524_0_1.png</string>
    </dict>
  </dict>
</plist>