<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0518_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,262},{154,184}}</string>
        <key>offset</key>
        <string>{-70,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,184}</string>
        <key>sourceSize</key>
        <string>{154,184}</string>
      </dict>
      <key>player_0518_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,211}}</string>
        <key>offset</key>
        <string>{-44,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{111,211}</string>
        <key>sourceSize</key>
        <string>{111,211}</string>
      </dict>
      <key>player_0518_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{136,200}}</string>
        <key>offset</key>
        <string>{-73,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,200}</string>
        <key>sourceSize</key>
        <string>{136,200}</string>
      </dict>
      <key>player_0518_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,262},{187,162}}</string>
        <key>offset</key>
        <string>{-75,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{187,162}</string>
        <key>sourceSize</key>
        <string>{187,162}</string>
      </dict>
      <key>player_0518_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{148,198}}</string>
        <key>offset</key>
        <string>{-29,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{148,198}</string>
        <key>sourceSize</key>
        <string>{148,198}</string>
      </dict>
      <key>player_0518_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{112,198}}</string>
        <key>offset</key>
        <string>{-17,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{112,198}</string>
        <key>sourceSize</key>
        <string>{112,198}</string>
      </dict>
      <key>player_0518_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{158,176}}</string>
        <key>offset</key>
        <string>{-31,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{158,176}</string>
        <key>sourceSize</key>
        <string>{158,176}</string>
      </dict>
      <key>player_0518_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,114},{189,146}}</string>
        <key>offset</key>
        <string>{-63,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{189,146}</string>
        <key>sourceSize</key>
        <string>{189,146}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0518_0_11.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_0518_0_11.png</string>
    </dict>
  </dict>
</plist>