<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0516_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{223,114}}</string>
        <key>offset</key>
        <string>{-84,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,114}</string>
        <key>sourceSize</key>
        <string>{223,114}</string>
      </dict>
      <key>player_0516_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{220,113}}</string>
        <key>offset</key>
        <string>{-81,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{220,113}</string>
        <key>sourceSize</key>
        <string>{220,113}</string>
      </dict>
      <key>player_0516_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,888},{207,111}}</string>
        <key>offset</key>
        <string>{-71,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{207,111}</string>
        <key>sourceSize</key>
        <string>{207,111}</string>
      </dict>
      <key>player_0516_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,199},{194,117}}</string>
        <key>offset</key>
        <string>{-63,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{194,117}</string>
        <key>sourceSize</key>
        <string>{194,117}</string>
      </dict>
      <key>player_0516_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{197,110}}</string>
        <key>offset</key>
        <string>{-70,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{197,110}</string>
        <key>sourceSize</key>
        <string>{197,110}</string>
      </dict>
      <key>player_0516_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,672},{214,107}}</string>
        <key>offset</key>
        <string>{-82,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{214,107}</string>
        <key>sourceSize</key>
        <string>{214,107}</string>
      </dict>
      <key>player_0516_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,629},{185,141}}</string>
        <key>offset</key>
        <string>{-85,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,141}</string>
        <key>sourceSize</key>
        <string>{185,141}</string>
      </dict>
      <key>player_0516_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,816},{185,136}}</string>
        <key>offset</key>
        <string>{-86,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,136}</string>
        <key>sourceSize</key>
        <string>{185,136}</string>
      </dict>
      <key>player_0516_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,395},{185,126}}</string>
        <key>offset</key>
        <string>{-89,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,126}</string>
        <key>sourceSize</key>
        <string>{185,126}</string>
      </dict>
      <key>player_0516_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,187},{179,126}}</string>
        <key>offset</key>
        <string>{-90,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{179,126}</string>
        <key>sourceSize</key>
        <string>{179,126}</string>
      </dict>
      <key>player_0516_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,180},{171,128}}</string>
        <key>offset</key>
        <string>{-87,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,128}</string>
        <key>sourceSize</key>
        <string>{171,128}</string>
      </dict>
      <key>player_0516_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,0},{168,137}}</string>
        <key>offset</key>
        <string>{-84,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{168,137}</string>
        <key>sourceSize</key>
        <string>{168,137}</string>
      </dict>
      <key>player_0516_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,353},{109,169}}</string>
        <key>offset</key>
        <string>{-33,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{109,169}</string>
        <key>sourceSize</key>
        <string>{109,169}</string>
      </dict>
      <key>player_0516_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,892},{122,170}}</string>
        <key>offset</key>
        <string>{-39,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{122,170}</string>
        <key>sourceSize</key>
        <string>{122,170}</string>
      </dict>
      <key>player_0516_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,344},{136,165}}</string>
        <key>offset</key>
        <string>{-52,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,165}</string>
        <key>sourceSize</key>
        <string>{136,165}</string>
      </dict>
      <key>player_0516_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,871},{144,165}}</string>
        <key>offset</key>
        <string>{-59,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,165}</string>
        <key>sourceSize</key>
        <string>{144,165}</string>
      </dict>
      <key>player_0516_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1117,170},{134,163}}</string>
        <key>offset</key>
        <string>{-50,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{134,163}</string>
        <key>sourceSize</key>
        <string>{134,163}</string>
      </dict>
      <key>player_0516_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,524},{113,166}}</string>
        <key>offset</key>
        <string>{-33,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{113,166}</string>
        <key>sourceSize</key>
        <string>{113,166}</string>
      </dict>
      <key>player_0516_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,0},{149,171}}</string>
        <key>offset</key>
        <string>{-72,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{149,171}</string>
        <key>sourceSize</key>
        <string>{149,171}</string>
      </dict>
      <key>player_0516_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,529},{156,170}}</string>
        <key>offset</key>
        <string>{-73,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,170}</string>
        <key>sourceSize</key>
        <string>{156,170}</string>
      </dict>
      <key>player_0516_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,769},{156,176}}</string>
        <key>offset</key>
        <string>{-72,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,176}</string>
        <key>sourceSize</key>
        <string>{156,176}</string>
      </dict>
      <key>player_0516_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,383},{157,182}}</string>
        <key>offset</key>
        <string>{-72,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{157,182}</string>
        <key>sourceSize</key>
        <string>{157,182}</string>
      </dict>
      <key>player_0516_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,368},{162,175}}</string>
        <key>offset</key>
        <string>{-78,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,175}</string>
        <key>sourceSize</key>
        <string>{162,175}</string>
      </dict>
      <key>player_0516_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,719},{159,171}}</string>
        <key>offset</key>
        <string>{-79,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{159,171}</string>
        <key>sourceSize</key>
        <string>{159,171}</string>
      </dict>
      <key>player_0516_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{223,142}}</string>
        <key>offset</key>
        <string>{-91,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{223,142}</string>
        <key>sourceSize</key>
        <string>{223,142}</string>
      </dict>
      <key>player_0516_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,450},{220,142}}</string>
        <key>offset</key>
        <string>{-91,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{220,142}</string>
        <key>sourceSize</key>
        <string>{220,142}</string>
      </dict>
      <key>player_0516_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,222},{207,148}}</string>
        <key>offset</key>
        <string>{-88,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{207,148}</string>
        <key>sourceSize</key>
        <string>{207,148}</string>
      </dict>
      <key>player_0516_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{194,164}}</string>
        <key>offset</key>
        <string>{-83,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{194,164}</string>
        <key>sourceSize</key>
        <string>{194,164}</string>
      </dict>
      <key>player_0516_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,431},{196,154}}</string>
        <key>offset</key>
        <string>{-79,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{196,154}</string>
        <key>sourceSize</key>
        <string>{196,154}</string>
      </dict>
      <key>player_0516_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,672},{214,143}}</string>
        <key>offset</key>
        <string>{-84,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{214,143}</string>
        <key>sourceSize</key>
        <string>{214,143}</string>
      </dict>
      <key>player_0516_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,196},{185,163}}</string>
        <key>offset</key>
        <string>{-52,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,163}</string>
        <key>sourceSize</key>
        <string>{185,163}</string>
      </dict>
      <key>player_0516_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{185,163}}</string>
        <key>offset</key>
        <string>{-51,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,163}</string>
        <key>sourceSize</key>
        <string>{185,163}</string>
      </dict>
      <key>player_0516_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,582},{185,168}}</string>
        <key>offset</key>
        <string>{-48,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,168}</string>
        <key>sourceSize</key>
        <string>{185,168}</string>
      </dict>
      <key>player_0516_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{178,171}}</string>
        <key>offset</key>
        <string>{-40,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{178,171}</string>
        <key>sourceSize</key>
        <string>{178,171}</string>
      </dict>
      <key>player_0516_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,745},{169,172}}</string>
        <key>offset</key>
        <string>{-34,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{169,172}</string>
        <key>sourceSize</key>
        <string>{169,172}</string>
      </dict>
      <key>player_0516_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,173},{168,169}}</string>
        <key>offset</key>
        <string>{-36,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{168,169}</string>
        <key>sourceSize</key>
        <string>{168,169}</string>
      </dict>
      <key>player_0516_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,180},{109,173}}</string>
        <key>offset</key>
        <string>{-29,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{109,173}</string>
        <key>sourceSize</key>
        <string>{109,173}</string>
      </dict>
      <key>player_0516_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,545},{124,172}}</string>
        <key>offset</key>
        <string>{-37,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{124,172}</string>
        <key>sourceSize</key>
        <string>{124,172}</string>
      </dict>
      <key>player_0516_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,355},{137,172}}</string>
        <key>offset</key>
        <string>{-37,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{137,172}</string>
        <key>sourceSize</key>
        <string>{137,172}</string>
      </dict>
      <key>player_0516_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,567},{144,176}}</string>
        <key>offset</key>
        <string>{-37,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{144,176}</string>
        <key>sourceSize</key>
        <string>{144,176}</string>
      </dict>
      <key>player_0516_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,701},{133,168}}</string>
        <key>offset</key>
        <string>{-34,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{133,168}</string>
        <key>sourceSize</key>
        <string>{133,168}</string>
      </dict>
      <key>player_0516_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{111,169}}</string>
        <key>offset</key>
        <string>{-30,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{111,169}</string>
        <key>sourceSize</key>
        <string>{111,169}</string>
      </dict>
      <key>player_0516_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1253,162},{149,153}}</string>
        <key>offset</key>
        <string>{-29,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{149,153}</string>
        <key>sourceSize</key>
        <string>{149,153}</string>
      </dict>
      <key>player_0516_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,852},{157,155}}</string>
        <key>offset</key>
        <string>{-37,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,155}</string>
        <key>sourceSize</key>
        <string>{157,155}</string>
      </dict>
      <key>player_0516_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,692},{156,158}}</string>
        <key>offset</key>
        <string>{-37,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,158}</string>
        <key>sourceSize</key>
        <string>{156,158}</string>
      </dict>
      <key>player_0516_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,511},{157,156}}</string>
        <key>offset</key>
        <string>{-37,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,156}</string>
        <key>sourceSize</key>
        <string>{157,156}</string>
      </dict>
      <key>player_0516_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,0},{160,146}}</string>
        <key>offset</key>
        <string>{-34,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,146}</string>
        <key>sourceSize</key>
        <string>{160,146}</string>
      </dict>
      <key>player_0516_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,335},{157,141}}</string>
        <key>offset</key>
        <string>{-30,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,141}</string>
        <key>sourceSize</key>
        <string>{157,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0516_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0516_0_1.png</string>
    </dict>
  </dict>
</plist>