<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0506_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,350},{170,130}}</string>
        <key>offset</key>
        <string>{-181,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{110,102},{170,130}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,120}}</string>
        <key>offset</key>
        <string>{-182,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{105,108},{178,120}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{178,126}}</string>
        <key>offset</key>
        <string>{-185,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{102,99},{178,126}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{108,156}}</string>
        <key>offset</key>
        <string>{-202,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,78},{108,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{124,158}}</string>
        <key>offset</key>
        <string>{-200,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{114,82},{124,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,0},{132,156}}</string>
        <key>offset</key>
        <string>{-199,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{111,73},{132,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,174},{120,168}}</string>
        <key>offset</key>
        <string>{-201,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{115,56},{120,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{130,178}}</string>
        <key>offset</key>
        <string>{-196,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{115,54},{130,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,338},{128,158}}</string>
        <key>offset</key>
        <string>{-192,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,62},{128,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,176},{172,158}}</string>
        <key>offset</key>
        <string>{-199,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,56},{172,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,180},{174,170}}</string>
        <key>offset</key>
        <string>{-193,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{96,50},{174,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,344},{166,162}}</string>
        <key>offset</key>
        <string>{-197,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{96,57},{166,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{174,142}}</string>
        <key>offset</key>
        <string>{-171,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{118,75},{174,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{178,146}}</string>
        <key>offset</key>
        <string>{-171,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,71},{178,146}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,356},{174,138}}</string>
        <key>offset</key>
        <string>{-169,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,79},{174,138}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,134},{112,156}}</string>
        <key>offset</key>
        <string>{-150,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{170,66},{112,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,160},{126,158}}</string>
        <key>offset</key>
        <string>{-152,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{161,64},{126,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,320},{126,156}}</string>
        <key>offset</key>
        <string>{-153,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{160,65},{126,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,496},{118,140}}</string>
        <key>offset</key>
        <string>{-153,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,80},{118,140}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{124,134}}</string>
        <key>offset</key>
        <string>{-160,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{154,87},{124,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,482},{116,144}}</string>
        <key>offset</key>
        <string>{-155,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{163,73},{116,144}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{168,106}}</string>
        <key>offset</key>
        <string>{-154,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{138,113},{168,106}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{172,102}}</string>
        <key>offset</key>
        <string>{-160,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{130,114},{172,102}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0506_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,170},{166,116}}</string>
        <key>offset</key>
        <string>{-157,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{136,97},{166,116}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0506_1_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0506_1_7.png</string>
    </dict>
  </dict>
</plist>