<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0520_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,556},{175,137}}</string>
        <key>offset</key>
        <string>{-76,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,137}</string>
        <key>sourceSize</key>
        <string>{175,137}</string>
      </dict>
      <key>player_0520_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,331},{158,125}}</string>
        <key>offset</key>
        <string>{-87,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{158,125}</string>
        <key>sourceSize</key>
        <string>{158,125}</string>
      </dict>
      <key>player_0520_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,137}}</string>
        <key>offset</key>
        <string>{-67,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,137}</string>
        <key>sourceSize</key>
        <string>{191,137}</string>
      </dict>
      <key>player_0520_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,172},{165,156}}</string>
        <key>offset</key>
        <string>{-54,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,156}</string>
        <key>sourceSize</key>
        <string>{165,156}</string>
      </dict>
      <key>player_0520_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,193},{186,144}}</string>
        <key>offset</key>
        <string>{-66,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,144}</string>
        <key>sourceSize</key>
        <string>{186,144}</string>
      </dict>
      <key>player_0520_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{191,136}}</string>
        <key>offset</key>
        <string>{-83,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,136}</string>
        <key>sourceSize</key>
        <string>{191,136}</string>
      </dict>
      <key>player_0520_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,367},{107,175}}</string>
        <key>offset</key>
        <string>{-34,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,175}</string>
        <key>sourceSize</key>
        <string>{107,175}</string>
      </dict>
      <key>player_0520_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,506},{108,164}}</string>
        <key>offset</key>
        <string>{-34,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{108,164}</string>
        <key>sourceSize</key>
        <string>{108,164}</string>
      </dict>
      <key>player_0520_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{145,171}}</string>
        <key>offset</key>
        <string>{-42,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{145,171}</string>
        <key>sourceSize</key>
        <string>{145,171}</string>
      </dict>
      <key>player_0520_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{186,150}}</string>
        <key>offset</key>
        <string>{-57,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,150}</string>
        <key>sourceSize</key>
        <string>{186,150}</string>
      </dict>
      <key>player_0520_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,717},{169,153}}</string>
        <key>offset</key>
        <string>{-63,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,153}</string>
        <key>sourceSize</key>
        <string>{169,153}</string>
      </dict>
      <key>player_0520_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,346},{121,166}}</string>
        <key>offset</key>
        <string>{-53,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{121,166}</string>
        <key>sourceSize</key>
        <string>{121,166}</string>
      </dict>
      <key>player_0520_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1023,0},{111,155}}</string>
        <key>offset</key>
        <string>{-39,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{111,155}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>player_0520_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,0},{130,165}}</string>
        <key>offset</key>
        <string>{-58,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,165}</string>
        <key>sourceSize</key>
        <string>{130,165}</string>
      </dict>
      <key>player_0520_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,188},{101,184}}</string>
        <key>offset</key>
        <string>{-9,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{101,184}</string>
        <key>sourceSize</key>
        <string>{101,184}</string>
      </dict>
      <key>player_0520_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,178},{107,173}}</string>
        <key>offset</key>
        <string>{-22,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,173}</string>
        <key>sourceSize</key>
        <string>{107,173}</string>
      </dict>
      <key>player_0520_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,0},{92,170}}</string>
        <key>offset</key>
        <string>{-25,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{92,170}</string>
        <key>sourceSize</key>
        <string>{92,170}</string>
      </dict>
      <key>player_0520_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,0},{79,176}}</string>
        <key>offset</key>
        <string>{-9,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{79,176}</string>
        <key>sourceSize</key>
        <string>{79,176}</string>
      </dict>
      <key>player_0520_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,763},{182,156}}</string>
        <key>offset</key>
        <string>{-75,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{182,156}</string>
        <key>sourceSize</key>
        <string>{182,156}</string>
      </dict>
      <key>player_0520_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,386},{188,143}}</string>
        <key>offset</key>
        <string>{-66,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,143}</string>
        <key>sourceSize</key>
        <string>{188,143}</string>
      </dict>
      <key>player_0520_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,861},{124,136}}</string>
        <key>offset</key>
        <string>{-40,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{124,136}</string>
        <key>sourceSize</key>
        <string>{124,136}</string>
      </dict>
      <key>player_0520_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,717},{99,170}}</string>
        <key>offset</key>
        <string>{-19,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,170}</string>
        <key>sourceSize</key>
        <string>{99,170}</string>
      </dict>
      <key>player_0520_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,888},{108,161}}</string>
        <key>offset</key>
        <string>{-32,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{108,161}</string>
        <key>sourceSize</key>
        <string>{108,161}</string>
      </dict>
      <key>player_0520_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,709},{144,150}}</string>
        <key>offset</key>
        <string>{-51,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{144,150}</string>
        <key>sourceSize</key>
        <string>{144,150}</string>
      </dict>
      <key>player_0520_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,752},{176,156}}</string>
        <key>offset</key>
        <string>{-50,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{176,156}</string>
        <key>sourceSize</key>
        <string>{176,156}</string>
      </dict>
      <key>player_0520_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,544},{160,171}}</string>
        <key>offset</key>
        <string>{-23,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{160,171}</string>
        <key>sourceSize</key>
        <string>{160,171}</string>
      </dict>
      <key>player_0520_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{191,129}}</string>
        <key>offset</key>
        <string>{-76,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,129}</string>
        <key>sourceSize</key>
        <string>{191,129}</string>
      </dict>
      <key>player_0520_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{161,139}}</string>
        <key>offset</key>
        <string>{-64,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,139}</string>
        <key>sourceSize</key>
        <string>{161,139}</string>
      </dict>
      <key>player_0520_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,576},{185,141}}</string>
        <key>offset</key>
        <string>{-73,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,141}</string>
        <key>sourceSize</key>
        <string>{185,141}</string>
      </dict>
      <key>player_0520_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{191,148}}</string>
        <key>offset</key>
        <string>{-60,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,148}</string>
        <key>sourceSize</key>
        <string>{191,148}</string>
      </dict>
      <key>player_0520_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,616},{91,164}}</string>
        <key>offset</key>
        <string>{-7,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{91,164}</string>
        <key>sourceSize</key>
        <string>{91,164}</string>
      </dict>
      <key>player_0520_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,167},{84,157}}</string>
        <key>offset</key>
        <string>{1,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{84,157}</string>
        <key>sourceSize</key>
        <string>{84,157}</string>
      </dict>
      <key>player_0520_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{885,870},{141,153}}</string>
        <key>offset</key>
        <string>{-51,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,153}</string>
        <key>sourceSize</key>
        <string>{141,153}</string>
      </dict>
      <key>player_0520_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{183,134}}</string>
        <key>offset</key>
        <string>{-78,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{183,134}</string>
        <key>sourceSize</key>
        <string>{183,134}</string>
      </dict>
      <key>player_0520_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,339},{165,155}}</string>
        <key>offset</key>
        <string>{-54,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,155}</string>
        <key>sourceSize</key>
        <string>{165,155}</string>
      </dict>
      <key>player_0520_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,167},{117,162}}</string>
        <key>offset</key>
        <string>{-15,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{117,162}</string>
        <key>sourceSize</key>
        <string>{117,162}</string>
      </dict>
      <key>player_0520_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,353},{94,171}}</string>
        <key>offset</key>
        <string>{-8,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{94,171}</string>
        <key>sourceSize</key>
        <string>{94,171}</string>
      </dict>
      <key>player_0520_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,709},{109,159}}</string>
        <key>offset</key>
        <string>{-5,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{109,159}</string>
        <key>sourceSize</key>
        <string>{109,159}</string>
      </dict>
      <key>player_0520_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,930},{89,176}}</string>
        <key>offset</key>
        <string>{-29,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,176}</string>
        <key>sourceSize</key>
        <string>{89,176}</string>
      </dict>
      <key>player_0520_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,889},{100,170}}</string>
        <key>offset</key>
        <string>{-35,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,170}</string>
        <key>sourceSize</key>
        <string>{100,170}</string>
      </dict>
      <key>player_0520_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,568},{91,182}}</string>
        <key>offset</key>
        <string>{-17,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{91,182}</string>
        <key>sourceSize</key>
        <string>{91,182}</string>
      </dict>
      <key>player_0520_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,381},{75,185}}</string>
        <key>offset</key>
        <string>{-18,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{75,185}</string>
        <key>sourceSize</key>
        <string>{75,185}</string>
      </dict>
      <key>player_0520_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,374},{180,133}}</string>
        <key>offset</key>
        <string>{-59,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,133}</string>
        <key>sourceSize</key>
        <string>{180,133}</string>
      </dict>
      <key>player_0520_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{186,117}}</string>
        <key>offset</key>
        <string>{-72,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,117}</string>
        <key>sourceSize</key>
        <string>{186,117}</string>
      </dict>
      <key>player_0520_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,173},{126,171}}</string>
        <key>offset</key>
        <string>{-39,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{126,171}</string>
        <key>sourceSize</key>
        <string>{126,171}</string>
      </dict>
      <key>player_0520_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,772},{93,186}}</string>
        <key>offset</key>
        <string>{-24,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{93,186}</string>
        <key>sourceSize</key>
        <string>{93,186}</string>
      </dict>
      <key>player_0520_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,185},{107,180}}</string>
        <key>offset</key>
        <string>{-26,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,180}</string>
        <key>sourceSize</key>
        <string>{107,180}</string>
      </dict>
      <key>player_0520_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,526},{148,169}}</string>
        <key>offset</key>
        <string>{-49,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{148,169}</string>
        <key>sourceSize</key>
        <string>{148,169}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0520_1_10.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0520_1_10.png</string>
    </dict>
  </dict>
</plist>