<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0518_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1248},{154,170}}</string>
        <key>offset</key>
        <string>{-76,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,170}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
      <key>player_0518_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,712},{117,189}}</string>
        <key>offset</key>
        <string>{-52,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{117,189}</string>
        <key>sourceSize</key>
        <string>{117,189}</string>
      </dict>
      <key>player_0518_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,875},{186,173}}</string>
        <key>offset</key>
        <string>{-74,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{186,173}</string>
        <key>sourceSize</key>
        <string>{186,173}</string>
      </dict>
      <key>player_0518_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1166},{158,176}}</string>
        <key>offset</key>
        <string>{-31,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{158,176}</string>
        <key>sourceSize</key>
        <string>{158,176}</string>
      </dict>
      <key>player_0518_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,752},{134,189}}</string>
        <key>offset</key>
        <string>{-26,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{134,189}</string>
        <key>sourceSize</key>
        <string>{134,189}</string>
      </dict>
      <key>player_0518_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,1400},{163,161}}</string>
        <key>offset</key>
        <string>{-26,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{163,161}</string>
        <key>sourceSize</key>
        <string>{163,161}</string>
      </dict>
      <key>player_0518_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,224}}</string>
        <key>offset</key>
        <string>{-43,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{118,224}</string>
        <key>sourceSize</key>
        <string>{118,224}</string>
      </dict>
      <key>player_0518_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,201},{154,194}}</string>
        <key>offset</key>
        <string>{-84,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{154,194}</string>
        <key>sourceSize</key>
        <string>{154,194}</string>
      </dict>
      <key>player_0518_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,195},{144,197}}</string>
        <key>offset</key>
        <string>{-67,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,197}</string>
        <key>sourceSize</key>
        <string>{144,197}</string>
      </dict>
      <key>player_0518_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{199,193}}</string>
        <key>offset</key>
        <string>{-55,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{199,193}</string>
        <key>sourceSize</key>
        <string>{199,193}</string>
      </dict>
      <key>player_0518_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,341},{178,194}}</string>
        <key>offset</key>
        <string>{-24,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{178,194}</string>
        <key>sourceSize</key>
        <string>{178,194}</string>
      </dict>
      <key>player_0518_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,144},{199,177}}</string>
        <key>offset</key>
        <string>{-63,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{199,177}</string>
        <key>sourceSize</key>
        <string>{199,177}</string>
      </dict>
      <key>player_0518_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{161,200}}</string>
        <key>offset</key>
        <string>{-86,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,200}</string>
        <key>sourceSize</key>
        <string>{161,200}</string>
      </dict>
      <key>player_0518_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,452},{194,186}}</string>
        <key>offset</key>
        <string>{-97,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{194,186}</string>
        <key>sourceSize</key>
        <string>{194,186}</string>
      </dict>
      <key>player_0518_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,489},{121,194}}</string>
        <key>offset</key>
        <string>{-43,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{121,194}</string>
        <key>sourceSize</key>
        <string>{121,194}</string>
      </dict>
      <key>player_0518_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,0},{162,199}}</string>
        <key>offset</key>
        <string>{-53,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,199}</string>
        <key>sourceSize</key>
        <string>{162,199}</string>
      </dict>
      <key>player_0518_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,397},{191,186}}</string>
        <key>offset</key>
        <string>{-44,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{191,186}</string>
        <key>sourceSize</key>
        <string>{191,186}</string>
      </dict>
      <key>player_0518_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,612},{146,192}}</string>
        <key>offset</key>
        <string>{-58,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{146,192}</string>
        <key>sourceSize</key>
        <string>{146,192}</string>
      </dict>
      <key>player_0518_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,521},{189,191}}</string>
        <key>offset</key>
        <string>{-80,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{189,191}</string>
        <key>sourceSize</key>
        <string>{189,191}</string>
      </dict>
      <key>player_0518_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,1050},{175,178}}</string>
        <key>offset</key>
        <string>{-57,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,178}</string>
        <key>sourceSize</key>
        <string>{175,178}</string>
      </dict>
      <key>player_0518_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,1188},{160,174}}</string>
        <key>offset</key>
        <string>{-66,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,174}</string>
        <key>sourceSize</key>
        <string>{160,174}</string>
      </dict>
      <key>player_0518_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,1033},{131,180}}</string>
        <key>offset</key>
        <string>{-44,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{131,180}</string>
        <key>sourceSize</key>
        <string>{131,180}</string>
      </dict>
      <key>player_0518_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,199},{130,197}}</string>
        <key>offset</key>
        <string>{-39,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{130,197}</string>
        <key>sourceSize</key>
        <string>{130,197}</string>
      </dict>
      <key>player_0518_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,831},{113,185}}</string>
        <key>offset</key>
        <string>{-36,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{113,185}</string>
        <key>sourceSize</key>
        <string>{113,185}</string>
      </dict>
      <key>player_0518_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{143,197}}</string>
        <key>offset</key>
        <string>{-16,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{143,197}</string>
        <key>sourceSize</key>
        <string>{143,197}</string>
      </dict>
      <key>player_0518_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,760},{113,189}}</string>
        <key>offset</key>
        <string>{-15,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{113,189}</string>
        <key>sourceSize</key>
        <string>{113,189}</string>
      </dict>
      <key>player_0518_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,891},{186,163}}</string>
        <key>offset</key>
        <string>{-60,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{186,163}</string>
        <key>sourceSize</key>
        <string>{186,163}</string>
      </dict>
      <key>player_0518_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,1326},{162,165}}</string>
        <key>offset</key>
        <string>{-76,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{162,165}</string>
        <key>sourceSize</key>
        <string>{162,165}</string>
      </dict>
      <key>player_0518_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{142,200}}</string>
        <key>offset</key>
        <string>{-58,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{142,200}</string>
        <key>sourceSize</key>
        <string>{142,200}</string>
      </dict>
      <key>player_0518_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,850},{162,183}}</string>
        <key>offset</key>
        <string>{-81,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{162,183}</string>
        <key>sourceSize</key>
        <string>{162,183}</string>
      </dict>
      <key>player_0518_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,640},{110,191}}</string>
        <key>offset</key>
        <string>{-12,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{110,191}</string>
        <key>sourceSize</key>
        <string>{110,191}</string>
      </dict>
      <key>player_0518_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1513},{152,158}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{152,158}</string>
        <key>sourceSize</key>
        <string>{152,158}</string>
      </dict>
      <key>player_0518_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,323},{127,197}}</string>
        <key>offset</key>
        <string>{-16,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{127,197}</string>
        <key>sourceSize</key>
        <string>{127,197}</string>
      </dict>
      <key>player_0518_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,331},{196,156}}</string>
        <key>offset</key>
        <string>{-94,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{196,156}</string>
        <key>sourceSize</key>
        <string>{196,156}</string>
      </dict>
      <key>player_0518_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1195},{177,160}}</string>
        <key>offset</key>
        <string>{-108,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{177,160}</string>
        <key>sourceSize</key>
        <string>{177,160}</string>
      </dict>
      <key>player_0518_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{196,166}}</string>
        <key>offset</key>
        <string>{-87,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{196,166}</string>
        <key>sourceSize</key>
        <string>{196,166}</string>
      </dict>
      <key>player_0518_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1357},{154,175}}</string>
        <key>offset</key>
        <string>{-16,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,175}</string>
        <key>sourceSize</key>
        <string>{154,175}</string>
      </dict>
      <key>player_0518_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{194,167}}</string>
        <key>offset</key>
        <string>{-45,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{194,167}</string>
        <key>sourceSize</key>
        <string>{194,167}</string>
      </dict>
      <key>player_0518_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{124,188}}</string>
        <key>offset</key>
        <string>{-20,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{124,188}</string>
        <key>sourceSize</key>
        <string>{124,188}</string>
      </dict>
      <key>player_0518_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,1227},{171,176}}</string>
        <key>offset</key>
        <string>{-70,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,176}</string>
        <key>sourceSize</key>
        <string>{171,176}</string>
      </dict>
      <key>player_0518_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{197,216}}</string>
        <key>offset</key>
        <string>{-105,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{197,216}</string>
        <key>sourceSize</key>
        <string>{197,216}</string>
      </dict>
      <key>player_0518_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,888},{143,185}}</string>
        <key>offset</key>
        <string>{-38,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{143,185}</string>
        <key>sourceSize</key>
        <string>{143,185}</string>
      </dict>
      <key>player_0518_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,585},{191,143}}</string>
        <key>offset</key>
        <string>{-60,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{191,143}</string>
        <key>sourceSize</key>
        <string>{191,143}</string>
      </dict>
      <key>player_0518_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,1014},{172,177}}</string>
        <key>offset</key>
        <string>{-68,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,177}</string>
        <key>sourceSize</key>
        <string>{172,177}</string>
      </dict>
      <key>player_0518_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,946},{171,181}}</string>
        <key>offset</key>
        <string>{-50,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{171,181}</string>
        <key>sourceSize</key>
        <string>{171,181}</string>
      </dict>
      <key>player_0518_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1056},{137,178}}</string>
        <key>offset</key>
        <string>{-35,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{137,178}</string>
        <key>sourceSize</key>
        <string>{137,178}</string>
      </dict>
      <key>player_0518_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,1119},{127,177}}</string>
        <key>offset</key>
        <string>{-41,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{127,177}</string>
        <key>sourceSize</key>
        <string>{127,177}</string>
      </dict>
      <key>player_0518_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,730},{118,186}}</string>
        <key>offset</key>
        <string>{-25,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{118,186}</string>
        <key>sourceSize</key>
        <string>{118,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0518_1_2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>player_0518_1_2.png</string>
    </dict>
  </dict>
</plist>