<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0505_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{207,102}}</string>
        <key>offset</key>
        <string>{-92,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,102}}</string>
        <key>sourceSize</key>
        <string>{207,102}</string>
      </dict>
      <key>player_0505_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,633},{194,125}}</string>
        <key>offset</key>
        <string>{-90,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,125}}</string>
        <key>sourceSize</key>
        <string>{194,125}</string>
      </dict>
      <key>player_0505_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{211,123}}</string>
        <key>offset</key>
        <string>{-89,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,123}}</string>
        <key>sourceSize</key>
        <string>{211,123}</string>
      </dict>
      <key>player_0505_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{161,170}}</string>
        <key>offset</key>
        <string>{-94,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,170}}</string>
        <key>sourceSize</key>
        <string>{161,170}</string>
      </dict>
      <key>player_0505_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,190},{151,172}}</string>
        <key>offset</key>
        <string>{-86,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,172}}</string>
        <key>sourceSize</key>
        <string>{151,172}</string>
      </dict>
      <key>player_0505_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,793},{148,167}}</string>
        <key>offset</key>
        <string>{-76,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,167}}</string>
        <key>sourceSize</key>
        <string>{148,167}</string>
      </dict>
      <key>player_0505_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,829},{151,190}}</string>
        <key>offset</key>
        <string>{-87,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,190}}</string>
        <key>sourceSize</key>
        <string>{151,190}</string>
      </dict>
      <key>player_0505_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,608},{169,183}}</string>
        <key>offset</key>
        <string>{-96,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,183}}</string>
        <key>sourceSize</key>
        <string>{169,183}</string>
      </dict>
      <key>player_0505_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,201},{133,189}}</string>
        <key>offset</key>
        <string>{-57,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,189}}</string>
        <key>sourceSize</key>
        <string>{133,189}</string>
      </dict>
      <key>player_0505_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,213},{201,181}}</string>
        <key>offset</key>
        <string>{-111,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,181}}</string>
        <key>sourceSize</key>
        <string>{201,181}</string>
      </dict>
      <key>player_0505_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{207,181}}</string>
        <key>offset</key>
        <string>{-112,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,181}}</string>
        <key>sourceSize</key>
        <string>{207,181}</string>
      </dict>
      <key>player_0505_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{188,176}}</string>
        <key>offset</key>
        <string>{-95,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,176}}</string>
        <key>sourceSize</key>
        <string>{188,176}</string>
      </dict>
      <key>player_0505_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,147}}</string>
        <key>offset</key>
        <string>{-69,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,147}}</string>
        <key>sourceSize</key>
        <string>{212,147}</string>
      </dict>
      <key>player_0505_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{199,156}}</string>
        <key>offset</key>
        <string>{-58,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,156}}</string>
        <key>sourceSize</key>
        <string>{199,156}</string>
      </dict>
      <key>player_0505_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{212,151}}</string>
        <key>offset</key>
        <string>{-74,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,151}}</string>
        <key>sourceSize</key>
        <string>{212,151}</string>
      </dict>
      <key>player_0505_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,364},{162,156}}</string>
        <key>offset</key>
        <string>{-17,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,156}}</string>
        <key>sourceSize</key>
        <string>{162,156}</string>
      </dict>
      <key>player_0505_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{152,155}}</string>
        <key>offset</key>
        <string>{-15,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,155}}</string>
        <key>sourceSize</key>
        <string>{152,155}</string>
      </dict>
      <key>player_0505_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,392},{145,183}}</string>
        <key>offset</key>
        <string>{-20,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,183}}</string>
        <key>sourceSize</key>
        <string>{145,183}</string>
      </dict>
      <key>player_0505_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,154},{145,127}}</string>
        <key>offset</key>
        <string>{-11,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,127}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>player_0505_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,172},{159,131}}</string>
        <key>offset</key>
        <string>{-18,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,131}}</string>
        <key>sourceSize</key>
        <string>{159,131}</string>
      </dict>
      <key>player_0505_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,577},{120,166}}</string>
        <key>offset</key>
        <string>{-14,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,166}}</string>
        <key>sourceSize</key>
        <string>{120,166}</string>
      </dict>
      <key>player_0505_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,846},{196,81}}</string>
        <key>offset</key>
        <string>{-41,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,81}}</string>
        <key>sourceSize</key>
        <string>{196,81}</string>
      </dict>
      <key>player_0505_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,428},{203,96}}</string>
        <key>offset</key>
        <string>{-46,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,96}}</string>
        <key>sourceSize</key>
        <string>{203,96}</string>
      </dict>
      <key>player_0505_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,416},{190,143}}</string>
        <key>offset</key>
        <string>{-46,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,143}}</string>
        <key>sourceSize</key>
        <string>{190,143}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0505_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0505_0_7.png</string>
    </dict>
  </dict>
</plist>