<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3019_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,154},{68,73}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,73}}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>player_3019_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,293},{66,72}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_3019_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{65,77}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>player_3019_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,431},{78,81}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>player_3019_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{82,76}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>player_3019_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{82,76}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>player_3019_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,434},{71,68}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>player_3019_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,361},{71,70}}</string>
        <key>offset</key>
        <string>{6,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>player_3019_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,219},{72,73}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,73}}</string>
        <key>sourceSize</key>
        <string>{72,73}</string>
      </dict>
      <key>player_3019_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,174},{79,80}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>player_3019_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{76,73}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,73}}</string>
        <key>sourceSize</key>
        <string>{76,73}</string>
      </dict>
      <key>player_3019_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{82,72}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,72}}</string>
        <key>sourceSize</key>
        <string>{82,72}</string>
      </dict>
      <key>player_3019_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,434},{68,68}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,68}}</string>
        <key>sourceSize</key>
        <string>{68,68}</string>
      </dict>
      <key>player_3019_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,294},{69,72}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,72}}</string>
        <key>sourceSize</key>
        <string>{69,72}</string>
      </dict>
      <key>player_3019_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{82,75}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,75}}</string>
        <key>sourceSize</key>
        <string>{82,75}</string>
      </dict>
      <key>player_3019_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,325},{72,74}}</string>
        <key>offset</key>
        <string>{2,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{72,74}</string>
      </dict>
      <key>player_3019_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,293},{64,71}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,71}}</string>
        <key>sourceSize</key>
        <string>{64,71}</string>
      </dict>
      <key>player_3019_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,77},{74,71}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
      <key>player_3019_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,153},{59,68}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>player_3019_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,338},{66,78}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>player_3019_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{67,75}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>player_3019_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,361},{71,72}}</string>
        <key>offset</key>
        <string>{6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_3019_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,418},{69,77}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,77}}</string>
        <key>sourceSize</key>
        <string>{69,77}</string>
      </dict>
      <key>player_3019_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,219},{65,71}}</string>
        <key>offset</key>
        <string>{2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>player_3019_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,78},{69,74}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>player_3019_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,336},{70,77}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,77}}</string>
        <key>sourceSize</key>
        <string>{70,77}</string>
      </dict>
      <key>player_3019_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,256},{78,74}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,74}}</string>
        <key>sourceSize</key>
        <string>{78,74}</string>
      </dict>
      <key>player_3019_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,166},{71,78}}</string>
        <key>offset</key>
        <string>{8,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,78}}</string>
        <key>sourceSize</key>
        <string>{71,78}</string>
      </dict>
      <key>player_3019_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77,87}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,87}}</string>
        <key>sourceSize</key>
        <string>{77,87}</string>
      </dict>
      <key>player_3019_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,246},{75,77}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,77}}</string>
        <key>sourceSize</key>
        <string>{75,77}</string>
      </dict>
      <key>player_3019_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,365},{72,72}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>player_3019_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,415},{75,73}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>player_3019_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,162},{77,75}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>player_3019_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,84},{73,80}}</string>
        <key>offset</key>
        <string>{5,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,80}}</string>
        <key>sourceSize</key>
        <string>{73,80}</string>
      </dict>
      <key>player_3019_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{72,87}}</string>
        <key>offset</key>
        <string>{7,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,87}}</string>
        <key>sourceSize</key>
        <string>{72,87}</string>
      </dict>
      <key>player_3019_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{83,76}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,76}}</string>
        <key>sourceSize</key>
        <string>{83,76}</string>
      </dict>
      <key>player_3019_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,439},{72,70}}</string>
        <key>offset</key>
        <string>{2,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>player_3019_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,79},{77,70}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,70}}</string>
        <key>sourceSize</key>
        <string>{77,70}</string>
      </dict>
      <key>player_3019_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,439},{70,72}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>player_3019_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{69,80}}</string>
        <key>offset</key>
        <string>{6,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
      <key>player_3019_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,89},{68,83}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,83}}</string>
        <key>sourceSize</key>
        <string>{68,83}</string>
      </dict>
      <key>player_3019_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,256},{69,80}}</string>
        <key>offset</key>
        <string>{6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
      <key>player_3019_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,229},{63,73}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_3019_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{68,72}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3019_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,153},{64,74}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,74}}</string>
        <key>sourceSize</key>
        <string>{64,74}</string>
      </dict>
      <key>player_3019_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{67,77}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,77}}</string>
        <key>sourceSize</key>
        <string>{67,77}</string>
      </dict>
      <key>player_3019_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,82},{71,78}}</string>
        <key>offset</key>
        <string>{5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,78}}</string>
        <key>sourceSize</key>
        <string>{71,78}</string>
      </dict>
      <key>player_3019_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,347},{68,82}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,82}}</string>
        <key>sourceSize</key>
        <string>{68,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3019_1_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3019_1_3.png</string>
    </dict>
  </dict>
</plist>