<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3014_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,81},{71,67}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,67}}</string>
        <key>sourceSize</key>
        <string>{71,67}</string>
      </dict>
      <key>player_3014_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,363},{78,59}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,59}}</string>
        <key>sourceSize</key>
        <string>{78,59}</string>
      </dict>
      <key>player_3014_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,443},{78,63}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,63}}</string>
        <key>sourceSize</key>
        <string>{78,63}</string>
      </dict>
      <key>player_3014_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,70},{49,57}}</string>
        <key>offset</key>
        <string>{-9,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,57}}</string>
        <key>sourceSize</key>
        <string>{49,57}</string>
      </dict>
      <key>player_3014_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,353},{74,70}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>player_3014_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,429},{74,67}}</string>
        <key>offset</key>
        <string>{-11,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,67}}</string>
        <key>sourceSize</key>
        <string>{74,67}</string>
      </dict>
      <key>player_3014_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,281},{80,60}}</string>
        <key>offset</key>
        <string>{-7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,60}}</string>
        <key>sourceSize</key>
        <string>{80,60}</string>
      </dict>
      <key>player_3014_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{79,48}}</string>
        <key>offset</key>
        <string>{-4,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,48}}</string>
        <key>sourceSize</key>
        <string>{79,48}</string>
      </dict>
      <key>player_3014_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,248},{68,69}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>player_3014_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,193},{86,56}}</string>
        <key>offset</key>
        <string>{-23,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,56}}</string>
        <key>sourceSize</key>
        <string>{86,56}</string>
      </dict>
      <key>player_3014_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{92,49}}</string>
        <key>offset</key>
        <string>{-12,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,49}}</string>
        <key>sourceSize</key>
        <string>{92,49}</string>
      </dict>
      <key>player_3014_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,207},{97,29}}</string>
        <key>offset</key>
        <string>{-4,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,29}}</string>
        <key>sourceSize</key>
        <string>{97,29}</string>
      </dict>
      <key>player_3014_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,154},{69,65}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,65}}</string>
        <key>sourceSize</key>
        <string>{69,65}</string>
      </dict>
      <key>player_3014_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,207},{91,51}}</string>
        <key>offset</key>
        <string>{-22,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,51}}</string>
        <key>sourceSize</key>
        <string>{91,51}</string>
      </dict>
      <key>player_3014_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{90,68}}</string>
        <key>offset</key>
        <string>{-10,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,68}}</string>
        <key>sourceSize</key>
        <string>{90,68}</string>
      </dict>
      <key>player_3014_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,389},{85,47}}</string>
        <key>offset</key>
        <string>{2,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,47}}</string>
        <key>sourceSize</key>
        <string>{85,47}</string>
      </dict>
      <key>player_3014_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{68,65}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,65}}</string>
        <key>sourceSize</key>
        <string>{68,65}</string>
      </dict>
      <key>player_3014_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,319},{66,53}}</string>
        <key>offset</key>
        <string>{-1,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,53}}</string>
        <key>sourceSize</key>
        <string>{66,53}</string>
      </dict>
      <key>player_3014_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,275},{68,76}}</string>
        <key>offset</key>
        <string>{-3,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>player_3014_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,144},{48,58}}</string>
        <key>offset</key>
        <string>{12,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,58}}</string>
        <key>sourceSize</key>
        <string>{48,58}</string>
      </dict>
      <key>player_3014_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,73},{60,69}}</string>
        <key>offset</key>
        <string>{9,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,69}}</string>
        <key>sourceSize</key>
        <string>{60,69}</string>
      </dict>
      <key>player_3014_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,225},{65,59}}</string>
        <key>offset</key>
        <string>{2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>player_3014_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,100},{91,80}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,80}}</string>
        <key>sourceSize</key>
        <string>{91,80}</string>
      </dict>
      <key>player_3014_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,193},{80,51}}</string>
        <key>offset</key>
        <string>{-25,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,51}}</string>
        <key>sourceSize</key>
        <string>{80,51}</string>
      </dict>
      <key>player_3014_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,174},{56,72}}</string>
        <key>offset</key>
        <string>{13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,72}}</string>
        <key>sourceSize</key>
        <string>{56,72}</string>
      </dict>
      <key>player_3014_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,92},{80,54}}</string>
        <key>offset</key>
        <string>{5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>player_3014_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{101,65}}</string>
        <key>offset</key>
        <string>{-15,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,65}}</string>
        <key>sourceSize</key>
        <string>{101,65}</string>
      </dict>
      <key>player_3014_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{98,35}}</string>
        <key>offset</key>
        <string>{-44,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>player_3014_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{62,71}}</string>
        <key>offset</key>
        <string>{6,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>player_3014_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{87,66}}</string>
        <key>offset</key>
        <string>{-8,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,66}}</string>
        <key>sourceSize</key>
        <string>{87,66}</string>
      </dict>
      <key>player_3014_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,55}}</string>
        <key>offset</key>
        <string>{-17,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,55}}</string>
        <key>sourceSize</key>
        <string>{102,55}</string>
      </dict>
      <key>player_3014_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,300},{87,48}}</string>
        <key>offset</key>
        <string>{-37,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,48}}</string>
        <key>sourceSize</key>
        <string>{87,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3014_1_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3014_1_4.png</string>
    </dict>
  </dict>
</plist>