<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20003_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,926},{134,96}}</string>
        <key>offset</key>
        <string>{-64,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{46,72},{134,96}}</string>
        <key>sourceSize</key>
        <string>{184,169}</string>
      </dict>
      <key>player_20003_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,146},{134,92}}</string>
        <key>offset</key>
        <string>{-63,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{47,73},{134,92}}</string>
        <key>sourceSize</key>
        <string>{184,166}</string>
      </dict>
      <key>player_20003_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{134,94}}</string>
        <key>offset</key>
        <string>{-63,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{47,73},{134,94}}</string>
        <key>sourceSize</key>
        <string>{184,168}</string>
      </dict>
      <key>player_20003_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,764},{134,90}}</string>
        <key>offset</key>
        <string>{-64,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,77},{134,90}}</string>
        <key>sourceSize</key>
        <string>{180,168}</string>
      </dict>
      <key>player_20003_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,600},{134,94}}</string>
        <key>offset</key>
        <string>{-63,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{45,72},{134,94}}</string>
        <key>sourceSize</key>
        <string>{180,167}</string>
      </dict>
      <key>player_20003_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,900},{134,106}}</string>
        <key>offset</key>
        <string>{-63,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,61},{134,106}}</string>
        <key>sourceSize</key>
        <string>{184,168}</string>
      </dict>
      <key>player_20003_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,736},{120,130}}</string>
        <key>offset</key>
        <string>{-69,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,47},{120,130}}</string>
        <key>sourceSize</key>
        <string>{156,178}</string>
      </dict>
      <key>player_20003_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,868},{122,130}}</string>
        <key>offset</key>
        <string>{-69,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,48},{122,130}}</string>
        <key>sourceSize</key>
        <string>{156,179}</string>
      </dict>
      <key>player_20003_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,578},{122,130}}</string>
        <key>offset</key>
        <string>{-70,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,48},{122,130}}</string>
        <key>sourceSize</key>
        <string>{160,179}</string>
      </dict>
      <key>player_20003_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,710},{126,128}}</string>
        <key>offset</key>
        <string>{-72,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,48},{126,128}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{120,132}}</string>
        <key>offset</key>
        <string>{-70,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,45},{120,132}}</string>
        <key>sourceSize</key>
        <string>{156,178}</string>
      </dict>
      <key>player_20003_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,302},{132,138}}</string>
        <key>offset</key>
        <string>{-69,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,40},{132,138}}</string>
        <key>sourceSize</key>
        <string>{172,179}</string>
      </dict>
      <key>player_20003_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{86,154}}</string>
        <key>offset</key>
        <string>{-56,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,23},{86,154}}</string>
        <key>sourceSize</key>
        <string>{152,178}</string>
      </dict>
      <key>player_20003_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{86,156}}</string>
        <key>offset</key>
        <string>{-56,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,23},{86,156}}</string>
        <key>sourceSize</key>
        <string>{152,180}</string>
      </dict>
      <key>player_20003_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,322},{94,156}}</string>
        <key>offset</key>
        <string>{-56,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,23},{94,156}}</string>
        <key>sourceSize</key>
        <string>{160,180}</string>
      </dict>
      <key>player_20003_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{90,154}}</string>
        <key>offset</key>
        <string>{-55,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{61,23},{90,154}}</string>
        <key>sourceSize</key>
        <string>{152,178}</string>
      </dict>
      <key>player_20003_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,160},{80,156}}</string>
        <key>offset</key>
        <string>{-54,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{63,21},{80,156}}</string>
        <key>sourceSize</key>
        <string>{144,178}</string>
      </dict>
      <key>player_20003_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{88,156}}</string>
        <key>offset</key>
        <string>{-52,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,19},{88,156}}</string>
        <key>sourceSize</key>
        <string>{156,176}</string>
      </dict>
      <key>player_20003_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,800},{120,154}}</string>
        <key>offset</key>
        <string>{-72,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,12},{120,154}}</string>
        <key>sourceSize</key>
        <string>{148,167}</string>
      </dict>
      <key>player_20003_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,794},{118,152}}</string>
        <key>offset</key>
        <string>{-72,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,14},{118,152}}</string>
        <key>sourceSize</key>
        <string>{152,167}</string>
      </dict>
      <key>player_20003_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,638},{122,154}}</string>
        <key>offset</key>
        <string>{-72,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,12},{122,154}}</string>
        <key>sourceSize</key>
        <string>{156,167}</string>
      </dict>
      <key>player_20003_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{122,156}}</string>
        <key>offset</key>
        <string>{-71,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{29,10},{122,156}}</string>
        <key>sourceSize</key>
        <string>{152,167}</string>
      </dict>
      <key>player_20003_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,476},{120,154}}</string>
        <key>offset</key>
        <string>{-71,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,11},{120,154}}</string>
        <key>sourceSize</key>
        <string>{152,166}</string>
      </dict>
      <key>player_20003_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,632},{114,148}}</string>
        <key>offset</key>
        <string>{-71,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,13},{114,148}}</string>
        <key>sourceSize</key>
        <string>{148,162}</string>
      </dict>
      <key>player_20003_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,472},{134,146}}</string>
        <key>offset</key>
        <string>{-68,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{38,21},{134,146}}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
      <key>player_20003_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,312},{134,144}}</string>
        <key>offset</key>
        <string>{-67,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,23},{134,144}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>player_20003_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,156},{134,144}}</string>
        <key>offset</key>
        <string>{-67,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,23},{134,144}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>player_20003_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,0},{132,144}}</string>
        <key>offset</key>
        <string>{-65,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{42,23},{132,144}}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
      <key>player_20003_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,782},{132,142}}</string>
        <key>offset</key>
        <string>{-66,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{41,25},{132,142}}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
      <key>player_20003_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,620},{134,142}}</string>
        <key>offset</key>
        <string>{-67,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,25},{134,142}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>player_20003_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,480},{96,156}}</string>
        <key>offset</key>
        <string>{-42,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,11},{96,156}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>player_20003_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,316},{100,154}}</string>
        <key>offset</key>
        <string>{-43,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,13},{100,154}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>player_20003_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,318},{98,156}}</string>
        <key>offset</key>
        <string>{-43,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,12},{98,156}}</string>
        <key>sourceSize</key>
        <string>{188,169}</string>
      </dict>
      <key>player_20003_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,158},{98,156}}</string>
        <key>offset</key>
        <string>{-42,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{90,12},{98,156}}</string>
        <key>sourceSize</key>
        <string>{192,169}</string>
      </dict>
      <key>player_20003_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,156},{98,154}}</string>
        <key>offset</key>
        <string>{-41,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,13},{98,154}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>player_20003_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{102,154}}</string>
        <key>offset</key>
        <string>{-46,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{80,13},{102,154}}</string>
        <key>sourceSize</key>
        <string>{184,168}</string>
      </dict>
      <key>player_20003_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{68,156}}</string>
        <key>offset</key>
        <string>{-43,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,20},{68,156}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{70,158}}</string>
        <key>offset</key>
        <string>{-44,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,18},{70,158}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,160}}</string>
        <key>offset</key>
        <string>{-44,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,16},{70,160}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,162},{70,158}}</string>
        <key>offset</key>
        <string>{-43,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,19},{70,158}}</string>
        <key>sourceSize</key>
        <string>{160,178}</string>
      </dict>
      <key>player_20003_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{70,158}}</string>
        <key>offset</key>
        <string>{-42,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,18},{70,158}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{68,160}}</string>
        <key>offset</key>
        <string>{-43,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,14},{68,160}}</string>
        <key>sourceSize</key>
        <string>{160,175}</string>
      </dict>
      <key>player_20003_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,418},{104,128}}</string>
        <key>offset</key>
        <string>{-42,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,47},{104,128}}</string>
        <key>sourceSize</key>
        <string>{192,176}</string>
      </dict>
      <key>player_20003_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,442},{102,134}}</string>
        <key>offset</key>
        <string>{-43,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,43},{102,134}}</string>
        <key>sourceSize</key>
        <string>{192,178}</string>
      </dict>
      <key>player_20003_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,282},{102,134}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,42},{102,134}}</string>
        <key>sourceSize</key>
        <string>{192,177}</string>
      </dict>
      <key>player_20003_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,272},{102,128}}</string>
        <key>offset</key>
        <string>{-43,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,48},{102,128}}</string>
        <key>sourceSize</key>
        <string>{192,177}</string>
      </dict>
      <key>player_20003_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,136},{100,134}}</string>
        <key>offset</key>
        <string>{-43,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,43},{100,134}}</string>
        <key>sourceSize</key>
        <string>{192,178}</string>
      </dict>
      <key>player_20003_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,458},{98,140}}</string>
        <key>offset</key>
        <string>{-41,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,36},{98,140}}</string>
        <key>sourceSize</key>
        <string>{188,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20003_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_20003_1_3.png</string>
    </dict>
  </dict>
</plist>