<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28007_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{74,92}}</string>
        <key>offset</key>
        <string>{3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,92}}</string>
        <key>sourceSize</key>
        <string>{76,92}</string>
      </dict>
      <key>player_28007_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,178},{62,78}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{64,79}</string>
      </dict>
      <key>player_28007_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,108},{84,102}}</string>
        <key>offset</key>
        <string>{1,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{84,102}}</string>
        <key>sourceSize</key>
        <string>{86,102}</string>
      </dict>
      <key>player_28007_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,212},{84,100}}</string>
        <key>offset</key>
        <string>{-3,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,100}}</string>
        <key>sourceSize</key>
        <string>{84,101}</string>
      </dict>
      <key>player_28007_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,104},{68,100}}</string>
        <key>offset</key>
        <string>{-1,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{68,100}}</string>
        <key>sourceSize</key>
        <string>{68,101}</string>
      </dict>
      <key>player_28007_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,304},{92,94}}</string>
        <key>offset</key>
        <string>{-1,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{92,94}}</string>
        <key>sourceSize</key>
        <string>{92,95}</string>
      </dict>
      <key>player_28007_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,408},{64,96}}</string>
        <key>offset</key>
        <string>{6,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,96}}</string>
        <key>sourceSize</key>
        <string>{66,97}</string>
      </dict>
      <key>player_28007_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,400},{90,82}}</string>
        <key>offset</key>
        <string>{-21,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,82}}</string>
        <key>sourceSize</key>
        <string>{90,83}</string>
      </dict>
      <key>player_28007_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,330},{74,104}}</string>
        <key>offset</key>
        <string>{8,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{74,104}}</string>
        <key>sourceSize</key>
        <string>{74,105}</string>
      </dict>
      <key>player_28007_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,330},{96,104}}</string>
        <key>offset</key>
        <string>{5,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,104}}</string>
        <key>sourceSize</key>
        <string>{98,105}</string>
      </dict>
      <key>player_28007_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{98,106}}</string>
        <key>offset</key>
        <string>{3,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>player_28007_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{92,100}}</string>
        <key>offset</key>
        <string>{5,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,100}}</string>
        <key>sourceSize</key>
        <string>{94,101}</string>
      </dict>
      <key>player_28007_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,430},{76,98}}</string>
        <key>offset</key>
        <string>{-7,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,98}}</string>
        <key>sourceSize</key>
        <string>{76,99}</string>
      </dict>
      <key>player_28007_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{86,88}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{86,88}}</string>
        <key>sourceSize</key>
        <string>{86,88}</string>
      </dict>
      <key>player_28007_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,202},{86,94}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{86,94}}</string>
        <key>sourceSize</key>
        <string>{88,94}</string>
      </dict>
      <key>player_28007_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,416},{98,90}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{100,91}</string>
      </dict>
      <key>player_28007_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,220},{104,90}}</string>
        <key>offset</key>
        <string>{-1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{104,90}}</string>
        <key>sourceSize</key>
        <string>{104,91}</string>
      </dict>
      <key>player_28007_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,314},{82,100}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{82,100}}</string>
        <key>sourceSize</key>
        <string>{82,101}</string>
      </dict>
      <key>player_28007_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,100},{84,94}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,95}</string>
      </dict>
      <key>player_28007_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,436},{72,102}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,102}}</string>
        <key>sourceSize</key>
        <string>{72,102}</string>
      </dict>
      <key>player_28007_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,292},{90,76}}</string>
        <key>offset</key>
        <string>{-3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{90,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>player_28007_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{94,76}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>player_28007_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,308},{98,76}}</string>
        <key>offset</key>
        <string>{-10,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{98,76}}</string>
        <key>sourceSize</key>
        <string>{98,76}</string>
      </dict>
      <key>player_28007_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{80,84}}</string>
        <key>offset</key>
        <string>{-5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{82,85}</string>
      </dict>
      <key>player_28007_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,112},{80,106}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{80,106}}</string>
        <key>sourceSize</key>
        <string>{80,107}</string>
      </dict>
      <key>player_28007_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{80,106}}</string>
        <key>offset</key>
        <string>{-6,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,106}}</string>
        <key>sourceSize</key>
        <string>{82,107}</string>
      </dict>
      <key>player_28007_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,196},{78,94}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{78,94}}</string>
        <key>sourceSize</key>
        <string>{78,94}</string>
      </dict>
      <key>player_28007_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,86},{78,70}}</string>
        <key>offset</key>
        <string>{-6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,70}}</string>
        <key>sourceSize</key>
        <string>{80,71}</string>
      </dict>
      <key>player_28007_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{76,72}}</string>
        <key>offset</key>
        <string>{-7,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{76,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>player_28007_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,374},{82,84}}</string>
        <key>offset</key>
        <string>{-13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{82,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>player_28007_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{76,108}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{76,108}}</string>
        <key>sourceSize</key>
        <string>{76,108}</string>
      </dict>
      <key>player_28007_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{102,98}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{102,98}}</string>
        <key>sourceSize</key>
        <string>{102,98}</string>
      </dict>
      <key>player_28007_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,204},{54,98}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{54,98}}</string>
        <key>sourceSize</key>
        <string>{54,99}</string>
      </dict>
      <key>player_28007_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,276},{80,72}}</string>
        <key>offset</key>
        <string>{-25,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{80,72}}</string>
        <key>sourceSize</key>
        <string>{82,72}</string>
      </dict>
      <key>player_28007_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,384},{88,68}}</string>
        <key>offset</key>
        <string>{-28,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{88,68}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>player_28007_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,284},{80,88}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{80,88}}</string>
        <key>sourceSize</key>
        <string>{82,88}</string>
      </dict>
      <key>player_28007_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,206},{100,86}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,87}</string>
      </dict>
      <key>player_28007_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,86}}</string>
        <key>offset</key>
        <string>{-12,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{110,86}}</string>
        <key>sourceSize</key>
        <string>{110,86}</string>
      </dict>
      <key>player_28007_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,102},{80,98}}</string>
        <key>offset</key>
        <string>{-14,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,99}</string>
      </dict>
      <key>player_28007_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,90},{74,86}}</string>
        <key>offset</key>
        <string>{-18,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{74,86}}</string>
        <key>sourceSize</key>
        <string>{74,87}</string>
      </dict>
      <key>player_28007_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,192},{90,70}}</string>
        <key>offset</key>
        <string>{-33,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{90,70}}</string>
        <key>sourceSize</key>
        <string>{90,70}</string>
      </dict>
      <key>player_28007_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{66,98}}</string>
        <key>offset</key>
        <string>{-12,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{66,98}}</string>
        <key>sourceSize</key>
        <string>{66,98}</string>
      </dict>
      <key>player_28007_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,326},{102,82}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{102,82}}</string>
        <key>sourceSize</key>
        <string>{102,82}</string>
      </dict>
      <key>player_28007_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,186},{88,82}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{88,82}}</string>
        <key>sourceSize</key>
        <string>{88,83}</string>
      </dict>
      <key>player_28007_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,96},{84,94}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,94}}</string>
        <key>sourceSize</key>
        <string>{84,94}</string>
      </dict>
      <key>player_28007_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,102},{70,100}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>player_28007_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,94},{74,90}}</string>
        <key>offset</key>
        <string>{-13,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>player_28007_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{76,100}}</string>
        <key>offset</key>
        <string>{-14,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28007_0_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_28007_0_2.png</string>
    </dict>
  </dict>
</plist>