<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_28008_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{104,78}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,78}}</string>
        <key>sourceSize</key>
        <string>{106,79}</string>
      </dict>
      <key>player_28008_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,258},{104,80}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,80}}</string>
        <key>sourceSize</key>
        <string>{106,81}</string>
      </dict>
      <key>player_28008_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,364},{102,80}}</string>
        <key>offset</key>
        <string>{-7,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,80}}</string>
        <key>sourceSize</key>
        <string>{102,81}</string>
      </dict>
      <key>player_28008_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{100,80}}</string>
        <key>offset</key>
        <string>{-7,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,80}}</string>
        <key>sourceSize</key>
        <string>{100,81}</string>
      </dict>
      <key>player_28008_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,672},{98,84}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{100,85}</string>
      </dict>
      <key>player_28008_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,258},{104,78}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{104,78}}</string>
        <key>sourceSize</key>
        <string>{106,78}</string>
      </dict>
      <key>player_28008_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,768},{78,96}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,97}</string>
      </dict>
      <key>player_28008_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,468},{76,100}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{76,100}}</string>
        <key>sourceSize</key>
        <string>{78,100}</string>
      </dict>
      <key>player_28008_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,692},{74,98}}</string>
        <key>offset</key>
        <string>{-5,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{74,98}}</string>
        <key>sourceSize</key>
        <string>{76,98}</string>
      </dict>
      <key>player_28008_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,814},{76,96}}</string>
        <key>offset</key>
        <string>{-5,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{76,96}}</string>
        <key>sourceSize</key>
        <string>{76,96}</string>
      </dict>
      <key>player_28008_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,758},{86,96}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{86,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>player_28008_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,788},{86,96}}</string>
        <key>offset</key>
        <string>{-8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,97}</string>
      </dict>
      <key>player_28008_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,162},{64,106}}</string>
        <key>offset</key>
        <string>{3,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{64,106}}</string>
        <key>sourceSize</key>
        <string>{64,107}</string>
      </dict>
      <key>player_28008_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,108}}</string>
        <key>offset</key>
        <string>{4,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,109}</string>
      </dict>
      <key>player_28008_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{70,106}}</string>
        <key>offset</key>
        <string>{2,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,106}}</string>
        <key>sourceSize</key>
        <string>{72,107}</string>
      </dict>
      <key>player_28008_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,92},{66,106}}</string>
        <key>offset</key>
        <string>{-1,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{66,106}}</string>
        <key>sourceSize</key>
        <string>{66,107}</string>
      </dict>
      <key>player_28008_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{70,106}}</string>
        <key>offset</key>
        <string>{0,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,106}}</string>
        <key>sourceSize</key>
        <string>{72,107}</string>
      </dict>
      <key>player_28008_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{76,108}}</string>
        <key>offset</key>
        <string>{1,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{76,108}}</string>
        <key>sourceSize</key>
        <string>{76,108}</string>
      </dict>
      <key>player_28008_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,314},{94,102}}</string>
        <key>offset</key>
        <string>{-13,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{94,102}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>player_28008_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,316},{94,102}}</string>
        <key>offset</key>
        <string>{-12,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,102}}</string>
        <key>sourceSize</key>
        <string>{94,102}</string>
      </dict>
      <key>player_28008_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,522},{92,100}}</string>
        <key>offset</key>
        <string>{-14,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,100}}</string>
        <key>sourceSize</key>
        <string>{94,100}</string>
      </dict>
      <key>player_28008_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,560},{92,100}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,100}}</string>
        <key>sourceSize</key>
        <string>{94,101}</string>
      </dict>
      <key>player_28008_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,598},{92,100}}</string>
        <key>offset</key>
        <string>{-15,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,100}}</string>
        <key>sourceSize</key>
        <string>{94,101}</string>
      </dict>
      <key>player_28008_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,380},{94,102}}</string>
        <key>offset</key>
        <string>{-14,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,102}}</string>
        <key>sourceSize</key>
        <string>{94,102}</string>
      </dict>
      <key>player_28008_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,160},{106,96}}</string>
        <key>offset</key>
        <string>{-8,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,96}}</string>
        <key>sourceSize</key>
        <string>{106,96}</string>
      </dict>
      <key>player_28008_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,188},{106,92}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,92}}</string>
        <key>sourceSize</key>
        <string>{108,93}</string>
      </dict>
      <key>player_28008_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,282},{104,96}}</string>
        <key>offset</key>
        <string>{-9,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>player_28008_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,410},{102,96}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,96}}</string>
        <key>sourceSize</key>
        <string>{104,97}</string>
      </dict>
      <key>player_28008_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,570},{100,96}}</string>
        <key>offset</key>
        <string>{-6,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,96}}</string>
        <key>sourceSize</key>
        <string>{102,96}</string>
      </dict>
      <key>player_28008_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,340},{104,96}}</string>
        <key>offset</key>
        <string>{-7,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>player_28008_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{94,108}}</string>
        <key>offset</key>
        <string>{0,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{94,108}}</string>
        <key>sourceSize</key>
        <string>{94,109}</string>
      </dict>
      <key>player_28008_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,228},{84,106}}</string>
        <key>offset</key>
        <string>{7,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,106}}</string>
        <key>sourceSize</key>
        <string>{84,107}</string>
      </dict>
      <key>player_28008_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{84,108}}</string>
        <key>offset</key>
        <string>{8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,108}}</string>
        <key>sourceSize</key>
        <string>{84,109}</string>
      </dict>
      <key>player_28008_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,78},{82,108}}</string>
        <key>offset</key>
        <string>{10,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,108}}</string>
        <key>sourceSize</key>
        <string>{84,109}</string>
      </dict>
      <key>player_28008_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{90,108}}</string>
        <key>offset</key>
        <string>{5,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{90,108}}</string>
        <key>sourceSize</key>
        <string>{90,108}</string>
      </dict>
      <key>player_28008_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,86},{100,108}}</string>
        <key>offset</key>
        <string>{-6,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,108}}</string>
        <key>sourceSize</key>
        <string>{102,109}</string>
      </dict>
      <key>player_28008_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{76,100}}</string>
        <key>offset</key>
        <string>{6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,101}</string>
      </dict>
      <key>player_28008_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,412},{76,102}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,102}}</string>
        <key>sourceSize</key>
        <string>{76,103}</string>
      </dict>
      <key>player_28008_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{80,102}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{80,102}}</string>
        <key>sourceSize</key>
        <string>{82,102}</string>
      </dict>
      <key>player_28008_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{80,98}}</string>
        <key>offset</key>
        <string>{6,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,98}</string>
      </dict>
      <key>player_28008_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,708},{78,98}}</string>
        <key>offset</key>
        <string>{7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,98}}</string>
        <key>sourceSize</key>
        <string>{80,99}</string>
      </dict>
      <key>player_28008_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,616},{90,100}}</string>
        <key>offset</key>
        <string>{-6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{90,100}}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>player_28008_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,822},{96,80}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{98,81}</string>
      </dict>
      <key>player_28008_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,736},{98,84}}</string>
        <key>offset</key>
        <string>{-1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{100,85}</string>
      </dict>
      <key>player_28008_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,438},{102,82}}</string>
        <key>offset</key>
        <string>{-1,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{102,82}}</string>
        <key>sourceSize</key>
        <string>{102,82}</string>
      </dict>
      <key>player_28008_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,476},{102,82}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,82}}</string>
        <key>sourceSize</key>
        <string>{104,83}</string>
      </dict>
      <key>player_28008_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,508},{102,88}}</string>
        <key>offset</key>
        <string>{-2,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{102,88}}</string>
        <key>sourceSize</key>
        <string>{102,88}</string>
      </dict>
      <key>player_28008_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,654},{100,80}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,80}}</string>
        <key>sourceSize</key>
        <string>{102,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_28008_0_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_28008_0_3.png</string>
    </dict>
  </dict>
</plist>