<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3036_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,575},{88,97}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,97}}</string>
        <key>sourceSize</key>
        <string>{88,97}</string>
      </dict>
      <key>player_3036_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,927},{87,95}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
      <key>player_3036_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,831},{90,94}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{90,94}</string>
      </dict>
      <key>player_3036_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,923},{91,94}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,94}}</string>
        <key>sourceSize</key>
        <string>{91,94}</string>
      </dict>
      <key>player_3036_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,660},{93,97}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,97}}</string>
        <key>sourceSize</key>
        <string>{93,97}</string>
      </dict>
      <key>player_3036_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,645},{89,98}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,98}}</string>
        <key>sourceSize</key>
        <string>{89,98}</string>
      </dict>
      <key>player_3036_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{88,104}}</string>
        <key>offset</key>
        <string>{-19,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,104}}</string>
        <key>sourceSize</key>
        <string>{88,104}</string>
      </dict>
      <key>player_3036_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,97},{87,103}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>player_3036_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,291},{88,101}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,101}}</string>
        <key>sourceSize</key>
        <string>{88,101}</string>
      </dict>
      <key>player_3036_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,394},{90,99}}</string>
        <key>offset</key>
        <string>{-20,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>player_3036_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,186},{92,103}}</string>
        <key>offset</key>
        <string>{-22,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,103}}</string>
        <key>sourceSize</key>
        <string>{92,103}</string>
      </dict>
      <key>player_3036_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,187},{92,102}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,102}}</string>
        <key>sourceSize</key>
        <string>{92,102}</string>
      </dict>
      <key>player_3036_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,466},{85,99}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,99}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>player_3036_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{84,99}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,99}}</string>
        <key>sourceSize</key>
        <string>{84,99}</string>
      </dict>
      <key>player_3036_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,483},{82,99}}</string>
        <key>offset</key>
        <string>{-14,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,99}}</string>
        <key>sourceSize</key>
        <string>{82,99}</string>
      </dict>
      <key>player_3036_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,746},{83,97}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,97}}</string>
        <key>sourceSize</key>
        <string>{83,97}</string>
      </dict>
      <key>player_3036_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,486},{87,99}}</string>
        <key>offset</key>
        <string>{-21,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>player_3036_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,755},{90,96}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,96}}</string>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>player_3036_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,105}}</string>
        <key>offset</key>
        <string>{-22,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,105}}</string>
        <key>sourceSize</key>
        <string>{93,105}</string>
      </dict>
      <key>player_3036_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,188},{89,102}}</string>
        <key>offset</key>
        <string>{-18,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,102}}</string>
        <key>sourceSize</key>
        <string>{89,102}</string>
      </dict>
      <key>player_3036_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,478},{88,99}}</string>
        <key>offset</key>
        <string>{-17,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,99}}</string>
        <key>sourceSize</key>
        <string>{88,99}</string>
      </dict>
      <key>player_3036_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{86,100}}</string>
        <key>offset</key>
        <string>{-17,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,100}}</string>
        <key>sourceSize</key>
        <string>{86,100}</string>
      </dict>
      <key>player_3036_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,567},{91,98}}</string>
        <key>offset</key>
        <string>{-22,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,98}}</string>
        <key>sourceSize</key>
        <string>{91,98}</string>
      </dict>
      <key>player_3036_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{89,103}}</string>
        <key>offset</key>
        <string>{-18,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,103}}</string>
        <key>sourceSize</key>
        <string>{89,103}</string>
      </dict>
      <key>player_3036_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,93},{92,103}}</string>
        <key>offset</key>
        <string>{-1,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,103}}</string>
        <key>sourceSize</key>
        <string>{92,103}</string>
      </dict>
      <key>player_3036_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,763},{91,97}}</string>
        <key>offset</key>
        <string>{-1,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,97}}</string>
        <key>sourceSize</key>
        <string>{91,97}</string>
      </dict>
      <key>player_3036_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{91,97}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,97}}</string>
        <key>sourceSize</key>
        <string>{91,97}</string>
      </dict>
      <key>player_3036_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{91,104}}</string>
        <key>offset</key>
        <string>{-4,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,104}}</string>
        <key>sourceSize</key>
        <string>{91,104}</string>
      </dict>
      <key>player_3036_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,927},{90,97}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,97}}</string>
        <key>sourceSize</key>
        <string>{90,97}</string>
      </dict>
      <key>player_3036_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,652},{92,98}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,98}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>player_3036_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,375},{101,101}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>player_3036_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,665},{96,97}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,97}}</string>
        <key>sourceSize</key>
        <string>{96,97}</string>
      </dict>
      <key>player_3036_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,279},{95,102}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,102}}</string>
        <key>sourceSize</key>
        <string>{95,102}</string>
      </dict>
      <key>player_3036_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{95,105}}</string>
        <key>offset</key>
        <string>{7,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,105}}</string>
        <key>sourceSize</key>
        <string>{95,105}</string>
      </dict>
      <key>player_3036_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,280},{93,102}}</string>
        <key>offset</key>
        <string>{11,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,102}}</string>
        <key>sourceSize</key>
        <string>{93,102}</string>
      </dict>
      <key>player_3036_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,664},{97,98}}</string>
        <key>offset</key>
        <string>{7,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,98}}</string>
        <key>sourceSize</key>
        <string>{97,98}</string>
      </dict>
      <key>player_3036_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,736},{96,98}}</string>
        <key>offset</key>
        <string>{1,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,98}}</string>
        <key>sourceSize</key>
        <string>{96,98}</string>
      </dict>
      <key>player_3036_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{84,99}}</string>
        <key>offset</key>
        <string>{13,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,99}}</string>
        <key>sourceSize</key>
        <string>{84,99}</string>
      </dict>
      <key>player_3036_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,376},{88,100}}</string>
        <key>offset</key>
        <string>{8,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,100}}</string>
        <key>sourceSize</key>
        <string>{88,100}</string>
      </dict>
      <key>player_3036_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{96,102}}</string>
        <key>offset</key>
        <string>{1,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,102}}</string>
        <key>sourceSize</key>
        <string>{96,102}</string>
      </dict>
      <key>player_3036_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,187},{86,102}}</string>
        <key>offset</key>
        <string>{12,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,102}}</string>
        <key>sourceSize</key>
        <string>{86,102}</string>
      </dict>
      <key>player_3036_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{87,101}}</string>
        <key>offset</key>
        <string>{10,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,101}}</string>
        <key>sourceSize</key>
        <string>{87,101}</string>
      </dict>
      <key>player_3036_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,553},{97,99}}</string>
        <key>offset</key>
        <string>{7,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,99}}</string>
        <key>sourceSize</key>
        <string>{97,99}</string>
      </dict>
      <key>player_3036_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,568},{94,99}}</string>
        <key>offset</key>
        <string>{11,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,99}}</string>
        <key>sourceSize</key>
        <string>{94,99}</string>
      </dict>
      <key>player_3036_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,384},{97,100}}</string>
        <key>offset</key>
        <string>{7,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,100}}</string>
        <key>sourceSize</key>
        <string>{97,100}</string>
      </dict>
      <key>player_3036_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,281},{101,102}}</string>
        <key>offset</key>
        <string>{3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,102}}</string>
        <key>sourceSize</key>
        <string>{101,102}</string>
      </dict>
      <key>player_3036_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{96,105}}</string>
        <key>offset</key>
        <string>{9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,105}}</string>
        <key>sourceSize</key>
        <string>{96,105}</string>
      </dict>
      <key>player_3036_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,90},{96,104}}</string>
        <key>offset</key>
        <string>{9,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,104}}</string>
        <key>sourceSize</key>
        <string>{96,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3036_1_1.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_3036_1_1.png</string>
    </dict>
  </dict>
</plist>