<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20000_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,534},{136,74}}</string>
        <key>offset</key>
        <string>{-104,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{23,101},{136,74}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,714},{134,106}}</string>
        <key>offset</key>
        <string>{-103,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{25,64},{134,106}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,610},{136,102}}</string>
        <key>offset</key>
        <string>{-104,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{23,64},{136,102}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,822},{124,120}}</string>
        <key>offset</key>
        <string>{-121,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,62},{124,120}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{106,142}}</string>
        <key>offset</key>
        <string>{-104,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,33},{106,142}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,410},{116,138}}</string>
        <key>offset</key>
        <string>{-102,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,35},{116,138}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,394},{138,146}}</string>
        <key>offset</key>
        <string>{-116,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,26},{138,146}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{118,162}}</string>
        <key>offset</key>
        <string>{-106,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,12},{118,162}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,166}}</string>
        <key>offset</key>
        <string>{-101,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,10},{126,166}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,260},{148,148}}</string>
        <key>offset</key>
        <string>{-116,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,19},{148,148}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{140,150}}</string>
        <key>offset</key>
        <string>{-106,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{19,19},{140,150}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,120},{138,152}}</string>
        <key>offset</key>
        <string>{-105,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{21,18},{138,152}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{134,136}}</string>
        <key>offset</key>
        <string>{-68,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,37},{134,136}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{134,154}}</string>
        <key>offset</key>
        <string>{-69,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{59,20},{134,154}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,196},{136,152}}</string>
        <key>offset</key>
        <string>{-68,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{59,20},{136,152}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,628},{114,136}}</string>
        <key>offset</key>
        <string>{-47,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,42},{114,136}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{92,164}}</string>
        <key>offset</key>
        <string>{-61,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{88,13},{92,164}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,94},{100,162}}</string>
        <key>offset</key>
        <string>{-61,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,13},{100,162}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,866},{132,104}}</string>
        <key>offset</key>
        <string>{-52,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{77,69},{132,104}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,752},{112,134}}</string>
        <key>offset</key>
        <string>{-63,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,40},{112,134}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,866},{106,134}}</string>
        <key>offset</key>
        <string>{-61,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,38},{106,134}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,334},{148,58}}</string>
        <key>offset</key>
        <string>{-55,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,103},{148,58}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,514},{140,100}}</string>
        <key>offset</key>
        <string>{-66,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,66},{140,100}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
      <key>player_20000_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,528},{138,98}}</string>
        <key>offset</key>
        <string>{-66,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,66},{138,98}}</string>
        <key>sourceSize</key>
        <string>{220,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20000_1_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_20000_1_7.png</string>
    </dict>
  </dict>
</plist>