<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20004_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,514},{108,76}}</string>
        <key>offset</key>
        <string>{-65,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{42,102},{108,76}}</string>
        <key>sourceSize</key>
        <string>{152,179}</string>
      </dict>
      <key>player_20004_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{110,118}}</string>
        <key>offset</key>
        <string>{-64,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,66},{110,118}}</string>
        <key>sourceSize</key>
        <string>{156,185}</string>
      </dict>
      <key>player_20004_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,400},{112,114}}</string>
        <key>offset</key>
        <string>{-65,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,65},{112,114}}</string>
        <key>sourceSize</key>
        <string>{160,180}</string>
      </dict>
      <key>player_20004_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,578},{82,102}}</string>
        <key>offset</key>
        <string>{-60,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{54,88},{82,102}}</string>
        <key>sourceSize</key>
        <string>{140,191}</string>
      </dict>
      <key>player_20004_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,92},{88,128}}</string>
        <key>offset</key>
        <string>{-59,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,62},{88,128}}</string>
        <key>sourceSize</key>
        <string>{148,191}</string>
      </dict>
      <key>player_20004_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,116},{96,128}}</string>
        <key>offset</key>
        <string>{-58,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{55,59},{96,128}}</string>
        <key>sourceSize</key>
        <string>{152,188}</string>
      </dict>
      <key>player_20004_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,182},{98,124}}</string>
        <key>offset</key>
        <string>{-62,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,64},{98,124}}</string>
        <key>sourceSize</key>
        <string>{152,189}</string>
      </dict>
      <key>player_20004_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,318},{96,120}}</string>
        <key>offset</key>
        <string>{-61,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,55},{96,120}}</string>
        <key>sourceSize</key>
        <string>{152,176}</string>
      </dict>
      <key>player_20004_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,214},{102,124}}</string>
        <key>offset</key>
        <string>{-59,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{55,52},{102,124}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20004_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{114,132}}</string>
        <key>offset</key>
        <string>{-61,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,45},{114,132}}</string>
        <key>sourceSize</key>
        <string>{168,178}</string>
      </dict>
      <key>player_20004_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,386},{112,118}}</string>
        <key>offset</key>
        <string>{-64,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,51},{112,118}}</string>
        <key>sourceSize</key>
        <string>{156,170}</string>
      </dict>
      <key>player_20004_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,282},{116,122}}</string>
        <key>offset</key>
        <string>{-64,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,48},{116,122}}</string>
        <key>sourceSize</key>
        <string>{160,171}</string>
      </dict>
      <key>player_20004_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,134}}</string>
        <key>offset</key>
        <string>{-51,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{72,39},{104,134}}</string>
        <key>sourceSize</key>
        <string>{180,174}</string>
      </dict>
      <key>player_20004_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{102,124}}</string>
        <key>offset</key>
        <string>{-49,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,50},{102,124}}</string>
        <key>sourceSize</key>
        <string>{176,175}</string>
      </dict>
      <key>player_20004_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,260},{104,124}}</string>
        <key>offset</key>
        <string>{-50,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{71,48},{104,124}}</string>
        <key>sourceSize</key>
        <string>{176,173}</string>
      </dict>
      <key>player_20004_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{78,132}}</string>
        <key>offset</key>
        <string>{-44,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,48},{78,132}}</string>
        <key>sourceSize</key>
        <string>{168,181}</string>
      </dict>
      <key>player_20004_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{74,128}}</string>
        <key>offset</key>
        <string>{-41,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,49},{74,128}}</string>
        <key>sourceSize</key>
        <string>{164,178}</string>
      </dict>
      <key>player_20004_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,132},{80,126}}</string>
        <key>offset</key>
        <string>{-44,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{83,49},{80,126}}</string>
        <key>sourceSize</key>
        <string>{164,176}</string>
      </dict>
      <key>player_20004_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,486},{90,112}}</string>
        <key>offset</key>
        <string>{-48,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{78,71},{90,112}}</string>
        <key>sourceSize</key>
        <string>{172,184}</string>
      </dict>
      <key>player_20004_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{90,130}}</string>
        <key>offset</key>
        <string>{-47,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{77,57},{90,130}}</string>
        <key>sourceSize</key>
        <string>{168,188}</string>
      </dict>
      <key>player_20004_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{82,130}}</string>
        <key>offset</key>
        <string>{-46,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,56},{82,130}}</string>
        <key>sourceSize</key>
        <string>{168,187}</string>
      </dict>
      <key>player_20004_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,416},{114,68}}</string>
        <key>offset</key>
        <string>{-59,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,96},{114,68}}</string>
        <key>sourceSize</key>
        <string>{168,165}</string>
      </dict>
      <key>player_20004_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,500},{108,112}}</string>
        <key>offset</key>
        <string>{-53,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,65},{108,112}}</string>
        <key>sourceSize</key>
        <string>{180,178}</string>
      </dict>
      <key>player_20004_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{108,114}}</string>
        <key>offset</key>
        <string>{-52,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{67,63},{108,114}}</string>
        <key>sourceSize</key>
        <string>{176,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20004_1_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_20004_1_7.png</string>
    </dict>
  </dict>
</plist>