<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3019_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,206},{68,55}}</string>
        <key>offset</key>
        <string>{2,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>player_3019_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,159},{75,64}}</string>
        <key>offset</key>
        <string>{3,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,64}}</string>
        <key>sourceSize</key>
        <string>{75,64}</string>
      </dict>
      <key>player_3019_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{79,70}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,70}}</string>
        <key>sourceSize</key>
        <string>{79,70}</string>
      </dict>
      <key>player_3019_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,239},{62,63}}</string>
        <key>offset</key>
        <string>{0,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,63}}</string>
        <key>sourceSize</key>
        <string>{62,63}</string>
      </dict>
      <key>player_3019_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,236},{64,70}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,70}}</string>
        <key>sourceSize</key>
        <string>{64,70}</string>
      </dict>
      <key>player_3019_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,78},{68,75}}</string>
        <key>offset</key>
        <string>{10,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_3019_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,206},{58,71}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,71}}</string>
        <key>sourceSize</key>
        <string>{58,71}</string>
      </dict>
      <key>player_3019_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,75},{57,74}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,74}}</string>
        <key>sourceSize</key>
        <string>{57,74}</string>
      </dict>
      <key>player_3019_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,160},{66,77}}</string>
        <key>offset</key>
        <string>{12,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,77}}</string>
        <key>sourceSize</key>
        <string>{66,77}</string>
      </dict>
      <key>player_3019_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,81},{65,78}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>player_3019_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,168},{71,79}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,79}}</string>
        <key>sourceSize</key>
        <string>{71,79}</string>
      </dict>
      <key>player_3019_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,134},{74,70}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>player_3019_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,86},{75,80}}</string>
        <key>offset</key>
        <string>{6,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,80}}</string>
        <key>sourceSize</key>
        <string>{75,80}</string>
      </dict>
      <key>player_3019_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{74,78}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>player_3019_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{75,70}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,70}}</string>
        <key>sourceSize</key>
        <string>{75,70}</string>
      </dict>
      <key>player_3019_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,79}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,79}}</string>
        <key>sourceSize</key>
        <string>{84,79}</string>
      </dict>
      <key>player_3019_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{82,78}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,78}}</string>
        <key>sourceSize</key>
        <string>{82,78}</string>
      </dict>
      <key>player_3019_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,80},{68,77}}</string>
        <key>offset</key>
        <string>{7,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,77}}</string>
        <key>sourceSize</key>
        <string>{68,77}</string>
      </dict>
      <key>player_3019_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{84,69}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,69}}</string>
        <key>sourceSize</key>
        <string>{84,69}</string>
      </dict>
      <key>player_3019_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,161},{78,76}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
      <key>player_3019_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,80},{66,78}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>player_3019_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{80,57}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,57}}</string>
        <key>sourceSize</key>
        <string>{80,57}</string>
      </dict>
      <key>player_3019_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{76,67}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,67}}</string>
        <key>sourceSize</key>
        <string>{76,67}</string>
      </dict>
      <key>player_3019_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{75,73}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3019_1_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3019_1_7.png</string>
    </dict>
  </dict>
</plist>