<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20006_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,154},{150,134}}</string>
        <key>offset</key>
        <string>{-71,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{29,41},{150,134}}</string>
        <key>sourceSize</key>
        <string>{180,176}</string>
      </dict>
      <key>player_20006_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,0},{150,134}}</string>
        <key>offset</key>
        <string>{-69,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,43},{150,134}}</string>
        <key>sourceSize</key>
        <string>{188,178}</string>
      </dict>
      <key>player_20006_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,0},{150,136}}</string>
        <key>offset</key>
        <string>{-67,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{37,39},{150,136}}</string>
        <key>sourceSize</key>
        <string>{188,176}</string>
      </dict>
      <key>player_20006_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,448},{148,134}}</string>
        <key>offset</key>
        <string>{-64,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{43,40},{148,134}}</string>
        <key>sourceSize</key>
        <string>{192,175}</string>
      </dict>
      <key>player_20006_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,152},{150,134}}</string>
        <key>offset</key>
        <string>{-67,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{37,42},{150,134}}</string>
        <key>sourceSize</key>
        <string>{188,177}</string>
      </dict>
      <key>player_20006_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,320},{152,132}}</string>
        <key>offset</key>
        <string>{-70,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{33,43},{152,132}}</string>
        <key>sourceSize</key>
        <string>{188,176}</string>
      </dict>
      <key>player_20006_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,514},{120,164}}</string>
        <key>offset</key>
        <string>{-71,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,19},{120,164}}</string>
        <key>sourceSize</key>
        <string>{152,184}</string>
      </dict>
      <key>player_20006_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{122,162}}</string>
        <key>offset</key>
        <string>{-72,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,20},{122,162}}</string>
        <key>sourceSize</key>
        <string>{152,183}</string>
      </dict>
      <key>player_20006_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,334},{130,160}}</string>
        <key>offset</key>
        <string>{-73,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,19},{130,160}}</string>
        <key>sourceSize</key>
        <string>{160,180}</string>
      </dict>
      <key>player_20006_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,672},{132,156}}</string>
        <key>offset</key>
        <string>{-73,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{26,26},{132,156}}</string>
        <key>sourceSize</key>
        <string>{160,183}</string>
      </dict>
      <key>player_20006_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,680},{126,162}}</string>
        <key>offset</key>
        <string>{-73,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,20},{126,162}}</string>
        <key>sourceSize</key>
        <string>{156,183}</string>
      </dict>
      <key>player_20006_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,164},{126,160}}</string>
        <key>offset</key>
        <string>{-74,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{26,20},{126,160}}</string>
        <key>sourceSize</key>
        <string>{156,181}</string>
      </dict>
      <key>player_20006_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,924},{96,168}}</string>
        <key>offset</key>
        <string>{-54,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{63,5},{96,168}}</string>
        <key>sourceSize</key>
        <string>{160,174}</string>
      </dict>
      <key>player_20006_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,688},{84,168}}</string>
        <key>offset</key>
        <string>{-53,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{68,7},{84,168}}</string>
        <key>sourceSize</key>
        <string>{156,176}</string>
      </dict>
      <key>player_20006_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88,170}}</string>
        <key>offset</key>
        <string>{-52,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,3},{88,170}}</string>
        <key>sourceSize</key>
        <string>{156,174}</string>
      </dict>
      <key>player_20006_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{100,170}}</string>
        <key>offset</key>
        <string>{-56,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,9},{100,170}}</string>
        <key>sourceSize</key>
        <string>{160,180}</string>
      </dict>
      <key>player_20006_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{86,170}}</string>
        <key>offset</key>
        <string>{-54,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,6},{86,170}}</string>
        <key>sourceSize</key>
        <string>{156,177}</string>
      </dict>
      <key>player_20006_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{88,170}}</string>
        <key>offset</key>
        <string>{-52,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,3},{88,170}}</string>
        <key>sourceSize</key>
        <string>{156,174}</string>
      </dict>
      <key>player_20006_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,496},{130,156}}</string>
        <key>offset</key>
        <string>{-73,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,11},{130,156}}</string>
        <key>sourceSize</key>
        <string>{160,168}</string>
      </dict>
      <key>player_20006_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,156},{124,152}}</string>
        <key>offset</key>
        <string>{-72,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{29,8},{124,152}}</string>
        <key>sourceSize</key>
        <string>{156,161}</string>
      </dict>
      <key>player_20006_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{120,154}}</string>
        <key>offset</key>
        <string>{-70,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,7},{120,154}}</string>
        <key>sourceSize</key>
        <string>{152,162}</string>
      </dict>
      <key>player_20006_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,830},{118,154}}</string>
        <key>offset</key>
        <string>{-69,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,8},{118,154}}</string>
        <key>sourceSize</key>
        <string>{152,163}</string>
      </dict>
      <key>player_20006_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,654},{120,154}}</string>
        <key>offset</key>
        <string>{-71,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,7},{120,154}}</string>
        <key>sourceSize</key>
        <string>{152,162}</string>
      </dict>
      <key>player_20006_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,844},{128,158}}</string>
        <key>offset</key>
        <string>{-72,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{29,5},{128,158}}</string>
        <key>sourceSize</key>
        <string>{160,164}</string>
      </dict>
      <key>player_20006_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,304},{150,142}}</string>
        <key>offset</key>
        <string>{-66,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{40,26},{150,142}}</string>
        <key>sourceSize</key>
        <string>{192,169}</string>
      </dict>
      <key>player_20006_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,0},{152,134}}</string>
        <key>offset</key>
        <string>{-70,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{33,27},{152,134}}</string>
        <key>sourceSize</key>
        <string>{188,162}</string>
      </dict>
      <key>player_20006_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,810},{152,138}}</string>
        <key>offset</key>
        <string>{-70,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,25},{152,138}}</string>
        <key>sourceSize</key>
        <string>{184,164}</string>
      </dict>
      <key>player_20006_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,584},{148,144}}</string>
        <key>offset</key>
        <string>{-73,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,24},{148,144}}</string>
        <key>sourceSize</key>
        <string>{180,169}</string>
      </dict>
      <key>player_20006_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,794},{150,136}}</string>
        <key>offset</key>
        <string>{-70,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{32,24},{150,136}}</string>
        <key>sourceSize</key>
        <string>{184,161}</string>
      </dict>
      <key>player_20006_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,640},{152,140}}</string>
        <key>offset</key>
        <string>{-70,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{33,23},{152,140}}</string>
        <key>sourceSize</key>
        <string>{188,164}</string>
      </dict>
      <key>player_20006_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,474},{100,152}}</string>
        <key>offset</key>
        <string>{-42,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,9},{100,152}}</string>
        <key>sourceSize</key>
        <string>{192,162}</string>
      </dict>
      <key>player_20006_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,628},{108,150}}</string>
        <key>offset</key>
        <string>{-45,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,10},{108,150}}</string>
        <key>sourceSize</key>
        <string>{192,161}</string>
      </dict>
      <key>player_20006_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,484},{114,154}}</string>
        <key>offset</key>
        <string>{-47,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{77,9},{114,154}}</string>
        <key>sourceSize</key>
        <string>{192,164}</string>
      </dict>
      <key>player_20006_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,310},{124,152}}</string>
        <key>offset</key>
        <string>{-53,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{68,15},{124,152}}</string>
        <key>sourceSize</key>
        <string>{196,168}</string>
      </dict>
      <key>player_20006_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,464},{112,150}}</string>
        <key>offset</key>
        <string>{-46,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,10},{112,150}}</string>
        <key>sourceSize</key>
        <string>{192,161}</string>
      </dict>
      <key>player_20006_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,326},{108,156}}</string>
        <key>offset</key>
        <string>{-45,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,6},{108,156}}</string>
        <key>sourceSize</key>
        <string>{196,163}</string>
      </dict>
      <key>player_20006_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{68,170}}</string>
        <key>offset</key>
        <string>{-43,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,9},{68,170}}</string>
        <key>sourceSize</key>
        <string>{160,180}</string>
      </dict>
      <key>player_20006_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{66,170}}</string>
        <key>offset</key>
        <string>{-41,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{91,5},{66,170}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20006_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,516},{66,168}}</string>
        <key>offset</key>
        <string>{-42,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,4},{66,168}}</string>
        <key>sourceSize</key>
        <string>{156,173}</string>
      </dict>
      <key>player_20006_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{74,166}}</string>
        <key>offset</key>
        <string>{-44,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,6},{74,166}}</string>
        <key>sourceSize</key>
        <string>{164,173}</string>
      </dict>
      <key>player_20006_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,860},{62,170}}</string>
        <key>offset</key>
        <string>{-41,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,4},{62,170}}</string>
        <key>sourceSize</key>
        <string>{156,175}</string>
      </dict>
      <key>player_20006_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,344},{66,168}}</string>
        <key>offset</key>
        <string>{-42,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{88,6},{66,168}}</string>
        <key>sourceSize</key>
        <string>{156,175}</string>
      </dict>
      <key>player_20006_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,162},{118,156}}</string>
        <key>offset</key>
        <string>{-49,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,27},{118,156}}</string>
        <key>sourceSize</key>
        <string>{192,184}</string>
      </dict>
      <key>player_20006_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,508},{106,162}}</string>
        <key>offset</key>
        <string>{-44,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,21},{106,162}}</string>
        <key>sourceSize</key>
        <string>{192,184}</string>
      </dict>
      <key>player_20006_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,342},{102,164}}</string>
        <key>offset</key>
        <string>{-43,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,17},{102,164}}</string>
        <key>sourceSize</key>
        <string>{188,182}</string>
      </dict>
      <key>player_20006_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,172},{94,168}}</string>
        <key>offset</key>
        <string>{-42,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{90,16},{94,168}}</string>
        <key>sourceSize</key>
        <string>{188,185}</string>
      </dict>
      <key>player_20006_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,168},{102,164}}</string>
        <key>offset</key>
        <string>{-43,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,18},{102,164}}</string>
        <key>sourceSize</key>
        <string>{192,183}</string>
      </dict>
      <key>player_20006_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{106,160}}</string>
        <key>offset</key>
        <string>{-44,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,21},{106,160}}</string>
        <key>sourceSize</key>
        <string>{192,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20006_1_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_20006_1_5.png</string>
    </dict>
  </dict>
</plist>