<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0514_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{200,112}}</string>
        <key>offset</key>
        <string>{-195,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{81,112},{200,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,712},{228,162}}</string>
        <key>offset</key>
        <string>{-194,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,59},{228,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,236},{230,156}}</string>
        <key>offset</key>
        <string>{-197,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,63},{230,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,540},{128,154}}</string>
        <key>offset</key>
        <string>{-209,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{103,76},{128,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,696},{126,218}}</string>
        <key>offset</key>
        <string>{-205,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{108,5},{126,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,226},{138,214}}</string>
        <key>offset</key>
        <string>{-204,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{103,6},{138,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,236},{166,224}}</string>
        <key>offset</key>
        <string>{-228,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{65,0},{166,224}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,114},{144,200}}</string>
        <key>offset</key>
        <string>{-207,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{97,21},{144,200}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,260},{150,198}}</string>
        <key>offset</key>
        <string>{-200,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{101,21},{150,198}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{224,214}}</string>
        <key>offset</key>
        <string>{-228,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,-1},{224,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{238,212}}</string>
        <key>offset</key>
        <string>{-201,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,1},{238,212}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{234,214}}</string>
        <key>offset</key>
        <string>{-199,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,0},{234,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,468},{226,176}}</string>
        <key>offset</key>
        <string>{-159,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,39},{226,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,478},{232,208}}</string>
        <key>offset</key>
        <string>{-160,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,10},{232,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{236,214}}</string>
        <key>offset</key>
        <string>{-157,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{101,6},{236,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,682},{152,174}}</string>
        <key>offset</key>
        <string>{-124,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{176,43},{152,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,260},{116,194}}</string>
        <key>offset</key>
        <string>{-143,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{175,26},{116,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,412},{126,194}}</string>
        <key>offset</key>
        <string>{-142,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{171,27},{126,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,858},{158,154}}</string>
        <key>offset</key>
        <string>{-133,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,66},{158,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{128,234}}</string>
        <key>offset</key>
        <string>{-140,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{172,14},{128,234}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{136,206}}</string>
        <key>offset</key>
        <string>{-147,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{161,11},{136,206}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,462},{218,112}}</string>
        <key>offset</key>
        <string>{-130,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{137,112},{218,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,714},{234,150}}</string>
        <key>offset</key>
        <string>{-153,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,70},{234,150}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0514_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,712},{230,150}}</string>
        <key>offset</key>
        <string>{-154,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{107,68},{230,150}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0514_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0514_0_7.png</string>
    </dict>
  </dict>
</plist>