<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3019_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,285},{83,74}}</string>
        <key>offset</key>
        <string>{-6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,74}}</string>
        <key>sourceSize</key>
        <string>{83,74}</string>
      </dict>
      <key>player_3019_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,238},{69,73}}</string>
        <key>offset</key>
        <string>{-3,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,73}}</string>
        <key>sourceSize</key>
        <string>{69,73}</string>
      </dict>
      <key>player_3019_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,84},{80,74}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,74}}</string>
        <key>sourceSize</key>
        <string>{80,74}</string>
      </dict>
      <key>player_3019_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,106},{89,90}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>player_3019_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,254},{65,78}}</string>
        <key>offset</key>
        <string>{-6,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>player_3019_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,81},{77,77}}</string>
        <key>offset</key>
        <string>{-3,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>player_3019_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,79},{69,75}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,75}}</string>
        <key>sourceSize</key>
        <string>{69,75}</string>
      </dict>
      <key>player_3019_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,246},{76,71}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>player_3019_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{68,77}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,77}}</string>
        <key>sourceSize</key>
        <string>{68,77}</string>
      </dict>
      <key>player_3019_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,294},{85,76}}</string>
        <key>offset</key>
        <string>{11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,76}}</string>
        <key>sourceSize</key>
        <string>{85,76}</string>
      </dict>
      <key>player_3019_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,156},{73,73}}</string>
        <key>offset</key>
        <string>{8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>player_3019_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,87},{82,76}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>player_3019_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,160},{76,70}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>player_3019_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,346},{81,70}}</string>
        <key>offset</key>
        <string>{-10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,70}}</string>
        <key>sourceSize</key>
        <string>{81,70}</string>
      </dict>
      <key>player_3019_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,429},{81,76}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,76}}</string>
        <key>sourceSize</key>
        <string>{81,76}</string>
      </dict>
      <key>player_3019_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,76}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,76}}</string>
        <key>sourceSize</key>
        <string>{104,76}</string>
      </dict>
      <key>player_3019_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{93,69}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,69}}</string>
        <key>sourceSize</key>
        <string>{93,69}</string>
      </dict>
      <key>player_3019_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,198},{85,74}}</string>
        <key>offset</key>
        <string>{-3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>player_3019_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,315},{74,66}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,66}}</string>
        <key>sourceSize</key>
        <string>{74,66}</string>
      </dict>
      <key>player_3019_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,177},{77,83}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,83}}</string>
        <key>sourceSize</key>
        <string>{77,83}</string>
      </dict>
      <key>player_3019_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,90},{85,74}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>player_3019_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{90,69}}</string>
        <key>offset</key>
        <string>{-1,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,69}}</string>
        <key>sourceSize</key>
        <string>{90,69}</string>
      </dict>
      <key>player_3019_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{82,64}}</string>
        <key>offset</key>
        <string>{0,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,64}}</string>
        <key>sourceSize</key>
        <string>{82,64}</string>
      </dict>
      <key>player_3019_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,0},{75,65}}</string>
        <key>offset</key>
        <string>{6,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,65}}</string>
        <key>sourceSize</key>
        <string>{75,65}</string>
      </dict>
      <key>player_3019_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,413},{75,72}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,72}}</string>
        <key>sourceSize</key>
        <string>{75,72}</string>
      </dict>
      <key>player_3019_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{72,92}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,92}}</string>
        <key>sourceSize</key>
        <string>{72,92}</string>
      </dict>
      <key>player_3019_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{86,88}}</string>
        <key>offset</key>
        <string>{-7,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,88}}</string>
        <key>sourceSize</key>
        <string>{86,88}</string>
      </dict>
      <key>player_3019_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{93,62}}</string>
        <key>offset</key>
        <string>{-8,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,62}}</string>
        <key>sourceSize</key>
        <string>{93,62}</string>
      </dict>
      <key>player_3019_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,324},{75,61}}</string>
        <key>offset</key>
        <string>{5,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,61}}</string>
        <key>sourceSize</key>
        <string>{75,61}</string>
      </dict>
      <key>player_3019_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,238},{75,62}}</string>
        <key>offset</key>
        <string>{-1,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,62}}</string>
        <key>sourceSize</key>
        <string>{75,62}</string>
      </dict>
      <key>player_3019_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,334},{64,77}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,77}}</string>
        <key>sourceSize</key>
        <string>{64,77}</string>
      </dict>
      <key>player_3019_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,370},{80,82}}</string>
        <key>offset</key>
        <string>{6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>player_3019_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{72,85}}</string>
        <key>offset</key>
        <string>{-6,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>player_3019_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,171},{81,58}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,58}}</string>
        <key>sourceSize</key>
        <string>{81,58}</string>
      </dict>
      <key>player_3019_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,152},{68,57}}</string>
        <key>offset</key>
        <string>{-5,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,57}}</string>
        <key>sourceSize</key>
        <string>{68,57}</string>
      </dict>
      <key>player_3019_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,75},{66,60}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>player_3019_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,77},{68,73}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,73}}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>player_3019_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,201},{91,69}}</string>
        <key>offset</key>
        <string>{-2,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,69}}</string>
        <key>sourceSize</key>
        <string>{91,69}</string>
      </dict>
      <key>player_3019_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{86,82}}</string>
        <key>offset</key>
        <string>{-9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>player_3019_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,166},{78,73}}</string>
        <key>offset</key>
        <string>{-17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,73}}</string>
        <key>sourceSize</key>
        <string>{78,73}</string>
      </dict>
      <key>player_3019_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,262},{82,60}}</string>
        <key>offset</key>
        <string>{-18,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{82,60}</string>
      </dict>
      <key>player_3019_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,313},{70,71}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_3019_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,401},{75,68}}</string>
        <key>offset</key>
        <string>{-1,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,68}}</string>
        <key>sourceSize</key>
        <string>{75,68}</string>
      </dict>
      <key>player_3019_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{73,62}}</string>
        <key>offset</key>
        <string>{2,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,62}}</string>
        <key>sourceSize</key>
        <string>{73,62}</string>
      </dict>
      <key>player_3019_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{79,70}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,70}}</string>
        <key>sourceSize</key>
        <string>{79,70}</string>
      </dict>
      <key>player_3019_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,381},{68,84}}</string>
        <key>offset</key>
        <string>{-13,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,84}}</string>
        <key>sourceSize</key>
        <string>{68,84}</string>
      </dict>
      <key>player_3019_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,231},{71,64}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,64}}</string>
        <key>sourceSize</key>
        <string>{71,64}</string>
      </dict>
      <key>player_3019_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,391},{62,72}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,72}}</string>
        <key>sourceSize</key>
        <string>{62,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3019_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3019_1_2.png</string>
    </dict>
  </dict>
</plist>