<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_5002_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{143,132}}</string>
        <key>offset</key>
        <string>{-49,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,132}}</string>
        <key>sourceSize</key>
        <string>{143,132}</string>
      </dict>
      <key>player_5002_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{146,138}}</string>
        <key>offset</key>
        <string>{-50,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>player_5002_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,138}}</string>
        <key>offset</key>
        <string>{-54,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,138}}</string>
        <key>sourceSize</key>
        <string>{151,138}</string>
      </dict>
      <key>player_5002_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,301},{141,135}}</string>
        <key>offset</key>
        <string>{-42,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,135}}</string>
        <key>sourceSize</key>
        <string>{141,135}</string>
      </dict>
      <key>player_5002_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{140,137}}</string>
        <key>offset</key>
        <string>{-42,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,137}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>player_5002_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,139},{140,136}}</string>
        <key>offset</key>
        <string>{-42,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,136}}</string>
        <key>sourceSize</key>
        <string>{140,136}</string>
      </dict>
      <key>player_5002_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,281},{138,133}}</string>
        <key>offset</key>
        <string>{-37,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,133}}</string>
        <key>sourceSize</key>
        <string>{138,133}</string>
      </dict>
      <key>player_5002_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,139},{136,124}}</string>
        <key>offset</key>
        <string>{-37,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,124}}</string>
        <key>sourceSize</key>
        <string>{136,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_5002_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_5002_0_11.png</string>
    </dict>
  </dict>
</plist>