<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20003_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,660},{122,70}}</string>
        <key>offset</key>
        <string>{-70,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{32,106},{122,70}}</string>
        <key>sourceSize</key>
        <string>{156,177}</string>
      </dict>
      <key>player_20003_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,694},{124,116}}</string>
        <key>offset</key>
        <string>{-71,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,60},{124,116}}</string>
        <key>sourceSize</key>
        <string>{160,177}</string>
      </dict>
      <key>player_20003_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,580},{130,110}}</string>
        <key>offset</key>
        <string>{-72,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,61},{130,110}}</string>
        <key>sourceSize</key>
        <string>{164,172}</string>
      </dict>
      <key>player_20003_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,770},{112,114}}</string>
        <key>offset</key>
        <string>{-74,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{23,69},{112,114}}</string>
        <key>sourceSize</key>
        <string>{136,184}</string>
      </dict>
      <key>player_20003_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{102,148}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,33},{102,148}}</string>
        <key>sourceSize</key>
        <string>{148,182}</string>
      </dict>
      <key>player_20003_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,338},{112,146}}</string>
        <key>offset</key>
        <string>{-65,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{42,32},{112,146}}</string>
        <key>sourceSize</key>
        <string>{156,179}</string>
      </dict>
      <key>player_20003_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,448},{130,146}}</string>
        <key>offset</key>
        <string>{-79,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,30},{130,146}}</string>
        <key>sourceSize</key>
        <string>{144,177}</string>
      </dict>
      <key>player_20003_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,80},{112,158}}</string>
        <key>offset</key>
        <string>{-68,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{37,13},{112,158}}</string>
        <key>sourceSize</key>
        <string>{152,172}</string>
      </dict>
      <key>player_20003_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{118,158}}</string>
        <key>offset</key>
        <string>{-66,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{40,13},{118,158}}</string>
        <key>sourceSize</key>
        <string>{160,172}</string>
      </dict>
      <key>player_20003_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{136,160}}</string>
        <key>offset</key>
        <string>{-76,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{19,13},{136,160}}</string>
        <key>sourceSize</key>
        <string>{156,174}</string>
      </dict>
      <key>player_20003_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,210},{126,148}}</string>
        <key>offset</key>
        <string>{-72,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{28,15},{126,148}}</string>
        <key>sourceSize</key>
        <string>{156,164}</string>
      </dict>
      <key>player_20003_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,318},{128,148}}</string>
        <key>offset</key>
        <string>{-73,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{28,14},{128,148}}</string>
        <key>sourceSize</key>
        <string>{160,163}</string>
      </dict>
      <key>player_20003_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{122,146}}</string>
        <key>offset</key>
        <string>{-53,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,25},{122,146}}</string>
        <key>sourceSize</key>
        <string>{188,172}</string>
      </dict>
      <key>player_20003_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,194},{122,152}}</string>
        <key>offset</key>
        <string>{-53,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,17},{122,152}}</string>
        <key>sourceSize</key>
        <string>{188,170}</string>
      </dict>
      <key>player_20003_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,86},{122,154}}</string>
        <key>offset</key>
        <string>{-54,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,13},{122,154}}</string>
        <key>sourceSize</key>
        <string>{192,168}</string>
      </dict>
      <key>player_20003_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,546},{112,144}}</string>
        <key>offset</key>
        <string>{-45,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,31},{112,144}}</string>
        <key>sourceSize</key>
        <string>{200,176}</string>
      </dict>
      <key>player_20003_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{78,160}}</string>
        <key>offset</key>
        <string>{-37,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{97,12},{78,160}}</string>
        <key>sourceSize</key>
        <string>{176,173}</string>
      </dict>
      <key>player_20003_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{84,160}}</string>
        <key>offset</key>
        <string>{-40,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,11},{84,160}}</string>
        <key>sourceSize</key>
        <string>{180,172}</string>
      </dict>
      <key>player_20003_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,586},{128,106}}</string>
        <key>offset</key>
        <string>{-49,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{76,66},{128,106}}</string>
        <key>sourceSize</key>
        <string>{208,173}</string>
      </dict>
      <key>player_20003_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{98,148}}</string>
        <key>offset</key>
        <string>{-45,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{83,32},{98,148}}</string>
        <key>sourceSize</key>
        <string>{184,181}</string>
      </dict>
      <key>player_20003_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,452},{92,146}}</string>
        <key>offset</key>
        <string>{-42,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{87,32},{92,146}}</string>
        <key>sourceSize</key>
        <string>{180,179}</string>
      </dict>
      <key>player_20003_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,338},{136,58}}</string>
        <key>offset</key>
        <string>{-55,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,102},{136,58}}</string>
        <key>sourceSize</key>
        <string>{204,161}</string>
      </dict>
      <key>player_20003_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,660},{126,108}}</string>
        <key>offset</key>
        <string>{-53,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{65,64},{126,108}}</string>
        <key>sourceSize</key>
        <string>{192,173}</string>
      </dict>
      <key>player_20003_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,692},{126,106}}</string>
        <key>offset</key>
        <string>{-54,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{64,64},{126,106}}</string>
        <key>sourceSize</key>
        <string>{192,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20003_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_20003_0_7.png</string>
    </dict>
  </dict>
</plist>