<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21020_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,76}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>player_21020_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{68,75}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_21020_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{68,75}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_21020_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,233},{68,75}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_21020_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{72,76}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>player_21020_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{70,75}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_21020_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,77},{70,74}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,74}}</string>
        <key>sourceSize</key>
        <string>{70,74}</string>
      </dict>
      <key>player_21020_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{70,75}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_21020_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,303},{72,72}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>player_21020_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,153},{73,71}}</string>
        <key>offset</key>
        <string>{-3,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>player_21020_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,76},{73,71}}</string>
        <key>offset</key>
        <string>{-3,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,71}}</string>
        <key>sourceSize</key>
        <string>{73,71}</string>
      </dict>
      <key>player_21020_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{74,71}}</string>
        <key>offset</key>
        <string>{-4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
      <key>player_21020_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{73,69}}</string>
        <key>offset</key>
        <string>{-4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,69}}</string>
        <key>sourceSize</key>
        <string>{73,69}</string>
      </dict>
      <key>player_21020_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,228},{72,69}}</string>
        <key>offset</key>
        <string>{-3,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,69}}</string>
        <key>sourceSize</key>
        <string>{72,69}</string>
      </dict>
      <key>player_21020_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{71,70}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>player_21020_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,228},{73,70}}</string>
        <key>offset</key>
        <string>{-4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,70}}</string>
        <key>sourceSize</key>
        <string>{73,70}</string>
      </dict>
      <key>player_21020_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,375},{69,70}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_21020_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,302},{69,70}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_21020_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,223},{68,70}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_21020_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,149},{68,70}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_21020_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,151},{58,72}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>player_21020_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,75},{58,72}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>player_21020_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,149},{58,72}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>player_21020_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,75},{58,72}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,72}}</string>
        <key>sourceSize</key>
        <string>{58,72}</string>
      </dict>
      <key>player_21020_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,377},{54,71}}</string>
        <key>offset</key>
        <string>{15,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_21020_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,450},{54,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_21020_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,377},{54,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_21020_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,302},{54,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_21020_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,387},{61,75}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,75}}</string>
        <key>sourceSize</key>
        <string>{61,75}</string>
      </dict>
      <key>player_21020_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,156},{62,75}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,75}}</string>
        <key>sourceSize</key>
        <string>{62,75}</string>
      </dict>
      <key>player_21020_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,233},{62,75}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,75}}</string>
        <key>sourceSize</key>
        <string>{62,75}</string>
      </dict>
      <key>player_21020_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,310},{61,75}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,75}}</string>
        <key>sourceSize</key>
        <string>{61,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21020_0_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_21020_0_0.png</string>
    </dict>
  </dict>
</plist>