<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3010_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,75}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3010_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{63,74}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,74}}</string>
        <key>sourceSize</key>
        <string>{63,74}</string>
      </dict>
      <key>player_3010_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{64,74}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,74}}</string>
        <key>sourceSize</key>
        <string>{64,74}</string>
      </dict>
      <key>player_3010_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{63,75}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
      <key>player_3010_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,77},{68,74}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
      <key>player_3010_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{67,73}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,73}}</string>
        <key>sourceSize</key>
        <string>{67,73}</string>
      </dict>
      <key>player_3010_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,229},{67,73}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,73}}</string>
        <key>sourceSize</key>
        <string>{67,73}</string>
      </dict>
      <key>player_3010_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,153},{68,74}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,74}}</string>
        <key>sourceSize</key>
        <string>{68,74}</string>
      </dict>
      <key>player_3010_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,304},{67,70}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_3010_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,376},{66,70}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>player_3010_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,76},{66,70}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>player_3010_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{68,70}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,70}}</string>
        <key>sourceSize</key>
        <string>{68,70}</string>
      </dict>
      <key>player_3010_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{67,68}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>player_3010_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,364},{66,68}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_3010_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,291},{67,68}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>player_3010_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,220},{69,68}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,68}}</string>
        <key>sourceSize</key>
        <string>{69,68}</string>
      </dict>
      <key>player_3010_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,214},{64,68}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>player_3010_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,143},{63,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,68}}</string>
        <key>sourceSize</key>
        <string>{63,68}</string>
      </dict>
      <key>player_3010_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,70},{63,68}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,68}}</string>
        <key>sourceSize</key>
        <string>{63,68}</string>
      </dict>
      <key>player_3010_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,0},{64,68}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>player_3010_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,448},{60,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_3010_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,148},{60,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_3010_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,220},{59,70}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>player_3010_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,292},{60,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_3010_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,148},{57,69}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,69}}</string>
        <key>sourceSize</key>
        <string>{57,69}</string>
      </dict>
      <key>player_3010_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,72},{56,69}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>player_3010_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,143},{55,69}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,69}}</string>
        <key>sourceSize</key>
        <string>{55,69}</string>
      </dict>
      <key>player_3010_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,72},{56,69}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>player_3010_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{62,74}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
      <key>player_3010_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{62,73}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,73}}</string>
        <key>sourceSize</key>
        <string>{62,73}</string>
      </dict>
      <key>player_3010_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,381},{62,73}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,73}}</string>
        <key>sourceSize</key>
        <string>{62,73}</string>
      </dict>
      <key>player_3010_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{62,74}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3010_1_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3010_1_0.png</string>
    </dict>
  </dict>
</plist>