<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21011_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,88},{63,74}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,74}}</string>
        <key>sourceSize</key>
        <string>{63,74}</string>
      </dict>
      <key>player_21011_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{58,73}}</string>
        <key>offset</key>
        <string>{6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,73}}</string>
        <key>sourceSize</key>
        <string>{58,73}</string>
      </dict>
      <key>player_21011_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{75,70}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,70}}</string>
        <key>sourceSize</key>
        <string>{75,70}</string>
      </dict>
      <key>player_21011_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{73,65}}</string>
        <key>offset</key>
        <string>{0,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,65}}</string>
        <key>sourceSize</key>
        <string>{73,65}</string>
      </dict>
      <key>player_21011_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,60}}</string>
        <key>offset</key>
        <string>{-12,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,60}}</string>
        <key>sourceSize</key>
        <string>{86,60}</string>
      </dict>
      <key>player_21011_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{85,56}}</string>
        <key>offset</key>
        <string>{-12,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,56}}</string>
        <key>sourceSize</key>
        <string>{85,56}</string>
      </dict>
      <key>player_21011_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{71,54}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,54}}</string>
        <key>sourceSize</key>
        <string>{71,54}</string>
      </dict>
      <key>player_21011_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,73},{69,54}}</string>
        <key>offset</key>
        <string>{-6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,54}}</string>
        <key>sourceSize</key>
        <string>{69,54}</string>
      </dict>
      <key>player_21011_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,132},{60,57}}</string>
        <key>offset</key>
        <string>{6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>player_21011_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,67},{57,51}}</string>
        <key>offset</key>
        <string>{2,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,51}}</string>
        <key>sourceSize</key>
        <string>{57,51}</string>
      </dict>
      <key>player_21011_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,194},{59,58}}</string>
        <key>offset</key>
        <string>{6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,58}}</string>
        <key>sourceSize</key>
        <string>{59,58}</string>
      </dict>
      <key>player_21011_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,67},{63,53}}</string>
        <key>offset</key>
        <string>{-1,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>player_21011_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{65,59}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>player_21011_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,146},{67,55}}</string>
        <key>offset</key>
        <string>{-1,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,55}}</string>
        <key>sourceSize</key>
        <string>{67,55}</string>
      </dict>
      <key>player_21011_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,75},{61,69}}</string>
        <key>offset</key>
        <string>{2,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,69}}</string>
        <key>sourceSize</key>
        <string>{61,69}</string>
      </dict>
      <key>player_21011_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,144},{60,68}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21011_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_21011_1_8.png</string>
    </dict>
  </dict>
</plist>