<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0524_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,594},{178,166}}</string>
        <key>offset</key>
        <string>{-64,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{178,166}</string>
        <key>sourceSize</key>
        <string>{178,166}</string>
      </dict>
      <key>player_0524_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,762},{168,166}}</string>
        <key>offset</key>
        <string>{-59,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{168,166}</string>
        <key>sourceSize</key>
        <string>{168,166}</string>
      </dict>
      <key>player_0524_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{182,194}}</string>
        <key>offset</key>
        <string>{-78,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{182,194}</string>
        <key>sourceSize</key>
        <string>{182,194}</string>
      </dict>
      <key>player_0524_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{184,192}}</string>
        <key>offset</key>
        <string>{-77,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{184,192}</string>
        <key>sourceSize</key>
        <string>{184,192}</string>
      </dict>
      <key>player_0524_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,273},{117,184}}</string>
        <key>offset</key>
        <string>{-33,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{117,184}</string>
        <key>sourceSize</key>
        <string>{117,184}</string>
      </dict>
      <key>player_0524_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{125,208}}</string>
        <key>offset</key>
        <string>{-37,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{125,208}</string>
        <key>sourceSize</key>
        <string>{125,208}</string>
      </dict>
      <key>player_0524_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{172,190}}</string>
        <key>offset</key>
        <string>{-75,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,190}</string>
        <key>sourceSize</key>
        <string>{172,190}</string>
      </dict>
      <key>player_0524_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,273},{158,193}}</string>
        <key>offset</key>
        <string>{-72,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{158,193}</string>
        <key>sourceSize</key>
        <string>{158,193}</string>
      </dict>
      <key>player_0524_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,762},{174,145}}</string>
        <key>offset</key>
        <string>{-60,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{174,145}</string>
        <key>sourceSize</key>
        <string>{174,145}</string>
      </dict>
      <key>player_0524_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{165,155}}</string>
        <key>offset</key>
        <string>{-56,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,155}</string>
        <key>sourceSize</key>
        <string>{165,155}</string>
      </dict>
      <key>player_0524_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,433},{159,191}}</string>
        <key>offset</key>
        <string>{-31,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{159,191}</string>
        <key>sourceSize</key>
        <string>{159,191}</string>
      </dict>
      <key>player_0524_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,748},{181,178}}</string>
        <key>offset</key>
        <string>{-53,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{181,178}</string>
        <key>sourceSize</key>
        <string>{181,178}</string>
      </dict>
      <key>player_0524_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,216}}</string>
        <key>offset</key>
        <string>{-2,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{87,216}</string>
        <key>sourceSize</key>
        <string>{87,216}</string>
      </dict>
      <key>player_0524_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{113,200}}</string>
        <key>offset</key>
        <string>{-25,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{113,200}</string>
        <key>sourceSize</key>
        <string>{113,200}</string>
      </dict>
      <key>player_0524_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,127},{144,195}}</string>
        <key>offset</key>
        <string>{-17,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,195}</string>
        <key>sourceSize</key>
        <string>{144,195}</string>
      </dict>
      <key>player_0524_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{124,187}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{124,187}</string>
        <key>sourceSize</key>
        <string>{124,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0524_1_8.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0524_1_8.png</string>
    </dict>
  </dict>
</plist>