<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3010_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,94},{83,75}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,75}}</string>
        <key>sourceSize</key>
        <string>{83,75}</string>
      </dict>
      <key>player_3010_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,155},{59,74}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,74}}</string>
        <key>sourceSize</key>
        <string>{59,74}</string>
      </dict>
      <key>player_3010_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,376},{79,82}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>player_3010_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,135},{66,68}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,68}}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>player_3010_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,179},{81,66}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,66}}</string>
        <key>sourceSize</key>
        <string>{81,66}</string>
      </dict>
      <key>player_3010_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,167},{77,75}}</string>
        <key>offset</key>
        <string>{2,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>player_3010_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,262},{81,71}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>player_3010_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,246},{73,72}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,72}}</string>
        <key>sourceSize</key>
        <string>{73,72}</string>
      </dict>
      <key>player_3010_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{92,79}}</string>
        <key>offset</key>
        <string>{-1,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,79}}</string>
        <key>sourceSize</key>
        <string>{92,79}</string>
      </dict>
      <key>player_3010_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,78},{66,75}}</string>
        <key>offset</key>
        <string>{5,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,75}}</string>
        <key>sourceSize</key>
        <string>{66,75}</string>
      </dict>
      <key>player_3010_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{79,72}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>player_3010_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,179},{81,71}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>player_3010_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,345},{79,67}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,67}}</string>
        <key>sourceSize</key>
        <string>{79,67}</string>
      </dict>
      <key>player_3010_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,282},{73,70}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,70}}</string>
        <key>sourceSize</key>
        <string>{73,70}</string>
      </dict>
      <key>player_3010_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,69}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,69}}</string>
        <key>sourceSize</key>
        <string>{94,69}</string>
      </dict>
      <key>player_3010_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,262},{79,67}}</string>
        <key>offset</key>
        <string>{1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,67}}</string>
        <key>sourceSize</key>
        <string>{79,67}</string>
      </dict>
      <key>player_3010_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,81},{77,66}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>player_3010_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{94,66}}</string>
        <key>offset</key>
        <string>{-21,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,66}}</string>
        <key>sourceSize</key>
        <string>{94,66}</string>
      </dict>
      <key>player_3010_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,426},{68,64}}</string>
        <key>offset</key>
        <string>{7,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>player_3010_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,282},{67,70}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_3010_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,343},{78,66}}</string>
        <key>offset</key>
        <string>{10,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,66}}</string>
        <key>sourceSize</key>
        <string>{78,66}</string>
      </dict>
      <key>player_3010_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,378},{88,64}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,64}}</string>
        <key>sourceSize</key>
        <string>{88,64}</string>
      </dict>
      <key>player_3010_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{90,66}}</string>
        <key>offset</key>
        <string>{-13,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,66}}</string>
        <key>sourceSize</key>
        <string>{90,66}</string>
      </dict>
      <key>player_3010_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{89,61}}</string>
        <key>offset</key>
        <string>{-18,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,61}}</string>
        <key>sourceSize</key>
        <string>{89,61}</string>
      </dict>
      <key>player_3010_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,354},{70,65}}</string>
        <key>offset</key>
        <string>{1,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,65}}</string>
        <key>sourceSize</key>
        <string>{70,65}</string>
      </dict>
      <key>player_3010_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,211},{69,70}}</string>
        <key>offset</key>
        <string>{2,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_3010_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,282},{69,61}}</string>
        <key>offset</key>
        <string>{3,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,61}}</string>
        <key>sourceSize</key>
        <string>{69,61}</string>
      </dict>
      <key>player_3010_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,429},{71,59}}</string>
        <key>offset</key>
        <string>{2,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,59}}</string>
        <key>sourceSize</key>
        <string>{71,59}</string>
      </dict>
      <key>player_3010_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,426},{79,62}}</string>
        <key>offset</key>
        <string>{-6,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,62}}</string>
        <key>sourceSize</key>
        <string>{79,62}</string>
      </dict>
      <key>player_3010_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{76,70}}</string>
        <key>offset</key>
        <string>{-4,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>player_3010_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,353},{64,67}}</string>
        <key>offset</key>
        <string>{-1,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>player_3010_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,354},{72,73}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,73}}</string>
        <key>sourceSize</key>
        <string>{72,73}</string>
      </dict>
      <key>player_3010_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{75,64}}</string>
        <key>offset</key>
        <string>{-10,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,64}}</string>
        <key>sourceSize</key>
        <string>{75,64}</string>
      </dict>
      <key>player_3010_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,429},{73,62}}</string>
        <key>offset</key>
        <string>{-7,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,62}}</string>
        <key>sourceSize</key>
        <string>{73,62}</string>
      </dict>
      <key>player_3010_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,85},{80,71}}</string>
        <key>offset</key>
        <string>{-6,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,71}}</string>
        <key>sourceSize</key>
        <string>{80,71}</string>
      </dict>
      <key>player_3010_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{71,75}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>player_3010_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,211},{69,74}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>player_3010_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{83,72}}</string>
        <key>offset</key>
        <string>{-13,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,72}}</string>
        <key>sourceSize</key>
        <string>{83,72}</string>
      </dict>
      <key>player_3010_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,426},{79,76}}</string>
        <key>offset</key>
        <string>{-18,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,76}}</string>
        <key>sourceSize</key>
        <string>{79,76}</string>
      </dict>
      <key>player_3010_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,73},{75,60}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,60}}</string>
        <key>sourceSize</key>
        <string>{75,60}</string>
      </dict>
      <key>player_3010_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,429},{73,69}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,69}}</string>
        <key>sourceSize</key>
        <string>{73,69}</string>
      </dict>
      <key>player_3010_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,286},{88,62}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,62}}</string>
        <key>sourceSize</key>
        <string>{88,62}</string>
      </dict>
      <key>player_3010_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,135},{75,74}}</string>
        <key>offset</key>
        <string>{-9,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,74}}</string>
        <key>sourceSize</key>
        <string>{75,74}</string>
      </dict>
      <key>player_3010_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,354},{73,69}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,69}}</string>
        <key>sourceSize</key>
        <string>{73,69}</string>
      </dict>
      <key>player_3010_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,276},{66,82}}</string>
        <key>offset</key>
        <string>{-12,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,82}}</string>
        <key>sourceSize</key>
        <string>{66,82}</string>
      </dict>
      <key>player_3010_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,190},{84,55}}</string>
        <key>offset</key>
        <string>{-10,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,55}}</string>
        <key>sourceSize</key>
        <string>{84,55}</string>
      </dict>
      <key>player_3010_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,96},{92,62}}</string>
        <key>offset</key>
        <string>{-5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,62}}</string>
        <key>sourceSize</key>
        <string>{92,62}</string>
      </dict>
      <key>player_3010_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{92,67}}</string>
        <key>offset</key>
        <string>{-1,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,67}}</string>
        <key>sourceSize</key>
        <string>{92,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3010_1_10.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3010_1_10.png</string>
    </dict>
  </dict>
</plist>