<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0509_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,558},{196,224}}</string>
        <key>offset</key>
        <string>{-219,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,80},{196,224}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{150,248}}</string>
        <key>offset</key>
        <string>{-215,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{120,43},{150,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{184,240}}</string>
        <key>offset</key>
        <string>{-228,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{90,48},{184,240}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,348},{228,208}}</string>
        <key>offset</key>
        <string>{-207,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,74},{228,208}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,152},{194,248}}</string>
        <key>offset</key>
        <string>{-182,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{131,46},{194,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{152,252}}</string>
        <key>offset</key>
        <string>{-186,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{148,40},{152,252}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{198,228}}</string>
        <key>offset</key>
        <string>{-177,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{134,68},{198,228}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{230,198}}</string>
        <key>offset</key>
        <string>{-194,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{101,110},{230,198}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0509_0_11.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_0509_0_11.png</string>
    </dict>
  </dict>
</plist>