<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0522_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,658},{102,103}}</string>
        <key>offset</key>
        <string>{-30,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{102,103}</string>
        <key>sourceSize</key>
        <string>{102,103}</string>
      </dict>
      <key>player_0522_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,774},{98,91}}</string>
        <key>offset</key>
        <string>{-40,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{98,91}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>player_0522_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,574},{104,100}}</string>
        <key>offset</key>
        <string>{-29,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{104,100}</string>
        <key>sourceSize</key>
        <string>{104,100}</string>
      </dict>
      <key>player_0522_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,77},{101,116}}</string>
        <key>offset</key>
        <string>{-34,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{101,116}</string>
        <key>sourceSize</key>
        <string>{101,116}</string>
      </dict>
      <key>player_0522_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,142},{100,115}}</string>
        <key>offset</key>
        <string>{-32,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,115}</string>
        <key>sourceSize</key>
        <string>{100,115}</string>
      </dict>
      <key>player_0522_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,224},{103,112}}</string>
        <key>offset</key>
        <string>{-30,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{103,112}</string>
        <key>sourceSize</key>
        <string>{103,112}</string>
      </dict>
      <key>player_0522_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{81,115}}</string>
        <key>offset</key>
        <string>{-20,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{81,115}</string>
        <key>sourceSize</key>
        <string>{81,115}</string>
      </dict>
      <key>player_0522_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,441},{65,108}}</string>
        <key>offset</key>
        <string>{-15,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,108}</string>
        <key>sourceSize</key>
        <string>{65,108}</string>
      </dict>
      <key>player_0522_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{74,117}}</string>
        <key>offset</key>
        <string>{-11,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{74,117}</string>
        <key>sourceSize</key>
        <string>{74,117}</string>
      </dict>
      <key>player_0522_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,481},{103,107}}</string>
        <key>offset</key>
        <string>{-21,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{103,107}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>player_0522_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,336},{103,109}}</string>
        <key>offset</key>
        <string>{-27,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{103,109}</string>
        <key>sourceSize</key>
        <string>{103,109}</string>
      </dict>
      <key>player_0522_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,133},{89,114}}</string>
        <key>offset</key>
        <string>{-20,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,114}</string>
        <key>sourceSize</key>
        <string>{89,114}</string>
      </dict>
      <key>player_0522_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,68},{59,118}}</string>
        <key>offset</key>
        <string>{-2,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{59,118}</string>
        <key>sourceSize</key>
        <string>{59,118}</string>
      </dict>
      <key>player_0522_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,508},{64,107}}</string>
        <key>offset</key>
        <string>{-2,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{64,107}</string>
        <key>sourceSize</key>
        <string>{64,107}</string>
      </dict>
      <key>player_0522_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,180},{67,113}}</string>
        <key>offset</key>
        <string>{2,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,113}</string>
        <key>sourceSize</key>
        <string>{67,113}</string>
      </dict>
      <key>player_0522_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,460},{90,108}}</string>
        <key>offset</key>
        <string>{-10,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,108}</string>
        <key>sourceSize</key>
        <string>{90,108}</string>
      </dict>
      <key>player_0522_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{87,109}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{87,109}</string>
        <key>sourceSize</key>
        <string>{87,109}</string>
      </dict>
      <key>player_0522_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,126}}</string>
        <key>offset</key>
        <string>{-9,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,126}</string>
        <key>sourceSize</key>
        <string>{66,126}</string>
      </dict>
      <key>player_0522_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,586},{79,102}}</string>
        <key>offset</key>
        <string>{-13,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{79,102}</string>
        <key>sourceSize</key>
        <string>{79,102}</string>
      </dict>
      <key>player_0522_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,854},{92,99}}</string>
        <key>offset</key>
        <string>{-16,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{92,99}</string>
        <key>sourceSize</key>
        <string>{92,99}</string>
      </dict>
      <key>player_0522_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,914},{88,91}}</string>
        <key>offset</key>
        <string>{-11,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{88,91}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>player_0522_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,673},{83,99}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{83,99}</string>
        <key>sourceSize</key>
        <string>{83,99}</string>
      </dict>
      <key>player_0522_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,834},{78,97}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{78,97}</string>
        <key>sourceSize</key>
        <string>{78,97}</string>
      </dict>
      <key>player_0522_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,569},{72,102}}</string>
        <key>offset</key>
        <string>{-5,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{72,102}</string>
        <key>sourceSize</key>
        <string>{72,102}</string>
      </dict>
      <key>player_0522_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,744},{99,90}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,90}</string>
        <key>sourceSize</key>
        <string>{99,90}</string>
      </dict>
      <key>player_0522_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,329},{98,109}}</string>
        <key>offset</key>
        <string>{-8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{98,109}</string>
        <key>sourceSize</key>
        <string>{98,109}</string>
      </dict>
      <key>player_0522_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{104,105}}</string>
        <key>offset</key>
        <string>{-25,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{104,105}</string>
        <key>sourceSize</key>
        <string>{104,105}</string>
      </dict>
      <key>player_0522_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,858},{95,86}}</string>
        <key>offset</key>
        <string>{-15,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{95,86}</string>
        <key>sourceSize</key>
        <string>{95,86}</string>
      </dict>
      <key>player_0522_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,751},{98,81}}</string>
        <key>offset</key>
        <string>{-17,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{98,81}</string>
        <key>sourceSize</key>
        <string>{98,81}</string>
      </dict>
      <key>player_0522_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,655},{102,87}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{102,87}</string>
        <key>sourceSize</key>
        <string>{102,87}</string>
      </dict>
      <key>player_0522_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,487},{80,103}}</string>
        <key>offset</key>
        <string>{-12,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{80,103}</string>
        <key>sourceSize</key>
        <string>{80,103}</string>
      </dict>
      <key>player_0522_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{67,117}}</string>
        <key>offset</key>
        <string>{0,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,117}</string>
        <key>sourceSize</key>
        <string>{67,117}</string>
      </dict>
      <key>player_0522_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,66},{74,119}}</string>
        <key>offset</key>
        <string>{-13,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{74,119}</string>
        <key>sourceSize</key>
        <string>{74,119}</string>
      </dict>
      <key>player_0522_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,569},{103,84}}</string>
        <key>offset</key>
        <string>{-30,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{103,84}</string>
        <key>sourceSize</key>
        <string>{103,84}</string>
      </dict>
      <key>player_0522_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,667},{102,82}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{102,82}</string>
        <key>sourceSize</key>
        <string>{102,82}</string>
      </dict>
      <key>player_0522_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,676},{90,100}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,100}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>player_0522_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,429},{56,108}}</string>
        <key>offset</key>
        <string>{-6,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{56,108}</string>
        <key>sourceSize</key>
        <string>{56,108}</string>
      </dict>
      <key>player_0522_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,69},{62,117}}</string>
        <key>offset</key>
        <string>{-12,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{62,117}</string>
        <key>sourceSize</key>
        <string>{62,117}</string>
      </dict>
      <key>player_0522_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{64,121}}</string>
        <key>offset</key>
        <string>{-18,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{64,121}</string>
        <key>sourceSize</key>
        <string>{64,121}</string>
      </dict>
      <key>player_0522_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,768},{88,98}}</string>
        <key>offset</key>
        <string>{-30,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{88,98}</string>
        <key>sourceSize</key>
        <string>{88,98}</string>
      </dict>
      <key>player_0522_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,914},{86,94}}</string>
        <key>offset</key>
        <string>{-21,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{86,94}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>player_0522_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,413},{66,109}}</string>
        <key>offset</key>
        <string>{-6,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,109}</string>
        <key>sourceSize</key>
        <string>{66,109}</string>
      </dict>
      <key>player_0522_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,249},{78,111}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{78,111}</string>
        <key>sourceSize</key>
        <string>{78,111}</string>
      </dict>
      <key>player_0522_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{90,100}}</string>
        <key>offset</key>
        <string>{-24,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,100}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>player_0522_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,244},{90,113}}</string>
        <key>offset</key>
        <string>{-26,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,113}</string>
        <key>sourceSize</key>
        <string>{90,113}</string>
      </dict>
      <key>player_0522_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{81,113}}</string>
        <key>offset</key>
        <string>{-28,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{81,113}</string>
        <key>sourceSize</key>
        <string>{81,113}</string>
      </dict>
      <key>player_0522_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,329},{82,111}}</string>
        <key>offset</key>
        <string>{-23,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{82,111}</string>
        <key>sourceSize</key>
        <string>{82,111}</string>
      </dict>
      <key>player_0522_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{75,120}}</string>
        <key>offset</key>
        <string>{-19,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{75,120}</string>
        <key>sourceSize</key>
        <string>{75,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0522_1_10.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_0522_1_10.png</string>
    </dict>
  </dict>
</plist>