<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0523_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,197},{185,145}}</string>
        <key>offset</key>
        <string>{-69,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,145}</string>
        <key>sourceSize</key>
        <string>{185,145}</string>
      </dict>
      <key>player_0523_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,629},{201,137}}</string>
        <key>offset</key>
        <string>{-76,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{201,137}</string>
        <key>sourceSize</key>
        <string>{201,137}</string>
      </dict>
      <key>player_0523_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,206},{195,151}}</string>
        <key>offset</key>
        <string>{-75,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{195,151}</string>
        <key>sourceSize</key>
        <string>{195,151}</string>
      </dict>
      <key>player_0523_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,0},{169,144}}</string>
        <key>offset</key>
        <string>{-61,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,144}</string>
        <key>sourceSize</key>
        <string>{169,144}</string>
      </dict>
      <key>player_0523_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,356},{155,163}}</string>
        <key>offset</key>
        <string>{-74,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{155,163}</string>
        <key>sourceSize</key>
        <string>{155,163}</string>
      </dict>
      <key>player_0523_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,771},{160,165}}</string>
        <key>offset</key>
        <string>{-78,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{160,165}</string>
        <key>sourceSize</key>
        <string>{160,165}</string>
      </dict>
      <key>player_0523_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,549},{161,165}}</string>
        <key>offset</key>
        <string>{-79,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,165}</string>
        <key>sourceSize</key>
        <string>{161,165}</string>
      </dict>
      <key>player_0523_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,339},{160,162}}</string>
        <key>offset</key>
        <string>{-78,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,162}</string>
        <key>sourceSize</key>
        <string>{160,162}</string>
      </dict>
      <key>player_0523_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,593},{108,187}}</string>
        <key>offset</key>
        <string>{-39,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{108,187}</string>
        <key>sourceSize</key>
        <string>{108,187}</string>
      </dict>
      <key>player_0523_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{108,185}}</string>
        <key>offset</key>
        <string>{-37,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{108,185}</string>
        <key>sourceSize</key>
        <string>{108,185}</string>
      </dict>
      <key>player_0523_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,182},{130,172}}</string>
        <key>offset</key>
        <string>{-50,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,172}</string>
        <key>sourceSize</key>
        <string>{130,172}</string>
      </dict>
      <key>player_0523_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,171},{125,166}}</string>
        <key>offset</key>
        <string>{-48,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{125,166}</string>
        <key>sourceSize</key>
        <string>{125,166}</string>
      </dict>
      <key>player_0523_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{156,195}}</string>
        <key>offset</key>
        <string>{-76,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,195}</string>
        <key>sourceSize</key>
        <string>{156,195}</string>
      </dict>
      <key>player_0523_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,625},{161,189}}</string>
        <key>offset</key>
        <string>{-82,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,189}</string>
        <key>sourceSize</key>
        <string>{161,189}</string>
      </dict>
      <key>player_0523_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{162,206}}</string>
        <key>offset</key>
        <string>{-84,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,206}</string>
        <key>sourceSize</key>
        <string>{162,206}</string>
      </dict>
      <key>player_0523_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{156,204}}</string>
        <key>offset</key>
        <string>{-77,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,204}</string>
        <key>sourceSize</key>
        <string>{156,204}</string>
      </dict>
      <key>player_0523_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,592},{174,177}}</string>
        <key>offset</key>
        <string>{-62,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{174,177}</string>
        <key>sourceSize</key>
        <string>{174,177}</string>
      </dict>
      <key>player_0523_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,403},{187,178}}</string>
        <key>offset</key>
        <string>{-68,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{187,178}</string>
        <key>sourceSize</key>
        <string>{187,178}</string>
      </dict>
      <key>player_0523_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,0},{180,179}}</string>
        <key>offset</key>
        <string>{-62,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,179}</string>
        <key>sourceSize</key>
        <string>{180,179}</string>
      </dict>
      <key>player_0523_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{158,171}}</string>
        <key>offset</key>
        <string>{-53,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{158,171}</string>
        <key>sourceSize</key>
        <string>{158,171}</string>
      </dict>
      <key>player_0523_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,782},{140,178}}</string>
        <key>offset</key>
        <string>{-12,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{140,178}</string>
        <key>sourceSize</key>
        <string>{140,178}</string>
      </dict>
      <key>player_0523_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,816},{149,188}}</string>
        <key>offset</key>
        <string>{-15,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{149,188}</string>
        <key>sourceSize</key>
        <string>{149,188}</string>
      </dict>
      <key>player_0523_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,832},{144,192}}</string>
        <key>offset</key>
        <string>{-10,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,192}</string>
        <key>sourceSize</key>
        <string>{144,192}</string>
      </dict>
      <key>player_0523_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,372},{138,175}}</string>
        <key>offset</key>
        <string>{-8,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{138,175}</string>
        <key>sourceSize</key>
        <string>{138,175}</string>
      </dict>
      <key>player_0523_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,403},{115,188}}</string>
        <key>offset</key>
        <string>{0,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{115,188}</string>
        <key>sourceSize</key>
        <string>{115,188}</string>
      </dict>
      <key>player_0523_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{103,214}}</string>
        <key>offset</key>
        <string>{0,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{103,214}</string>
        <key>sourceSize</key>
        <string>{103,214}</string>
      </dict>
      <key>player_0523_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{93,203}}</string>
        <key>offset</key>
        <string>{-1,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{93,203}</string>
        <key>sourceSize</key>
        <string>{93,203}</string>
      </dict>
      <key>player_0523_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,424},{99,199}}</string>
        <key>offset</key>
        <string>{-1,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,199}</string>
        <key>sourceSize</key>
        <string>{99,199}</string>
      </dict>
      <key>player_0523_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,784},{135,150}}</string>
        <key>offset</key>
        <string>{-13,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,150}</string>
        <key>sourceSize</key>
        <string>{135,150}</string>
      </dict>
      <key>player_0523_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,187},{156,183}}</string>
        <key>offset</key>
        <string>{-29,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{156,183}</string>
        <key>sourceSize</key>
        <string>{156,183}</string>
      </dict>
      <key>player_0523_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,501},{140,159}}</string>
        <key>offset</key>
        <string>{-10,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{140,159}</string>
        <key>sourceSize</key>
        <string>{140,159}</string>
      </dict>
      <key>player_0523_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,643},{139,152}}</string>
        <key>offset</key>
        <string>{-14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{139,152}</string>
        <key>sourceSize</key>
        <string>{139,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0523_1_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0523_1_0.png</string>
    </dict>
  </dict>
</plist>