<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20006_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,340},{150,140}}</string>
        <key>offset</key>
        <string>{-70,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,38},{150,140}}</string>
        <key>sourceSize</key>
        <string>{184,179}</string>
      </dict>
      <key>player_20006_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,214},{152,150}}</string>
        <key>offset</key>
        <string>{-71,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,31},{152,150}}</string>
        <key>sourceSize</key>
        <string>{184,182}</string>
      </dict>
      <key>player_20006_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,112},{120,166}}</string>
        <key>offset</key>
        <string>{-70,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{33,21},{120,166}}</string>
        <key>sourceSize</key>
        <string>{156,188}</string>
      </dict>
      <key>player_20006_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{120,168}}</string>
        <key>offset</key>
        <string>{-67,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,19},{120,168}}</string>
        <key>sourceSize</key>
        <string>{160,188}</string>
      </dict>
      <key>player_20006_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,122},{90,166}}</string>
        <key>offset</key>
        <string>{-54,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,11},{90,166}}</string>
        <key>sourceSize</key>
        <string>{160,178}</string>
      </dict>
      <key>player_20006_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{100,156}}</string>
        <key>offset</key>
        <string>{-57,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{58,19},{100,156}}</string>
        <key>sourceSize</key>
        <string>{160,176}</string>
      </dict>
      <key>player_20006_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,446},{112,138}}</string>
        <key>offset</key>
        <string>{-67,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,24},{112,138}}</string>
        <key>sourceSize</key>
        <string>{152,163}</string>
      </dict>
      <key>player_20006_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{124,132}}</string>
        <key>offset</key>
        <string>{-67,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{40,35},{124,132}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>player_20006_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{152,122}}</string>
        <key>offset</key>
        <string>{-68,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,46},{152,122}}</string>
        <key>sourceSize</key>
        <string>{188,169}</string>
      </dict>
      <key>player_20006_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,234},{152,104}}</string>
        <key>offset</key>
        <string>{-69,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,64},{152,104}}</string>
        <key>sourceSize</key>
        <string>{192,169}</string>
      </dict>
      <key>player_20006_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,420},{112,142}}</string>
        <key>offset</key>
        <string>{-50,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,25},{112,142}}</string>
        <key>sourceSize</key>
        <string>{188,168}</string>
      </dict>
      <key>player_20006_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,482},{120,132}}</string>
        <key>offset</key>
        <string>{-56,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{61,35},{120,132}}</string>
        <key>sourceSize</key>
        <string>{184,168}</string>
      </dict>
      <key>player_20006_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{66,162}}</string>
        <key>offset</key>
        <string>{-43,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{87,15},{66,162}}</string>
        <key>sourceSize</key>
        <string>{156,178}</string>
      </dict>
      <key>player_20006_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,366},{78,150}}</string>
        <key>offset</key>
        <string>{-46,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{82,24},{78,150}}</string>
        <key>sourceSize</key>
        <string>{164,175}</string>
      </dict>
      <key>player_20006_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{110,168}}</string>
        <key>offset</key>
        <string>{-51,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{69,20},{110,168}}</string>
        <key>sourceSize</key>
        <string>{180,189}</string>
      </dict>
      <key>player_20006_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,170}}</string>
        <key>offset</key>
        <string>{-59,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{54,19},{124,170}}</string>
        <key>sourceSize</key>
        <string>{180,190}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20006_1_8.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_20006_1_8.png</string>
    </dict>
  </dict>
</plist>