<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0520_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{175,137}}</string>
        <key>offset</key>
        <string>{-76,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,137}</string>
        <key>sourceSize</key>
        <string>{175,137}</string>
      </dict>
      <key>player_0520_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{96,175}}</string>
        <key>offset</key>
        <string>{-34,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{96,175}</string>
        <key>sourceSize</key>
        <string>{96,175}</string>
      </dict>
      <key>player_0520_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,363},{106,164}}</string>
        <key>offset</key>
        <string>{-38,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{106,164}</string>
        <key>sourceSize</key>
        <string>{106,164}</string>
      </dict>
      <key>player_0520_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,158}}</string>
        <key>offset</key>
        <string>{-73,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,158}</string>
        <key>sourceSize</key>
        <string>{180,158}</string>
      </dict>
      <key>player_0520_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,182},{177,159}}</string>
        <key>offset</key>
        <string>{-51,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{177,159}</string>
        <key>sourceSize</key>
        <string>{177,159}</string>
      </dict>
      <key>player_0520_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,98},{89,169}}</string>
        <key>offset</key>
        <string>{-5,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,169}</string>
        <key>sourceSize</key>
        <string>{89,169}</string>
      </dict>
      <key>player_0520_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,189},{89,169}}</string>
        <key>offset</key>
        <string>{-5,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,169}</string>
        <key>sourceSize</key>
        <string>{89,169}</string>
      </dict>
      <key>player_0520_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{179,133}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{179,133}</string>
        <key>sourceSize</key>
        <string>{179,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0520_1_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_0520_1_11.png</string>
    </dict>
  </dict>
</plist>