<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0516_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{207,102}}</string>
        <key>offset</key>
        <string>{-92,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{207,102}</string>
        <key>sourceSize</key>
        <string>{207,102}</string>
      </dict>
      <key>player_0516_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,633},{194,125}}</string>
        <key>offset</key>
        <string>{-90,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{194,125}</string>
        <key>sourceSize</key>
        <string>{194,125}</string>
      </dict>
      <key>player_0516_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{211,103}}</string>
        <key>offset</key>
        <string>{-89,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{211,103}</string>
        <key>sourceSize</key>
        <string>{211,103}</string>
      </dict>
      <key>player_0516_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,791},{146,170}}</string>
        <key>offset</key>
        <string>{-94,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,170}</string>
        <key>sourceSize</key>
        <string>{146,170}</string>
      </dict>
      <key>player_0516_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,391},{146,172}}</string>
        <key>offset</key>
        <string>{-86,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,172}</string>
        <key>sourceSize</key>
        <string>{146,172}</string>
      </dict>
      <key>player_0516_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,391},{146,160}}</string>
        <key>offset</key>
        <string>{-76,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,160}</string>
        <key>sourceSize</key>
        <string>{146,160}</string>
      </dict>
      <key>player_0516_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,829},{143,190}}</string>
        <key>offset</key>
        <string>{-87,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,190}</string>
        <key>sourceSize</key>
        <string>{143,190}</string>
      </dict>
      <key>player_0516_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,0},{161,183}}</string>
        <key>offset</key>
        <string>{-96,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,183}</string>
        <key>sourceSize</key>
        <string>{161,183}</string>
      </dict>
      <key>player_0516_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,608},{132,181}}</string>
        <key>offset</key>
        <string>{-57,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{132,181}</string>
        <key>sourceSize</key>
        <string>{132,181}</string>
      </dict>
      <key>player_0516_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,213},{201,160}}</string>
        <key>offset</key>
        <string>{-111,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{201,160}</string>
        <key>sourceSize</key>
        <string>{201,160}</string>
      </dict>
      <key>player_0516_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{207,162}}</string>
        <key>offset</key>
        <string>{-112,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{207,162}</string>
        <key>sourceSize</key>
        <string>{207,162}</string>
      </dict>
      <key>player_0516_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,201},{188,162}}</string>
        <key>offset</key>
        <string>{-95,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,162}</string>
        <key>sourceSize</key>
        <string>{188,162}</string>
      </dict>
      <key>player_0516_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,135}}</string>
        <key>offset</key>
        <string>{-69,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,135}</string>
        <key>sourceSize</key>
        <string>{212,135}</string>
      </dict>
      <key>player_0516_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{199,143}}</string>
        <key>offset</key>
        <string>{-58,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{199,143}</string>
        <key>sourceSize</key>
        <string>{199,143}</string>
      </dict>
      <key>player_0516_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{212,139}}</string>
        <key>offset</key>
        <string>{-74,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,139}</string>
        <key>sourceSize</key>
        <string>{212,139}</string>
      </dict>
      <key>player_0516_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,146},{140,138}}</string>
        <key>offset</key>
        <string>{5,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{140,138}</string>
        <key>sourceSize</key>
        <string>{140,138}</string>
      </dict>
      <key>player_0516_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{134,137}}</string>
        <key>offset</key>
        <string>{3,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{134,137}</string>
        <key>sourceSize</key>
        <string>{134,137}</string>
      </dict>
      <key>player_0516_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,565},{145,162}}</string>
        <key>offset</key>
        <string>{-20,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{145,162}</string>
        <key>sourceSize</key>
        <string>{145,162}</string>
      </dict>
      <key>player_0516_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,0},{136,127}}</string>
        <key>offset</key>
        <string>{-2,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,127}</string>
        <key>sourceSize</key>
        <string>{136,127}</string>
      </dict>
      <key>player_0516_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{144,126}}</string>
        <key>offset</key>
        <string>{-3,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{144,126}</string>
        <key>sourceSize</key>
        <string>{144,126}</string>
      </dict>
      <key>player_0516_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,185},{106,151}}</string>
        <key>offset</key>
        <string>{0,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{106,151}</string>
        <key>sourceSize</key>
        <string>{106,151}</string>
      </dict>
      <key>player_0516_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,846},{196,73}}</string>
        <key>offset</key>
        <string>{-41,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{196,73}</string>
        <key>sourceSize</key>
        <string>{196,73}</string>
      </dict>
      <key>player_0516_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,428},{203,81}}</string>
        <key>offset</key>
        <string>{-46,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{203,81}</string>
        <key>sourceSize</key>
        <string>{203,81}</string>
      </dict>
      <key>player_0516_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,416},{190,128}}</string>
        <key>offset</key>
        <string>{-46,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{190,128}</string>
        <key>sourceSize</key>
        <string>{190,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0516_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0516_0_7.png</string>
    </dict>
  </dict>
</plist>