<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3034_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,134},{112,115}}</string>
        <key>offset</key>
        <string>{-9,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,115}}</string>
        <key>sourceSize</key>
        <string>{112,115}</string>
      </dict>
      <key>player_3034_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{96,114}}</string>
        <key>offset</key>
        <string>{-3,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,114}}</string>
        <key>sourceSize</key>
        <string>{96,114}</string>
      </dict>
      <key>player_3034_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{133,117}}</string>
        <key>offset</key>
        <string>{-17,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,117}}</string>
        <key>sourceSize</key>
        <string>{133,117}</string>
      </dict>
      <key>player_3034_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,271},{127,116}}</string>
        <key>offset</key>
        <string>{-10,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,116}}</string>
        <key>sourceSize</key>
        <string>{127,116}</string>
      </dict>
      <key>player_3034_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{132,107}}</string>
        <key>offset</key>
        <string>{-21,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>player_3034_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,106}}</string>
        <key>offset</key>
        <string>{-18,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,106}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>player_3034_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,271},{130,87}}</string>
        <key>offset</key>
        <string>{-16,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,87}}</string>
        <key>sourceSize</key>
        <string>{130,87}</string>
      </dict>
      <key>player_3034_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,134},{125,92}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,92}}</string>
        <key>sourceSize</key>
        <string>{125,92}</string>
      </dict>
      <key>player_3034_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{119,81}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,81}}</string>
        <key>sourceSize</key>
        <string>{119,81}</string>
      </dict>
      <key>player_3034_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,116},{112,89}}</string>
        <key>offset</key>
        <string>{-15,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>player_3034_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,400},{118,85}}</string>
        <key>offset</key>
        <string>{-23,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,85}}</string>
        <key>sourceSize</key>
        <string>{118,85}</string>
      </dict>
      <key>player_3034_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,379},{115,85}}</string>
        <key>offset</key>
        <string>{-30,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,85}}</string>
        <key>sourceSize</key>
        <string>{115,85}</string>
      </dict>
      <key>player_3034_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,230},{111,96}}</string>
        <key>offset</key>
        <string>{-20,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,96}}</string>
        <key>sourceSize</key>
        <string>{111,96}</string>
      </dict>
      <key>player_3034_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,261},{116,84}}</string>
        <key>offset</key>
        <string>{-30,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,84}}</string>
        <key>sourceSize</key>
        <string>{116,84}</string>
      </dict>
      <key>player_3034_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,251},{108,115}}</string>
        <key>offset</key>
        <string>{-17,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,115}}</string>
        <key>sourceSize</key>
        <string>{108,115}</string>
      </dict>
      <key>player_3034_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,343},{91,103}}</string>
        <key>offset</key>
        <string>{-17,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,103}}</string>
        <key>sourceSize</key>
        <string>{91,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3034_1_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3034_1_8.png</string>
    </dict>
  </dict>
</plist>