<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21019_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{63,72}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,72}}</string>
        <key>sourceSize</key>
        <string>{63,72}</string>
      </dict>
      <key>player_21019_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{58,73}}</string>
        <key>offset</key>
        <string>{6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,73}}</string>
        <key>sourceSize</key>
        <string>{58,73}</string>
      </dict>
      <key>player_21019_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,75},{69,70}}</string>
        <key>offset</key>
        <string>{3,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_21019_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{67,65}}</string>
        <key>offset</key>
        <string>{6,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,65}}</string>
        <key>sourceSize</key>
        <string>{67,65}</string>
      </dict>
      <key>player_21019_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{77,52}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,52}}</string>
        <key>sourceSize</key>
        <string>{77,52}</string>
      </dict>
      <key>player_21019_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,49}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,49}}</string>
        <key>sourceSize</key>
        <string>{79,49}</string>
      </dict>
      <key>player_21019_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,67},{67,52}}</string>
        <key>offset</key>
        <string>{-1,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,52}}</string>
        <key>sourceSize</key>
        <string>{67,52}</string>
      </dict>
      <key>player_21019_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,147},{67,55}}</string>
        <key>offset</key>
        <string>{-4,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,55}}</string>
        <key>sourceSize</key>
        <string>{67,55}</string>
      </dict>
      <key>player_21019_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{58,55}}</string>
        <key>offset</key>
        <string>{7,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,55}}</string>
        <key>sourceSize</key>
        <string>{58,55}</string>
      </dict>
      <key>player_21019_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,120},{54,52}}</string>
        <key>offset</key>
        <string>{5,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,52}}</string>
        <key>sourceSize</key>
        <string>{54,52}</string>
      </dict>
      <key>player_21019_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,60},{55,58}}</string>
        <key>offset</key>
        <string>{9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,58}}</string>
        <key>sourceSize</key>
        <string>{55,58}</string>
      </dict>
      <key>player_21019_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,121},{62,52}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,52}}</string>
        <key>sourceSize</key>
        <string>{62,52}</string>
      </dict>
      <key>player_21019_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,175},{54,61}}</string>
        <key>offset</key>
        <string>{4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,61}}</string>
        <key>sourceSize</key>
        <string>{54,61}</string>
      </dict>
      <key>player_21019_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,175},{61,56}}</string>
        <key>offset</key>
        <string>{-1,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>player_21019_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{58,70}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21019_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,147},{60,67}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21019_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_21019_1_8.png</string>
    </dict>
  </dict>
</plist>