<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20003_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,326},{122,128}}</string>
        <key>offset</key>
        <string>{-70,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,48},{122,128}}</string>
        <key>sourceSize</key>
        <string>{156,177}</string>
      </dict>
      <key>player_20003_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,156}}</string>
        <key>offset</key>
        <string>{-61,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,24},{96,156}}</string>
        <key>sourceSize</key>
        <string>{148,181}</string>
      </dict>
      <key>player_20003_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{104,154}}</string>
        <key>offset</key>
        <string>{-63,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,14},{104,154}}</string>
        <key>sourceSize</key>
        <string>{152,169}</string>
      </dict>
      <key>player_20003_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{126,136}}</string>
        <key>offset</key>
        <string>{-69,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,23},{126,136}}</string>
        <key>sourceSize</key>
        <string>{160,160}</string>
      </dict>
      <key>player_20003_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{120,144}}</string>
        <key>offset</key>
        <string>{-53,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,20},{120,144}}</string>
        <key>sourceSize</key>
        <string>{188,165}</string>
      </dict>
      <key>player_20003_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{76,154}}</string>
        <key>offset</key>
        <string>{-40,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{93,15},{76,154}}</string>
        <key>sourceSize</key>
        <string>{172,170}</string>
      </dict>
      <key>player_20003_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,156},{86,154}}</string>
        <key>offset</key>
        <string>{-43,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,26},{86,154}}</string>
        <key>sourceSize</key>
        <string>{176,181}</string>
      </dict>
      <key>player_20003_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{126,126}}</string>
        <key>offset</key>
        <string>{-57,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{59,50},{126,126}}</string>
        <key>sourceSize</key>
        <string>{188,177}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20003_1_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_20003_1_11.png</string>
    </dict>
  </dict>
</plist>