<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0511_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,714},{190,220}}</string>
        <key>offset</key>
        <string>{-162,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{119,67},{190,220}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,344},{184,178}}</string>
        <key>offset</key>
        <string>{-153,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{131,102},{184,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{188,198}}</string>
        <key>offset</key>
        <string>{-201,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{81,77},{188,198}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,166},{176,190}}</string>
        <key>offset</key>
        <string>{-197,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,102},{176,190}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{162,214}}</string>
        <key>offset</key>
        <string>{-189,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{106,61},{162,214}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,366},{174,176}}</string>
        <key>offset</key>
        <string>{-196,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,81},{174,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,238}}</string>
        <key>offset</key>
        <string>{-211,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{71,31},{188,238}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,470},{182,218}}</string>
        <key>offset</key>
        <string>{-207,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{78,57},{182,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{170,238}}</string>
        <key>offset</key>
        <string>{-196,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{95,51},{170,238}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{176,232}}</string>
        <key>offset</key>
        <string>{-199,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,40},{176,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,714},{168,222}}</string>
        <key>offset</key>
        <string>{-146,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{146,55},{168,222}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{160,226}}</string>
        <key>offset</key>
        <string>{-152,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{144,64},{160,226}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,240},{146,228}}</string>
        <key>offset</key>
        <string>{-153,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{150,52},{146,228}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,190},{174,190}}</string>
        <key>offset</key>
        <string>{-145,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{144,65},{174,190}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,228},{166,218}}</string>
        <key>offset</key>
        <string>{-137,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{156,67},{166,218}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0511_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,0},{164,208}}</string>
        <key>offset</key>
        <string>{-141,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,94},{164,208}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0511_1_8.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0511_1_8.png</string>
    </dict>
  </dict>
</plist>