<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0515_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,0},{106,88}}</string>
        <key>offset</key>
        <string>{-28,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{106,88}}</string>
        <key>sourceSize</key>
        <string>{109,91}</string>
      </dict>
      <key>player_0515_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,92}}</string>
        <key>offset</key>
        <string>{-36,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{124,92}}</string>
        <key>sourceSize</key>
        <string>{127,96}</string>
      </dict>
      <key>player_0515_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,374},{116,78}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,1},{116,78}}</string>
        <key>sourceSize</key>
        <string>{117,81}</string>
      </dict>
      <key>player_0515_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{124,78}}</string>
        <key>offset</key>
        <string>{-34,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,78}}</string>
        <key>sourceSize</key>
        <string>{126,80}</string>
      </dict>
      <key>player_0515_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,120},{114,102}}</string>
        <key>offset</key>
        <string>{-34,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{114,102}}</string>
        <key>sourceSize</key>
        <string>{118,105}</string>
      </dict>
      <key>player_0515_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,342},{100,108}}</string>
        <key>offset</key>
        <string>{-34,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{100,108}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>player_0515_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{114,82}}</string>
        <key>offset</key>
        <string>{-37,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{114,82}}</string>
        <key>sourceSize</key>
        <string>{117,86}</string>
      </dict>
      <key>player_0515_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,350},{110,80}}</string>
        <key>offset</key>
        <string>{-47,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{110,80}}</string>
        <key>sourceSize</key>
        <string>{113,84}</string>
      </dict>
      <key>player_0515_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,236},{86,112}}</string>
        <key>offset</key>
        <string>{-15,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{86,112}}</string>
        <key>sourceSize</key>
        <string>{89,115}</string>
      </dict>
      <key>player_0515_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{84,122}}</string>
        <key>offset</key>
        <string>{-18,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,0},{84,122}}</string>
        <key>sourceSize</key>
        <string>{87,124}</string>
      </dict>
      <key>player_0515_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,206},{92,90}}</string>
        <key>offset</key>
        <string>{-26,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>player_0515_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,224},{102,94}}</string>
        <key>offset</key>
        <string>{-38,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{102,94}}</string>
        <key>sourceSize</key>
        <string>{106,97}</string>
      </dict>
      <key>player_0515_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,246},{116,108}}</string>
        <key>offset</key>
        <string>{-35,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{116,108}}</string>
        <key>sourceSize</key>
        <string>{119,112}</string>
      </dict>
      <key>player_0515_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{104,124}}</string>
        <key>offset</key>
        <string>{-38,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{104,124}}</string>
        <key>sourceSize</key>
        <string>{108,127}</string>
      </dict>
      <key>player_0515_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,126},{124,96}}</string>
        <key>offset</key>
        <string>{-49,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,1},{124,96}}</string>
        <key>sourceSize</key>
        <string>{125,99}</string>
      </dict>
      <key>player_0515_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{114,84}}</string>
        <key>offset</key>
        <string>{-52,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{114,84}}</string>
        <key>sourceSize</key>
        <string>{116,88}</string>
      </dict>
      <key>player_0515_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,230},{110,102}}</string>
        <key>offset</key>
        <string>{-32,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,2},{110,102}}</string>
        <key>sourceSize</key>
        <string>{111,106}</string>
      </dict>
      <key>player_0515_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,378},{120,102}}</string>
        <key>offset</key>
        <string>{-39,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{120,102}}</string>
        <key>sourceSize</key>
        <string>{122,106}</string>
      </dict>
      <key>player_0515_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{122,84}}</string>
        <key>offset</key>
        <string>{-42,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{122,84}}</string>
        <key>sourceSize</key>
        <string>{124,88}</string>
      </dict>
      <key>player_0515_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{118,82}}</string>
        <key>offset</key>
        <string>{-40,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{118,82}}</string>
        <key>sourceSize</key>
        <string>{122,85}</string>
      </dict>
      <key>player_0515_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,364},{100,114}}</string>
        <key>offset</key>
        <string>{-20,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{100,114}}</string>
        <key>sourceSize</key>
        <string>{103,118}</string>
      </dict>
      <key>player_0515_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,252},{90,120}}</string>
        <key>offset</key>
        <string>{-10,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{90,120}}</string>
        <key>sourceSize</key>
        <string>{93,123}</string>
      </dict>
      <key>player_0515_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,336},{104,92}}</string>
        <key>offset</key>
        <string>{-21,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,0},{104,92}}</string>
        <key>sourceSize</key>
        <string>{107,94}</string>
      </dict>
      <key>player_0515_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,116},{112,78}}</string>
        <key>offset</key>
        <string>{-14,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{112,78}}</string>
        <key>sourceSize</key>
        <string>{116,82}</string>
      </dict>
      <key>player_0515_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,226},{64,108}}</string>
        <key>offset</key>
        <string>{-3,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,0},{64,108}}</string>
        <key>sourceSize</key>
        <string>{67,110}</string>
      </dict>
      <key>player_0515_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,124},{72,120}}</string>
        <key>offset</key>
        <string>{-6,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{72,120}}</string>
        <key>sourceSize</key>
        <string>{75,124}</string>
      </dict>
      <key>player_0515_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,328},{94,86}}</string>
        <key>offset</key>
        <string>{-16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{94,86}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>player_0515_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,108},{96,80}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{96,80}}</string>
        <key>sourceSize</key>
        <string>{100,83}</string>
      </dict>
      <key>player_0515_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,0},{96,94}}</string>
        <key>offset</key>
        <string>{-12,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{96,94}}</string>
        <key>sourceSize</key>
        <string>{98,98}</string>
      </dict>
      <key>player_0515_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{96,112}}</string>
        <key>offset</key>
        <string>{-12,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{96,112}}</string>
        <key>sourceSize</key>
        <string>{99,115}</string>
      </dict>
      <key>player_0515_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,114},{110,74}}</string>
        <key>offset</key>
        <string>{-18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{110,74}}</string>
        <key>sourceSize</key>
        <string>{113,77}</string>
      </dict>
      <key>player_0515_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,114},{108,78}}</string>
        <key>offset</key>
        <string>{-12,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{108,78}}</string>
        <key>sourceSize</key>
        <string>{111,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0515_0_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_0515_0_4.png</string>
    </dict>
  </dict>
</plist>