<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21027_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{107,95}}</string>
        <key>offset</key>
        <string>{-30,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,95}}</string>
        <key>sourceSize</key>
        <string>{107,95}</string>
      </dict>
      <key>player_21027_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,112},{76,108}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,108}}</string>
        <key>sourceSize</key>
        <string>{76,108}</string>
      </dict>
      <key>player_21027_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,286},{100,101}}</string>
        <key>offset</key>
        <string>{-19,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,101}}</string>
        <key>sourceSize</key>
        <string>{100,101}</string>
      </dict>
      <key>player_21027_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{139,83}}</string>
        <key>offset</key>
        <string>{-35,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,83}}</string>
        <key>sourceSize</key>
        <string>{139,83}</string>
      </dict>
      <key>player_21027_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{116,80}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,80}}</string>
        <key>sourceSize</key>
        <string>{116,80}</string>
      </dict>
      <key>player_21027_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,279},{135,81}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,81}}</string>
        <key>sourceSize</key>
        <string>{135,81}</string>
      </dict>
      <key>player_21027_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,388},{85,100}}</string>
        <key>offset</key>
        <string>{-18,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,100}}</string>
        <key>sourceSize</key>
        <string>{85,100}</string>
      </dict>
      <key>player_21027_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{110,100}}</string>
        <key>offset</key>
        <string>{-35,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>player_21027_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,222},{92,104}}</string>
        <key>offset</key>
        <string>{-13,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,104}}</string>
        <key>sourceSize</key>
        <string>{92,104}</string>
      </dict>
      <key>player_21027_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,234},{112,93}}</string>
        <key>offset</key>
        <string>{-12,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,93}}</string>
        <key>sourceSize</key>
        <string>{112,93}</string>
      </dict>
      <key>player_21027_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{125,85}}</string>
        <key>offset</key>
        <string>{-13,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,85}}</string>
        <key>sourceSize</key>
        <string>{125,85}</string>
      </dict>
      <key>player_21027_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,275},{130,92}}</string>
        <key>offset</key>
        <string>{-20,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,92}}</string>
        <key>sourceSize</key>
        <string>{130,92}</string>
      </dict>
      <key>player_21027_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,141},{136,90}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,90}}</string>
        <key>sourceSize</key>
        <string>{136,90}</string>
      </dict>
      <key>player_21027_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,228},{109,100}}</string>
        <key>offset</key>
        <string>{-38,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,100}}</string>
        <key>sourceSize</key>
        <string>{109,100}</string>
      </dict>
      <key>player_21027_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,298},{143,86}}</string>
        <key>offset</key>
        <string>{-26,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,86}}</string>
        <key>sourceSize</key>
        <string>{143,86}</string>
      </dict>
      <key>player_21027_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{96,89}}</string>
        <key>offset</key>
        <string>{3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
      <key>player_21027_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,0},{96,113}}</string>
        <key>offset</key>
        <string>{1,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,113}}</string>
        <key>sourceSize</key>
        <string>{96,113}</string>
      </dict>
      <key>player_21027_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,118},{89,114}}</string>
        <key>offset</key>
        <string>{0,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,114}}</string>
        <key>sourceSize</key>
        <string>{89,114}</string>
      </dict>
      <key>player_21027_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,74}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,74}}</string>
        <key>sourceSize</key>
        <string>{151,74}</string>
      </dict>
      <key>player_21027_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{148,83}}</string>
        <key>offset</key>
        <string>{-37,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,83}}</string>
        <key>sourceSize</key>
        <string>{148,83}</string>
      </dict>
      <key>player_21027_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,294},{137,85}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,85}}</string>
        <key>sourceSize</key>
        <string>{137,85}</string>
      </dict>
      <key>player_21027_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,246},{115,75}}</string>
        <key>offset</key>
        <string>{-13,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,75}}</string>
        <key>sourceSize</key>
        <string>{115,75}</string>
      </dict>
      <key>player_21027_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{89,107}}</string>
        <key>offset</key>
        <string>{1,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,107}}</string>
        <key>sourceSize</key>
        <string>{89,107}</string>
      </dict>
      <key>player_21027_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,91},{104,107}}</string>
        <key>offset</key>
        <string>{-7,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,107}}</string>
        <key>sourceSize</key>
        <string>{104,107}</string>
      </dict>
      <key>player_21027_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,127},{117,95}}</string>
        <key>offset</key>
        <string>{0,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,95}}</string>
        <key>sourceSize</key>
        <string>{117,95}</string>
      </dict>
      <key>player_21027_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,266},{120,95}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>player_21027_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,115},{111,91}}</string>
        <key>offset</key>
        <string>{-3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,91}}</string>
        <key>sourceSize</key>
        <string>{111,91}</string>
      </dict>
      <key>player_21027_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,138},{135,72}}</string>
        <key>offset</key>
        <string>{-18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,72}}</string>
        <key>sourceSize</key>
        <string>{135,72}</string>
      </dict>
      <key>player_21027_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,137},{127,84}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,84}}</string>
        <key>sourceSize</key>
        <string>{127,84}</string>
      </dict>
      <key>player_21027_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{149,87}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,87}}</string>
        <key>sourceSize</key>
        <string>{149,87}</string>
      </dict>
      <key>player_21027_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,497},{94,100}}</string>
        <key>offset</key>
        <string>{5,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,100}}</string>
        <key>sourceSize</key>
        <string>{94,100}</string>
      </dict>
      <key>player_21027_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,339},{106,84}}</string>
        <key>offset</key>
        <string>{5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,84}}</string>
        <key>sourceSize</key>
        <string>{106,84}</string>
      </dict>
      <key>player_21027_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,197},{87,102}}</string>
        <key>offset</key>
        <string>{-1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,102}}</string>
        <key>sourceSize</key>
        <string>{87,102}</string>
      </dict>
      <key>player_21027_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,348},{110,82}}</string>
        <key>offset</key>
        <string>{-16,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,82}}</string>
        <key>sourceSize</key>
        <string>{110,82}</string>
      </dict>
      <key>player_21027_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,433},{133,77}}</string>
        <key>offset</key>
        <string>{-32,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,77}}</string>
        <key>sourceSize</key>
        <string>{133,77}</string>
      </dict>
      <key>player_21027_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,150},{142,71}}</string>
        <key>offset</key>
        <string>{-30,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,71}}</string>
        <key>sourceSize</key>
        <string>{142,71}</string>
      </dict>
      <key>player_21027_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,416},{133,79}}</string>
        <key>offset</key>
        <string>{-13,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,79}}</string>
        <key>sourceSize</key>
        <string>{133,79}</string>
      </dict>
      <key>player_21027_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{135,73}}</string>
        <key>offset</key>
        <string>{-15,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,73}}</string>
        <key>sourceSize</key>
        <string>{135,73}</string>
      </dict>
      <key>player_21027_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{136,82}}</string>
        <key>offset</key>
        <string>{-27,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,82}}</string>
        <key>sourceSize</key>
        <string>{136,82}</string>
      </dict>
      <key>player_21027_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,490},{91,94}}</string>
        <key>offset</key>
        <string>{-17,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,94}}</string>
        <key>sourceSize</key>
        <string>{91,94}</string>
      </dict>
      <key>player_21027_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,348},{110,84}}</string>
        <key>offset</key>
        <string>{-26,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>player_21027_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,460},{93,83}}</string>
        <key>offset</key>
        <string>{-10,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,83}}</string>
        <key>sourceSize</key>
        <string>{93,83}</string>
      </dict>
      <key>player_21027_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,150},{146,73}}</string>
        <key>offset</key>
        <string>{-41,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,73}}</string>
        <key>sourceSize</key>
        <string>{146,73}</string>
      </dict>
      <key>player_21027_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,388},{118,85}}</string>
        <key>offset</key>
        <string>{-29,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,85}}</string>
        <key>sourceSize</key>
        <string>{118,85}</string>
      </dict>
      <key>player_21027_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{150,74}}</string>
        <key>offset</key>
        <string>{-47,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,74}}</string>
        <key>sourceSize</key>
        <string>{150,74}</string>
      </dict>
      <key>player_21027_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,388},{120,88}}</string>
        <key>offset</key>
        <string>{-24,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>player_21027_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,508},{90,80}}</string>
        <key>offset</key>
        <string>{-14,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,80}}</string>
        <key>sourceSize</key>
        <string>{90,80}</string>
      </dict>
      <key>player_21027_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,447},{96,82}}</string>
        <key>offset</key>
        <string>{-14,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,82}}</string>
        <key>sourceSize</key>
        <string>{96,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21027_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_21027_1_2.png</string>
    </dict>
  </dict>
</plist>