<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20005_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,414},{128,94}}</string>
        <key>offset</key>
        <string>{-62,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{128,94}}</string>
        <key>sourceSize</key>
        <string>{128,94}</string>
      </dict>
      <key>player_20005_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{130,86}}</string>
        <key>offset</key>
        <string>{-61,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{130,86}}</string>
        <key>sourceSize</key>
        <string>{132,86}</string>
      </dict>
      <key>player_20005_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,276},{136,82}}</string>
        <key>offset</key>
        <string>{-42,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,82}}</string>
        <key>sourceSize</key>
        <string>{140,83}</string>
      </dict>
      <key>player_20005_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,532},{126,112}}</string>
        <key>offset</key>
        <string>{-73,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{126,112}}</string>
        <key>sourceSize</key>
        <string>{128,112}</string>
      </dict>
      <key>player_20005_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,646},{120,118}}</string>
        <key>offset</key>
        <string>{-64,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,118}}</string>
        <key>sourceSize</key>
        <string>{124,119}</string>
      </dict>
      <key>player_20005_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,466},{126,114}}</string>
        <key>offset</key>
        <string>{-64,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,114}}</string>
        <key>sourceSize</key>
        <string>{128,115}</string>
      </dict>
      <key>player_20005_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,280},{134,130}}</string>
        <key>offset</key>
        <string>{-72,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,130}}</string>
        <key>sourceSize</key>
        <string>{136,131}</string>
      </dict>
      <key>player_20005_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{132,140}}</string>
        <key>offset</key>
        <string>{-69,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{132,140}}</string>
        <key>sourceSize</key>
        <string>{136,140}</string>
      </dict>
      <key>player_20005_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,134},{110,140}}</string>
        <key>offset</key>
        <string>{-36,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{110,140}}</string>
        <key>sourceSize</key>
        <string>{112,140}</string>
      </dict>
      <key>player_20005_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,142},{140,136}}</string>
        <key>offset</key>
        <string>{-66,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{140,136}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>player_20005_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{134,142}}</string>
        <key>offset</key>
        <string>{-68,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,142}}</string>
        <key>sourceSize</key>
        <string>{136,143}</string>
      </dict>
      <key>player_20005_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{140,144}}</string>
        <key>offset</key>
        <string>{-66,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>player_20005_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,538},{124,112}}</string>
        <key>offset</key>
        <string>{-14,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,112}}</string>
        <key>sourceSize</key>
        <string>{128,113}</string>
      </dict>
      <key>player_20005_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,412},{124,132}}</string>
        <key>offset</key>
        <string>{-16,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{124,132}}</string>
        <key>sourceSize</key>
        <string>{128,132}</string>
      </dict>
      <key>player_20005_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,246},{138,130}}</string>
        <key>offset</key>
        <string>{-47,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{138,130}}</string>
        <key>sourceSize</key>
        <string>{140,131}</string>
      </dict>
      <key>player_20005_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,544},{126,108}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{126,108}}</string>
        <key>sourceSize</key>
        <string>{128,108}</string>
      </dict>
      <key>player_20005_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{110,134}}</string>
        <key>offset</key>
        <string>{2,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{110,134}}</string>
        <key>sourceSize</key>
        <string>{112,135}</string>
      </dict>
      <key>player_20005_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,146}}</string>
        <key>offset</key>
        <string>{6,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{108,146}}</string>
        <key>sourceSize</key>
        <string>{108,146}</string>
      </dict>
      <key>player_20005_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,378},{134,86}}</string>
        <key>offset</key>
        <string>{-13,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{134,86}}</string>
        <key>sourceSize</key>
        <string>{136,86}</string>
      </dict>
      <key>player_20005_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,582},{120,104}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{120,104}}</string>
        <key>sourceSize</key>
        <string>{120,104}</string>
      </dict>
      <key>player_20005_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{84,140}}</string>
        <key>offset</key>
        <string>{1,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{84,140}}</string>
        <key>sourceSize</key>
        <string>{84,141}</string>
      </dict>
      <key>player_20005_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,134},{140,70}}</string>
        <key>offset</key>
        <string>{-24,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{140,70}}</string>
        <key>sourceSize</key>
        <string>{140,71}</string>
      </dict>
      <key>player_20005_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{132,74}}</string>
        <key>offset</key>
        <string>{-17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,74}}</string>
        <key>sourceSize</key>
        <string>{136,75}</string>
      </dict>
      <key>player_20005_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,652},{116,110}}</string>
        <key>offset</key>
        <string>{0,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{116,110}}</string>
        <key>sourceSize</key>
        <string>{116,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20005_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_20005_0_7.png</string>
    </dict>
  </dict>
</plist>