<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3014_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,85},{72,81}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,81}}</string>
        <key>sourceSize</key>
        <string>{72,81}</string>
      </dict>
      <key>player_3014_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,278},{83,81}}</string>
        <key>offset</key>
        <string>{-6,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,81}}</string>
        <key>sourceSize</key>
        <string>{83,81}</string>
      </dict>
      <key>player_3014_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{92,81}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,81}}</string>
        <key>sourceSize</key>
        <string>{92,81}</string>
      </dict>
      <key>player_3014_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,363},{82,81}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>player_3014_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{75,81}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,81}}</string>
        <key>sourceSize</key>
        <string>{75,81}</string>
      </dict>
      <key>player_3014_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,182},{75,83}}</string>
        <key>offset</key>
        <string>{3,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,83}}</string>
        <key>sourceSize</key>
        <string>{75,83}</string>
      </dict>
      <key>player_3014_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,80},{77,77}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>player_3014_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,95},{92,73}}</string>
        <key>offset</key>
        <string>{-15,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,73}}</string>
        <key>sourceSize</key>
        <string>{92,73}</string>
      </dict>
      <key>player_3014_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,75}}</string>
        <key>offset</key>
        <string>{-20,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,75}}</string>
        <key>sourceSize</key>
        <string>{99,75}</string>
      </dict>
      <key>player_3014_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{94,76}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>player_3014_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,189},{87,78}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,78}}</string>
        <key>sourceSize</key>
        <string>{87,78}</string>
      </dict>
      <key>player_3014_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,351},{81,81}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>player_3014_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{93,70}}</string>
        <key>offset</key>
        <string>{-12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,70}}</string>
        <key>sourceSize</key>
        <string>{93,70}</string>
      </dict>
      <key>player_3014_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,94},{86,71}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,71}}</string>
        <key>sourceSize</key>
        <string>{86,71}</string>
      </dict>
      <key>player_3014_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,381},{85,73}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,73}}</string>
        <key>sourceSize</key>
        <string>{85,73}</string>
      </dict>
      <key>player_3014_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{89,69}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,69}}</string>
        <key>sourceSize</key>
        <string>{89,69}</string>
      </dict>
      <key>player_3014_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,88},{83,73}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,73}}</string>
        <key>sourceSize</key>
        <string>{83,73}</string>
      </dict>
      <key>player_3014_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,291},{88,77}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,77}}</string>
        <key>sourceSize</key>
        <string>{88,77}</string>
      </dict>
      <key>player_3014_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{89,72}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,72}}</string>
        <key>sourceSize</key>
        <string>{89,72}</string>
      </dict>
      <key>player_3014_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,434},{81,71}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>player_3014_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,79},{74,71}}</string>
        <key>offset</key>
        <string>{5,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,71}}</string>
        <key>sourceSize</key>
        <string>{74,71}</string>
      </dict>
      <key>player_3014_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,83},{78,72}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>player_3014_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{83,73}}</string>
        <key>offset</key>
        <string>{-5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,73}}</string>
        <key>sourceSize</key>
        <string>{83,73}</string>
      </dict>
      <key>player_3014_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{92,72}}</string>
        <key>offset</key>
        <string>{-12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,72}}</string>
        <key>sourceSize</key>
        <string>{92,72}</string>
      </dict>
      <key>player_3014_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,0},{77,72}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>player_3014_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{78,66}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,66}}</string>
        <key>sourceSize</key>
        <string>{78,66}</string>
      </dict>
      <key>player_3014_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,159},{76,69}}</string>
        <key>offset</key>
        <string>{5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>player_3014_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{74,72}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>player_3014_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,329},{77,67}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,67}}</string>
        <key>sourceSize</key>
        <string>{77,67}</string>
      </dict>
      <key>player_3014_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{86,69}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,69}}</string>
        <key>sourceSize</key>
        <string>{86,69}</string>
      </dict>
      <key>player_3014_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,408},{66,72}}</string>
        <key>offset</key>
        <string>{7,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_3014_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,322},{68,72}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3014_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,381},{84,72}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,72}}</string>
        <key>sourceSize</key>
        <string>{84,72}</string>
      </dict>
      <key>player_3014_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,257},{79,72}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,72}}</string>
        <key>sourceSize</key>
        <string>{79,72}</string>
      </dict>
      <key>player_3014_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,168},{79,70}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,70}}</string>
        <key>sourceSize</key>
        <string>{79,70}</string>
      </dict>
      <key>player_3014_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,155},{74,70}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,70}}</string>
        <key>sourceSize</key>
        <string>{74,70}</string>
      </dict>
      <key>player_3014_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,231},{72,69}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,69}}</string>
        <key>sourceSize</key>
        <string>{72,69}</string>
      </dict>
      <key>player_3014_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,329},{67,77}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,77}}</string>
        <key>sourceSize</key>
        <string>{67,77}</string>
      </dict>
      <key>player_3014_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,434},{69,80}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
      <key>player_3014_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,0},{72,73}}</string>
        <key>offset</key>
        <string>{0,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,73}}</string>
        <key>sourceSize</key>
        <string>{72,73}</string>
      </dict>
      <key>player_3014_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,396},{67,72}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>player_3014_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,305},{69,72}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,72}}</string>
        <key>sourceSize</key>
        <string>{69,72}</string>
      </dict>
      <key>player_3014_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,243},{76,77}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,77}}</string>
        <key>sourceSize</key>
        <string>{76,77}</string>
      </dict>
      <key>player_3014_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,267},{78,82}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,82}}</string>
        <key>sourceSize</key>
        <string>{78,82}</string>
      </dict>
      <key>player_3014_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,173},{74,82}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>player_3014_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,249},{71,78}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,78}}</string>
        <key>sourceSize</key>
        <string>{71,78}</string>
      </dict>
      <key>player_3014_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,76},{69,74}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,74}}</string>
        <key>sourceSize</key>
        <string>{69,74}</string>
      </dict>
      <key>player_3014_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,163},{78,76}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,76}}</string>
        <key>sourceSize</key>
        <string>{78,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3014_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3014_0_5.png</string>
    </dict>
  </dict>
</plist>