<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21025_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,97},{86,94}}</string>
        <key>offset</key>
        <string>{-4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>player_21025_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{86,94}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>player_21025_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,193},{88,94}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,94}}</string>
        <key>sourceSize</key>
        <string>{88,94}</string>
      </dict>
      <key>player_21025_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,96},{87,94}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,94}}</string>
        <key>sourceSize</key>
        <string>{87,94}</string>
      </dict>
      <key>player_21025_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{85,93}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,93}}</string>
        <key>sourceSize</key>
        <string>{85,93}</string>
      </dict>
      <key>player_21025_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{88,94}}</string>
        <key>offset</key>
        <string>{-4,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,94}}</string>
        <key>sourceSize</key>
        <string>{88,94}</string>
      </dict>
      <key>player_21025_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,322},{95,98}}</string>
        <key>offset</key>
        <string>{-21,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,98}}</string>
        <key>sourceSize</key>
        <string>{95,98}</string>
      </dict>
      <key>player_21025_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{102,97}}</string>
        <key>offset</key>
        <string>{-23,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,97}}</string>
        <key>sourceSize</key>
        <string>{102,97}</string>
      </dict>
      <key>player_21025_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,95}}</string>
        <key>offset</key>
        <string>{-25,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,95}}</string>
        <key>sourceSize</key>
        <string>{108,95}</string>
      </dict>
      <key>player_21025_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{106,93}}</string>
        <key>offset</key>
        <string>{-23,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,93}}</string>
        <key>sourceSize</key>
        <string>{106,93}</string>
      </dict>
      <key>player_21025_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,110},{101,94}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,94}}</string>
        <key>sourceSize</key>
        <string>{101,94}</string>
      </dict>
      <key>player_21025_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{100,97}}</string>
        <key>offset</key>
        <string>{-19,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>player_21025_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,422},{98,88}}</string>
        <key>offset</key>
        <string>{-18,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>player_21025_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,410},{95,89}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,89}}</string>
        <key>sourceSize</key>
        <string>{95,89}</string>
      </dict>
      <key>player_21025_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,213},{97,89}}</string>
        <key>offset</key>
        <string>{-21,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,89}}</string>
        <key>sourceSize</key>
        <string>{97,89}</string>
      </dict>
      <key>player_21025_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{100,90}}</string>
        <key>offset</key>
        <string>{-21,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,90}}</string>
        <key>sourceSize</key>
        <string>{100,90}</string>
      </dict>
      <key>player_21025_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,192},{91,89}}</string>
        <key>offset</key>
        <string>{-18,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,89}}</string>
        <key>sourceSize</key>
        <string>{91,89}</string>
      </dict>
      <key>player_21025_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,285},{91,89}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,89}}</string>
        <key>sourceSize</key>
        <string>{91,89}</string>
      </dict>
      <key>player_21025_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,312},{97,85}}</string>
        <key>offset</key>
        <string>{-13,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,85}}</string>
        <key>sourceSize</key>
        <string>{97,85}</string>
      </dict>
      <key>player_21025_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,213},{98,88}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>player_21025_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,192},{94,88}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,88}}</string>
        <key>sourceSize</key>
        <string>{94,88}</string>
      </dict>
      <key>player_21025_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,288},{92,87}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,87}}</string>
        <key>sourceSize</key>
        <string>{92,87}</string>
      </dict>
      <key>player_21025_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,95},{91,88}}</string>
        <key>offset</key>
        <string>{-12,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,88}}</string>
        <key>sourceSize</key>
        <string>{91,88}</string>
      </dict>
      <key>player_21025_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,96},{94,87}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,87}}</string>
        <key>sourceSize</key>
        <string>{94,87}</string>
      </dict>
      <key>player_21025_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{91,88}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,88}}</string>
        <key>sourceSize</key>
        <string>{91,88}</string>
      </dict>
      <key>player_21025_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,281},{88,86}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,86}}</string>
        <key>sourceSize</key>
        <string>{88,86}</string>
      </dict>
      <key>player_21025_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,93},{90,88}}</string>
        <key>offset</key>
        <string>{-3,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,88}}</string>
        <key>sourceSize</key>
        <string>{90,88}</string>
      </dict>
      <key>player_21025_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{90,87}}</string>
        <key>offset</key>
        <string>{-6,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,87}}</string>
        <key>sourceSize</key>
        <string>{90,87}</string>
      </dict>
      <key>player_21025_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,378},{91,86}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,86}}</string>
        <key>sourceSize</key>
        <string>{91,86}</string>
      </dict>
      <key>player_21025_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,185},{87,88}}</string>
        <key>offset</key>
        <string>{1,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,88}}</string>
        <key>sourceSize</key>
        <string>{87,88}</string>
      </dict>
      <key>player_21025_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,92},{78,87}}</string>
        <key>offset</key>
        <string>{2,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>player_21025_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,89},{82,86}}</string>
        <key>offset</key>
        <string>{-1,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,86}}</string>
        <key>sourceSize</key>
        <string>{82,86}</string>
      </dict>
      <key>player_21025_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,281},{89,87}}</string>
        <key>offset</key>
        <string>{-3,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,87}}</string>
        <key>sourceSize</key>
        <string>{89,87}</string>
      </dict>
      <key>player_21025_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{87,86}}</string>
        <key>offset</key>
        <string>{-4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,86}}</string>
        <key>sourceSize</key>
        <string>{87,86}</string>
      </dict>
      <key>player_21025_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,92},{85,88}}</string>
        <key>offset</key>
        <string>{-2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,88}}</string>
        <key>sourceSize</key>
        <string>{85,88}</string>
      </dict>
      <key>player_21025_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,372},{82,89}}</string>
        <key>offset</key>
        <string>{1,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>player_21025_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,0},{87,87}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,87}}</string>
        <key>sourceSize</key>
        <string>{87,87}</string>
      </dict>
      <key>player_21025_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,275},{85,88}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,88}}</string>
        <key>sourceSize</key>
        <string>{85,88}</string>
      </dict>
      <key>player_21025_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,188},{91,88}}</string>
        <key>offset</key>
        <string>{-12,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,88}}</string>
        <key>sourceSize</key>
        <string>{91,88}</string>
      </dict>
      <key>player_21025_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,182},{88,88}}</string>
        <key>offset</key>
        <string>{-13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>player_21025_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,0},{86,90}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>player_21025_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,372},{89,88}}</string>
        <key>offset</key>
        <string>{-13,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,88}}</string>
        <key>sourceSize</key>
        <string>{89,88}</string>
      </dict>
      <key>player_21025_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,382},{89,92}}</string>
        <key>offset</key>
        <string>{-7,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>player_21025_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,102},{86,95}}</string>
        <key>offset</key>
        <string>{-4,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>player_21025_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{82,100}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,100}}</string>
        <key>sourceSize</key>
        <string>{82,100}</string>
      </dict>
      <key>player_21025_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,411},{82,96}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,96}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>player_21025_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{83,95}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,95}}</string>
        <key>sourceSize</key>
        <string>{83,95}</string>
      </dict>
      <key>player_21025_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,312},{93,96}}</string>
        <key>offset</key>
        <string>{-10,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21025_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_21025_0_5.png</string>
    </dict>
  </dict>
</plist>