<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21026_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,443},{137,59}}</string>
        <key>offset</key>
        <string>{-36,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,59}}</string>
        <key>sourceSize</key>
        <string>{137,59}</string>
      </dict>
      <key>player_21026_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,153},{147,72}}</string>
        <key>offset</key>
        <string>{-37,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,72}}</string>
        <key>sourceSize</key>
        <string>{147,72}</string>
      </dict>
      <key>player_21026_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{150,91}}</string>
        <key>offset</key>
        <string>{-32,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,91}}</string>
        <key>sourceSize</key>
        <string>{150,91}</string>
      </dict>
      <key>player_21026_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,109},{97,77}}</string>
        <key>offset</key>
        <string>{-38,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,77}}</string>
        <key>sourceSize</key>
        <string>{97,77}</string>
      </dict>
      <key>player_21026_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,358},{105,90}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,90}}</string>
        <key>sourceSize</key>
        <string>{105,90}</string>
      </dict>
      <key>player_21026_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,117},{109,103}}</string>
        <key>offset</key>
        <string>{-24,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,103}}</string>
        <key>sourceSize</key>
        <string>{109,103}</string>
      </dict>
      <key>player_21026_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{88,95}}</string>
        <key>offset</key>
        <string>{-32,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,95}}</string>
        <key>sourceSize</key>
        <string>{88,95}</string>
      </dict>
      <key>player_21026_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,228},{98,105}}</string>
        <key>offset</key>
        <string>{-26,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,105}}</string>
        <key>sourceSize</key>
        <string>{98,105}</string>
      </dict>
      <key>player_21026_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,415},{95,112}}</string>
        <key>offset</key>
        <string>{-13,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,112}}</string>
        <key>sourceSize</key>
        <string>{95,112}</string>
      </dict>
      <key>player_21026_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,261},{115,108}}</string>
        <key>offset</key>
        <string>{-45,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,108}}</string>
        <key>sourceSize</key>
        <string>{115,108}</string>
      </dict>
      <key>player_21026_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{125,106}}</string>
        <key>offset</key>
        <string>{-41,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,106}}</string>
        <key>sourceSize</key>
        <string>{125,106}</string>
      </dict>
      <key>player_21026_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,302},{139,104}}</string>
        <key>offset</key>
        <string>{-34,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,104}}</string>
        <key>sourceSize</key>
        <string>{139,104}</string>
      </dict>
      <key>player_21026_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{147,110}}</string>
        <key>offset</key>
        <string>{-28,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,110}}</string>
        <key>sourceSize</key>
        <string>{147,110}</string>
      </dict>
      <key>player_21026_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,110}}</string>
        <key>offset</key>
        <string>{-29,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,110}}</string>
        <key>sourceSize</key>
        <string>{151,110}</string>
      </dict>
      <key>player_21026_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,305},{149,102}}</string>
        <key>offset</key>
        <string>{-28,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,102}}</string>
        <key>sourceSize</key>
        <string>{149,102}</string>
      </dict>
      <key>player_21026_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,127},{115,113}}</string>
        <key>offset</key>
        <string>{4,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,113}}</string>
        <key>sourceSize</key>
        <string>{115,113}</string>
      </dict>
      <key>player_21026_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,133},{126,115}}</string>
        <key>offset</key>
        <string>{-11,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,115}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>player_21026_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,378},{112,110}}</string>
        <key>offset</key>
        <string>{4,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>player_21026_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,244},{112,103}}</string>
        <key>offset</key>
        <string>{1,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,103}}</string>
        <key>sourceSize</key>
        <string>{112,103}</string>
      </dict>
      <key>player_21026_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{115,106}}</string>
        <key>offset</key>
        <string>{-6,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,106}}</string>
        <key>sourceSize</key>
        <string>{115,106}</string>
      </dict>
      <key>player_21026_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,0},{100,107}}</string>
        <key>offset</key>
        <string>{1,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,107}}</string>
        <key>sourceSize</key>
        <string>{100,107}</string>
      </dict>
      <key>player_21026_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,283},{130,77}}</string>
        <key>offset</key>
        <string>{-4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,77}}</string>
        <key>sourceSize</key>
        <string>{130,77}</string>
      </dict>
      <key>player_21026_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{131,80}}</string>
        <key>offset</key>
        <string>{-6,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,80}}</string>
        <key>sourceSize</key>
        <string>{131,80}</string>
      </dict>
      <key>player_21026_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,149},{132,95}}</string>
        <key>offset</key>
        <string>{-10,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,95}}</string>
        <key>sourceSize</key>
        <string>{132,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21026_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_21026_0_7.png</string>
    </dict>
  </dict>
</plist>