<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3014_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,200},{91,80}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,80}}</string>
        <key>sourceSize</key>
        <string>{91,80}</string>
      </dict>
      <key>player_3014_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{77,70}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,70}}</string>
        <key>sourceSize</key>
        <string>{77,70}</string>
      </dict>
      <key>player_3014_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,265},{79,67}}</string>
        <key>offset</key>
        <string>{-6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,67}}</string>
        <key>sourceSize</key>
        <string>{79,67}</string>
      </dict>
      <key>player_3014_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,217},{62,62}}</string>
        <key>offset</key>
        <string>{3,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>player_3014_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{88,77}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,77}}</string>
        <key>sourceSize</key>
        <string>{88,77}</string>
      </dict>
      <key>player_3014_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{77,72}}</string>
        <key>offset</key>
        <string>{-4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>player_3014_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{83,68}}</string>
        <key>offset</key>
        <string>{-10,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
      <key>player_3014_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,97},{90,59}}</string>
        <key>offset</key>
        <string>{-31,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>player_3014_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,179},{84,76}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>player_3014_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,173},{79,73}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,73}}</string>
        <key>sourceSize</key>
        <string>{79,73}</string>
      </dict>
      <key>player_3014_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,189},{85,56}}</string>
        <key>offset</key>
        <string>{-21,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,56}}</string>
        <key>sourceSize</key>
        <string>{85,56}</string>
      </dict>
      <key>player_3014_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{95,47}}</string>
        <key>offset</key>
        <string>{-35,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,47}}</string>
        <key>sourceSize</key>
        <string>{95,47}</string>
      </dict>
      <key>player_3014_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,69}}</string>
        <key>offset</key>
        <string>{-11,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,69}}</string>
        <key>sourceSize</key>
        <string>{100,69}</string>
      </dict>
      <key>player_3014_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,87},{82,84}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,84}}</string>
        <key>sourceSize</key>
        <string>{82,84}</string>
      </dict>
      <key>player_3014_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{92,65}}</string>
        <key>offset</key>
        <string>{-22,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,65}}</string>
        <key>sourceSize</key>
        <string>{92,65}</string>
      </dict>
      <key>player_3014_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{96,61}}</string>
        <key>offset</key>
        <string>{-36,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,61}}</string>
        <key>sourceSize</key>
        <string>{96,61}</string>
      </dict>
      <key>player_3014_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,381},{83,65}}</string>
        <key>offset</key>
        <string>{-7,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,65}}</string>
        <key>sourceSize</key>
        <string>{83,65}</string>
      </dict>
      <key>player_3014_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,74},{76,76}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,76}}</string>
        <key>sourceSize</key>
        <string>{76,76}</string>
      </dict>
      <key>player_3014_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,254},{69,60}}</string>
        <key>offset</key>
        <string>{-8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,60}}</string>
        <key>sourceSize</key>
        <string>{69,60}</string>
      </dict>
      <key>player_3014_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,217},{59,59}}</string>
        <key>offset</key>
        <string>{-11,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,59}}</string>
        <key>sourceSize</key>
        <string>{59,59}</string>
      </dict>
      <key>player_3014_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,85},{79,74}}</string>
        <key>offset</key>
        <string>{-13,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>player_3014_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,381},{81,78}}</string>
        <key>offset</key>
        <string>{-4,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,78}}</string>
        <key>sourceSize</key>
        <string>{81,78}</string>
      </dict>
      <key>player_3014_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,92},{85,66}}</string>
        <key>offset</key>
        <string>{-11,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,66}}</string>
        <key>sourceSize</key>
        <string>{85,66}</string>
      </dict>
      <key>player_3014_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{90,54}}</string>
        <key>offset</key>
        <string>{-9,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,54}}</string>
        <key>sourceSize</key>
        <string>{90,54}</string>
      </dict>
      <key>player_3014_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,152},{63,76}}</string>
        <key>offset</key>
        <string>{-1,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,76}}</string>
        <key>sourceSize</key>
        <string>{63,76}</string>
      </dict>
      <key>player_3014_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,293},{86,76}}</string>
        <key>offset</key>
        <string>{-4,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,76}}</string>
        <key>sourceSize</key>
        <string>{86,76}</string>
      </dict>
      <key>player_3014_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,102},{96,53}}</string>
        <key>offset</key>
        <string>{-11,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,53}}</string>
        <key>sourceSize</key>
        <string>{96,53}</string>
      </dict>
      <key>player_3014_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{90,37}}</string>
        <key>offset</key>
        <string>{-6,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,37}}</string>
        <key>sourceSize</key>
        <string>{90,37}</string>
      </dict>
      <key>player_3014_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,293},{87,74}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>player_3014_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{85,70}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,70}}</string>
        <key>sourceSize</key>
        <string>{85,70}</string>
      </dict>
      <key>player_3014_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,382},{87,64}}</string>
        <key>offset</key>
        <string>{-8,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,64}}</string>
        <key>sourceSize</key>
        <string>{87,64}</string>
      </dict>
      <key>player_3014_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{100,60}}</string>
        <key>offset</key>
        <string>{-8,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,60}}</string>
        <key>sourceSize</key>
        <string>{100,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3014_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3014_0_4.png</string>
    </dict>
  </dict>
</plist>