<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3006_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,0},{76,71}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>player_3006_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,160},{65,75}}</string>
        <key>offset</key>
        <string>{2,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>player_3006_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,250},{72,79}}</string>
        <key>offset</key>
        <string>{7,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,79}}</string>
        <key>sourceSize</key>
        <string>{72,79}</string>
      </dict>
      <key>player_3006_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,309},{85,92}}</string>
        <key>offset</key>
        <string>{-3,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,92}}</string>
        <key>sourceSize</key>
        <string>{85,92}</string>
      </dict>
      <key>player_3006_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,165},{67,79}}</string>
        <key>offset</key>
        <string>{1,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,79}}</string>
        <key>sourceSize</key>
        <string>{67,79}</string>
      </dict>
      <key>player_3006_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{71,82}}</string>
        <key>offset</key>
        <string>{2,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,82}}</string>
        <key>sourceSize</key>
        <string>{71,82}</string>
      </dict>
      <key>player_3006_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,78},{66,72}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_3006_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{81,66}}</string>
        <key>offset</key>
        <string>{-10,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,66}}</string>
        <key>sourceSize</key>
        <string>{81,66}</string>
      </dict>
      <key>player_3006_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,352},{76,81}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,81}}</string>
        <key>sourceSize</key>
        <string>{76,81}</string>
      </dict>
      <key>player_3006_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{97,79}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>player_3006_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,82},{79,78}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>player_3006_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,168},{80,77}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,77}}</string>
        <key>sourceSize</key>
        <string>{80,77}</string>
      </dict>
      <key>player_3006_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,404},{71,70}}</string>
        <key>offset</key>
        <string>{2,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>player_3006_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,411},{76,69}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,69}}</string>
        <key>sourceSize</key>
        <string>{76,69}</string>
      </dict>
      <key>player_3006_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{96,75}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,75}}</string>
        <key>sourceSize</key>
        <string>{96,75}</string>
      </dict>
      <key>player_3006_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{102,76}}</string>
        <key>offset</key>
        <string>{-7,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,76}}</string>
        <key>sourceSize</key>
        <string>{102,76}</string>
      </dict>
      <key>player_3006_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{93,74}}</string>
        <key>offset</key>
        <string>{-9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,74}}</string>
        <key>sourceSize</key>
        <string>{93,74}</string>
      </dict>
      <key>player_3006_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{88,71}}</string>
        <key>offset</key>
        <string>{-9,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,71}}</string>
        <key>sourceSize</key>
        <string>{88,71}</string>
      </dict>
      <key>player_3006_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,261},{81,66}}</string>
        <key>offset</key>
        <string>{-5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,66}}</string>
        <key>sourceSize</key>
        <string>{81,66}</string>
      </dict>
      <key>player_3006_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,435},{68,81}}</string>
        <key>offset</key>
        <string>{-8,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,81}}</string>
        <key>sourceSize</key>
        <string>{68,81}</string>
      </dict>
      <key>player_3006_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,211},{96,73}}</string>
        <key>offset</key>
        <string>{-17,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,73}}</string>
        <key>sourceSize</key>
        <string>{96,73}</string>
      </dict>
      <key>player_3006_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{97,59}}</string>
        <key>offset</key>
        <string>{-17,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,59}}</string>
        <key>sourceSize</key>
        <string>{97,59}</string>
      </dict>
      <key>player_3006_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,90},{88,59}}</string>
        <key>offset</key>
        <string>{-19,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,59}}</string>
        <key>sourceSize</key>
        <string>{88,59}</string>
      </dict>
      <key>player_3006_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,372},{82,59}}</string>
        <key>offset</key>
        <string>{-9,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,59}}</string>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>player_3006_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,331},{72,78}}</string>
        <key>offset</key>
        <string>{-6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,78}}</string>
        <key>sourceSize</key>
        <string>{72,78}</string>
      </dict>
      <key>player_3006_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,408},{79,93}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,93}}</string>
        <key>sourceSize</key>
        <string>{79,93}</string>
      </dict>
      <key>player_3006_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,284},{79,86}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,86}}</string>
        <key>sourceSize</key>
        <string>{79,86}</string>
      </dict>
      <key>player_3006_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,268},{82,59}}</string>
        <key>offset</key>
        <string>{-6,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,59}}</string>
        <key>sourceSize</key>
        <string>{82,59}</string>
      </dict>
      <key>player_3006_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,99},{89,60}}</string>
        <key>offset</key>
        <string>{-12,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,60}}</string>
        <key>sourceSize</key>
        <string>{89,60}</string>
      </dict>
      <key>player_3006_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,83},{80,63}}</string>
        <key>offset</key>
        <string>{-10,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,63}}</string>
        <key>sourceSize</key>
        <string>{80,63}</string>
      </dict>
      <key>player_3006_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{67,79}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,79}}</string>
        <key>sourceSize</key>
        <string>{67,79}</string>
      </dict>
      <key>player_3006_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,403},{92,85}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,85}}</string>
        <key>sourceSize</key>
        <string>{92,85}</string>
      </dict>
      <key>player_3006_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,99},{63,91}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,91}}</string>
        <key>sourceSize</key>
        <string>{63,91}</string>
      </dict>
      <key>player_3006_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,163},{77,66}}</string>
        <key>offset</key>
        <string>{-19,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>player_3006_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{72,59}}</string>
        <key>offset</key>
        <string>{-7,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,59}}</string>
        <key>sourceSize</key>
        <string>{72,59}</string>
      </dict>
      <key>player_3006_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,404},{60,67}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3006_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,326},{76,72}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,72}}</string>
        <key>sourceSize</key>
        <string>{76,72}</string>
      </dict>
      <key>player_3006_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,61}}</string>
        <key>offset</key>
        <string>{-4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,61}}</string>
        <key>sourceSize</key>
        <string>{105,61}</string>
      </dict>
      <key>player_3006_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{88,83}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,83}}</string>
        <key>sourceSize</key>
        <string>{88,83}</string>
      </dict>
      <key>player_3006_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,246},{76,78}}</string>
        <key>offset</key>
        <string>{-14,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,78}}</string>
        <key>sourceSize</key>
        <string>{76,78}</string>
      </dict>
      <key>player_3006_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{80,58}}</string>
        <key>offset</key>
        <string>{-14,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,58}}</string>
        <key>sourceSize</key>
        <string>{80,58}</string>
      </dict>
      <key>player_3006_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,242},{76,67}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,67}}</string>
        <key>sourceSize</key>
        <string>{76,67}</string>
      </dict>
      <key>player_3006_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,177},{82,69}}</string>
        <key>offset</key>
        <string>{-8,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,69}}</string>
        <key>sourceSize</key>
        <string>{82,69}</string>
      </dict>
      <key>player_3006_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,180},{86,71}}</string>
        <key>offset</key>
        <string>{-6,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,71}}</string>
        <key>sourceSize</key>
        <string>{86,71}</string>
      </dict>
      <key>player_3006_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,84},{80,82}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>player_3006_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,192},{76,90}}</string>
        <key>offset</key>
        <string>{-9,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>player_3006_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,90},{85,69}}</string>
        <key>offset</key>
        <string>{-13,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,69}}</string>
        <key>sourceSize</key>
        <string>{85,69}</string>
      </dict>
      <key>player_3006_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,81},{71,77}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,77}}</string>
        <key>sourceSize</key>
        <string>{71,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3006_0_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3006_0_2.png</string>
    </dict>
  </dict>
</plist>