<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0508_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,462},{202,134}}</string>
        <key>offset</key>
        <string>{-175,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,83},{202,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,666},{198,158}}</string>
        <key>offset</key>
        <string>{-178,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{99,73},{198,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,226},{202,156}}</string>
        <key>offset</key>
        <string>{-177,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{98,115},{202,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,0},{190,190}}</string>
        <key>offset</key>
        <string>{-169,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{112,122},{190,190}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,758},{152,160}}</string>
        <key>offset</key>
        <string>{-179,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{121,61},{152,160}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,674},{204,152}}</string>
        <key>offset</key>
        <string>{-196,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{78,73},{204,152}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,400},{186,182}}</string>
        <key>offset</key>
        <string>{-207,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,112},{186,182}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{202,190}}</string>
        <key>offset</key>
        <string>{-206,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{69,130},{202,190}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,232}}</string>
        <key>offset</key>
        <string>{-196,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,54},{128,232}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,314},{114,174}}</string>
        <key>offset</key>
        <string>{-198,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{121,44},{114,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,192},{184,156}}</string>
        <key>offset</key>
        <string>{-208,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,112},{184,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{210,138}}</string>
        <key>offset</key>
        <string>{-198,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,146},{210,138}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,430},{162,164}}</string>
        <key>offset</key>
        <string>{-186,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{109,47},{162,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,378},{128,178}}</string>
        <key>offset</key>
        <string>{-186,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{126,41},{128,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{206,106}}</string>
        <key>offset</key>
        <string>{-207,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,133},{206,106}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{224,90}}</string>
        <key>offset</key>
        <string>{-200,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,152},{224,90}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{192,110}}</string>
        <key>offset</key>
        <string>{-180,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,96},{192,110}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,588},{184,164}}</string>
        <key>offset</key>
        <string>{-184,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,59},{184,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{172,112}}</string>
        <key>offset</key>
        <string>{-175,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,121},{172,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,594},{160,120}}</string>
        <key>offset</key>
        <string>{-182,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{114,136},{160,120}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,0},{176,178}}</string>
        <key>offset</key>
        <string>{-178,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,34},{176,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,866},{196,156}}</string>
        <key>offset</key>
        <string>{-153,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{125,68},{196,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,178},{178,134}}</string>
        <key>offset</key>
        <string>{-138,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{149,114},{178,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,430},{194,122}}</string>
        <key>offset</key>
        <string>{-148,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{131,131},{194,122}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{112,206}}</string>
        <key>offset</key>
        <string>{-163,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{157,54},{112,206}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,356},{126,170}}</string>
        <key>offset</key>
        <string>{-149,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{164,49},{126,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,594},{160,162}}</string>
        <key>offset</key>
        <string>{-150,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{146,123},{160,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,880},{202,138}}</string>
        <key>offset</key>
        <string>{-157,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{118,157},{202,138}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,594},{148,156}}</string>
        <key>offset</key>
        <string>{-170,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{132,63},{148,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,178},{106,176}}</string>
        <key>offset</key>
        <string>{-165,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{158,51},{106,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,204},{192,194}}</string>
        <key>offset</key>
        <string>{-135,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{145,112},{192,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{226,202}}</string>
        <key>offset</key>
        <string>{-148,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,129},{226,202}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0508_1_4.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0508_1_4.png</string>
    </dict>
  </dict>
</plist>