<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0518_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,577},{180,122}}</string>
        <key>offset</key>
        <string>{-74,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,122}</string>
        <key>sourceSize</key>
        <string>{180,122}</string>
      </dict>
      <key>player_0518_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{183,151}}</string>
        <key>offset</key>
        <string>{-69,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{183,151}</string>
        <key>sourceSize</key>
        <string>{183,151}</string>
      </dict>
      <key>player_0518_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,607},{188,160}}</string>
        <key>offset</key>
        <string>{-67,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,160}</string>
        <key>sourceSize</key>
        <string>{188,160}</string>
      </dict>
      <key>player_0518_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,155},{145,148}}</string>
        <key>offset</key>
        <string>{-95,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{145,148}</string>
        <key>sourceSize</key>
        <string>{145,148}</string>
      </dict>
      <key>player_0518_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,0},{125,172}}</string>
        <key>offset</key>
        <string>{-78,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{125,172}</string>
        <key>sourceSize</key>
        <string>{125,172}</string>
      </dict>
      <key>player_0518_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{125,196}}</string>
        <key>offset</key>
        <string>{-63,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{125,196}</string>
        <key>sourceSize</key>
        <string>{125,196}</string>
      </dict>
      <key>player_0518_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,416},{140,189}}</string>
        <key>offset</key>
        <string>{-83,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{140,189}</string>
        <key>sourceSize</key>
        <string>{140,189}</string>
      </dict>
      <key>player_0518_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,614},{120,192}}</string>
        <key>offset</key>
        <string>{-62,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{120,192}</string>
        <key>sourceSize</key>
        <string>{120,192}</string>
      </dict>
      <key>player_0518_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,812},{110,194}}</string>
        <key>offset</key>
        <string>{-50,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{110,194}</string>
        <key>sourceSize</key>
        <string>{110,194}</string>
      </dict>
      <key>player_0518_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{170,186}}</string>
        <key>offset</key>
        <string>{-98,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{170,186}</string>
        <key>sourceSize</key>
        <string>{170,186}</string>
      </dict>
      <key>player_0518_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,812},{152,193}}</string>
        <key>offset</key>
        <string>{-89,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{152,193}</string>
        <key>sourceSize</key>
        <string>{152,193}</string>
      </dict>
      <key>player_0518_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,200},{152,187}}</string>
        <key>offset</key>
        <string>{-82,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{152,187}</string>
        <key>sourceSize</key>
        <string>{152,187}</string>
      </dict>
      <key>player_0518_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,389},{186,186}}</string>
        <key>offset</key>
        <string>{-56,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,186}</string>
        <key>sourceSize</key>
        <string>{186,186}</string>
      </dict>
      <key>player_0518_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,797},{183,180}}</string>
        <key>offset</key>
        <string>{-63,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{183,180}</string>
        <key>sourceSize</key>
        <string>{183,180}</string>
      </dict>
      <key>player_0518_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,188},{184,179}}</string>
        <key>offset</key>
        <string>{-67,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{184,179}</string>
        <key>sourceSize</key>
        <string>{184,179}</string>
      </dict>
      <key>player_0518_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{150,198}}</string>
        <key>offset</key>
        <string>{-2,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{150,198}</string>
        <key>sourceSize</key>
        <string>{150,198}</string>
      </dict>
      <key>player_0518_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{136,205}}</string>
        <key>offset</key>
        <string>{-7,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,205}</string>
        <key>sourceSize</key>
        <string>{136,205}</string>
      </dict>
      <key>player_0518_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,207}}</string>
        <key>offset</key>
        <string>{-9,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{122,207}</string>
        <key>sourceSize</key>
        <string>{122,207}</string>
      </dict>
      <key>player_0518_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,185},{135,173}}</string>
        <key>offset</key>
        <string>{-7,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,173}</string>
        <key>sourceSize</key>
        <string>{135,173}</string>
      </dict>
      <key>player_0518_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,200},{121,188}}</string>
        <key>offset</key>
        <string>{-12,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{121,188}</string>
        <key>sourceSize</key>
        <string>{121,188}</string>
      </dict>
      <key>player_0518_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{124,196}}</string>
        <key>offset</key>
        <string>{-23,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{124,196}</string>
        <key>sourceSize</key>
        <string>{124,196}</string>
      </dict>
      <key>player_0518_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{154,140}}</string>
        <key>offset</key>
        <string>{-10,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,140}</string>
        <key>sourceSize</key>
        <string>{154,140}</string>
      </dict>
      <key>player_0518_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,0},{153,148}}</string>
        <key>offset</key>
        <string>{-15,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{153,148}</string>
        <key>sourceSize</key>
        <string>{153,148}</string>
      </dict>
      <key>player_0518_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,374},{161,179}}</string>
        <key>offset</key>
        <string>{-28,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,179}</string>
        <key>sourceSize</key>
        <string>{161,179}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0518_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0518_0_7.png</string>
    </dict>
  </dict>
</plist>