<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3026_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,202},{59,58}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,58}}</string>
        <key>sourceSize</key>
        <string>{59,58}</string>
      </dict>
      <key>player_3026_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{58,66}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>player_3026_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{64,73}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_3026_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,393},{49,60}}</string>
        <key>offset</key>
        <string>{2,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,60}}</string>
        <key>sourceSize</key>
        <string>{49,60}</string>
      </dict>
      <key>player_3026_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,337},{54,69}}</string>
        <key>offset</key>
        <string>{8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,69}}</string>
        <key>sourceSize</key>
        <string>{54,69}</string>
      </dict>
      <key>player_3026_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{54,75}}</string>
        <key>offset</key>
        <string>{16,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,75}}</string>
        <key>sourceSize</key>
        <string>{54,75}</string>
      </dict>
      <key>player_3026_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,409},{60,67}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3026_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{67,70}}</string>
        <key>offset</key>
        <string>{5,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_3026_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,128},{74,72}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>player_3026_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,202},{64,73}}</string>
        <key>offset</key>
        <string>{-3,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_3026_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{72,71}}</string>
        <key>offset</key>
        <string>{4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>player_3026_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,132},{74,68}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,68}}</string>
        <key>sourceSize</key>
        <string>{74,68}</string>
      </dict>
      <key>player_3026_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{68,76}}</string>
        <key>offset</key>
        <string>{3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,76}}</string>
        <key>sourceSize</key>
        <string>{68,76}</string>
      </dict>
      <key>player_3026_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{69,76}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,76}}</string>
        <key>sourceSize</key>
        <string>{69,76}</string>
      </dict>
      <key>player_3026_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,268},{70,71}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_3026_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,56},{70,75}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>player_3026_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,77}}</string>
        <key>offset</key>
        <string>{8,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,77}}</string>
        <key>sourceSize</key>
        <string>{64,77}</string>
      </dict>
      <key>player_3026_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,70},{60,75}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>player_3026_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,202},{72,63}}</string>
        <key>offset</key>
        <string>{11,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,63}}</string>
        <key>sourceSize</key>
        <string>{72,63}</string>
      </dict>
      <key>player_3026_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,340},{69,67}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,67}}</string>
        <key>sourceSize</key>
        <string>{69,67}</string>
      </dict>
      <key>player_3026_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,267},{68,72}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,72}}</string>
        <key>sourceSize</key>
        <string>{68,72}</string>
      </dict>
      <key>player_3026_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{69,48}}</string>
        <key>offset</key>
        <string>{9,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,48}}</string>
        <key>sourceSize</key>
        <string>{69,48}</string>
      </dict>
      <key>player_3026_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{68,55}}</string>
        <key>offset</key>
        <string>{4,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>player_3026_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,409},{67,67}}</string>
        <key>offset</key>
        <string>{1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3026_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3026_0_7.png</string>
    </dict>
  </dict>
</plist>