<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3002_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{60,75}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>player_3002_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,153},{61,71}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,71}}</string>
        <key>sourceSize</key>
        <string>{61,71}</string>
      </dict>
      <key>player_3002_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{63,71}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,71}}</string>
        <key>sourceSize</key>
        <string>{63,71}</string>
      </dict>
      <key>player_3002_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{61,74}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,74}}</string>
        <key>sourceSize</key>
        <string>{61,74}</string>
      </dict>
      <key>player_3002_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,305},{62,71}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,71}}</string>
        <key>sourceSize</key>
        <string>{62,71}</string>
      </dict>
      <key>player_3002_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,231},{61,72}}</string>
        <key>offset</key>
        <string>{11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,72}}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
      <key>player_3002_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,378},{63,70}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,70}}</string>
        <key>sourceSize</key>
        <string>{63,70}</string>
      </dict>
      <key>player_3002_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,219},{60,67}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3002_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,226},{59,71}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>player_3002_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{62,73}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,73}}</string>
        <key>sourceSize</key>
        <string>{62,73}</string>
      </dict>
      <key>player_3002_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,153},{59,71}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,71}}</string>
        <key>sourceSize</key>
        <string>{59,71}</string>
      </dict>
      <key>player_3002_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,442},{59,68}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>player_3002_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,142},{66,66}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,66}}</string>
        <key>sourceSize</key>
        <string>{66,66}</string>
      </dict>
      <key>player_3002_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,144},{60,67}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3002_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,369},{59,68}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>player_3002_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,69},{65,66}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,66}}</string>
        <key>sourceSize</key>
        <string>{65,66}</string>
      </dict>
      <key>player_3002_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,73},{62,67}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,67}}</string>
        <key>sourceSize</key>
        <string>{62,67}</string>
      </dict>
      <key>player_3002_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{60,67}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3002_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,77},{63,74}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,74}}</string>
        <key>sourceSize</key>
        <string>{63,74}</string>
      </dict>
      <key>player_3002_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,148},{61,69}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,69}}</string>
        <key>sourceSize</key>
        <string>{61,69}</string>
      </dict>
      <key>player_3002_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{58,66}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>player_3002_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,75},{61,71}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,71}}</string>
        <key>sourceSize</key>
        <string>{61,71}</string>
      </dict>
      <key>player_3002_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{60,66}}</string>
        <key>offset</key>
        <string>{10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,66}}</string>
        <key>sourceSize</key>
        <string>{60,66}</string>
      </dict>
      <key>player_3002_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,451},{59,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>player_3002_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,76}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,76}}</string>
        <key>sourceSize</key>
        <string>{59,76}</string>
      </dict>
      <key>player_3002_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,73},{60,69}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,69}}</string>
        <key>sourceSize</key>
        <string>{60,69}</string>
      </dict>
      <key>player_3002_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{60,67}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,67}}</string>
        <key>sourceSize</key>
        <string>{60,67}</string>
      </dict>
      <key>player_3002_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{60,75}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>player_3002_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,439},{59,68}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>player_3002_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,450},{60,70}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_3002_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{65,71}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>player_3002_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,122},{58,65}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,65}}</string>
        <key>sourceSize</key>
        <string>{58,65}</string>
      </dict>
      <key>player_3002_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,288},{57,67}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,67}}</string>
        <key>sourceSize</key>
        <string>{57,67}</string>
      </dict>
      <key>player_3002_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{58,73}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,73}}</string>
        <key>sourceSize</key>
        <string>{58,73}</string>
      </dict>
      <key>player_3002_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,213},{56,67}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,67}}</string>
        <key>sourceSize</key>
        <string>{56,67}</string>
      </dict>
      <key>player_3002_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,62},{58,66}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>player_3002_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,299},{70,66}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,66}}</string>
        <key>sourceSize</key>
        <string>{70,66}</string>
      </dict>
      <key>player_3002_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,357},{57,66}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,66}}</string>
        <key>sourceSize</key>
        <string>{57,66}</string>
      </dict>
      <key>player_3002_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,282},{56,66}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>player_3002_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,371},{69,65}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,65}}</string>
        <key>sourceSize</key>
        <string>{69,65}</string>
      </dict>
      <key>player_3002_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,182},{56,65}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,65}}</string>
        <key>sourceSize</key>
        <string>{56,65}</string>
      </dict>
      <key>player_3002_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,210},{59,66}}</string>
        <key>offset</key>
        <string>{9,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,66}}</string>
        <key>sourceSize</key>
        <string>{59,66}</string>
      </dict>
      <key>player_3002_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{61,73}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,73}}</string>
        <key>sourceSize</key>
        <string>{61,73}</string>
      </dict>
      <key>player_3002_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,226},{57,70}}</string>
        <key>offset</key>
        <string>{13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,70}}</string>
        <key>sourceSize</key>
        <string>{57,70}</string>
      </dict>
      <key>player_3002_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,137},{56,66}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>player_3002_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,298},{64,69}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_3002_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,425},{57,65}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,65}}</string>
        <key>sourceSize</key>
        <string>{57,65}</string>
      </dict>
      <key>player_3002_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,378},{57,71}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,71}}</string>
        <key>sourceSize</key>
        <string>{57,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3002_1_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3002_1_1.png</string>
    </dict>
  </dict>
</plist>