<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0510_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{206,102}}</string>
        <key>offset</key>
        <string>{-92,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{206,102}}</string>
        <key>sourceSize</key>
        <string>{207,102}</string>
      </dict>
      <key>player_0510_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,632},{194,124}}</string>
        <key>offset</key>
        <string>{-91,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{194,124}}</string>
        <key>sourceSize</key>
        <string>{194,125}</string>
      </dict>
      <key>player_0510_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{210,100}}</string>
        <key>offset</key>
        <string>{-89,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{210,100}}</string>
        <key>sourceSize</key>
        <string>{211,100}</string>
      </dict>
      <key>player_0510_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,184},{148,170}}</string>
        <key>offset</key>
        <string>{-95,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{148,170}}</string>
        <key>sourceSize</key>
        <string>{148,170}</string>
      </dict>
      <key>player_0510_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,390},{152,172}}</string>
        <key>offset</key>
        <string>{-87,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{152,172}}</string>
        <key>sourceSize</key>
        <string>{152,172}</string>
      </dict>
      <key>player_0510_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,788},{154,160}}</string>
        <key>offset</key>
        <string>{-77,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{154,160}}</string>
        <key>sourceSize</key>
        <string>{154,160}</string>
      </dict>
      <key>player_0510_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,828},{142,190}}</string>
        <key>offset</key>
        <string>{-88,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{142,190}}</string>
        <key>sourceSize</key>
        <string>{142,190}</string>
      </dict>
      <key>player_0510_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{160,182}}</string>
        <key>offset</key>
        <string>{-97,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,182}}</string>
        <key>sourceSize</key>
        <string>{160,183}</string>
      </dict>
      <key>player_0510_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,606},{130,180}}</string>
        <key>offset</key>
        <string>{-58,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{130,180}}</string>
        <key>sourceSize</key>
        <string>{130,181}</string>
      </dict>
      <key>player_0510_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,212},{200,154}}</string>
        <key>offset</key>
        <string>{-111,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{200,154}}</string>
        <key>sourceSize</key>
        <string>{201,154}</string>
      </dict>
      <key>player_0510_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{206,156}}</string>
        <key>offset</key>
        <string>{-112,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{206,156}}</string>
        <key>sourceSize</key>
        <string>{207,156}</string>
      </dict>
      <key>player_0510_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,200},{188,158}}</string>
        <key>offset</key>
        <string>{-96,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{188,158}}</string>
        <key>sourceSize</key>
        <string>{188,159}</string>
      </dict>
      <key>player_0510_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,130}}</string>
        <key>offset</key>
        <string>{-70,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{212,130}}</string>
        <key>sourceSize</key>
        <string>{212,131}</string>
      </dict>
      <key>player_0510_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{198,140}}</string>
        <key>offset</key>
        <string>{-58,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,140}}</string>
        <key>sourceSize</key>
        <string>{199,141}</string>
      </dict>
      <key>player_0510_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{212,138}}</string>
        <key>offset</key>
        <string>{-75,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{212,138}}</string>
        <key>sourceSize</key>
        <string>{212,139}</string>
      </dict>
      <key>player_0510_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,716},{134,136}}</string>
        <key>offset</key>
        <string>{10,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{134,136}}</string>
        <key>sourceSize</key>
        <string>{134,137}</string>
      </dict>
      <key>player_0510_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,854},{126,136}}</string>
        <key>offset</key>
        <string>{10,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{126,136}}</string>
        <key>sourceSize</key>
        <string>{127,136}</string>
      </dict>
      <key>player_0510_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,0},{144,162}}</string>
        <key>offset</key>
        <string>{-20,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{144,162}}</string>
        <key>sourceSize</key>
        <string>{145,162}</string>
      </dict>
      <key>player_0510_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,854},{128,126}}</string>
        <key>offset</key>
        <string>{5,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{128,126}}</string>
        <key>sourceSize</key>
        <string>{128,127}</string>
      </dict>
      <key>player_0510_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,356},{140,126}}</string>
        <key>offset</key>
        <string>{0,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{140,126}}</string>
        <key>sourceSize</key>
        <string>{140,126}</string>
      </dict>
      <key>player_0510_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,564},{102,150}}</string>
        <key>offset</key>
        <string>{3,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,150}}</string>
        <key>sourceSize</key>
        <string>{103,151}</string>
      </dict>
      <key>player_0510_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,844},{196,76}}</string>
        <key>offset</key>
        <string>{-42,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{196,76}}</string>
        <key>sourceSize</key>
        <string>{196,77}</string>
      </dict>
      <key>player_0510_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,428},{202,86}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{202,86}}</string>
        <key>sourceSize</key>
        <string>{203,86}</string>
      </dict>
      <key>player_0510_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,414},{190,128}}</string>
        <key>offset</key>
        <string>{-47,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{190,128}}</string>
        <key>sourceSize</key>
        <string>{190,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0510_1_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_0510_1_7.png</string>
    </dict>
  </dict>
</plist>