<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21019_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,143},{68,67}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,67}}</string>
        <key>sourceSize</key>
        <string>{68,67}</string>
      </dict>
      <key>player_21019_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,202},{60,57}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>player_21019_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,137},{56,64}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>player_21019_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,261},{45,58}}</string>
        <key>offset</key>
        <string>{-9,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,58}}</string>
        <key>sourceSize</key>
        <string>{45,58}</string>
      </dict>
      <key>player_21019_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{61,70}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,70}}</string>
        <key>sourceSize</key>
        <string>{61,70}</string>
      </dict>
      <key>player_21019_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,144},{69,56}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,56}}</string>
        <key>sourceSize</key>
        <string>{69,56}</string>
      </dict>
      <key>player_21019_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,82},{79,60}}</string>
        <key>offset</key>
        <string>{-6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>player_21019_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,86},{81,49}}</string>
        <key>offset</key>
        <string>{-5,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,49}}</string>
        <key>sourceSize</key>
        <string>{81,49}</string>
      </dict>
      <key>player_21019_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,72},{61,69}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,69}}</string>
        <key>sourceSize</key>
        <string>{61,69}</string>
      </dict>
      <key>player_21019_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{69,55}}</string>
        <key>offset</key>
        <string>{-7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,55}}</string>
        <key>sourceSize</key>
        <string>{69,55}</string>
      </dict>
      <key>player_21019_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,0},{84,50}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,50}}</string>
        <key>sourceSize</key>
        <string>{84,50}</string>
      </dict>
      <key>player_21019_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{97,27}}</string>
        <key>offset</key>
        <string>{-3,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,27}}</string>
        <key>sourceSize</key>
        <string>{97,27}</string>
      </dict>
      <key>player_21019_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{61,67}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,67}}</string>
        <key>sourceSize</key>
        <string>{61,67}</string>
      </dict>
      <key>player_21019_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,69},{66,51}}</string>
        <key>offset</key>
        <string>{4,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,51}}</string>
        <key>sourceSize</key>
        <string>{66,51}</string>
      </dict>
      <key>player_21019_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,163},{70,52}}</string>
        <key>offset</key>
        <string>{10,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,52}}</string>
        <key>sourceSize</key>
        <string>{70,52}</string>
      </dict>
      <key>player_21019_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,100},{86,48}}</string>
        <key>offset</key>
        <string>{2,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,48}}</string>
        <key>sourceSize</key>
        <string>{86,48}</string>
      </dict>
      <key>player_21019_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{67,67}}</string>
        <key>offset</key>
        <string>{2,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>player_21019_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,203},{64,49}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,49}}</string>
        <key>sourceSize</key>
        <string>{64,49}</string>
      </dict>
      <key>player_21019_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,213},{53,51}}</string>
        <key>offset</key>
        <string>{11,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,51}}</string>
        <key>sourceSize</key>
        <string>{53,51}</string>
      </dict>
      <key>player_21019_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,254},{44,59}}</string>
        <key>offset</key>
        <string>{16,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,59}}</string>
        <key>sourceSize</key>
        <string>{44,59}</string>
      </dict>
      <key>player_21019_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,72},{58,70}}</string>
        <key>offset</key>
        <string>{9,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21019_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,137},{63,50}}</string>
        <key>offset</key>
        <string>{2,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,50}}</string>
        <key>sourceSize</key>
        <string>{63,50}</string>
      </dict>
      <key>player_21019_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{80,47}}</string>
        <key>offset</key>
        <string>{-13,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,47}}</string>
        <key>sourceSize</key>
        <string>{80,47}</string>
      </dict>
      <key>player_21019_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,169},{80,52}}</string>
        <key>offset</key>
        <string>{-25,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,52}}</string>
        <key>sourceSize</key>
        <string>{80,52}</string>
      </dict>
      <key>player_21019_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{60,70}}</string>
        <key>offset</key>
        <string>{7,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_21019_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,209},{62,57}}</string>
        <key>offset</key>
        <string>{5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,57}}</string>
        <key>sourceSize</key>
        <string>{62,57}</string>
      </dict>
      <key>player_21019_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{79,49}}</string>
        <key>offset</key>
        <string>{-15,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,49}}</string>
        <key>sourceSize</key>
        <string>{79,49}</string>
      </dict>
      <key>player_21019_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,33}}</string>
        <key>offset</key>
        <string>{-44,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,33}}</string>
        <key>sourceSize</key>
        <string>{98,33}</string>
      </dict>
      <key>player_21019_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,69},{66,67}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,67}}</string>
        <key>sourceSize</key>
        <string>{66,67}</string>
      </dict>
      <key>player_21019_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,141},{66,58}}</string>
        <key>offset</key>
        <string>{-8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,58}}</string>
        <key>sourceSize</key>
        <string>{66,58}</string>
      </dict>
      <key>player_21019_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,71},{68,57}}</string>
        <key>offset</key>
        <string>{-17,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,57}}</string>
        <key>sourceSize</key>
        <string>{68,57}</string>
      </dict>
      <key>player_21019_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{87,48}}</string>
        <key>offset</key>
        <string>{-37,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,48}}</string>
        <key>sourceSize</key>
        <string>{87,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21019_1_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_21019_1_4.png</string>
    </dict>
  </dict>
</plist>