<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3017_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{96,80}}</string>
        <key>offset</key>
        <string>{-13,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>player_3017_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,96},{90,77}}</string>
        <key>offset</key>
        <string>{-14,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,77}}</string>
        <key>sourceSize</key>
        <string>{90,77}</string>
      </dict>
      <key>player_3017_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{115,87}}</string>
        <key>offset</key>
        <string>{-28,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,87}}</string>
        <key>sourceSize</key>
        <string>{115,87}</string>
      </dict>
      <key>player_3017_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,381},{85,76}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,76}}</string>
        <key>sourceSize</key>
        <string>{85,76}</string>
      </dict>
      <key>player_3017_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{108,74}}</string>
        <key>offset</key>
        <string>{-11,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,74}}</string>
        <key>sourceSize</key>
        <string>{108,74}</string>
      </dict>
      <key>player_3017_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,98},{94,76}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>player_3017_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,352},{79,78}}</string>
        <key>offset</key>
        <string>{-4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>player_3017_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,194},{92,78}}</string>
        <key>offset</key>
        <string>{-17,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,78}}</string>
        <key>sourceSize</key>
        <string>{92,78}</string>
      </dict>
      <key>player_3017_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,345},{106,80}}</string>
        <key>offset</key>
        <string>{-13,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,80}}</string>
        <key>sourceSize</key>
        <string>{106,80}</string>
      </dict>
      <key>player_3017_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,283},{84,78}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>player_3017_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,424},{98,75}}</string>
        <key>offset</key>
        <string>{-22,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,75}}</string>
        <key>sourceSize</key>
        <string>{98,75}</string>
      </dict>
      <key>player_3017_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,235},{106,81}}</string>
        <key>offset</key>
        <string>{-26,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,81}}</string>
        <key>sourceSize</key>
        <string>{106,81}</string>
      </dict>
      <key>player_3017_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,84},{80,70}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,70}}</string>
        <key>sourceSize</key>
        <string>{80,70}</string>
      </dict>
      <key>player_3017_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,307},{96,73}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,73}}</string>
        <key>sourceSize</key>
        <string>{96,73}</string>
      </dict>
      <key>player_3017_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,106},{100,68}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>player_3017_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,393},{91,69}}</string>
        <key>offset</key>
        <string>{-12,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,69}}</string>
        <key>sourceSize</key>
        <string>{91,69}</string>
      </dict>
      <key>player_3017_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,405},{96,76}}</string>
        <key>offset</key>
        <string>{-25,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,76}}</string>
        <key>sourceSize</key>
        <string>{96,76}</string>
      </dict>
      <key>player_3017_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{94,76}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,76}}</string>
        <key>sourceSize</key>
        <string>{94,76}</string>
      </dict>
      <key>player_3017_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,90},{82,62}}</string>
        <key>offset</key>
        <string>{-4,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,62}}</string>
        <key>sourceSize</key>
        <string>{82,62}</string>
      </dict>
      <key>player_3017_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,92},{88,69}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,69}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>player_3017_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{86,53}}</string>
        <key>offset</key>
        <string>{3,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,53}}</string>
        <key>sourceSize</key>
        <string>{86,53}</string>
      </dict>
      <key>player_3017_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,405},{93,59}}</string>
        <key>offset</key>
        <string>{-15,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,59}}</string>
        <key>sourceSize</key>
        <string>{93,59}</string>
      </dict>
      <key>player_3017_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,208},{97,79}}</string>
        <key>offset</key>
        <string>{-25,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>player_3017_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{104,77}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,77}}</string>
        <key>sourceSize</key>
        <string>{104,77}</string>
      </dict>
      <key>player_3017_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,433},{76,71}}</string>
        <key>offset</key>
        <string>{-6,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>player_3017_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{72,82}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,82}}</string>
        <key>sourceSize</key>
        <string>{72,82}</string>
      </dict>
      <key>player_3017_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,288},{91,63}}</string>
        <key>offset</key>
        <string>{0,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,63}}</string>
        <key>sourceSize</key>
        <string>{91,63}</string>
      </dict>
      <key>player_3017_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,174},{81,69}}</string>
        <key>offset</key>
        <string>{-8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,69}}</string>
        <key>sourceSize</key>
        <string>{81,69}</string>
      </dict>
      <key>player_3017_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,112},{106,92}}</string>
        <key>offset</key>
        <string>{-30,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,92}}</string>
        <key>sourceSize</key>
        <string>{106,92}</string>
      </dict>
      <key>player_3017_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,201},{95,81}}</string>
        <key>offset</key>
        <string>{-17,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,81}}</string>
        <key>sourceSize</key>
        <string>{95,81}</string>
      </dict>
      <key>player_3017_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,433},{60,73}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
      <key>player_3017_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,182},{77,84}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,84}}</string>
        <key>sourceSize</key>
        <string>{77,84}</string>
      </dict>
      <key>player_3017_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,0},{80,72}}</string>
        <key>offset</key>
        <string>{-11,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,72}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>player_3017_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,369},{82,73}}</string>
        <key>offset</key>
        <string>{-1,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,73}}</string>
        <key>sourceSize</key>
        <string>{82,73}</string>
      </dict>
      <key>player_3017_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{110,84}}</string>
        <key>offset</key>
        <string>{-13,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,84}}</string>
        <key>sourceSize</key>
        <string>{110,84}</string>
      </dict>
      <key>player_3017_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,343},{102,78}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,78}}</string>
        <key>sourceSize</key>
        <string>{102,78}</string>
      </dict>
      <key>player_3017_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,268},{69,82}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,82}}</string>
        <key>sourceSize</key>
        <string>{69,82}</string>
      </dict>
      <key>player_3017_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{100,86}}</string>
        <key>offset</key>
        <string>{-29,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,86}</string>
      </dict>
      <key>player_3017_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,190},{91,87}}</string>
        <key>offset</key>
        <string>{-17,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,87}}</string>
        <key>sourceSize</key>
        <string>{91,87}</string>
      </dict>
      <key>player_3017_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,96},{92,66}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,66}}</string>
        <key>sourceSize</key>
        <string>{92,66}</string>
      </dict>
      <key>player_3017_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,102},{97,81}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,81}}</string>
        <key>sourceSize</key>
        <string>{97,81}</string>
      </dict>
      <key>player_3017_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,323},{99,68}}</string>
        <key>offset</key>
        <string>{-10,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,68}}</string>
        <key>sourceSize</key>
        <string>{99,68}</string>
      </dict>
      <key>player_3017_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{88,76}}</string>
        <key>offset</key>
        <string>{-12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>player_3017_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,307},{96,74}}</string>
        <key>offset</key>
        <string>{-28,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,74}}</string>
        <key>sourceSize</key>
        <string>{96,74}</string>
      </dict>
      <key>player_3017_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{90,90}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>player_3017_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,298},{93,66}}</string>
        <key>offset</key>
        <string>{-13,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,66}}</string>
        <key>sourceSize</key>
        <string>{93,66}</string>
      </dict>
      <key>player_3017_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,220},{101,70}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,70}}</string>
        <key>sourceSize</key>
        <string>{101,70}</string>
      </dict>
      <key>player_3017_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,71}}</string>
        <key>offset</key>
        <string>{-21,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,71}}</string>
        <key>sourceSize</key>
        <string>{116,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3017_0_10.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3017_0_10.png</string>
    </dict>
  </dict>
</plist>