<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21025_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,282},{89,89}}</string>
        <key>offset</key>
        <string>{-11,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,89}}</string>
        <key>sourceSize</key>
        <string>{89,89}</string>
      </dict>
      <key>player_21025_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,373},{87,78}}</string>
        <key>offset</key>
        <string>{-20,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,78}}</string>
        <key>sourceSize</key>
        <string>{87,78}</string>
      </dict>
      <key>player_21025_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,195},{93,94}}</string>
        <key>offset</key>
        <string>{-18,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,94}}</string>
        <key>sourceSize</key>
        <string>{93,94}</string>
      </dict>
      <key>player_21025_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,373},{81,87}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,87}}</string>
        <key>sourceSize</key>
        <string>{81,87}</string>
      </dict>
      <key>player_21025_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,186},{78,89}}</string>
        <key>offset</key>
        <string>{-17,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,89}}</string>
        <key>sourceSize</key>
        <string>{78,89}</string>
      </dict>
      <key>player_21025_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,207},{97,91}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,91}}</string>
        <key>sourceSize</key>
        <string>{97,91}</string>
      </dict>
      <key>player_21025_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,393},{77,92}}</string>
        <key>offset</key>
        <string>{0,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,92}}</string>
        <key>sourceSize</key>
        <string>{77,92}</string>
      </dict>
      <key>player_21025_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,92},{88,89}}</string>
        <key>offset</key>
        <string>{-14,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,89}}</string>
        <key>sourceSize</key>
        <string>{88,89}</string>
      </dict>
      <key>player_21025_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{105,97}}</string>
        <key>offset</key>
        <string>{-9,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,97}}</string>
        <key>sourceSize</key>
        <string>{105,97}</string>
      </dict>
      <key>player_21025_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,306},{95,91}}</string>
        <key>offset</key>
        <string>{-17,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,91}}</string>
        <key>sourceSize</key>
        <string>{95,91}</string>
      </dict>
      <key>player_21025_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,87}}</string>
        <key>offset</key>
        <string>{-30,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,87}}</string>
        <key>sourceSize</key>
        <string>{113,87}</string>
      </dict>
      <key>player_21025_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,101},{96,90}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>player_21025_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,291},{79,92}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,92}}</string>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>player_21025_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,287},{86,91}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,91}}</string>
        <key>sourceSize</key>
        <string>{86,91}</string>
      </dict>
      <key>player_21025_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,332},{102,87}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,87}}</string>
        <key>sourceSize</key>
        <string>{102,87}</string>
      </dict>
      <key>player_21025_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{99,91}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,91}}</string>
        <key>sourceSize</key>
        <string>{99,91}</string>
      </dict>
      <key>player_21025_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{103,87}}</string>
        <key>offset</key>
        <string>{-13,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,87}}</string>
        <key>sourceSize</key>
        <string>{103,87}</string>
      </dict>
      <key>player_21025_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,190},{90,89}}</string>
        <key>offset</key>
        <string>{-15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,89}}</string>
        <key>sourceSize</key>
        <string>{90,89}</string>
      </dict>
      <key>player_21025_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,199},{95,85}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,85}}</string>
        <key>sourceSize</key>
        <string>{95,85}</string>
      </dict>
      <key>player_21025_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,324},{98,88}}</string>
        <key>offset</key>
        <string>{-9,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>player_21025_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,115},{104,73}}</string>
        <key>offset</key>
        <string>{-4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,73}}</string>
        <key>sourceSize</key>
        <string>{104,73}</string>
      </dict>
      <key>player_21025_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{108,74}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,74}}</string>
        <key>sourceSize</key>
        <string>{108,74}</string>
      </dict>
      <key>player_21025_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,98},{95,81}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,81}}</string>
        <key>sourceSize</key>
        <string>{95,81}</string>
      </dict>
      <key>player_21025_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{96,80}}</string>
        <key>offset</key>
        <string>{-12,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>player_21025_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{89,95}}</string>
        <key>offset</key>
        <string>{-4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,95}}</string>
        <key>sourceSize</key>
        <string>{89,95}</string>
      </dict>
      <key>player_21025_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,403},{95,87}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,87}}</string>
        <key>sourceSize</key>
        <string>{95,87}</string>
      </dict>
      <key>player_21025_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,94},{90,84}}</string>
        <key>offset</key>
        <string>{-1,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,84}}</string>
        <key>sourceSize</key>
        <string>{90,84}</string>
      </dict>
      <key>player_21025_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{98,73}}</string>
        <key>offset</key>
        <string>{-9,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>player_21025_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,0},{84,78}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,78}}</string>
        <key>sourceSize</key>
        <string>{84,78}</string>
      </dict>
      <key>player_21025_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,193},{92,81}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,81}}</string>
        <key>sourceSize</key>
        <string>{92,81}</string>
      </dict>
      <key>player_21025_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,96},{79,92}}</string>
        <key>offset</key>
        <string>{-5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,92}}</string>
        <key>sourceSize</key>
        <string>{79,92}</string>
      </dict>
      <key>player_21025_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,424},{96,80}}</string>
        <key>offset</key>
        <string>{-11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>player_21025_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,277},{75,87}}</string>
        <key>offset</key>
        <string>{-10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,87}}</string>
        <key>sourceSize</key>
        <string>{75,87}</string>
      </dict>
      <key>player_21025_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,272},{76,68}}</string>
        <key>offset</key>
        <string>{-1,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,68}}</string>
        <key>sourceSize</key>
        <string>{76,68}</string>
      </dict>
      <key>player_21025_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{92,71}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,71}}</string>
        <key>sourceSize</key>
        <string>{92,71}</string>
      </dict>
      <key>player_21025_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,183},{84,87}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,87}}</string>
        <key>sourceSize</key>
        <string>{84,87}</string>
      </dict>
      <key>player_21025_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,105},{100,87}}</string>
        <key>offset</key>
        <string>{-20,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,87}}</string>
        <key>sourceSize</key>
        <string>{100,87}</string>
      </dict>
      <key>player_21025_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{103,79}}</string>
        <key>offset</key>
        <string>{-22,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,79}}</string>
        <key>sourceSize</key>
        <string>{103,79}</string>
      </dict>
      <key>player_21025_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,0},{85,90}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>player_21025_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,91},{87,64}}</string>
        <key>offset</key>
        <string>{-22,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,64}}</string>
        <key>sourceSize</key>
        <string>{87,64}</string>
      </dict>
      <key>player_21025_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,366},{82,76}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>player_21025_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{83,89}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,89}}</string>
        <key>sourceSize</key>
        <string>{83,89}</string>
      </dict>
      <key>player_21025_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,296},{95,80}}</string>
        <key>offset</key>
        <string>{-16,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,80}}</string>
        <key>sourceSize</key>
        <string>{95,80}</string>
      </dict>
      <key>player_21025_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,393},{93,76}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,76}}</string>
        <key>sourceSize</key>
        <string>{93,76}</string>
      </dict>
      <key>player_21025_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,385},{92,90}}</string>
        <key>offset</key>
        <string>{-25,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,90}}</string>
        <key>sourceSize</key>
        <string>{92,90}</string>
      </dict>
      <key>player_21025_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,221},{101,85}}</string>
        <key>offset</key>
        <string>{-29,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>player_21025_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,97},{73,94}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,94}}</string>
        <key>sourceSize</key>
        <string>{73,94}</string>
      </dict>
      <key>player_21025_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{89,94}}</string>
        <key>offset</key>
        <string>{-16,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,94}}</string>
        <key>sourceSize</key>
        <string>{89,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21025_1_10.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_21025_1_10.png</string>
    </dict>
  </dict>
</plist>