<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21026_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,363},{109,104}}</string>
        <key>offset</key>
        <string>{-26,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,104}}</string>
        <key>sourceSize</key>
        <string>{109,104}</string>
      </dict>
      <key>player_21026_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,118},{91,108}}</string>
        <key>offset</key>
        <string>{-16,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,108}}</string>
        <key>sourceSize</key>
        <string>{91,108}</string>
      </dict>
      <key>player_21026_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,913},{137,103}}</string>
        <key>offset</key>
        <string>{-34,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,103}}</string>
        <key>sourceSize</key>
        <string>{137,103}</string>
      </dict>
      <key>player_21026_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,238},{109,105}}</string>
        <key>offset</key>
        <string>{-11,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,105}}</string>
        <key>sourceSize</key>
        <string>{109,105}</string>
      </dict>
      <key>player_21026_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,245},{116,103}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,103}}</string>
        <key>sourceSize</key>
        <string>{116,103}</string>
      </dict>
      <key>player_21026_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{156,101}}</string>
        <key>offset</key>
        <string>{-40,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,101}}</string>
        <key>sourceSize</key>
        <string>{156,101}</string>
      </dict>
      <key>player_21026_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,634},{93,114}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,114}}</string>
        <key>sourceSize</key>
        <string>{93,114}</string>
      </dict>
      <key>player_21026_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,625},{101,110}}</string>
        <key>offset</key>
        <string>{-27,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,110}}</string>
        <key>sourceSize</key>
        <string>{101,110}</string>
      </dict>
      <key>player_21026_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,349},{86,107}}</string>
        <key>offset</key>
        <string>{1,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,107}}</string>
        <key>sourceSize</key>
        <string>{86,107}</string>
      </dict>
      <key>player_21026_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{140,111}}</string>
        <key>offset</key>
        <string>{-13,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,111}}</string>
        <key>sourceSize</key>
        <string>{140,111}</string>
      </dict>
      <key>player_21026_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,317},{142,107}}</string>
        <key>offset</key>
        <string>{-21,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,107}}</string>
        <key>sourceSize</key>
        <string>{142,107}</string>
      </dict>
      <key>player_21026_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,125},{118,109}}</string>
        <key>offset</key>
        <string>{-25,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,109}}</string>
        <key>sourceSize</key>
        <string>{118,109}</string>
      </dict>
      <key>player_21026_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,772},{137,107}}</string>
        <key>offset</key>
        <string>{-36,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,107}}</string>
        <key>sourceSize</key>
        <string>{137,107}</string>
      </dict>
      <key>player_21026_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{152,99}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,99}}</string>
        <key>sourceSize</key>
        <string>{152,99}</string>
      </dict>
      <key>player_21026_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,474},{108,99}}</string>
        <key>offset</key>
        <string>{-12,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,99}}</string>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>player_21026_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,863},{127,105}}</string>
        <key>offset</key>
        <string>{-8,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,105}}</string>
        <key>sourceSize</key>
        <string>{127,105}</string>
      </dict>
      <key>player_21026_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{123,113}}</string>
        <key>offset</key>
        <string>{-18,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,113}}</string>
        <key>sourceSize</key>
        <string>{123,113}</string>
      </dict>
      <key>player_21026_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,509},{89,114}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,114}}</string>
        <key>sourceSize</key>
        <string>{89,114}</string>
      </dict>
      <key>player_21026_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,624},{146,100}}</string>
        <key>offset</key>
        <string>{-32,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,100}}</string>
        <key>sourceSize</key>
        <string>{146,100}</string>
      </dict>
      <key>player_21026_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,461},{132,96}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,96}}</string>
        <key>sourceSize</key>
        <string>{132,96}</string>
      </dict>
      <key>player_21026_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{139,89}}</string>
        <key>offset</key>
        <string>{-19,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,89}}</string>
        <key>sourceSize</key>
        <string>{139,89}</string>
      </dict>
      <key>player_21026_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{118,114}}</string>
        <key>offset</key>
        <string>{-11,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,114}</string>
      </dict>
      <key>player_21026_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,394},{119,116}}</string>
        <key>offset</key>
        <string>{-18,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,116}}</string>
        <key>sourceSize</key>
        <string>{119,116}</string>
      </dict>
      <key>player_21026_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,911},{137,100}}</string>
        <key>offset</key>
        <string>{-27,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,100}}</string>
        <key>sourceSize</key>
        <string>{137,100}</string>
      </dict>
      <key>player_21026_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,142},{125,108}}</string>
        <key>offset</key>
        <string>{-7,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,108}}</string>
        <key>sourceSize</key>
        <string>{125,108}</string>
      </dict>
      <key>player_21026_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,728},{98,93}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,93}}</string>
        <key>sourceSize</key>
        <string>{98,93}</string>
      </dict>
      <key>player_21026_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,120},{116,107}}</string>
        <key>offset</key>
        <string>{-6,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,107}}</string>
        <key>sourceSize</key>
        <string>{116,107}</string>
      </dict>
      <key>player_21026_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,269},{123,105}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,105}}</string>
        <key>sourceSize</key>
        <string>{123,105}</string>
      </dict>
      <key>player_21026_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,616},{134,106}}</string>
        <key>offset</key>
        <string>{-25,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,106}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>player_21026_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,155},{142,105}}</string>
        <key>offset</key>
        <string>{-22,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,105}}</string>
        <key>sourceSize</key>
        <string>{142,105}</string>
      </dict>
      <key>player_21026_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,845},{98,102}}</string>
        <key>offset</key>
        <string>{-2,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,102}}</string>
        <key>sourceSize</key>
        <string>{98,102}</string>
      </dict>
      <key>player_21026_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,269},{119,83}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,83}}</string>
        <key>sourceSize</key>
        <string>{119,83}</string>
      </dict>
      <key>player_21026_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,729},{84,114}}</string>
        <key>offset</key>
        <string>{-7,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,114}}</string>
        <key>sourceSize</key>
        <string>{84,114}</string>
      </dict>
      <key>player_21026_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{151,85}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,85}}</string>
        <key>sourceSize</key>
        <string>{151,85}</string>
      </dict>
      <key>player_21026_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{153,92}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,92}}</string>
        <key>sourceSize</key>
        <string>{153,92}</string>
      </dict>
      <key>player_21026_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,0},{116,115}}</string>
        <key>offset</key>
        <string>{-3,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>player_21026_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,752},{132,87}}</string>
        <key>offset</key>
        <string>{-15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,87}}</string>
        <key>sourceSize</key>
        <string>{132,87}</string>
      </dict>
      <key>player_21026_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,886},{132,78}}</string>
        <key>offset</key>
        <string>{-34,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,78}}</string>
        <key>sourceSize</key>
        <string>{132,78}</string>
      </dict>
      <key>player_21026_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,515},{117,103}}</string>
        <key>offset</key>
        <string>{-16,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,103}}</string>
        <key>sourceSize</key>
        <string>{117,103}</string>
      </dict>
      <key>player_21026_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,595},{132,93}}</string>
        <key>offset</key>
        <string>{-38,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,93}}</string>
        <key>sourceSize</key>
        <string>{132,93}</string>
      </dict>
      <key>player_21026_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,390},{117,105}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,105}}</string>
        <key>sourceSize</key>
        <string>{117,105}</string>
      </dict>
      <key>player_21026_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,228},{103,107}}</string>
        <key>offset</key>
        <string>{-7,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,107}}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>player_21026_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,471},{143,83}}</string>
        <key>offset</key>
        <string>{-36,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,83}}</string>
        <key>sourceSize</key>
        <string>{143,83}</string>
      </dict>
      <key>player_21026_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,0},{103,99}}</string>
        <key>offset</key>
        <string>{-35,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,99}}</string>
        <key>sourceSize</key>
        <string>{103,99}</string>
      </dict>
      <key>player_21026_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,92}}</string>
        <key>offset</key>
        <string>{-43,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,92}}</string>
        <key>sourceSize</key>
        <string>{157,92}</string>
      </dict>
      <key>player_21026_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,118},{96,106}}</string>
        <key>offset</key>
        <string>{-20,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,106}}</string>
        <key>sourceSize</key>
        <string>{96,106}</string>
      </dict>
      <key>player_21026_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,584},{88,97}}</string>
        <key>offset</key>
        <string>{-7,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,97}}</string>
        <key>sourceSize</key>
        <string>{88,97}</string>
      </dict>
      <key>player_21026_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,729},{132,96}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,96}}</string>
        <key>sourceSize</key>
        <string>{132,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21026_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_21026_0_10.png</string>
    </dict>
  </dict>
</plist>