<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3029_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,255},{73,77}}</string>
        <key>offset</key>
        <string>{0,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,77}}</string>
        <key>sourceSize</key>
        <string>{73,77}</string>
      </dict>
      <key>player_3029_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,160},{66,76}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,76}}</string>
        <key>sourceSize</key>
        <string>{66,76}</string>
      </dict>
      <key>player_3029_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,195},{70,81}}</string>
        <key>offset</key>
        <string>{4,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,81}}</string>
        <key>sourceSize</key>
        <string>{70,81}</string>
      </dict>
      <key>player_3029_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,382},{74,85}}</string>
        <key>offset</key>
        <string>{0,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,85}}</string>
        <key>sourceSize</key>
        <string>{74,85}</string>
      </dict>
      <key>player_3029_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{93,88}}</string>
        <key>offset</key>
        <string>{-11,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,88}}</string>
        <key>sourceSize</key>
        <string>{93,88}</string>
      </dict>
      <key>player_3029_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,283},{80,84}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>player_3029_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,91},{77,80}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,80}}</string>
        <key>sourceSize</key>
        <string>{77,80}</string>
      </dict>
      <key>player_3029_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,164},{72,77}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>player_3029_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{79,80}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,80}}</string>
        <key>sourceSize</key>
        <string>{79,80}</string>
      </dict>
      <key>player_3029_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,81},{72,77}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>player_3029_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,102},{91,81}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,81}}</string>
        <key>sourceSize</key>
        <string>{91,81}</string>
      </dict>
      <key>player_3029_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,84}}</string>
        <key>offset</key>
        <string>{-16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,84}}</string>
        <key>sourceSize</key>
        <string>{100,84}</string>
      </dict>
      <key>player_3029_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,81},{76,73}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,73}}</string>
        <key>sourceSize</key>
        <string>{76,73}</string>
      </dict>
      <key>player_3029_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,173},{80,72}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,72}}</string>
        <key>sourceSize</key>
        <string>{80,72}</string>
      </dict>
      <key>player_3029_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{79,75}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>player_3029_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,415},{77,75}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>player_3029_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{87,74}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>player_3029_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{89,74}}</string>
        <key>offset</key>
        <string>{-11,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,74}}</string>
        <key>sourceSize</key>
        <string>{89,74}</string>
      </dict>
      <key>player_3029_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,231},{71,72}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_3029_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,75},{69,71}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
      <key>player_3029_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,334},{77,72}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,72}}</string>
        <key>sourceSize</key>
        <string>{77,72}</string>
      </dict>
      <key>player_3029_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,0},{70,73}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>player_3029_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,387},{70,70}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>player_3029_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,255},{78,69}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,69}}</string>
        <key>sourceSize</key>
        <string>{78,69}</string>
      </dict>
      <key>player_3029_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,154},{70,72}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,72}}</string>
        <key>sourceSize</key>
        <string>{70,72}</string>
      </dict>
      <key>player_3029_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{68,71}}</string>
        <key>offset</key>
        <string>{4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,71}}</string>
        <key>sourceSize</key>
        <string>{68,71}</string>
      </dict>
      <key>player_3029_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{70,73}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>player_3029_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,369},{72,79}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,79}}</string>
        <key>sourceSize</key>
        <string>{72,79}</string>
      </dict>
      <key>player_3029_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,316},{72,74}}</string>
        <key>offset</key>
        <string>{2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,74}}</string>
        <key>sourceSize</key>
        <string>{72,74}</string>
      </dict>
      <key>player_3029_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,236},{74,72}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>player_3029_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,159},{72,75}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,75}}</string>
        <key>sourceSize</key>
        <string>{72,75}</string>
      </dict>
      <key>player_3029_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,0},{63,76}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,76}}</string>
        <key>sourceSize</key>
        <string>{63,76}</string>
      </dict>
      <key>player_3029_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,335},{65,78}}</string>
        <key>offset</key>
        <string>{6,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>player_3029_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{69,87}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
      <key>player_3029_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,195},{69,86}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>player_3029_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{76,74}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,74}}</string>
        <key>sourceSize</key>
        <string>{76,74}</string>
      </dict>
      <key>player_3029_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,78},{64,75}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3029_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,392},{64,73}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_3029_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,155},{65,74}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>player_3029_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,382},{69,87}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
      <key>player_3029_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{67,89}}</string>
        <key>offset</key>
        <string>{3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,89}}</string>
        <key>sourceSize</key>
        <string>{67,89}</string>
      </dict>
      <key>player_3029_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,78},{74,74}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>player_3029_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,238},{72,76}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>player_3029_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,312},{69,73}}</string>
        <key>offset</key>
        <string>{3,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,73}}</string>
        <key>sourceSize</key>
        <string>{69,73}</string>
      </dict>
      <key>player_3029_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,413},{72,77}}</string>
        <key>offset</key>
        <string>{-1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,77}}</string>
        <key>sourceSize</key>
        <string>{72,77}</string>
      </dict>
      <key>player_3029_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,293},{75,87}}</string>
        <key>offset</key>
        <string>{-4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,87}}</string>
        <key>sourceSize</key>
        <string>{75,87}</string>
      </dict>
      <key>player_3029_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{79,94}}</string>
        <key>offset</key>
        <string>{-4,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,94}}</string>
        <key>sourceSize</key>
        <string>{79,94}</string>
      </dict>
      <key>player_3029_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,82},{69,80}}</string>
        <key>offset</key>
        <string>{0,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,80}}</string>
        <key>sourceSize</key>
        <string>{69,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3029_0_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3029_0_3.png</string>
    </dict>
  </dict>
</plist>