<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_20003_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,138},{126,130}}</string>
        <key>offset</key>
        <string>{-68,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,51},{126,130}}</string>
        <key>sourceSize</key>
        <string>{164,182}</string>
      </dict>
      <key>player_20003_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,492},{122,80}}</string>
        <key>offset</key>
        <string>{-73,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,96},{122,80}}</string>
        <key>sourceSize</key>
        <string>{152,177}</string>
      </dict>
      <key>player_20003_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,626},{126,146}}</string>
        <key>offset</key>
        <string>{-68,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{36,30},{126,146}}</string>
        <key>sourceSize</key>
        <string>{164,177}</string>
      </dict>
      <key>player_20003_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,474},{130,150}}</string>
        <key>offset</key>
        <string>{-58,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,21},{130,150}}</string>
        <key>sourceSize</key>
        <string>{188,172}</string>
      </dict>
      <key>player_20003_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{130,154}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,17},{130,154}}</string>
        <key>sourceSize</key>
        <string>{192,172}</string>
      </dict>
      <key>player_20003_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{132,154}}</string>
        <key>offset</key>
        <string>{-59,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,17},{132,154}}</string>
        <key>sourceSize</key>
        <string>{192,172}</string>
      </dict>
      <key>player_20003_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,320},{110,152}}</string>
        <key>offset</key>
        <string>{-63,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{47,29},{110,152}}</string>
        <key>sourceSize</key>
        <string>{160,182}</string>
      </dict>
      <key>player_20003_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,576},{126,126}}</string>
        <key>offset</key>
        <string>{-74,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{26,57},{126,126}}</string>
        <key>sourceSize</key>
        <string>{156,184}</string>
      </dict>
      <key>player_20003_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,162}}</string>
        <key>offset</key>
        <string>{-60,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,15},{108,162}}</string>
        <key>sourceSize</key>
        <string>{164,178}</string>
      </dict>
      <key>player_20003_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{140,160}}</string>
        <key>offset</key>
        <string>{-62,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{49,12},{140,160}}</string>
        <key>sourceSize</key>
        <string>{192,173}</string>
      </dict>
      <key>player_20003_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,164},{146,160}}</string>
        <key>offset</key>
        <string>{-61,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{49,14},{146,160}}</string>
        <key>sourceSize</key>
        <string>{196,175}</string>
      </dict>
      <key>player_20003_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{144,160}}</string>
        <key>offset</key>
        <string>{-63,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{46,13},{144,160}}</string>
        <key>sourceSize</key>
        <string>{192,174}</string>
      </dict>
      <key>player_20003_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,810},{114,154}}</string>
        <key>offset</key>
        <string>{-67,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{37,15},{114,154}}</string>
        <key>sourceSize</key>
        <string>{152,170}</string>
      </dict>
      <key>player_20003_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,652},{132,156}}</string>
        <key>offset</key>
        <string>{-78,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,24},{132,156}}</string>
        <key>sourceSize</key>
        <string>{148,181}</string>
      </dict>
      <key>player_20003_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,156},{112,152}}</string>
        <key>offset</key>
        <string>{-59,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{54,19},{112,152}}</string>
        <key>sourceSize</key>
        <string>{168,172}</string>
      </dict>
      <key>player_20003_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,462},{120,142}}</string>
        <key>offset</key>
        <string>{-59,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,24},{120,142}}</string>
        <key>sourceSize</key>
        <string>{180,167}</string>
      </dict>
      <key>player_20003_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,306},{114,142}}</string>
        <key>offset</key>
        <string>{-57,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{59,27},{114,142}}</string>
        <key>sourceSize</key>
        <string>{176,170}</string>
      </dict>
      <key>player_20003_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,152},{106,142}}</string>
        <key>offset</key>
        <string>{-58,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,25},{106,142}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>player_20003_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,626},{128,144}}</string>
        <key>offset</key>
        <string>{-74,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{25,17},{128,144}}</string>
        <key>sourceSize</key>
        <string>{156,162}</string>
      </dict>
      <key>player_20003_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,490},{130,156}}</string>
        <key>offset</key>
        <string>{-76,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{22,14},{130,156}}</string>
        <key>sourceSize</key>
        <string>{156,171}</string>
      </dict>
      <key>player_20003_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,446},{126,126}}</string>
        <key>offset</key>
        <string>{-68,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,37},{126,126}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>player_20003_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,446},{116,128}}</string>
        <key>offset</key>
        <string>{-62,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{49,38},{116,128}}</string>
        <key>sourceSize</key>
        <string>{168,167}</string>
      </dict>
      <key>player_20003_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,218},{116,130}}</string>
        <key>offset</key>
        <string>{-62,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{49,40},{116,130}}</string>
        <key>sourceSize</key>
        <string>{168,171}</string>
      </dict>
      <key>player_20003_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,574},{116,122}}</string>
        <key>offset</key>
        <string>{-63,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,40},{116,122}}</string>
        <key>sourceSize</key>
        <string>{164,163}</string>
      </dict>
      <key>player_20003_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{120,152}}</string>
        <key>offset</key>
        <string>{-54,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{63,18},{120,152}}</string>
        <key>sourceSize</key>
        <string>{184,171}</string>
      </dict>
      <key>player_20003_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,326},{122,156}}</string>
        <key>offset</key>
        <string>{-52,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{70,15},{122,156}}</string>
        <key>sourceSize</key>
        <string>{196,172}</string>
      </dict>
      <key>player_20003_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{126,136}}</string>
        <key>offset</key>
        <string>{-58,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,36},{126,136}}</string>
        <key>sourceSize</key>
        <string>{184,173}</string>
      </dict>
      <key>player_20003_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,266},{130,108}}</string>
        <key>offset</key>
        <string>{-69,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,61},{130,108}}</string>
        <key>sourceSize</key>
        <string>{164,170}</string>
      </dict>
      <key>player_20003_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,336},{130,108}}</string>
        <key>offset</key>
        <string>{-72,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,62},{130,108}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
      <key>player_20003_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,108},{132,108}}</string>
        <key>offset</key>
        <string>{-70,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,62},{132,108}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
      <key>player_20003_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{88,162}}</string>
        <key>offset</key>
        <string>{-44,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{83,10},{88,162}}</string>
        <key>sourceSize</key>
        <string>{172,173}</string>
      </dict>
      <key>player_20003_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,648},{104,154}}</string>
        <key>offset</key>
        <string>{-42,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,24},{104,154}}</string>
        <key>sourceSize</key>
        <string>{196,179}</string>
      </dict>
      <key>player_20003_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,162},{82,156}}</string>
        <key>offset</key>
        <string>{-44,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,18},{82,156}}</string>
        <key>sourceSize</key>
        <string>{168,175}</string>
      </dict>
      <key>player_20003_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,772},{140,116}}</string>
        <key>offset</key>
        <string>{-71,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,53},{140,116}}</string>
        <key>sourceSize</key>
        <string>{172,170}</string>
      </dict>
      <key>player_20003_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,774},{146,114}}</string>
        <key>offset</key>
        <string>{-74,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{24,59},{146,114}}</string>
        <key>sourceSize</key>
        <string>{172,174}</string>
      </dict>
      <key>player_20003_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{142,126}}</string>
        <key>offset</key>
        <string>{-72,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{30,50},{142,126}}</string>
        <key>sourceSize</key>
        <string>{176,177}</string>
      </dict>
      <key>player_20003_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,640},{98,152}}</string>
        <key>offset</key>
        <string>{-44,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,27},{98,152}}</string>
        <key>sourceSize</key>
        <string>{184,180}</string>
      </dict>
      <key>player_20003_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,704},{120,118}}</string>
        <key>offset</key>
        <string>{-44,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{83,61},{120,118}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>player_20003_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,490},{88,160}}</string>
        <key>offset</key>
        <string>{-49,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{76,14},{88,160}}</string>
        <key>sourceSize</key>
        <string>{168,175}</string>
      </dict>
      <key>player_20003_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{106,138}}</string>
        <key>offset</key>
        <string>{-58,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,25},{106,138}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>player_20003_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,914},{108,140}}</string>
        <key>offset</key>
        <string>{-60,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{53,29},{108,140}}</string>
        <key>sourceSize</key>
        <string>{164,170}</string>
      </dict>
      <key>player_20003_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,310},{98,150}}</string>
        <key>offset</key>
        <string>{-56,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,22},{98,150}}</string>
        <key>sourceSize</key>
        <string>{164,173}</string>
      </dict>
      <key>player_20003_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,376},{126,114}}</string>
        <key>offset</key>
        <string>{-53,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,59},{126,114}}</string>
        <key>sourceSize</key>
        <string>{196,174}</string>
      </dict>
      <key>player_20003_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,948},{130,68}}</string>
        <key>offset</key>
        <string>{-53,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,98},{130,68}}</string>
        <key>sourceSize</key>
        <string>{200,167}</string>
      </dict>
      <key>player_20003_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,154},{126,150}}</string>
        <key>offset</key>
        <string>{-58,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,27},{126,150}}</string>
        <key>sourceSize</key>
        <string>{184,178}</string>
      </dict>
      <key>player_20003_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,484},{116,154}}</string>
        <key>offset</key>
        <string>{-60,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,13},{116,154}}</string>
        <key>sourceSize</key>
        <string>{172,168}</string>
      </dict>
      <key>player_20003_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{116,150}}</string>
        <key>offset</key>
        <string>{-60,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,16},{116,150}}</string>
        <key>sourceSize</key>
        <string>{172,167}</string>
      </dict>
      <key>player_20003_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,794},{116,152}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,15},{116,152}}</string>
        <key>sourceSize</key>
        <string>{176,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_20003_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_20003_0_2.png</string>
    </dict>
  </dict>
</plist>