<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21023_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,201},{86,89}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>player_21023_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,292},{84,88}}</string>
        <key>offset</key>
        <string>{3,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>player_21023_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,90},{85,87}}</string>
        <key>offset</key>
        <string>{2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,87}}</string>
        <key>sourceSize</key>
        <string>{85,87}</string>
      </dict>
      <key>player_21023_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,0},{86,87}}</string>
        <key>offset</key>
        <string>{2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,87}}</string>
        <key>sourceSize</key>
        <string>{86,87}</string>
      </dict>
      <key>player_21023_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,189},{88,87}}</string>
        <key>offset</key>
        <string>{0,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,87}}</string>
        <key>sourceSize</key>
        <string>{88,87}</string>
      </dict>
      <key>player_21023_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,91},{88,88}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,88}}</string>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>player_21023_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,205},{99,93}}</string>
        <key>offset</key>
        <string>{-14,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>player_21023_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{101,92}}</string>
        <key>offset</key>
        <string>{-16,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,92}}</string>
        <key>sourceSize</key>
        <string>{101,92}</string>
      </dict>
      <key>player_21023_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,103},{100,92}}</string>
        <key>offset</key>
        <string>{-15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>player_21023_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{100,92}}</string>
        <key>offset</key>
        <string>{-15,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,92}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>player_21023_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{101,92}}</string>
        <key>offset</key>
        <string>{-16,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,92}}</string>
        <key>sourceSize</key>
        <string>{101,92}</string>
      </dict>
      <key>player_21023_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,213},{101,93}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,93}}</string>
        <key>sourceSize</key>
        <string>{101,93}</string>
      </dict>
      <key>player_21023_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{96,87}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,87}}</string>
        <key>sourceSize</key>
        <string>{96,87}</string>
      </dict>
      <key>player_21023_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,306},{95,87}}</string>
        <key>offset</key>
        <string>{-20,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,87}}</string>
        <key>sourceSize</key>
        <string>{95,87}</string>
      </dict>
      <key>player_21023_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,403},{91,86}}</string>
        <key>offset</key>
        <string>{-17,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,86}}</string>
        <key>sourceSize</key>
        <string>{91,86}</string>
      </dict>
      <key>player_21023_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,98},{89,87}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,87}}</string>
        <key>sourceSize</key>
        <string>{89,87}</string>
      </dict>
      <key>player_21023_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,306},{91,89}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,89}}</string>
        <key>sourceSize</key>
        <string>{91,89}</string>
      </dict>
      <key>player_21023_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,418},{96,89}}</string>
        <key>offset</key>
        <string>{-21,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
      <key>player_21023_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,84}}</string>
        <key>offset</key>
        <string>{-23,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,84}}</string>
        <key>sourceSize</key>
        <string>{107,84}</string>
      </dict>
      <key>player_21023_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{104,82}}</string>
        <key>offset</key>
        <string>{-20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,82}}</string>
        <key>sourceSize</key>
        <string>{104,82}</string>
      </dict>
      <key>player_21023_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,316},{100,84}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,84}}</string>
        <key>sourceSize</key>
        <string>{100,84}</string>
      </dict>
      <key>player_21023_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,102},{97,79}}</string>
        <key>offset</key>
        <string>{-16,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>player_21023_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,109},{102,79}}</string>
        <key>offset</key>
        <string>{-20,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,79}}</string>
        <key>sourceSize</key>
        <string>{102,79}</string>
      </dict>
      <key>player_21023_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{107,80}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,80}}</string>
        <key>sourceSize</key>
        <string>{107,80}</string>
      </dict>
      <key>player_21023_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,0},{84,86}}</string>
        <key>offset</key>
        <string>{0,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
      <key>player_21023_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{84,81}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,81}}</string>
        <key>sourceSize</key>
        <string>{84,81}</string>
      </dict>
      <key>player_21023_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,178},{85,80}}</string>
        <key>offset</key>
        <string>{1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,80}}</string>
        <key>sourceSize</key>
        <string>{85,80}</string>
      </dict>
      <key>player_21023_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,360},{86,86}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,86}}</string>
        <key>sourceSize</key>
        <string>{86,86}</string>
      </dict>
      <key>player_21023_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,427},{90,81}}</string>
        <key>offset</key>
        <string>{-4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,81}}</string>
        <key>sourceSize</key>
        <string>{90,81}</string>
      </dict>
      <key>player_21023_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,369},{87,81}}</string>
        <key>offset</key>
        <string>{-2,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,81}}</string>
        <key>sourceSize</key>
        <string>{87,81}</string>
      </dict>
      <key>player_21023_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,86},{74,82}}</string>
        <key>offset</key>
        <string>{3,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>player_21023_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,431},{75,76}}</string>
        <key>offset</key>
        <string>{2,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,76}}</string>
        <key>sourceSize</key>
        <string>{75,76}</string>
      </dict>
      <key>player_21023_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,351},{75,78}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,78}}</string>
        <key>sourceSize</key>
        <string>{75,78}</string>
      </dict>
      <key>player_21023_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,268},{75,86}}</string>
        <key>offset</key>
        <string>{5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,86}}</string>
        <key>sourceSize</key>
        <string>{75,86}</string>
      </dict>
      <key>player_21023_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,175},{75,83}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,83}}</string>
        <key>sourceSize</key>
        <string>{75,83}</string>
      </dict>
      <key>player_21023_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{73,82}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,82}}</string>
        <key>sourceSize</key>
        <string>{73,82}</string>
      </dict>
      <key>player_21023_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,271},{82,87}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,87}}</string>
        <key>sourceSize</key>
        <string>{82,87}</string>
      </dict>
      <key>player_21023_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,265},{78,84}}</string>
        <key>offset</key>
        <string>{3,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
      <key>player_21023_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,88},{76,85}}</string>
        <key>offset</key>
        <string>{3,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,85}}</string>
        <key>sourceSize</key>
        <string>{76,85}</string>
      </dict>
      <key>player_21023_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,179},{79,87}}</string>
        <key>offset</key>
        <string>{0,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,87}}</string>
        <key>sourceSize</key>
        <string>{79,87}</string>
      </dict>
      <key>player_21023_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{76,89}}</string>
        <key>offset</key>
        <string>{6,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,89}}</string>
        <key>sourceSize</key>
        <string>{76,89}</string>
      </dict>
      <key>player_21023_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,399},{82,89}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>player_21023_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{84,88}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>player_21023_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,382},{78,88}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,88}}</string>
        <key>sourceSize</key>
        <string>{78,88}</string>
      </dict>
      <key>player_21023_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,382},{76,88}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,88}}</string>
        <key>sourceSize</key>
        <string>{76,88}</string>
      </dict>
      <key>player_21023_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,279},{77,88}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,88}}</string>
        <key>sourceSize</key>
        <string>{77,88}</string>
      </dict>
      <key>player_21023_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,89},{79,87}}</string>
        <key>offset</key>
        <string>{2,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,87}}</string>
        <key>sourceSize</key>
        <string>{79,87}</string>
      </dict>
      <key>player_21023_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,181},{82,88}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,88}}</string>
        <key>sourceSize</key>
        <string>{82,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21023_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_21023_0_1.png</string>
    </dict>
  </dict>
</plist>