<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0508_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{214,116}}</string>
        <key>offset</key>
        <string>{-177,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{92,104},{214,116}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{204,124}}</string>
        <key>offset</key>
        <string>{-179,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{95,96},{204,124}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,198},{190,110}}</string>
        <key>offset</key>
        <string>{-178,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{103,109},{190,110}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,808},{186,108}}</string>
        <key>offset</key>
        <string>{-178,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{105,111},{186,108}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,616},{180,116}}</string>
        <key>offset</key>
        <string>{-185,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{101,104},{180,116}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{190,134}}</string>
        <key>offset</key>
        <string>{-177,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,86},{190,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,188},{140,156}}</string>
        <key>offset</key>
        <string>{-199,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{107,67},{140,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,794},{140,148}}</string>
        <key>offset</key>
        <string>{-196,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{110,68},{140,148}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,308},{142,134}}</string>
        <key>offset</key>
        <string>{-201,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,81},{142,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,452},{142,132}}</string>
        <key>offset</key>
        <string>{-200,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{105,84},{142,132}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,678},{154,140}}</string>
        <key>offset</key>
        <string>{-196,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{103,88},{154,140}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,794},{144,142}}</string>
        <key>offset</key>
        <string>{-194,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,75},{144,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{122,196}}</string>
        <key>offset</key>
        <string>{-194,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{121,23},{122,196}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,558},{100,172}}</string>
        <key>offset</key>
        <string>{-180,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{146,48},{100,172}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,732},{114,168}}</string>
        <key>offset</key>
        <string>{-184,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{135,53},{114,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,172},{110,166}}</string>
        <key>offset</key>
        <string>{-186,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{135,54},{110,166}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,486},{96,152}}</string>
        <key>offset</key>
        <string>{-177,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,67},{96,152}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,96},{90,162}}</string>
        <key>offset</key>
        <string>{-168,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{163,58},{90,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,390},{180,176}}</string>
        <key>offset</key>
        <string>{-209,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{77,41},{180,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,532},{164,168}}</string>
        <key>offset</key>
        <string>{-200,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{94,49},{164,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,176},{162,170}}</string>
        <key>offset</key>
        <string>{-202,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{93,48},{162,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{158,174}}</string>
        <key>offset</key>
        <string>{-201,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{96,44},{158,174}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,518},{142,158}}</string>
        <key>offset</key>
        <string>{-193,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,59},{142,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,340},{144,158}}</string>
        <key>offset</key>
        <string>{-192,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,59},{144,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{192,158}}</string>
        <key>offset</key>
        <string>{-174,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,64},{192,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,808},{186,154}}</string>
        <key>offset</key>
        <string>{-173,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,68},{186,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,750},{174,156}}</string>
        <key>offset</key>
        <string>{-175,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{114,65},{174,156}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,348},{168,168}}</string>
        <key>offset</key>
        <string>{-175,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{117,55},{168,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,0},{164,158}}</string>
        <key>offset</key>
        <string>{-169,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{125,64},{164,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{178,144}}</string>
        <key>offset</key>
        <string>{-179,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{108,79},{178,144}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,198},{138,180}}</string>
        <key>offset</key>
        <string>{-144,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,44},{138,180}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,572},{128,176}}</string>
        <key>offset</key>
        <string>{-142,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{170,48},{128,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,380},{128,176}}</string>
        <key>offset</key>
        <string>{-138,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{174,48},{128,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,180},{126,176}}</string>
        <key>offset</key>
        <string>{-138,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{175,48},{126,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{134,170}}</string>
        <key>offset</key>
        <string>{-141,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{168,54},{134,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,866},{142,160}}</string>
        <key>offset</key>
        <string>{-152,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,64},{142,160}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,0},{94,164}}</string>
        <key>offset</key>
        <string>{-161,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{168,54},{94,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,926},{90,168}}</string>
        <key>offset</key>
        <string>{-166,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{165,50},{90,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,902},{94,162}}</string>
        <key>offset</key>
        <string>{-163,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{166,56},{94,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,702},{92,162}}</string>
        <key>offset</key>
        <string>{-160,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{170,56},{92,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,330},{92,154}}</string>
        <key>offset</key>
        <string>{-160,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{170,64},{92,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,702},{102,160}}</string>
        <key>offset</key>
        <string>{-167,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{158,58},{102,160}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,358},{172,126}}</string>
        <key>offset</key>
        <string>{-146,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{144,88},{172,126}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,640},{152,142}}</string>
        <key>offset</key>
        <string>{-155,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{145,74},{152,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,0},{140,130}}</string>
        <key>offset</key>
        <string>{-146,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,85},{140,130}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1086,142},{136,130}}</string>
        <key>offset</key>
        <string>{-146,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{162,85},{136,130}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1142,0},{122,130}}</string>
        <key>offset</key>
        <string>{-154,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{161,85},{122,130}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>player_0508_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,188},{118,144}}</string>
        <key>offset</key>
        <string>{-156,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{161,71},{118,144}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0508_0_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0508_0_3.png</string>
    </dict>
  </dict>
</plist>