<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0526_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{131,141}}</string>
        <key>offset</key>
        <string>{-53,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{131,141}</string>
        <key>sourceSize</key>
        <string>{131,141}</string>
      </dict>
      <key>player_0526_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,164},{99,158}}</string>
        <key>offset</key>
        <string>{-26,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,158}</string>
        <key>sourceSize</key>
        <string>{99,158}</string>
      </dict>
      <key>player_0526_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{156,155}}</string>
        <key>offset</key>
        <string>{-81,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{156,155}</string>
        <key>sourceSize</key>
        <string>{156,155}</string>
      </dict>
      <key>player_0526_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{174,129}}</string>
        <key>offset</key>
        <string>{-69,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{174,129}</string>
        <key>sourceSize</key>
        <string>{174,129}</string>
      </dict>
      <key>player_0526_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{118,161}}</string>
        <key>offset</key>
        <string>{-11,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{118,161}</string>
        <key>sourceSize</key>
        <string>{118,161}</string>
      </dict>
      <key>player_0526_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{91,162}}</string>
        <key>offset</key>
        <string>{-6,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{91,162}</string>
        <key>sourceSize</key>
        <string>{91,162}</string>
      </dict>
      <key>player_0526_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,133},{139,127}}</string>
        <key>offset</key>
        <string>{-18,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{139,127}</string>
        <key>sourceSize</key>
        <string>{139,127}</string>
      </dict>
      <key>player_0526_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,106}}</string>
        <key>offset</key>
        <string>{-62,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,106}</string>
        <key>sourceSize</key>
        <string>{188,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0526_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_0526_0_11.png</string>
    </dict>
  </dict>
</plist>