<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0517_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{160,179}}</string>
        <key>offset</key>
        <string>{-43,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,179}</string>
        <key>sourceSize</key>
        <string>{160,179}</string>
      </dict>
      <key>player_0517_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{168,156}}</string>
        <key>offset</key>
        <string>{-57,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{168,156}</string>
        <key>sourceSize</key>
        <string>{168,156}</string>
      </dict>
      <key>player_0517_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{178,187}}</string>
        <key>offset</key>
        <string>{-46,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{178,187}</string>
        <key>sourceSize</key>
        <string>{178,187}</string>
      </dict>
      <key>player_0517_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{157,160}}</string>
        <key>offset</key>
        <string>{-43,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{157,160}</string>
        <key>sourceSize</key>
        <string>{157,160}</string>
      </dict>
      <key>player_0517_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,162},{153,176}}</string>
        <key>offset</key>
        <string>{-53,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{153,176}</string>
        <key>sourceSize</key>
        <string>{153,176}</string>
      </dict>
      <key>player_0517_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{141,164}}</string>
        <key>offset</key>
        <string>{-49,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,164}</string>
        <key>sourceSize</key>
        <string>{141,164}</string>
      </dict>
      <key>player_0517_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,317},{131,167}}</string>
        <key>offset</key>
        <string>{-45,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{131,167}</string>
        <key>sourceSize</key>
        <string>{131,167}</string>
      </dict>
      <key>player_0517_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,0},{128,159}}</string>
        <key>offset</key>
        <string>{-39,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,159}</string>
        <key>sourceSize</key>
        <string>{128,159}</string>
      </dict>
      <key>player_0517_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,450},{161,157}}</string>
        <key>offset</key>
        <string>{-75,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,157}</string>
        <key>sourceSize</key>
        <string>{161,157}</string>
      </dict>
      <key>player_0517_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,585},{153,145}}</string>
        <key>offset</key>
        <string>{-68,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{153,145}</string>
        <key>sourceSize</key>
        <string>{153,145}</string>
      </dict>
      <key>player_0517_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,162},{169,143}}</string>
        <key>offset</key>
        <string>{-89,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,143}</string>
        <key>sourceSize</key>
        <string>{169,143}</string>
      </dict>
      <key>player_0517_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,452},{154,131}}</string>
        <key>offset</key>
        <string>{-71,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{154,131}</string>
        <key>sourceSize</key>
        <string>{154,131}</string>
      </dict>
      <key>player_0517_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,609},{153,142}}</string>
        <key>offset</key>
        <string>{-59,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{153,142}</string>
        <key>sourceSize</key>
        <string>{153,142}</string>
      </dict>
      <key>player_0517_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,732},{145,150}}</string>
        <key>offset</key>
        <string>{-51,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{145,150}</string>
        <key>sourceSize</key>
        <string>{145,150}</string>
      </dict>
      <key>player_0517_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,333},{117,162}}</string>
        <key>offset</key>
        <string>{-31,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{117,162}</string>
        <key>sourceSize</key>
        <string>{117,162}</string>
      </dict>
      <key>player_0517_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,481},{115,161}}</string>
        <key>offset</key>
        <string>{-33,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{115,161}</string>
        <key>sourceSize</key>
        <string>{115,161}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0517_1_8.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_0517_1_8.png</string>
    </dict>
  </dict>
</plist>