<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3001_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{63,73}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_3001_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{59,72}}</string>
        <key>offset</key>
        <string>{5,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,72}}</string>
        <key>sourceSize</key>
        <string>{59,72}</string>
      </dict>
      <key>player_3001_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,75},{67,70}}</string>
        <key>offset</key>
        <string>{5,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,70}}</string>
        <key>sourceSize</key>
        <string>{67,70}</string>
      </dict>
      <key>player_3001_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,147},{65,64}}</string>
        <key>offset</key>
        <string>{8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,64}}</string>
        <key>sourceSize</key>
        <string>{65,64}</string>
      </dict>
      <key>player_3001_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{77,53}}</string>
        <key>offset</key>
        <string>{-3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,53}}</string>
        <key>sourceSize</key>
        <string>{77,53}</string>
      </dict>
      <key>player_3001_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,50}}</string>
        <key>offset</key>
        <string>{-6,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,50}}</string>
        <key>sourceSize</key>
        <string>{79,50}</string>
      </dict>
      <key>player_3001_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,61},{66,53}}</string>
        <key>offset</key>
        <string>{0,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,53}}</string>
        <key>sourceSize</key>
        <string>{66,53}</string>
      </dict>
      <key>player_3001_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{67,53}}</string>
        <key>offset</key>
        <string>{-4,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,53}}</string>
        <key>sourceSize</key>
        <string>{67,53}</string>
      </dict>
      <key>player_3001_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{55,56}}</string>
        <key>offset</key>
        <string>{8,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{55,56}</string>
      </dict>
      <key>player_3001_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,125},{53,51}}</string>
        <key>offset</key>
        <string>{7,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,51}}</string>
        <key>sourceSize</key>
        <string>{53,51}</string>
      </dict>
      <key>player_3001_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{54,58}}</string>
        <key>offset</key>
        <string>{10,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,58}}</string>
        <key>sourceSize</key>
        <string>{54,58}</string>
      </dict>
      <key>player_3001_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,116},{64,53}}</string>
        <key>offset</key>
        <string>{-2,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>player_3001_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,61},{56,62}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,62}}</string>
        <key>sourceSize</key>
        <string>{56,62}</string>
      </dict>
      <key>player_3001_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,171},{63,56}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,56}}</string>
        <key>sourceSize</key>
        <string>{63,56}</string>
      </dict>
      <key>player_3001_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{59,67}}</string>
        <key>offset</key>
        <string>{2,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,67}}</string>
        <key>sourceSize</key>
        <string>{59,67}</string>
      </dict>
      <key>player_3001_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,171},{63,64}}</string>
        <key>offset</key>
        <string>{-4,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3001_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_3001_1_8.png</string>
    </dict>
  </dict>
</plist>