<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3014_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,254},{64,80}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,80}}</string>
        <key>sourceSize</key>
        <string>{64,80}</string>
      </dict>
      <key>player_3014_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,422},{65,79}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,79}}</string>
        <key>sourceSize</key>
        <string>{65,79}</string>
      </dict>
      <key>player_3014_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,85},{65,80}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,80}}</string>
        <key>sourceSize</key>
        <string>{65,80}</string>
      </dict>
      <key>player_3014_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,249},{63,78}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,78}}</string>
        <key>sourceSize</key>
        <string>{63,78}</string>
      </dict>
      <key>player_3014_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{65,81}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,81}}</string>
        <key>sourceSize</key>
        <string>{65,81}</string>
      </dict>
      <key>player_3014_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,339},{65,81}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,81}}</string>
        <key>sourceSize</key>
        <string>{65,81}</string>
      </dict>
      <key>player_3014_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,167},{77,78}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>player_3014_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,82},{78,77}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>player_3014_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{77,78}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,78}}</string>
        <key>sourceSize</key>
        <string>{77,78}</string>
      </dict>
      <key>player_3014_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,417},{78,77}}</string>
        <key>offset</key>
        <string>{-6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>player_3014_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,85},{80,77}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,77}}</string>
        <key>sourceSize</key>
        <string>{80,77}</string>
      </dict>
      <key>player_3014_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{81,77}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,77}}</string>
        <key>sourceSize</key>
        <string>{81,77}</string>
      </dict>
      <key>player_3014_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{83,68}}</string>
        <key>offset</key>
        <string>{-14,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
      <key>player_3014_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{83,68}}</string>
        <key>offset</key>
        <string>{-13,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
      <key>player_3014_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,256},{81,68}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,68}}</string>
        <key>sourceSize</key>
        <string>{81,68}</string>
      </dict>
      <key>player_3014_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{80,67}}</string>
        <key>offset</key>
        <string>{-11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,67}}</string>
        <key>sourceSize</key>
        <string>{80,67}</string>
      </dict>
      <key>player_3014_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{83,67}}</string>
        <key>offset</key>
        <string>{-13,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,67}}</string>
        <key>sourceSize</key>
        <string>{83,67}</string>
      </dict>
      <key>player_3014_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,67}}</string>
        <key>offset</key>
        <string>{-14,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,67}}</string>
        <key>sourceSize</key>
        <string>{84,67}</string>
      </dict>
      <key>player_3014_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,339},{81,74}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,74}}</string>
        <key>sourceSize</key>
        <string>{81,74}</string>
      </dict>
      <key>player_3014_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,171},{81,69}}</string>
        <key>offset</key>
        <string>{-10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,69}}</string>
        <key>sourceSize</key>
        <string>{81,69}</string>
      </dict>
      <key>player_3014_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{80,65}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,65}}</string>
        <key>sourceSize</key>
        <string>{80,65}</string>
      </dict>
      <key>player_3014_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,329},{78,70}}</string>
        <key>offset</key>
        <string>{-8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,70}}</string>
        <key>sourceSize</key>
        <string>{78,70}</string>
      </dict>
      <key>player_3014_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,336},{79,65}}</string>
        <key>offset</key>
        <string>{-8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,65}}</string>
        <key>sourceSize</key>
        <string>{79,65}</string>
      </dict>
      <key>player_3014_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,167},{80,69}}</string>
        <key>offset</key>
        <string>{-8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>player_3014_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{64,75}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3014_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,197},{64,68}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>player_3014_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,197},{63,65}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,65}}</string>
        <key>sourceSize</key>
        <string>{63,65}</string>
      </dict>
      <key>player_3014_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,66},{64,75}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3014_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,315},{63,67}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>player_3014_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,403},{62,68}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_3014_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,132},{63,69}}</string>
        <key>offset</key>
        <string>{4,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,69}}</string>
        <key>sourceSize</key>
        <string>{63,69}</string>
      </dict>
      <key>player_3014_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,331},{57,64}}</string>
        <key>offset</key>
        <string>{11,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,64}}</string>
        <key>sourceSize</key>
        <string>{57,64}</string>
      </dict>
      <key>player_3014_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,384},{56,66}}</string>
        <key>offset</key>
        <string>{13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>player_3014_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,241},{59,72}}</string>
        <key>offset</key>
        <string>{10,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,72}}</string>
        <key>sourceSize</key>
        <string>{59,72}</string>
      </dict>
      <key>player_3014_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,263},{55,67}}</string>
        <key>offset</key>
        <string>{13,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,67}}</string>
        <key>sourceSize</key>
        <string>{55,67}</string>
      </dict>
      <key>player_3014_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,132},{58,65}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,65}}</string>
        <key>sourceSize</key>
        <string>{58,65}</string>
      </dict>
      <key>player_3014_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,158},{72,66}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>player_3014_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,452},{58,66}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,66}}</string>
        <key>sourceSize</key>
        <string>{58,66}</string>
      </dict>
      <key>player_3014_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,389},{56,66}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>player_3014_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,320},{67,67}}</string>
        <key>offset</key>
        <string>{0,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>player_3014_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,447},{56,66}}</string>
        <key>offset</key>
        <string>{13,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,66}}</string>
        <key>sourceSize</key>
        <string>{56,66}</string>
      </dict>
      <key>player_3014_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,263},{62,66}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,66}}</string>
        <key>sourceSize</key>
        <string>{62,66}</string>
      </dict>
      <key>player_3014_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,80},{62,76}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,76}}</string>
        <key>sourceSize</key>
        <string>{62,76}</string>
      </dict>
      <key>player_3014_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,247},{58,77}}</string>
        <key>offset</key>
        <string>{13,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,77}}</string>
        <key>sourceSize</key>
        <string>{58,77}</string>
      </dict>
      <key>player_3014_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,409},{58,75}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,75}}</string>
        <key>sourceSize</key>
        <string>{58,75}</string>
      </dict>
      <key>player_3014_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,326},{64,75}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,75}}</string>
        <key>sourceSize</key>
        <string>{64,75}</string>
      </dict>
      <key>player_3014_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{58,76}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,76}}</string>
        <key>sourceSize</key>
        <string>{58,76}</string>
      </dict>
      <key>player_3014_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,162},{58,77}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,77}}</string>
        <key>sourceSize</key>
        <string>{58,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3014_1_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3014_1_1.png</string>
    </dict>
  </dict>
</plist>