<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3035_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,724},{104,105}}</string>
        <key>offset</key>
        <string>{-13,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,105}}</string>
        <key>sourceSize</key>
        <string>{104,105}</string>
      </dict>
      <key>player_3035_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,590},{86,105}}</string>
        <key>offset</key>
        <string>{-14,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,105}}</string>
        <key>sourceSize</key>
        <string>{86,105}</string>
      </dict>
      <key>player_3035_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{118,110}}</string>
        <key>offset</key>
        <string>{-16,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,110}}</string>
        <key>sourceSize</key>
        <string>{118,110}</string>
      </dict>
      <key>player_3035_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,245},{111,114}}</string>
        <key>offset</key>
        <string>{-3,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,114}}</string>
        <key>sourceSize</key>
        <string>{111,114}</string>
      </dict>
      <key>player_3035_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,809},{98,118}}</string>
        <key>offset</key>
        <string>{1,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{98,118}</string>
      </dict>
      <key>player_3035_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,278},{123,117}}</string>
        <key>offset</key>
        <string>{-8,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,117}}</string>
        <key>sourceSize</key>
        <string>{123,117}</string>
      </dict>
      <key>player_3035_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,245},{90,115}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,115}}</string>
        <key>sourceSize</key>
        <string>{90,115}</string>
      </dict>
      <key>player_3035_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,479},{105,109}}</string>
        <key>offset</key>
        <string>{-34,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,109}}</string>
        <key>sourceSize</key>
        <string>{105,109}</string>
      </dict>
      <key>player_3035_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,643},{114,115}}</string>
        <key>offset</key>
        <string>{-20,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,115}}</string>
        <key>sourceSize</key>
        <string>{114,115}</string>
      </dict>
      <key>player_3035_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{136,114}}</string>
        <key>offset</key>
        <string>{-13,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,114}}</string>
        <key>sourceSize</key>
        <string>{136,114}</string>
      </dict>
      <key>player_3035_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{139,112}}</string>
        <key>offset</key>
        <string>{-9,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,112}}</string>
        <key>sourceSize</key>
        <string>{139,112}</string>
      </dict>
      <key>player_3035_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,141},{135,115}}</string>
        <key>offset</key>
        <string>{-15,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,115}}</string>
        <key>sourceSize</key>
        <string>{135,115}</string>
      </dict>
      <key>player_3035_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,361},{101,109}}</string>
        <key>offset</key>
        <string>{-26,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>player_3035_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,229},{102,109}}</string>
        <key>offset</key>
        <string>{-25,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,109}}</string>
        <key>sourceSize</key>
        <string>{102,109}</string>
      </dict>
      <key>player_3035_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,679},{118,104}}</string>
        <key>offset</key>
        <string>{-15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,104}}</string>
        <key>sourceSize</key>
        <string>{118,104}</string>
      </dict>
      <key>player_3035_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{142,108}}</string>
        <key>offset</key>
        <string>{-18,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,108}}</string>
        <key>sourceSize</key>
        <string>{142,108}</string>
      </dict>
      <key>player_3035_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,99}}</string>
        <key>offset</key>
        <string>{-20,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,99}}</string>
        <key>sourceSize</key>
        <string>{146,99}</string>
      </dict>
      <key>player_3035_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{122,104}}</string>
        <key>offset</key>
        <string>{-15,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,104}}</string>
        <key>sourceSize</key>
        <string>{122,104}</string>
      </dict>
      <key>player_3035_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,919},{117,101}}</string>
        <key>offset</key>
        <string>{-17,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,101}}</string>
        <key>sourceSize</key>
        <string>{117,101}</string>
      </dict>
      <key>player_3035_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,873},{103,107}}</string>
        <key>offset</key>
        <string>{-13,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,107}}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>player_3035_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,558},{125,93}}</string>
        <key>offset</key>
        <string>{-14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,93}}</string>
        <key>sourceSize</key>
        <string>{125,93}</string>
      </dict>
      <key>player_3035_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,799},{117,96}}</string>
        <key>offset</key>
        <string>{-14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,96}}</string>
        <key>sourceSize</key>
        <string>{117,96}</string>
      </dict>
      <key>player_3035_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{127,88}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,88}}</string>
        <key>sourceSize</key>
        <string>{127,88}</string>
      </dict>
      <key>player_3035_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,403},{120,101}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,101}}</string>
        <key>sourceSize</key>
        <string>{120,101}</string>
      </dict>
      <key>player_3035_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,525},{108,116}}</string>
        <key>offset</key>
        <string>{-6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,116}}</string>
        <key>sourceSize</key>
        <string>{108,116}</string>
      </dict>
      <key>player_3035_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,760},{106,111}}</string>
        <key>offset</key>
        <string>{0,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,111}}</string>
        <key>sourceSize</key>
        <string>{106,111}</string>
      </dict>
      <key>player_3035_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,472},{105,99}}</string>
        <key>offset</key>
        <string>{-5,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,99}}</string>
        <key>sourceSize</key>
        <string>{105,99}</string>
      </dict>
      <key>player_3035_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,918},{116,86}}</string>
        <key>offset</key>
        <string>{-24,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,86}}</string>
        <key>sourceSize</key>
        <string>{116,86}</string>
      </dict>
      <key>player_3035_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,494},{115,93}}</string>
        <key>offset</key>
        <string>{-25,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,93}}</string>
        <key>sourceSize</key>
        <string>{115,93}</string>
      </dict>
      <key>player_3035_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,254},{120,95}}</string>
        <key>offset</key>
        <string>{-26,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>player_3035_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,799},{96,118}}</string>
        <key>offset</key>
        <string>{0,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,118}}</string>
        <key>sourceSize</key>
        <string>{96,118}</string>
      </dict>
      <key>player_3035_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,124},{119,110}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,110}}</string>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>player_3035_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,611},{83,111}}</string>
        <key>offset</key>
        <string>{-4,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,111}}</string>
        <key>sourceSize</key>
        <string>{83,111}</string>
      </dict>
      <key>player_3035_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,376},{116,81}}</string>
        <key>offset</key>
        <string>{-32,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,81}}</string>
        <key>sourceSize</key>
        <string>{116,81}</string>
      </dict>
      <key>player_3035_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,120},{114,88}}</string>
        <key>offset</key>
        <string>{-43,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,88}}</string>
        <key>sourceSize</key>
        <string>{114,88}</string>
      </dict>
      <key>player_3035_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{113,101}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,101}}</string>
        <key>sourceSize</key>
        <string>{113,101}</string>
      </dict>
      <key>player_3035_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,430},{124,98}}</string>
        <key>offset</key>
        <string>{-6,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>player_3035_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,685},{122,95}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,95}}</string>
        <key>sourceSize</key>
        <string>{122,95}</string>
      </dict>
      <key>player_3035_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,115},{112,109}}</string>
        <key>offset</key>
        <string>{-14,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,109}}</string>
        <key>sourceSize</key>
        <string>{112,109}</string>
      </dict>
      <key>player_3035_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,114},{101,97}}</string>
        <key>offset</key>
        <string>{-22,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,97}}</string>
        <key>sourceSize</key>
        <string>{101,97}</string>
      </dict>
      <key>player_3035_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{126,76}}</string>
        <key>offset</key>
        <string>{-46,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,76}}</string>
        <key>sourceSize</key>
        <string>{126,76}</string>
      </dict>
      <key>player_3035_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,340},{94,105}}</string>
        <key>offset</key>
        <string>{-12,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,105}}</string>
        <key>sourceSize</key>
        <string>{94,105}</string>
      </dict>
      <key>player_3035_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,129},{123,101}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,101}}</string>
        <key>sourceSize</key>
        <string>{123,101}</string>
      </dict>
      <key>player_3035_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,229},{97,105}}</string>
        <key>offset</key>
        <string>{-7,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,105}}</string>
        <key>sourceSize</key>
        <string>{97,105}</string>
      </dict>
      <key>player_3035_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,362},{115,111}}</string>
        <key>offset</key>
        <string>{-14,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,111}}</string>
        <key>sourceSize</key>
        <string>{115,111}</string>
      </dict>
      <key>player_3035_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,679},{80,117}}</string>
        <key>offset</key>
        <string>{-9,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,117}}</string>
        <key>sourceSize</key>
        <string>{80,117}</string>
      </dict>
      <key>player_3035_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{102,112}}</string>
        <key>offset</key>
        <string>{-22,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,112}}</string>
        <key>sourceSize</key>
        <string>{102,112}</string>
      </dict>
      <key>player_3035_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,556},{111,121}}</string>
        <key>offset</key>
        <string>{-11,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,121}}</string>
        <key>sourceSize</key>
        <string>{111,121}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3035_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_3035_1_2.png</string>
    </dict>
  </dict>
</plist>