<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0523_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{177,151}}</string>
        <key>offset</key>
        <string>{-67,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{177,151}</string>
        <key>sourceSize</key>
        <string>{177,151}</string>
      </dict>
      <key>player_0523_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,114},{142,175}}</string>
        <key>offset</key>
        <string>{-75,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{142,175}</string>
        <key>sourceSize</key>
        <string>{142,175}</string>
      </dict>
      <key>player_0523_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{136,208}}</string>
        <key>offset</key>
        <string>{-62,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,208}</string>
        <key>sourceSize</key>
        <string>{136,208}</string>
      </dict>
      <key>player_0523_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,228},{159,194}}</string>
        <key>offset</key>
        <string>{-82,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{159,194}</string>
        <key>sourceSize</key>
        <string>{159,194}</string>
      </dict>
      <key>player_0523_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,258},{163,171}}</string>
        <key>offset</key>
        <string>{-53,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{163,171}</string>
        <key>sourceSize</key>
        <string>{163,171}</string>
      </dict>
      <key>player_0523_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,226}}</string>
        <key>offset</key>
        <string>{-8,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{137,226}</string>
        <key>sourceSize</key>
        <string>{137,226}</string>
      </dict>
      <key>player_0523_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,0},{112,178}}</string>
        <key>offset</key>
        <string>{-15,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{112,178}</string>
        <key>sourceSize</key>
        <string>{112,178}</string>
      </dict>
      <key>player_0523_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,258},{148,123}}</string>
        <key>offset</key>
        <string>{-19,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{148,123}</string>
        <key>sourceSize</key>
        <string>{148,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0523_1_11.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_0523_1_11.png</string>
    </dict>
  </dict>
</plist>