<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3017_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,321},{65,76}}</string>
        <key>offset</key>
        <string>{8,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,76}}</string>
        <key>sourceSize</key>
        <string>{65,76}</string>
      </dict>
      <key>player_3017_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,80},{70,77}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,77}}</string>
        <key>sourceSize</key>
        <string>{70,77}</string>
      </dict>
      <key>player_3017_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,430},{78,77}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,77}}</string>
        <key>sourceSize</key>
        <string>{78,77}</string>
      </dict>
      <key>player_3017_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,90},{79,75}}</string>
        <key>offset</key>
        <string>{-6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>player_3017_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{77,76}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>player_3017_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,159},{70,77}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,77}}</string>
        <key>sourceSize</key>
        <string>{70,77}</string>
      </dict>
      <key>player_3017_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,185},{76,80}}</string>
        <key>offset</key>
        <string>{-6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_3017_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,274},{81,78}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,78}}</string>
        <key>sourceSize</key>
        <string>{81,78}</string>
      </dict>
      <key>player_3017_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{89,76}}</string>
        <key>offset</key>
        <string>{-16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,76}}</string>
        <key>sourceSize</key>
        <string>{89,76}</string>
      </dict>
      <key>player_3017_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,73}}</string>
        <key>offset</key>
        <string>{-19,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,73}}</string>
        <key>sourceSize</key>
        <string>{92,73}</string>
      </dict>
      <key>player_3017_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{88,76}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>player_3017_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,360},{82,79}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,79}}</string>
        <key>sourceSize</key>
        <string>{82,79}</string>
      </dict>
      <key>player_3017_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{79,71}}</string>
        <key>offset</key>
        <string>{-9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>player_3017_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,81},{78,71}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,71}}</string>
        <key>sourceSize</key>
        <string>{78,71}</string>
      </dict>
      <key>player_3017_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,267},{80,68}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,68}}</string>
        <key>sourceSize</key>
        <string>{80,68}</string>
      </dict>
      <key>player_3017_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{78,67}}</string>
        <key>offset</key>
        <string>{-8,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,67}}</string>
        <key>sourceSize</key>
        <string>{78,67}</string>
      </dict>
      <key>player_3017_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,161},{78,67}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,67}}</string>
        <key>sourceSize</key>
        <string>{78,67}</string>
      </dict>
      <key>player_3017_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,349},{79,70}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,70}}</string>
        <key>sourceSize</key>
        <string>{79,70}</string>
      </dict>
      <key>player_3017_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,185},{87,75}}</string>
        <key>offset</key>
        <string>{-15,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>player_3017_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{84,70}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,70}}</string>
        <key>sourceSize</key>
        <string>{84,70}</string>
      </dict>
      <key>player_3017_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,238},{76,65}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,65}}</string>
        <key>sourceSize</key>
        <string>{76,65}</string>
      </dict>
      <key>player_3017_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,75},{70,71}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_3017_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,158},{75,65}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,65}}</string>
        <key>sourceSize</key>
        <string>{75,65}</string>
      </dict>
      <key>player_3017_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{83,70}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,70}}</string>
        <key>sourceSize</key>
        <string>{83,70}</string>
      </dict>
      <key>player_3017_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,316},{73,76}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,76}}</string>
        <key>sourceSize</key>
        <string>{73,76}</string>
      </dict>
      <key>player_3017_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,288},{70,69}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>player_3017_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,73},{63,66}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
      <key>player_3017_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,79},{63,75}}</string>
        <key>offset</key>
        <string>{9,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,75}}</string>
        <key>sourceSize</key>
        <string>{63,75}</string>
      </dict>
      <key>player_3017_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,419},{62,68}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_3017_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,394},{70,69}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>player_3017_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,444},{66,69}}</string>
        <key>offset</key>
        <string>{4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,69}}</string>
        <key>sourceSize</key>
        <string>{66,69}</string>
      </dict>
      <key>player_3017_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,358},{59,65}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,65}}</string>
        <key>sourceSize</key>
        <string>{59,65}</string>
      </dict>
      <key>player_3017_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,419},{67,68}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,68}}</string>
        <key>sourceSize</key>
        <string>{67,68}</string>
      </dict>
      <key>player_3017_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{73,73}}</string>
        <key>offset</key>
        <string>{11,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
      <key>player_3017_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,288},{65,68}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>player_3017_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,216},{60,68}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>player_3017_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,147},{71,67}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,67}}</string>
        <key>sourceSize</key>
        <string>{71,67}</string>
      </dict>
      <key>player_3017_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,359},{58,69}}</string>
        <key>offset</key>
        <string>{12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>player_3017_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{57,71}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,71}}</string>
        <key>sourceSize</key>
        <string>{57,71}</string>
      </dict>
      <key>player_3017_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,216},{71,70}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>player_3017_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,316},{59,70}}</string>
        <key>offset</key>
        <string>{9,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,70}}</string>
        <key>sourceSize</key>
        <string>{59,70}</string>
      </dict>
      <key>player_3017_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,388},{58,69}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>player_3017_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,238},{70,76}}</string>
        <key>offset</key>
        <string>{8,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,76}}</string>
        <key>sourceSize</key>
        <string>{70,76}</string>
      </dict>
      <key>player_3017_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,445},{61,78}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,78}}</string>
        <key>sourceSize</key>
        <string>{61,78}</string>
      </dict>
      <key>player_3017_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,430},{60,79}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,79}}</string>
        <key>sourceSize</key>
        <string>{60,79}</string>
      </dict>
      <key>player_3017_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,241},{65,78}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>player_3017_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,161},{62,78}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,78}}</string>
        <key>sourceSize</key>
        <string>{62,78}</string>
      </dict>
      <key>player_3017_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,79},{65,77}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,77}}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3017_1_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_3017_1_1.png</string>
    </dict>
  </dict>
</plist>