<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21017_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,100},{70,91}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,91}}</string>
        <key>sourceSize</key>
        <string>{70,91}</string>
      </dict>
      <key>player_21017_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{68,88}}</string>
        <key>offset</key>
        <string>{-5,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>player_21017_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{89,90}}</string>
        <key>offset</key>
        <string>{-16,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,90}}</string>
        <key>sourceSize</key>
        <string>{89,90}</string>
      </dict>
      <key>player_21017_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,92},{89,83}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,83}}</string>
        <key>sourceSize</key>
        <string>{89,83}</string>
      </dict>
      <key>player_21017_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,75}}</string>
        <key>offset</key>
        <string>{-23,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,75}}</string>
        <key>sourceSize</key>
        <string>{98,75}</string>
      </dict>
      <key>player_21017_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{98,73}}</string>
        <key>offset</key>
        <string>{-22,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>player_21017_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,90},{86,72}}</string>
        <key>offset</key>
        <string>{-18,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,72}}</string>
        <key>sourceSize</key>
        <string>{86,72}</string>
      </dict>
      <key>player_21017_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,88},{83,66}}</string>
        <key>offset</key>
        <string>{-19,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,66}}</string>
        <key>sourceSize</key>
        <string>{83,66}</string>
      </dict>
      <key>player_21017_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{72,76}}</string>
        <key>offset</key>
        <string>{-5,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,76}}</string>
        <key>sourceSize</key>
        <string>{72,76}</string>
      </dict>
      <key>player_21017_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,183},{71,70}}</string>
        <key>offset</key>
        <string>{-9,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>player_21017_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,81},{72,78}}</string>
        <key>offset</key>
        <string>{-5,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,78}}</string>
        <key>sourceSize</key>
        <string>{72,78}</string>
      </dict>
      <key>player_21017_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,161},{75,73}}</string>
        <key>offset</key>
        <string>{-13,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>player_21017_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,0},{76,79}}</string>
        <key>offset</key>
        <string>{-6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,79}}</string>
        <key>sourceSize</key>
        <string>{76,79}</string>
      </dict>
      <key>player_21017_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,173},{80,75}}</string>
        <key>offset</key>
        <string>{-10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,75}}</string>
        <key>sourceSize</key>
        <string>{80,75}</string>
      </dict>
      <key>player_21017_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{73,86}}</string>
        <key>offset</key>
        <string>{-8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,86}}</string>
        <key>sourceSize</key>
        <string>{73,86}</string>
      </dict>
      <key>player_21017_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,178},{76,84}}</string>
        <key>offset</key>
        <string>{-10,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,84}}</string>
        <key>sourceSize</key>
        <string>{76,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21017_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_21017_1_8.png</string>
    </dict>
  </dict>
</plist>