<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21016_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,146},{64,69}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_21016_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,291},{64,69}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_21016_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,217},{64,69}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_21016_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,72},{64,69}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,69}}</string>
        <key>sourceSize</key>
        <string>{64,69}</string>
      </dict>
      <key>player_21016_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{58,69}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>player_21016_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,143},{58,69}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,69}}</string>
        <key>sourceSize</key>
        <string>{58,69}</string>
      </dict>
      <key>player_21016_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{57,70}}</string>
        <key>offset</key>
        <string>{13,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,70}}</string>
        <key>sourceSize</key>
        <string>{57,70}</string>
      </dict>
      <key>player_21016_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{58,70}}</string>
        <key>offset</key>
        <string>{12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21016_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,71}}</string>
        <key>offset</key>
        <string>{13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,71}}</string>
        <key>sourceSize</key>
        <string>{56,71}</string>
      </dict>
      <key>player_21016_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{55,71}}</string>
        <key>offset</key>
        <string>{14,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,71}}</string>
        <key>sourceSize</key>
        <string>{55,71}</string>
      </dict>
      <key>player_21016_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{55,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,71}}</string>
        <key>sourceSize</key>
        <string>{55,71}</string>
      </dict>
      <key>player_21016_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{55,70}}</string>
        <key>offset</key>
        <string>{14,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,70}}</string>
        <key>sourceSize</key>
        <string>{55,70}</string>
      </dict>
      <key>player_21016_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,362},{60,68}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>player_21016_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,432},{60,68}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>player_21016_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,288},{60,68}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>player_21016_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,214},{60,68}}</string>
        <key>offset</key>
        <string>{9,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,68}}</string>
        <key>sourceSize</key>
        <string>{60,68}</string>
      </dict>
      <key>player_21016_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,142},{65,68}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>player_21016_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,71},{65,68}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>player_21016_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{65,68}}</string>
        <key>offset</key>
        <string>{7,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>player_21016_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,71},{65,69}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>player_21016_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{60,71}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,71}}</string>
        <key>sourceSize</key>
        <string>{60,71}</string>
      </dict>
      <key>player_21016_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,73},{60,71}}</string>
        <key>offset</key>
        <string>{11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,71}}</string>
        <key>sourceSize</key>
        <string>{60,71}</string>
      </dict>
      <key>player_21016_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,436},{60,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_21016_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,364},{60,70}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_21016_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,292},{53,70}}</string>
        <key>offset</key>
        <string>{16,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,70}}</string>
        <key>sourceSize</key>
        <string>{53,70}</string>
      </dict>
      <key>player_21016_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,219},{54,70}}</string>
        <key>offset</key>
        <string>{15,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,70}}</string>
        <key>sourceSize</key>
        <string>{54,70}</string>
      </dict>
      <key>player_21016_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,146},{54,71}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,71}}</string>
        <key>sourceSize</key>
        <string>{54,71}</string>
      </dict>
      <key>player_21016_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{53,71}}</string>
        <key>offset</key>
        <string>{16,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,71}}</string>
        <key>sourceSize</key>
        <string>{53,71}</string>
      </dict>
      <key>player_21016_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,358},{62,68}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
      <key>player_21016_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{62,69}}</string>
        <key>offset</key>
        <string>{10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,69}}</string>
        <key>sourceSize</key>
        <string>{62,69}</string>
      </dict>
      <key>player_21016_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,436},{63,69}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,69}}</string>
        <key>sourceSize</key>
        <string>{63,69}</string>
      </dict>
      <key>player_21016_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,284},{62,68}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,68}}</string>
        <key>sourceSize</key>
        <string>{62,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21016_1_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_21016_1_0.png</string>
    </dict>
  </dict>
</plist>