<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3030_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{97,80}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,80}}</string>
        <key>sourceSize</key>
        <string>{97,80}</string>
      </dict>
      <key>player_3030_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,103},{99,80}}</string>
        <key>offset</key>
        <string>{-18,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,80}}</string>
        <key>sourceSize</key>
        <string>{99,80}</string>
      </dict>
      <key>player_3030_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,99},{97,84}}</string>
        <key>offset</key>
        <string>{-15,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,84}}</string>
        <key>sourceSize</key>
        <string>{97,84}</string>
      </dict>
      <key>player_3030_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,79}}</string>
        <key>offset</key>
        <string>{-18,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,79}}</string>
        <key>sourceSize</key>
        <string>{101,79}</string>
      </dict>
      <key>player_3030_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{99,78}}</string>
        <key>offset</key>
        <string>{-22,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,78}}</string>
        <key>sourceSize</key>
        <string>{99,78}</string>
      </dict>
      <key>player_3030_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{101,76}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,76}}</string>
        <key>sourceSize</key>
        <string>{101,76}</string>
      </dict>
      <key>player_3030_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,101},{99,60}}</string>
        <key>offset</key>
        <string>{-22,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,60}}</string>
        <key>sourceSize</key>
        <string>{99,60}</string>
      </dict>
      <key>player_3030_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,94},{88,65}}</string>
        <key>offset</key>
        <string>{-15,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,65}}</string>
        <key>sourceSize</key>
        <string>{88,65}</string>
      </dict>
      <key>player_3030_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{95,60}}</string>
        <key>offset</key>
        <string>{-19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,60}}</string>
        <key>sourceSize</key>
        <string>{95,60}</string>
      </dict>
      <key>player_3030_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,198},{92,55}}</string>
        <key>offset</key>
        <string>{-29,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,55}}</string>
        <key>sourceSize</key>
        <string>{92,55}</string>
      </dict>
      <key>player_3030_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{75,60}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,60}}</string>
        <key>sourceSize</key>
        <string>{75,60}</string>
      </dict>
      <key>player_3030_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{92,55}}</string>
        <key>offset</key>
        <string>{-20,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,55}}</string>
        <key>sourceSize</key>
        <string>{92,55}</string>
      </dict>
      <key>player_3030_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,84},{74,80}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>player_3030_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,166},{75,71}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,71}}</string>
        <key>sourceSize</key>
        <string>{75,71}</string>
      </dict>
      <key>player_3030_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{82,80}}</string>
        <key>offset</key>
        <string>{-11,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,80}}</string>
        <key>sourceSize</key>
        <string>{82,80}</string>
      </dict>
      <key>player_3030_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,184},{66,83}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,83}}</string>
        <key>sourceSize</key>
        <string>{66,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3030_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_3030_1_8.png</string>
    </dict>
  </dict>
</plist>