<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3016_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,177},{82,76}}</string>
        <key>offset</key>
        <string>{3,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,76}}</string>
        <key>sourceSize</key>
        <string>{82,76}</string>
      </dict>
      <key>player_3016_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,95},{91,76}}</string>
        <key>offset</key>
        <string>{-11,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,76}}</string>
        <key>sourceSize</key>
        <string>{91,76}</string>
      </dict>
      <key>player_3016_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,93},{88,71}}</string>
        <key>offset</key>
        <string>{-16,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,71}}</string>
        <key>sourceSize</key>
        <string>{88,71}</string>
      </dict>
      <key>player_3016_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{93,69}}</string>
        <key>offset</key>
        <string>{-19,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,69}}</string>
        <key>sourceSize</key>
        <string>{93,69}</string>
      </dict>
      <key>player_3016_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,68}}</string>
        <key>offset</key>
        <string>{-26,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>player_3016_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{99,61}}</string>
        <key>offset</key>
        <string>{-26,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,61}}</string>
        <key>sourceSize</key>
        <string>{99,61}</string>
      </dict>
      <key>player_3016_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{84,60}}</string>
        <key>offset</key>
        <string>{-18,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,60}}</string>
        <key>sourceSize</key>
        <string>{84,60}</string>
      </dict>
      <key>player_3016_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,183},{86,58}}</string>
        <key>offset</key>
        <string>{-23,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,58}}</string>
        <key>sourceSize</key>
        <string>{86,58}</string>
      </dict>
      <key>player_3016_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,86},{79,71}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,71}}</string>
        <key>sourceSize</key>
        <string>{79,71}</string>
      </dict>
      <key>player_3016_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{84,61}}</string>
        <key>offset</key>
        <string>{-21,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,61}}</string>
        <key>sourceSize</key>
        <string>{84,61}</string>
      </dict>
      <key>player_3016_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,90},{85,66}}</string>
        <key>offset</key>
        <string>{-2,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,66}}</string>
        <key>sourceSize</key>
        <string>{85,66}</string>
      </dict>
      <key>player_3016_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,102},{99,62}}</string>
        <key>offset</key>
        <string>{-18,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,62}}</string>
        <key>sourceSize</key>
        <string>{99,62}</string>
      </dict>
      <key>player_3016_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,188},{89,60}}</string>
        <key>offset</key>
        <string>{0,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,60}}</string>
        <key>sourceSize</key>
        <string>{89,60}</string>
      </dict>
      <key>player_3016_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{91,63}}</string>
        <key>offset</key>
        <string>{0,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,63}}</string>
        <key>sourceSize</key>
        <string>{91,63}</string>
      </dict>
      <key>player_3016_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{73,75}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,75}}</string>
        <key>sourceSize</key>
        <string>{73,75}</string>
      </dict>
      <key>player_3016_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{88,76}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3016_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>player_3016_1_8.png</string>
    </dict>
  </dict>
</plist>