<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0509_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,824},{228,198}}</string>
        <key>offset</key>
        <string>{-200,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{96,90},{228,198}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1156},{226,206}}</string>
        <key>offset</key>
        <string>{-198,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{99,82},{226,206}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,954},{228,200}}</string>
        <key>offset</key>
        <string>{-198,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{98,98},{228,200}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,888},{226,188}}</string>
        <key>offset</key>
        <string>{-198,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{99,107},{226,188}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,616},{194,246}}</string>
        <key>offset</key>
        <string>{-222,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,63},{194,246}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{192,260}}</string>
        <key>offset</key>
        <string>{-225,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,64},{192,260}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{190,240}}</string>
        <key>offset</key>
        <string>{-226,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,71},{190,240}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,698},{188,234}}</string>
        <key>offset</key>
        <string>{-227,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,77},{188,234}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,676},{146,242}}</string>
        <key>offset</key>
        <string>{-212,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{125,39},{146,242}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{140,256}}</string>
        <key>offset</key>
        <string>{-211,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{129,40},{140,256}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,262},{136,256}}</string>
        <key>offset</key>
        <string>{-216,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{126,40},{136,256}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,346},{138,256}}</string>
        <key>offset</key>
        <string>{-212,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{129,41},{138,256}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,520},{176,250}}</string>
        <key>offset</key>
        <string>{-234,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{88,31},{176,250}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{188,248}}</string>
        <key>offset</key>
        <string>{-227,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,33},{188,248}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,500},{174,250}}</string>
        <key>offset</key>
        <string>{-233,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{90,32},{174,250}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,176},{176,258}}</string>
        <key>offset</key>
        <string>{-234,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{88,32},{176,258}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,1040},{226,214}}</string>
        <key>offset</key>
        <string>{-200,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{97,70},{226,214}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,1244},{226,216}}</string>
        <key>offset</key>
        <string>{-202,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{95,68},{226,216}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,1024},{228,218}}</string>
        <key>offset</key>
        <string>{-204,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{92,66},{228,218}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,812},{226,230}}</string>
        <key>offset</key>
        <string>{-202,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{95,54},{226,230}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{174,264}}</string>
        <key>offset</key>
        <string>{-170,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{153,31},{174,264}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{170,264}}</string>
        <key>offset</key>
        <string>{-167,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{158,30},{170,264}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,172},{172,260}}</string>
        <key>offset</key>
        <string>{-166,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{158,30},{172,260}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{170,264}}</string>
        <key>offset</key>
        <string>{-167,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{158,29},{170,264}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,354},{144,254}}</string>
        <key>offset</key>
        <string>{-184,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{154,33},{144,254}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{128,254}}</string>
        <key>offset</key>
        <string>{-178,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{168,31},{128,254}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,268}}</string>
        <key>offset</key>
        <string>{-179,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{168,17},{126,268}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,486},{128,254}}</string>
        <key>offset</key>
        <string>{-178,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{168,31},{128,254}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,1260},{190,224}}</string>
        <key>offset</key>
        <string>{-173,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{142,72},{190,224}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1364},{184,226}}</string>
        <key>offset</key>
        <string>{-171,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{147,68},{184,226}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,1078},{180,226}}</string>
        <key>offset</key>
        <string>{-170,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{150,67},{180,226}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>player_0509_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,1256},{184,226}}</string>
        <key>offset</key>
        <string>{-171,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{147,68},{184,226}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0509_0_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>player_0509_0_0.png</string>
    </dict>
  </dict>
</plist>