<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_0520_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{175,133}}</string>
        <key>offset</key>
        <string>{-76,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{175,133}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>player_0520_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,167},{160,125}}</string>
        <key>offset</key>
        <string>{-87,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,125}</string>
        <key>sourceSize</key>
        <string>{160,125}</string>
      </dict>
      <key>player_0520_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,134}}</string>
        <key>offset</key>
        <string>{-67,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,134}</string>
        <key>sourceSize</key>
        <string>{191,134}</string>
      </dict>
      <key>player_0520_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{165,152}}</string>
        <key>offset</key>
        <string>{-54,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,152}</string>
        <key>sourceSize</key>
        <string>{165,152}</string>
      </dict>
      <key>player_0520_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{186,133}}</string>
        <key>offset</key>
        <string>{-66,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,133}</string>
        <key>sourceSize</key>
        <string>{186,133}</string>
      </dict>
      <key>player_0520_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{191,131}}</string>
        <key>offset</key>
        <string>{-83,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,131}</string>
        <key>sourceSize</key>
        <string>{191,131}</string>
      </dict>
      <key>player_0520_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,366},{110,175}}</string>
        <key>offset</key>
        <string>{-34,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{110,175}</string>
        <key>sourceSize</key>
        <string>{110,175}</string>
      </dict>
      <key>player_0520_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,348},{109,166}}</string>
        <key>offset</key>
        <string>{-34,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{109,166}</string>
        <key>sourceSize</key>
        <string>{109,166}</string>
      </dict>
      <key>player_0520_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,366},{145,169}}</string>
        <key>offset</key>
        <string>{-42,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{145,169}</string>
        <key>sourceSize</key>
        <string>{145,169}</string>
      </dict>
      <key>player_0520_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{186,149}}</string>
        <key>offset</key>
        <string>{-57,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,149}</string>
        <key>sourceSize</key>
        <string>{186,149}</string>
      </dict>
      <key>player_0520_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,177},{169,150}}</string>
        <key>offset</key>
        <string>{-63,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,150}</string>
        <key>sourceSize</key>
        <string>{169,150}</string>
      </dict>
      <key>player_0520_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,706},{128,165}}</string>
        <key>offset</key>
        <string>{-53,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,165}</string>
        <key>sourceSize</key>
        <string>{128,165}</string>
      </dict>
      <key>player_0520_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,0},{114,156}}</string>
        <key>offset</key>
        <string>{-39,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{114,156}</string>
        <key>sourceSize</key>
        <string>{114,156}</string>
      </dict>
      <key>player_0520_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,331},{131,161}}</string>
        <key>offset</key>
        <string>{-58,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{131,161}</string>
        <key>sourceSize</key>
        <string>{131,161}</string>
      </dict>
      <key>player_0520_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,767},{100,184}}</string>
        <key>offset</key>
        <string>{-11,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{100,184}</string>
        <key>sourceSize</key>
        <string>{100,184}</string>
      </dict>
      <key>player_0520_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,752},{107,177}}</string>
        <key>offset</key>
        <string>{-22,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,177}</string>
        <key>sourceSize</key>
        <string>{107,177}</string>
      </dict>
      <key>player_0520_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,188},{87,176}}</string>
        <key>offset</key>
        <string>{-13,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{87,176}</string>
        <key>sourceSize</key>
        <string>{87,176}</string>
      </dict>
      <key>player_0520_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,570},{80,180}}</string>
        <key>offset</key>
        <string>{-5,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{80,180}</string>
        <key>sourceSize</key>
        <string>{80,180}</string>
      </dict>
      <key>player_0520_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,386},{182,156}}</string>
        <key>offset</key>
        <string>{-75,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{182,156}</string>
        <key>sourceSize</key>
        <string>{182,156}</string>
      </dict>
      <key>player_0520_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{188,143}}</string>
        <key>offset</key>
        <string>{-66,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{188,143}</string>
        <key>sourceSize</key>
        <string>{188,143}</string>
      </dict>
      <key>player_0520_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,0},{120,140}}</string>
        <key>offset</key>
        <string>{-40,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{120,140}</string>
        <key>sourceSize</key>
        <string>{120,140}</string>
      </dict>
      <key>player_0520_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,543},{90,174}}</string>
        <key>offset</key>
        <string>{-14,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{90,174}</string>
        <key>sourceSize</key>
        <string>{90,174}</string>
      </dict>
      <key>player_0520_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,167},{100,162}}</string>
        <key>offset</key>
        <string>{-32,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{100,162}</string>
        <key>sourceSize</key>
        <string>{100,162}</string>
      </dict>
      <key>player_0520_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1019,158},{144,153}}</string>
        <key>offset</key>
        <string>{-51,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{144,153}</string>
        <key>sourceSize</key>
        <string>{144,153}</string>
      </dict>
      <key>player_0520_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,188},{176,164}}</string>
        <key>offset</key>
        <string>{-50,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{176,164}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>player_0520_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,759},{160,181}}</string>
        <key>offset</key>
        <string>{-23,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{160,181}</string>
        <key>sourceSize</key>
        <string>{160,181}</string>
      </dict>
      <key>player_0520_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{191,133}}</string>
        <key>offset</key>
        <string>{-76,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,133}</string>
        <key>sourceSize</key>
        <string>{191,133}</string>
      </dict>
      <key>player_0520_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,494},{161,145}}</string>
        <key>offset</key>
        <string>{-64,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,145}</string>
        <key>sourceSize</key>
        <string>{161,145}</string>
      </dict>
      <key>player_0520_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{185,144}}</string>
        <key>offset</key>
        <string>{-73,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,144}</string>
        <key>sourceSize</key>
        <string>{185,144}</string>
      </dict>
      <key>player_0520_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,193},{191,151}}</string>
        <key>offset</key>
        <string>{-60,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,151}</string>
        <key>sourceSize</key>
        <string>{191,151}</string>
      </dict>
      <key>player_0520_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,171},{95,166}}</string>
        <key>offset</key>
        <string>{-11,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{95,166}</string>
        <key>sourceSize</key>
        <string>{95,166}</string>
      </dict>
      <key>player_0520_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,657},{94,161}}</string>
        <key>offset</key>
        <string>{-9,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{94,161}</string>
        <key>sourceSize</key>
        <string>{94,161}</string>
      </dict>
      <key>player_0520_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,329},{141,157}}</string>
        <key>offset</key>
        <string>{-51,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{141,157}</string>
        <key>sourceSize</key>
        <string>{141,157}</string>
      </dict>
      <key>player_0520_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,574},{183,131}}</string>
        <key>offset</key>
        <string>{-78,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{183,131}</string>
        <key>sourceSize</key>
        <string>{183,131}</string>
      </dict>
      <key>player_0520_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,516},{165,152}}</string>
        <key>offset</key>
        <string>{-54,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,152}</string>
        <key>sourceSize</key>
        <string>{165,152}</string>
      </dict>
      <key>player_0520_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,873},{117,160}}</string>
        <key>offset</key>
        <string>{-15,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{117,160}</string>
        <key>sourceSize</key>
        <string>{117,160}</string>
      </dict>
      <key>player_0520_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,537},{96,167}}</string>
        <key>offset</key>
        <string>{-10,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{96,167}</string>
        <key>sourceSize</key>
        <string>{96,167}</string>
      </dict>
      <key>player_0520_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,753},{111,159}}</string>
        <key>offset</key>
        <string>{-7,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{111,159}</string>
        <key>sourceSize</key>
        <string>{111,159}</string>
      </dict>
      <key>player_0520_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,931},{89,177}}</string>
        <key>offset</key>
        <string>{-30,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,177}</string>
        <key>sourceSize</key>
        <string>{89,177}</string>
      </dict>
      <key>player_0520_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,339},{99,165}}</string>
        <key>offset</key>
        <string>{-35,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,165}</string>
        <key>sourceSize</key>
        <string>{99,165}</string>
      </dict>
      <key>player_0520_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,752},{78,179}}</string>
        <key>offset</key>
        <string>{-10,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{78,179}</string>
        <key>sourceSize</key>
        <string>{78,179}</string>
      </dict>
      <key>player_0520_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,953},{69,183}}</string>
        <key>offset</key>
        <string>{-12,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{69,183}</string>
        <key>sourceSize</key>
        <string>{69,183}</string>
      </dict>
      <key>player_0520_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,570},{180,126}}</string>
        <key>offset</key>
        <string>{-59,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{180,126}</string>
        <key>sourceSize</key>
        <string>{180,126}</string>
      </dict>
      <key>player_0520_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,386},{186,109}}</string>
        <key>offset</key>
        <string>{-72,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,109}</string>
        <key>sourceSize</key>
        <string>{186,109}</string>
      </dict>
      <key>player_0520_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,0},{126,169}}</string>
        <key>offset</key>
        <string>{-39,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{126,169}</string>
        <key>sourceSize</key>
        <string>{126,169}</string>
      </dict>
      <key>player_0520_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,942},{76,181}}</string>
        <key>offset</key>
        <string>{-16,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{76,181}</string>
        <key>sourceSize</key>
        <string>{76,181}</string>
      </dict>
      <key>player_0520_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,0},{97,169}}</string>
        <key>offset</key>
        <string>{-16,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{97,169}</string>
        <key>sourceSize</key>
        <string>{97,169}</string>
      </dict>
      <key>player_0520_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,866},{148,157}}</string>
        <key>offset</key>
        <string>{-49,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{148,157}</string>
        <key>sourceSize</key>
        <string>{148,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_0520_0_10.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_0520_0_10.png</string>
    </dict>
  </dict>
</plist>