<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3017_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,79}}</string>
        <key>offset</key>
        <string>{-14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,79}}</string>
        <key>sourceSize</key>
        <string>{92,79}</string>
      </dict>
      <key>player_3017_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,94},{79,79}}</string>
        <key>offset</key>
        <string>{-7,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,79}}</string>
        <key>sourceSize</key>
        <string>{79,79}</string>
      </dict>
      <key>player_3017_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{87,75}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,75}}</string>
        <key>sourceSize</key>
        <string>{87,75}</string>
      </dict>
      <key>player_3017_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{82,65}}</string>
        <key>offset</key>
        <string>{-4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,65}}</string>
        <key>sourceSize</key>
        <string>{82,65}</string>
      </dict>
      <key>player_3017_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,175},{79,75}}</string>
        <key>offset</key>
        <string>{-5,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
      <key>player_3017_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,80},{63,74}}</string>
        <key>offset</key>
        <string>{0,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,74}}</string>
        <key>sourceSize</key>
        <string>{63,74}</string>
      </dict>
      <key>player_3017_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{75,78}}</string>
        <key>offset</key>
        <string>{-5,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,78}}</string>
        <key>sourceSize</key>
        <string>{75,78}</string>
      </dict>
      <key>player_3017_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{79,75}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,75}}</string>
        <key>sourceSize</key>
        <string>{79,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3017_0_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>player_3017_0_11.png</string>
    </dict>
  </dict>
</plist>