<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3032_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,363},{84,76}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,76}}</string>
        <key>sourceSize</key>
        <string>{84,76}</string>
      </dict>
      <key>player_3032_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{81,81}}</string>
        <key>offset</key>
        <string>{-5,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>player_3032_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,83},{71,81}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>player_3032_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,449},{57,74}}</string>
        <key>offset</key>
        <string>{-9,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,74}}</string>
        <key>sourceSize</key>
        <string>{57,74}</string>
      </dict>
      <key>player_3032_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,287},{87,80}}</string>
        <key>offset</key>
        <string>{-17,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,80}}</string>
        <key>sourceSize</key>
        <string>{87,80}</string>
      </dict>
      <key>player_3032_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,264},{76,80}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>player_3032_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,316},{91,83}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,83}}</string>
        <key>sourceSize</key>
        <string>{91,83}</string>
      </dict>
      <key>player_3032_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,196},{89,64}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,64}}</string>
        <key>sourceSize</key>
        <string>{89,64}</string>
      </dict>
      <key>player_3032_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,156},{79,81}}</string>
        <key>offset</key>
        <string>{-12,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,81}}</string>
        <key>sourceSize</key>
        <string>{79,81}</string>
      </dict>
      <key>player_3032_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,237},{79,79}}</string>
        <key>offset</key>
        <string>{-12,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,79}}</string>
        <key>sourceSize</key>
        <string>{79,79}</string>
      </dict>
      <key>player_3032_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,100},{94,74}}</string>
        <key>offset</key>
        <string>{-14,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,74}}</string>
        <key>sourceSize</key>
        <string>{94,74}</string>
      </dict>
      <key>player_3032_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,38}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,38}}</string>
        <key>sourceSize</key>
        <string>{112,38}</string>
      </dict>
      <key>player_3032_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,274},{82,84}}</string>
        <key>offset</key>
        <string>{-12,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,84}}</string>
        <key>sourceSize</key>
        <string>{82,84}</string>
      </dict>
      <key>player_3032_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,185},{87,77}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,77}}</string>
        <key>sourceSize</key>
        <string>{87,77}</string>
      </dict>
      <key>player_3032_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{98,73}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,73}}</string>
        <key>sourceSize</key>
        <string>{98,73}</string>
      </dict>
      <key>player_3032_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{96,58}}</string>
        <key>offset</key>
        <string>{2,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{96,58}</string>
      </dict>
      <key>player_3032_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,94},{84,89}}</string>
        <key>offset</key>
        <string>{1,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,89}}</string>
        <key>sourceSize</key>
        <string>{84,89}</string>
      </dict>
      <key>player_3032_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,376},{87,81}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,81}}</string>
        <key>sourceSize</key>
        <string>{87,81}</string>
      </dict>
      <key>player_3032_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,274},{87,68}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,68}}</string>
        <key>sourceSize</key>
        <string>{87,68}</string>
      </dict>
      <key>player_3032_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,449},{61,61}}</string>
        <key>offset</key>
        <string>{7,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>player_3032_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{82,90}}</string>
        <key>offset</key>
        <string>{7,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,90}}</string>
        <key>sourceSize</key>
        <string>{82,90}</string>
      </dict>
      <key>player_3032_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,91},{85,72}}</string>
        <key>offset</key>
        <string>{-3,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,72}}</string>
        <key>sourceSize</key>
        <string>{85,72}</string>
      </dict>
      <key>player_3032_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,178},{84,66}}</string>
        <key>offset</key>
        <string>{-13,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,66}}</string>
        <key>sourceSize</key>
        <string>{84,66}</string>
      </dict>
      <key>player_3032_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,185},{87,57}}</string>
        <key>offset</key>
        <string>{-25,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,57}}</string>
        <key>sourceSize</key>
        <string>{87,57}</string>
      </dict>
      <key>player_3032_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,87},{81,83}}</string>
        <key>offset</key>
        <string>{12,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>player_3032_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{85,68}}</string>
        <key>offset</key>
        <string>{-10,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,68}}</string>
        <key>sourceSize</key>
        <string>{85,68}</string>
      </dict>
      <key>player_3032_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,409},{90,66}}</string>
        <key>offset</key>
        <string>{-15,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,66}}</string>
        <key>sourceSize</key>
        <string>{90,66}</string>
      </dict>
      <key>player_3032_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{102,43}}</string>
        <key>offset</key>
        <string>{-48,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,43}}</string>
        <key>sourceSize</key>
        <string>{102,43}</string>
      </dict>
      <key>player_3032_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{83,80}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,80}}</string>
        <key>sourceSize</key>
        <string>{83,80}</string>
      </dict>
      <key>player_3032_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,360},{81,72}}</string>
        <key>offset</key>
        <string>{-8,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>player_3032_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{92,76}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,76}}</string>
        <key>sourceSize</key>
        <string>{92,76}</string>
      </dict>
      <key>player_3032_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{89,57}}</string>
        <key>offset</key>
        <string>{-39,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,57}}</string>
        <key>sourceSize</key>
        <string>{89,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3032_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3032_0_4.png</string>
    </dict>
  </dict>
</plist>