<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21025_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,91},{85,74}}</string>
        <key>offset</key>
        <string>{-11,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>player_21025_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{81,79}}</string>
        <key>offset</key>
        <string>{-5,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,79}}</string>
        <key>sourceSize</key>
        <string>{81,79}</string>
      </dict>
      <key>player_21025_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,319},{95,84}}</string>
        <key>offset</key>
        <string>{-12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,84}}</string>
        <key>sourceSize</key>
        <string>{95,84}</string>
      </dict>
      <key>player_21025_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,161},{69,72}}</string>
        <key>offset</key>
        <string>{-16,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,72}}</string>
        <key>sourceSize</key>
        <string>{69,72}</string>
      </dict>
      <key>player_21025_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,81},{78,81}}</string>
        <key>offset</key>
        <string>{-16,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>player_21025_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,92},{80,89}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,89}}</string>
        <key>sourceSize</key>
        <string>{80,89}</string>
      </dict>
      <key>player_21025_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{84,84}}</string>
        <key>offset</key>
        <string>{-23,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>player_21025_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,286},{88,85}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,85}}</string>
        <key>sourceSize</key>
        <string>{88,85}</string>
      </dict>
      <key>player_21025_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,308},{92,86}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,86}}</string>
        <key>sourceSize</key>
        <string>{92,86}</string>
      </dict>
      <key>player_21025_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{84,90}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>player_21025_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{98,87}}</string>
        <key>offset</key>
        <string>{-13,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,87}}</string>
        <key>sourceSize</key>
        <string>{98,87}</string>
      </dict>
      <key>player_21025_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{102,88}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,88}}</string>
        <key>sourceSize</key>
        <string>{102,88}</string>
      </dict>
      <key>player_21025_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{89,88}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,88}}</string>
        <key>sourceSize</key>
        <string>{89,88}</string>
      </dict>
      <key>player_21025_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,194},{90,87}}</string>
        <key>offset</key>
        <string>{-5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,87}}</string>
        <key>sourceSize</key>
        <string>{90,87}</string>
      </dict>
      <key>player_21025_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,183},{88,82}}</string>
        <key>offset</key>
        <string>{-4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,82}}</string>
        <key>sourceSize</key>
        <string>{88,82}</string>
      </dict>
      <key>player_21025_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,402},{91,91}}</string>
        <key>offset</key>
        <string>{6,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>player_21025_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,101},{86,91}}</string>
        <key>offset</key>
        <string>{2,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,91}}</string>
        <key>sourceSize</key>
        <string>{86,91}</string>
      </dict>
      <key>player_21025_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,416},{82,94}}</string>
        <key>offset</key>
        <string>{0,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,94}}</string>
        <key>sourceSize</key>
        <string>{82,94}</string>
      </dict>
      <key>player_21025_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{99,78}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,78}}</string>
        <key>sourceSize</key>
        <string>{99,78}</string>
      </dict>
      <key>player_21025_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,419},{98,87}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,87}}</string>
        <key>sourceSize</key>
        <string>{98,87}</string>
      </dict>
      <key>player_21025_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,212},{86,94}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,94}}</string>
        <key>sourceSize</key>
        <string>{86,94}</string>
      </dict>
      <key>player_21025_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,108},{102,67}}</string>
        <key>offset</key>
        <string>{-9,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,67}}</string>
        <key>sourceSize</key>
        <string>{102,67}</string>
      </dict>
      <key>player_21025_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{105,79}}</string>
        <key>offset</key>
        <string>{-17,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,79}}</string>
        <key>sourceSize</key>
        <string>{105,79}</string>
      </dict>
      <key>player_21025_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,85}}</string>
        <key>offset</key>
        <string>{-21,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,85}}</string>
        <key>sourceSize</key>
        <string>{106,85}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21025_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_21025_0_7.png</string>
    </dict>
  </dict>
</plist>