<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3004_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,150},{60,58}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,58}}</string>
        <key>sourceSize</key>
        <string>{60,58}</string>
      </dict>
      <key>player_3004_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,218},{63,67}}</string>
        <key>offset</key>
        <string>{4,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,67}}</string>
        <key>sourceSize</key>
        <string>{63,67}</string>
      </dict>
      <key>player_3004_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{66,73}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,73}}</string>
        <key>sourceSize</key>
        <string>{66,73}</string>
      </dict>
      <key>player_3004_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,227},{49,63}}</string>
        <key>offset</key>
        <string>{2,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,63}}</string>
        <key>sourceSize</key>
        <string>{49,63}</string>
      </dict>
      <key>player_3004_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{54,74}}</string>
        <key>offset</key>
        <string>{7,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,74}}</string>
        <key>sourceSize</key>
        <string>{54,74}</string>
      </dict>
      <key>player_3004_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,162},{56,76}}</string>
        <key>offset</key>
        <string>{15,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,76}}</string>
        <key>sourceSize</key>
        <string>{56,76}</string>
      </dict>
      <key>player_3004_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{60,70}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>player_3004_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{72,71}}</string>
        <key>offset</key>
        <string>{0,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,71}}</string>
        <key>sourceSize</key>
        <string>{72,71}</string>
      </dict>
      <key>player_3004_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,157},{75,73}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,73}}</string>
        <key>sourceSize</key>
        <string>{75,73}</string>
      </dict>
      <key>player_3004_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,152},{64,73}}</string>
        <key>offset</key>
        <string>{-3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,73}}</string>
        <key>sourceSize</key>
        <string>{64,73}</string>
      </dict>
      <key>player_3004_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{81,72}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,72}}</string>
        <key>sourceSize</key>
        <string>{81,72}</string>
      </dict>
      <key>player_3004_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{80,69}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,69}}</string>
        <key>sourceSize</key>
        <string>{80,69}</string>
      </dict>
      <key>player_3004_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{73,78}}</string>
        <key>offset</key>
        <string>{-1,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,78}}</string>
        <key>sourceSize</key>
        <string>{73,78}</string>
      </dict>
      <key>player_3004_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,162},{70,76}}</string>
        <key>offset</key>
        <string>{1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,76}}</string>
        <key>sourceSize</key>
        <string>{70,76}</string>
      </dict>
      <key>player_3004_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,74},{71,71}}</string>
        <key>offset</key>
        <string>{1,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>player_3004_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,79},{69,76}}</string>
        <key>offset</key>
        <string>{13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,76}}</string>
        <key>sourceSize</key>
        <string>{69,76}</string>
      </dict>
      <key>player_3004_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,82},{64,78}}</string>
        <key>offset</key>
        <string>{8,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,78}}</string>
        <key>sourceSize</key>
        <string>{64,78}</string>
      </dict>
      <key>player_3004_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{60,76}}</string>
        <key>offset</key>
        <string>{7,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,76}}</string>
        <key>sourceSize</key>
        <string>{60,76}</string>
      </dict>
      <key>player_3004_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{77,64}}</string>
        <key>offset</key>
        <string>{6,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,64}}</string>
        <key>sourceSize</key>
        <string>{77,64}</string>
      </dict>
      <key>player_3004_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,147},{69,69}}</string>
        <key>offset</key>
        <string>{9,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,69}}</string>
        <key>sourceSize</key>
        <string>{69,69}</string>
      </dict>
      <key>player_3004_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,75},{69,73}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,73}}</string>
        <key>sourceSize</key>
        <string>{69,73}</string>
      </dict>
      <key>player_3004_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{82,48}}</string>
        <key>offset</key>
        <string>{-3,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,48}}</string>
        <key>sourceSize</key>
        <string>{82,48}</string>
      </dict>
      <key>player_3004_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,78},{75,56}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>player_3004_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,76},{74,67}}</string>
        <key>offset</key>
        <string>{-5,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,67}}</string>
        <key>sourceSize</key>
        <string>{74,67}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3004_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_3004_0_7.png</string>
    </dict>
  </dict>
</plist>