<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_21019_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,204},{74,68}}</string>
        <key>offset</key>
        <string>{3,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,68}}</string>
        <key>sourceSize</key>
        <string>{74,68}</string>
      </dict>
      <key>player_21019_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{50,68}}</string>
        <key>offset</key>
        <string>{8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,68}}</string>
        <key>sourceSize</key>
        <string>{50,68}</string>
      </dict>
      <key>player_21019_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,0},{76,70}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,70}}</string>
        <key>sourceSize</key>
        <string>{76,70}</string>
      </dict>
      <key>player_21019_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{89,85}}</string>
        <key>offset</key>
        <string>{-9,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,85}}</string>
        <key>sourceSize</key>
        <string>{89,85}</string>
      </dict>
      <key>player_21019_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,72},{64,76}}</string>
        <key>offset</key>
        <string>{-6,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>player_21019_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{70,80}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,80}}</string>
        <key>sourceSize</key>
        <string>{70,80}</string>
      </dict>
      <key>player_21019_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,416},{58,70}}</string>
        <key>offset</key>
        <string>{9,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,70}}</string>
        <key>sourceSize</key>
        <string>{58,70}</string>
      </dict>
      <key>player_21019_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,343},{72,66}}</string>
        <key>offset</key>
        <string>{-3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>player_21019_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,274},{66,72}}</string>
        <key>offset</key>
        <string>{8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>player_21019_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,71}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,71}}</string>
        <key>sourceSize</key>
        <string>{95,71}</string>
      </dict>
      <key>player_21019_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{86,68}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,68}}</string>
        <key>sourceSize</key>
        <string>{86,68}</string>
      </dict>
      <key>player_21019_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,381},{84,71}}</string>
        <key>offset</key>
        <string>{-6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,71}}</string>
        <key>sourceSize</key>
        <string>{84,71}</string>
      </dict>
      <key>player_21019_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,272},{61,67}}</string>
        <key>offset</key>
        <string>{9,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,67}}</string>
        <key>sourceSize</key>
        <string>{61,67}</string>
      </dict>
      <key>player_21019_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,370},{79,67}}</string>
        <key>offset</key>
        <string>{-8,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,67}}</string>
        <key>sourceSize</key>
        <string>{79,67}</string>
      </dict>
      <key>player_21019_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,342},{70,66}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,66}}</string>
        <key>sourceSize</key>
        <string>{70,66}</string>
      </dict>
      <key>player_21019_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{95,65}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,65}}</string>
        <key>sourceSize</key>
        <string>{95,65}</string>
      </dict>
      <key>player_21019_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{94,64}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,64}}</string>
        <key>sourceSize</key>
        <string>{94,64}</string>
      </dict>
      <key>player_21019_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,97},{87,60}}</string>
        <key>offset</key>
        <string>{-5,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,60}}</string>
        <key>sourceSize</key>
        <string>{87,60}</string>
      </dict>
      <key>player_21019_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,336},{68,64}}</string>
        <key>offset</key>
        <string>{8,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>player_21019_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,138},{64,76}}</string>
        <key>offset</key>
        <string>{2,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,76}}</string>
        <key>sourceSize</key>
        <string>{64,76}</string>
      </dict>
      <key>player_21019_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,82},{78,72}}</string>
        <key>offset</key>
        <string>{9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,72}}</string>
        <key>sourceSize</key>
        <string>{78,72}</string>
      </dict>
      <key>player_21019_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,262},{79,61}}</string>
        <key>offset</key>
        <string>{10,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,61}}</string>
        <key>sourceSize</key>
        <string>{79,61}</string>
      </dict>
      <key>player_21019_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,162},{76,55}}</string>
        <key>offset</key>
        <string>{6,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,55}}</string>
        <key>sourceSize</key>
        <string>{76,55}</string>
      </dict>
      <key>player_21019_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{69,54}}</string>
        <key>offset</key>
        <string>{8,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,54}}</string>
        <key>sourceSize</key>
        <string>{69,54}</string>
      </dict>
      <key>player_21019_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,336},{69,70}}</string>
        <key>offset</key>
        <string>{0,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>player_21019_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{64,87}}</string>
        <key>offset</key>
        <string>{6,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,87}}</string>
        <key>sourceSize</key>
        <string>{64,87}</string>
      </dict>
      <key>player_21019_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,285},{68,83}}</string>
        <key>offset</key>
        <string>{8,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,83}}</string>
        <key>sourceSize</key>
        <string>{68,83}</string>
      </dict>
      <key>player_21019_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{77,56}}</string>
        <key>offset</key>
        <string>{7,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,56}}</string>
        <key>sourceSize</key>
        <string>{77,56}</string>
      </dict>
      <key>player_21019_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,417},{72,51}}</string>
        <key>offset</key>
        <string>{8,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>player_21019_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,138},{61,55}}</string>
        <key>offset</key>
        <string>{11,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,55}}</string>
        <key>sourceSize</key>
        <string>{61,55}</string>
      </dict>
      <key>player_21019_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,417},{61,72}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,72}}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
      <key>player_21019_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,178},{80,82}}</string>
        <key>offset</key>
        <string>{6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,82}}</string>
        <key>sourceSize</key>
        <string>{80,82}</string>
      </dict>
      <key>player_21019_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{67,85}}</string>
        <key>offset</key>
        <string>{0,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,85}}</string>
        <key>sourceSize</key>
        <string>{67,85}</string>
      </dict>
      <key>player_21019_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,451},{76,58}}</string>
        <key>offset</key>
        <string>{-16,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>player_21019_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,274},{66,50}}</string>
        <key>offset</key>
        <string>{-1,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,50}}</string>
        <key>sourceSize</key>
        <string>{66,50}</string>
      </dict>
      <key>player_21019_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,207},{63,62}}</string>
        <key>offset</key>
        <string>{-1,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>player_21019_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,71},{65,69}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>player_21019_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,89},{87,63}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,63}}</string>
        <key>sourceSize</key>
        <string>{87,63}</string>
      </dict>
      <key>player_21019_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,88},{80,81}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,81}}</string>
        <key>sourceSize</key>
        <string>{80,81}</string>
      </dict>
      <key>player_21019_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,342},{72,72}}</string>
        <key>offset</key>
        <string>{-17,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>player_21019_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{78,54}}</string>
        <key>offset</key>
        <string>{-11,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,54}}</string>
        <key>sourceSize</key>
        <string>{78,54}</string>
      </dict>
      <key>player_21019_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,207},{74,63}}</string>
        <key>offset</key>
        <string>{-9,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,63}}</string>
        <key>sourceSize</key>
        <string>{74,63}</string>
      </dict>
      <key>player_21019_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,274},{72,66}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>player_21019_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,272},{73,62}}</string>
        <key>offset</key>
        <string>{2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,62}}</string>
        <key>sourceSize</key>
        <string>{73,62}</string>
      </dict>
      <key>player_21019_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,171},{79,73}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,73}}</string>
        <key>sourceSize</key>
        <string>{79,73}</string>
      </dict>
      <key>player_21019_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,194},{64,89}}</string>
        <key>offset</key>
        <string>{-16,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,89}}</string>
        <key>sourceSize</key>
        <string>{64,89}</string>
      </dict>
      <key>player_21019_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,407},{66,70}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,70}}</string>
        <key>sourceSize</key>
        <string>{66,70}</string>
      </dict>
      <key>player_21019_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,138},{67,75}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_21019_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_21019_1_2.png</string>
    </dict>
  </dict>
</plist>