<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20008_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,928},{58,116}}</string>
        <key>offset</key>
        <string>{14,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{58,116}}</string>
        <key>sourceSize</key>
        <string>{61,120}</string>
      </dict>
      <key>weapon_20008_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,738},{66,128}}</string>
        <key>offset</key>
        <string>{2,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{66,128}}</string>
        <key>sourceSize</key>
        <string>{69,132}</string>
      </dict>
      <key>weapon_20008_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,462},{48,138}}</string>
        <key>offset</key>
        <string>{15,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{48,138}}</string>
        <key>sourceSize</key>
        <string>{52,141}</string>
      </dict>
      <key>weapon_20008_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{50,144}}</string>
        <key>offset</key>
        <string>{14,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{50,144}}</string>
        <key>sourceSize</key>
        <string>{54,148}</string>
      </dict>
      <key>weapon_20008_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,138},{54,128}}</string>
        <key>offset</key>
        <string>{13,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{54,128}}</string>
        <key>sourceSize</key>
        <string>{57,132}</string>
      </dict>
      <key>weapon_20008_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,738},{54,108}}</string>
        <key>offset</key>
        <string>{13,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{54,108}}</string>
        <key>sourceSize</key>
        <string>{58,112}</string>
      </dict>
      <key>weapon_20008_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,146},{136,100}}</string>
        <key>offset</key>
        <string>{-9,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{136,100}}</string>
        <key>sourceSize</key>
        <string>{140,103}</string>
      </dict>
      <key>weapon_20008_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,670},{144,110}}</string>
        <key>offset</key>
        <string>{-10,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{144,110}}</string>
        <key>sourceSize</key>
        <string>{148,114}</string>
      </dict>
      <key>weapon_20008_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,490},{144,136}}</string>
        <key>offset</key>
        <string>{-9,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{144,136}}</string>
        <key>sourceSize</key>
        <string>{148,139}</string>
      </dict>
      <key>weapon_20008_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,816},{142,132}}</string>
        <key>offset</key>
        <string>{-3,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{142,132}}</string>
        <key>sourceSize</key>
        <string>{145,136}</string>
      </dict>
      <key>weapon_20008_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,316},{144,110}}</string>
        <key>offset</key>
        <string>{-11,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{144,110}}</string>
        <key>sourceSize</key>
        <string>{147,114}</string>
      </dict>
      <key>weapon_20008_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,146},{144,102}}</string>
        <key>offset</key>
        <string>{-10,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{144,102}}</string>
        <key>sourceSize</key>
        <string>{147,105}</string>
      </dict>
      <key>weapon_20008_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,532},{164,118}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{164,118}}</string>
        <key>sourceSize</key>
        <string>{168,121}</string>
      </dict>
      <key>weapon_20008_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{176,104}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{176,104}}</string>
        <key>sourceSize</key>
        <string>{179,107}</string>
      </dict>
      <key>weapon_20008_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,862},{160,90}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{160,90}}</string>
        <key>sourceSize</key>
        <string>{164,94}</string>
      </dict>
      <key>weapon_20008_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,178},{170,96}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{170,96}}</string>
        <key>sourceSize</key>
        <string>{174,100}</string>
      </dict>
      <key>weapon_20008_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,560},{172,110}}</string>
        <key>offset</key>
        <string>{-18,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{172,110}}</string>
        <key>sourceSize</key>
        <string>{176,114}</string>
      </dict>
      <key>weapon_20008_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,734},{168,116}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{168,116}}</string>
        <key>sourceSize</key>
        <string>{171,119}</string>
      </dict>
      <key>weapon_20008_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,358},{122,172}}</string>
        <key>offset</key>
        <string>{-24,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{122,172}}</string>
        <key>sourceSize</key>
        <string>{125,176}</string>
      </dict>
      <key>weapon_20008_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,698},{126,156}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{126,156}}</string>
        <key>sourceSize</key>
        <string>{129,159}</string>
      </dict>
      <key>weapon_20008_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,166},{124,148}}</string>
        <key>offset</key>
        <string>{-17,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{124,148}}</string>
        <key>sourceSize</key>
        <string>{128,151}</string>
      </dict>
      <key>weapon_20008_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,138},{122,124}}</string>
        <key>offset</key>
        <string>{-13,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{122,124}}</string>
        <key>sourceSize</key>
        <string>{125,128}</string>
      </dict>
      <key>weapon_20008_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{116,144}}</string>
        <key>offset</key>
        <string>{-14,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{116,144}}</string>
        <key>sourceSize</key>
        <string>{120,148}</string>
      </dict>
      <key>weapon_20008_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,856},{118,156}}</string>
        <key>offset</key>
        <string>{-20,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{118,156}}</string>
        <key>sourceSize</key>
        <string>{121,159}</string>
      </dict>
      <key>weapon_20008_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,194}}</string>
        <key>offset</key>
        <string>{-22,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{56,194}}</string>
        <key>sourceSize</key>
        <string>{60,197}</string>
      </dict>
      <key>weapon_20008_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,180},{58,176}}</string>
        <key>offset</key>
        <string>{-23,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{58,176}}</string>
        <key>sourceSize</key>
        <string>{62,180}</string>
      </dict>
      <key>weapon_20008_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,960},{60,142}}</string>
        <key>offset</key>
        <string>{-22,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{60,142}}</string>
        <key>sourceSize</key>
        <string>{63,146}</string>
      </dict>
      <key>weapon_20008_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,636},{54,140}}</string>
        <key>offset</key>
        <string>{-17,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{54,140}}</string>
        <key>sourceSize</key>
        <string>{58,143}</string>
      </dict>
      <key>weapon_20008_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,350},{60,164}}</string>
        <key>offset</key>
        <string>{-28,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{60,164}}</string>
        <key>sourceSize</key>
        <string>{63,167}</string>
      </dict>
      <key>weapon_20008_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{62,178}}</string>
        <key>offset</key>
        <string>{-29,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{62,178}}</string>
        <key>sourceSize</key>
        <string>{65,182}</string>
      </dict>
      <key>weapon_20008_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,602},{134,134}}</string>
        <key>offset</key>
        <string>{-83,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{134,134}}</string>
        <key>sourceSize</key>
        <string>{137,137}</string>
      </dict>
      <key>weapon_20008_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{136,122}}</string>
        <key>offset</key>
        <string>{-90,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{136,122}}</string>
        <key>sourceSize</key>
        <string>{140,125}</string>
      </dict>
      <key>weapon_20008_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,432},{134,128}}</string>
        <key>offset</key>
        <string>{-90,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{134,128}}</string>
        <key>sourceSize</key>
        <string>{137,131}</string>
      </dict>
      <key>weapon_20008_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,292},{136,138}}</string>
        <key>offset</key>
        <string>{-96,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{136,138}}</string>
        <key>sourceSize</key>
        <string>{139,142}</string>
      </dict>
      <key>weapon_20008_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,338},{140,150}}</string>
        <key>offset</key>
        <string>{-96,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{140,150}}</string>
        <key>sourceSize</key>
        <string>{144,153}</string>
      </dict>
      <key>weapon_20008_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,516},{140,152}}</string>
        <key>offset</key>
        <string>{-88,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{140,152}}</string>
        <key>sourceSize</key>
        <string>{144,155}</string>
      </dict>
      <key>weapon_20008_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,172},{164,94}}</string>
        <key>offset</key>
        <string>{-97,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{164,94}}</string>
        <key>sourceSize</key>
        <string>{167,97}</string>
      </dict>
      <key>weapon_20008_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{184,98}}</string>
        <key>offset</key>
        <string>{-117,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{184,98}}</string>
        <key>sourceSize</key>
        <string>{187,102}</string>
      </dict>
      <key>weapon_20008_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{176,94}}</string>
        <key>offset</key>
        <string>{-115,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{176,94}}</string>
        <key>sourceSize</key>
        <string>{179,97}</string>
      </dict>
      <key>weapon_20008_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,698},{162,98}}</string>
        <key>offset</key>
        <string>{-112,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{162,98}}</string>
        <key>sourceSize</key>
        <string>{165,101}</string>
      </dict>
      <key>weapon_20008_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{170,96}}</string>
        <key>offset</key>
        <string>{-108,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{170,96}}</string>
        <key>sourceSize</key>
        <string>{173,99}</string>
      </dict>
      <key>weapon_20008_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{168,106}}</string>
        <key>offset</key>
        <string>{-105,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{168,106}}</string>
        <key>sourceSize</key>
        <string>{171,109}</string>
      </dict>
      <key>weapon_20008_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,806},{120,94}}</string>
        <key>offset</key>
        <string>{-50,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{120,94}}</string>
        <key>sourceSize</key>
        <string>{123,97}</string>
      </dict>
      <key>weapon_20008_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{124,114}}</string>
        <key>offset</key>
        <string>{-57,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{124,114}}</string>
        <key>sourceSize</key>
        <string>{128,117}</string>
      </dict>
      <key>weapon_20008_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,284},{126,132}}</string>
        <key>offset</key>
        <string>{-69,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{126,132}}</string>
        <key>sourceSize</key>
        <string>{130,135}</string>
      </dict>
      <key>weapon_20008_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{138,164}}</string>
        <key>offset</key>
        <string>{-75,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{138,164}}</string>
        <key>sourceSize</key>
        <string>{141,168}</string>
      </dict>
      <key>weapon_20008_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,0},{122,106}}</string>
        <key>offset</key>
        <string>{-56,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{122,106}}</string>
        <key>sourceSize</key>
        <string>{125,109}</string>
      </dict>
      <key>weapon_20008_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,806},{116,116}}</string>
        <key>offset</key>
        <string>{-49,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{116,116}}</string>
        <key>sourceSize</key>
        <string>{120,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20008_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20008_0_1.png</string>
    </dict>
  </dict>
</plist>