<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3045_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{40,89}}</string>
        <key>offset</key>
        <string>{32,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,89}}</string>
        <key>sourceSize</key>
        <string>{40,89}</string>
      </dict>
      <key>weapon_3045_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,99},{50,95}}</string>
        <key>offset</key>
        <string>{34,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,95}}</string>
        <key>sourceSize</key>
        <string>{50,95}</string>
      </dict>
      <key>weapon_3045_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{29,87}}</string>
        <key>offset</key>
        <string>{37,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,87}}</string>
        <key>sourceSize</key>
        <string>{29,87}</string>
      </dict>
      <key>weapon_3045_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,99},{94,73}}</string>
        <key>offset</key>
        <string>{13,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,73}}</string>
        <key>sourceSize</key>
        <string>{94,73}</string>
      </dict>
      <key>weapon_3045_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,107},{104,64}}</string>
        <key>offset</key>
        <string>{19,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,64}}</string>
        <key>sourceSize</key>
        <string>{104,64}</string>
      </dict>
      <key>weapon_3045_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{97,59}}</string>
        <key>offset</key>
        <string>{25,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,59}}</string>
        <key>sourceSize</key>
        <string>{97,59}</string>
      </dict>
      <key>weapon_3045_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{106,33}}</string>
        <key>offset</key>
        <string>{-3,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,33}}</string>
        <key>sourceSize</key>
        <string>{106,33}</string>
      </dict>
      <key>weapon_3045_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,213},{97,39}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,39}}</string>
        <key>sourceSize</key>
        <string>{97,39}</string>
      </dict>
      <key>weapon_3045_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,110},{106,41}}</string>
        <key>offset</key>
        <string>{13,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,41}}</string>
        <key>sourceSize</key>
        <string>{106,41}</string>
      </dict>
      <key>weapon_3045_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,0},{47,71}}</string>
        <key>offset</key>
        <string>{-3,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,71}}</string>
        <key>sourceSize</key>
        <string>{47,71}</string>
      </dict>
      <key>weapon_3045_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,35},{38,61}}</string>
        <key>offset</key>
        <string>{5,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,61}}</string>
        <key>sourceSize</key>
        <string>{38,61}</string>
      </dict>
      <key>weapon_3045_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,178},{55,76}}</string>
        <key>offset</key>
        <string>{6,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,76}}</string>
        <key>sourceSize</key>
        <string>{55,76}</string>
      </dict>
      <key>weapon_3045_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{49,77}}</string>
        <key>offset</key>
        <string>{-32,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,77}}</string>
        <key>sourceSize</key>
        <string>{49,77}</string>
      </dict>
      <key>weapon_3045_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,73},{46,44}}</string>
        <key>offset</key>
        <string>{-30,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,44}}</string>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>weapon_3045_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,225},{28,49}}</string>
        <key>offset</key>
        <string>{-16,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,49}}</string>
        <key>sourceSize</key>
        <string>{28,49}</string>
      </dict>
      <key>weapon_3045_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{67,33}}</string>
        <key>offset</key>
        <string>{-43,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,33}}</string>
        <key>sourceSize</key>
        <string>{67,33}</string>
      </dict>
      <key>weapon_3045_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,79},{74,51}}</string>
        <key>offset</key>
        <string>{-55,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,51}}</string>
        <key>sourceSize</key>
        <string>{74,51}</string>
      </dict>
      <key>weapon_3045_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,195},{87,28}}</string>
        <key>offset</key>
        <string>{-68,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,28}}</string>
        <key>sourceSize</key>
        <string>{87,28}</string>
      </dict>
      <key>weapon_3045_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{105,41}}</string>
        <key>offset</key>
        <string>{-49,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,41}}</string>
        <key>sourceSize</key>
        <string>{105,41}</string>
      </dict>
      <key>weapon_3045_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{97,58}}</string>
        <key>offset</key>
        <string>{-50,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,58}}</string>
        <key>sourceSize</key>
        <string>{97,58}</string>
      </dict>
      <key>weapon_3045_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,38}}</string>
        <key>offset</key>
        <string>{-69,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,38}}</string>
        <key>sourceSize</key>
        <string>{108,38}</string>
      </dict>
      <key>weapon_3045_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,89},{69,87}}</string>
        <key>offset</key>
        <string>{-14,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,87}}</string>
        <key>sourceSize</key>
        <string>{69,87}</string>
      </dict>
      <key>weapon_3045_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,218},{36,101}}</string>
        <key>offset</key>
        <string>{8,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,101}}</string>
        <key>sourceSize</key>
        <string>{36,101}</string>
      </dict>
      <key>weapon_3045_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{63,80}}</string>
        <key>offset</key>
        <string>{-19,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,80}}</string>
        <key>sourceSize</key>
        <string>{63,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3045_1_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3045_1_7.png</string>
    </dict>
  </dict>
</plist>