<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3069_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{9,51}}</string>
        <key>offset</key>
        <string>{33,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,51}}</string>
        <key>sourceSize</key>
        <string>{9,51}</string>
      </dict>
      <key>weapon_3069_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{10,52}}</string>
        <key>offset</key>
        <string>{32,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,52}}</string>
        <key>sourceSize</key>
        <string>{10,52}</string>
      </dict>
      <key>weapon_3069_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,162},{7,49}}</string>
        <key>offset</key>
        <string>{32,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,49}}</string>
        <key>sourceSize</key>
        <string>{7,49}</string>
      </dict>
      <key>weapon_3069_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,210},{7,44}}</string>
        <key>offset</key>
        <string>{30,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,44}}</string>
        <key>sourceSize</key>
        <string>{7,44}</string>
      </dict>
      <key>weapon_3069_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{5,47}}</string>
        <key>offset</key>
        <string>{32,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,47}}</string>
        <key>sourceSize</key>
        <string>{5,47}</string>
      </dict>
      <key>weapon_3069_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{10,53}}</string>
        <key>offset</key>
        <string>{33,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,53}}</string>
        <key>sourceSize</key>
        <string>{10,53}</string>
      </dict>
      <key>weapon_3069_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{29,49}}</string>
        <key>offset</key>
        <string>{23,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,49}}</string>
        <key>sourceSize</key>
        <string>{29,49}</string>
      </dict>
      <key>weapon_3069_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,160},{27,48}}</string>
        <key>offset</key>
        <string>{27,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,48}}</string>
        <key>sourceSize</key>
        <string>{27,48}</string>
      </dict>
      <key>weapon_3069_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{11,109},{27,49}}</string>
        <key>offset</key>
        <string>{33,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,49}}</string>
        <key>sourceSize</key>
        <string>{27,49}</string>
      </dict>
      <key>weapon_3069_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,0},{29,48}}</string>
        <key>offset</key>
        <string>{33,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,48}}</string>
        <key>sourceSize</key>
        <string>{29,48}</string>
      </dict>
      <key>weapon_3069_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,50},{28,48}}</string>
        <key>offset</key>
        <string>{28,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,48}}</string>
        <key>sourceSize</key>
        <string>{28,48}</string>
      </dict>
      <key>weapon_3069_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,223},{30,49}}</string>
        <key>offset</key>
        <string>{25,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,49}}</string>
        <key>sourceSize</key>
        <string>{30,49}</string>
      </dict>
      <key>weapon_3069_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,100},{48,44}}</string>
        <key>offset</key>
        <string>{6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>weapon_3069_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,198},{42,44}}</string>
        <key>offset</key>
        <string>{14,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>weapon_3069_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,49},{38,46}}</string>
        <key>offset</key>
        <string>{23,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,46}}</string>
        <key>sourceSize</key>
        <string>{38,46}</string>
      </dict>
      <key>weapon_3069_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,147},{39,44}}</string>
        <key>offset</key>
        <string>{28,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>weapon_3069_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,97},{40,44}}</string>
        <key>offset</key>
        <string>{20,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,44}}</string>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>weapon_3069_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{46,43}}</string>
        <key>offset</key>
        <string>{11,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,43}}</string>
        <key>sourceSize</key>
        <string>{46,43}</string>
      </dict>
      <key>weapon_3069_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,109},{36,42}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,42}}</string>
        <key>sourceSize</key>
        <string>{36,42}</string>
      </dict>
      <key>weapon_3069_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{34,47}}</string>
        <key>offset</key>
        <string>{8,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,47}}</string>
        <key>sourceSize</key>
        <string>{34,47}</string>
      </dict>
      <key>weapon_3069_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,50},{33,48}}</string>
        <key>offset</key>
        <string>{13,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,48}}</string>
        <key>sourceSize</key>
        <string>{33,48}</string>
      </dict>
      <key>weapon_3069_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{31,48}}</string>
        <key>offset</key>
        <string>{18,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,48}}</string>
        <key>sourceSize</key>
        <string>{31,48}</string>
      </dict>
      <key>weapon_3069_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,150},{33,47}}</string>
        <key>offset</key>
        <string>{13,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,47}}</string>
        <key>sourceSize</key>
        <string>{33,47}</string>
      </dict>
      <key>weapon_3069_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,73},{34,45}}</string>
        <key>offset</key>
        <string>{6,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,45}}</string>
        <key>sourceSize</key>
        <string>{34,45}</string>
      </dict>
      <key>weapon_3069_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{14,46}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,46}}</string>
        <key>sourceSize</key>
        <string>{14,46}</string>
      </dict>
      <key>weapon_3069_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{7,51}}</string>
        <key>offset</key>
        <string>{5,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,51}}</string>
        <key>sourceSize</key>
        <string>{7,51}</string>
      </dict>
      <key>weapon_3069_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,160},{5,49}}</string>
        <key>offset</key>
        <string>{8,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,49}}</string>
        <key>sourceSize</key>
        <string>{5,49}</string>
      </dict>
      <key>weapon_3069_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,160},{5,49}}</string>
        <key>offset</key>
        <string>{9,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,49}}</string>
        <key>sourceSize</key>
        <string>{5,49}</string>
      </dict>
      <key>weapon_3069_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{6,50}}</string>
        <key>offset</key>
        <string>{8,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,50}}</string>
        <key>sourceSize</key>
        <string>{6,50}</string>
      </dict>
      <key>weapon_3069_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{9,48}}</string>
        <key>offset</key>
        <string>{5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,48}}</string>
        <key>sourceSize</key>
        <string>{9,48}</string>
      </dict>
      <key>weapon_3069_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,100},{23,47}}</string>
        <key>offset</key>
        <string>{-5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,47}}</string>
        <key>sourceSize</key>
        <string>{23,47}</string>
      </dict>
      <key>weapon_3069_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,16},{25,46}}</string>
        <key>offset</key>
        <string>{-7,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,46}}</string>
        <key>sourceSize</key>
        <string>{25,46}</string>
      </dict>
      <key>weapon_3069_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,43},{28,46}}</string>
        <key>offset</key>
        <string>{-12,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,46}}</string>
        <key>sourceSize</key>
        <string>{28,46}</string>
      </dict>
      <key>weapon_3069_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,50},{29,48}}</string>
        <key>offset</key>
        <string>{-15,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,48}}</string>
        <key>sourceSize</key>
        <string>{29,48}</string>
      </dict>
      <key>weapon_3069_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,48},{28,46}}</string>
        <key>offset</key>
        <string>{-11,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,46}}</string>
        <key>sourceSize</key>
        <string>{28,46}</string>
      </dict>
      <key>weapon_3069_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,49},{23,47}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,47}}</string>
        <key>sourceSize</key>
        <string>{23,47}</string>
      </dict>
      <key>weapon_3069_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,147},{39,41}}</string>
        <key>offset</key>
        <string>{-4,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>weapon_3069_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,188},{39,41}}</string>
        <key>offset</key>
        <string>{-9,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>weapon_3069_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,190},{36,40}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,40}}</string>
        <key>sourceSize</key>
        <string>{36,40}</string>
      </dict>
      <key>weapon_3069_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,147},{39,41}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>weapon_3069_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,143},{31,43}}</string>
        <key>offset</key>
        <string>{-11,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,43}}</string>
        <key>sourceSize</key>
        <string>{31,43}</string>
      </dict>
      <key>weapon_3069_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,190},{38,41}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,41}}</string>
        <key>sourceSize</key>
        <string>{38,41}</string>
      </dict>
      <key>weapon_3069_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{31,47}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,47}}</string>
        <key>sourceSize</key>
        <string>{31,47}</string>
      </dict>
      <key>weapon_3069_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,149},{31,47}}</string>
        <key>offset</key>
        <string>{7,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,47}}</string>
        <key>sourceSize</key>
        <string>{31,47}</string>
      </dict>
      <key>weapon_3069_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,109},{32,41}}</string>
        <key>offset</key>
        <string>{1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,41}}</string>
        <key>sourceSize</key>
        <string>{32,41}</string>
      </dict>
      <key>weapon_3069_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,193},{37,44}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,44}}</string>
        <key>sourceSize</key>
        <string>{37,44}</string>
      </dict>
      <key>weapon_3069_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,73},{32,40}}</string>
        <key>offset</key>
        <string>{2,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,40}}</string>
        <key>sourceSize</key>
        <string>{32,40}</string>
      </dict>
      <key>weapon_3069_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,98},{29,47}}</string>
        <key>offset</key>
        <string>{9,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,47}}</string>
        <key>sourceSize</key>
        <string>{29,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3069_1_1.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3069_1_1.png</string>
    </dict>
  </dict>
</plist>