<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20000_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,212},{104,204}}</string>
        <key>offset</key>
        <string>{-184,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{219,70},{104,204}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,230},{98,212}}</string>
        <key>offset</key>
        <string>{-187,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{219,61},{98,212}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{102,220}}</string>
        <key>offset</key>
        <string>{-185,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{219,58},{102,220}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{94,210}}</string>
        <key>offset</key>
        <string>{-189,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{219,64},{94,210}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,0},{176,176}}</string>
        <key>offset</key>
        <string>{-162,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{205,106},{176,176}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,386},{182,182}}</string>
        <key>offset</key>
        <string>{-161,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{203,95},{182,182}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{180,186}}</string>
        <key>offset</key>
        <string>{-160,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{205,90},{180,186}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,188},{170,182}}</string>
        <key>offset</key>
        <string>{-164,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{206,98},{170,182}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{210,152}}</string>
        <key>offset</key>
        <string>{-161,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{189,155},{210,152}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,656},{208,156}}</string>
        <key>offset</key>
        <string>{-160,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{191,144},{208,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{228,158}}</string>
        <key>offset</key>
        <string>{-152,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{189,140},{228,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,444},{210,152}}</string>
        <key>offset</key>
        <string>{-160,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,149},{210,152}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,194},{164,190}}</string>
        <key>offset</key>
        <string>{-184,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{189,147},{164,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,178},{162,176}}</string>
        <key>offset</key>
        <string>{-182,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,155},{162,176}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,342},{164,174}}</string>
        <key>offset</key>
        <string>{-181,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,156},{164,174}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{164,182}}</string>
        <key>offset</key>
        <string>{-184,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{189,151},{164,182}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,418},{94,196}}</string>
        <key>offset</key>
        <string>{-222,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{186,150},{94,196}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{94,192}}</string>
        <key>offset</key>
        <string>{-221,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,149},{94,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,616},{100,192}}</string>
        <key>offset</key>
        <string>{-218,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,148},{100,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,204},{88,194}}</string>
        <key>offset</key>
        <string>{-223,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{188,149},{88,194}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,570},{166,174}}</string>
        <key>offset</key>
        <string>{-255,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{117,142},{166,174}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,674},{158,162}}</string>
        <key>offset</key>
        <string>{-259,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{117,150},{158,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,740},{164,158}}</string>
        <key>offset</key>
        <string>{-256,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{117,152},{164,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,746},{160,170}}</string>
        <key>offset</key>
        <string>{-258,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{117,145},{160,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{202,136}}</string>
        <key>offset</key>
        <string>{-250,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,144},{202,136}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,866},{208,144}}</string>
        <key>offset</key>
        <string>{-248,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{103,131},{208,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{214,148}}</string>
        <key>offset</key>
        <string>{-247,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{101,125},{214,148}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,880},{210,142}}</string>
        <key>offset</key>
        <string>{-248,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{102,135},{210,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,834},{162,156}}</string>
        <key>offset</key>
        <string>{-220,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{154,101},{162,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,372},{152,164}}</string>
        <key>offset</key>
        <string>{-228,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,91},{152,164}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,570},{156,168}}</string>
        <key>offset</key>
        <string>{-226,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,87},{156,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,508},{160,164}}</string>
        <key>offset</key>
        <string>{-224,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,92},{160,164}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20000_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20000_0_0.png</string>
    </dict>
  </dict>
</plist>