<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21008_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,268},{108,120}}</string>
        <key>offset</key>
        <string>{5,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,4},{108,120}}</string>
        <key>sourceSize</key>
        <string>{113,128}</string>
      </dict>
      <key>weapon_21008_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,882},{132,74}}</string>
        <key>offset</key>
        <string>{-65,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{132,74}}</string>
        <key>sourceSize</key>
        <string>{138,83}</string>
      </dict>
      <key>weapon_21008_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,760},{88,100}}</string>
        <key>offset</key>
        <string>{-19,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,6},{88,100}}</string>
        <key>sourceSize</key>
        <string>{93,108}</string>
      </dict>
      <key>weapon_21008_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,542},{74,112}}</string>
        <key>offset</key>
        <string>{17,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,5},{74,112}}</string>
        <key>sourceSize</key>
        <string>{78,123}</string>
      </dict>
      <key>weapon_21008_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,220},{88,94}}</string>
        <key>offset</key>
        <string>{-29,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{88,94}}</string>
        <key>sourceSize</key>
        <string>{93,98}</string>
      </dict>
      <key>weapon_21008_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{72,140}}</string>
        <key>offset</key>
        <string>{-6,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,4},{72,140}}</string>
        <key>sourceSize</key>
        <string>{78,148}</string>
      </dict>
      <key>weapon_21008_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,360},{94,98}}</string>
        <key>offset</key>
        <string>{3,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,3},{94,98}}</string>
        <key>sourceSize</key>
        <string>{98,103}</string>
      </dict>
      <key>weapon_21008_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,160},{154,84}}</string>
        <key>offset</key>
        <string>{-102,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{154,84}}</string>
        <key>sourceSize</key>
        <string>{163,93}</string>
      </dict>
      <key>weapon_21008_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,942},{144,68}}</string>
        <key>offset</key>
        <string>{-59,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,5},{144,68}}</string>
        <key>sourceSize</key>
        <string>{153,78}</string>
      </dict>
      <key>weapon_21008_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,390},{82,110}}</string>
        <key>offset</key>
        <string>{12,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,3},{82,110}}</string>
        <key>sourceSize</key>
        <string>{88,118}</string>
      </dict>
      <key>weapon_21008_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,502},{100,86}}</string>
        <key>offset</key>
        <string>{6,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{100,86}}</string>
        <key>sourceSize</key>
        <string>{108,93}</string>
      </dict>
      <key>weapon_21008_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,442},{116,132}}</string>
        <key>offset</key>
        <string>{-6,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,4},{116,132}}</string>
        <key>sourceSize</key>
        <string>{123,138}</string>
      </dict>
      <key>weapon_21008_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,862},{76,94}}</string>
        <key>offset</key>
        <string>{-23,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{76,94}}</string>
        <key>sourceSize</key>
        <string>{83,103}</string>
      </dict>
      <key>weapon_21008_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,140},{116,126}}</string>
        <key>offset</key>
        <string>{-84,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,2},{116,126}}</string>
        <key>sourceSize</key>
        <string>{123,133}</string>
      </dict>
      <key>weapon_21008_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,478},{148,90}}</string>
        <key>offset</key>
        <string>{-73,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{148,90}}</string>
        <key>sourceSize</key>
        <string>{158,98}</string>
      </dict>
      <key>weapon_21008_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,416},{90,124}}</string>
        <key>offset</key>
        <string>{-3,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,5},{90,124}}</string>
        <key>sourceSize</key>
        <string>{93,133}</string>
      </dict>
      <key>weapon_21008_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,946},{148,76}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,4},{148,76}}</string>
        <key>sourceSize</key>
        <string>{158,83}</string>
      </dict>
      <key>weapon_21008_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{156,92}}</string>
        <key>offset</key>
        <string>{-30,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{156,92}}</string>
        <key>sourceSize</key>
        <string>{163,98}</string>
      </dict>
      <key>weapon_21008_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,250},{98,108}}</string>
        <key>offset</key>
        <string>{-55,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{98,108}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>weapon_21008_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,628},{70,140}}</string>
        <key>offset</key>
        <string>{-30,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,6},{70,140}}</string>
        <key>sourceSize</key>
        <string>{78,148}</string>
      </dict>
      <key>weapon_21008_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{100,126}}</string>
        <key>offset</key>
        <string>{-50,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,5},{100,126}}</string>
        <key>sourceSize</key>
        <string>{108,133}</string>
      </dict>
      <key>weapon_21008_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,770},{88,136}}</string>
        <key>offset</key>
        <string>{-28,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,5},{88,136}}</string>
        <key>sourceSize</key>
        <string>{98,143}</string>
      </dict>
      <key>weapon_21008_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,156},{144,112}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{144,112}}</string>
        <key>sourceSize</key>
        <string>{148,123}</string>
      </dict>
      <key>weapon_21008_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,302},{138,84}}</string>
        <key>offset</key>
        <string>{-34,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,2},{138,84}}</string>
        <key>sourceSize</key>
        <string>{148,88}</string>
      </dict>
      <key>weapon_21008_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,908},{108,134}}</string>
        <key>offset</key>
        <string>{-71,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,2},{108,134}}</string>
        <key>sourceSize</key>
        <string>{118,138}</string>
      </dict>
      <key>weapon_21008_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,746},{134,126}}</string>
        <key>offset</key>
        <string>{-29,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,2},{134,126}}</string>
        <key>sourceSize</key>
        <string>{143,133}</string>
      </dict>
      <key>weapon_21008_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,282},{90,132}}</string>
        <key>offset</key>
        <string>{-31,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,6},{90,132}}</string>
        <key>sourceSize</key>
        <string>{98,143}</string>
      </dict>
      <key>weapon_21008_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,638},{74,152}}</string>
        <key>offset</key>
        <string>{-44,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,2},{74,152}}</string>
        <key>sourceSize</key>
        <string>{83,158}</string>
      </dict>
      <key>weapon_21008_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,142},{84,138}}</string>
        <key>offset</key>
        <string>{-13,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,4},{84,138}}</string>
        <key>sourceSize</key>
        <string>{93,148}</string>
      </dict>
      <key>weapon_21008_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,116},{72,102}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,5},{72,102}}</string>
        <key>sourceSize</key>
        <string>{78,113}</string>
      </dict>
      <key>weapon_21008_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{96,158}}</string>
        <key>offset</key>
        <string>{-55,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{96,158}}</string>
        <key>sourceSize</key>
        <string>{103,163}</string>
      </dict>
      <key>weapon_21008_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{158,88}}</string>
        <key>offset</key>
        <string>{-17,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,2},{158,88}}</string>
        <key>sourceSize</key>
        <string>{163,93}</string>
      </dict>
      <key>weapon_21008_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,792},{148,106}}</string>
        <key>offset</key>
        <string>{-46,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,5},{148,106}}</string>
        <key>sourceSize</key>
        <string>{153,113}</string>
      </dict>
      <key>weapon_21008_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{84,154}}</string>
        <key>offset</key>
        <string>{-55,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,6},{84,154}}</string>
        <key>sourceSize</key>
        <string>{93,163}</string>
      </dict>
      <key>weapon_21008_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{102,138}}</string>
        <key>offset</key>
        <string>{-61,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,2},{102,138}}</string>
        <key>sourceSize</key>
        <string>{108,143}</string>
      </dict>
      <key>weapon_21008_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{114,92}}</string>
        <key>offset</key>
        <string>{-70,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,3},{114,92}}</string>
        <key>sourceSize</key>
        <string>{123,98}</string>
      </dict>
      <key>weapon_21008_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{78,158}}</string>
        <key>offset</key>
        <string>{-14,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,4},{78,158}}</string>
        <key>sourceSize</key>
        <string>{83,168}</string>
      </dict>
      <key>weapon_21008_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,128},{120,84}}</string>
        <key>offset</key>
        <string>{8,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,3},{120,84}}</string>
        <key>sourceSize</key>
        <string>{128,93}</string>
      </dict>
      <key>weapon_21008_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,320},{156,84}}</string>
        <key>offset</key>
        <string>{-41,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,2},{156,84}}</string>
        <key>sourceSize</key>
        <string>{163,88}</string>
      </dict>
      <key>weapon_21008_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{94,142}}</string>
        <key>offset</key>
        <string>{-52,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,2},{94,142}}</string>
        <key>sourceSize</key>
        <string>{103,148}</string>
      </dict>
      <key>weapon_21008_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,792},{152,108}}</string>
        <key>offset</key>
        <string>{-101,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,3},{152,108}}</string>
        <key>sourceSize</key>
        <string>{158,113}</string>
      </dict>
      <key>weapon_21008_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,638},{152,76}}</string>
        <key>offset</key>
        <string>{-88,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{152,76}}</string>
        <key>sourceSize</key>
        <string>{163,83}</string>
      </dict>
      <key>weapon_21008_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,466},{98,140}}</string>
        <key>offset</key>
        <string>{-3,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{98,140}}</string>
        <key>sourceSize</key>
        <string>{103,148}</string>
      </dict>
      <key>weapon_21008_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,760},{72,92}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,5},{72,92}}</string>
        <key>sourceSize</key>
        <string>{78,103}</string>
      </dict>
      <key>weapon_21008_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,656},{102,100}}</string>
        <key>offset</key>
        <string>{-8,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{102,100}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>weapon_21008_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,576},{90,126}}</string>
        <key>offset</key>
        <string>{-23,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,6},{90,126}}</string>
        <key>sourceSize</key>
        <string>{98,138}</string>
      </dict>
      <key>weapon_21008_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,316},{148,82}}</string>
        <key>offset</key>
        <string>{-93,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,4},{148,82}}</string>
        <key>sourceSize</key>
        <string>{158,88}</string>
      </dict>
      <key>weapon_21008_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,608},{136,116}}</string>
        <key>offset</key>
        <string>{-68,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,6},{136,116}}</string>
        <key>sourceSize</key>
        <string>{148,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21008_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_21008_1_2.png</string>
    </dict>
  </dict>
</plist>