<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20000_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,830},{146,180}}</string>
        <key>offset</key>
        <string>{-143,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{239,60},{146,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,990},{178,136}}</string>
        <key>offset</key>
        <string>{-261,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{105,125},{178,136}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1460},{128,134}}</string>
        <key>offset</key>
        <string>{-205,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{186,117},{128,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,882},{96,180}}</string>
        <key>offset</key>
        <string>{-170,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{237,29},{96,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1206},{118,162}}</string>
        <key>offset</key>
        <string>{-226,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{170,100},{118,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,236}}</string>
        <key>offset</key>
        <string>{-199,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{205,32},{102,236}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,1128},{144,168}}</string>
        <key>offset</key>
        <string>{-154,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{229,95},{144,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,308},{198,152}}</string>
        <key>offset</key>
        <string>{-294,298}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{62,81},{198,152}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,614},{192,118}}</string>
        <key>offset</key>
        <string>{-243,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,115},{192,118}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,978},{162,180}}</string>
        <key>offset</key>
        <string>{-165,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{209,51},{162,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,1274},{142,156}}</string>
        <key>offset</key>
        <string>{-170,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{214,113},{142,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{152,222}}</string>
        <key>offset</key>
        <string>{-155,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{224,44},{152,222}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,1162},{122,166}}</string>
        <key>offset</key>
        <string>{-202,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,111},{122,166}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{154,194}}</string>
        <key>offset</key>
        <string>{-270,331}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{108,27},{154,194}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,548},{194,146}}</string>
        <key>offset</key>
        <string>{-259,303}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{99,79},{194,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,734},{158,192}}</string>
        <key>offset</key>
        <string>{-186,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,65},{158,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,324},{204,132}}</string>
        <key>offset</key>
        <string>{-128,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{225,156},{204,132}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{216,188}}</string>
        <key>offset</key>
        <string>{-131,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{216,95},{216,188}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,1286},{110,154}}</string>
        <key>offset</key>
        <string>{-242,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{158,108},{110,154}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,0},{112,210}}</string>
        <key>offset</key>
        <string>{-213,349}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{186,1},{112,210}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,530},{130,196}}</string>
        <key>offset</key>
        <string>{-248,325}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{142,32},{130,196}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,114},{124,208}}</string>
        <key>offset</key>
        <string>{-207,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{186,61},{124,208}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,662},{190,166}}</string>
        <key>offset</key>
        <string>{-140,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{220,171},{190,166}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,898},{188,168}}</string>
        <key>offset</key>
        <string>{-155,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{206,152},{188,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,736},{160,192}}</string>
        <key>offset</key>
        <string>{-250,302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{125,57},{160,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,696},{184,190}}</string>
        <key>offset</key>
        <string>{-151,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{212,19},{184,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,154},{152,204}}</string>
        <key>offset</key>
        <string>{-197,331}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{182,22},{152,204}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{114,204}}</string>
        <key>offset</key>
        <string>{-236,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{162,46},{114,204}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,734},{106,190}}</string>
        <key>offset</key>
        <string>{-188,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{214,183},{106,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,1142},{110,162}}</string>
        <key>offset</key>
        <string>{-203,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{197,179},{110,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,124},{140,208}}</string>
        <key>offset</key>
        <string>{-253,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{132,34},{140,208}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,250},{208,154}}</string>
        <key>offset</key>
        <string>{-120,319}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{231,59},{208,154}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,266},{200,176}}</string>
        <key>offset</key>
        <string>{-168,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,37},{200,176}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,114},{134,210}}</string>
        <key>offset</key>
        <string>{-245,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{143,33},{134,210}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,842},{146,190}}</string>
        <key>offset</key>
        <string>{-241,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{141,182},{146,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1326},{132,142}}</string>
        <key>offset</key>
        <string>{-265,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{124,180},{132,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{122,216}}</string>
        <key>offset</key>
        <string>{-214,325}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{180,22},{122,216}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1158},{160,160}}</string>
        <key>offset</key>
        <string>{-129,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{246,104},{160,160}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,410},{198,168}}</string>
        <key>offset</key>
        <string>{-157,304}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{199,67},{198,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,406},{140,198}}</string>
        <key>offset</key>
        <string>{-225,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,20},{140,198}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,560},{194,172}}</string>
        <key>offset</key>
        <string>{-283,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{75,163},{194,172}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,894},{190,152}}</string>
        <key>offset</key>
        <string>{-277,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{83,123},{190,152}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,444},{114,198}}</string>
        <key>offset</key>
        <string>{-171,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{227,35},{114,198}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1398},{102,142}}</string>
        <key>offset</key>
        <string>{-192,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{212,133},{102,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1068},{136,170}}</string>
        <key>offset</key>
        <string>{-162,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{225,89},{136,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,1048},{112,174}}</string>
        <key>offset</key>
        <string>{-196,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{203,18},{112,174}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,462},{198,150}}</string>
        <key>offset</key>
        <string>{-264,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{92,140},{198,150}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20000_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,980},{176,180}}</string>
        <key>offset</key>
        <string>{-252,296}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,69},{176,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20000_0_2.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>weapon_20000_0_2.png</string>
    </dict>
  </dict>
</plist>