<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20006_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,152},{120,146}}</string>
        <key>offset</key>
        <string>{14,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,146}}</string>
        <key>sourceSize</key>
        <string>{121,147}</string>
      </dict>
      <key>weapon_20006_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,658},{84,200}}</string>
        <key>offset</key>
        <string>{-23,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,200}}</string>
        <key>sourceSize</key>
        <string>{84,200}</string>
      </dict>
      <key>weapon_20006_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{74,182}}</string>
        <key>offset</key>
        <string>{-32,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{74,182}}</string>
        <key>sourceSize</key>
        <string>{74,182}</string>
      </dict>
      <key>weapon_20006_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,496},{92,118}}</string>
        <key>offset</key>
        <string>{-37,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{92,118}}</string>
        <key>sourceSize</key>
        <string>{92,119}</string>
      </dict>
      <key>weapon_20006_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{102,182}}</string>
        <key>offset</key>
        <string>{-22,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,182}}</string>
        <key>sourceSize</key>
        <string>{103,182}</string>
      </dict>
      <key>weapon_20006_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,810},{66,104}}</string>
        <key>offset</key>
        <string>{12,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{66,104}}</string>
        <key>sourceSize</key>
        <string>{66,105}</string>
      </dict>
      <key>weapon_20006_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,382},{180,104}}</string>
        <key>offset</key>
        <string>{7,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{180,104}}</string>
        <key>sourceSize</key>
        <string>{180,104}</string>
      </dict>
      <key>weapon_20006_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,962},{58,192}}</string>
        <key>offset</key>
        <string>{14,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{58,192}}</string>
        <key>sourceSize</key>
        <string>{59,192}</string>
      </dict>
      <key>weapon_20006_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{100,178}}</string>
        <key>offset</key>
        <string>{-40,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{100,178}}</string>
        <key>sourceSize</key>
        <string>{100,178}</string>
      </dict>
      <key>weapon_20006_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,880},{158,136}}</string>
        <key>offset</key>
        <string>{-89,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,136}}</string>
        <key>sourceSize</key>
        <string>{159,137}</string>
      </dict>
      <key>weapon_20006_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,564},{110,178}}</string>
        <key>offset</key>
        <string>{-39,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{110,178}}</string>
        <key>sourceSize</key>
        <string>{110,179}</string>
      </dict>
      <key>weapon_20006_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{154,86}}</string>
        <key>offset</key>
        <string>{18,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{154,86}}</string>
        <key>sourceSize</key>
        <string>{154,86}</string>
      </dict>
      <key>weapon_20006_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,676},{132,90}}</string>
        <key>offset</key>
        <string>{9,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{132,90}}</string>
        <key>sourceSize</key>
        <string>{133,90}</string>
      </dict>
      <key>weapon_20006_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,180},{94,170}}</string>
        <key>offset</key>
        <string>{2,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,170}}</string>
        <key>sourceSize</key>
        <string>{94,170}</string>
      </dict>
      <key>weapon_20006_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{120,210}}</string>
        <key>offset</key>
        <string>{-47,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{120,210}}</string>
        <key>sourceSize</key>
        <string>{120,210}</string>
      </dict>
      <key>weapon_20006_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,546},{134,166}}</string>
        <key>offset</key>
        <string>{-77,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{134,166}}</string>
        <key>sourceSize</key>
        <string>{135,166}</string>
      </dict>
      <key>weapon_20006_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,864},{96,202}}</string>
        <key>offset</key>
        <string>{-25,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{96,202}}</string>
        <key>sourceSize</key>
        <string>{97,202}</string>
      </dict>
      <key>weapon_20006_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,196},{184,94}}</string>
        <key>offset</key>
        <string>{15,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{184,94}}</string>
        <key>sourceSize</key>
        <string>{185,94}</string>
      </dict>
      <key>weapon_20006_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,382},{76,108}}</string>
        <key>offset</key>
        <string>{-29,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,108}}</string>
        <key>sourceSize</key>
        <string>{77,109}</string>
      </dict>
      <key>weapon_20006_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,822},{122,166}}</string>
        <key>offset</key>
        <string>{-1,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{122,166}}</string>
        <key>sourceSize</key>
        <string>{122,166}</string>
      </dict>
      <key>weapon_20006_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88,222}}</string>
        <key>offset</key>
        <string>{-12,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,222}}</string>
        <key>sourceSize</key>
        <string>{89,223}</string>
      </dict>
      <key>weapon_20006_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,430},{70,200}}</string>
        <key>offset</key>
        <string>{-29,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,201}</string>
      </dict>
      <key>weapon_20006_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,658},{50,204}}</string>
        <key>offset</key>
        <string>{-7,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,204}}</string>
        <key>sourceSize</key>
        <string>{51,205}</string>
      </dict>
      <key>weapon_20006_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,714},{122,164}}</string>
        <key>offset</key>
        <string>{11,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{122,164}}</string>
        <key>sourceSize</key>
        <string>{123,164}</string>
      </dict>
      <key>weapon_20006_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,0},{150,138}}</string>
        <key>offset</key>
        <string>{-116,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,138}}</string>
        <key>sourceSize</key>
        <string>{151,139}</string>
      </dict>
      <key>weapon_20006_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,516},{94,158}}</string>
        <key>offset</key>
        <string>{-9,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,158}}</string>
        <key>sourceSize</key>
        <string>{95,158}</string>
      </dict>
      <key>weapon_20006_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,420},{74,186}}</string>
        <key>offset</key>
        <string>{6,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,186}}</string>
        <key>sourceSize</key>
        <string>{75,187}</string>
      </dict>
      <key>weapon_20006_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,222},{84,206}}</string>
        <key>offset</key>
        <string>{-7,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{84,206}}</string>
        <key>sourceSize</key>
        <string>{85,206}</string>
      </dict>
      <key>weapon_20006_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{94,220}}</string>
        <key>offset</key>
        <string>{-26,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,220}}</string>
        <key>sourceSize</key>
        <string>{94,220}</string>
      </dict>
      <key>weapon_20006_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,744},{76,174}}</string>
        <key>offset</key>
        <string>{-41,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{76,174}}</string>
        <key>sourceSize</key>
        <string>{77,174}</string>
      </dict>
      <key>weapon_20006_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,366},{178,150}}</string>
        <key>offset</key>
        <string>{-140,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{178,150}}</string>
        <key>sourceSize</key>
        <string>{178,150}</string>
      </dict>
      <key>weapon_20006_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,352},{58,162}}</string>
        <key>offset</key>
        <string>{-19,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,162}}</string>
        <key>sourceSize</key>
        <string>{59,163}</string>
      </dict>
      <key>weapon_20006_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,0},{108,160}}</string>
        <key>offset</key>
        <string>{-19,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{108,160}}</string>
        <key>sourceSize</key>
        <string>{108,160}</string>
      </dict>
      <key>weapon_20006_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,184},{144,180}}</string>
        <key>offset</key>
        <string>{-16,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{144,180}}</string>
        <key>sourceSize</key>
        <string>{144,180}</string>
      </dict>
      <key>weapon_20006_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{108,220}}</string>
        <key>offset</key>
        <string>{-22,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,220}}</string>
        <key>sourceSize</key>
        <string>{109,221}</string>
      </dict>
      <key>weapon_20006_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,824},{188,126}}</string>
        <key>offset</key>
        <string>{-159,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{188,126}}</string>
        <key>sourceSize</key>
        <string>{188,126}</string>
      </dict>
      <key>weapon_20006_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{120,170}}</string>
        <key>offset</key>
        <string>{-68,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{120,170}}</string>
        <key>sourceSize</key>
        <string>{121,170}</string>
      </dict>
      <key>weapon_20006_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,546},{102,164}}</string>
        <key>offset</key>
        <string>{-59,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,164}}</string>
        <key>sourceSize</key>
        <string>{103,164}</string>
      </dict>
      <key>weapon_20006_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,172},{118,162}}</string>
        <key>offset</key>
        <string>{-21,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,162}}</string>
        <key>sourceSize</key>
        <string>{119,163}</string>
      </dict>
      <key>weapon_20006_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,336},{148,158}}</string>
        <key>offset</key>
        <string>{-8,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,158}}</string>
        <key>sourceSize</key>
        <string>{149,159}</string>
      </dict>
      <key>weapon_20006_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,222},{84,196}}</string>
        <key>offset</key>
        <string>{-8,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,196}}</string>
        <key>sourceSize</key>
        <string>{85,197}</string>
      </dict>
      <key>weapon_20006_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{194,80}}</string>
        <key>offset</key>
        <string>{-160,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{194,80}}</string>
        <key>sourceSize</key>
        <string>{194,80}</string>
      </dict>
      <key>weapon_20006_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,352},{70,164}}</string>
        <key>offset</key>
        <string>{-1,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,164}}</string>
        <key>sourceSize</key>
        <string>{70,164}</string>
      </dict>
      <key>weapon_20006_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,632},{130,190}}</string>
        <key>offset</key>
        <string>{-74,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{130,190}}</string>
        <key>sourceSize</key>
        <string>{130,190}</string>
      </dict>
      <key>weapon_20006_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,162},{94,156}}</string>
        <key>offset</key>
        <string>{-22,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,156}}</string>
        <key>sourceSize</key>
        <string>{95,156}</string>
      </dict>
      <key>weapon_20006_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,300},{80,136}}</string>
        <key>offset</key>
        <string>{10,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,136}}</string>
        <key>sourceSize</key>
        <string>{81,137}</string>
      </dict>
      <key>weapon_20006_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,962},{60,194}}</string>
        <key>offset</key>
        <string>{1,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{60,194}}</string>
        <key>sourceSize</key>
        <string>{60,194}</string>
      </dict>
      <key>weapon_20006_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,382},{118,106}}</string>
        <key>offset</key>
        <string>{-68,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{118,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20006_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20006_1_3.png</string>
    </dict>
  </dict>
</plist>