<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3014_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{13,45}}</string>
        <key>offset</key>
        <string>{38,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,45}}</string>
        <key>sourceSize</key>
        <string>{13,45}</string>
      </dict>
      <key>weapon_3014_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,105},{20,46}}</string>
        <key>offset</key>
        <string>{38,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,46}}</string>
        <key>sourceSize</key>
        <string>{20,46}</string>
      </dict>
      <key>weapon_3014_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,101},{12,43}}</string>
        <key>offset</key>
        <string>{39,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,43}}</string>
        <key>sourceSize</key>
        <string>{12,43}</string>
      </dict>
      <key>weapon_3014_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{44,35}}</string>
        <key>offset</key>
        <string>{20,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,35}}</string>
        <key>sourceSize</key>
        <string>{44,35}</string>
      </dict>
      <key>weapon_3014_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,53},{50,30}}</string>
        <key>offset</key>
        <string>{27,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,30}}</string>
        <key>sourceSize</key>
        <string>{50,30}</string>
      </dict>
      <key>weapon_3014_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,51},{48,25}}</string>
        <key>offset</key>
        <string>{33,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,25}}</string>
        <key>sourceSize</key>
        <string>{48,25}</string>
      </dict>
      <key>weapon_3014_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,6}}</string>
        <key>offset</key>
        <string>{5,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,6}}</string>
        <key>sourceSize</key>
        <string>{55,6}</string>
      </dict>
      <key>weapon_3014_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{49,9}}</string>
        <key>offset</key>
        <string>{15,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,9}}</string>
        <key>sourceSize</key>
        <string>{49,9}</string>
      </dict>
      <key>weapon_3014_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,57},{55,10}}</string>
        <key>offset</key>
        <string>{21,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,10}}</string>
        <key>sourceSize</key>
        <string>{55,10}</string>
      </dict>
      <key>weapon_3014_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{23,29}}</string>
        <key>offset</key>
        <string>{1,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,29}}</string>
        <key>sourceSize</key>
        <string>{23,29}</string>
      </dict>
      <key>weapon_3014_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,31},{20,23}}</string>
        <key>offset</key>
        <string>{7,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,23}}</string>
        <key>sourceSize</key>
        <string>{20,23}</string>
      </dict>
      <key>weapon_3014_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,37},{28,32}}</string>
        <key>offset</key>
        <string>{10,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,32}}</string>
        <key>sourceSize</key>
        <string>{28,32}</string>
      </dict>
      <key>weapon_3014_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,46},{23,35}}</string>
        <key>offset</key>
        <string>{-10,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>weapon_3014_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,56},{22,13}}</string>
        <key>offset</key>
        <string>{-10,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,13}}</string>
        <key>sourceSize</key>
        <string>{22,13}</string>
      </dict>
      <key>weapon_3014_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{11,17}}</string>
        <key>offset</key>
        <string>{-2,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,17}}</string>
        <key>sourceSize</key>
        <string>{11,17}</string>
      </dict>
      <key>weapon_3014_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,71},{29,14}}</string>
        <key>offset</key>
        <string>{-6,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,14}}</string>
        <key>sourceSize</key>
        <string>{29,14}</string>
      </dict>
      <key>weapon_3014_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{35,27}}</string>
        <key>offset</key>
        <string>{-16,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,27}}</string>
        <key>sourceSize</key>
        <string>{35,27}</string>
      </dict>
      <key>weapon_3014_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,115},{43,6}}</string>
        <key>offset</key>
        <string>{-28,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,6}}</string>
        <key>sourceSize</key>
        <string>{43,6}</string>
      </dict>
      <key>weapon_3014_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,57},{54,20}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,20}}</string>
        <key>sourceSize</key>
        <string>{54,20}</string>
      </dict>
      <key>weapon_3014_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{49,30}}</string>
        <key>offset</key>
        <string>{-9,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,30}}</string>
        <key>sourceSize</key>
        <string>{49,30}</string>
      </dict>
      <key>weapon_3014_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,0},{55,18}}</string>
        <key>offset</key>
        <string>{-24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,18}}</string>
        <key>sourceSize</key>
        <string>{55,18}</string>
      </dict>
      <key>weapon_3014_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,47},{35,45}}</string>
        <key>offset</key>
        <string>{15,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,45}}</string>
        <key>sourceSize</key>
        <string>{35,45}</string>
      </dict>
      <key>weapon_3014_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,0},{19,51}}</string>
        <key>offset</key>
        <string>{23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,51}}</string>
        <key>sourceSize</key>
        <string>{19,51}</string>
      </dict>
      <key>weapon_3014_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,94},{32,40}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,40}}</string>
        <key>sourceSize</key>
        <string>{32,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3014_1_7.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3014_1_7.png</string>
    </dict>
  </dict>
</plist>