<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3065_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,364},{26,57}}</string>
        <key>offset</key>
        <string>{35,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,57}}</string>
        <key>sourceSize</key>
        <string>{26,57}</string>
      </dict>
      <key>weapon_3065_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,304},{8,92}}</string>
        <key>offset</key>
        <string>{34,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,92}}</string>
        <key>sourceSize</key>
        <string>{8,92}</string>
      </dict>
      <key>weapon_3065_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{23,103}}</string>
        <key>offset</key>
        <string>{16,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,103}}</string>
        <key>sourceSize</key>
        <string>{23,103}</string>
      </dict>
      <key>weapon_3065_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{20,84}}</string>
        <key>offset</key>
        <string>{13,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,84}}</string>
        <key>sourceSize</key>
        <string>{20,84}</string>
      </dict>
      <key>weapon_3065_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{9,106}}</string>
        <key>offset</key>
        <string>{28,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,106}}</string>
        <key>sourceSize</key>
        <string>{9,106}</string>
      </dict>
      <key>weapon_3065_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,318},{9,95}}</string>
        <key>offset</key>
        <string>{34,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,95}}</string>
        <key>sourceSize</key>
        <string>{9,95}</string>
      </dict>
      <key>weapon_3065_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{90,40}}</string>
        <key>offset</key>
        <string>{20,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,40}}</string>
        <key>sourceSize</key>
        <string>{90,40}</string>
      </dict>
      <key>weapon_3065_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{62,74}}</string>
        <key>offset</key>
        <string>{30,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,74}}</string>
        <key>sourceSize</key>
        <string>{62,74}</string>
      </dict>
      <key>weapon_3065_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{23,103}}</string>
        <key>offset</key>
        <string>{34,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,103}}</string>
        <key>sourceSize</key>
        <string>{23,103}</string>
      </dict>
      <key>weapon_3065_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,98},{27,93}}</string>
        <key>offset</key>
        <string>{21,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,93}}</string>
        <key>sourceSize</key>
        <string>{27,93}</string>
      </dict>
      <key>weapon_3065_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,324},{38,101}}</string>
        <key>offset</key>
        <string>{36,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,101}}</string>
        <key>sourceSize</key>
        <string>{38,101}</string>
      </dict>
      <key>weapon_3065_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,167},{62,64}}</string>
        <key>offset</key>
        <string>{27,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,64}}</string>
        <key>sourceSize</key>
        <string>{62,64}</string>
      </dict>
      <key>weapon_3065_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{11,109},{104,35}}</string>
        <key>offset</key>
        <string>{4,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,35}}</string>
        <key>sourceSize</key>
        <string>{104,35}</string>
      </dict>
      <key>weapon_3065_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{105,33}}</string>
        <key>offset</key>
        <string>{14,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,33}}</string>
        <key>sourceSize</key>
        <string>{105,33}</string>
      </dict>
      <key>weapon_3065_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{60,84}}</string>
        <key>offset</key>
        <string>{32,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,84}}</string>
        <key>sourceSize</key>
        <string>{60,84}</string>
      </dict>
      <key>weapon_3065_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{26,102}}</string>
        <key>offset</key>
        <string>{30,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,102}}</string>
        <key>sourceSize</key>
        <string>{26,102}</string>
      </dict>
      <key>weapon_3065_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,314},{81,71}}</string>
        <key>offset</key>
        <string>{28,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>weapon_3065_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,22}}</string>
        <key>offset</key>
        <string>{11,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,22}}</string>
        <key>sourceSize</key>
        <string>{107,22}</string>
      </dict>
      <key>weapon_3065_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,399},{66,82}}</string>
        <key>offset</key>
        <string>{-1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,82}}</string>
        <key>sourceSize</key>
        <string>{66,82}</string>
      </dict>
      <key>weapon_3065_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,92},{85,39}}</string>
        <key>offset</key>
        <string>{5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,39}}</string>
        <key>sourceSize</key>
        <string>{85,39}</string>
      </dict>
      <key>weapon_3065_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,76},{60,62}}</string>
        <key>offset</key>
        <string>{21,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,62}}</string>
        <key>sourceSize</key>
        <string>{60,62}</string>
      </dict>
      <key>weapon_3065_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,215},{31,101}}</string>
        <key>offset</key>
        <string>{21,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,101}}</string>
        <key>sourceSize</key>
        <string>{31,101}</string>
      </dict>
      <key>weapon_3065_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{81,37}}</string>
        <key>offset</key>
        <string>{17,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,37}}</string>
        <key>sourceSize</key>
        <string>{81,37}</string>
      </dict>
      <key>weapon_3065_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,397},{81,60}}</string>
        <key>offset</key>
        <string>{5,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,60}}</string>
        <key>sourceSize</key>
        <string>{81,60}</string>
      </dict>
      <key>weapon_3065_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,299},{26,56}}</string>
        <key>offset</key>
        <string>{-15,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,56}}</string>
        <key>sourceSize</key>
        <string>{26,56}</string>
      </dict>
      <key>weapon_3065_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,502},{7,66}}</string>
        <key>offset</key>
        <string>{6,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,66}}</string>
        <key>sourceSize</key>
        <string>{7,66}</string>
      </dict>
      <key>weapon_3065_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,299},{18,63}}</string>
        <key>offset</key>
        <string>{9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,63}}</string>
        <key>sourceSize</key>
        <string>{18,63}</string>
      </dict>
      <key>weapon_3065_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,193},{18,88}}</string>
        <key>offset</key>
        <string>{14,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,88}}</string>
        <key>sourceSize</key>
        <string>{18,88}</string>
      </dict>
      <key>weapon_3065_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,141},{21,49}}</string>
        <key>offset</key>
        <string>{8,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,49}}</string>
        <key>sourceSize</key>
        <string>{21,49}</string>
      </dict>
      <key>weapon_3065_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,456},{7,44}}</string>
        <key>offset</key>
        <string>{6,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,44}}</string>
        <key>sourceSize</key>
        <string>{7,44}</string>
      </dict>
      <key>weapon_3065_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,390},{73,38}}</string>
        <key>offset</key>
        <string>{-55,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,38}}</string>
        <key>sourceSize</key>
        <string>{73,38}</string>
      </dict>
      <key>weapon_3065_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,76},{63,32}}</string>
        <key>offset</key>
        <string>{-44,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,32}}</string>
        <key>sourceSize</key>
        <string>{63,32}</string>
      </dict>
      <key>weapon_3065_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,423},{31,48}}</string>
        <key>offset</key>
        <string>{-20,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,48}}</string>
        <key>sourceSize</key>
        <string>{31,48}</string>
      </dict>
      <key>weapon_3065_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,483},{24,77}}</string>
        <key>offset</key>
        <string>{-4,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,77}}</string>
        <key>sourceSize</key>
        <string>{24,77}</string>
      </dict>
      <key>weapon_3065_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,357},{48,31}}</string>
        <key>offset</key>
        <string>{-37,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,31}}</string>
        <key>sourceSize</key>
        <string>{48,31}</string>
      </dict>
      <key>weapon_3065_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,465},{69,35}}</string>
        <key>offset</key>
        <string>{-50,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,35}}</string>
        <key>sourceSize</key>
        <string>{69,35}</string>
      </dict>
      <key>weapon_3065_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,105},{101,34}}</string>
        <key>offset</key>
        <string>{-61,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,34}}</string>
        <key>sourceSize</key>
        <string>{101,34}</string>
      </dict>
      <key>weapon_3065_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,208},{94,36}}</string>
        <key>offset</key>
        <string>{-64,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,36}}</string>
        <key>sourceSize</key>
        <string>{94,36}</string>
      </dict>
      <key>weapon_3065_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{55,58}}</string>
        <key>offset</key>
        <string>{-40,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,58}}</string>
        <key>sourceSize</key>
        <string>{55,58}</string>
      </dict>
      <key>weapon_3065_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,167},{25,69}}</string>
        <key>offset</key>
        <string>{-9,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,69}}</string>
        <key>sourceSize</key>
        <string>{25,69}</string>
      </dict>
      <key>weapon_3065_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,233},{64,47}}</string>
        <key>offset</key>
        <string>{-48,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,47}}</string>
        <key>sourceSize</key>
        <string>{64,47}</string>
      </dict>
      <key>weapon_3065_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{96,35}}</string>
        <key>offset</key>
        <string>{-64,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,35}}</string>
        <key>sourceSize</key>
        <string>{96,35}</string>
      </dict>
      <key>weapon_3065_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,314},{60,83}}</string>
        <key>offset</key>
        <string>{-15,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,83}}</string>
        <key>sourceSize</key>
        <string>{60,83}</string>
      </dict>
      <key>weapon_3065_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,86},{72,79}}</string>
        <key>offset</key>
        <string>{-33,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,79}}</string>
        <key>sourceSize</key>
        <string>{72,79}</string>
      </dict>
      <key>weapon_3065_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,262},{50,74}}</string>
        <key>offset</key>
        <string>{-25,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,74}}</string>
        <key>sourceSize</key>
        <string>{50,74}</string>
      </dict>
      <key>weapon_3065_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,480},{28,81}}</string>
        <key>offset</key>
        <string>{-1,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,81}}</string>
        <key>sourceSize</key>
        <string>{28,81}</string>
      </dict>
      <key>weapon_3065_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,314},{49,74}}</string>
        <key>offset</key>
        <string>{-26,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,74}}</string>
        <key>sourceSize</key>
        <string>{49,74}</string>
      </dict>
      <key>weapon_3065_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,179},{70,81}}</string>
        <key>offset</key>
        <string>{-32,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,81}}</string>
        <key>sourceSize</key>
        <string>{70,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3065_0_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3065_0_5.png</string>
    </dict>
  </dict>
</plist>