<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3055_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{36,40}}</string>
        <key>offset</key>
        <string>{40,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,40}}</string>
        <key>sourceSize</key>
        <string>{36,40}</string>
      </dict>
      <key>weapon_3055_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,57},{27,29}}</string>
        <key>offset</key>
        <string>{36,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,29}}</string>
        <key>sourceSize</key>
        <string>{27,29}</string>
      </dict>
      <key>weapon_3055_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,37},{9,22}}</string>
        <key>offset</key>
        <string>{24,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,22}}</string>
        <key>sourceSize</key>
        <string>{9,22}</string>
      </dict>
      <key>weapon_3055_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,90},{25,30}}</string>
        <key>offset</key>
        <string>{-11,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,30}}</string>
        <key>sourceSize</key>
        <string>{25,30}</string>
      </dict>
      <key>weapon_3055_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,57},{31,45}}</string>
        <key>offset</key>
        <string>{-26,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,45}}</string>
        <key>sourceSize</key>
        <string>{31,45}</string>
      </dict>
      <key>weapon_3055_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,13},{22,55}}</string>
        <key>offset</key>
        <string>{-14,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,55}}</string>
        <key>sourceSize</key>
        <string>{22,55}</string>
      </dict>
      <key>weapon_3055_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{11,57}}</string>
        <key>offset</key>
        <string>{16,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,57}}</string>
        <key>sourceSize</key>
        <string>{11,57}</string>
      </dict>
      <key>weapon_3055_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,37},{18,53}}</string>
        <key>offset</key>
        <string>{36,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,53}}</string>
        <key>sourceSize</key>
        <string>{18,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3055_0_11.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3055_0_11.png</string>
    </dict>
  </dict>
</plist>