<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3012_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{15,45}}</string>
        <key>offset</key>
        <string>{37,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,45}}</string>
        <key>sourceSize</key>
        <string>{15,45}</string>
      </dict>
      <key>weapon_3012_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,53},{23,48}}</string>
        <key>offset</key>
        <string>{37,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,48}}</string>
        <key>sourceSize</key>
        <string>{23,48}</string>
      </dict>
      <key>weapon_3012_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,108},{12,41}}</string>
        <key>offset</key>
        <string>{39,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,41}}</string>
        <key>sourceSize</key>
        <string>{12,41}</string>
      </dict>
      <key>weapon_3012_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{47,34}}</string>
        <key>offset</key>
        <string>{18,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,34}}</string>
        <key>sourceSize</key>
        <string>{47,34}</string>
      </dict>
      <key>weapon_3012_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{53,28}}</string>
        <key>offset</key>
        <string>{25,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,28}}</string>
        <key>sourceSize</key>
        <string>{53,28}</string>
      </dict>
      <key>weapon_3012_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,55},{51,24}}</string>
        <key>offset</key>
        <string>{31,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,24}}</string>
        <key>sourceSize</key>
        <string>{51,24}</string>
      </dict>
      <key>weapon_3012_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,0},{55,10}}</string>
        <key>offset</key>
        <string>{4,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,10}}</string>
        <key>sourceSize</key>
        <string>{55,10}</string>
      </dict>
      <key>weapon_3012_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{51,10}}</string>
        <key>offset</key>
        <string>{13,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,10}}</string>
        <key>sourceSize</key>
        <string>{51,10}</string>
      </dict>
      <key>weapon_3012_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{56,11}}</string>
        <key>offset</key>
        <string>{19,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,11}}</string>
        <key>sourceSize</key>
        <string>{56,11}</string>
      </dict>
      <key>weapon_3012_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{23,32}}</string>
        <key>offset</key>
        <string>{1,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,32}}</string>
        <key>sourceSize</key>
        <string>{23,32}</string>
      </dict>
      <key>weapon_3012_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{20,26}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,26}}</string>
        <key>sourceSize</key>
        <string>{20,26}</string>
      </dict>
      <key>weapon_3012_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,89},{28,34}}</string>
        <key>offset</key>
        <string>{9,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>weapon_3012_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,97},{24,38}}</string>
        <key>offset</key>
        <string>{-11,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,38}}</string>
        <key>sourceSize</key>
        <string>{24,38}</string>
      </dict>
      <key>weapon_3012_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{22,13}}</string>
        <key>offset</key>
        <string>{-10,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,13}}</string>
        <key>sourceSize</key>
        <string>{22,13}</string>
      </dict>
      <key>weapon_3012_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,34},{11,20}}</string>
        <key>offset</key>
        <string>{-2,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,20}}</string>
        <key>sourceSize</key>
        <string>{11,20}</string>
      </dict>
      <key>weapon_3012_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{31,14}}</string>
        <key>offset</key>
        <string>{-8,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,14}}</string>
        <key>sourceSize</key>
        <string>{31,14}</string>
      </dict>
      <key>weapon_3012_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,89},{36,24}}</string>
        <key>offset</key>
        <string>{-17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,24}}</string>
        <key>sourceSize</key>
        <string>{36,24}</string>
      </dict>
      <key>weapon_3012_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,117},{46,7}}</string>
        <key>offset</key>
        <string>{-29,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,7}}</string>
        <key>sourceSize</key>
        <string>{46,7}</string>
      </dict>
      <key>weapon_3012_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,59},{56,20}}</string>
        <key>offset</key>
        <string>{-6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,20}}</string>
        <key>sourceSize</key>
        <string>{56,20}</string>
      </dict>
      <key>weapon_3012_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{51,29}}</string>
        <key>offset</key>
        <string>{-9,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,29}}</string>
        <key>sourceSize</key>
        <string>{51,29}</string>
      </dict>
      <key>weapon_3012_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57,16}}</string>
        <key>offset</key>
        <string>{-24,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,16}}</string>
        <key>sourceSize</key>
        <string>{57,16}</string>
      </dict>
      <key>weapon_3012_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,49},{35,46}}</string>
        <key>offset</key>
        <string>{16,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,46}}</string>
        <key>sourceSize</key>
        <string>{35,46}</string>
      </dict>
      <key>weapon_3012_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,55},{19,53}}</string>
        <key>offset</key>
        <string>{23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,53}}</string>
        <key>sourceSize</key>
        <string>{19,53}</string>
      </dict>
      <key>weapon_3012_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,47},{33,40}}</string>
        <key>offset</key>
        <string>{7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,40}}</string>
        <key>sourceSize</key>
        <string>{33,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3012_1_7.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3012_1_7.png</string>
    </dict>
  </dict>
</plist>