<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3071_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,112},{52,105}}</string>
        <key>offset</key>
        <string>{-9,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,105}}</string>
        <key>sourceSize</key>
        <string>{52,105}</string>
      </dict>
      <key>weapon_3071_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,342},{56,106}}</string>
        <key>offset</key>
        <string>{-14,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,106}}</string>
        <key>sourceSize</key>
        <string>{56,106}</string>
      </dict>
      <key>weapon_3071_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{112,26}}</string>
        <key>offset</key>
        <string>{-67,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,26}}</string>
        <key>sourceSize</key>
        <string>{112,26}</string>
      </dict>
      <key>weapon_3071_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{54,62}}</string>
        <key>offset</key>
        <string>{-17,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,62}}</string>
        <key>sourceSize</key>
        <string>{54,62}</string>
      </dict>
      <key>weapon_3071_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,188},{88,42}}</string>
        <key>offset</key>
        <string>{-43,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>weapon_3071_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{25,90}}</string>
        <key>offset</key>
        <string>{29,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,90}}</string>
        <key>sourceSize</key>
        <string>{25,90}</string>
      </dict>
      <key>weapon_3071_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{33,104}}</string>
        <key>offset</key>
        <string>{14,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,104}}</string>
        <key>sourceSize</key>
        <string>{33,104}</string>
      </dict>
      <key>weapon_3071_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,323},{36,99}}</string>
        <key>offset</key>
        <string>{9,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,99}}</string>
        <key>sourceSize</key>
        <string>{36,99}</string>
      </dict>
      <key>weapon_3071_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,352},{64,68}}</string>
        <key>offset</key>
        <string>{-14,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
      <key>weapon_3071_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,219},{102,45}}</string>
        <key>offset</key>
        <string>{-56,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,45}}</string>
        <key>sourceSize</key>
        <string>{102,45}</string>
      </dict>
      <key>weapon_3071_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,99},{92,34}}</string>
        <key>offset</key>
        <string>{-55,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,34}}</string>
        <key>sourceSize</key>
        <string>{92,34}</string>
      </dict>
      <key>weapon_3071_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,308},{46,96}}</string>
        <key>offset</key>
        <string>{18,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,96}}</string>
        <key>sourceSize</key>
        <string>{46,96}</string>
      </dict>
      <key>weapon_3071_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{43,107}}</string>
        <key>offset</key>
        <string>{30,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,107}}</string>
        <key>sourceSize</key>
        <string>{43,107}</string>
      </dict>
      <key>weapon_3071_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,309},{48,98}}</string>
        <key>offset</key>
        <string>{29,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,98}}</string>
        <key>sourceSize</key>
        <string>{48,98}</string>
      </dict>
      <key>weapon_3071_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{68,92}}</string>
        <key>offset</key>
        <string>{-16,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,92}}</string>
        <key>sourceSize</key>
        <string>{68,92}</string>
      </dict>
      <key>weapon_3071_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,368},{85,51}}</string>
        <key>offset</key>
        <string>{-44,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,51}}</string>
        <key>sourceSize</key>
        <string>{85,51}</string>
      </dict>
      <key>weapon_3071_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,421},{37,79}}</string>
        <key>offset</key>
        <string>{-10,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,79}}</string>
        <key>sourceSize</key>
        <string>{37,79}</string>
      </dict>
      <key>weapon_3071_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{37,103}}</string>
        <key>offset</key>
        <string>{21,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,103}}</string>
        <key>sourceSize</key>
        <string>{37,103}</string>
      </dict>
      <key>weapon_3071_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,424},{92,75}}</string>
        <key>offset</key>
        <string>{17,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,75}}</string>
        <key>sourceSize</key>
        <string>{92,75}</string>
      </dict>
      <key>weapon_3071_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,188},{86,81}}</string>
        <key>offset</key>
        <string>{18,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,81}}</string>
        <key>sourceSize</key>
        <string>{86,81}</string>
      </dict>
      <key>weapon_3071_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{41,113}}</string>
        <key>offset</key>
        <string>{17,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,113}}</string>
        <key>sourceSize</key>
        <string>{41,113}</string>
      </dict>
      <key>weapon_3071_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,154},{30,39}}</string>
        <key>offset</key>
        <string>{20,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,39}}</string>
        <key>sourceSize</key>
        <string>{30,39}</string>
      </dict>
      <key>weapon_3071_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,208},{33,99}}</string>
        <key>offset</key>
        <string>{9,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,99}}</string>
        <key>sourceSize</key>
        <string>{33,99}</string>
      </dict>
      <key>weapon_3071_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{27,100}}</string>
        <key>offset</key>
        <string>{14,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,100}}</string>
        <key>sourceSize</key>
        <string>{27,100}</string>
      </dict>
      <key>weapon_3071_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,105},{101,47}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,47}}</string>
        <key>sourceSize</key>
        <string>{101,47}</string>
      </dict>
      <key>weapon_3071_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,208},{98,42}}</string>
        <key>offset</key>
        <string>{7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,42}}</string>
        <key>sourceSize</key>
        <string>{98,42}</string>
      </dict>
      <key>weapon_3071_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,278},{80,88}}</string>
        <key>offset</key>
        <string>{7,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,88}}</string>
        <key>sourceSize</key>
        <string>{80,88}</string>
      </dict>
      <key>weapon_3071_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,64},{54,43}}</string>
        <key>offset</key>
        <string>{11,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,43}}</string>
        <key>sourceSize</key>
        <string>{54,43}</string>
      </dict>
      <key>weapon_3071_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{97,60}}</string>
        <key>offset</key>
        <string>{4,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,60}}</string>
        <key>sourceSize</key>
        <string>{97,60}</string>
      </dict>
      <key>weapon_3071_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,227},{35,106}}</string>
        <key>offset</key>
        <string>{-6,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,106}}</string>
        <key>sourceSize</key>
        <string>{35,106}</string>
      </dict>
      <key>weapon_3071_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,393},{11,43}}</string>
        <key>offset</key>
        <string>{10,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,43}}</string>
        <key>sourceSize</key>
        <string>{11,43}</string>
      </dict>
      <key>weapon_3071_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,137},{15,44}}</string>
        <key>offset</key>
        <string>{10,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,44}}</string>
        <key>sourceSize</key>
        <string>{15,44}</string>
      </dict>
      <key>weapon_3071_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,424},{99,52}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,52}}</string>
        <key>sourceSize</key>
        <string>{99,52}</string>
      </dict>
      <key>weapon_3071_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,299},{92,66}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,66}}</string>
        <key>sourceSize</key>
        <string>{92,66}</string>
      </dict>
      <key>weapon_3071_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{113,37}}</string>
        <key>offset</key>
        <string>{6,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,37}}</string>
        <key>sourceSize</key>
        <string>{113,37}</string>
      </dict>
      <key>weapon_3071_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,102},{50,98}}</string>
        <key>offset</key>
        <string>{-15,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,98}}</string>
        <key>sourceSize</key>
        <string>{50,98}</string>
      </dict>
      <key>weapon_3071_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,276},{74,36}}</string>
        <key>offset</key>
        <string>{-55,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,36}}</string>
        <key>sourceSize</key>
        <string>{74,36}</string>
      </dict>
      <key>weapon_3071_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,421},{80,44}}</string>
        <key>offset</key>
        <string>{-61,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,44}}</string>
        <key>sourceSize</key>
        <string>{80,44}</string>
      </dict>
      <key>weapon_3071_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,230},{110,13}}</string>
        <key>offset</key>
        <string>{-11,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,13}}</string>
        <key>sourceSize</key>
        <string>{110,13}</string>
      </dict>
      <key>weapon_3071_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,115},{31,110}}</string>
        <key>offset</key>
        <string>{12,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,110}}</string>
        <key>sourceSize</key>
        <string>{31,110}</string>
      </dict>
      <key>weapon_3071_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,109},{26,54}}</string>
        <key>offset</key>
        <string>{24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,54}}</string>
        <key>sourceSize</key>
        <string>{26,54}</string>
      </dict>
      <key>weapon_3071_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{46,110}}</string>
        <key>offset</key>
        <string>{-5,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,110}}</string>
        <key>sourceSize</key>
        <string>{46,110}</string>
      </dict>
      <key>weapon_3071_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,94},{92,67}}</string>
        <key>offset</key>
        <string>{-59,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,67}}</string>
        <key>sourceSize</key>
        <string>{92,67}</string>
      </dict>
      <key>weapon_3071_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,202},{95,70}}</string>
        <key>offset</key>
        <string>{-64,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,70}}</string>
        <key>sourceSize</key>
        <string>{95,70}</string>
      </dict>
      <key>weapon_3071_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,92},{37,39}}</string>
        <key>offset</key>
        <string>{-11,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,39}}</string>
        <key>sourceSize</key>
        <string>{37,39}</string>
      </dict>
      <key>weapon_3071_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{35,111}}</string>
        <key>offset</key>
        <string>{-4,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,111}}</string>
        <key>sourceSize</key>
        <string>{35,111}</string>
      </dict>
      <key>weapon_3071_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,137},{27,53}}</string>
        <key>offset</key>
        <string>{11,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,53}}</string>
        <key>sourceSize</key>
        <string>{27,53}</string>
      </dict>
      <key>weapon_3071_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,406},{16,93}}</string>
        <key>offset</key>
        <string>{18,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,93}}</string>
        <key>sourceSize</key>
        <string>{16,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3071_1_3.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3071_1_3.png</string>
    </dict>
  </dict>
</plist>