<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3073_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{77,73}}</string>
        <key>offset</key>
        <string>{4,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>weapon_3073_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,397},{87,36}}</string>
        <key>offset</key>
        <string>{-26,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,36}}</string>
        <key>sourceSize</key>
        <string>{87,36}</string>
      </dict>
      <key>weapon_3073_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,365},{114,53}}</string>
        <key>offset</key>
        <string>{-30,-11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,53}}</string>
        <key>sourceSize</key>
        <string>{114,53}</string>
      </dict>
      <key>weapon_3073_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,418},{90,68}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,68}}</string>
        <key>sourceSize</key>
        <string>{90,68}</string>
      </dict>
      <key>weapon_3073_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{32,120}}</string>
        <key>offset</key>
        <string>{41,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,120}}</string>
        <key>sourceSize</key>
        <string>{32,120}</string>
      </dict>
      <key>weapon_3073_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{118,38}}</string>
        <key>offset</key>
        <string>{-39,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,38}}</string>
        <key>sourceSize</key>
        <string>{118,38}</string>
      </dict>
      <key>weapon_3073_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,123},{118,37}}</string>
        <key>offset</key>
        <string>{-69,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,37}}</string>
        <key>sourceSize</key>
        <string>{118,37}</string>
      </dict>
      <key>weapon_3073_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{118,34}}</string>
        <key>offset</key>
        <string>{-63,-29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,34}}</string>
        <key>sourceSize</key>
        <string>{118,34}</string>
      </dict>
      <key>weapon_3073_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,216},{89,80}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,80}}</string>
        <key>sourceSize</key>
        <string>{89,80}</string>
      </dict>
      <key>weapon_3073_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,307},{86,87}}</string>
        <key>offset</key>
        <string>{-20,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,87}}</string>
        <key>sourceSize</key>
        <string>{86,87}</string>
      </dict>
      <key>weapon_3073_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,98},{48,79}}</string>
        <key>offset</key>
        <string>{-50,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,79}}</string>
        <key>sourceSize</key>
        <string>{48,79}</string>
      </dict>
      <key>weapon_3073_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,221},{101,73}}</string>
        <key>offset</key>
        <string>{-87,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,73}}</string>
        <key>sourceSize</key>
        <string>{101,73}</string>
      </dict>
      <key>weapon_3073_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,243},{114,35}}</string>
        <key>offset</key>
        <string>{-24,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,35}}</string>
        <key>sourceSize</key>
        <string>{114,35}</string>
      </dict>
      <key>weapon_3073_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,114},{32,105}}</string>
        <key>offset</key>
        <string>{9,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,105}}</string>
        <key>sourceSize</key>
        <string>{32,105}</string>
      </dict>
      <key>weapon_3073_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{96,68}}</string>
        <key>offset</key>
        <string>{-55,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,68}}</string>
        <key>sourceSize</key>
        <string>{96,68}</string>
      </dict>
      <key>weapon_3073_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{34,121}}</string>
        <key>offset</key>
        <string>{-52,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,121}}</string>
        <key>sourceSize</key>
        <string>{34,121}</string>
      </dict>
      <key>weapon_3073_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{112,57}}</string>
        <key>offset</key>
        <string>{-46,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,57}}</string>
        <key>sourceSize</key>
        <string>{112,57}</string>
      </dict>
      <key>weapon_3073_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,396},{70,85}}</string>
        <key>offset</key>
        <string>{-8,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,85}}</string>
        <key>sourceSize</key>
        <string>{70,85}</string>
      </dict>
      <key>weapon_3073_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{117,26}}</string>
        <key>offset</key>
        <string>{-37,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,26}}</string>
        <key>sourceSize</key>
        <string>{117,26}</string>
      </dict>
      <key>weapon_3073_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,114},{100,65}}</string>
        <key>offset</key>
        <string>{-45,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,65}}</string>
        <key>sourceSize</key>
        <string>{100,65}</string>
      </dict>
      <key>weapon_3073_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,179},{31,67}}</string>
        <key>offset</key>
        <string>{-26,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,67}}</string>
        <key>sourceSize</key>
        <string>{31,67}</string>
      </dict>
      <key>weapon_3073_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,235},{109,41}}</string>
        <key>offset</key>
        <string>{-30,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,41}}</string>
        <key>sourceSize</key>
        <string>{109,41}</string>
      </dict>
      <key>weapon_3073_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,396},{86,68}}</string>
        <key>offset</key>
        <string>{9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,68}}</string>
        <key>sourceSize</key>
        <string>{86,68}</string>
      </dict>
      <key>weapon_3073_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{115,26}}</string>
        <key>offset</key>
        <string>{-8,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,26}}</string>
        <key>sourceSize</key>
        <string>{115,26}</string>
      </dict>
      <key>weapon_3073_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,346},{105,45}}</string>
        <key>offset</key>
        <string>{-61,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,45}}</string>
        <key>sourceSize</key>
        <string>{105,45}</string>
      </dict>
      <key>weapon_3073_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{73,22}}</string>
        <key>offset</key>
        <string>{-16,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,22}}</string>
        <key>sourceSize</key>
        <string>{73,22}</string>
      </dict>
      <key>weapon_3073_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,307},{36,88}}</string>
        <key>offset</key>
        <string>{55,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,88}}</string>
        <key>sourceSize</key>
        <string>{36,88}</string>
      </dict>
      <key>weapon_3073_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,324},{92,63}}</string>
        <key>offset</key>
        <string>{37,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,63}}</string>
        <key>sourceSize</key>
        <string>{92,63}</string>
      </dict>
      <key>weapon_3073_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,119},{114,33}}</string>
        <key>offset</key>
        <string>{-42,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,33}}</string>
        <key>sourceSize</key>
        <string>{114,33}</string>
      </dict>
      <key>weapon_3073_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,453},{36,39}}</string>
        <key>offset</key>
        <string>{8,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>weapon_3073_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{70,76}}</string>
        <key>offset</key>
        <string>{22,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,76}}</string>
        <key>sourceSize</key>
        <string>{70,76}</string>
      </dict>
      <key>weapon_3073_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,24},{34,66}}</string>
        <key>offset</key>
        <string>{63,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,66}}</string>
        <key>sourceSize</key>
        <string>{34,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3073_0_4.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3073_0_4.png</string>
    </dict>
  </dict>
</plist>