<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3045_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,61},{13,54}}</string>
        <key>offset</key>
        <string>{32,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,54}}</string>
        <key>sourceSize</key>
        <string>{13,54}</string>
      </dict>
      <key>weapon_3045_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{7,59}}</string>
        <key>offset</key>
        <string>{29,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,59}}</string>
        <key>sourceSize</key>
        <string>{7,59}</string>
      </dict>
      <key>weapon_3045_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{84,41}}</string>
        <key>offset</key>
        <string>{26,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,41}}</string>
        <key>sourceSize</key>
        <string>{84,41}</string>
      </dict>
      <key>weapon_3045_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,73},{75,47}}</string>
        <key>offset</key>
        <string>{34,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,47}}</string>
        <key>sourceSize</key>
        <string>{75,47}</string>
      </dict>
      <key>weapon_3045_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,114},{109,43}}</string>
        <key>offset</key>
        <string>{17,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,43}}</string>
        <key>sourceSize</key>
        <string>{109,43}</string>
      </dict>
      <key>weapon_3045_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{111,32}}</string>
        <key>offset</key>
        <string>{32,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,32}}</string>
        <key>sourceSize</key>
        <string>{111,32}</string>
      </dict>
      <key>weapon_3045_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,100},{74,73}}</string>
        <key>offset</key>
        <string>{11,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>weapon_3045_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,175},{73,72}}</string>
        <key>offset</key>
        <string>{23,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,72}}</string>
        <key>sourceSize</key>
        <string>{73,72}</string>
      </dict>
      <key>weapon_3045_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,0},{12,88}}</string>
        <key>offset</key>
        <string>{3,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,88}}</string>
        <key>sourceSize</key>
        <string>{12,88}</string>
      </dict>
      <key>weapon_3045_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,90},{8,83}}</string>
        <key>offset</key>
        <string>{11,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,83}}</string>
        <key>sourceSize</key>
        <string>{8,83}</string>
      </dict>
      <key>weapon_3045_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{80,71}}</string>
        <key>offset</key>
        <string>{-59,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,71}}</string>
        <key>sourceSize</key>
        <string>{80,71}</string>
      </dict>
      <key>weapon_3045_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{81,71}}</string>
        <key>offset</key>
        <string>{-70,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,71}}</string>
        <key>sourceSize</key>
        <string>{81,71}</string>
      </dict>
      <key>weapon_3045_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{107,26}}</string>
        <key>offset</key>
        <string>{-81,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,26}}</string>
        <key>sourceSize</key>
        <string>{107,26}</string>
      </dict>
      <key>weapon_3045_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,33}}</string>
        <key>offset</key>
        <string>{-97,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,33}}</string>
        <key>sourceSize</key>
        <string>{112,33}</string>
      </dict>
      <key>weapon_3045_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,122},{70,39}}</string>
        <key>offset</key>
        <string>{-34,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,39}}</string>
        <key>sourceSize</key>
        <string>{70,39}</string>
      </dict>
      <key>weapon_3045_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,163},{70,47}}</string>
        <key>offset</key>
        <string>{-56,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,47}}</string>
        <key>sourceSize</key>
        <string>{70,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3045_0_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3045_0_8.png</string>
    </dict>
  </dict>
</plist>