<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0266_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,236},{32,82}}</string>
        <key>offset</key>
        <string>{-160,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,103},{32,82}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,360},{28,94}}</string>
        <key>offset</key>
        <string>{-163,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{199,92},{28,94}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,464},{28,100}}</string>
        <key>offset</key>
        <string>{-163,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{199,87},{28,100}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,464},{26,90}}</string>
        <key>offset</key>
        <string>{-161,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,95},{26,90}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,156},{130,66}}</string>
        <key>offset</key>
        <string>{-127,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{184,129},{130,66}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,412},{120,70}}</string>
        <key>offset</key>
        <string>{-129,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,122},{120,70}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,250},{118,82}}</string>
        <key>offset</key>
        <string>{-129,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{188,116},{118,82}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,122},{118,68}}</string>
        <key>offset</key>
        <string>{-129,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{188,125},{118,68}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,56}}</string>
        <key>offset</key>
        <string>{-129,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{166,156},{162,56}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{162,50}}</string>
        <key>offset</key>
        <string>{-129,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{166,155},{162,50}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,328},{156,48}}</string>
        <key>offset</key>
        <string>{-128,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{170,154},{156,48}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{160,46}}</string>
        <key>offset</key>
        <string>{-125,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{171,158},{160,46}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,242},{116,86}}</string>
        <key>offset</key>
        <string>{-153,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{165,157},{116,86}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,128},{120,84}}</string>
        <key>offset</key>
        <string>{-151,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{165,152},{120,84}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,120},{114,82}}</string>
        <key>offset</key>
        <string>{-148,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{171,155},{114,82}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,120},{114,84}}</string>
        <key>offset</key>
        <string>{-150,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{169,154},{114,84}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,486},{24,112}}</string>
        <key>offset</key>
        <string>{-191,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{173,149},{24,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,484},{24,100}}</string>
        <key>offset</key>
        <string>{-189,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{175,146},{24,100}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,360},{26,96}}</string>
        <key>offset</key>
        <string>{-191,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{172,147},{26,96}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,350},{28,104}}</string>
        <key>offset</key>
        <string>{-191,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{171,147},{28,104}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{118,86}}</string>
        <key>offset</key>
        <string>{-224,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,147},{118,86}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{118,82}}</string>
        <key>offset</key>
        <string>{-225,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{92,146},{118,82}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{126,74}}</string>
        <key>offset</key>
        <string>{-227,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,148},{126,74}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{120,80}}</string>
        <key>offset</key>
        <string>{-225,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,146},{120,80}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,322},{152,52}}</string>
        <key>offset</key>
        <string>{-225,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{75,139},{152,52}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{154,50}}</string>
        <key>offset</key>
        <string>{-226,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,135},{154,50}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{154,54}}</string>
        <key>offset</key>
        <string>{-226,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,129},{154,54}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,164},{156,58}}</string>
        <key>offset</key>
        <string>{-225,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,132},{156,58}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,236},{112,70}}</string>
        <key>offset</key>
        <string>{-202,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{118,113},{112,70}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,350},{112,74}}</string>
        <key>offset</key>
        <string>{-202,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{118,105},{112,74}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,288},{122,78}}</string>
        <key>offset</key>
        <string>{-200,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,102},{122,78}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0266_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,370},{118,68}}</string>
        <key>offset</key>
        <string>{-201,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{116,110},{118,68}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0266_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0266_0_0.png</string>
    </dict>
  </dict>
</plist>