<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3044_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{29,61}}</string>
        <key>offset</key>
        <string>{29,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,61}}</string>
        <key>sourceSize</key>
        <string>{29,61}</string>
      </dict>
      <key>weapon_3044_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{23,75}}</string>
        <key>offset</key>
        <string>{30,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,75}}</string>
        <key>sourceSize</key>
        <string>{23,75}</string>
      </dict>
      <key>weapon_3044_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,235},{10,84}}</string>
        <key>offset</key>
        <string>{31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,84}}</string>
        <key>sourceSize</key>
        <string>{10,84}</string>
      </dict>
      <key>weapon_3044_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{8,88}}</string>
        <key>offset</key>
        <string>{31,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,88}}</string>
        <key>sourceSize</key>
        <string>{8,88}</string>
      </dict>
      <key>weapon_3044_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,235},{16,79}}</string>
        <key>offset</key>
        <string>{28,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,79}}</string>
        <key>sourceSize</key>
        <string>{16,79}</string>
      </dict>
      <key>weapon_3044_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,250},{28,65}}</string>
        <key>offset</key>
        <string>{29,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,65}}</string>
        <key>sourceSize</key>
        <string>{28,65}</string>
      </dict>
      <key>weapon_3044_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,156},{73,34}}</string>
        <key>offset</key>
        <string>{16,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,34}}</string>
        <key>sourceSize</key>
        <string>{73,34}</string>
      </dict>
      <key>weapon_3044_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{75,45}}</string>
        <key>offset</key>
        <string>{19,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,45}}</string>
        <key>sourceSize</key>
        <string>{75,45}</string>
      </dict>
      <key>weapon_3044_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,150},{71,59}}</string>
        <key>offset</key>
        <string>{25,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,59}}</string>
        <key>sourceSize</key>
        <string>{71,59}</string>
      </dict>
      <key>weapon_3044_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,72},{66,69}}</string>
        <key>offset</key>
        <string>{28,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,69}}</string>
        <key>sourceSize</key>
        <string>{66,69}</string>
      </dict>
      <key>weapon_3044_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,156},{74,45}}</string>
        <key>offset</key>
        <string>{21,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,45}}</string>
        <key>sourceSize</key>
        <string>{74,45}</string>
      </dict>
      <key>weapon_3044_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{72,30}}</string>
        <key>offset</key>
        <string>{18,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,30}}</string>
        <key>sourceSize</key>
        <string>{72,30}</string>
      </dict>
      <key>weapon_3044_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,191},{88,42}}</string>
        <key>offset</key>
        <string>{3,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>weapon_3044_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{95,27}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,27}}</string>
        <key>sourceSize</key>
        <string>{95,27}</string>
      </dict>
      <key>weapon_3044_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{97,21}}</string>
        <key>offset</key>
        <string>{14,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,21}}</string>
        <key>sourceSize</key>
        <string>{97,21}</string>
      </dict>
      <key>weapon_3044_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{94,32}}</string>
        <key>offset</key>
        <string>{20,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,32}}</string>
        <key>sourceSize</key>
        <string>{94,32}</string>
      </dict>
      <key>weapon_3044_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,0},{97,19}}</string>
        <key>offset</key>
        <string>{12,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,19}}</string>
        <key>sourceSize</key>
        <string>{97,19}</string>
      </dict>
      <key>weapon_3044_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,97},{92,38}}</string>
        <key>offset</key>
        <string>{6,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,38}}</string>
        <key>sourceSize</key>
        <string>{92,38}</string>
      </dict>
      <key>weapon_3044_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{57,78}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,78}}</string>
        <key>sourceSize</key>
        <string>{57,78}</string>
      </dict>
      <key>weapon_3044_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,146},{68,64}}</string>
        <key>offset</key>
        <string>{2,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>weapon_3044_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,77},{73,50}}</string>
        <key>offset</key>
        <string>{6,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,50}}</string>
        <key>sourceSize</key>
        <string>{73,50}</string>
      </dict>
      <key>weapon_3044_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{73,42}}</string>
        <key>offset</key>
        <string>{12,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,42}}</string>
        <key>sourceSize</key>
        <string>{73,42}</string>
      </dict>
      <key>weapon_3044_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,74},{70,59}}</string>
        <key>offset</key>
        <string>{6,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,59}}</string>
        <key>sourceSize</key>
        <string>{70,59}</string>
      </dict>
      <key>weapon_3044_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,152},{61,73}}</string>
        <key>offset</key>
        <string>{2,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,73}}</string>
        <key>sourceSize</key>
        <string>{61,73}</string>
      </dict>
      <key>weapon_3044_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{37,76}}</string>
        <key>offset</key>
        <string>{-19,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,76}}</string>
        <key>sourceSize</key>
        <string>{37,76}</string>
      </dict>
      <key>weapon_3044_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,223},{25,69}}</string>
        <key>offset</key>
        <string>{-8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,69}}</string>
        <key>sourceSize</key>
        <string>{25,69}</string>
      </dict>
      <key>weapon_3044_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,247},{15,64}}</string>
        <key>offset</key>
        <string>{2,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,64}}</string>
        <key>sourceSize</key>
        <string>{15,64}</string>
      </dict>
      <key>weapon_3044_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,71},{11,64}}</string>
        <key>offset</key>
        <string>{6,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,64}}</string>
        <key>sourceSize</key>
        <string>{11,64}</string>
      </dict>
      <key>weapon_3044_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{19,70}}</string>
        <key>offset</key>
        <string>{-2,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,70}}</string>
        <key>sourceSize</key>
        <string>{19,70}</string>
      </dict>
      <key>weapon_3044_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,227},{26,73}}</string>
        <key>offset</key>
        <string>{-9,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,73}}</string>
        <key>sourceSize</key>
        <string>{26,73}</string>
      </dict>
      <key>weapon_3044_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,80},{77,36}}</string>
        <key>offset</key>
        <string>{-47,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,36}}</string>
        <key>sourceSize</key>
        <string>{77,36}</string>
      </dict>
      <key>weapon_3044_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,253},{60,30}}</string>
        <key>offset</key>
        <string>{-42,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,30}}</string>
        <key>sourceSize</key>
        <string>{60,30}</string>
      </dict>
      <key>weapon_3044_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,140},{64,30}}</string>
        <key>offset</key>
        <string>{-47,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,30}}</string>
        <key>sourceSize</key>
        <string>{64,30}</string>
      </dict>
      <key>weapon_3044_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,206},{63,22}}</string>
        <key>offset</key>
        <string>{-45,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,22}}</string>
        <key>sourceSize</key>
        <string>{63,22}</string>
      </dict>
      <key>weapon_3044_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,253},{62,28}}</string>
        <key>offset</key>
        <string>{-45,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,28}}</string>
        <key>sourceSize</key>
        <string>{62,28}</string>
      </dict>
      <key>weapon_3044_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{60,33}}</string>
        <key>offset</key>
        <string>{-43,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,33}}</string>
        <key>sourceSize</key>
        <string>{60,33}</string>
      </dict>
      <key>weapon_3044_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{97,18}}</string>
        <key>offset</key>
        <string>{-53,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,18}}</string>
        <key>sourceSize</key>
        <string>{97,18}</string>
      </dict>
      <key>weapon_3044_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,97},{95,22}}</string>
        <key>offset</key>
        <string>{-57,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,22}}</string>
        <key>sourceSize</key>
        <string>{95,22}</string>
      </dict>
      <key>weapon_3044_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{92,29}}</string>
        <key>offset</key>
        <string>{-61,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,29}}</string>
        <key>sourceSize</key>
        <string>{92,29}</string>
      </dict>
      <key>weapon_3044_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,90},{83,40}}</string>
        <key>offset</key>
        <string>{-63,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,40}}</string>
        <key>sourceSize</key>
        <string>{83,40}</string>
      </dict>
      <key>weapon_3044_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,99},{96,18}}</string>
        <key>offset</key>
        <string>{-61,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,18}}</string>
        <key>sourceSize</key>
        <string>{96,18}</string>
      </dict>
      <key>weapon_3044_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,19}}</string>
        <key>offset</key>
        <string>{-57,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,19}}</string>
        <key>sourceSize</key>
        <string>{98,19}</string>
      </dict>
      <key>weapon_3044_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,247},{67,52}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,52}}</string>
        <key>sourceSize</key>
        <string>{67,52}</string>
      </dict>
      <key>weapon_3044_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{69,63}}</string>
        <key>offset</key>
        <string>{-25,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,63}}</string>
        <key>sourceSize</key>
        <string>{69,63}</string>
      </dict>
      <key>weapon_3044_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{64,72}}</string>
        <key>offset</key>
        <string>{-26,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,72}}</string>
        <key>sourceSize</key>
        <string>{64,72}</string>
      </dict>
      <key>weapon_3044_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,78},{61,76}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,76}}</string>
        <key>sourceSize</key>
        <string>{61,76}</string>
      </dict>
      <key>weapon_3044_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,75},{63,73}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>weapon_3044_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,216},{63,66}}</string>
        <key>offset</key>
        <string>{-20,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,66}}</string>
        <key>sourceSize</key>
        <string>{63,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3044_0_1.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3044_0_1.png</string>
    </dict>
  </dict>
</plist>