<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3007_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,39},{27,71}}</string>
        <key>offset</key>
        <string>{30,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,71}}</string>
        <key>sourceSize</key>
        <string>{27,71}</string>
      </dict>
      <key>weapon_3007_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{37,75}}</string>
        <key>offset</key>
        <string>{26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,75}}</string>
        <key>sourceSize</key>
        <string>{37,75}</string>
      </dict>
      <key>weapon_3007_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,68},{21,67}}</string>
        <key>offset</key>
        <string>{33,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,67}}</string>
        <key>sourceSize</key>
        <string>{21,67}</string>
      </dict>
      <key>weapon_3007_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{75,55}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>weapon_3007_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{84,48}}</string>
        <key>offset</key>
        <string>{-2,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,48}}</string>
        <key>sourceSize</key>
        <string>{84,48}</string>
      </dict>
      <key>weapon_3007_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,201},{80,41}}</string>
        <key>offset</key>
        <string>{5,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,41}}</string>
        <key>sourceSize</key>
        <string>{80,41}</string>
      </dict>
      <key>weapon_3007_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{88,15}}</string>
        <key>offset</key>
        <string>{-25,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,15}}</string>
        <key>sourceSize</key>
        <string>{88,15}</string>
      </dict>
      <key>weapon_3007_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,85},{81,17}}</string>
        <key>offset</key>
        <string>{-13,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,17}}</string>
        <key>sourceSize</key>
        <string>{81,17}</string>
      </dict>
      <key>weapon_3007_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{89,21}}</string>
        <key>offset</key>
        <string>{-10,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,21}}</string>
        <key>sourceSize</key>
        <string>{89,21}</string>
      </dict>
      <key>weapon_3007_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,205},{37,53}}</string>
        <key>offset</key>
        <string>{-12,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{37,53}</string>
      </dict>
      <key>weapon_3007_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,91},{31,45}}</string>
        <key>offset</key>
        <string>{-3,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,45}}</string>
        <key>sourceSize</key>
        <string>{31,45}</string>
      </dict>
      <key>weapon_3007_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,145},{45,58}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,58}}</string>
        <key>sourceSize</key>
        <string>{45,58}</string>
      </dict>
      <key>weapon_3007_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,188},{37,60}}</string>
        <key>offset</key>
        <string>{-13,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,60}}</string>
        <key>sourceSize</key>
        <string>{37,60}</string>
      </dict>
      <key>weapon_3007_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,39},{33,24}}</string>
        <key>offset</key>
        <string>{-13,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,24}}</string>
        <key>sourceSize</key>
        <string>{33,24}</string>
      </dict>
      <key>weapon_3007_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,68},{20,34}}</string>
        <key>offset</key>
        <string>{-5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,34}}</string>
        <key>sourceSize</key>
        <string>{20,34}</string>
      </dict>
      <key>weapon_3007_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,77},{57,25}}</string>
        <key>offset</key>
        <string>{-12,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,25}}</string>
        <key>sourceSize</key>
        <string>{57,25}</string>
      </dict>
      <key>weapon_3007_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,145},{62,41}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,41}}</string>
        <key>sourceSize</key>
        <string>{62,41}</string>
      </dict>
      <key>weapon_3007_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,168},{74,13}}</string>
        <key>offset</key>
        <string>{-33,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,13}}</string>
        <key>sourceSize</key>
        <string>{74,13}</string>
      </dict>
      <key>weapon_3007_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,93},{88,32}}</string>
        <key>offset</key>
        <string>{-10,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,32}}</string>
        <key>sourceSize</key>
        <string>{88,32}</string>
      </dict>
      <key>weapon_3007_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{81,47}}</string>
        <key>offset</key>
        <string>{-13,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,47}}</string>
        <key>sourceSize</key>
        <string>{81,47}</string>
      </dict>
      <key>weapon_3007_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,28}}</string>
        <key>offset</key>
        <string>{-28,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,28}}</string>
        <key>sourceSize</key>
        <string>{91,28}</string>
      </dict>
      <key>weapon_3007_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,83},{55,73}}</string>
        <key>offset</key>
        <string>{14,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,73}}</string>
        <key>sourceSize</key>
        <string>{55,73}</string>
      </dict>
      <key>weapon_3007_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{30,83}}</string>
        <key>offset</key>
        <string>{22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,83}}</string>
        <key>sourceSize</key>
        <string>{30,83}</string>
      </dict>
      <key>weapon_3007_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,91},{52,63}}</string>
        <key>offset</key>
        <string>{5,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,63}}</string>
        <key>sourceSize</key>
        <string>{52,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3007_1_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3007_1_7.png</string>
    </dict>
  </dict>
</plist>