<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21013_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,141},{12,21}}</string>
        <key>offset</key>
        <string>{41,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,21}}</string>
        <key>sourceSize</key>
        <string>{12,21}</string>
      </dict>
      <key>weapon_21013_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,118},{16,19}}</string>
        <key>offset</key>
        <string>{37,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,19}}</string>
        <key>sourceSize</key>
        <string>{16,19}</string>
      </dict>
      <key>weapon_21013_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,210},{24,19}}</string>
        <key>offset</key>
        <string>{17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>weapon_21013_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{78,19}}</string>
        <key>offset</key>
        <string>{-40,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,19}}</string>
        <key>sourceSize</key>
        <string>{78,19}</string>
      </dict>
      <key>weapon_21013_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,218},{54,22}}</string>
        <key>offset</key>
        <string>{28,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,22}}</string>
        <key>sourceSize</key>
        <string>{54,22}</string>
      </dict>
      <key>weapon_21013_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,73},{62,23}}</string>
        <key>offset</key>
        <string>{33,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,23}}</string>
        <key>sourceSize</key>
        <string>{62,23}</string>
      </dict>
      <key>weapon_21013_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,52},{45,21}}</string>
        <key>offset</key>
        <string>{50,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,21}}</string>
        <key>sourceSize</key>
        <string>{45,21}</string>
      </dict>
      <key>weapon_21013_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,157},{51,50}}</string>
        <key>offset</key>
        <string>{29,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,50}}</string>
        <key>sourceSize</key>
        <string>{51,50}</string>
      </dict>
      <key>weapon_21013_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,75},{71,37}}</string>
        <key>offset</key>
        <string>{12,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,37}}</string>
        <key>sourceSize</key>
        <string>{71,37}</string>
      </dict>
      <key>weapon_21013_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,163},{78,29}}</string>
        <key>offset</key>
        <string>{17,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,29}}</string>
        <key>sourceSize</key>
        <string>{78,29}</string>
      </dict>
      <key>weapon_21013_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{71,36}}</string>
        <key>offset</key>
        <string>{48,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,36}}</string>
        <key>sourceSize</key>
        <string>{71,36}</string>
      </dict>
      <key>weapon_21013_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{23,60}}</string>
        <key>offset</key>
        <string>{80,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,60}}</string>
        <key>sourceSize</key>
        <string>{23,60}</string>
      </dict>
      <key>weapon_21013_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,157},{52,59}}</string>
        <key>offset</key>
        <string>{1,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,59}}</string>
        <key>sourceSize</key>
        <string>{52,59}</string>
      </dict>
      <key>weapon_21013_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,45},{56,47}}</string>
        <key>offset</key>
        <string>{6,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,47}}</string>
        <key>sourceSize</key>
        <string>{56,47}</string>
      </dict>
      <key>weapon_21013_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{79,23}}</string>
        <key>offset</key>
        <string>{30,-10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,23}}</string>
        <key>sourceSize</key>
        <string>{79,23}</string>
      </dict>
      <key>weapon_21013_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{73,33}}</string>
        <key>offset</key>
        <string>{57,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,33}}</string>
        <key>sourceSize</key>
        <string>{73,33}</string>
      </dict>
      <key>weapon_21013_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,148},{7,69}}</string>
        <key>offset</key>
        <string>{1,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,69}}</string>
        <key>sourceSize</key>
        <string>{7,69}</string>
      </dict>
      <key>weapon_21013_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{13,62}}</string>
        <key>offset</key>
        <string>{-5,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,62}}</string>
        <key>sourceSize</key>
        <string>{13,62}</string>
      </dict>
      <key>weapon_21013_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{50,27}}</string>
        <key>offset</key>
        <string>{5,-18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>weapon_21013_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,0},{77,16}}</string>
        <key>offset</key>
        <string>{11,-48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,16}}</string>
        <key>sourceSize</key>
        <string>{77,16}</string>
      </dict>
      <key>weapon_21013_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,94},{45,49}}</string>
        <key>offset</key>
        <string>{-31,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>weapon_21013_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{57,43}}</string>
        <key>offset</key>
        <string>{-42,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,43}}</string>
        <key>sourceSize</key>
        <string>{57,43}</string>
      </dict>
      <key>weapon_21013_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,99},{15,39}}</string>
        <key>offset</key>
        <string>{-21,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,39}}</string>
        <key>sourceSize</key>
        <string>{15,39}</string>
      </dict>
      <key>weapon_21013_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,116},{38,30}}</string>
        <key>offset</key>
        <string>{-30,-38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,30}}</string>
        <key>sourceSize</key>
        <string>{38,30}</string>
      </dict>
      <key>weapon_21013_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,81},{78,24}}</string>
        <key>offset</key>
        <string>{-38,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>weapon_21013_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,0},{79,13}}</string>
        <key>offset</key>
        <string>{-50,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,13}}</string>
        <key>sourceSize</key>
        <string>{79,13}</string>
      </dict>
      <key>weapon_21013_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,62},{54,17}}</string>
        <key>offset</key>
        <string>{-60,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,17}}</string>
        <key>sourceSize</key>
        <string>{54,17}</string>
      </dict>
      <key>weapon_21013_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,210},{22,32}}</string>
        <key>offset</key>
        <string>{-56,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,32}}</string>
        <key>sourceSize</key>
        <string>{22,32}</string>
      </dict>
      <key>weapon_21013_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,73},{65,15}}</string>
        <key>offset</key>
        <string>{-16,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,15}}</string>
        <key>sourceSize</key>
        <string>{65,15}</string>
      </dict>
      <key>weapon_21013_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,73},{64,7}}</string>
        <key>offset</key>
        <string>{-19,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,7}}</string>
        <key>sourceSize</key>
        <string>{64,7}</string>
      </dict>
      <key>weapon_21013_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,16}}</string>
        <key>offset</key>
        <string>{-59,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,16}}</string>
        <key>sourceSize</key>
        <string>{80,16}</string>
      </dict>
      <key>weapon_21013_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,243},{74,11}}</string>
        <key>offset</key>
        <string>{-83,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,11}}</string>
        <key>sourceSize</key>
        <string>{74,11}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21013_1_4.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_21013_1_4.png</string>
    </dict>
  </dict>
</plist>