<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20002_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,562},{106,150}}</string>
        <key>offset</key>
        <string>{-173,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{229,107},{106,150}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,672},{124,210}}</string>
        <key>offset</key>
        <string>{-178,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{215,57},{124,210}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,704},{102,224}}</string>
        <key>offset</key>
        <string>{-207,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{197,19},{102,224}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,782},{112,162}}</string>
        <key>offset</key>
        <string>{-211,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{188,54},{112,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{102,240}}</string>
        <key>offset</key>
        <string>{-208,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{196,8},{102,240}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,242},{108,230}}</string>
        <key>offset</key>
        <string>{-182,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{219,46},{108,230}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{228,146}}</string>
        <key>offset</key>
        <string>{-149,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,130},{228,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,0},{198,188}}</string>
        <key>offset</key>
        <string>{-138,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,73},{198,188}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,756},{130,238}}</string>
        <key>offset</key>
        <string>{-158,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{232,-1},{130,238}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,230},{144,226}}</string>
        <key>offset</key>
        <string>{-193,343}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{190,-1},{144,226}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,256},{114,244}}</string>
        <key>offset</key>
        <string>{-167,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{231,0},{114,244}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,442},{202,190}}</string>
        <key>offset</key>
        <string>{-140,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{214,73},{202,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,228},{222,168}}</string>
        <key>offset</key>
        <string>{-154,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,164},{222,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{250,134}}</string>
        <key>offset</key>
        <string>{-140,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,137},{250,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,224},{184,216}}</string>
        <key>offset</key>
        <string>{-135,320}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{228,27},{184,216}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,502},{130,236}}</string>
        <key>offset</key>
        <string>{-197,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{193,0},{130,236}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,474},{172,228}}</string>
        <key>offset</key>
        <string>{-146,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{223,18},{172,228}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{254,138}}</string>
        <key>offset</key>
        <string>{-144,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{184,134},{254,138}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{156,226}}</string>
        <key>offset</key>
        <string>{-192,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{185,149},{156,226}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{962,646},{196,168}}</string>
        <key>offset</key>
        <string>{-169,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{188,162},{196,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1342,182},{170,172}}</string>
        <key>offset</key>
        <string>{-153,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{217,75},{170,172}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,242},{110,234}}</string>
        <key>offset</key>
        <string>{-186,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{214,-1},{110,234}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,604},{160,176}}</string>
        <key>offset</key>
        <string>{-162,305}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{213,62},{160,176}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,610},{188,158}}</string>
        <key>offset</key>
        <string>{-171,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,168},{188,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,416},{108,192}}</string>
        <key>offset</key>
        <string>{-233,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{168,147},{108,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,800},{100,178}}</string>
        <key>offset</key>
        <string>{-214,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{191,167},{100,178}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,782},{102,154}}</string>
        <key>offset</key>
        <string>{-201,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{203,100},{102,154}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,478},{108,232}}</string>
        <key>offset</key>
        <string>{-192,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{209,0},{108,232}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,0},{102,164}}</string>
        <key>offset</key>
        <string>{-202,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{202,80},{102,164}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1366,0},{116,168}}</string>
        <key>offset</key>
        <string>{-209,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{188,170},{116,168}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,452},{218,180}}</string>
        <key>offset</key>
        <string>{-268,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{78,136},{218,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,844},{194,162}}</string>
        <key>offset</key>
        <string>{-276,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,141},{194,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,386},{144,174}}</string>
        <key>offset</key>
        <string>{-258,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{125,76},{144,174}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{136,222}}</string>
        <key>offset</key>
        <string>{-201,328}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{186,16},{136,222}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,416},{140,186}}</string>
        <key>offset</key>
        <string>{-249,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{136,61},{140,186}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,672},{210,148}}</string>
        <key>offset</key>
        <string>{-272,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{78,150},{210,148}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{240,126}}</string>
        <key>offset</key>
        <string>{-264,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{71,135},{240,126}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,756},{238,128}}</string>
        <key>offset</key>
        <string>{-286,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,121},{238,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,214},{192,200}}</string>
        <key>offset</key>
        <string>{-273,317}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,38},{192,200}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,884},{120,198}}</string>
        <key>offset</key>
        <string>{-214,343}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{181,13},{120,198}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,0},{178,212}}</string>
        <key>offset</key>
        <string>{-266,322}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{100,27},{178,212}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{246,136}}</string>
        <key>offset</key>
        <string>{-282,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,113},{246,136}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,356},{134,138}}</string>
        <key>offset</key>
        <string>{-225,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,111},{134,138}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1186,0},{178,180}}</string>
        <key>offset</key>
        <string>{-246,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,65},{178,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,704},{168,224}}</string>
        <key>offset</key>
        <string>{-251,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,5},{168,224}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,458},{128,224}}</string>
        <key>offset</key>
        <string>{-221,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{170,5},{128,224}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,740},{148,234}}</string>
        <key>offset</key>
        <string>{-252,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{129,-1},{148,234}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,200},{170,184}}</string>
        <key>offset</key>
        <string>{-243,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{127,62},{170,184}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20002_0_5.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20002_0_5.png</string>
    </dict>
  </dict>
</plist>