<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0248_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,166},{106,154}}</string>
        <key>offset</key>
        <string>{-130,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{193,57},{106,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,546},{170,50}}</string>
        <key>offset</key>
        <string>{-211,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,144},{170,50}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,0},{88,92}}</string>
        <key>offset</key>
        <string>{-182,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{150,113},{88,92}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,510},{60,146}}</string>
        <key>offset</key>
        <string>{-148,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{198,30},{60,146}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,102},{94,92}}</string>
        <key>offset</key>
        <string>{-193,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{136,97},{94,92}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,954},{58,176}}</string>
        <key>offset</key>
        <string>{-172,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{175,41},{58,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,322},{86,118}}</string>
        <key>offset</key>
        <string>{-144,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{189,93},{86,118}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,794},{188,90}}</string>
        <key>offset</key>
        <string>{-244,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,95},{188,90}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,790},{184,48}}</string>
        <key>offset</key>
        <string>{-210,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{74,120},{184,48}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,510},{58,150}}</string>
        <key>offset</key>
        <string>{-148,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{199,43},{58,150}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{100,86}}</string>
        <key>offset</key>
        <string>{-136,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{190,104},{100,86}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,718},{120,162}}</string>
        <key>offset</key>
        <string>{-126,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{190,60},{120,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,442},{46,114}}</string>
        <key>offset</key>
        <string>{-181,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{172,100},{46,114}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,662},{112,148}}</string>
        <key>offset</key>
        <string>{-235,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,43},{112,148}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,746},{172,96}}</string>
        <key>offset</key>
        <string>{-221,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{69,77},{172,96}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,540},{78,162}}</string>
        <key>offset</key>
        <string>{-161,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{176,52},{78,162}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,790},{184,58}}</string>
        <key>offset</key>
        <string>{-109,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{175,150},{184,58}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{196,96}}</string>
        <key>offset</key>
        <string>{-108,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{170,117},{196,96}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,888},{84,134}}</string>
        <key>offset</key>
        <string>{-209,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{125,81},{84,134}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,194},{72,186}}</string>
        <key>offset</key>
        <string>{-191,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{149,2},{72,186}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,920},{96,168}}</string>
        <key>offset</key>
        <string>{-208,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{120,18},{96,168}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{62,180}}</string>
        <key>offset</key>
        <string>{-182,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,46},{62,180}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,382},{182,122}}</string>
        <key>offset</key>
        <string>{-121,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{164,148},{182,122}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,188},{182,84}}</string>
        <key>offset</key>
        <string>{-136,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{149,150},{182,84}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,368},{112,170}}</string>
        <key>offset</key>
        <string>{-222,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{98,47},{112,170}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{164,142}}</string>
        <key>offset</key>
        <string>{-140,290}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{154,24},{164,142}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,182},{88,166}}</string>
        <key>offset</key>
        <string>{-173,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{159,16},{88,166}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,202},{58,194}}</string>
        <key>offset</key>
        <string>{-205,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{142,29},{58,194}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{78,154}}</string>
        <key>offset</key>
        <string>{-162,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{175,152},{78,154}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,156},{62,112}}</string>
        <key>offset</key>
        <string>{-178,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{167,152},{62,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{90,192}}</string>
        <key>offset</key>
        <string>{-208,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{123,15},{90,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,600},{188,84}}</string>
        <key>offset</key>
        <string>{-106,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{176,77},{188,84}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{182,112}}</string>
        <key>offset</key>
        <string>{-142,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{143,50},{182,112}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{66,198}}</string>
        <key>offset</key>
        <string>{-209,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{134,15},{66,198}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,774},{90,178}}</string>
        <key>offset</key>
        <string>{-214,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{117,137},{90,178}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,888},{126,90}}</string>
        <key>offset</key>
        <string>{-224,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,148},{126,90}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{74,192}}</string>
        <key>offset</key>
        <string>{-176,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,7},{74,192}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,812},{140,74}}</string>
        <key>offset</key>
        <string>{-113,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{193,121},{140,74}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,398},{188,78}}</string>
        <key>offset</key>
        <string>{-130,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{152,85},{188,78}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,588},{80,184}}</string>
        <key>offset</key>
        <string>{-191,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{145,10},{80,184}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,184},{182,120}}</string>
        <key>offset</key>
        <string>{-242,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,140},{182,120}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,72}}</string>
        <key>offset</key>
        <string>{-238,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,127},{200,72}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,368},{80,176}}</string>
        <key>offset</key>
        <string>{-144,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{192,34},{80,176}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,976},{46,88}}</string>
        <key>offset</key>
        <string>{-162,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{191,137},{46,88}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,270},{100,92}}</string>
        <key>offset</key>
        <string>{-141,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{185,108},{100,92}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,350},{76,158}}</string>
        <key>offset</key>
        <string>{-164,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{174,20},{76,158}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{186,74}}</string>
        <key>offset</key>
        <string>{-233,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,129},{186,74}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,566},{178,126}}</string>
        <key>offset</key>
        <string>{-216,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{71,72},{178,126}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0248_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0248_0_2.png</string>
    </dict>
  </dict>
</plist>