<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3044_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,244},{71,55}}</string>
        <key>offset</key>
        <string>{-5,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,55}}</string>
        <key>sourceSize</key>
        <string>{71,55}</string>
      </dict>
      <key>weapon_3044_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,335},{64,36}}</string>
        <key>offset</key>
        <string>{-26,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,36}}</string>
        <key>sourceSize</key>
        <string>{64,36}</string>
      </dict>
      <key>weapon_3044_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,38},{94,36}}</string>
        <key>offset</key>
        <string>{-39,-26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,36}}</string>
        <key>sourceSize</key>
        <string>{94,36}</string>
      </dict>
      <key>weapon_3044_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{80,48}}</string>
        <key>offset</key>
        <string>{-10,-42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,48}}</string>
        <key>sourceSize</key>
        <string>{80,48}</string>
      </dict>
      <key>weapon_3044_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{20,98}}</string>
        <key>offset</key>
        <string>{51,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,98}}</string>
        <key>sourceSize</key>
        <string>{20,98}</string>
      </dict>
      <key>weapon_3044_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{96,26}}</string>
        <key>offset</key>
        <string>{-47,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,26}}</string>
        <key>sourceSize</key>
        <string>{96,26}</string>
      </dict>
      <key>weapon_3044_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,76},{92,39}}</string>
        <key>offset</key>
        <string>{-73,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,39}}</string>
        <key>sourceSize</key>
        <string>{92,39}</string>
      </dict>
      <key>weapon_3044_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,45},{94,34}}</string>
        <key>offset</key>
        <string>{-69,-32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,34}}</string>
        <key>sourceSize</key>
        <string>{94,34}</string>
      </dict>
      <key>weapon_3044_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{65,71}}</string>
        <key>offset</key>
        <string>{34,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>weapon_3044_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,219},{75,63}}</string>
        <key>offset</key>
        <string>{-28,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,63}}</string>
        <key>sourceSize</key>
        <string>{75,63}</string>
      </dict>
      <key>weapon_3044_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,335},{34,67}}</string>
        <key>offset</key>
        <string>{-49,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,67}}</string>
        <key>sourceSize</key>
        <string>{34,67}</string>
      </dict>
      <key>weapon_3044_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{76,67}}</string>
        <key>offset</key>
        <string>{-89,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,67}}</string>
        <key>sourceSize</key>
        <string>{76,67}</string>
      </dict>
      <key>weapon_3044_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,98},{90,38}}</string>
        <key>offset</key>
        <string>{5,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,38}}</string>
        <key>sourceSize</key>
        <string>{90,38}</string>
      </dict>
      <key>weapon_3044_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,190},{27,82}}</string>
        <key>offset</key>
        <string>{16,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,82}}</string>
        <key>sourceSize</key>
        <string>{27,82}</string>
      </dict>
      <key>weapon_3044_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,153},{83,48}}</string>
        <key>offset</key>
        <string>{-32,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,48}}</string>
        <key>sourceSize</key>
        <string>{83,48}</string>
      </dict>
      <key>weapon_3044_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{23,97}}</string>
        <key>offset</key>
        <string>{-50,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,97}}</string>
        <key>sourceSize</key>
        <string>{23,97}</string>
      </dict>
      <key>weapon_3044_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{92,39}}</string>
        <key>offset</key>
        <string>{-17,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,39}}</string>
        <key>sourceSize</key>
        <string>{92,39}</string>
      </dict>
      <key>weapon_3044_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,284},{49,71}}</string>
        <key>offset</key>
        <string>{11,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,71}}</string>
        <key>sourceSize</key>
        <string>{49,71}</string>
      </dict>
      <key>weapon_3044_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,22},{97,21}}</string>
        <key>offset</key>
        <string>{-8,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,21}}</string>
        <key>sourceSize</key>
        <string>{97,21}</string>
      </dict>
      <key>weapon_3044_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{85,48}}</string>
        <key>offset</key>
        <string>{-21,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,48}}</string>
        <key>sourceSize</key>
        <string>{85,48}</string>
      </dict>
      <key>weapon_3044_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,284},{21,49}}</string>
        <key>offset</key>
        <string>{-25,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,49}}</string>
        <key>sourceSize</key>
        <string>{21,49}</string>
      </dict>
      <key>weapon_3044_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,117},{90,34}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,34}}</string>
        <key>sourceSize</key>
        <string>{90,34}</string>
      </dict>
      <key>weapon_3044_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,371},{64,59}}</string>
        <key>offset</key>
        <string>{32,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,59}}</string>
        <key>sourceSize</key>
        <string>{64,59}</string>
      </dict>
      <key>weapon_3044_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,25},{96,11}}</string>
        <key>offset</key>
        <string>{21,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,11}}</string>
        <key>sourceSize</key>
        <string>{96,11}</string>
      </dict>
      <key>weapon_3044_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,203},{79,39}}</string>
        <key>offset</key>
        <string>{-63,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,39}}</string>
        <key>sourceSize</key>
        <string>{79,39}</string>
      </dict>
      <key>weapon_3044_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,357},{67,19}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,19}}</string>
        <key>sourceSize</key>
        <string>{67,19}</string>
      </dict>
      <key>weapon_3044_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,96},{24,74}}</string>
        <key>offset</key>
        <string>{64,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,74}}</string>
        <key>sourceSize</key>
        <string>{24,74}</string>
      </dict>
      <key>weapon_3044_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,301},{68,54}}</string>
        <key>offset</key>
        <string>{62,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,54}}</string>
        <key>sourceSize</key>
        <string>{68,54}</string>
      </dict>
      <key>weapon_3044_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{94,22}}</string>
        <key>offset</key>
        <string>{-51,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,22}}</string>
        <key>sourceSize</key>
        <string>{94,22}</string>
      </dict>
      <key>weapon_3044_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,401},{38,28}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,28}}</string>
        <key>sourceSize</key>
        <string>{38,28}</string>
      </dict>
      <key>weapon_3044_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{66,55}}</string>
        <key>offset</key>
        <string>{16,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,55}}</string>
        <key>sourceSize</key>
        <string>{66,55}</string>
      </dict>
      <key>weapon_3044_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,378},{25,56}}</string>
        <key>offset</key>
        <string>{71,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,56}}</string>
        <key>sourceSize</key>
        <string>{25,56}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3044_0_4.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>weapon_3044_0_4.png</string>
    </dict>
  </dict>
</plist>