<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0277_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{172,96}}</string>
        <key>offset</key>
        <string>{6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,96}</string>
        <key>sourceSize</key>
        <string>{172,96}</string>
      </dict>
      <key>weapon_0277_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{146,114}}</string>
        <key>offset</key>
        <string>{8,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,114}</string>
        <key>sourceSize</key>
        <string>{146,114}</string>
      </dict>
      <key>weapon_0277_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,399},{127,122}}</string>
        <key>offset</key>
        <string>{12,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{127,122}</string>
        <key>sourceSize</key>
        <string>{127,122}</string>
      </dict>
      <key>weapon_0277_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,281},{141,49}}</string>
        <key>offset</key>
        <string>{-7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{141,49}</string>
        <key>sourceSize</key>
        <string>{141,49}</string>
      </dict>
      <key>weapon_0277_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,471},{120,67}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{120,67}</string>
        <key>sourceSize</key>
        <string>{120,67}</string>
      </dict>
      <key>weapon_0277_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{178,68}}</string>
        <key>offset</key>
        <string>{-3,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{178,68}</string>
        <key>sourceSize</key>
        <string>{178,68}</string>
      </dict>
      <key>weapon_0277_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{54,82}}</string>
        <key>offset</key>
        <string>{-9,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{54,82}</string>
        <key>sourceSize</key>
        <string>{54,82}</string>
      </dict>
      <key>weapon_0277_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,523},{45,39}}</string>
        <key>offset</key>
        <string>{-2,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{45,39}</string>
        <key>sourceSize</key>
        <string>{45,39}</string>
      </dict>
      <key>weapon_0277_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,281},{143,77}}</string>
        <key>offset</key>
        <string>{-11,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,77}</string>
        <key>sourceSize</key>
        <string>{143,77}</string>
      </dict>
      <key>weapon_0277_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,523},{105,65}}</string>
        <key>offset</key>
        <string>{-80,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{105,65}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>weapon_0277_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,564},{99,55}}</string>
        <key>offset</key>
        <string>{-65,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{99,55}</string>
        <key>sourceSize</key>
        <string>{99,55}</string>
      </dict>
      <key>weapon_0277_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,471},{47,100}}</string>
        <key>offset</key>
        <string>{-9,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{47,100}</string>
        <key>sourceSize</key>
        <string>{47,100}</string>
      </dict>
      <key>weapon_0277_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,70},{167,70}}</string>
        <key>offset</key>
        <string>{-122,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{167,70}</string>
        <key>sourceSize</key>
        <string>{167,70}</string>
      </dict>
      <key>weapon_0277_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{147,99}}</string>
        <key>offset</key>
        <string>{-107,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{147,99}</string>
        <key>sourceSize</key>
        <string>{147,99}</string>
      </dict>
      <key>weapon_0277_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,495},{121,83}}</string>
        <key>offset</key>
        <string>{-85,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{121,83}</string>
        <key>sourceSize</key>
        <string>{121,83}</string>
      </dict>
      <key>weapon_0277_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,272},{148,125}}</string>
        <key>offset</key>
        <string>{-89,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{148,125}</string>
        <key>sourceSize</key>
        <string>{148,125}</string>
      </dict>
      <key>weapon_0277_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,142},{128,160}}</string>
        <key>offset</key>
        <string>{-78,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{128,160}</string>
        <key>sourceSize</key>
        <string>{128,160}</string>
      </dict>
      <key>weapon_0277_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,57},{174,56}}</string>
        <key>offset</key>
        <string>{-123,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{174,56}</string>
        <key>sourceSize</key>
        <string>{174,56}</string>
      </dict>
      <key>weapon_0277_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{60,158}}</string>
        <key>offset</key>
        <string>{2,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{60,158}</string>
        <key>sourceSize</key>
        <string>{60,158}</string>
      </dict>
      <key>weapon_0277_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,186}}</string>
        <key>offset</key>
        <string>{-2,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{55,186}</string>
        <key>sourceSize</key>
        <string>{55,186}</string>
      </dict>
      <key>weapon_0277_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,360},{138,109}}</string>
        <key>offset</key>
        <string>{-81,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{138,109}</string>
        <key>sourceSize</key>
        <string>{138,109}</string>
      </dict>
      <key>weapon_0277_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,174},{105,155}}</string>
        <key>offset</key>
        <string>{24,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{105,155}</string>
        <key>sourceSize</key>
        <string>{105,155}</string>
      </dict>
      <key>weapon_0277_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{99,162}}</string>
        <key>offset</key>
        <string>{16,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{99,162}</string>
        <key>sourceSize</key>
        <string>{99,162}</string>
      </dict>
      <key>weapon_0277_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,424},{50,138}}</string>
        <key>offset</key>
        <string>{9,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{50,138}</string>
        <key>sourceSize</key>
        <string>{50,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0277_1_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0277_1_7.png</string>
    </dict>
  </dict>
</plist>