<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_5004_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{101,66}}</string>
        <key>offset</key>
        <string>{26,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,66}}</string>
        <key>sourceSize</key>
        <string>{101,66}</string>
      </dict>
      <key>weapon_5004_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,270},{50,39}}</string>
        <key>offset</key>
        <string>{19,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,39}}</string>
        <key>sourceSize</key>
        <string>{50,39}</string>
      </dict>
      <key>weapon_5004_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,270},{92,45}}</string>
        <key>offset</key>
        <string>{-52,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,45}}</string>
        <key>sourceSize</key>
        <string>{92,45}</string>
      </dict>
      <key>weapon_5004_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{120,90}}</string>
        <key>offset</key>
        <string>{-91,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,90}}</string>
        <key>sourceSize</key>
        <string>{120,90}</string>
      </dict>
      <key>weapon_5004_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{103,135}}</string>
        <key>offset</key>
        <string>{-80,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,135}}</string>
        <key>sourceSize</key>
        <string>{103,135}</string>
      </dict>
      <key>weapon_5004_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{52,162}}</string>
        <key>offset</key>
        <string>{-22,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,162}}</string>
        <key>sourceSize</key>
        <string>{52,162}</string>
      </dict>
      <key>weapon_5004_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{92,152}}</string>
        <key>offset</key>
        <string>{7,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,152}}</string>
        <key>sourceSize</key>
        <string>{92,152}</string>
      </dict>
      <key>weapon_5004_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,148},{120,112}}</string>
        <key>offset</key>
        <string>{19,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,112}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_5004_0_11.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>weapon_5004_0_11.png</string>
    </dict>
  </dict>
</plist>