<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0262_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,526},{38,158}}</string>
        <key>offset</key>
        <string>{22,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,11},{38,158}}</string>
        <key>sourceSize</key>
        <string>{44,176}</string>
      </dict>
      <key>weapon_0262_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,202},{48,184}}</string>
        <key>offset</key>
        <string>{9,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,10},{48,184}}</string>
        <key>sourceSize</key>
        <string>{52,201}</string>
      </dict>
      <key>weapon_0262_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,956},{52,164}}</string>
        <key>offset</key>
        <string>{3,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{52,164}}</string>
        <key>sourceSize</key>
        <string>{56,172}</string>
      </dict>
      <key>weapon_0262_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,632},{60,132}}</string>
        <key>offset</key>
        <string>{-7,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{60,132}}</string>
        <key>sourceSize</key>
        <string>{63,140}</string>
      </dict>
      <key>weapon_0262_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{50,180}}</string>
        <key>offset</key>
        <string>{-1,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{50,180}}</string>
        <key>sourceSize</key>
        <string>{54,196}</string>
      </dict>
      <key>weapon_0262_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,388},{38,176}}</string>
        <key>offset</key>
        <string>{15,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,10},{38,176}}</string>
        <key>sourceSize</key>
        <string>{45,195}</string>
      </dict>
      <key>weapon_0262_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,884},{144,132}}</string>
        <key>offset</key>
        <string>{-20,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,13},{144,132}}</string>
        <key>sourceSize</key>
        <string>{155,152}</string>
      </dict>
      <key>weapon_0262_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,388},{108,176}}</string>
        <key>offset</key>
        <string>{-1,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,14},{108,176}}</string>
        <key>sourceSize</key>
        <string>{117,196}</string>
      </dict>
      <key>weapon_0262_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,184},{68,176}}</string>
        <key>offset</key>
        <string>{4,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,10},{68,176}}</string>
        <key>sourceSize</key>
        <string>{75,194}</string>
      </dict>
      <key>weapon_0262_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,336},{88,158}}</string>
        <key>offset</key>
        <string>{-27,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,12},{88,158}}</string>
        <key>sourceSize</key>
        <string>{99,176}</string>
      </dict>
      <key>weapon_0262_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{64,188}}</string>
        <key>offset</key>
        <string>{19,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,11},{64,188}}</string>
        <key>sourceSize</key>
        <string>{70,206}</string>
      </dict>
      <key>weapon_0262_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,360},{124,164}}</string>
        <key>offset</key>
        <string>{-11,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,11},{124,164}}</string>
        <key>sourceSize</key>
        <string>{134,181}</string>
      </dict>
      <key>weapon_0262_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,82}}</string>
        <key>offset</key>
        <string>{-51,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,11},{200,82}}</string>
        <key>sourceSize</key>
        <string>{213,96}</string>
      </dict>
      <key>weapon_0262_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{168,126}}</string>
        <key>offset</key>
        <string>{-32,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,12},{168,126}}</string>
        <key>sourceSize</key>
        <string>{183,144}</string>
      </dict>
      <key>weapon_0262_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,774},{80,168}}</string>
        <key>offset</key>
        <string>{8,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,13},{80,168}}</string>
        <key>sourceSize</key>
        <string>{92,187}</string>
      </dict>
      <key>weapon_0262_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,184},{98,174}}</string>
        <key>offset</key>
        <string>{-22,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,12},{98,174}}</string>
        <key>sourceSize</key>
        <string>{107,192}</string>
      </dict>
      <key>weapon_0262_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{118,160}}</string>
        <key>offset</key>
        <string>{-5,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,8},{118,160}}</string>
        <key>sourceSize</key>
        <string>{131,174}</string>
      </dict>
      <key>weapon_0262_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{182,106}}</string>
        <key>offset</key>
        <string>{-40,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,11},{182,106}}</string>
        <key>sourceSize</key>
        <string>{196,123}</string>
      </dict>
      <key>weapon_0262_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,850},{138,104}}</string>
        <key>offset</key>
        <string>{-42,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{138,104}}</string>
        <key>sourceSize</key>
        <string>{151,111}</string>
      </dict>
      <key>weapon_0262_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,694},{132,92}}</string>
        <key>offset</key>
        <string>{-33,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,10},{132,92}}</string>
        <key>sourceSize</key>
        <string>{144,108}</string>
      </dict>
      <key>weapon_0262_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,736},{72,160}}</string>
        <key>offset</key>
        <string>{2,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,5},{72,160}}</string>
        <key>sourceSize</key>
        <string>{76,175}</string>
      </dict>
      <key>weapon_0262_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{62,180}}</string>
        <key>offset</key>
        <string>{4,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,11},{62,180}}</string>
        <key>sourceSize</key>
        <string>{70,198}</string>
      </dict>
      <key>weapon_0262_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,0},{106,130}}</string>
        <key>offset</key>
        <string>{-13,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,10},{106,130}}</string>
        <key>sourceSize</key>
        <string>{114,145}</string>
      </dict>
      <key>weapon_0262_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,318},{132,80}}</string>
        <key>offset</key>
        <string>{-32,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,10},{132,80}}</string>
        <key>sourceSize</key>
        <string>{142,92}</string>
      </dict>
      <key>weapon_0262_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,452},{34,126}}</string>
        <key>offset</key>
        <string>{-16,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,6},{34,126}}</string>
        <key>sourceSize</key>
        <string>{38,135}</string>
      </dict>
      <key>weapon_0262_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,342},{44,76}}</string>
        <key>offset</key>
        <string>{-16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,7},{44,76}}</string>
        <key>sourceSize</key>
        <string>{48,86}</string>
      </dict>
      <key>weapon_0262_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,566},{52,140}}</string>
        <key>offset</key>
        <string>{-14,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,7},{52,140}}</string>
        <key>sourceSize</key>
        <string>{58,151}</string>
      </dict>
      <key>weapon_0262_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,170},{60,164}}</string>
        <key>offset</key>
        <string>{-11,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,4},{60,164}}</string>
        <key>sourceSize</key>
        <string>{64,181}</string>
      </dict>
      <key>weapon_0262_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,898},{46,106}}</string>
        <key>offset</key>
        <string>{-8,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,9},{46,106}}</string>
        <key>sourceSize</key>
        <string>{50,121}</string>
      </dict>
      <key>weapon_0262_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,362},{24,86}}</string>
        <key>offset</key>
        <string>{-5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{24,86}}</string>
        <key>sourceSize</key>
        <string>{29,93}</string>
      </dict>
      <key>weapon_0262_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,566},{144,88}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,4},{144,88}}</string>
        <key>sourceSize</key>
        <string>{156,95}</string>
      </dict>
      <key>weapon_0262_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,472},{108,64}}</string>
        <key>offset</key>
        <string>{-72,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,6},{108,64}}</string>
        <key>sourceSize</key>
        <string>{116,74}</string>
      </dict>
      <key>weapon_0262_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,488},{68,126}}</string>
        <key>offset</key>
        <string>{-33,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,2},{68,126}}</string>
        <key>sourceSize</key>
        <string>{76,134}</string>
      </dict>
      <key>weapon_0262_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,496},{90,134}}</string>
        <key>offset</key>
        <string>{-27,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,1},{90,134}}</string>
        <key>sourceSize</key>
        <string>{99,143}</string>
      </dict>
      <key>weapon_0262_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,238},{66,102}}</string>
        <key>offset</key>
        <string>{-45,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,7},{66,102}}</string>
        <key>sourceSize</key>
        <string>{72,115}</string>
      </dict>
      <key>weapon_0262_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,616},{124,70}}</string>
        <key>offset</key>
        <string>{-80,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,8},{124,70}}</string>
        <key>sourceSize</key>
        <string>{136,80}</string>
      </dict>
      <key>weapon_0262_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{198,62}}</string>
        <key>offset</key>
        <string>{-115,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,8},{198,62}}</string>
        <key>sourceSize</key>
        <string>{212,73}</string>
      </dict>
      <key>weapon_0262_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,566},{168,88}}</string>
        <key>offset</key>
        <string>{-104,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,5},{168,88}}</string>
        <key>sourceSize</key>
        <string>{181,95}</string>
      </dict>
      <key>weapon_0262_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,488},{80,118}}</string>
        <key>offset</key>
        <string>{-53,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,9},{80,118}}</string>
        <key>sourceSize</key>
        <string>{91,131}</string>
      </dict>
      <key>weapon_0262_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,132},{100,104}}</string>
        <key>offset</key>
        <string>{-39,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,6},{100,104}}</string>
        <key>sourceSize</key>
        <string>{107,114}</string>
      </dict>
      <key>weapon_0262_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,290},{118,112}}</string>
        <key>offset</key>
        <string>{-79,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,6},{118,112}}</string>
        <key>sourceSize</key>
        <string>{128,122}</string>
      </dict>
      <key>weapon_0262_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,592},{180,90}}</string>
        <key>offset</key>
        <string>{-110,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,8},{180,90}}</string>
        <key>sourceSize</key>
        <string>{196,103}</string>
      </dict>
      <key>weapon_0262_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,156},{132,126}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,9},{132,126}}</string>
        <key>sourceSize</key>
        <string>{145,142}</string>
      </dict>
      <key>weapon_0262_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,736},{128,146}}</string>
        <key>offset</key>
        <string>{-64,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,9},{128,146}}</string>
        <key>sourceSize</key>
        <string>{141,161}</string>
      </dict>
      <key>weapon_0262_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,708},{70,140}}</string>
        <key>offset</key>
        <string>{-31,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,5},{70,140}}</string>
        <key>sourceSize</key>
        <string>{74,151}</string>
      </dict>
      <key>weapon_0262_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,410},{60,110}}</string>
        <key>offset</key>
        <string>{-27,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,3},{60,110}}</string>
        <key>sourceSize</key>
        <string>{69,117}</string>
      </dict>
      <key>weapon_0262_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,162},{102,154}}</string>
        <key>offset</key>
        <string>{-53,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,4},{102,154}}</string>
        <key>sourceSize</key>
        <string>{111,163}</string>
      </dict>
      <key>weapon_0262_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{130,154}}</string>
        <key>offset</key>
        <string>{-61,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,9},{130,154}}</string>
        <key>sourceSize</key>
        <string>{139,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0262_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0262_0_5.png</string>
    </dict>
  </dict>
</plist>