<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0247_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{178,112}}</string>
        <key>offset</key>
        <string></string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,112}}</string>
        <key>sourceSize</key>
        <string>{178,112}</string>
      </dict>
      <key>weapon_0247_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,180},{163,69}}</string>
        <key>offset</key>
        <string></string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,69}}</string>
        <key>sourceSize</key>
        <string>{163,69}</string>
      </dict>
      <key>weapon_0247_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,110},{61,80}}</string>
        <key>offset</key>
        <string>{1,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,80}}</string>
        <key>sourceSize</key>
        <string>{61,80}</string>
      </dict>
      <key>weapon_0247_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,110},{131,71}}</string>
        <key>offset</key>
        <string></string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,71}}</string>
        <key>sourceSize</key>
        <string>{131,71}</string>
      </dict>
      <key>weapon_0247_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,99}}</string>
        <key>offset</key>
        <string></string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,99}}</string>
        <key>sourceSize</key>
        <string>{180,99}</string>
      </dict>
      <key>weapon_0247_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{147,155}}</string>
        <key>offset</key>
        <string>{-100,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,155}}</string>
        <key>sourceSize</key>
        <string>{147,155}</string>
      </dict>
      <key>weapon_0247_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{58,168}}</string>
        <key>offset</key>
        <string></string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,168}}</string>
        <key>sourceSize</key>
        <string>{58,168}</string>
      </dict>
      <key>weapon_0247_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,0},{108,157}}</string>
        <key>offset</key>
        <string>{20,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,157}}</string>
        <key>sourceSize</key>
        <string>{108,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0247_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_0247_0_11.png</string>
    </dict>
  </dict>
</plist>