<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3063_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{53,45}}</string>
        <key>offset</key>
        <string>{28,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,45}}</string>
        <key>sourceSize</key>
        <string>{53,45}</string>
      </dict>
      <key>weapon_3063_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,55},{42,51}}</string>
        <key>offset</key>
        <string>{25,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,51}}</string>
        <key>sourceSize</key>
        <string>{42,51}</string>
      </dict>
      <key>weapon_3063_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{19,53}}</string>
        <key>offset</key>
        <string>{15,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,53}}</string>
        <key>sourceSize</key>
        <string>{19,53}</string>
      </dict>
      <key>weapon_3063_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{26,49}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,49}}</string>
        <key>sourceSize</key>
        <string>{26,49}</string>
      </dict>
      <key>weapon_3063_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{51,43}}</string>
        <key>offset</key>
        <string>{-31,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,43}}</string>
        <key>sourceSize</key>
        <string>{51,43}</string>
      </dict>
      <key>weapon_3063_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,53},{50,36}}</string>
        <key>offset</key>
        <string>{-19,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,36}}</string>
        <key>sourceSize</key>
        <string>{50,36}</string>
      </dict>
      <key>weapon_3063_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{12,41}}</string>
        <key>offset</key>
        <string>{20,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,41}}</string>
        <key>sourceSize</key>
        <string>{12,41}</string>
      </dict>
      <key>weapon_3063_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,91},{25,38}}</string>
        <key>offset</key>
        <string>{33,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3063_1_11.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3063_1_11.png</string>
    </dict>
  </dict>
</plist>