<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3071_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,99},{33,95}}</string>
        <key>offset</key>
        <string>{32,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,95}}</string>
        <key>sourceSize</key>
        <string>{33,95}</string>
      </dict>
      <key>weapon_3071_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{40,102}}</string>
        <key>offset</key>
        <string>{32,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,102}}</string>
        <key>sourceSize</key>
        <string>{40,102}</string>
      </dict>
      <key>weapon_3071_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{25,94}}</string>
        <key>offset</key>
        <string>{35,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,94}}</string>
        <key>sourceSize</key>
        <string>{25,94}</string>
      </dict>
      <key>weapon_3071_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{82,83}}</string>
        <key>offset</key>
        <string>{9,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,83}}</string>
        <key>sourceSize</key>
        <string>{82,83}</string>
      </dict>
      <key>weapon_3071_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,99},{95,77}}</string>
        <key>offset</key>
        <string>{15,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>weapon_3071_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{92,71}}</string>
        <key>offset</key>
        <string>{22,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,71}}</string>
        <key>sourceSize</key>
        <string>{92,71}</string>
      </dict>
      <key>weapon_3071_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{107,43}}</string>
        <key>offset</key>
        <string>{-5,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,43}}</string>
        <key>sourceSize</key>
        <string>{107,43}</string>
      </dict>
      <key>weapon_3071_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,104},{97,40}}</string>
        <key>offset</key>
        <string>{5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,40}}</string>
        <key>sourceSize</key>
        <string>{97,40}</string>
      </dict>
      <key>weapon_3071_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,36}}</string>
        <key>offset</key>
        <string>{10,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,36}}</string>
        <key>sourceSize</key>
        <string>{109,36}</string>
      </dict>
      <key>weapon_3071_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{49,58}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,58}}</string>
        <key>sourceSize</key>
        <string>{49,58}</string>
      </dict>
      <key>weapon_3071_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,51},{39,48}}</string>
        <key>offset</key>
        <string>{4,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>weapon_3071_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,85},{58,62}}</string>
        <key>offset</key>
        <string>{5,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,62}}</string>
        <key>sourceSize</key>
        <string>{58,62}</string>
      </dict>
      <key>weapon_3071_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,196},{43,65}}</string>
        <key>offset</key>
        <string>{-24,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,65}}</string>
        <key>sourceSize</key>
        <string>{43,65}</string>
      </dict>
      <key>weapon_3071_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,51},{41,36}}</string>
        <key>offset</key>
        <string>{-24,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,36}}</string>
        <key>sourceSize</key>
        <string>{41,36}</string>
      </dict>
      <key>weapon_3071_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,196},{22,37}}</string>
        <key>offset</key>
        <string>{-10,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,37}}</string>
        <key>sourceSize</key>
        <string>{22,37}</string>
      </dict>
      <key>weapon_3071_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{62,43}}</string>
        <key>offset</key>
        <string>{-27,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,43}}</string>
        <key>sourceSize</key>
        <string>{62,43}</string>
      </dict>
      <key>weapon_3071_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,163},{58,64}}</string>
        <key>offset</key>
        <string>{-39,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,64}}</string>
        <key>sourceSize</key>
        <string>{58,64}</string>
      </dict>
      <key>weapon_3071_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,85},{76,30}}</string>
        <key>offset</key>
        <string>{-57,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,30}}</string>
        <key>sourceSize</key>
        <string>{76,30}</string>
      </dict>
      <key>weapon_3071_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,109},{106,42}}</string>
        <key>offset</key>
        <string>{-48,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,42}}</string>
        <key>sourceSize</key>
        <string>{106,42}</string>
      </dict>
      <key>weapon_3071_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{97,59}}</string>
        <key>offset</key>
        <string>{-47,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,59}}</string>
        <key>sourceSize</key>
        <string>{97,59}</string>
      </dict>
      <key>weapon_3071_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{107,46}}</string>
        <key>offset</key>
        <string>{-65,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,46}}</string>
        <key>sourceSize</key>
        <string>{107,46}</string>
      </dict>
      <key>weapon_3071_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,94},{73,89}}</string>
        <key>offset</key>
        <string>{-17,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,89}}</string>
        <key>sourceSize</key>
        <string>{73,89}</string>
      </dict>
      <key>weapon_3071_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,217},{37,105}}</string>
        <key>offset</key>
        <string>{8,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,105}}</string>
        <key>sourceSize</key>
        <string>{37,105}</string>
      </dict>
      <key>weapon_3071_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,185},{64,86}}</string>
        <key>offset</key>
        <string>{-19,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,86}}</string>
        <key>sourceSize</key>
        <string>{64,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3071_1_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3071_1_7.png</string>
    </dict>
  </dict>
</plist>