<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21003_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,524},{160,140}}</string>
        <key>offset</key>
        <string>{-55,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,4},{160,140}}</string>
        <key>sourceSize</key>
        <string>{168,148}</string>
      </dict>
      <key>weapon_21003_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,330},{156,156}}</string>
        <key>offset</key>
        <string>{-72,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,2},{156,156}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>weapon_21003_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,166},{162,114}}</string>
        <key>offset</key>
        <string>{-57,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,2},{162,114}}</string>
        <key>sourceSize</key>
        <string>{173,118}</string>
      </dict>
      <key>weapon_21003_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,586},{166,130}}</string>
        <key>offset</key>
        <string>{-42,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,2},{166,130}}</string>
        <key>sourceSize</key>
        <string>{173,138}</string>
      </dict>
      <key>weapon_21003_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,782},{112,170}}</string>
        <key>offset</key>
        <string>{2,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,4},{112,170}}</string>
        <key>sourceSize</key>
        <string>{118,178}</string>
      </dict>
      <key>weapon_21003_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{148,192}}</string>
        <key>offset</key>
        <string>{-48,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,5},{148,192}}</string>
        <key>sourceSize</key>
        <string>{153,203}</string>
      </dict>
      <key>weapon_21003_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,392},{192,88}}</string>
        <key>offset</key>
        <string>{-123,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{192,88}}</string>
        <key>sourceSize</key>
        <string>{198,98}</string>
      </dict>
      <key>weapon_21003_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{194,106}}</string>
        <key>offset</key>
        <string>{-128,-17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,1},{194,106}}</string>
        <key>sourceSize</key>
        <string>{203,113}</string>
      </dict>
      <key>weapon_21003_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{158,162}}</string>
        <key>offset</key>
        <string>{-15,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,2},{158,162}}</string>
        <key>sourceSize</key>
        <string>{168,168}</string>
      </dict>
      <key>weapon_21003_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{116,194}}</string>
        <key>offset</key>
        <string>{-19,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,4},{116,194}}</string>
        <key>sourceSize</key>
        <string>{123,203}</string>
      </dict>
      <key>weapon_21003_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{164,134}}</string>
        <key>offset</key>
        <string>{-134,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{164,134}}</string>
        <key>sourceSize</key>
        <string>{168,138}</string>
      </dict>
      <key>weapon_21003_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,754},{164,128}}</string>
        <key>offset</key>
        <string>{-158,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,1},{164,128}}</string>
        <key>sourceSize</key>
        <string>{173,133}</string>
      </dict>
      <key>weapon_21003_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,196},{192,120}}</string>
        <key>offset</key>
        <string>{-43,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,6},{192,120}}</string>
        <key>sourceSize</key>
        <string>{198,128}</string>
      </dict>
      <key>weapon_21003_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,782},{130,178}}</string>
        <key>offset</key>
        <string>{-19,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,5},{130,178}}</string>
        <key>sourceSize</key>
        <string>{133,188}</string>
      </dict>
      <key>weapon_21003_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,888},{130,160}}</string>
        <key>offset</key>
        <string>{-94,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,5},{130,160}}</string>
        <key>sourceSize</key>
        <string>{133,168}</string>
      </dict>
      <key>weapon_21003_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,686},{130,148}}</string>
        <key>offset</key>
        <string>{-123,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,4},{130,148}}</string>
        <key>sourceSize</key>
        <string>{138,158}</string>
      </dict>
      <key>weapon_21003_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,724},{162,138}}</string>
        <key>offset</key>
        <string>{-64,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,3},{162,138}}</string>
        <key>sourceSize</key>
        <string>{168,143}</string>
      </dict>
      <key>weapon_21003_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,164},{154,138}}</string>
        <key>offset</key>
        <string>{-43,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{154,138}}</string>
        <key>sourceSize</key>
        <string>{163,148}</string>
      </dict>
      <key>weapon_21003_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,558},{164,152}}</string>
        <key>offset</key>
        <string>{-67,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,5},{164,152}}</string>
        <key>sourceSize</key>
        <string>{173,163}</string>
      </dict>
      <key>weapon_21003_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,390},{166,130}}</string>
        <key>offset</key>
        <string>{-82,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,1},{166,130}}</string>
        <key>sourceSize</key>
        <string>{173,133}</string>
      </dict>
      <key>weapon_21003_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,320},{112,134}}</string>
        <key>offset</key>
        <string>{-74,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,4},{112,134}}</string>
        <key>sourceSize</key>
        <string>{118,143}</string>
      </dict>
      <key>weapon_21003_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,836},{148,100}}</string>
        <key>offset</key>
        <string>{-56,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,6},{148,100}}</string>
        <key>sourceSize</key>
        <string>{153,108}</string>
      </dict>
      <key>weapon_21003_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{194,122}}</string>
        <key>offset</key>
        <string>{-30,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,3},{194,122}}</string>
        <key>sourceSize</key>
        <string>{203,128}</string>
      </dict>
      <key>weapon_21003_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{194,106}}</string>
        <key>offset</key>
        <string>{-26,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{194,106}}</string>
        <key>sourceSize</key>
        <string>{198,113}</string>
      </dict>
      <key>weapon_21003_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,0},{152,102}}</string>
        <key>offset</key>
        <string>{-99,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{152,102}}</string>
        <key>sourceSize</key>
        <string>{163,108}</string>
      </dict>
      <key>weapon_21003_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{114,108}}</string>
        <key>offset</key>
        <string>{-54,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,1},{114,108}}</string>
        <key>sourceSize</key>
        <string>{123,113}</string>
      </dict>
      <key>weapon_21003_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,358},{164,124}}</string>
        <key>offset</key>
        <string>{10,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,4},{164,124}}</string>
        <key>sourceSize</key>
        <string>{173,133}</string>
      </dict>
      <key>weapon_21003_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,190},{166,130}}</string>
        <key>offset</key>
        <string>{29,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{166,130}}</string>
        <key>sourceSize</key>
        <string>{173,138}</string>
      </dict>
      <key>weapon_21003_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{188,86}}</string>
        <key>offset</key>
        <string>{-106,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{188,86}}</string>
        <key>sourceSize</key>
        <string>{193,93}</string>
      </dict>
      <key>weapon_21003_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,154},{126,134}}</string>
        <key>offset</key>
        <string>{-70,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{3,3},{126,134}}</string>
        <key>sourceSize</key>
        <string>{133,143}</string>
      </dict>
      <key>weapon_21003_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,488},{130,138}}</string>
        <key>offset</key>
        <string>{2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,4},{130,138}}</string>
        <key>sourceSize</key>
        <string>{138,148}</string>
      </dict>
      <key>weapon_21003_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,836},{128,148}}</string>
        <key>offset</key>
        <string>{29,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,1},{128,148}}</string>
        <key>sourceSize</key>
        <string>{138,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21003_1_4.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_21003_1_4.png</string>
    </dict>
  </dict>
</plist>