<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3073_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,352},{31,61}}</string>
        <key>offset</key>
        <string>{31,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,61}}</string>
        <key>sourceSize</key>
        <string>{31,61}</string>
      </dict>
      <key>weapon_3073_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{27,107}}</string>
        <key>offset</key>
        <string>{26,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,107}}</string>
        <key>sourceSize</key>
        <string>{27,107}</string>
      </dict>
      <key>weapon_3073_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,486},{24,92}}</string>
        <key>offset</key>
        <string>{18,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,92}}</string>
        <key>sourceSize</key>
        <string>{24,92}</string>
      </dict>
      <key>weapon_3073_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,473},{26,73}}</string>
        <key>offset</key>
        <string>{13,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,73}}</string>
        <key>sourceSize</key>
        <string>{26,73}</string>
      </dict>
      <key>weapon_3073_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,230},{18,106}}</string>
        <key>offset</key>
        <string>{22,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,106}}</string>
        <key>sourceSize</key>
        <string>{18,106}</string>
      </dict>
      <key>weapon_3073_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,338},{22,106}}</string>
        <key>offset</key>
        <string>{28,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,106}}</string>
        <key>sourceSize</key>
        <string>{22,106}</string>
      </dict>
      <key>weapon_3073_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,0},{84,49}}</string>
        <key>offset</key>
        <string>{1,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,49}}</string>
        <key>sourceSize</key>
        <string>{84,49}</string>
      </dict>
      <key>weapon_3073_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,299},{78,90}}</string>
        <key>offset</key>
        <string>{9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>weapon_3073_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{36,114}}</string>
        <key>offset</key>
        <string>{32,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,114}}</string>
        <key>sourceSize</key>
        <string>{36,114}</string>
      </dict>
      <key>weapon_3073_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,98},{30,92}}</string>
        <key>offset</key>
        <string>{21,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,92}}</string>
        <key>sourceSize</key>
        <string>{30,92}</string>
      </dict>
      <key>weapon_3073_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{55,111}}</string>
        <key>offset</key>
        <string>{23,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,111}}</string>
        <key>sourceSize</key>
        <string>{55,111}</string>
      </dict>
      <key>weapon_3073_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,94},{87,77}}</string>
        <key>offset</key>
        <string>{2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,77}}</string>
        <key>sourceSize</key>
        <string>{87,77}</string>
      </dict>
      <key>weapon_3073_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{119,36}}</string>
        <key>offset</key>
        <string>{-28,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,36}}</string>
        <key>sourceSize</key>
        <string>{119,36}</string>
      </dict>
      <key>weapon_3073_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,238},{112,52}}</string>
        <key>offset</key>
        <string>{-13,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,52}}</string>
        <key>sourceSize</key>
        <string>{112,52}</string>
      </dict>
      <key>weapon_3073_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,113},{67,103}}</string>
        <key>offset</key>
        <string>{16,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,103}}</string>
        <key>sourceSize</key>
        <string>{67,103}</string>
      </dict>
      <key>weapon_3073_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{34,118}}</string>
        <key>offset</key>
        <string>{24,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,118}}</string>
        <key>sourceSize</key>
        <string>{34,118}</string>
      </dict>
      <key>weapon_3073_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,336},{98,78}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,78}}</string>
        <key>sourceSize</key>
        <string>{98,78}</string>
      </dict>
      <key>weapon_3073_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{120,34}}</string>
        <key>offset</key>
        <string>{-20,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,34}}</string>
        <key>sourceSize</key>
        <string>{120,34}</string>
      </dict>
      <key>weapon_3073_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,189},{68,78}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>weapon_3073_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,94},{88,35}}</string>
        <key>offset</key>
        <string>{-17,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,35}}</string>
        <key>sourceSize</key>
        <string>{88,35}</string>
      </dict>
      <key>weapon_3073_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,218},{68,97}}</string>
        <key>offset</key>
        <string>{3,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,97}}</string>
        <key>sourceSize</key>
        <string>{68,97}</string>
      </dict>
      <key>weapon_3073_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,230},{31,104}}</string>
        <key>offset</key>
        <string>{18,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,104}}</string>
        <key>sourceSize</key>
        <string>{31,104}</string>
      </dict>
      <key>weapon_3073_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,259},{76,58}}</string>
        <key>offset</key>
        <string>{-2,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>weapon_3073_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,391},{80,58}}</string>
        <key>offset</key>
        <string>{-14,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,58}}</string>
        <key>sourceSize</key>
        <string>{80,58}</string>
      </dict>
      <key>weapon_3073_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,319},{31,68}}</string>
        <key>offset</key>
        <string>{-12,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,68}}</string>
        <key>sourceSize</key>
        <string>{31,68}</string>
      </dict>
      <key>weapon_3073_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,259},{21,70}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,70}}</string>
        <key>sourceSize</key>
        <string>{21,70}</string>
      </dict>
      <key>weapon_3073_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,331},{19,34}}</string>
        <key>offset</key>
        <string>{8,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,34}}</string>
        <key>sourceSize</key>
        <string>{19,34}</string>
      </dict>
      <key>weapon_3073_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,317},{27,94}}</string>
        <key>offset</key>
        <string>{9,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,94}}</string>
        <key>sourceSize</key>
        <string>{27,94}</string>
      </dict>
      <key>weapon_3073_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,317},{16,34}}</string>
        <key>offset</key>
        <string>{7,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,34}}</string>
        <key>sourceSize</key>
        <string>{16,34}</string>
      </dict>
      <key>weapon_3073_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,183},{22,80}}</string>
        <key>offset</key>
        <string>{-3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,80}}</string>
        <key>sourceSize</key>
        <string>{22,80}</string>
      </dict>
      <key>weapon_3073_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,352},{108,46}}</string>
        <key>offset</key>
        <string>{-45,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,46}}</string>
        <key>sourceSize</key>
        <string>{108,46}</string>
      </dict>
      <key>weapon_3073_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,446},{99,38}}</string>
        <key>offset</key>
        <string>{-50,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,38}}</string>
        <key>sourceSize</key>
        <string>{99,38}</string>
      </dict>
      <key>weapon_3073_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,283},{46,75}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,75}}</string>
        <key>sourceSize</key>
        <string>{46,75}</string>
      </dict>
      <key>weapon_3073_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,68},{36,82}}</string>
        <key>offset</key>
        <string>{-6,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,82}}</string>
        <key>sourceSize</key>
        <string>{36,82}</string>
      </dict>
      <key>weapon_3073_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,385},{61,48}}</string>
        <key>offset</key>
        <string>{-33,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,48}}</string>
        <key>sourceSize</key>
        <string>{61,48}</string>
      </dict>
      <key>weapon_3073_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,413},{94,47}}</string>
        <key>offset</key>
        <string>{-43,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,47}}</string>
        <key>sourceSize</key>
        <string>{94,47}</string>
      </dict>
      <key>weapon_3073_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{116,45}}</string>
        <key>offset</key>
        <string>{-42,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,45}}</string>
        <key>sourceSize</key>
        <string>{116,45}</string>
      </dict>
      <key>weapon_3073_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{114,51}}</string>
        <key>offset</key>
        <string>{-51,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,51}}</string>
        <key>sourceSize</key>
        <string>{114,51}</string>
      </dict>
      <key>weapon_3073_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,105},{78,96}}</string>
        <key>offset</key>
        <string>{-42,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,96}</string>
      </dict>
      <key>weapon_3073_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{34,103}}</string>
        <key>offset</key>
        <string>{-8,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,103}}</string>
        <key>sourceSize</key>
        <string>{34,103}</string>
      </dict>
      <key>weapon_3073_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{96,80}}</string>
        <key>offset</key>
        <string>{-51,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,80}}</string>
        <key>sourceSize</key>
        <string>{96,80}</string>
      </dict>
      <key>weapon_3073_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,120},{116,44}}</string>
        <key>offset</key>
        <string>{-48,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,44}}</string>
        <key>sourceSize</key>
        <string>{116,44}</string>
      </dict>
      <key>weapon_3073_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{66,86}}</string>
        <key>offset</key>
        <string>{-3,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,86}}</string>
        <key>sourceSize</key>
        <string>{66,86}</string>
      </dict>
      <key>weapon_3073_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,192},{84,89}}</string>
        <key>offset</key>
        <string>{-21,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,89}}</string>
        <key>sourceSize</key>
        <string>{84,89}</string>
      </dict>
      <key>weapon_3073_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,203},{74,94}}</string>
        <key>offset</key>
        <string>{-29,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,94}}</string>
        <key>sourceSize</key>
        <string>{74,94}</string>
      </dict>
      <key>weapon_3073_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,116},{38,112}}</string>
        <key>offset</key>
        <string>{-11,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,112}}</string>
        <key>sourceSize</key>
        <string>{38,112}</string>
      </dict>
      <key>weapon_3073_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{78,92}}</string>
        <key>offset</key>
        <string>{-24,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>weapon_3073_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,106},{81,82}}</string>
        <key>offset</key>
        <string>{-18,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,82}}</string>
        <key>sourceSize</key>
        <string>{81,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3073_1_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3073_1_5.png</string>
    </dict>
  </dict>
</plist>