<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0245_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,944},{64,192}}</string>
        <key>offset</key>
        <string>{-169,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{223,27},{64,192}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{68,200}}</string>
        <key>offset</key>
        <string>{-203,355}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,6},{68,200}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,182},{168,106}}</string>
        <key>offset</key>
        <string>{-257,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{83,86},{168,106}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,750},{170,76}}</string>
        <key>offset</key>
        <string>{-253,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,124},{170,76}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,0},{134,132}}</string>
        <key>offset</key>
        <string>{-238,337}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{119,58},{134,132}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,140},{76,118}}</string>
        <key>offset</key>
        <string>{-164,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{222,79},{76,118}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,0},{124,168}}</string>
        <key>offset</key>
        <string>{-139,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{223,53},{124,168}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,224},{38,206}}</string>
        <key>offset</key>
        <string>{-176,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{229,7},{38,206}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,750},{166,154}}</string>
        <key>offset</key>
        <string>{-245,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{96,51},{166,154}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{202,116}}</string>
        <key>offset</key>
        <string>{-259,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,85},{202,116}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,576},{166,172}}</string>
        <key>offset</key>
        <string>{-238,346}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{103,29},{166,172}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,394},{180,74}}</string>
        <key>offset</key>
        <string>{-108,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{226,126},{180,74}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,170},{154,126}}</string>
        <key>offset</key>
        <string>{-142,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{205,94},{154,126}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,858},{84,198}}</string>
        <key>offset</key>
        <string>{-159,343}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{223,19},{84,198}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{100,186}}</string>
        <key>offset</key>
        <string>{-206,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{168,27},{100,186}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,542},{128,164}}</string>
        <key>offset</key>
        <string>{-234,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{126,48},{128,164}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,208},{114,204}}</string>
        <key>offset</key>
        <string>{-219,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{148,6},{114,204}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{222,42}}</string>
        <key>offset</key>
        <string>{-95,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,194},{222,42}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,304},{94,96}}</string>
        <key>offset</key>
        <string>{-180,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{197,126},{94,96}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,188},{106,180}}</string>
        <key>offset</key>
        <string>{-165,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{206,38},{106,180}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,204},{78,188}}</string>
        <key>offset</key>
        <string>{-173,338}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{212,29},{78,188}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,794},{34,176}}</string>
        <key>offset</key>
        <string>{-194,335}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{213,38},{34,176}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{38,214}}</string>
        <key>offset</key>
        <string>{-190,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{215,1},{38,214}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,156},{140,124}}</string>
        <key>offset</key>
        <string>{-147,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{207,190},{140,124}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,652},{76,102}}</string>
        <key>offset</key>
        <string>{-237,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{149,124},{76,102}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,352},{74,164}}</string>
        <key>offset</key>
        <string>{-195,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{192,52},{74,164}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{152,154}}</string>
        <key>offset</key>
        <string>{-151,328}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{197,56},{152,154}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,502},{146,148}}</string>
        <key>offset</key>
        <string>{-161,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{190,57},{146,148}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,414},{120,192}}</string>
        <key>offset</key>
        <string>{-170,350}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{194,15},{120,192}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,326},{112,144}}</string>
        <key>offset</key>
        <string>{-254,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{114,181},{112,144}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,0},{138,132}}</string>
        <key>offset</key>
        <string>{-267,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{88,88},{138,132}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,170},{42,164}}</string>
        <key>offset</key>
        <string>{-226,328}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{177,51},{42,164}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{180,96}}</string>
        <key>offset</key>
        <string>{-148,311}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{186,102},{180,96}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{206,96}}</string>
        <key>offset</key>
        <string>{-139,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{182,95},{206,96}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,370},{170,146}}</string>
        <key>offset</key>
        <string>{-161,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{178,48},{170,146}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,440},{214,88}}</string>
        <key>offset</key>
        <string>{-308,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,168},{214,88}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,336},{140,164}}</string>
        <key>offset</key>
        <string>{-252,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{102,48},{140,164}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,922},{90,168}}</string>
        <key>offset</key>
        <string>{-244,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,37},{90,168}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,252},{112,50}}</string>
        <key>offset</key>
        <string>{-186,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{182,135},{112,50}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,918},{150,66}}</string>
        <key>offset</key>
        <string>{-152,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{197,128},{150,66}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,134},{126,116}}</string>
        <key>offset</key>
        <string>{-172,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{189,70},{126,116}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,656},{194,88}}</string>
        <key>offset</key>
        <string>{-291,296}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{36,121},{194,88}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,944},{78,190}}</string>
        <key>offset</key>
        <string>{-213,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{172,25},{78,190}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,608},{100,184}}</string>
        <key>offset</key>
        <string>{-231,352}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{143,17},{100,184}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,372},{94,64}}</string>
        <key>offset</key>
        <string>{-233,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{144,120},{94,64}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,304},{42,80}}</string>
        <key>offset</key>
        <string>{-208,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{195,137},{42,80}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,260},{44,110}}</string>
        <key>offset</key>
        <string>{-212,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{190,75},{44,110}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
      <key>weapon_0245_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,830},{102,120}}</string>
        <key>offset</key>
        <string>{-233,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{140,79},{102,120}}</string>
        <key>sourceSize</key>
        <string>{450,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0245_0_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0245_0_3.png</string>
    </dict>
  </dict>
</plist>