<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10103_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,232},{22,40}}</string>
        <key>offset</key>
        <string>{26,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,40}}</string>
        <key>sourceSize</key>
        <string>{22,40}</string>
      </dict>
      <key>weapon_10103_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{18,45}}</string>
        <key>offset</key>
        <string>{23,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,45}}</string>
        <key>sourceSize</key>
        <string>{18,45}</string>
      </dict>
      <key>weapon_10103_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{74,34}}</string>
        <key>offset</key>
        <string>{22,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,34}}</string>
        <key>sourceSize</key>
        <string>{74,34}</string>
      </dict>
      <key>weapon_10103_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,95},{65,39}}</string>
        <key>offset</key>
        <string>{31,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,39}}</string>
        <key>sourceSize</key>
        <string>{65,39}</string>
      </dict>
      <key>weapon_10103_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{91,38}}</string>
        <key>offset</key>
        <string>{13,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,38}}</string>
        <key>sourceSize</key>
        <string>{91,38}</string>
      </dict>
      <key>weapon_10103_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,30}}</string>
        <key>offset</key>
        <string>{28,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,30}}</string>
        <key>sourceSize</key>
        <string>{94,30}</string>
      </dict>
      <key>weapon_10103_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,76},{65,59}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>weapon_10103_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,92},{65,58}}</string>
        <key>offset</key>
        <string>{19,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,58}}</string>
        <key>sourceSize</key>
        <string>{65,58}</string>
      </dict>
      <key>weapon_10103_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,72},{21,67}}</string>
        <key>offset</key>
        <string>{0,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,67}}</string>
        <key>sourceSize</key>
        <string>{21,67}</string>
      </dict>
      <key>weapon_10103_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,32},{20,68}}</string>
        <key>offset</key>
        <string>{6,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,68}}</string>
        <key>sourceSize</key>
        <string>{20,68}</string>
      </dict>
      <key>weapon_10103_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,32},{69,58}}</string>
        <key>offset</key>
        <string>{-44,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,58}}</string>
        <key>sourceSize</key>
        <string>{69,58}</string>
      </dict>
      <key>weapon_10103_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{70,58}}</string>
        <key>offset</key>
        <string>{-56,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,58}}</string>
        <key>sourceSize</key>
        <string>{70,58}</string>
      </dict>
      <key>weapon_10103_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{91,30}}</string>
        <key>offset</key>
        <string>{-60,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,30}}</string>
        <key>sourceSize</key>
        <string>{91,30}</string>
      </dict>
      <key>weapon_10103_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{94,30}}</string>
        <key>offset</key>
        <string>{-75,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,30}}</string>
        <key>sourceSize</key>
        <string>{94,30}</string>
      </dict>
      <key>weapon_10103_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,152},{61,29}}</string>
        <key>offset</key>
        <string>{-21,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,29}}</string>
        <key>sourceSize</key>
        <string>{61,29}</string>
      </dict>
      <key>weapon_10103_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,183},{60,36}}</string>
        <key>offset</key>
        <string>{-42,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10103_1_8.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_10103_1_8.png</string>
    </dict>
  </dict>
</plist>