<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21004_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{22,70}}</string>
        <key>offset</key>
        <string>{28,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{22,70}}</string>
        <key>sourceSize</key>
        <string>{22,71}</string>
      </dict>
      <key>weapon_21004_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,246},{34,106}}</string>
        <key>offset</key>
        <string>{3,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{34,106}}</string>
        <key>sourceSize</key>
        <string>{35,106}</string>
      </dict>
      <key>weapon_21004_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,450},{98,54}}</string>
        <key>offset</key>
        <string>{12,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,54}}</string>
        <key>sourceSize</key>
        <string>{99,55}</string>
      </dict>
      <key>weapon_21004_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{100,84}}</string>
        <key>offset</key>
        <string>{25,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,84}}</string>
        <key>sourceSize</key>
        <string>{101,84}</string>
      </dict>
      <key>weapon_21004_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{152,80}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{152,80}}</string>
        <key>sourceSize</key>
        <string>{152,80}</string>
      </dict>
      <key>weapon_21004_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{156,48}}</string>
        <key>offset</key>
        <string>{21,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,48}}</string>
        <key>sourceSize</key>
        <string>{157,49}</string>
      </dict>
      <key>weapon_21004_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,124},{114,120}}</string>
        <key>offset</key>
        <string>{-6,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,121}</string>
      </dict>
      <key>weapon_21004_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,158},{134,100}}</string>
        <key>offset</key>
        <string>{10,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,100}}</string>
        <key>sourceSize</key>
        <string>{135,101}</string>
      </dict>
      <key>weapon_21004_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{28,140}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{28,140}}</string>
        <key>sourceSize</key>
        <string>{28,140}</string>
      </dict>
      <key>weapon_21004_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,294},{30,126}}</string>
        <key>offset</key>
        <string>{5,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{30,126}}</string>
        <key>sourceSize</key>
        <string>{31,126}</string>
      </dict>
      <key>weapon_21004_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,326},{104,122}}</string>
        <key>offset</key>
        <string>{-69,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,122}}</string>
        <key>sourceSize</key>
        <string>{105,123}</string>
      </dict>
      <key>weapon_21004_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{102,102}}</string>
        <key>offset</key>
        <string>{-84,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,102}</string>
      </dict>
      <key>weapon_21004_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{160,68}}</string>
        <key>offset</key>
        <string>{-119,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,68}}</string>
        <key>sourceSize</key>
        <string>{160,69}</string>
      </dict>
      <key>weapon_21004_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,54}}</string>
        <key>offset</key>
        <string>{-139,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{162,54}}</string>
        <key>sourceSize</key>
        <string>{163,54}</string>
      </dict>
      <key>weapon_21004_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{112,50}}</string>
        <key>offset</key>
        <string>{-55,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{112,50}}</string>
        <key>sourceSize</key>
        <string>{113,50}</string>
      </dict>
      <key>weapon_21004_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{122,82}}</string>
        <key>offset</key>
        <string>{-90,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,82}}</string>
        <key>sourceSize</key>
        <string>{123,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21004_1_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_21004_1_8.png</string>
    </dict>
  </dict>
</plist>