<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3006_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,45},{15,32}}</string>
        <key>offset</key>
        <string>{35,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,32}}</string>
        <key>sourceSize</key>
        <string>{15,32}</string>
      </dict>
      <key>weapon_3006_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,110},{5,48}}</string>
        <key>offset</key>
        <string>{35,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,48}}</string>
        <key>sourceSize</key>
        <string>{5,48}</string>
      </dict>
      <key>weapon_3006_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{13,57}}</string>
        <key>offset</key>
        <string>{25,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,57}}</string>
        <key>sourceSize</key>
        <string>{13,57}</string>
      </dict>
      <key>weapon_3006_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,173},{12,49}}</string>
        <key>offset</key>
        <string>{20,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,49}}</string>
        <key>sourceSize</key>
        <string>{12,49}</string>
      </dict>
      <key>weapon_3006_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{6,57}}</string>
        <key>offset</key>
        <string>{30,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,57}}</string>
        <key>sourceSize</key>
        <string>{6,57}</string>
      </dict>
      <key>weapon_3006_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,56},{6,48}}</string>
        <key>offset</key>
        <string>{34,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,48}}</string>
        <key>sourceSize</key>
        <string>{6,48}</string>
      </dict>
      <key>weapon_3006_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{48,23}}</string>
        <key>offset</key>
        <string>{21,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,23}}</string>
        <key>sourceSize</key>
        <string>{48,23}</string>
      </dict>
      <key>weapon_3006_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,115},{37,41}}</string>
        <key>offset</key>
        <string>{30,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,41}}</string>
        <key>sourceSize</key>
        <string>{37,41}</string>
      </dict>
      <key>weapon_3006_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{15,57}}</string>
        <key>offset</key>
        <string>{40,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,57}}</string>
        <key>sourceSize</key>
        <string>{15,57}</string>
      </dict>
      <key>weapon_3006_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{16,54}}</string>
        <key>offset</key>
        <string>{30,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,54}}</string>
        <key>sourceSize</key>
        <string>{16,54}</string>
      </dict>
      <key>weapon_3006_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{25,54}}</string>
        <key>offset</key>
        <string>{38,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,54}}</string>
        <key>sourceSize</key>
        <string>{25,54}</string>
      </dict>
      <key>weapon_3006_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,52},{36,36}}</string>
        <key>offset</key>
        <string>{27,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>weapon_3006_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,177},{54,22}}</string>
        <key>offset</key>
        <string>{5,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,22}}</string>
        <key>sourceSize</key>
        <string>{54,22}</string>
      </dict>
      <key>weapon_3006_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,22}}</string>
        <key>offset</key>
        <string>{15,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,22}}</string>
        <key>sourceSize</key>
        <string>{58,22}</string>
      </dict>
      <key>weapon_3006_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{37,43}}</string>
        <key>offset</key>
        <string>{36,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,43}}</string>
        <key>sourceSize</key>
        <string>{37,43}</string>
      </dict>
      <key>weapon_3006_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,120},{22,55}}</string>
        <key>offset</key>
        <string>{35,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,55}}</string>
        <key>sourceSize</key>
        <string>{22,55}</string>
      </dict>
      <key>weapon_3006_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,117},{48,38}}</string>
        <key>offset</key>
        <string>{29,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,38}}</string>
        <key>sourceSize</key>
        <string>{48,38}</string>
      </dict>
      <key>weapon_3006_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{58,19}}</string>
        <key>offset</key>
        <string>{12,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,19}}</string>
        <key>sourceSize</key>
        <string>{58,19}</string>
      </dict>
      <key>weapon_3006_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,50},{34,48}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,48}}</string>
        <key>sourceSize</key>
        <string>{34,48}</string>
      </dict>
      <key>weapon_3006_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,224},{46,24}}</string>
        <key>offset</key>
        <string>{6,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,24}}</string>
        <key>sourceSize</key>
        <string>{46,24}</string>
      </dict>
      <key>weapon_3006_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,206},{38,35}}</string>
        <key>offset</key>
        <string>{22,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,35}}</string>
        <key>sourceSize</key>
        <string>{38,35}</string>
      </dict>
      <key>weapon_3006_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,56},{21,52}}</string>
        <key>offset</key>
        <string>{29,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,52}}</string>
        <key>sourceSize</key>
        <string>{21,52}</string>
      </dict>
      <key>weapon_3006_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{47,22}}</string>
        <key>offset</key>
        <string>{18,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,22}}</string>
        <key>sourceSize</key>
        <string>{47,22}</string>
      </dict>
      <key>weapon_3006_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,45},{43,37}}</string>
        <key>offset</key>
        <string>{5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,37}}</string>
        <key>sourceSize</key>
        <string>{43,37}</string>
      </dict>
      <key>weapon_3006_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,62},{16,35}}</string>
        <key>offset</key>
        <string>{-5,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,35}}</string>
        <key>sourceSize</key>
        <string>{16,35}</string>
      </dict>
      <key>weapon_3006_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,158},{5,41}}</string>
        <key>offset</key>
        <string>{7,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,41}}</string>
        <key>sourceSize</key>
        <string>{5,41}</string>
      </dict>
      <key>weapon_3006_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,211},{11,36}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,36}}</string>
        <key>sourceSize</key>
        <string>{11,36}</string>
      </dict>
      <key>weapon_3006_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,100},{13,46}}</string>
        <key>offset</key>
        <string>{15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,46}}</string>
        <key>sourceSize</key>
        <string>{13,46}</string>
      </dict>
      <key>weapon_3006_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,147},{12,28}}</string>
        <key>offset</key>
        <string>{9,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,28}}</string>
        <key>sourceSize</key>
        <string>{12,28}</string>
      </dict>
      <key>weapon_3006_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,250},{4,28}}</string>
        <key>offset</key>
        <string>{8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,28}}</string>
        <key>sourceSize</key>
        <string>{4,28}</string>
      </dict>
      <key>weapon_3006_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,90},{35,22}}</string>
        <key>offset</key>
        <string>{-18,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,22}}</string>
        <key>sourceSize</key>
        <string>{35,22}</string>
      </dict>
      <key>weapon_3006_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,23},{37,20}}</string>
        <key>offset</key>
        <string>{-18,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,20}}</string>
        <key>sourceSize</key>
        <string>{37,20}</string>
      </dict>
      <key>weapon_3006_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,135},{20,28}}</string>
        <key>offset</key>
        <string>{-14,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>weapon_3006_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,165},{15,39}}</string>
        <key>offset</key>
        <string>{0,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,39}}</string>
        <key>sourceSize</key>
        <string>{15,39}</string>
      </dict>
      <key>weapon_3006_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,114},{30,19}}</string>
        <key>offset</key>
        <string>{-21,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,19}}</string>
        <key>sourceSize</key>
        <string>{30,19}</string>
      </dict>
      <key>weapon_3006_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{38,21}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,21}}</string>
        <key>sourceSize</key>
        <string>{38,21}</string>
      </dict>
      <key>weapon_3006_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,179},{56,21}}</string>
        <key>offset</key>
        <string>{-17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,21}}</string>
        <key>sourceSize</key>
        <string>{56,21}</string>
      </dict>
      <key>weapon_3006_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,117},{54,21}}</string>
        <key>offset</key>
        <string>{-25,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,21}}</string>
        <key>sourceSize</key>
        <string>{54,21}</string>
      </dict>
      <key>weapon_3006_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,113},{34,32}}</string>
        <key>offset</key>
        <string>{-24,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,32}}</string>
        <key>sourceSize</key>
        <string>{34,32}</string>
      </dict>
      <key>weapon_3006_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,90},{21,35}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,35}}</string>
        <key>sourceSize</key>
        <string>{21,35}</string>
      </dict>
      <key>weapon_3006_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,165},{39,28}}</string>
        <key>offset</key>
        <string>{-25,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,28}}</string>
        <key>sourceSize</key>
        <string>{39,28}</string>
      </dict>
      <key>weapon_3006_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,60},{55,20}}</string>
        <key>offset</key>
        <string>{-24,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,20}}</string>
        <key>sourceSize</key>
        <string>{55,20}</string>
      </dict>
      <key>weapon_3006_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{34,43}}</string>
        <key>offset</key>
        <string>{10,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>weapon_3006_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,167},{42,41}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>weapon_3006_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,23},{27,38}}</string>
        <key>offset</key>
        <string>{-9,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>weapon_3006_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,49},{19,45}}</string>
        <key>offset</key>
        <string>{0,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,45}}</string>
        <key>sourceSize</key>
        <string>{19,45}</string>
      </dict>
      <key>weapon_3006_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,99},{25,34}}</string>
        <key>offset</key>
        <string>{-9,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,34}}</string>
        <key>sourceSize</key>
        <string>{25,34}</string>
      </dict>
      <key>weapon_3006_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,211},{41,42}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,42}}</string>
        <key>sourceSize</key>
        <string>{41,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3006_0_5.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3006_0_5.png</string>
    </dict>
  </dict>
</plist>