<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20006_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,826},{72,90}}</string>
        <key>offset</key>
        <string>{16,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{72,90}}</string>
        <key>sourceSize</key>
        <string>{72,91}</string>
      </dict>
      <key>weapon_20006_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,504},{62,100}}</string>
        <key>offset</key>
        <string>{11,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,100}}</string>
        <key>sourceSize</key>
        <string>{63,101}</string>
      </dict>
      <key>weapon_20006_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,462},{50,114}}</string>
        <key>offset</key>
        <string>{15,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{50,114}}</string>
        <key>sourceSize</key>
        <string>{50,115}</string>
      </dict>
      <key>weapon_20006_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,882},{46,130}}</string>
        <key>offset</key>
        <string>{14,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{46,130}}</string>
        <key>sourceSize</key>
        <string>{47,130}</string>
      </dict>
      <key>weapon_20006_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,578},{52,112}}</string>
        <key>offset</key>
        <string>{16,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{52,112}}</string>
        <key>sourceSize</key>
        <string>{52,112}</string>
      </dict>
      <key>weapon_20006_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,568},{66,96}}</string>
        <key>offset</key>
        <string>{17,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{66,96}}</string>
        <key>sourceSize</key>
        <string>{66,96}</string>
      </dict>
      <key>weapon_20006_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{148,100}}</string>
        <key>offset</key>
        <string>{-4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,100}}</string>
        <key>sourceSize</key>
        <string>{149,101}</string>
      </dict>
      <key>weapon_20006_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,682},{148,86}}</string>
        <key>offset</key>
        <string>{0,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,86}}</string>
        <key>sourceSize</key>
        <string>{149,87}</string>
      </dict>
      <key>weapon_20006_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,150},{138,100}}</string>
        <key>offset</key>
        <string>{6,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{138,100}}</string>
        <key>sourceSize</key>
        <string>{138,100}</string>
      </dict>
      <key>weapon_20006_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,882},{132,114}}</string>
        <key>offset</key>
        <string>{12,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,114}}</string>
        <key>sourceSize</key>
        <string>{133,115}</string>
      </dict>
      <key>weapon_20006_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,162},{150,100}}</string>
        <key>offset</key>
        <string>{4,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{150,100}}</string>
        <key>sourceSize</key>
        <string>{150,100}</string>
      </dict>
      <key>weapon_20006_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,314},{146,94}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{146,94}}</string>
        <key>sourceSize</key>
        <string>{147,94}</string>
      </dict>
      <key>weapon_20006_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,340},{152,152}}</string>
        <key>offset</key>
        <string>{-17,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{152,152}}</string>
        <key>sourceSize</key>
        <string>{152,153}</string>
      </dict>
      <key>weapon_20006_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,778},{178,130}}</string>
        <key>offset</key>
        <string>{-13,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,130}}</string>
        <key>sourceSize</key>
        <string>{179,131}</string>
      </dict>
      <key>weapon_20006_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{194,100}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{194,100}}</string>
        <key>sourceSize</key>
        <string>{195,100}</string>
      </dict>
      <key>weapon_20006_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,96}}</string>
        <key>offset</key>
        <string>{-1,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,96}}</string>
        <key>sourceSize</key>
        <string>{199,97}</string>
      </dict>
      <key>weapon_20006_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,200},{186,106}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,106}}</string>
        <key>sourceSize</key>
        <string>{187,107}</string>
      </dict>
      <key>weapon_20006_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,186},{172,144}}</string>
        <key>offset</key>
        <string>{-18,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{172,144}}</string>
        <key>sourceSize</key>
        <string>{172,144}</string>
      </dict>
      <key>weapon_20006_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{92,186}}</string>
        <key>offset</key>
        <string>{-18,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,186}}</string>
        <key>sourceSize</key>
        <string>{93,187}</string>
      </dict>
      <key>weapon_20006_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,772},{110,168}}</string>
        <key>offset</key>
        <string>{-17,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{110,168}}</string>
        <key>sourceSize</key>
        <string>{110,169}</string>
      </dict>
      <key>weapon_20006_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,526},{126,154}}</string>
        <key>offset</key>
        <string>{-10,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{126,154}}</string>
        <key>sourceSize</key>
        <string>{126,154}</string>
      </dict>
      <key>weapon_20006_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,682},{148,130}}</string>
        <key>offset</key>
        <string>{-8,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,130}}</string>
        <key>sourceSize</key>
        <string>{149,131}</string>
      </dict>
      <key>weapon_20006_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,896},{114,156}}</string>
        <key>offset</key>
        <string>{-9,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{114,156}}</string>
        <key>sourceSize</key>
        <string>{115,156}</string>
      </dict>
      <key>weapon_20006_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,388},{98,174}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{98,174}}</string>
        <key>sourceSize</key>
        <string>{98,174}</string>
      </dict>
      <key>weapon_20006_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{86,160}}</string>
        <key>offset</key>
        <string>{-56,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{86,160}}</string>
        <key>sourceSize</key>
        <string>{86,161}</string>
      </dict>
      <key>weapon_20006_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,526},{66,156}}</string>
        <key>offset</key>
        <string>{-38,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,156}}</string>
        <key>sourceSize</key>
        <string>{67,156}</string>
      </dict>
      <key>weapon_20006_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,734},{52,160}}</string>
        <key>offset</key>
        <string>{-21,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{52,160}}</string>
        <key>sourceSize</key>
        <string>{53,160}</string>
      </dict>
      <key>weapon_20006_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,832},{48,134}}</string>
        <key>offset</key>
        <string>{-13,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{48,134}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
      <key>weapon_20006_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,958},{64,166}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{64,166}}</string>
        <key>sourceSize</key>
        <string>{64,166}</string>
      </dict>
      <key>weapon_20006_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,942},{70,166}}</string>
        <key>offset</key>
        <string>{-41,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{70,166}}</string>
        <key>sourceSize</key>
        <string>{71,166}</string>
      </dict>
      <key>weapon_20006_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,360},{164,118}}</string>
        <key>offset</key>
        <string>{-112,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,118}}</string>
        <key>sourceSize</key>
        <string>{165,119}</string>
      </dict>
      <key>weapon_20006_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,564},{168,126}}</string>
        <key>offset</key>
        <string>{-118,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{168,126}}</string>
        <key>sourceSize</key>
        <string>{168,126}</string>
      </dict>
      <key>weapon_20006_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,594},{176,118}}</string>
        <key>offset</key>
        <string>{-127,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{176,118}}</string>
        <key>sourceSize</key>
        <string>{176,119}</string>
      </dict>
      <key>weapon_20006_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,734},{160,100}}</string>
        <key>offset</key>
        <string>{-125,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{160,100}}</string>
        <key>sourceSize</key>
        <string>{161,100}</string>
      </dict>
      <key>weapon_20006_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{172,118}}</string>
        <key>offset</key>
        <string>{-129,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{172,118}}</string>
        <key>sourceSize</key>
        <string>{172,119}</string>
      </dict>
      <key>weapon_20006_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,174},{164,132}}</string>
        <key>offset</key>
        <string>{-116,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{164,132}}</string>
        <key>sourceSize</key>
        <string>{164,132}</string>
      </dict>
      <key>weapon_20006_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,494},{148,74}}</string>
        <key>offset</key>
        <string>{-81,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{148,74}}</string>
        <key>sourceSize</key>
        <string>{148,75}</string>
      </dict>
      <key>weapon_20006_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,360},{166,74}}</string>
        <key>offset</key>
        <string>{-106,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{166,74}}</string>
        <key>sourceSize</key>
        <string>{166,74}</string>
      </dict>
      <key>weapon_20006_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{184,76}}</string>
        <key>offset</key>
        <string>{-129,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{184,76}}</string>
        <key>sourceSize</key>
        <string>{185,76}</string>
      </dict>
      <key>weapon_20006_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{196,88}}</string>
        <key>offset</key>
        <string>{-147,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{196,88}}</string>
        <key>sourceSize</key>
        <string>{197,88}</string>
      </dict>
      <key>weapon_20006_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{182,78}}</string>
        <key>offset</key>
        <string>{-126,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{182,78}}</string>
        <key>sourceSize</key>
        <string>{183,78}</string>
      </dict>
      <key>weapon_20006_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{162,76}}</string>
        <key>offset</key>
        <string>{-101,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{162,76}}</string>
        <key>sourceSize</key>
        <string>{162,76}</string>
      </dict>
      <key>weapon_20006_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,124},{84,102}}</string>
        <key>offset</key>
        <string>{-18,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{84,102}}</string>
        <key>sourceSize</key>
        <string>{84,102}</string>
      </dict>
      <key>weapon_20006_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,734},{98,90}}</string>
        <key>offset</key>
        <string>{-37,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,91}</string>
      </dict>
      <key>weapon_20006_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,290},{108,106}}</string>
        <key>offset</key>
        <string>{-51,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{108,106}}</string>
        <key>sourceSize</key>
        <string>{109,106}</string>
      </dict>
      <key>weapon_20006_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{122,118}}</string>
        <key>offset</key>
        <string>{-69,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{122,118}}</string>
        <key>sourceSize</key>
        <string>{122,118}</string>
      </dict>
      <key>weapon_20006_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,400},{102,102}}</string>
        <key>offset</key>
        <string>{-46,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,102}}</string>
        <key>sourceSize</key>
        <string>{102,103}</string>
      </dict>
      <key>weapon_20006_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,632},{94,100}}</string>
        <key>offset</key>
        <string>{-30,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,100}}</string>
        <key>sourceSize</key>
        <string>{94,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20006_1_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20006_1_1.png</string>
    </dict>
  </dict>
</plist>