<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3038_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,304},{38,69}}</string>
        <key>offset</key>
        <string>{21,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,69}}</string>
        <key>sourceSize</key>
        <string>{38,69}</string>
      </dict>
      <key>weapon_3038_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,256},{31,98}}</string>
        <key>offset</key>
        <string>{24,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,98}}</string>
        <key>sourceSize</key>
        <string>{31,98}</string>
      </dict>
      <key>weapon_3038_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,501},{9,114}}</string>
        <key>offset</key>
        <string>{32,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,114}}</string>
        <key>sourceSize</key>
        <string>{9,114}</string>
      </dict>
      <key>weapon_3038_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{8,129}}</string>
        <key>offset</key>
        <string>{30,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,129}}</string>
        <key>sourceSize</key>
        <string>{8,129}</string>
      </dict>
      <key>weapon_3038_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,487},{18,104}}</string>
        <key>offset</key>
        <string>{27,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,104}}</string>
        <key>sourceSize</key>
        <string>{18,104}</string>
      </dict>
      <key>weapon_3038_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,304},{38,78}}</string>
        <key>offset</key>
        <string>{21,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,78}}</string>
        <key>sourceSize</key>
        <string>{38,78}</string>
      </dict>
      <key>weapon_3038_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,106},{102,34}}</string>
        <key>offset</key>
        <string>{-13,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,34}}</string>
        <key>sourceSize</key>
        <string>{102,34}</string>
      </dict>
      <key>weapon_3038_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,122},{107,44}}</string>
        <key>offset</key>
        <string>{-12,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,44}}</string>
        <key>sourceSize</key>
        <string>{107,44}</string>
      </dict>
      <key>weapon_3038_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,107},{104,68}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>weapon_3038_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,256},{99,89}}</string>
        <key>offset</key>
        <string>{-2,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,89}}</string>
        <key>sourceSize</key>
        <string>{99,89}</string>
      </dict>
      <key>weapon_3038_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,231},{106,43}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,43}}</string>
        <key>sourceSize</key>
        <string>{106,43}</string>
      </dict>
      <key>weapon_3038_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,104},{100,33}}</string>
        <key>offset</key>
        <string>{-10,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,33}}</string>
        <key>sourceSize</key>
        <string>{100,33}</string>
      </dict>
      <key>weapon_3038_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,280},{122,64}}</string>
        <key>offset</key>
        <string>{-32,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,64}}</string>
        <key>sourceSize</key>
        <string>{122,64}</string>
      </dict>
      <key>weapon_3038_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,141},{137,39}}</string>
        <key>offset</key>
        <string>{-35,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,39}}</string>
        <key>sourceSize</key>
        <string>{137,39}</string>
      </dict>
      <key>weapon_3038_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{142,31}}</string>
        <key>offset</key>
        <string>{-29,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,31}}</string>
        <key>sourceSize</key>
        <string>{142,31}</string>
      </dict>
      <key>weapon_3038_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,0},{142,30}}</string>
        <key>offset</key>
        <string>{-24,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,30}}</string>
        <key>sourceSize</key>
        <string>{142,30}</string>
      </dict>
      <key>weapon_3038_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,289},{141,30}}</string>
        <key>offset</key>
        <string>{-32,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,30}}</string>
        <key>sourceSize</key>
        <string>{141,30}</string>
      </dict>
      <key>weapon_3038_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{128,56}}</string>
        <key>offset</key>
        <string>{-31,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,56}}</string>
        <key>sourceSize</key>
        <string>{128,56}</string>
      </dict>
      <key>weapon_3038_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,130},{73,122}}</string>
        <key>offset</key>
        <string>{-18,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,122}}</string>
        <key>sourceSize</key>
        <string>{73,122}</string>
      </dict>
      <key>weapon_3038_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{93,102}}</string>
        <key>offset</key>
        <string>{-24,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,102}}</string>
        <key>sourceSize</key>
        <string>{93,102}</string>
      </dict>
      <key>weapon_3038_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,276},{102,79}}</string>
        <key>offset</key>
        <string>{-23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,79}}</string>
        <key>sourceSize</key>
        <string>{102,79}</string>
      </dict>
      <key>weapon_3038_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{104,63}}</string>
        <key>offset</key>
        <string>{-19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,63}}</string>
        <key>sourceSize</key>
        <string>{104,63}</string>
      </dict>
      <key>weapon_3038_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,347},{97,93}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,93}}</string>
        <key>sourceSize</key>
        <string>{97,93}</string>
      </dict>
      <key>weapon_3038_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,404},{81,116}}</string>
        <key>offset</key>
        <string>{-19,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,116}}</string>
        <key>sourceSize</key>
        <string>{81,116}</string>
      </dict>
      <key>weapon_3038_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{50,120}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,120}}</string>
        <key>sourceSize</key>
        <string>{50,120}</string>
      </dict>
      <key>weapon_3038_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,122},{32,110}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,110}}</string>
        <key>sourceSize</key>
        <string>{32,110}</string>
      </dict>
      <key>weapon_3038_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,213},{16,103}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,103}}</string>
        <key>sourceSize</key>
        <string>{16,103}</string>
      </dict>
      <key>weapon_3038_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,106},{11,103}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,103}}</string>
        <key>sourceSize</key>
        <string>{11,103}</string>
      </dict>
      <key>weapon_3038_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,254},{24,114}}</string>
        <key>offset</key>
        <string>{-3,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,114}}</string>
        <key>sourceSize</key>
        <string>{24,114}</string>
      </dict>
      <key>weapon_3038_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{35,116}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,116}}</string>
        <key>sourceSize</key>
        <string>{35,116}</string>
      </dict>
      <key>weapon_3038_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,280},{111,63}}</string>
        <key>offset</key>
        <string>{-48,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,63}}</string>
        <key>sourceSize</key>
        <string>{111,63}</string>
      </dict>
      <key>weapon_3038_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,206},{100,48}}</string>
        <key>offset</key>
        <string>{-44,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,48}}</string>
        <key>sourceSize</key>
        <string>{100,48}</string>
      </dict>
      <key>weapon_3038_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,276},{101,43}}</string>
        <key>offset</key>
        <string>{-49,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,43}}</string>
        <key>sourceSize</key>
        <string>{101,43}</string>
      </dict>
      <key>weapon_3038_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,104},{95,35}}</string>
        <key>offset</key>
        <string>{-49,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,35}}</string>
        <key>sourceSize</key>
        <string>{95,35}</string>
      </dict>
      <key>weapon_3038_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,0},{102,40}}</string>
        <key>offset</key>
        <string>{-49,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,40}}</string>
        <key>sourceSize</key>
        <string>{102,40}</string>
      </dict>
      <key>weapon_3038_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,380},{102,53}}</string>
        <key>offset</key>
        <string>{-45,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,53}}</string>
        <key>sourceSize</key>
        <string>{102,53}</string>
      </dict>
      <key>weapon_3038_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,144},{141,29}}</string>
        <key>offset</key>
        <string>{-54,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,29}}</string>
        <key>sourceSize</key>
        <string>{141,29}</string>
      </dict>
      <key>weapon_3038_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{142,29}}</string>
        <key>offset</key>
        <string>{-60,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,29}}</string>
        <key>sourceSize</key>
        <string>{142,29}</string>
      </dict>
      <key>weapon_3038_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{139,29}}</string>
        <key>offset</key>
        <string>{-65,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,29}}</string>
        <key>sourceSize</key>
        <string>{139,29}</string>
      </dict>
      <key>weapon_3038_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,287},{138,37}}</string>
        <key>offset</key>
        <string>{-68,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,37}}</string>
        <key>sourceSize</key>
        <string>{138,37}</string>
      </dict>
      <key>weapon_3038_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,433},{142,29}}</string>
        <key>offset</key>
        <string>{-63,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,29}}</string>
        <key>sourceSize</key>
        <string>{142,29}</string>
      </dict>
      <key>weapon_3038_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,29}}</string>
        <key>offset</key>
        <string>{-58,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,29}}</string>
        <key>sourceSize</key>
        <string>{143,29}</string>
      </dict>
      <key>weapon_3038_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{95,53}}</string>
        <key>offset</key>
        <string>{-21,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,53}}</string>
        <key>sourceSize</key>
        <string>{95,53}</string>
      </dict>
      <key>weapon_3038_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,379},{101,76}}</string>
        <key>offset</key>
        <string>{-27,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,76}}</string>
        <key>sourceSize</key>
        <string>{101,76}</string>
      </dict>
      <key>weapon_3038_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,347},{96,95}}</string>
        <key>offset</key>
        <string>{-29,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,95}}</string>
        <key>sourceSize</key>
        <string>{96,95}</string>
      </dict>
      <key>weapon_3038_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{93,105}}</string>
        <key>offset</key>
        <string>{-32,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,105}}</string>
        <key>sourceSize</key>
        <string>{93,105}</string>
      </dict>
      <key>weapon_3038_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,206},{95,96}}</string>
        <key>offset</key>
        <string>{-28,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,96}}</string>
        <key>sourceSize</key>
        <string>{95,96}</string>
      </dict>
      <key>weapon_3038_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,104},{92,82}}</string>
        <key>offset</key>
        <string>{-22,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,82}}</string>
        <key>sourceSize</key>
        <string>{92,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3038_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_3038_0_1.png</string>
    </dict>
  </dict>
</plist>