<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20010_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,500},{154,240}}</string>
        <key>offset</key>
        <string>{-109,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,0},{154,240}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,438},{184,126}}</string>
        <key>offset</key>
        <string>{-152,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{22,49},{184,126}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,742},{230,138}}</string>
        <key>offset</key>
        <string>{-157,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,81},{230,138}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,566},{182,154}}</string>
        <key>offset</key>
        <string>{-125,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,74},{182,154}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,248}}</string>
        <key>offset</key>
        <string>{-46,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{74,-1},{160,248}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,458},{206,178}}</string>
        <key>offset</key>
        <string>{-152,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{22,18},{206,178}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{236,140}}</string>
        <key>offset</key>
        <string>{-197,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,70},{236,140}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{248,142}}</string>
        <key>offset</key>
        <string>{-191,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,74},{248,142}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,704},{200,210}}</string>
        <key>offset</key>
        <string>{-31,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{56,21},{200,210}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{174,232}}</string>
        <key>offset</key>
        <string>{-144,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{35,0},{174,232}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,796},{158,132}}</string>
        <key>offset</key>
        <string>{-198,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{27,55},{158,132}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,476},{226,152}}</string>
        <key>offset</key>
        <string>{-223,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,44},{226,152}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{196,146}}</string>
        <key>offset</key>
        <string>{-56,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{50,50},{196,146}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{150,244}}</string>
        <key>offset</key>
        <string>{-87,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{77,0},{150,244}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,796},{128,150}}</string>
        <key>offset</key>
        <string>{-116,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{75,38},{128,150}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,0},{138,192}}</string>
        <key>offset</key>
        <string>{-184,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{47,19},{138,192}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,722},{128,78}}</string>
        <key>offset</key>
        <string>{-99,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,85},{128,78}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,218},{180,202}}</string>
        <key>offset</key>
        <string>{-62,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{60,26},{180,202}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,250},{238,100}}</string>
        <key>offset</key>
        <string>{-55,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{23,70},{238,100}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,612},{182,158}}</string>
        <key>offset</key>
        <string>{-90,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{48,36},{182,158}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,802},{118,108}}</string>
        <key>offset</key>
        <string>{-168,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{51,55},{118,108}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,704},{214,118}}</string>
        <key>offset</key>
        <string>{-59,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,68},{214,118}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,238},{236,150}}</string>
        <key>offset</key>
        <string>{-19,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{27,62},{236,150}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,500},{246,110}}</string>
        <key>offset</key>
        <string>{-24,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,61},{246,110}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,920},{158,90}}</string>
        <key>offset</key>
        <string>{-173,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{40,82},{158,90}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,0},{160,46}}</string>
        <key>offset</key>
        <string>{-72,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,102},{160,46}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,140},{158,188}}</string>
        <key>offset</key>
        <string>{-22,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,46},{158,188}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,234},{222,144}}</string>
        <key>offset</key>
        <string>{9,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{41,64},{222,144}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,422},{182,188}}</string>
        <key>offset</key>
        <string>{-150,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,20},{182,188}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,198},{82,44}}</string>
        <key>offset</key>
        <string>{-133,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,97},{82,44}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{142,216}}</string>
        <key>offset</key>
        <string>{-102,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,43},{142,216}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_20010_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,300},{136,186}}</string>
        <key>offset</key>
        <string>{-34,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,57},{136,186}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20010_1_4.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20010_1_4.png</string>
    </dict>
  </dict>
</plist>