<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3002_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{25,33}}</string>
        <key>offset</key>
        <string>{45,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,33}}</string>
        <key>sourceSize</key>
        <string>{25,33}</string>
      </dict>
      <key>weapon_3002_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,79},{35,17}}</string>
        <key>offset</key>
        <string>{-11,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,17}}</string>
        <key>sourceSize</key>
        <string>{35,17}</string>
      </dict>
      <key>weapon_3002_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,25},{18,37}}</string>
        <key>offset</key>
        <string>{21,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,37}}</string>
        <key>sourceSize</key>
        <string>{18,37}</string>
      </dict>
      <key>weapon_3002_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,148},{32,19}}</string>
        <key>offset</key>
        <string>{40,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,19}}</string>
        <key>sourceSize</key>
        <string>{32,19}</string>
      </dict>
      <key>weapon_3002_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,240},{16,12}}</string>
        <key>offset</key>
        <string>{6,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,12}}</string>
        <key>sourceSize</key>
        <string>{16,12}</string>
      </dict>
      <key>weapon_3002_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,249},{4,11}}</string>
        <key>offset</key>
        <string>{33,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,11}}</string>
        <key>sourceSize</key>
        <string>{4,11}</string>
      </dict>
      <key>weapon_3002_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,229},{21,22}}</string>
        <key>offset</key>
        <string>{41,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,22}}</string>
        <key>sourceSize</key>
        <string>{21,22}</string>
      </dict>
      <key>weapon_3002_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,60},{32,11}}</string>
        <key>offset</key>
        <string>{-34,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,11}}</string>
        <key>sourceSize</key>
        <string>{32,11}</string>
      </dict>
      <key>weapon_3002_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,108},{34,21}}</string>
        <key>offset</key>
        <string>{1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>weapon_3002_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,47},{10,12}}</string>
        <key>offset</key>
        <string>{56,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,12}}</string>
        <key>sourceSize</key>
        <string>{10,12}</string>
      </dict>
      <key>weapon_3002_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,148},{18,19}}</string>
        <key>offset</key>
        <string>{42,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>weapon_3002_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,129},{17,13}}</string>
        <key>offset</key>
        <string>{41,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
      </dict>
      <key>weapon_3002_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,229},{11,18}}</string>
        <key>offset</key>
        <string>{22,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>weapon_3002_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,177},{26,31}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,31}}</string>
        <key>sourceSize</key>
        <string>{26,31}</string>
      </dict>
      <key>weapon_3002_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{38,12}}</string>
        <key>offset</key>
        <string>{-13,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,12}}</string>
        <key>sourceSize</key>
        <string>{38,12}</string>
      </dict>
      <key>weapon_3002_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,197},{24,9}}</string>
        <key>offset</key>
        <string>{36,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,9}}</string>
        <key>sourceSize</key>
        <string>{24,9}</string>
      </dict>
      <key>weapon_3002_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{39,7}}</string>
        <key>offset</key>
        <string>{50,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,7}}</string>
        <key>sourceSize</key>
        <string>{39,7}</string>
      </dict>
      <key>weapon_3002_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,91},{35,15}}</string>
        <key>offset</key>
        <string>{31,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,15}}</string>
        <key>sourceSize</key>
        <string>{35,15}</string>
      </dict>
      <key>weapon_3002_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,189},{12,22}}</string>
        <key>offset</key>
        <string>{-3,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,22}}</string>
        <key>sourceSize</key>
        <string>{12,22}</string>
      </dict>
      <key>weapon_3002_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,8},{15,39}}</string>
        <key>offset</key>
        <string>{-1,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,39}}</string>
        <key>sourceSize</key>
        <string>{15,39}</string>
      </dict>
      <key>weapon_3002_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,169},{26,30}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,30}}</string>
        <key>sourceSize</key>
        <string>{26,30}</string>
      </dict>
      <key>weapon_3002_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{35,22}}</string>
        <key>offset</key>
        <string>{2,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,22}}</string>
        <key>sourceSize</key>
        <string>{35,22}</string>
      </dict>
      <key>weapon_3002_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{34,24}}</string>
        <key>offset</key>
        <string>{43,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>weapon_3002_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{30,31}}</string>
        <key>offset</key>
        <string>{21,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,31}}</string>
        <key>sourceSize</key>
        <string>{30,31}</string>
      </dict>
      <key>weapon_3002_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,122},{24,34}}</string>
        <key>offset</key>
        <string>{-24,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,34}}</string>
        <key>sourceSize</key>
        <string>{24,34}</string>
      </dict>
      <key>weapon_3002_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,43},{36,23}}</string>
        <key>offset</key>
        <string>{23,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>weapon_3002_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{15,27}}</string>
        <key>offset</key>
        <string>{6,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,27}}</string>
        <key>sourceSize</key>
        <string>{15,27}</string>
      </dict>
      <key>weapon_3002_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,205},{25,31}}</string>
        <key>offset</key>
        <string>{-19,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,31}}</string>
        <key>sourceSize</key>
        <string>{25,31}</string>
      </dict>
      <key>weapon_3002_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,25},{16,37}}</string>
        <key>offset</key>
        <string>{24,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,37}}</string>
        <key>sourceSize</key>
        <string>{16,37}</string>
      </dict>
      <key>weapon_3002_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{6,40}}</string>
        <key>offset</key>
        <string>{7,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,40}}</string>
        <key>sourceSize</key>
        <string>{6,40}</string>
      </dict>
      <key>weapon_3002_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,98},{22,35}}</string>
        <key>offset</key>
        <string>{-17,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>weapon_3002_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,45},{36,17}}</string>
        <key>offset</key>
        <string>{49,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,17}}</string>
        <key>sourceSize</key>
        <string>{36,17}</string>
      </dict>
      <key>weapon_3002_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,29},{37,16}}</string>
        <key>offset</key>
        <string>{9,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,16}}</string>
        <key>sourceSize</key>
        <string>{37,16}</string>
      </dict>
      <key>weapon_3002_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,9},{14,38}}</string>
        <key>offset</key>
        <string>{-29,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,38}}</string>
        <key>sourceSize</key>
        <string>{14,38}</string>
      </dict>
      <key>weapon_3002_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{16,36}}</string>
        <key>offset</key>
        <string>{-9,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,36}}</string>
        <key>sourceSize</key>
        <string>{16,36}</string>
      </dict>
      <key>weapon_3002_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,197},{26,30}}</string>
        <key>offset</key>
        <string>{-19,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,30}}</string>
        <key>sourceSize</key>
        <string>{26,30}</string>
      </dict>
      <key>weapon_3002_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,47},{11,36}}</string>
        <key>offset</key>
        <string>{14,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,36}}</string>
        <key>sourceSize</key>
        <string>{11,36}</string>
      </dict>
      <key>weapon_3002_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,169},{26,25}}</string>
        <key>offset</key>
        <string>{60,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>weapon_3002_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,60},{36,17}}</string>
        <key>offset</key>
        <string>{22,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,17}}</string>
        <key>sourceSize</key>
        <string>{36,17}</string>
      </dict>
      <key>weapon_3002_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,68},{21,36}}</string>
        <key>offset</key>
        <string>{-16,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,36}}</string>
        <key>sourceSize</key>
        <string>{21,36}</string>
      </dict>
      <key>weapon_3002_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,157},{32,30}}</string>
        <key>offset</key>
        <string>{-34,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,30}</string>
      </dict>
      <key>weapon_3002_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{36,16}}</string>
        <key>offset</key>
        <string>{-23,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,16}}</string>
        <key>sourceSize</key>
        <string>{36,16}</string>
      </dict>
      <key>weapon_3002_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,14},{13,38}}</string>
        <key>offset</key>
        <string>{38,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,38}}</string>
        <key>sourceSize</key>
        <string>{13,38}</string>
      </dict>
      <key>weapon_3002_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,98},{14,29}}</string>
        <key>offset</key>
        <string>{34,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,29}}</string>
        <key>sourceSize</key>
        <string>{14,29}</string>
      </dict>
      <key>weapon_3002_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,131},{24,34}}</string>
        <key>offset</key>
        <string>{31,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,34}}</string>
        <key>sourceSize</key>
        <string>{24,34}</string>
      </dict>
      <key>weapon_3002_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,197},{26,28}}</string>
        <key>offset</key>
        <string>{9,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,28}}</string>
        <key>sourceSize</key>
        <string>{26,28}</string>
      </dict>
      <key>weapon_3002_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,238},{29,14}}</string>
        <key>offset</key>
        <string>{-25,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,14}}</string>
        <key>sourceSize</key>
        <string>{29,14}</string>
      </dict>
      <key>weapon_3002_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,225},{18,13}}</string>
        <key>offset</key>
        <string>{-1,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,13}}</string>
        <key>sourceSize</key>
        <string>{18,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3002_0_2.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3002_0_2.png</string>
    </dict>
  </dict>
</plist>