<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0248_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{184,98}}</string>
        <key>offset</key>
        <string>{-117,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{167,113},{184,98}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{168,116}}</string>
        <key>offset</key>
        <string>{-124,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{168,95},{168,116}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,162},{146,128}}</string>
        <key>offset</key>
        <string>{-126,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{177,76},{146,128}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{174,74}}</string>
        <key>offset</key>
        <string>{-146,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{143,152},{174,74}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,336},{156,64}}</string>
        <key>offset</key>
        <string>{-138,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,140},{156,64}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{194,76}}</string>
        <key>offset</key>
        <string>{-117,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{162,134},{194,76}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,310},{54,92}}</string>
        <key>offset</key>
        <string>{-186,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,154},{54,92}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,130},{64,56}}</string>
        <key>offset</key>
        <string>{-172,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{172,163},{64,56}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,176},{172,108}}</string>
        <key>offset</key>
        <string>{-152,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{138,136},{172,108}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{128,78}}</string>
        <key>offset</key>
        <string>{-228,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,144},{128,78}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,436},{118,54}}</string>
        <key>offset</key>
        <string>{-218,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{99,144},{118,54}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,310},{50,124}}</string>
        <key>offset</key>
        <string>{-192,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{159,139},{50,124}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,196},{188,76}}</string>
        <key>offset</key>
        <string>{-236,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,116},{188,76}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,372},{178,96}}</string>
        <key>offset</key>
        <string>{-230,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,97},{178,96}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,0},{144,110}}</string>
        <key>offset</key>
        <string>{-224,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,127},{144,110}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,184},{176,138}}</string>
        <key>offset</key>
        <string>{-208,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,58},{176,138}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,350},{154,164}}</string>
        <key>offset</key>
        <string>{-215,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,45},{154,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{194,70}}</string>
        <key>offset</key>
        <string>{-235,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{44,122},{194,70}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,186},{62,184}}</string>
        <key>offset</key>
        <string>{-165,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{180,33},{62,184}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{62,190}}</string>
        <key>offset</key>
        <string>{-179,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{166,17},{62,190}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{160,108}}</string>
        <key>offset</key>
        <string>{-207,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,77},{160,108}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,170},{112,164}}</string>
        <key>offset</key>
        <string>{-127,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{193,57},{112,164}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{102,182}}</string>
        <key>offset</key>
        <string>{-138,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{187,41},{102,182}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>weapon_0248_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{36,152}}</string>
        <key>offset</key>
        <string>{-165,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{193,51},{36,152}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0248_1_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0248_1_7.png</string>
    </dict>
  </dict>
</plist>