<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3032_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,118},{8,14}}</string>
        <key>offset</key>
        <string>{34,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,14}}</string>
        <key>sourceSize</key>
        <string>{8,14}</string>
      </dict>
      <key>weapon_3032_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,53},{7,19}}</string>
        <key>offset</key>
        <string>{34,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,19}}</string>
        <key>sourceSize</key>
        <string>{7,19}</string>
      </dict>
      <key>weapon_3032_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,48},{3,21}}</string>
        <key>offset</key>
        <string>{35,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{3,21}}</string>
        <key>sourceSize</key>
        <string>{3,21}</string>
      </dict>
      <key>weapon_3032_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,27},{2,24}}</string>
        <key>offset</key>
        <string>{33,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{2,24}}</string>
        <key>sourceSize</key>
        <string>{2,24}</string>
      </dict>
      <key>weapon_3032_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,15},{5,19}}</string>
        <key>offset</key>
        <string>{33,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,19}}</string>
        <key>sourceSize</key>
        <string>{5,19}</string>
      </dict>
      <key>weapon_3032_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,91},{8,15}}</string>
        <key>offset</key>
        <string>{34,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,15}}</string>
        <key>sourceSize</key>
        <string>{8,15}</string>
      </dict>
      <key>weapon_3032_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{19,5}}</string>
        <key>offset</key>
        <string>{24,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,5}}</string>
        <key>sourceSize</key>
        <string>{19,5}</string>
      </dict>
      <key>weapon_3032_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,53},{20,9}}</string>
        <key>offset</key>
        <string>{27,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
      <key>weapon_3032_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{20,14}}</string>
        <key>offset</key>
        <string>{32,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,14}}</string>
        <key>sourceSize</key>
        <string>{20,14}</string>
      </dict>
      <key>weapon_3032_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,22},{19,17}}</string>
        <key>offset</key>
        <string>{34,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>weapon_3032_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,53},{20,9}}</string>
        <key>offset</key>
        <string>{29,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
      <key>weapon_3032_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,44},{19,4}}</string>
        <key>offset</key>
        <string>{26,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,4}}</string>
        <key>sourceSize</key>
        <string>{19,4}</string>
      </dict>
      <key>weapon_3032_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,25},{22,13}}</string>
        <key>offset</key>
        <string>{12,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,13}}</string>
        <key>sourceSize</key>
        <string>{22,13}</string>
      </dict>
      <key>weapon_3032_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{25,8}}</string>
        <key>offset</key>
        <string>{15,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,8}}</string>
        <key>sourceSize</key>
        <string>{25,8}</string>
      </dict>
      <key>weapon_3032_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,27},{25,3}}</string>
        <key>offset</key>
        <string>{23,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,3}}</string>
        <key>sourceSize</key>
        <string>{25,3}</string>
      </dict>
      <key>weapon_3032_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{25,5}}</string>
        <key>offset</key>
        <string>{28,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,5}}</string>
        <key>sourceSize</key>
        <string>{25,5}</string>
      </dict>
      <key>weapon_3032_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,27},{25,6}}</string>
        <key>offset</key>
        <string>{20,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,6}}</string>
        <key>sourceSize</key>
        <string>{25,6}</string>
      </dict>
      <key>weapon_3032_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,26},{23,11}}</string>
        <key>offset</key>
        <string>{15,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,11}}</string>
        <key>sourceSize</key>
        <string>{23,11}</string>
      </dict>
      <key>weapon_3032_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,0},{14,23}}</string>
        <key>offset</key>
        <string>{8,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,23}}</string>
        <key>sourceSize</key>
        <string>{14,23}</string>
      </dict>
      <key>weapon_3032_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,22},{18,20}}</string>
        <key>offset</key>
        <string>{10,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>weapon_3032_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{20,16}}</string>
        <key>offset</key>
        <string>{14,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,16}}</string>
        <key>sourceSize</key>
        <string>{20,16}</string>
      </dict>
      <key>weapon_3032_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{20,13}}</string>
        <key>offset</key>
        <string>{19,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,13}}</string>
        <key>sourceSize</key>
        <string>{20,13}</string>
      </dict>
      <key>weapon_3032_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{19,17}}</string>
        <key>offset</key>
        <string>{14,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>weapon_3032_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{16,22}}</string>
        <key>offset</key>
        <string>{10,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>weapon_3032_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,51},{10,23}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,23}}</string>
        <key>sourceSize</key>
        <string>{10,23}</string>
      </dict>
      <key>weapon_3032_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,44},{7,20}}</string>
        <key>offset</key>
        <string>{5,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,20}}</string>
        <key>sourceSize</key>
        <string>{7,20}</string>
      </dict>
      <key>weapon_3032_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,61},{4,19}}</string>
        <key>offset</key>
        <string>{8,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,19}}</string>
        <key>sourceSize</key>
        <string>{4,19}</string>
      </dict>
      <key>weapon_3032_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,22},{3,20}}</string>
        <key>offset</key>
        <string>{10,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{3,20}}</string>
        <key>sourceSize</key>
        <string>{3,20}</string>
      </dict>
      <key>weapon_3032_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,24},{6,21}}</string>
        <key>offset</key>
        <string>{7,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,21}}</string>
        <key>sourceSize</key>
        <string>{6,21}</string>
      </dict>
      <key>weapon_3032_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,24},{8,22}}</string>
        <key>offset</key>
        <string>{5,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,22}}</string>
        <key>sourceSize</key>
        <string>{8,22}</string>
      </dict>
      <key>weapon_3032_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,101},{15,10}}</string>
        <key>offset</key>
        <string>{2,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,10}}</string>
        <key>sourceSize</key>
        <string>{15,10}</string>
      </dict>
      <key>weapon_3032_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{17,9}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,9}}</string>
        <key>sourceSize</key>
        <string>{17,9}</string>
      </dict>
      <key>weapon_3032_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,50},{19,9}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,9}}</string>
        <key>sourceSize</key>
        <string>{19,9}</string>
      </dict>
      <key>weapon_3032_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,71},{18,6}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,6}}</string>
        <key>sourceSize</key>
        <string>{18,6}</string>
      </dict>
      <key>weapon_3032_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,62},{19,8}}</string>
        <key>offset</key>
        <string>{-2,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,8}}</string>
        <key>sourceSize</key>
        <string>{19,8}</string>
      </dict>
      <key>weapon_3032_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{11,101},{16,9}}</string>
        <key>offset</key>
        <string>{1,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,9}}</string>
        <key>sourceSize</key>
        <string>{16,9}</string>
      </dict>
      <key>weapon_3032_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,0},{25,4}}</string>
        <key>offset</key>
        <string>{10,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,4}}</string>
        <key>sourceSize</key>
        <string>{25,4}</string>
      </dict>
      <key>weapon_3032_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,27},{25,5}}</string>
        <key>offset</key>
        <string>{5,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,5}}</string>
        <key>sourceSize</key>
        <string>{25,5}</string>
      </dict>
      <key>weapon_3032_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,22},{20,5}}</string>
        <key>offset</key>
        <string>{-2,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,5}}</string>
        <key>sourceSize</key>
        <string>{20,5}</string>
      </dict>
      <key>weapon_3032_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,0},{24,8}}</string>
        <key>offset</key>
        <string>{-5,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,8}}</string>
        <key>sourceSize</key>
        <string>{24,8}</string>
      </dict>
      <key>weapon_3032_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,21},{18,3}}</string>
        <key>offset</key>
        <string>{1,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,3}}</string>
        <key>sourceSize</key>
        <string>{18,3}</string>
      </dict>
      <key>weapon_3032_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,0},{25,3}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,3}}</string>
        <key>sourceSize</key>
        <string>{25,3}</string>
      </dict>
      <key>weapon_3032_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,101},{11,7}}</string>
        <key>offset</key>
        <string>{28,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,7}}</string>
        <key>sourceSize</key>
        <string>{11,7}</string>
      </dict>
      <key>weapon_3032_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,91},{9,8}}</string>
        <key>offset</key>
        <string>{28,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,8}}</string>
        <key>sourceSize</key>
        <string>{9,8}</string>
      </dict>
      <key>weapon_3032_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,80},{19,19}}</string>
        <key>offset</key>
        <string>{13,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,19}}</string>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>weapon_3032_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{11,119},{7,8}}</string>
        <key>offset</key>
        <string>{10,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,8}}</string>
        <key>sourceSize</key>
        <string>{7,8}</string>
      </dict>
      <key>weapon_3032_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,63},{18,19}}</string>
        <key>offset</key>
        <string>{14,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>weapon_3032_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,114},{8,9}}</string>
        <key>offset</key>
        <string>{28,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,9}}</string>
        <key>sourceSize</key>
        <string>{8,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3032_0_1.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3032_0_1.png</string>
    </dict>
  </dict>
</plist>