<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0281_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,313},{124,87}}</string>
        <key>offset</key>
        <string>{7,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{124,87}</string>
        <key>sourceSize</key>
        <string>{124,87}</string>
      </dict>
      <key>weapon_0281_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,802},{172,107}}</string>
        <key>offset</key>
        <string>{-100,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{172,107}</string>
        <key>sourceSize</key>
        <string>{172,107}</string>
      </dict>
      <key>weapon_0281_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{149,95}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{149,95}</string>
        <key>sourceSize</key>
        <string>{149,95}</string>
      </dict>
      <key>weapon_0281_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{86,119}}</string>
        <key>offset</key>
        <string>{-5,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{86,119}</string>
        <key>sourceSize</key>
        <string>{86,119}</string>
      </dict>
      <key>weapon_0281_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{106,183}}</string>
        <key>offset</key>
        <string>{-9,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{106,183}</string>
        <key>sourceSize</key>
        <string>{106,183}</string>
      </dict>
      <key>weapon_0281_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,912},{176,98}}</string>
        <key>offset</key>
        <string>{-9,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{176,98}</string>
        <key>sourceSize</key>
        <string>{176,98}</string>
      </dict>
      <key>weapon_0281_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,439},{95,64}}</string>
        <key>offset</key>
        <string>{-20,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{95,64}</string>
        <key>sourceSize</key>
        <string>{95,64}</string>
      </dict>
      <key>weapon_0281_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{210,73}}</string>
        <key>offset</key>
        <string>{-138,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{210,73}</string>
        <key>sourceSize</key>
        <string>{210,73}</string>
      </dict>
      <key>weapon_0281_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,536},{69,90}}</string>
        <key>offset</key>
        <string>{21,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{69,90}</string>
        <key>sourceSize</key>
        <string>{69,90}</string>
      </dict>
      <key>weapon_0281_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,548},{166,75}}</string>
        <key>offset</key>
        <string>{5,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{166,75}</string>
        <key>sourceSize</key>
        <string>{166,75}</string>
      </dict>
      <key>weapon_0281_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,548},{165,137}}</string>
        <key>offset</key>
        <string>{-6,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,137}</string>
        <key>sourceSize</key>
        <string>{165,137}</string>
      </dict>
      <key>weapon_0281_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{114,111}}</string>
        <key>offset</key>
        <string>{6,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{114,111}</string>
        <key>sourceSize</key>
        <string>{114,111}</string>
      </dict>
      <key>weapon_0281_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,841},{138,61}}</string>
        <key>offset</key>
        <string>{-84,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{138,61}</string>
        <key>sourceSize</key>
        <string>{138,61}</string>
      </dict>
      <key>weapon_0281_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,487},{136,113}}</string>
        <key>offset</key>
        <string>{-86,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{136,113}</string>
        <key>sourceSize</key>
        <string>{136,113}</string>
      </dict>
      <key>weapon_0281_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,149},{122,61}}</string>
        <key>offset</key>
        <string>{-44,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{122,61}</string>
        <key>sourceSize</key>
        <string>{122,61}</string>
      </dict>
      <key>weapon_0281_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,635},{205,55}}</string>
        <key>offset</key>
        <string>{2,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{205,55}</string>
        <key>sourceSize</key>
        <string>{205,55}</string>
      </dict>
      <key>weapon_0281_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{196,56}}</string>
        <key>offset</key>
        <string>{-15,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{196,56}</string>
        <key>sourceSize</key>
        <string>{196,56}</string>
      </dict>
      <key>weapon_0281_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,113},{87,96}}</string>
        <key>offset</key>
        <string>{-21,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{87,96}</string>
        <key>sourceSize</key>
        <string>{87,96}</string>
      </dict>
      <key>weapon_0281_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,331},{154,117}}</string>
        <key>offset</key>
        <string>{-108,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,117}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>weapon_0281_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,625},{56,136}}</string>
        <key>offset</key>
        <string>{-6,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{56,136}</string>
        <key>sourceSize</key>
        <string>{56,136}</string>
      </dict>
      <key>weapon_0281_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,169},{160,89}}</string>
        <key>offset</key>
        <string>{-90,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{160,89}</string>
        <key>sourceSize</key>
        <string>{160,89}</string>
      </dict>
      <key>weapon_0281_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,683},{136,127}}</string>
        <key>offset</key>
        <string>{3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{136,127}</string>
        <key>sourceSize</key>
        <string>{136,127}</string>
      </dict>
      <key>weapon_0281_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,313},{129,61}}</string>
        <key>offset</key>
        <string>{-11,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{129,61}</string>
        <key>sourceSize</key>
        <string>{129,61}</string>
      </dict>
      <key>weapon_0281_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,0},{147,56}}</string>
        <key>offset</key>
        <string>{-87,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{147,56}</string>
        <key>sourceSize</key>
        <string>{147,56}</string>
      </dict>
      <key>weapon_0281_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,372},{123,174}}</string>
        <key>offset</key>
        <string>{-84,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{123,174}</string>
        <key>sourceSize</key>
        <string>{123,174}</string>
      </dict>
      <key>weapon_0281_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,194},{173,99}}</string>
        <key>offset</key>
        <string>{-25,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{173,99}</string>
        <key>sourceSize</key>
        <string>{173,99}</string>
      </dict>
      <key>weapon_0281_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{146,155}}</string>
        <key>offset</key>
        <string>{-95,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,155}</string>
        <key>sourceSize</key>
        <string>{146,155}</string>
      </dict>
      <key>weapon_0281_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,157},{85,154}}</string>
        <key>offset</key>
        <string>{-32,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{85,154}</string>
        <key>sourceSize</key>
        <string>{85,154}</string>
      </dict>
      <key>weapon_0281_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,716},{106,83}}</string>
        <key>offset</key>
        <string>{-50,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{106,83}</string>
        <key>sourceSize</key>
        <string>{106,83}</string>
      </dict>
      <key>weapon_0281_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,624},{176,120}}</string>
        <key>offset</key>
        <string>{-119,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{176,120}</string>
        <key>sourceSize</key>
        <string>{176,120}</string>
      </dict>
      <key>weapon_0281_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{96,209}}</string>
        <key>offset</key>
        <string>{-29,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{96,209}</string>
        <key>sourceSize</key>
        <string>{96,209}</string>
      </dict>
      <key>weapon_0281_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{210,119}}</string>
        <key>offset</key>
        <string>{-24,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{210,119}</string>
        <key>sourceSize</key>
        <string>{210,119}</string>
      </dict>
      <key>weapon_0281_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,842},{68,202}}</string>
        <key>offset</key>
        <string>{-42,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{68,202}</string>
        <key>sourceSize</key>
        <string>{68,202}</string>
      </dict>
      <key>weapon_0281_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{167,116}}</string>
        <key>offset</key>
        <string>{-124,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{167,116}</string>
        <key>sourceSize</key>
        <string>{167,116}</string>
      </dict>
      <key>weapon_0281_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,911},{167,102}}</string>
        <key>offset</key>
        <string>{-112,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{167,102}</string>
        <key>sourceSize</key>
        <string>{167,102}</string>
      </dict>
      <key>weapon_0281_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,194},{110,176}}</string>
        <key>offset</key>
        <string>{-72,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{110,176}</string>
        <key>sourceSize</key>
        <string>{110,176}</string>
      </dict>
      <key>weapon_0281_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{139,192}}</string>
        <key>offset</key>
        <string>{-7,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{139,192}</string>
        <key>sourceSize</key>
        <string>{139,192}</string>
      </dict>
      <key>weapon_0281_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,845},{138,141}}</string>
        <key>offset</key>
        <string>{-3,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{138,141}</string>
        <key>sourceSize</key>
        <string>{138,141}</string>
      </dict>
      <key>weapon_0281_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,211},{123,197}}</string>
        <key>offset</key>
        <string>{-32,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{123,197}</string>
        <key>sourceSize</key>
        <string>{123,197}</string>
      </dict>
      <key>weapon_0281_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,424},{209,114}}</string>
        <key>offset</key>
        <string>{-160,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{209,114}</string>
        <key>sourceSize</key>
        <string>{209,114}</string>
      </dict>
      <key>weapon_0281_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,424},{198,135}}</string>
        <key>offset</key>
        <string>{-134,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{198,135}</string>
        <key>sourceSize</key>
        <string>{198,135}</string>
      </dict>
      <key>weapon_0281_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,635},{88,202}}</string>
        <key>offset</key>
        <string>{-18,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{88,202}</string>
        <key>sourceSize</key>
        <string>{88,202}</string>
      </dict>
      <key>weapon_0281_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,157},{154,136}}</string>
        <key>offset</key>
        <string>{3,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{154,136}</string>
        <key>sourceSize</key>
        <string>{154,136}</string>
      </dict>
      <key>weapon_0281_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,699},{56,144}}</string>
        <key>offset</key>
        <string>{-2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{56,144}</string>
        <key>sourceSize</key>
        <string>{56,144}</string>
      </dict>
      <key>weapon_0281_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,536},{161,145}}</string>
        <key>offset</key>
        <string>{-22,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{161,145}</string>
        <key>sourceSize</key>
        <string>{161,145}</string>
      </dict>
      <key>weapon_0281_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,699},{140,134}}</string>
        <key>offset</key>
        <string>{-94,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{140,134}</string>
        <key>sourceSize</key>
        <string>{140,134}</string>
      </dict>
      <key>weapon_0281_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,715},{128,163}}</string>
        <key>offset</key>
        <string>{-71,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,163}</string>
        <key>sourceSize</key>
        <string>{128,163}</string>
      </dict>
      <key>weapon_0281_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,369},{147,165}}</string>
        <key>offset</key>
        <string>{-11,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{147,165}</string>
        <key>sourceSize</key>
        <string>{147,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0281_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0281_0_10.png</string>
    </dict>
  </dict>
</plist>