<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0270_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,262},{76,92}}</string>
        <key>offset</key>
        <string>{11,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,6},{76,92}}</string>
        <key>sourceSize</key>
        <string>{98,110}</string>
      </dict>
      <key>weapon_0270_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,182},{174,68}}</string>
        <key>offset</key>
        <string>{-143,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,20},{174,68}}</string>
        <key>sourceSize</key>
        <string>{191,105}</string>
      </dict>
      <key>weapon_0270_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{136,132}}</string>
        <key>offset</key>
        <string>{-85,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,13},{136,132}}</string>
        <key>sourceSize</key>
        <string>{156,153}</string>
      </dict>
      <key>weapon_0270_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,122},{76,78}}</string>
        <key>offset</key>
        <string>{10,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,11},{76,78}}</string>
        <key>sourceSize</key>
        <string>{101,102}</string>
      </dict>
      <key>weapon_0270_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,670},{80,150}}</string>
        <key>offset</key>
        <string>{-46,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,5},{80,150}}</string>
        <key>sourceSize</key>
        <string>{110,169}</string>
      </dict>
      <key>weapon_0270_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,488},{66,140}}</string>
        <key>offset</key>
        <string>{-20,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,3},{66,140}}</string>
        <key>sourceSize</key>
        <string>{95,156}</string>
      </dict>
      <key>weapon_0270_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,404},{100,92}}</string>
        <key>offset</key>
        <string>{-29,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,6},{100,92}}</string>
        <key>sourceSize</key>
        <string>{119,120}</string>
      </dict>
      <key>weapon_0270_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,822},{150,108}}</string>
        <key>offset</key>
        <string>{-154,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,7},{150,108}}</string>
        <key>sourceSize</key>
        <string>{171,132}</string>
      </dict>
      <key>weapon_0270_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{152,84}}</string>
        <key>offset</key>
        <string>{-114,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,19},{152,84}}</string>
        <key>sourceSize</key>
        <string>{173,113}</string>
      </dict>
      <key>weapon_0270_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,708},{112,58}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,11},{112,58}}</string>
        <key>sourceSize</key>
        <string>{133,78}</string>
      </dict>
      <key>weapon_0270_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,138},{100,136}}</string>
        <key>offset</key>
        <string>{21,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,5},{100,136}}</string>
        <key>sourceSize</key>
        <string>{120,156}</string>
      </dict>
      <key>weapon_0270_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{110,120}}</string>
        <key>offset</key>
        <string>{17,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{18,6},{110,120}}</string>
        <key>sourceSize</key>
        <string>{135,140}</string>
      </dict>
      <key>weapon_0270_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,138},{110,122}}</string>
        <key>offset</key>
        <string>{-79,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,8},{110,122}}</string>
        <key>sourceSize</key>
        <string>{131,145}</string>
      </dict>
      <key>weapon_0270_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,154},{64,138}}</string>
        <key>offset</key>
        <string>{-80,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,9},{64,138}}</string>
        <key>sourceSize</key>
        <string>{86,160}</string>
      </dict>
      <key>weapon_0270_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,630},{104,74}}</string>
        <key>offset</key>
        <string>{-79,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,13},{104,74}}</string>
        <key>sourceSize</key>
        <string>{126,101}</string>
      </dict>
      <key>weapon_0270_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,856},{156,78}}</string>
        <key>offset</key>
        <string>{-84,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,9},{156,78}}</string>
        <key>sourceSize</key>
        <string>{177,106}</string>
      </dict>
      <key>weapon_0270_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,358},{172,84}}</string>
        <key>offset</key>
        <string>{25,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,7},{172,84}}</string>
        <key>sourceSize</key>
        <string>{186,110}</string>
      </dict>
      <key>weapon_0270_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{178,70}}</string>
        <key>offset</key>
        <string>{10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,16},{178,70}}</string>
        <key>sourceSize</key>
        <string>{190,105}</string>
      </dict>
      <key>weapon_0270_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,172},{90,158}}</string>
        <key>offset</key>
        <string>{-92,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,8},{90,158}}</string>
        <key>sourceSize</key>
        <string>{116,180}</string>
      </dict>
      <key>weapon_0270_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,822},{112,134}}</string>
        <key>offset</key>
        <string>{-36,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{17,6},{112,134}}</string>
        <key>sourceSize</key>
        <string>{138,153}</string>
      </dict>
      <key>weapon_0270_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,262},{66,88}}</string>
        <key>offset</key>
        <string>{-30,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{16,8},{66,88}}</string>
        <key>sourceSize</key>
        <string>{89,109}</string>
      </dict>
      <key>weapon_0270_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,458},{130,132}}</string>
        <key>offset</key>
        <string>{-94,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,9},{130,132}}</string>
        <key>sourceSize</key>
        <string>{143,147}</string>
      </dict>
      <key>weapon_0270_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{158,80}}</string>
        <key>offset</key>
        <string>{16,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,15},{158,80}}</string>
        <key>sourceSize</key>
        <string>{174,108}</string>
      </dict>
      <key>weapon_0270_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,332},{154,102}}</string>
        <key>offset</key>
        <string>{-6,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,12},{154,102}}</string>
        <key>sourceSize</key>
        <string>{170,125}</string>
      </dict>
      <key>weapon_0270_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{78,176}}</string>
        <key>offset</key>
        <string>{-66,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,8},{78,176}}</string>
        <key>sourceSize</key>
        <string>{107,190}</string>
      </dict>
      <key>weapon_0270_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{174,94}}</string>
        <key>offset</key>
        <string>{-1,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,8},{174,94}}</string>
        <key>sourceSize</key>
        <string>{191,115}</string>
      </dict>
      <key>weapon_0270_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{136,90}}</string>
        <key>offset</key>
        <string>{-24,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,12},{136,90}}</string>
        <key>sourceSize</key>
        <string>{157,116}</string>
      </dict>
      <key>weapon_0270_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,176},{78,172}}</string>
        <key>offset</key>
        <string>{-66,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,8},{78,172}}</string>
        <key>sourceSize</key>
        <string>{106,188}</string>
      </dict>
      <key>weapon_0270_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,592},{76,114}}</string>
        <key>offset</key>
        <string>{-9,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,15},{76,114}}</string>
        <key>sourceSize</key>
        <string>{94,137}</string>
      </dict>
      <key>weapon_0270_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,958},{64,130}}</string>
        <key>offset</key>
        <string>{-20,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,16},{64,130}}</string>
        <key>sourceSize</key>
        <string>{80,154}</string>
      </dict>
      <key>weapon_0270_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,716},{100,168}}</string>
        <key>offset</key>
        <string>{-45,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,8},{100,168}}</string>
        <key>sourceSize</key>
        <string>{120,181}</string>
      </dict>
      <key>weapon_0270_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,670},{150,90}}</string>
        <key>offset</key>
        <string>{30,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,13},{150,90}}</string>
        <key>sourceSize</key>
        <string>{169,114}</string>
      </dict>
      <key>weapon_0270_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,512},{156,124}}</string>
        <key>offset</key>
        <string>{-12,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,13},{156,124}}</string>
        <key>sourceSize</key>
        <string>{171,147}</string>
      </dict>
      <key>weapon_0270_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,350},{114,160}}</string>
        <key>offset</key>
        <string>{-64,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{13,8},{114,160}}</string>
        <key>sourceSize</key>
        <string>{136,179}</string>
      </dict>
      <key>weapon_0270_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,888},{104,116}}</string>
        <key>offset</key>
        <string>{-101,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,13},{104,116}}</string>
        <key>sourceSize</key>
        <string>{134,142}</string>
      </dict>
      <key>weapon_0270_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,276},{112,126}}</string>
        <key>offset</key>
        <string>{-107,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,13},{112,126}}</string>
        <key>sourceSize</key>
        <string>{140,146}</string>
      </dict>
      <key>weapon_0270_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,316},{114,140}}</string>
        <key>offset</key>
        <string>{-9,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,10},{114,140}}</string>
        <key>sourceSize</key>
        <string>{138,165}</string>
      </dict>
      <key>weapon_0270_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,766},{66,120}}</string>
        <key>offset</key>
        <string>{34,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{20,12},{66,120}}</string>
        <key>sourceSize</key>
        <string>{97,140}</string>
      </dict>
      <key>weapon_0270_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,532},{108,162}}</string>
        <key>offset</key>
        <string>{-3,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,12},{108,162}}</string>
        <key>sourceSize</key>
        <string>{132,182}</string>
      </dict>
      <key>weapon_0270_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,886},{158,126}}</string>
        <key>offset</key>
        <string>{-47,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,8},{158,126}}</string>
        <key>sourceSize</key>
        <string>{179,148}</string>
      </dict>
      <key>weapon_0270_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{174,86}}</string>
        <key>offset</key>
        <string>{-164,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,12},{174,86}}</string>
        <key>sourceSize</key>
        <string>{187,115}</string>
      </dict>
      <key>weapon_0270_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,86}}</string>
        <key>offset</key>
        <string>{-152,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,13},{180,86}}</string>
        <key>sourceSize</key>
        <string>{189,113}</string>
      </dict>
      <key>weapon_0270_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,404},{86,112}}</string>
        <key>offset</key>
        <string>{22,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{20,10},{86,112}}</string>
        <key>sourceSize</key>
        <string>{118,136}</string>
      </dict>
      <key>weapon_0270_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,518},{110,104}}</string>
        <key>offset</key>
        <string>{-53,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,12},{110,104}}</string>
        <key>sourceSize</key>
        <string>{133,123}</string>
      </dict>
      <key>weapon_0270_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{68,170}}</string>
        <key>offset</key>
        <string>{-16,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,6},{68,170}}</string>
        <key>sourceSize</key>
        <string>{96,186}</string>
      </dict>
      <key>weapon_0270_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,630},{134,92}}</string>
        <key>offset</key>
        <string>{-9,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,12},{134,92}}</string>
        <key>sourceSize</key>
        <string>{154,117}</string>
      </dict>
      <key>weapon_0270_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,696},{158,112}}</string>
        <key>offset</key>
        <string>{-143,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{158,112}}</string>
        <key>sourceSize</key>
        <string>{174,133}</string>
      </dict>
      <key>weapon_0270_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,160},{154,102}}</string>
        <key>offset</key>
        <string>{-117,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,11},{154,102}}</string>
        <key>sourceSize</key>
        <string>{170,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0270_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0270_1_2.png</string>
    </dict>
  </dict>
</plist>