<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10102_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,173},{19,42}}</string>
        <key>offset</key>
        <string>{30,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,42}}</string>
        <key>sourceSize</key>
        <string>{19,42}</string>
      </dict>
      <key>weapon_10102_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,195},{19,42}}</string>
        <key>offset</key>
        <string>{30,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,42}}</string>
        <key>sourceSize</key>
        <string>{19,42}</string>
      </dict>
      <key>weapon_10102_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,64},{19,42}}</string>
        <key>offset</key>
        <string>{30,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,42}}</string>
        <key>sourceSize</key>
        <string>{19,42}</string>
      </dict>
      <key>weapon_10102_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,108},{19,41}}</string>
        <key>offset</key>
        <string>{30,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,41}}</string>
        <key>sourceSize</key>
        <string>{19,41}</string>
      </dict>
      <key>weapon_10102_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{70,30}}</string>
        <key>offset</key>
        <string>{18,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,30}}</string>
        <key>sourceSize</key>
        <string>{70,30}</string>
      </dict>
      <key>weapon_10102_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,220},{71,32}}</string>
        <key>offset</key>
        <string>{18,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,32}}</string>
        <key>sourceSize</key>
        <string>{71,32}</string>
      </dict>
      <key>weapon_10102_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{70,35}}</string>
        <key>offset</key>
        <string>{19,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,35}}</string>
        <key>sourceSize</key>
        <string>{70,35}</string>
      </dict>
      <key>weapon_10102_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,220},{69,33}}</string>
        <key>offset</key>
        <string>{19,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,33}}</string>
        <key>sourceSize</key>
        <string>{69,33}</string>
      </dict>
      <key>weapon_10102_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{90,35}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,35}}</string>
        <key>sourceSize</key>
        <string>{90,35}</string>
      </dict>
      <key>weapon_10102_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,34}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,34}}</string>
        <key>sourceSize</key>
        <string>{91,34}</string>
      </dict>
      <key>weapon_10102_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,184},{89,34}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,34}}</string>
        <key>sourceSize</key>
        <string>{89,34}</string>
      </dict>
      <key>weapon_10102_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,93},{90,34}}</string>
        <key>offset</key>
        <string>{7,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,34}}</string>
        <key>sourceSize</key>
        <string>{90,34}</string>
      </dict>
      <key>weapon_10102_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{63,63}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,63}}</string>
        <key>sourceSize</key>
        <string>{63,63}</string>
      </dict>
      <key>weapon_10102_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,132},{63,62}}</string>
        <key>offset</key>
        <string>{1,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,62}}</string>
        <key>sourceSize</key>
        <string>{63,62}</string>
      </dict>
      <key>weapon_10102_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,72},{65,59}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>weapon_10102_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{65,57}}</string>
        <key>offset</key>
        <string>{1,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,57}}</string>
        <key>sourceSize</key>
        <string>{65,57}</string>
      </dict>
      <key>weapon_10102_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,65},{19,62}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,62}}</string>
        <key>sourceSize</key>
        <string>{19,62}</string>
      </dict>
      <key>weapon_10102_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,197},{19,63}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,63}}</string>
        <key>sourceSize</key>
        <string>{19,63}</string>
      </dict>
      <key>weapon_10102_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,139},{19,64}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,64}}</string>
        <key>sourceSize</key>
        <string>{19,64}</string>
      </dict>
      <key>weapon_10102_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,160},{19,64}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,64}}</string>
        <key>sourceSize</key>
        <string>{19,64}</string>
      </dict>
      <key>weapon_10102_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,65},{63,50}}</string>
        <key>offset</key>
        <string>{-40,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,50}}</string>
        <key>sourceSize</key>
        <string>{63,50}</string>
      </dict>
      <key>weapon_10102_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,67},{64,53}}</string>
        <key>offset</key>
        <string>{-41,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>weapon_10102_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{64,53}}</string>
        <key>offset</key>
        <string>{-41,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,53}}</string>
        <key>sourceSize</key>
        <string>{64,53}</string>
      </dict>
      <key>weapon_10102_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{62,52}}</string>
        <key>offset</key>
        <string>{-40,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,52}}</string>
        <key>sourceSize</key>
        <string>{62,52}</string>
      </dict>
      <key>weapon_10102_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{90,29}}</string>
        <key>offset</key>
        <string>{-49,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,29}}</string>
        <key>sourceSize</key>
        <string>{90,29}</string>
      </dict>
      <key>weapon_10102_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{90,29}}</string>
        <key>offset</key>
        <string>{-50,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,29}}</string>
        <key>sourceSize</key>
        <string>{90,29}</string>
      </dict>
      <key>weapon_10102_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{91,29}}</string>
        <key>offset</key>
        <string>{-50,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,29}}</string>
        <key>sourceSize</key>
        <string>{91,29}</string>
      </dict>
      <key>weapon_10102_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,92},{90,29}}</string>
        <key>offset</key>
        <string>{-49,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,29}}</string>
        <key>sourceSize</key>
        <string>{90,29}</string>
      </dict>
      <key>weapon_10102_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,197},{63,37}}</string>
        <key>offset</key>
        <string>{-16,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,37}}</string>
        <key>sourceSize</key>
        <string>{63,37}</string>
      </dict>
      <key>weapon_10102_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,133},{64,38}}</string>
        <key>offset</key>
        <string>{-17,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,38}}</string>
        <key>sourceSize</key>
        <string>{64,38}</string>
      </dict>
      <key>weapon_10102_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,130},{63,36}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,36}}</string>
        <key>sourceSize</key>
        <string>{63,36}</string>
      </dict>
      <key>weapon_10102_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,66},{64,37}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,37}}</string>
        <key>sourceSize</key>
        <string>{64,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10102_0_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_10102_0_0.png</string>
    </dict>
  </dict>
</plist>