<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21051_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,632},{75,110}}</string>
        <key>offset</key>
        <string>{13,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,110}}</string>
        <key>sourceSize</key>
        <string>{75,110}</string>
      </dict>
      <key>weapon_21051_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,634},{83,107}}</string>
        <key>offset</key>
        <string>{-15,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,107}}</string>
        <key>sourceSize</key>
        <string>{83,107}</string>
      </dict>
      <key>weapon_21051_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,274},{127,91}}</string>
        <key>offset</key>
        <string>{-60,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,91}}</string>
        <key>sourceSize</key>
        <string>{127,91}</string>
      </dict>
      <key>weapon_21051_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,812},{83,59}}</string>
        <key>offset</key>
        <string>{9,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,59}}</string>
        <key>sourceSize</key>
        <string>{83,59}</string>
      </dict>
      <key>weapon_21051_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,782},{86,64}}</string>
        <key>offset</key>
        <string>{-33,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>weapon_21051_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{55,100}}</string>
        <key>offset</key>
        <string>{13,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,100}}</string>
        <key>sourceSize</key>
        <string>{55,100}</string>
      </dict>
      <key>weapon_21051_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,719},{61,99}}</string>
        <key>offset</key>
        <string>{7,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,99}}</string>
        <key>sourceSize</key>
        <string>{61,99}</string>
      </dict>
      <key>weapon_21051_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,376},{83,125}}</string>
        <key>offset</key>
        <string>{-39,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,125}}</string>
        <key>sourceSize</key>
        <string>{83,125}</string>
      </dict>
      <key>weapon_21051_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{91,120}}</string>
        <key>offset</key>
        <string>{-64,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,120}}</string>
        <key>sourceSize</key>
        <string>{91,120}</string>
      </dict>
      <key>weapon_21051_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,914},{70,55}}</string>
        <key>offset</key>
        <string>{19,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,55}}</string>
        <key>sourceSize</key>
        <string>{70,55}</string>
      </dict>
      <key>weapon_21051_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,848},{74,64}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,64}}</string>
        <key>sourceSize</key>
        <string>{74,64}</string>
      </dict>
      <key>weapon_21051_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,757},{98,90}}</string>
        <key>offset</key>
        <string>{6,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>weapon_21051_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,686},{69,107}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,107}}</string>
        <key>sourceSize</key>
        <string>{69,107}</string>
      </dict>
      <key>weapon_21051_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{62,139}}</string>
        <key>offset</key>
        <string>{-44,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,139}}</string>
        <key>sourceSize</key>
        <string>{62,139}</string>
      </dict>
      <key>weapon_21051_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{64,129}}</string>
        <key>offset</key>
        <string>{-41,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,129}}</string>
        <key>sourceSize</key>
        <string>{64,129}</string>
      </dict>
      <key>weapon_21051_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{126,55}}</string>
        <key>offset</key>
        <string>{-20,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,55}}</string>
        <key>sourceSize</key>
        <string>{126,55}</string>
      </dict>
      <key>weapon_21051_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{131,48}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,48}}</string>
        <key>sourceSize</key>
        <string>{131,48}</string>
      </dict>
      <key>weapon_21051_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{141,57}}</string>
        <key>offset</key>
        <string>{-22,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,57}}</string>
        <key>sourceSize</key>
        <string>{141,57}</string>
      </dict>
      <key>weapon_21051_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,403},{77,122}}</string>
        <key>offset</key>
        <string>{-36,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,122}}</string>
        <key>sourceSize</key>
        <string>{77,122}</string>
      </dict>
      <key>weapon_21051_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,142}}</string>
        <key>offset</key>
        <string>{-32,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,142}}</string>
        <key>sourceSize</key>
        <string>{58,142}</string>
      </dict>
      <key>weapon_21051_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,482},{119,114}}</string>
        <key>offset</key>
        <string>{-45,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,114}}</string>
        <key>sourceSize</key>
        <string>{119,114}</string>
      </dict>
      <key>weapon_21051_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,141},{131,89}}</string>
        <key>offset</key>
        <string>{-45,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,89}}</string>
        <key>sourceSize</key>
        <string>{131,89}</string>
      </dict>
      <key>weapon_21051_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,142},{133,80}}</string>
        <key>offset</key>
        <string>{-9,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,80}}</string>
        <key>sourceSize</key>
        <string>{133,80}</string>
      </dict>
      <key>weapon_21051_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,482},{122,73}}</string>
        <key>offset</key>
        <string>{-33,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,73}}</string>
        <key>sourceSize</key>
        <string>{122,73}</string>
      </dict>
      <key>weapon_21051_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,64},{76,136}}</string>
        <key>offset</key>
        <string>{-41,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,136}}</string>
        <key>sourceSize</key>
        <string>{76,136}</string>
      </dict>
      <key>weapon_21051_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{83,134}}</string>
        <key>offset</key>
        <string>{-21,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,134}}</string>
        <key>sourceSize</key>
        <string>{83,134}</string>
      </dict>
      <key>weapon_21051_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,291},{127,82}}</string>
        <key>offset</key>
        <string>{-20,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,82}}</string>
        <key>sourceSize</key>
        <string>{127,82}</string>
      </dict>
      <key>weapon_21051_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,546},{84,119}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,119}}</string>
        <key>sourceSize</key>
        <string>{84,119}</string>
      </dict>
      <key>weapon_21051_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,598},{86,111}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,111}}</string>
        <key>sourceSize</key>
        <string>{86,111}</string>
      </dict>
      <key>weapon_21051_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,807},{55,94}}</string>
        <key>offset</key>
        <string>{-21,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,94}}</string>
        <key>sourceSize</key>
        <string>{55,94}</string>
      </dict>
      <key>weapon_21051_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{62,142}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,142}}</string>
        <key>sourceSize</key>
        <string>{62,142}</string>
      </dict>
      <key>weapon_21051_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,461},{83,121}}</string>
        <key>offset</key>
        <string>{3,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,121}}</string>
        <key>sourceSize</key>
        <string>{83,121}</string>
      </dict>
      <key>weapon_21051_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,719},{91,55}}</string>
        <key>offset</key>
        <string>{21,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,55}}</string>
        <key>sourceSize</key>
        <string>{91,55}</string>
      </dict>
      <key>weapon_21051_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,377},{70,124}}</string>
        <key>offset</key>
        <string>{-42,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,124}}</string>
        <key>sourceSize</key>
        <string>{70,124}</string>
      </dict>
      <key>weapon_21051_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,557},{75,117}}</string>
        <key>offset</key>
        <string>{-36,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,117}}</string>
        <key>sourceSize</key>
        <string>{75,117}</string>
      </dict>
      <key>weapon_21051_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,767},{98,86}}</string>
        <key>offset</key>
        <string>{-57,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,86}}</string>
        <key>sourceSize</key>
        <string>{98,86}</string>
      </dict>
      <key>weapon_21051_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,61},{70,139}}</string>
        <key>offset</key>
        <string>{-1,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,139}}</string>
        <key>sourceSize</key>
        <string>{70,139}</string>
      </dict>
      <key>weapon_21051_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,685},{63,108}}</string>
        <key>offset</key>
        <string>{29,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,108}}</string>
        <key>sourceSize</key>
        <string>{63,108}</string>
      </dict>
      <key>weapon_21051_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,914},{63,49}}</string>
        <key>offset</key>
        <string>{24,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,49}}</string>
        <key>sourceSize</key>
        <string>{63,49}</string>
      </dict>
      <key>weapon_21051_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,375},{126,105}}</string>
        <key>offset</key>
        <string>{-59,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,105}}</string>
        <key>sourceSize</key>
        <string>{126,105}</string>
      </dict>
      <key>weapon_21051_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,194},{131,95}}</string>
        <key>offset</key>
        <string>{-81,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,95}}</string>
        <key>sourceSize</key>
        <string>{131,95}</string>
      </dict>
      <key>weapon_21051_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{141,59}}</string>
        <key>offset</key>
        <string>{-72,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,59}}</string>
        <key>sourceSize</key>
        <string>{141,59}</string>
      </dict>
      <key>weapon_21051_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,297},{77,127}}</string>
        <key>offset</key>
        <string>{6,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,127}}</string>
        <key>sourceSize</key>
        <string>{77,127}</string>
      </dict>
      <key>weapon_21051_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,709},{56,101}}</string>
        <key>offset</key>
        <string>{22,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,101}}</string>
        <key>sourceSize</key>
        <string>{56,101}</string>
      </dict>
      <key>weapon_21051_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,624},{119,59}}</string>
        <key>offset</key>
        <string>{-27,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,59}}</string>
        <key>sourceSize</key>
        <string>{119,59}</string>
      </dict>
      <key>weapon_21051_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,224},{131,71}}</string>
        <key>offset</key>
        <string>{-39,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,71}}</string>
        <key>sourceSize</key>
        <string>{131,71}</string>
      </dict>
      <key>weapon_21051_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,133},{134,59}}</string>
        <key>offset</key>
        <string>{-78,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,59}}</string>
        <key>sourceSize</key>
        <string>{134,59}</string>
      </dict>
      <key>weapon_21051_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{122,80}}</string>
        <key>offset</key>
        <string>{-42,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,80}}</string>
        <key>sourceSize</key>
        <string>{122,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21051_0_2.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_21051_0_2.png</string>
    </dict>
  </dict>
</plist>