<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21004_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,364},{20,98}}</string>
        <key>offset</key>
        <string>{23,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{20,98}}</string>
        <key>sourceSize</key>
        <string>{21,98}</string>
      </dict>
      <key>weapon_21004_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,122},{28,118}}</string>
        <key>offset</key>
        <string>{15,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,118}}</string>
        <key>sourceSize</key>
        <string>{29,119}</string>
      </dict>
      <key>weapon_21004_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{26,140}}</string>
        <key>offset</key>
        <string>{16,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{26,140}}</string>
        <key>sourceSize</key>
        <string>{26,141}</string>
      </dict>
      <key>weapon_21004_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,162},{34,140}}</string>
        <key>offset</key>
        <string>{11,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{34,140}}</string>
        <key>sourceSize</key>
        <string>{34,140}</string>
      </dict>
      <key>weapon_21004_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,230},{26,112}}</string>
        <key>offset</key>
        <string>{24,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{26,112}}</string>
        <key>sourceSize</key>
        <string>{26,112}</string>
      </dict>
      <key>weapon_21004_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,478},{32,92}}</string>
        <key>offset</key>
        <string>{11,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{32,92}}</string>
        <key>sourceSize</key>
        <string>{32,93}</string>
      </dict>
      <key>weapon_21004_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,122},{118,70}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,70}}</string>
        <key>sourceSize</key>
        <string>{119,71}</string>
      </dict>
      <key>weapon_21004_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{126,80}}</string>
        <key>offset</key>
        <string>{-5,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{126,80}}</string>
        <key>sourceSize</key>
        <string>{127,80}</string>
      </dict>
      <key>weapon_21004_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,132},{128,110}}</string>
        <key>offset</key>
        <string>{-3,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{128,110}}</string>
        <key>sourceSize</key>
        <string>{128,110}</string>
      </dict>
      <key>weapon_21004_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{130,114}}</string>
        <key>offset</key>
        <string>{-4,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{130,114}}</string>
        <key>sourceSize</key>
        <string>{130,114}</string>
      </dict>
      <key>weapon_21004_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,304},{126,82}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,82}}</string>
        <key>sourceSize</key>
        <string>{127,83}</string>
      </dict>
      <key>weapon_21004_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{118,74}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{118,74}}</string>
        <key>sourceSize</key>
        <string>{118,74}</string>
      </dict>
      <key>weapon_21004_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,344},{166,74}}</string>
        <key>offset</key>
        <string>{-21,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{166,74}}</string>
        <key>sourceSize</key>
        <string>{166,75}</string>
      </dict>
      <key>weapon_21004_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{168,66}}</string>
        <key>offset</key>
        <string>{-21,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{168,66}}</string>
        <key>sourceSize</key>
        <string>{168,67}</string>
      </dict>
      <key>weapon_21004_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{168,56}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,56}}</string>
        <key>sourceSize</key>
        <string>{169,57}</string>
      </dict>
      <key>weapon_21004_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,54}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,54}}</string>
        <key>sourceSize</key>
        <string>{181,55}</string>
      </dict>
      <key>weapon_21004_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{170,70}}</string>
        <key>offset</key>
        <string>{-17,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{170,70}}</string>
        <key>sourceSize</key>
        <string>{171,70}</string>
      </dict>
      <key>weapon_21004_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,170},{162,70}}</string>
        <key>offset</key>
        <string>{-16,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{162,70}}</string>
        <key>sourceSize</key>
        <string>{163,70}</string>
      </dict>
      <key>weapon_21004_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,254},{116,120}}</string>
        <key>offset</key>
        <string>{-20,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{116,120}}</string>
        <key>sourceSize</key>
        <string>{116,121}</string>
      </dict>
      <key>weapon_21004_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{122,110}}</string>
        <key>offset</key>
        <string>{-22,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{122,110}}</string>
        <key>sourceSize</key>
        <string>{122,111}</string>
      </dict>
      <key>weapon_21004_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{132,96}}</string>
        <key>offset</key>
        <string>{-19,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{132,96}}</string>
        <key>sourceSize</key>
        <string>{132,97}</string>
      </dict>
      <key>weapon_21004_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,134},{132,90}}</string>
        <key>offset</key>
        <string>{-15,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{132,90}}</string>
        <key>sourceSize</key>
        <string>{132,90}</string>
      </dict>
      <key>weapon_21004_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,124},{120,112}}</string>
        <key>offset</key>
        <string>{-17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,112}}</string>
        <key>sourceSize</key>
        <string>{121,113}</string>
      </dict>
      <key>weapon_21004_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,368},{108,108}}</string>
        <key>offset</key>
        <string>{-11,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>weapon_21004_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,268},{34,130}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{34,130}}</string>
        <key>sourceSize</key>
        <string>{34,130}</string>
      </dict>
      <key>weapon_21004_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,468},{36,122}}</string>
        <key>offset</key>
        <string>{-12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{36,122}}</string>
        <key>sourceSize</key>
        <string>{36,122}</string>
      </dict>
      <key>weapon_21004_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,478},{32,104}}</string>
        <key>offset</key>
        <string>{-9,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{32,104}}</string>
        <key>sourceSize</key>
        <string>{32,105}</string>
      </dict>
      <key>weapon_21004_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,258},{34,106}}</string>
        <key>offset</key>
        <string>{-8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{34,106}}</string>
        <key>sourceSize</key>
        <string>{34,107}</string>
      </dict>
      <key>weapon_21004_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,262},{34,124}}</string>
        <key>offset</key>
        <string>{-12,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{34,124}}</string>
        <key>sourceSize</key>
        <string>{34,124}</string>
      </dict>
      <key>weapon_21004_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,432},{34,126}}</string>
        <key>offset</key>
        <string>{-13,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,126}}</string>
        <key>sourceSize</key>
        <string>{35,127}</string>
      </dict>
      <key>weapon_21004_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,128},{124,112}}</string>
        <key>offset</key>
        <string>{-79,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,112}}</string>
        <key>sourceSize</key>
        <string>{125,113}</string>
      </dict>
      <key>weapon_21004_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,304},{126,98}}</string>
        <key>offset</key>
        <string>{-84,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{126,98}}</string>
        <key>sourceSize</key>
        <string>{126,99}</string>
      </dict>
      <key>weapon_21004_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{120,90}}</string>
        <key>offset</key>
        <string>{-85,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{120,90}}</string>
        <key>sourceSize</key>
        <string>{121,90}</string>
      </dict>
      <key>weapon_21004_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,422},{120,88}}</string>
        <key>offset</key>
        <string>{-87,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{120,88}}</string>
        <key>sourceSize</key>
        <string>{120,88}</string>
      </dict>
      <key>weapon_21004_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,298},{122,98}}</string>
        <key>offset</key>
        <string>{-83,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,98}}</string>
        <key>sourceSize</key>
        <string>{123,99}</string>
      </dict>
      <key>weapon_21004_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,376},{120,110}}</string>
        <key>offset</key>
        <string>{-83,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{120,110}}</string>
        <key>sourceSize</key>
        <string>{120,111}</string>
      </dict>
      <key>weapon_21004_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{160,68}}</string>
        <key>offset</key>
        <string>{-100,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,68}}</string>
        <key>sourceSize</key>
        <string>{161,69}</string>
      </dict>
      <key>weapon_21004_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{170,58}}</string>
        <key>offset</key>
        <string>{-112,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,58}}</string>
        <key>sourceSize</key>
        <string>{171,59}</string>
      </dict>
      <key>weapon_21004_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,172},{170,60}}</string>
        <key>offset</key>
        <string>{-119,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,60}}</string>
        <key>sourceSize</key>
        <string>{171,61}</string>
      </dict>
      <key>weapon_21004_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{172,60}}</string>
        <key>offset</key>
        <string>{-119,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{172,60}}</string>
        <key>sourceSize</key>
        <string>{172,60}</string>
      </dict>
      <key>weapon_21004_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,172},{170,58}}</string>
        <key>offset</key>
        <string>{-115,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{170,58}}</string>
        <key>sourceSize</key>
        <string>{171,58}</string>
      </dict>
      <key>weapon_21004_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,334},{152,60}}</string>
        <key>offset</key>
        <string>{-99,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{152,60}}</string>
        <key>sourceSize</key>
        <string>{153,60}</string>
      </dict>
      <key>weapon_21004_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,120},{114,68}}</string>
        <key>offset</key>
        <string>{-51,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{114,68}}</string>
        <key>sourceSize</key>
        <string>{115,68}</string>
      </dict>
      <key>weapon_21004_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{114,92}}</string>
        <key>offset</key>
        <string>{-57,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{114,92}}</string>
        <key>sourceSize</key>
        <string>{114,93}</string>
      </dict>
      <key>weapon_21004_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,116},{114,112}}</string>
        <key>offset</key>
        <string>{-66,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{115,113}</string>
      </dict>
      <key>weapon_21004_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,246},{120,116}}</string>
        <key>offset</key>
        <string>{-66,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,116}}</string>
        <key>sourceSize</key>
        <string>{121,117}</string>
      </dict>
      <key>weapon_21004_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,258},{108,80}}</string>
        <key>offset</key>
        <string>{-56,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,80}}</string>
        <key>sourceSize</key>
        <string>{109,81}</string>
      </dict>
      <key>weapon_21004_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,294},{104,68}}</string>
        <key>offset</key>
        <string>{-53,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21004_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_21004_0_1.png</string>
    </dict>
  </dict>
</plist>