<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3016_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{44,33}}</string>
        <key>offset</key>
        <string>{14,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,33}}</string>
        <key>sourceSize</key>
        <string>{44,33}</string>
      </dict>
      <key>weapon_3016_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,88},{38,19}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,19}}</string>
        <key>sourceSize</key>
        <string>{38,19}</string>
      </dict>
      <key>weapon_3016_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,0},{59,20}}</string>
        <key>offset</key>
        <string>{-10,-26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,20}}</string>
        <key>sourceSize</key>
        <string>{59,20}</string>
      </dict>
      <key>weapon_3016_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{50,30}}</string>
        <key>offset</key>
        <string>{13,-44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,30}}</string>
        <key>sourceSize</key>
        <string>{50,30}</string>
      </dict>
      <key>weapon_3016_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{13,61}}</string>
        <key>offset</key>
        <string>{47,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,61}}</string>
        <key>sourceSize</key>
        <string>{13,61}</string>
      </dict>
      <key>weapon_3016_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,126},{60,13}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,13}}</string>
        <key>sourceSize</key>
        <string>{60,13}</string>
      </dict>
      <key>weapon_3016_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,125},{58,22}}</string>
        <key>offset</key>
        <string>{-44,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,22}}</string>
        <key>sourceSize</key>
        <string>{58,22}</string>
      </dict>
      <key>weapon_3016_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,188},{59,18}}</string>
        <key>offset</key>
        <string>{-39,-37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,18}}</string>
        <key>sourceSize</key>
        <string>{59,18}</string>
      </dict>
      <key>weapon_3016_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,161},{39,44}}</string>
        <key>offset</key>
        <string>{37,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>weapon_3016_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,112},{47,38}}</string>
        <key>offset</key>
        <string>{-7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,38}}</string>
        <key>sourceSize</key>
        <string>{47,38}</string>
      </dict>
      <key>weapon_3016_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,207},{18,41}}</string>
        <key>offset</key>
        <string>{-34,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,41}}</string>
        <key>sourceSize</key>
        <string>{18,41}</string>
      </dict>
      <key>weapon_3016_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,52},{47,40}}</string>
        <key>offset</key>
        <string>{-64,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,40}}</string>
        <key>sourceSize</key>
        <string>{47,40}</string>
      </dict>
      <key>weapon_3016_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,61},{57,21}}</string>
        <key>offset</key>
        <string>{10,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,21}}</string>
        <key>sourceSize</key>
        <string>{57,21}</string>
      </dict>
      <key>weapon_3016_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,59},{16,51}}</string>
        <key>offset</key>
        <string>{16,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,51}}</string>
        <key>sourceSize</key>
        <string>{16,51}</string>
      </dict>
      <key>weapon_3016_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,120},{53,28}}</string>
        <key>offset</key>
        <string>{-26,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,28}}</string>
        <key>sourceSize</key>
        <string>{53,28}</string>
      </dict>
      <key>weapon_3016_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{14,61}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,61}}</string>
        <key>sourceSize</key>
        <string>{14,61}</string>
      </dict>
      <key>weapon_3016_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,63},{60,22}}</string>
        <key>offset</key>
        <string>{-12,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,22}}</string>
        <key>sourceSize</key>
        <string>{60,22}</string>
      </dict>
      <key>weapon_3016_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,226},{28,44}}</string>
        <key>offset</key>
        <string>{13,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,44}}</string>
        <key>sourceSize</key>
        <string>{28,44}</string>
      </dict>
      <key>weapon_3016_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,0},{61,11}}</string>
        <key>offset</key>
        <string>{-2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,11}}</string>
        <key>sourceSize</key>
        <string>{61,11}</string>
      </dict>
      <key>weapon_3016_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,185},{54,29}}</string>
        <key>offset</key>
        <string>{-15,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,29}}</string>
        <key>sourceSize</key>
        <string>{54,29}</string>
      </dict>
      <key>weapon_3016_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,167},{13,29}}</string>
        <key>offset</key>
        <string>{-14,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,29}}</string>
        <key>sourceSize</key>
        <string>{13,29}</string>
      </dict>
      <key>weapon_3016_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{57,21}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,21}}</string>
        <key>sourceSize</key>
        <string>{57,21}</string>
      </dict>
      <key>weapon_3016_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,128},{37,36}}</string>
        <key>offset</key>
        <string>{36,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>weapon_3016_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{61,6}}</string>
        <key>offset</key>
        <string>{26,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,6}}</string>
        <key>sourceSize</key>
        <string>{61,6}</string>
      </dict>
      <key>weapon_3016_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,175},{49,24}}</string>
        <key>offset</key>
        <string>{-38,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,24}}</string>
        <key>sourceSize</key>
        <string>{49,24}</string>
      </dict>
      <key>weapon_3016_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,101},{41,10}}</string>
        <key>offset</key>
        <string>{6,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,10}}</string>
        <key>sourceSize</key>
        <string>{41,10}</string>
      </dict>
      <key>weapon_3016_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,241},{13,46}}</string>
        <key>offset</key>
        <string>{63,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,46}}</string>
        <key>sourceSize</key>
        <string>{13,46}</string>
      </dict>
      <key>weapon_3016_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,46},{40,33}}</string>
        <key>offset</key>
        <string>{66,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,33}}</string>
        <key>sourceSize</key>
        <string>{40,33}</string>
      </dict>
      <key>weapon_3016_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{61,11}}</string>
        <key>offset</key>
        <string>{-23,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,11}}</string>
        <key>sourceSize</key>
        <string>{61,11}</string>
      </dict>
      <key>weapon_3016_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,167},{21,15}}</string>
        <key>offset</key>
        <string>{16,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,15}}</string>
        <key>sourceSize</key>
        <string>{21,15}</string>
      </dict>
      <key>weapon_3016_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{39,33}}</string>
        <key>offset</key>
        <string>{33,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>weapon_3016_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,207},{15,35}}</string>
        <key>offset</key>
        <string>{69,-17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,35}}</string>
        <key>sourceSize</key>
        <string>{15,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3016_0_4.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3016_0_4.png</string>
    </dict>
  </dict>
</plist>