<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20007_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,936},{66,156}}</string>
        <key>offset</key>
        <string>{15,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{66,156}}</string>
        <key>sourceSize</key>
        <string>{67,156}</string>
      </dict>
      <key>weapon_20007_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{50,198}}</string>
        <key>offset</key>
        <string>{16,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{50,198}}</string>
        <key>sourceSize</key>
        <string>{51,198}</string>
      </dict>
      <key>weapon_20007_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,756},{54,178}}</string>
        <key>offset</key>
        <string>{2,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{54,178}}</string>
        <key>sourceSize</key>
        <string>{55,178}</string>
      </dict>
      <key>weapon_20007_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,648},{54,136}}</string>
        <key>offset</key>
        <string>{1,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{54,136}}</string>
        <key>sourceSize</key>
        <string>{54,137}</string>
      </dict>
      <key>weapon_20007_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,574},{54,180}}</string>
        <key>offset</key>
        <string>{4,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{54,180}}</string>
        <key>sourceSize</key>
        <string>{54,180}</string>
      </dict>
      <key>weapon_20007_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,404},{52,188}}</string>
        <key>offset</key>
        <string>{11,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{52,188}}</string>
        <key>sourceSize</key>
        <string>{53,188}</string>
      </dict>
      <key>weapon_20007_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,338},{156,124}}</string>
        <key>offset</key>
        <string>{-20,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{156,124}}</string>
        <key>sourceSize</key>
        <string>{156,125}</string>
      </dict>
      <key>weapon_20007_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{106,192}}</string>
        <key>offset</key>
        <string>{2,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{106,192}}</string>
        <key>sourceSize</key>
        <string>{107,192}</string>
      </dict>
      <key>weapon_20007_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,606},{94,190}}</string>
        <key>offset</key>
        <string>{-3,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,190}}</string>
        <key>sourceSize</key>
        <string>{95,190}</string>
      </dict>
      <key>weapon_20007_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,332},{102,146}}</string>
        <key>offset</key>
        <string>{-25,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,146}}</string>
        <key>sourceSize</key>
        <string>{102,147}</string>
      </dict>
      <key>weapon_20007_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{100,186}}</string>
        <key>offset</key>
        <string>{-6,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{100,186}}</string>
        <key>sourceSize</key>
        <string>{100,186}</string>
      </dict>
      <key>weapon_20007_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,574},{126,176}}</string>
        <key>offset</key>
        <string>{-10,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{126,176}}</string>
        <key>sourceSize</key>
        <string>{126,176}</string>
      </dict>
      <key>weapon_20007_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{192,116}}</string>
        <key>offset</key>
        <string>{-37,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{192,116}}</string>
        <key>sourceSize</key>
        <string>{193,116}</string>
      </dict>
      <key>weapon_20007_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,718},{142,160}}</string>
        <key>offset</key>
        <string>{-19,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{142,160}}</string>
        <key>sourceSize</key>
        <string>{143,160}</string>
      </dict>
      <key>weapon_20007_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{120,198}}</string>
        <key>offset</key>
        <string>{-10,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{120,198}}</string>
        <key>sourceSize</key>
        <string>{121,198}</string>
      </dict>
      <key>weapon_20007_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,550},{146,166}}</string>
        <key>offset</key>
        <string>{-39,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,166}}</string>
        <key>sourceSize</key>
        <string>{147,167}</string>
      </dict>
      <key>weapon_20007_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,386},{124,186}}</string>
        <key>offset</key>
        <string>{-12,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{124,186}}</string>
        <key>sourceSize</key>
        <string>{124,187}</string>
      </dict>
      <key>weapon_20007_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,174},{156,132}}</string>
        <key>offset</key>
        <string>{-25,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,132}}</string>
        <key>sourceSize</key>
        <string>{157,133}</string>
      </dict>
      <key>weapon_20007_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,704},{120,120}}</string>
        <key>offset</key>
        <string>{-29,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>weapon_20007_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,0},{136,136}}</string>
        <key>offset</key>
        <string>{-25,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{136,136}}</string>
        <key>sourceSize</key>
        <string>{137,136}</string>
      </dict>
      <key>weapon_20007_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{124,194}}</string>
        <key>offset</key>
        <string>{-11,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{124,194}}</string>
        <key>sourceSize</key>
        <string>{124,194}</string>
      </dict>
      <key>weapon_20007_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,206},{102,196}}</string>
        <key>offset</key>
        <string>{-25,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,196}}</string>
        <key>sourceSize</key>
        <string>{103,197}</string>
      </dict>
      <key>weapon_20007_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,798},{98,182}}</string>
        <key>offset</key>
        <string>{-8,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{98,182}}</string>
        <key>sourceSize</key>
        <string>{99,182}</string>
      </dict>
      <key>weapon_20007_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,108},{122,132}}</string>
        <key>offset</key>
        <string>{-23,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{122,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>weapon_20007_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,608},{72,118}}</string>
        <key>offset</key>
        <string>{-39,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{72,118}}</string>
        <key>sourceSize</key>
        <string>{72,118}</string>
      </dict>
      <key>weapon_20007_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,138},{50,126}}</string>
        <key>offset</key>
        <string>{-16,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{50,126}}</string>
        <key>sourceSize</key>
        <string>{51,126}</string>
      </dict>
      <key>weapon_20007_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,188},{62,184}}</string>
        <key>offset</key>
        <string>{-10,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,184}}</string>
        <key>sourceSize</key>
        <string>{63,185}</string>
      </dict>
      <key>weapon_20007_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{54,204}}</string>
        <key>offset</key>
        <string>{-7,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{54,204}}</string>
        <key>sourceSize</key>
        <string>{54,204}</string>
      </dict>
      <key>weapon_20007_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,186},{56,172}}</string>
        <key>offset</key>
        <string>{-11,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{56,172}}</string>
        <key>sourceSize</key>
        <string>{57,172}</string>
      </dict>
      <key>weapon_20007_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,346},{58,124}}</string>
        <key>offset</key>
        <string>{-18,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{58,124}}</string>
        <key>sourceSize</key>
        <string>{59,124}</string>
      </dict>
      <key>weapon_20007_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,174},{162,100}}</string>
        <key>offset</key>
        <string>{-100,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{162,100}}</string>
        <key>sourceSize</key>
        <string>{162,100}</string>
      </dict>
      <key>weapon_20007_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,232},{112,126}}</string>
        <key>offset</key>
        <string>{-66,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{112,126}}</string>
        <key>sourceSize</key>
        <string>{112,126}</string>
      </dict>
      <key>weapon_20007_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,186},{100,172}}</string>
        <key>offset</key>
        <string>{-47,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,172}}</string>
        <key>sourceSize</key>
        <string>{101,173}</string>
      </dict>
      <key>weapon_20007_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,196},{100,188}}</string>
        <key>offset</key>
        <string>{-28,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,188}}</string>
        <key>sourceSize</key>
        <string>{100,189}</string>
      </dict>
      <key>weapon_20007_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,752},{100,168}}</string>
        <key>offset</key>
        <string>{-51,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{100,168}}</string>
        <key>sourceSize</key>
        <string>{100,168}</string>
      </dict>
      <key>weapon_20007_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,480},{126,114}}</string>
        <key>offset</key>
        <string>{-73,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{126,114}}</string>
        <key>sourceSize</key>
        <string>{126,114}</string>
      </dict>
      <key>weapon_20007_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{184,100}}</string>
        <key>offset</key>
        <string>{-99,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{184,100}}</string>
        <key>sourceSize</key>
        <string>{184,100}</string>
      </dict>
      <key>weapon_20007_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{148,150}}</string>
        <key>offset</key>
        <string>{-73,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{148,150}}</string>
        <key>sourceSize</key>
        <string>{148,150}</string>
      </dict>
      <key>weapon_20007_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,360},{122,166}}</string>
        <key>offset</key>
        <string>{-62,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{122,166}}</string>
        <key>sourceSize</key>
        <string>{122,167}</string>
      </dict>
      <key>weapon_20007_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,880},{130,160}}</string>
        <key>offset</key>
        <string>{-41,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{130,160}}</string>
        <key>sourceSize</key>
        <string>{130,160}</string>
      </dict>
      <key>weapon_20007_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,752},{124,168}}</string>
        <key>offset</key>
        <string>{-64,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{124,168}}</string>
        <key>sourceSize</key>
        <string>{124,168}</string>
      </dict>
      <key>weapon_20007_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,496},{150,126}}</string>
        <key>offset</key>
        <string>{-80,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{150,126}}</string>
        <key>sourceSize</key>
        <string>{150,126}</string>
      </dict>
      <key>weapon_20007_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,152},{104,142}}</string>
        <key>offset</key>
        <string>{-27,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{104,142}}</string>
        <key>sourceSize</key>
        <string>{105,142}</string>
      </dict>
      <key>weapon_20007_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,374},{106,174}}</string>
        <key>offset</key>
        <string>{-36,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>weapon_20007_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,922},{92,168}}</string>
        <key>offset</key>
        <string>{-35,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,168}}</string>
        <key>sourceSize</key>
        <string>{93,169}</string>
      </dict>
      <key>weapon_20007_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{880,0},{106,136}}</string>
        <key>offset</key>
        <string>{-26,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{106,136}}</string>
        <key>sourceSize</key>
        <string>{106,137}</string>
      </dict>
      <key>weapon_20007_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{92,172}}</string>
        <key>offset</key>
        <string>{-36,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,172}}</string>
        <key>sourceSize</key>
        <string>{93,173}</string>
      </dict>
      <key>weapon_20007_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{110,172}}</string>
        <key>offset</key>
        <string>{-40,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{110,172}}</string>
        <key>sourceSize</key>
        <string>{110,172}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20007_1_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20007_1_5.png</string>
    </dict>
  </dict>
</plist>