<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21004_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{98,164}}</string>
        <key>offset</key>
        <string>{-23,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,164}}</string>
        <key>sourceSize</key>
        <string>{99,165}</string>
      </dict>
      <key>weapon_21004_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,462},{102,48}}</string>
        <key>offset</key>
        <string>{-36,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,48}}</string>
        <key>sourceSize</key>
        <string>{102,49}</string>
      </dict>
      <key>weapon_21004_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{188,70}}</string>
        <key>offset</key>
        <string>{-99,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{188,70}}</string>
        <key>sourceSize</key>
        <string>{188,71}</string>
      </dict>
      <key>weapon_21004_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{140,80}}</string>
        <key>offset</key>
        <string>{-73,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>weapon_21004_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,188},{56,182}}</string>
        <key>offset</key>
        <string>{10,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{56,182}}</string>
        <key>sourceSize</key>
        <string>{57,182}</string>
      </dict>
      <key>weapon_21004_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,166},{160,96}}</string>
        <key>offset</key>
        <string>{-71,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,96}}</string>
        <key>sourceSize</key>
        <string>{160,97}</string>
      </dict>
      <key>weapon_21004_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{164,48}}</string>
        <key>offset</key>
        <string>{-62,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{164,48}}</string>
        <key>sourceSize</key>
        <string>{164,49}</string>
      </dict>
      <key>weapon_21004_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{186,36}}</string>
        <key>offset</key>
        <string>{-68,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,36}}</string>
        <key>sourceSize</key>
        <string>{187,37}</string>
      </dict>
      <key>weapon_21004_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,182},{104,172}}</string>
        <key>offset</key>
        <string>{19,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{104,172}}</string>
        <key>sourceSize</key>
        <string>{104,172}</string>
      </dict>
      <key>weapon_21004_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{134,140}}</string>
        <key>offset</key>
        <string>{-56,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{134,140}}</string>
        <key>sourceSize</key>
        <string>{135,140}</string>
      </dict>
      <key>weapon_21004_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{74,90}}</string>
        <key>offset</key>
        <string>{12,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,90}}</string>
        <key>sourceSize</key>
        <string>{75,91}</string>
      </dict>
      <key>weapon_21004_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,142},{128,104}}</string>
        <key>offset</key>
        <string>{0,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{128,104}}</string>
        <key>sourceSize</key>
        <string>{128,105}</string>
      </dict>
      <key>weapon_21004_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,142},{130,114}}</string>
        <key>offset</key>
        <string>{-27,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,114}}</string>
        <key>sourceSize</key>
        <string>{131,115}</string>
      </dict>
      <key>weapon_21004_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{46,180}}</string>
        <key>offset</key>
        <string>{-8,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,180}}</string>
        <key>sourceSize</key>
        <string>{47,181}</string>
      </dict>
      <key>weapon_21004_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,402},{104,92}}</string>
        <key>offset</key>
        <string>{4,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{104,92}}</string>
        <key>sourceSize</key>
        <string>{104,93}</string>
      </dict>
      <key>weapon_21004_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,460},{50,126}}</string>
        <key>offset</key>
        <string>{45,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{50,126}}</string>
        <key>sourceSize</key>
        <string>{50,127}</string>
      </dict>
      <key>weapon_21004_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{96,58}}</string>
        <key>offset</key>
        <string>{-33,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{97,59}</string>
      </dict>
      <key>weapon_21004_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,162},{122,154}}</string>
        <key>offset</key>
        <string>{-33,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{122,154}}</string>
        <key>sourceSize</key>
        <string>{123,154}</string>
      </dict>
      <key>weapon_21004_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{184,50}}</string>
        <key>offset</key>
        <string>{-49,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{184,50}}</string>
        <key>sourceSize</key>
        <string>{185,50}</string>
      </dict>
      <key>weapon_21004_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,318},{136,98}}</string>
        <key>offset</key>
        <string>{-16,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,98}}</string>
        <key>sourceSize</key>
        <string>{137,99}</string>
      </dict>
      <key>weapon_21004_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,98},{56,32}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{56,32}}</string>
        <key>sourceSize</key>
        <string>{56,32}</string>
      </dict>
      <key>weapon_21004_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,356},{162,104}}</string>
        <key>offset</key>
        <string>{-48,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{162,104}}</string>
        <key>sourceSize</key>
        <string>{162,105}</string>
      </dict>
      <key>weapon_21004_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{160,92}}</string>
        <key>offset</key>
        <string>{-54,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{160,92}}</string>
        <key>sourceSize</key>
        <string>{160,92}</string>
      </dict>
      <key>weapon_21004_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,44}}</string>
        <key>offset</key>
        <string>{-85,-16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{190,44}}</string>
        <key>sourceSize</key>
        <string>{190,44}</string>
      </dict>
      <key>weapon_21004_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,92},{90,50}}</string>
        <key>offset</key>
        <string>{-67,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{90,50}}</string>
        <key>sourceSize</key>
        <string>{90,51}</string>
      </dict>
      <key>weapon_21004_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{134,30}}</string>
        <key>offset</key>
        <string>{-37,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{134,30}}</string>
        <key>sourceSize</key>
        <string>{134,31}</string>
      </dict>
      <key>weapon_21004_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,318},{78,140}}</string>
        <key>offset</key>
        <string>{-40,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{78,140}}</string>
        <key>sourceSize</key>
        <string>{78,141}</string>
      </dict>
      <key>weapon_21004_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,274},{130,82}}</string>
        <key>offset</key>
        <string>{-77,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{130,82}}</string>
        <key>sourceSize</key>
        <string>{131,82}</string>
      </dict>
      <key>weapon_21004_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,272},{128,102}}</string>
        <key>offset</key>
        <string>{-56,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{128,102}}</string>
        <key>sourceSize</key>
        <string>{128,102}</string>
      </dict>
      <key>weapon_21004_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,462},{48,38}}</string>
        <key>offset</key>
        <string>{-4,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{48,38}}</string>
        <key>sourceSize</key>
        <string>{49,38}</string>
      </dict>
      <key>weapon_21004_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,406},{104,130}}</string>
        <key>offset</key>
        <string>{-67,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{104,130}}</string>
        <key>sourceSize</key>
        <string>{105,130}</string>
      </dict>
      <key>weapon_21004_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,402},{54,108}}</string>
        <key>offset</key>
        <string>{-52,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,108}}</string>
        <key>sourceSize</key>
        <string>{55,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21004_1_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_21004_1_4.png</string>
    </dict>
  </dict>
</plist>