<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3017_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,61},{10,38}}</string>
        <key>offset</key>
        <string>{31,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,38}}</string>
        <key>sourceSize</key>
        <string>{10,38}</string>
      </dict>
      <key>weapon_3017_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{6,43}}</string>
        <key>offset</key>
        <string>{29,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,43}}</string>
        <key>sourceSize</key>
        <string>{6,43}</string>
      </dict>
      <key>weapon_3017_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{72,25}}</string>
        <key>offset</key>
        <string>{9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,25}}</string>
        <key>sourceSize</key>
        <string>{72,25}</string>
      </dict>
      <key>weapon_3017_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{63,31}}</string>
        <key>offset</key>
        <string>{20,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,31}}</string>
        <key>sourceSize</key>
        <string>{63,31}</string>
      </dict>
      <key>weapon_3017_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{91,26}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,26}}</string>
        <key>sourceSize</key>
        <string>{91,26}</string>
      </dict>
      <key>weapon_3017_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,12}}</string>
        <key>offset</key>
        <string>{10,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,12}}</string>
        <key>sourceSize</key>
        <string>{94,12}</string>
      </dict>
      <key>weapon_3017_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,65},{62,52}}</string>
        <key>offset</key>
        <string>{-3,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,52}}</string>
        <key>sourceSize</key>
        <string>{62,52}</string>
      </dict>
      <key>weapon_3017_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,119},{61,50}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,50}}</string>
        <key>sourceSize</key>
        <string>{61,50}</string>
      </dict>
      <key>weapon_3017_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,82},{9,66}}</string>
        <key>offset</key>
        <string>{7,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,66}}</string>
        <key>sourceSize</key>
        <string>{9,66}</string>
      </dict>
      <key>weapon_3017_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,74},{6,69}}</string>
        <key>offset</key>
        <string>{12,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,69}}</string>
        <key>sourceSize</key>
        <string>{6,69}</string>
      </dict>
      <key>weapon_3017_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{68,50}}</string>
        <key>offset</key>
        <string>{-31,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,50}}</string>
        <key>sourceSize</key>
        <string>{68,50}</string>
      </dict>
      <key>weapon_3017_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{62,46}}</string>
        <key>offset</key>
        <string>{-42,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,46}}</string>
        <key>sourceSize</key>
        <string>{62,46}</string>
      </dict>
      <key>weapon_3017_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{94,8}}</string>
        <key>offset</key>
        <string>{-42,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,8}}</string>
        <key>sourceSize</key>
        <string>{94,8}</string>
      </dict>
      <key>weapon_3017_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,0},{94,13}}</string>
        <key>offset</key>
        <string>{-57,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,13}}</string>
        <key>sourceSize</key>
        <string>{94,13}</string>
      </dict>
      <key>weapon_3017_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{59,27}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,27}}</string>
        <key>sourceSize</key>
        <string>{59,27}</string>
      </dict>
      <key>weapon_3017_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,93},{65,31}}</string>
        <key>offset</key>
        <string>{-28,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,31}}</string>
        <key>sourceSize</key>
        <string>{65,31}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3017_0_8.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3017_0_8.png</string>
    </dict>
  </dict>
</plist>