<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3502_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{47,50}}</string>
        <key>offset</key>
        <string>{27,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>weapon_3502_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{49,50}}</string>
        <key>offset</key>
        <string>{16,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>weapon_3502_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,150},{49,49}}</string>
        <key>offset</key>
        <string>{1,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,252},{47,48}}</string>
        <key>offset</key>
        <string>{0,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_3502_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,50},{47,46}}</string>
        <key>offset</key>
        <string>{9,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,99},{47,46}}</string>
        <key>offset</key>
        <string>{20,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{47,49}}</string>
        <key>offset</key>
        <string>{46,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,49}}</string>
        <key>sourceSize</key>
        <string>{47,49}</string>
      </dict>
      <key>weapon_3502_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,49},{48,50}}</string>
        <key>offset</key>
        <string>{42,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,151},{49,49}}</string>
        <key>offset</key>
        <string>{26,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,301},{46,47}}</string>
        <key>offset</key>
        <string>{17,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>weapon_3502_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{47,46}}</string>
        <key>offset</key>
        <string>{43,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,398},{46,45}}</string>
        <key>offset</key>
        <string>{48,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>weapon_3502_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{48,50}}</string>
        <key>offset</key>
        <string>{38,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{49,50}}</string>
        <key>offset</key>
        <string>{39,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>weapon_3502_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,198},{49,49}}</string>
        <key>offset</key>
        <string>{32,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,151},{47,49}}</string>
        <key>offset</key>
        <string>{16,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,49}}</string>
        <key>sourceSize</key>
        <string>{47,49}</string>
      </dict>
      <key>weapon_3502_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,302},{47,46}}</string>
        <key>offset</key>
        <string>{48,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,304},{47,45}}</string>
        <key>offset</key>
        <string>{46,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,45}}</string>
        <key>sourceSize</key>
        <string>{47,45}</string>
      </dict>
      <key>weapon_3502_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,50},{47,50}}</string>
        <key>offset</key>
        <string>{6,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>weapon_3502_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,51},{48,50}}</string>
        <key>offset</key>
        <string>{20,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,201},{49,49}}</string>
        <key>offset</key>
        <string>{17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,349},{47,47}}</string>
        <key>offset</key>
        <string>{7,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>weapon_3502_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{47,46}}</string>
        <key>offset</key>
        <string>{28,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,399},{46,44}}</string>
        <key>offset</key>
        <string>{18,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,44}}</string>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>weapon_3502_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{48,50}}</string>
        <key>offset</key>
        <string>{-24,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{48,49}}</string>
        <key>offset</key>
        <string>{-17,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>weapon_3502_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,202},{49,49}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{47,48}}</string>
        <key>offset</key>
        <string>{-2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_3502_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,349},{47,46}}</string>
        <key>offset</key>
        <string>{-6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,445},{46,45}}</string>
        <key>offset</key>
        <string>{-18,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>weapon_3502_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,51},{48,50}}</string>
        <key>offset</key>
        <string>{-43,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,99},{47,50}}</string>
        <key>offset</key>
        <string>{-37,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>weapon_3502_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,202},{49,49}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{46,48}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>weapon_3502_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,350},{47,46}}</string>
        <key>offset</key>
        <string>{-28,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
      <key>weapon_3502_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,445},{46,45}}</string>
        <key>offset</key>
        <string>{-36,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>weapon_3502_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,101},{47,50}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>weapon_3502_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{48,50}}</string>
        <key>offset</key>
        <string>{-44,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,253},{49,49}}</string>
        <key>offset</key>
        <string>{-34,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,253},{47,48}}</string>
        <key>offset</key>
        <string>{-18,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_3502_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,397},{46,47}}</string>
        <key>offset</key>
        <string>{-47,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,47}}</string>
        <key>sourceSize</key>
        <string>{46,47}</string>
      </dict>
      <key>weapon_3502_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,398},{47,45}}</string>
        <key>offset</key>
        <string>{-53,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,45}}</string>
        <key>sourceSize</key>
        <string>{47,45}</string>
      </dict>
      <key>weapon_3502_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,101},{48,50}}</string>
        <key>offset</key>
        <string>{-9,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,148},{48,50}}</string>
        <key>offset</key>
        <string>{-22,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3502_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,249},{49,49}}</string>
        <key>offset</key>
        <string>{-25,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>weapon_3502_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,300},{47,48}}</string>
        <key>offset</key>
        <string>{-3,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_3502_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{47,47}}</string>
        <key>offset</key>
        <string>{-32,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>weapon_3502_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,351},{47,46}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,46}}</string>
        <key>sourceSize</key>
        <string>{47,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3502_1_5.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>weapon_3502_1_5.png</string>
    </dict>
  </dict>
</plist>