<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3051_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,158},{72,36}}</string>
        <key>offset</key>
        <string>{29,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,36}}</string>
        <key>sourceSize</key>
        <string>{72,36}</string>
      </dict>
      <key>weapon_3051_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{24,78}}</string>
        <key>offset</key>
        <string>{10,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,78}}</string>
        <key>sourceSize</key>
        <string>{24,78}</string>
      </dict>
      <key>weapon_3051_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,438},{46,44}}</string>
        <key>offset</key>
        <string>{19,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,44}}</string>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>weapon_3051_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,440},{26,59}}</string>
        <key>offset</key>
        <string>{-17,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,59}}</string>
        <key>sourceSize</key>
        <string>{26,59}</string>
      </dict>
      <key>weapon_3051_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{22,61}}</string>
        <key>offset</key>
        <string>{-10,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,61}}</string>
        <key>sourceSize</key>
        <string>{22,61}</string>
      </dict>
      <key>weapon_3051_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,273},{83,64}}</string>
        <key>offset</key>
        <string>{9,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,64}}</string>
        <key>sourceSize</key>
        <string>{83,64}</string>
      </dict>
      <key>weapon_3051_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,377},{46,37}}</string>
        <key>offset</key>
        <string>{30,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,37}}</string>
        <key>sourceSize</key>
        <string>{46,37}</string>
      </dict>
      <key>weapon_3051_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,306},{69,69}}</string>
        <key>offset</key>
        <string>{-37,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,69}}</string>
        <key>sourceSize</key>
        <string>{69,69}</string>
      </dict>
      <key>weapon_3051_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,431},{33,33}}</string>
        <key>offset</key>
        <string>{19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>weapon_3051_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,466},{73,38}}</string>
        <key>offset</key>
        <string>{10,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,38}}</string>
        <key>sourceSize</key>
        <string>{73,38}</string>
      </dict>
      <key>weapon_3051_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,72},{62,49}}</string>
        <key>offset</key>
        <string>{11,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,49}}</string>
        <key>sourceSize</key>
        <string>{62,49}</string>
      </dict>
      <key>weapon_3051_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{76,37}}</string>
        <key>offset</key>
        <string>{26,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,37}}</string>
        <key>sourceSize</key>
        <string>{76,37}</string>
      </dict>
      <key>weapon_3051_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{75,21}}</string>
        <key>offset</key>
        <string>{-27,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,21}}</string>
        <key>sourceSize</key>
        <string>{75,21}</string>
      </dict>
      <key>weapon_3051_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,0},{89,49}}</string>
        <key>offset</key>
        <string>{-56,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,49}}</string>
        <key>sourceSize</key>
        <string>{89,49}</string>
      </dict>
      <key>weapon_3051_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,74},{70,24}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,24}}</string>
        <key>sourceSize</key>
        <string>{70,24}</string>
      </dict>
      <key>weapon_3051_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,14}}</string>
        <key>offset</key>
        <string>{24,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,14}}</string>
        <key>sourceSize</key>
        <string>{91,14}</string>
      </dict>
      <key>weapon_3051_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{90,21}}</string>
        <key>offset</key>
        <string>{17,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,21}}</string>
        <key>sourceSize</key>
        <string>{90,21}</string>
      </dict>
      <key>weapon_3051_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,295},{45,31}}</string>
        <key>offset</key>
        <string>{34,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,31}}</string>
        <key>sourceSize</key>
        <string>{45,31}</string>
      </dict>
      <key>weapon_3051_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,185},{89,27}}</string>
        <key>offset</key>
        <string>{-49,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,27}}</string>
        <key>sourceSize</key>
        <string>{89,27}</string>
      </dict>
      <key>weapon_3051_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{61,46}}</string>
        <key>offset</key>
        <string>{-33,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,46}}</string>
        <key>sourceSize</key>
        <string>{61,46}</string>
      </dict>
      <key>weapon_3051_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,246},{74,56}}</string>
        <key>offset</key>
        <string>{-20,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,56}}</string>
        <key>sourceSize</key>
        <string>{74,56}</string>
      </dict>
      <key>weapon_3051_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,377},{61,44}}</string>
        <key>offset</key>
        <string>{43,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,44}}</string>
        <key>sourceSize</key>
        <string>{61,44}</string>
      </dict>
      <key>weapon_3051_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,146},{66,47}}</string>
        <key>offset</key>
        <string>{38,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,47}}</string>
        <key>sourceSize</key>
        <string>{66,47}</string>
      </dict>
      <key>weapon_3051_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,377},{59,19}}</string>
        <key>offset</key>
        <string>{-11,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,19}}</string>
        <key>sourceSize</key>
        <string>{59,19}</string>
      </dict>
      <key>weapon_3051_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,77},{72,57}}</string>
        <key>offset</key>
        <string>{-51,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,57}}</string>
        <key>sourceSize</key>
        <string>{72,57}</string>
      </dict>
      <key>weapon_3051_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,342},{35,31}}</string>
        <key>offset</key>
        <string>{13,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>weapon_3051_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,87},{33,79}}</string>
        <key>offset</key>
        <string>{-6,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,79}}</string>
        <key>sourceSize</key>
        <string>{33,79}</string>
      </dict>
      <key>weapon_3051_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,322},{32,73}}</string>
        <key>offset</key>
        <string>{38,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,73}}</string>
        <key>sourceSize</key>
        <string>{32,73}</string>
      </dict>
      <key>weapon_3051_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{29,72}}</string>
        <key>offset</key>
        <string>{33,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,72}}</string>
        <key>sourceSize</key>
        <string>{29,72}</string>
      </dict>
      <key>weapon_3051_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{85,26}}</string>
        <key>offset</key>
        <string>{-44,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,26}}</string>
        <key>sourceSize</key>
        <string>{85,26}</string>
      </dict>
      <key>weapon_3051_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,466},{42,74}}</string>
        <key>offset</key>
        <string>{-21,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,74}}</string>
        <key>sourceSize</key>
        <string>{42,74}</string>
      </dict>
      <key>weapon_3051_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,438},{76,26}}</string>
        <key>offset</key>
        <string>{15,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,26}}</string>
        <key>sourceSize</key>
        <string>{76,26}</string>
      </dict>
      <key>weapon_3051_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,91},{32,89}}</string>
        <key>offset</key>
        <string>{-4,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,89}}</string>
        <key>sourceSize</key>
        <string>{32,89}</string>
      </dict>
      <key>weapon_3051_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,356},{63,73}}</string>
        <key>offset</key>
        <string>{-25,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>weapon_3051_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,151},{63,71}}</string>
        <key>offset</key>
        <string>{-23,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,71}}</string>
        <key>sourceSize</key>
        <string>{63,71}</string>
      </dict>
      <key>weapon_3051_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,168},{76,53}}</string>
        <key>offset</key>
        <string>{-51,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,53}}</string>
        <key>sourceSize</key>
        <string>{76,53}</string>
      </dict>
      <key>weapon_3051_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,224},{65,69}}</string>
        <key>offset</key>
        <string>{2,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>weapon_3051_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,80},{76,55}}</string>
        <key>offset</key>
        <string>{19,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,55}}</string>
        <key>sourceSize</key>
        <string>{76,55}</string>
      </dict>
      <key>weapon_3051_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,358},{74,78}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>weapon_3051_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{89,53}}</string>
        <key>offset</key>
        <string>{-64,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,53}}</string>
        <key>sourceSize</key>
        <string>{89,53}</string>
      </dict>
      <key>weapon_3051_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,182},{89,46}}</string>
        <key>offset</key>
        <string>{-57,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,46}}</string>
        <key>sourceSize</key>
        <string>{89,46}</string>
      </dict>
      <key>weapon_3051_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{39,85}}</string>
        <key>offset</key>
        <string>{-25,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,85}}</string>
        <key>sourceSize</key>
        <string>{39,85}</string>
      </dict>
      <key>weapon_3051_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,91},{86,48}}</string>
        <key>offset</key>
        <string>{10,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,48}}</string>
        <key>sourceSize</key>
        <string>{86,48}</string>
      </dict>
      <key>weapon_3051_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,179},{42,83}}</string>
        <key>offset</key>
        <string>{26,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,83}}</string>
        <key>sourceSize</key>
        <string>{42,83}</string>
      </dict>
      <key>weapon_3051_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,232},{72,58}}</string>
        <key>offset</key>
        <string>{-6,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,58}}</string>
        <key>sourceSize</key>
        <string>{72,58}</string>
      </dict>
      <key>weapon_3051_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{75,45}}</string>
        <key>offset</key>
        <string>{-63,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,45}}</string>
        <key>sourceSize</key>
        <string>{75,45}</string>
      </dict>
      <key>weapon_3051_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{70,43}}</string>
        <key>offset</key>
        <string>{-52,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,43}}</string>
        <key>sourceSize</key>
        <string>{70,43}</string>
      </dict>
      <key>weapon_3051_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,367},{59,84}}</string>
        <key>offset</key>
        <string>{0,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,84}}</string>
        <key>sourceSize</key>
        <string>{59,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3051_1_10.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3051_1_10.png</string>
    </dict>
  </dict>
</plist>