<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3007_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,169},{39,65}}</string>
        <key>offset</key>
        <string>{27,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,65}}</string>
        <key>sourceSize</key>
        <string>{39,65}</string>
      </dict>
      <key>weapon_3007_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,214},{40,77}}</string>
        <key>offset</key>
        <string>{26,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,77}}</string>
        <key>sourceSize</key>
        <string>{40,77}</string>
      </dict>
      <key>weapon_3007_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,60},{31,65}}</string>
        <key>offset</key>
        <string>{29,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,65}}</string>
        <key>sourceSize</key>
        <string>{31,65}</string>
      </dict>
      <key>weapon_3007_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,0},{86,42}}</string>
        <key>offset</key>
        <string>{-12,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,42}}</string>
        <key>sourceSize</key>
        <string>{86,42}</string>
      </dict>
      <key>weapon_3007_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,85},{82,51}}</string>
        <key>offset</key>
        <string>{-4,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,51}}</string>
        <key>sourceSize</key>
        <string>{82,51}</string>
      </dict>
      <key>weapon_3007_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{86,32}}</string>
        <key>offset</key>
        <string>{1,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,32}}</string>
        <key>sourceSize</key>
        <string>{86,32}</string>
      </dict>
      <key>weapon_3007_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,88},{86,15}}</string>
        <key>offset</key>
        <string>{-29,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,15}}</string>
        <key>sourceSize</key>
        <string>{86,15}</string>
      </dict>
      <key>weapon_3007_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{77,18}}</string>
        <key>offset</key>
        <string>{-19,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,18}}</string>
        <key>sourceSize</key>
        <string>{77,18}</string>
      </dict>
      <key>weapon_3007_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88,15}}</string>
        <key>offset</key>
        <string>{-15,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,15}}</string>
        <key>sourceSize</key>
        <string>{88,15}</string>
      </dict>
      <key>weapon_3007_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,125},{26,57}}</string>
        <key>offset</key>
        <string>{-12,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,57}}</string>
        <key>sourceSize</key>
        <string>{26,57}</string>
      </dict>
      <key>weapon_3007_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,159},{20,49}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,49}}</string>
        <key>sourceSize</key>
        <string>{20,49}</string>
      </dict>
      <key>weapon_3007_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,93},{30,60}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,60}}</string>
        <key>sourceSize</key>
        <string>{30,60}</string>
      </dict>
      <key>weapon_3007_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,210},{39,44}}</string>
        <key>offset</key>
        <string>{-23,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>weapon_3007_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,153},{40,28}}</string>
        <key>offset</key>
        <string>{-23,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,28}}</string>
        <key>sourceSize</key>
        <string>{40,28}</string>
      </dict>
      <key>weapon_3007_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,159},{27,38}}</string>
        <key>offset</key>
        <string>{-13,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,38}}</string>
        <key>sourceSize</key>
        <string>{27,38}</string>
      </dict>
      <key>weapon_3007_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,88},{86,13}}</string>
        <key>offset</key>
        <string>{-29,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,13}}</string>
        <key>sourceSize</key>
        <string>{86,13}</string>
      </dict>
      <key>weapon_3007_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{86,16}}</string>
        <key>offset</key>
        <string>{-36,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,16}}</string>
        <key>sourceSize</key>
        <string>{86,16}</string>
      </dict>
      <key>weapon_3007_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,88},{84,18}}</string>
        <key>offset</key>
        <string>{-39,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,18}}</string>
        <key>sourceSize</key>
        <string>{84,18}</string>
      </dict>
      <key>weapon_3007_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{85,39}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,39}}</string>
        <key>sourceSize</key>
        <string>{85,39}</string>
      </dict>
      <key>weapon_3007_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{75,58}}</string>
        <key>offset</key>
        <string>{-19,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,58}}</string>
        <key>sourceSize</key>
        <string>{75,58}</string>
      </dict>
      <key>weapon_3007_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{88,33}}</string>
        <key>offset</key>
        <string>{-27,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,33}}</string>
        <key>sourceSize</key>
        <string>{88,33}</string>
      </dict>
      <key>weapon_3007_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{47,77}}</string>
        <key>offset</key>
        <string>{20,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,77}}</string>
        <key>sourceSize</key>
        <string>{47,77}</string>
      </dict>
      <key>weapon_3007_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{29,83}}</string>
        <key>offset</key>
        <string>{24,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,83}}</string>
        <key>sourceSize</key>
        <string>{29,83}</string>
      </dict>
      <key>weapon_3007_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,93},{45,64}}</string>
        <key>offset</key>
        <string>{10,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,64}}</string>
        <key>sourceSize</key>
        <string>{45,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3007_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3007_0_7.png</string>
    </dict>
  </dict>
</plist>