<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3064_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,199},{22,21}}</string>
        <key>offset</key>
        <string>{35,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,21}}</string>
        <key>sourceSize</key>
        <string>{22,21}</string>
      </dict>
      <key>weapon_3064_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,179},{16,33}}</string>
        <key>offset</key>
        <string>{37,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,33}}</string>
        <key>sourceSize</key>
        <string>{16,33}</string>
      </dict>
      <key>weapon_3064_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,156},{47,38}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,38}}</string>
        <key>sourceSize</key>
        <string>{47,38}</string>
      </dict>
      <key>weapon_3064_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{117,31}}</string>
        <key>offset</key>
        <string>{-41,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,31}}</string>
        <key>sourceSize</key>
        <string>{117,31}</string>
      </dict>
      <key>weapon_3064_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,231},{79,22}}</string>
        <key>offset</key>
        <string>{4,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,22}}</string>
        <key>sourceSize</key>
        <string>{79,22}</string>
      </dict>
      <key>weapon_3064_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,106},{90,36}}</string>
        <key>offset</key>
        <string>{5,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,36}}</string>
        <key>sourceSize</key>
        <string>{90,36}</string>
      </dict>
      <key>weapon_3064_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,51},{66,26}}</string>
        <key>offset</key>
        <string>{30,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,26}}</string>
        <key>sourceSize</key>
        <string>{66,26}</string>
      </dict>
      <key>weapon_3064_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{78,73}}</string>
        <key>offset</key>
        <string>{26,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,73}}</string>
        <key>sourceSize</key>
        <string>{78,73}</string>
      </dict>
      <key>weapon_3064_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,109},{105,60}}</string>
        <key>offset</key>
        <string>{-22,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,60}}</string>
        <key>sourceSize</key>
        <string>{105,60}</string>
      </dict>
      <key>weapon_3064_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,117},{114,52}}</string>
        <key>offset</key>
        <string>{-19,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,52}}</string>
        <key>sourceSize</key>
        <string>{114,52}</string>
      </dict>
      <key>weapon_3064_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{104,60}}</string>
        <key>offset</key>
        <string>{16,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,60}}</string>
        <key>sourceSize</key>
        <string>{104,60}</string>
      </dict>
      <key>weapon_3064_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,198},{31,87}}</string>
        <key>offset</key>
        <string>{76,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,87}}</string>
        <key>sourceSize</key>
        <string>{31,87}</string>
      </dict>
      <key>weapon_3064_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{79,90}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,90}}</string>
        <key>sourceSize</key>
        <string>{79,90}</string>
      </dict>
      <key>weapon_3064_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,179},{82,72}}</string>
        <key>offset</key>
        <string>{-19,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,72}}</string>
        <key>sourceSize</key>
        <string>{82,72}</string>
      </dict>
      <key>weapon_3064_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,119},{116,29}}</string>
        <key>offset</key>
        <string>{-8,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,29}}</string>
        <key>sourceSize</key>
        <string>{116,29}</string>
      </dict>
      <key>weapon_3064_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{105,55}}</string>
        <key>offset</key>
        <string>{24,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,55}}</string>
        <key>sourceSize</key>
        <string>{105,55}</string>
      </dict>
      <key>weapon_3064_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,216},{11,100}}</string>
        <key>offset</key>
        <string>{0,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,100}}</string>
        <key>sourceSize</key>
        <string>{11,100}</string>
      </dict>
      <key>weapon_3064_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,106},{23,91}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,91}}</string>
        <key>sourceSize</key>
        <string>{23,91}</string>
      </dict>
      <key>weapon_3064_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{73,49}}</string>
        <key>offset</key>
        <string>{-18,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,49}}</string>
        <key>sourceSize</key>
        <string>{73,49}</string>
      </dict>
      <key>weapon_3064_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,237},{113,17}}</string>
        <key>offset</key>
        <string>{-26,-47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,17}}</string>
        <key>sourceSize</key>
        <string>{113,17}</string>
      </dict>
      <key>weapon_3064_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,86},{76,80}}</string>
        <key>offset</key>
        <string>{-32,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,80}}</string>
        <key>sourceSize</key>
        <string>{76,80}</string>
      </dict>
      <key>weapon_3064_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,92},{85,62}}</string>
        <key>offset</key>
        <string>{-43,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,62}}</string>
        <key>sourceSize</key>
        <string>{85,62}</string>
      </dict>
      <key>weapon_3064_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,127},{27,59}}</string>
        <key>offset</key>
        <string>{-26,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,59}}</string>
        <key>sourceSize</key>
        <string>{27,59}</string>
      </dict>
      <key>weapon_3064_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,79},{61,46}}</string>
        <key>offset</key>
        <string>{-47,-24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,46}}</string>
        <key>sourceSize</key>
        <string>{61,46}</string>
      </dict>
      <key>weapon_3064_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{115,39}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,39}}</string>
        <key>sourceSize</key>
        <string>{115,39}</string>
      </dict>
      <key>weapon_3064_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,22}}</string>
        <key>offset</key>
        <string>{-51,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,22}}</string>
        <key>sourceSize</key>
        <string>{118,22}</string>
      </dict>
      <key>weapon_3064_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{84,28}}</string>
        <key>offset</key>
        <string>{-61,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,28}}</string>
        <key>sourceSize</key>
        <string>{84,28}</string>
      </dict>
      <key>weapon_3064_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,156},{34,47}}</string>
        <key>offset</key>
        <string>{-61,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,47}}</string>
        <key>sourceSize</key>
        <string>{34,47}</string>
      </dict>
      <key>weapon_3064_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,106},{95,29}}</string>
        <key>offset</key>
        <string>{-15,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,29}}</string>
        <key>sourceSize</key>
        <string>{95,29}</string>
      </dict>
      <key>weapon_3064_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,229},{94,12}}</string>
        <key>offset</key>
        <string>{-20,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,12}}</string>
        <key>sourceSize</key>
        <string>{94,12}</string>
      </dict>
      <key>weapon_3064_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{118,28}}</string>
        <key>offset</key>
        <string>{-59,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,28}}</string>
        <key>sourceSize</key>
        <string>{118,28}</string>
      </dict>
      <key>weapon_3064_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{107,18}}</string>
        <key>offset</key>
        <string>{-82,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,18}}</string>
        <key>sourceSize</key>
        <string>{107,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3064_1_4.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3064_1_4.png</string>
    </dict>
  </dict>
</plist>