<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21012_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,62},{47,54}}</string>
        <key>offset</key>
        <string>{43,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,54}}</string>
        <key>sourceSize</key>
        <string>{47,54}</string>
      </dict>
      <key>weapon_21012_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{33,39}}</string>
        <key>offset</key>
        <string>{38,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>weapon_21012_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,41},{10,26}}</string>
        <key>offset</key>
        <string>{22,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,26}}</string>
        <key>sourceSize</key>
        <string>{10,26}</string>
      </dict>
      <key>weapon_21012_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{36,37}}</string>
        <key>offset</key>
        <string>{-22,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>weapon_21012_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{42,60}}</string>
        <key>offset</key>
        <string>{-39,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,60}}</string>
        <key>sourceSize</key>
        <string>{42,60}</string>
      </dict>
      <key>weapon_21012_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,79},{27,76}}</string>
        <key>offset</key>
        <string>{-19,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,76}}</string>
        <key>sourceSize</key>
        <string>{27,76}</string>
      </dict>
      <key>weapon_21012_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{14,77}}</string>
        <key>offset</key>
        <string>{15,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,77}}</string>
        <key>sourceSize</key>
        <string>{14,77}</string>
      </dict>
      <key>weapon_21012_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,0},{25,70}}</string>
        <key>offset</key>
        <string>{37,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,70}}</string>
        <key>sourceSize</key>
        <string>{25,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21012_0_11.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_21012_0_11.png</string>
    </dict>
  </dict>
</plist>