<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0273_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{82,183}}</string>
        <key>offset</key>
        <string>{8,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{82,183}</string>
        <key>sourceSize</key>
        <string>{82,183}</string>
      </dict>
      <key>weapon_0273_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{72,198}}</string>
        <key>offset</key>
        <string>{2,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{72,198}</string>
        <key>sourceSize</key>
        <string>{72,198}</string>
      </dict>
      <key>weapon_0273_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,187},{55,139}}</string>
        <key>offset</key>
        <string>{-9,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{55,139}</string>
        <key>sourceSize</key>
        <string>{55,139}</string>
      </dict>
      <key>weapon_0273_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,972},{46,83}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{46,83}</string>
        <key>sourceSize</key>
        <string>{46,83}</string>
      </dict>
      <key>weapon_0273_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,187},{94,163}}</string>
        <key>offset</key>
        <string>{-32,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{94,163}</string>
        <key>sourceSize</key>
        <string>{94,163}</string>
      </dict>
      <key>weapon_0273_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{68,138}}</string>
        <key>offset</key>
        <string>{3,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{68,138}</string>
        <key>sourceSize</key>
        <string>{68,138}</string>
      </dict>
      <key>weapon_0273_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,352},{135,132}}</string>
        <key>offset</key>
        <string>{-3,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,132}</string>
        <key>sourceSize</key>
        <string>{135,132}</string>
      </dict>
      <key>weapon_0273_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,348},{94,140}}</string>
        <key>offset</key>
        <string>{11,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{94,140}</string>
        <key>sourceSize</key>
        <string>{94,140}</string>
      </dict>
      <key>weapon_0273_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{69,185}}</string>
        <key>offset</key>
        <string>{6,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{69,185}</string>
        <key>sourceSize</key>
        <string>{69,185}</string>
      </dict>
      <key>weapon_0273_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,264},{82,156}}</string>
        <key>offset</key>
        <string>{-16,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{82,156}</string>
        <key>sourceSize</key>
        <string>{82,156}</string>
      </dict>
      <key>weapon_0273_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{90,179}}</string>
        <key>offset</key>
        <string>{4,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,179}</string>
        <key>sourceSize</key>
        <string>{90,179}</string>
      </dict>
      <key>weapon_0273_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,561},{105,118}}</string>
        <key>offset</key>
        <string>{8,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{105,118}</string>
        <key>sourceSize</key>
        <string>{105,118}</string>
      </dict>
      <key>weapon_0273_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{130,93}}</string>
        <key>offset</key>
        <string>{-3,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,93}</string>
        <key>sourceSize</key>
        <string>{130,93}</string>
      </dict>
      <key>weapon_0273_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{114,113}}</string>
        <key>offset</key>
        <string>{12,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{114,113}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>weapon_0273_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{64,140}}</string>
        <key>offset</key>
        <string>{19,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{64,140}</string>
        <key>sourceSize</key>
        <string>{64,140}</string>
      </dict>
      <key>weapon_0273_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,74},{86,183}}</string>
        <key>offset</key>
        <string>{-16,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{86,183}</string>
        <key>sourceSize</key>
        <string>{86,183}</string>
      </dict>
      <key>weapon_0273_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,162},{100,170}}</string>
        <key>offset</key>
        <string>{1,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,170}</string>
        <key>sourceSize</key>
        <string>{100,170}</string>
      </dict>
      <key>weapon_0273_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,651},{117,103}}</string>
        <key>offset</key>
        <string>{7,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{117,103}</string>
        <key>sourceSize</key>
        <string>{117,103}</string>
      </dict>
      <key>weapon_0273_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,760},{96,92}}</string>
        <key>offset</key>
        <string>{-18,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{96,92}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>weapon_0273_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,854},{93,95}}</string>
        <key>offset</key>
        <string>{2,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{93,95}</string>
        <key>sourceSize</key>
        <string>{93,95}</string>
      </dict>
      <key>weapon_0273_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,486},{73,127}}</string>
        <key>offset</key>
        <string>{7,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{73,127}</string>
        <key>sourceSize</key>
        <string>{73,127}</string>
      </dict>
      <key>weapon_0273_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,204}}</string>
        <key>offset</key>
        <string>{-6,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{72,204}</string>
        <key>sourceSize</key>
        <string>{72,204}</string>
      </dict>
      <key>weapon_0273_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,884},{90,98}}</string>
        <key>offset</key>
        <string>{-5,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{90,98}</string>
        <key>sourceSize</key>
        <string>{90,98}</string>
      </dict>
      <key>weapon_0273_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,535},{120,114}}</string>
        <key>offset</key>
        <string>{-22,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{120,114}</string>
        <key>sourceSize</key>
        <string>{120,114}</string>
      </dict>
      <key>weapon_0273_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,952},{67,95}}</string>
        <key>offset</key>
        <string>{-27,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,95}</string>
        <key>sourceSize</key>
        <string>{67,95}</string>
      </dict>
      <key>weapon_0273_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,917},{56,88}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{56,88}</string>
        <key>sourceSize</key>
        <string>{56,88}</string>
      </dict>
      <key>weapon_0273_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,917},{53,89}}</string>
        <key>offset</key>
        <string>{-3,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{53,89}</string>
        <key>sourceSize</key>
        <string>{53,89}</string>
      </dict>
      <key>weapon_0273_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,328},{54,128}}</string>
        <key>offset</key>
        <string>{-1,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{54,128}</string>
        <key>sourceSize</key>
        <string>{54,128}</string>
      </dict>
      <key>weapon_0273_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,666},{57,68}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{57,68}</string>
        <key>sourceSize</key>
        <string>{57,68}</string>
      </dict>
      <key>weapon_0273_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,984},{38,58}}</string>
        <key>offset</key>
        <string>{-7,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{38,58}</string>
        <key>sourceSize</key>
        <string>{38,58}</string>
      </dict>
      <key>weapon_0273_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,854},{96,69}}</string>
        <key>offset</key>
        <string>{-68,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{96,69}</string>
        <key>sourceSize</key>
        <string>{96,69}</string>
      </dict>
      <key>weapon_0273_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,951},{89,71}}</string>
        <key>offset</key>
        <string>{-49,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{89,71}</string>
        <key>sourceSize</key>
        <string>{89,71}</string>
      </dict>
      <key>weapon_0273_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,675},{75,98}}</string>
        <key>offset</key>
        <string>{-33,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{75,98}</string>
        <key>sourceSize</key>
        <string>{75,98}</string>
      </dict>
      <key>weapon_0273_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,884},{67,99}}</string>
        <key>offset</key>
        <string>{-12,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{67,99}</string>
        <key>sourceSize</key>
        <string>{67,99}</string>
      </dict>
      <key>weapon_0273_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,839},{94,88}}</string>
        <key>offset</key>
        <string>{-46,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{94,88}</string>
        <key>sourceSize</key>
        <string>{94,88}</string>
      </dict>
      <key>weapon_0273_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,328},{77,53}}</string>
        <key>offset</key>
        <string>{-50,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{77,53}</string>
        <key>sourceSize</key>
        <string>{77,53}</string>
      </dict>
      <key>weapon_0273_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,458},{127,60}}</string>
        <key>offset</key>
        <string>{-78,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{127,60}</string>
        <key>sourceSize</key>
        <string>{127,60}</string>
      </dict>
      <key>weapon_0273_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,756},{107,82}}</string>
        <key>offset</key>
        <string>{-65,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{107,82}</string>
        <key>sourceSize</key>
        <string>{107,82}</string>
      </dict>
      <key>weapon_0273_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,839},{76,91}}</string>
        <key>offset</key>
        <string>{-39,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{76,91}</string>
        <key>sourceSize</key>
        <string>{76,91}</string>
      </dict>
      <key>weapon_0273_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,444},{89,132}}</string>
        <key>offset</key>
        <string>{-18,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,132}</string>
        <key>sourceSize</key>
        <string>{89,132}</string>
      </dict>
      <key>weapon_0273_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,752},{85,98}}</string>
        <key>offset</key>
        <string>{-58,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{85,98}</string>
        <key>sourceSize</key>
        <string>{85,98}</string>
      </dict>
      <key>weapon_0273_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{119,88}}</string>
        <key>offset</key>
        <string>{-84,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{119,88}</string>
        <key>sourceSize</key>
        <string>{119,88}</string>
      </dict>
      <key>weapon_0273_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,587},{77,89}}</string>
        <key>offset</key>
        <string>{-19,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{77,89}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>weapon_0273_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,668},{90,109}}</string>
        <key>offset</key>
        <string>{-46,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{90,109}</string>
        <key>sourceSize</key>
        <string>{90,109}</string>
      </dict>
      <key>weapon_0273_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,561},{69,112}}</string>
        <key>offset</key>
        <string>{-29,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{69,112}</string>
        <key>sourceSize</key>
        <string>{69,112}</string>
      </dict>
      <key>weapon_0273_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,935},{56,87}}</string>
        <key>offset</key>
        <string>{-4,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{56,87}</string>
        <key>sourceSize</key>
        <string>{56,87}</string>
      </dict>
      <key>weapon_0273_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{105,167}}</string>
        <key>offset</key>
        <string>{-67,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{105,167}</string>
        <key>sourceSize</key>
        <string>{105,167}</string>
      </dict>
      <key>weapon_0273_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,793},{89,103}}</string>
        <key>offset</key>
        <string>{-47,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{89,103}</string>
        <key>sourceSize</key>
        <string>{89,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0273_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0273_0_5.png</string>
    </dict>
  </dict>
</plist>