<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3054_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,56},{19,48}}</string>
        <key>offset</key>
        <string>{25,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,48}}</string>
        <key>sourceSize</key>
        <string>{19,48}</string>
      </dict>
      <key>weapon_3054_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,65},{18,58}}</string>
        <key>offset</key>
        <string>{24,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,58}}</string>
        <key>sourceSize</key>
        <string>{18,58}</string>
      </dict>
      <key>weapon_3054_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,202},{66,33}}</string>
        <key>offset</key>
        <string>{19,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,33}}</string>
        <key>sourceSize</key>
        <string>{66,33}</string>
      </dict>
      <key>weapon_3054_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{66,54}}</string>
        <key>offset</key>
        <string>{33,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,54}}</string>
        <key>sourceSize</key>
        <string>{66,54}</string>
      </dict>
      <key>weapon_3054_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{108,20}}</string>
        <key>offset</key>
        <string>{1,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,20}}</string>
        <key>sourceSize</key>
        <string>{108,20}</string>
      </dict>
      <key>weapon_3054_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{108,19}}</string>
        <key>offset</key>
        <string>{25,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,19}}</string>
        <key>sourceSize</key>
        <string>{108,19}</string>
      </dict>
      <key>weapon_3054_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{88,50}}</string>
        <key>offset</key>
        <string>{-2,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,50}}</string>
        <key>sourceSize</key>
        <string>{88,50}</string>
      </dict>
      <key>weapon_3054_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,177},{84,23}}</string>
        <key>offset</key>
        <string>{17,-8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,23}}</string>
        <key>sourceSize</key>
        <string>{84,23}</string>
      </dict>
      <key>weapon_3054_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,65},{21,40}}</string>
        <key>offset</key>
        <string>{4,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,40}}</string>
        <key>sourceSize</key>
        <string>{21,40}</string>
      </dict>
      <key>weapon_3054_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{15,63}}</string>
        <key>offset</key>
        <string>{8,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,63}}</string>
        <key>sourceSize</key>
        <string>{15,63}</string>
      </dict>
      <key>weapon_3054_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,90},{60,73}}</string>
        <key>offset</key>
        <string>{-33,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,73}}</string>
        <key>sourceSize</key>
        <string>{60,73}</string>
      </dict>
      <key>weapon_3054_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{59,47}}</string>
        <key>offset</key>
        <string>{-45,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,47}}</string>
        <key>sourceSize</key>
        <string>{59,47}</string>
      </dict>
      <key>weapon_3054_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,110},{100,47}}</string>
        <key>offset</key>
        <string>{-57,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,47}}</string>
        <key>sourceSize</key>
        <string>{100,47}</string>
      </dict>
      <key>weapon_3054_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{101,21}}</string>
        <key>offset</key>
        <string>{-79,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,21}}</string>
        <key>sourceSize</key>
        <string>{101,21}</string>
      </dict>
      <key>weapon_3054_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,90},{85,21}}</string>
        <key>offset</key>
        <string>{-34,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,21}}</string>
        <key>sourceSize</key>
        <string>{85,21}</string>
      </dict>
      <key>weapon_3054_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,0},{96,29}}</string>
        <key>offset</key>
        <string>{-63,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,29}}</string>
        <key>sourceSize</key>
        <string>{96,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3054_1_8.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3054_1_8.png</string>
    </dict>
  </dict>
</plist>