<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20004_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,214},{200,140}}</string>
        <key>offset</key>
        <string>{2,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{200,140}}</string>
        <key>sourceSize</key>
        <string>{200,141}</string>
      </dict>
      <key>weapon_20004_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,840},{178,148}}</string>
        <key>offset</key>
        <string>{3,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{178,148}}</string>
        <key>sourceSize</key>
        <string>{178,149}</string>
      </dict>
      <key>weapon_20004_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,710},{156,152}}</string>
        <key>offset</key>
        <string>{4,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{156,152}}</string>
        <key>sourceSize</key>
        <string>{157,152}</string>
      </dict>
      <key>weapon_20004_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{180,100}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{180,100}}</string>
        <key>sourceSize</key>
        <string>{181,100}</string>
      </dict>
      <key>weapon_20004_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,540},{160,96}}</string>
        <key>offset</key>
        <string>{0,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,96}}</string>
        <key>sourceSize</key>
        <string>{160,97}</string>
      </dict>
      <key>weapon_20004_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{216,114}}</string>
        <key>offset</key>
        <string>{-6,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{216,114}}</string>
        <key>sourceSize</key>
        <string>{217,114}</string>
      </dict>
      <key>weapon_20004_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{88,98}}</string>
        <key>offset</key>
        <string>{-19,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,98}}</string>
        <key>sourceSize</key>
        <string>{89,99}</string>
      </dict>
      <key>weapon_20004_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,540},{82,72}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{82,72}}</string>
        <key>sourceSize</key>
        <string>{83,72}</string>
      </dict>
      <key>weapon_20004_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,356},{182,112}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{182,112}}</string>
        <key>sourceSize</key>
        <string>{182,112}</string>
      </dict>
      <key>weapon_20004_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,702},{136,118}}</string>
        <key>offset</key>
        <string>{-99,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{136,118}}</string>
        <key>sourceSize</key>
        <string>{137,118}</string>
      </dict>
      <key>weapon_20004_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,710},{128,100}}</string>
        <key>offset</key>
        <string>{-83,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{128,100}}</string>
        <key>sourceSize</key>
        <string>{128,101}</string>
      </dict>
      <key>weapon_20004_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,864},{80,152}}</string>
        <key>offset</key>
        <string>{-19,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{80,152}}</string>
        <key>sourceSize</key>
        <string>{81,152}</string>
      </dict>
      <key>weapon_20004_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{204,110}}</string>
        <key>offset</key>
        <string>{-157,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{204,110}}</string>
        <key>sourceSize</key>
        <string>{204,111}</string>
      </dict>
      <key>weapon_20004_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{182,148}}</string>
        <key>offset</key>
        <string>{-136,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{182,148}}</string>
        <key>sourceSize</key>
        <string>{183,148}</string>
      </dict>
      <key>weapon_20004_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,864},{154,124}}</string>
        <key>offset</key>
        <string>{-110,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,124}}</string>
        <key>sourceSize</key>
        <string>{155,125}</string>
      </dict>
      <key>weapon_20004_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,356},{186,184}}</string>
        <key>offset</key>
        <string>{-125,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,184}}</string>
        <key>sourceSize</key>
        <string>{187,185}</string>
      </dict>
      <key>weapon_20004_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,542},{166,182}}</string>
        <key>offset</key>
        <string>{-115,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{166,182}}</string>
        <key>sourceSize</key>
        <string>{167,182}</string>
      </dict>
      <key>weapon_20004_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{214,104}}</string>
        <key>offset</key>
        <string>{-160,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{214,104}}</string>
        <key>sourceSize</key>
        <string>{215,104}</string>
      </dict>
      <key>weapon_20004_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,116},{96,210}}</string>
        <key>offset</key>
        <string>{-25,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{96,210}}</string>
        <key>sourceSize</key>
        <string>{97,210}</string>
      </dict>
      <key>weapon_20004_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,222}}</string>
        <key>offset</key>
        <string>{-32,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{92,222}}</string>
        <key>sourceSize</key>
        <string>{92,223}</string>
      </dict>
      <key>weapon_20004_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,694},{180,144}}</string>
        <key>offset</key>
        <string>{-118,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,144}}</string>
        <key>sourceSize</key>
        <string>{181,145}</string>
      </dict>
      <key>weapon_20004_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,840},{134,176}}</string>
        <key>offset</key>
        <string>{11,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,176}}</string>
        <key>sourceSize</key>
        <string>{135,177}</string>
      </dict>
      <key>weapon_20004_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{128,196}}</string>
        <key>offset</key>
        <string>{1,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{128,196}}</string>
        <key>sourceSize</key>
        <string>{128,196}</string>
      </dict>
      <key>weapon_20004_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,116},{80,166}}</string>
        <key>offset</key>
        <string>{-12,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{80,166}}</string>
        <key>sourceSize</key>
        <string>{81,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20004_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20004_0_7.png</string>
    </dict>
  </dict>
</plist>