<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0273_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,408},{60,82}}</string>
        <key>offset</key>
        <string>{17,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{60,82}</string>
        <key>sourceSize</key>
        <string>{60,82}</string>
      </dict>
      <key>weapon_0273_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{70,145}}</string>
        <key>offset</key>
        <string>{9,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{70,145}</string>
        <key>sourceSize</key>
        <string>{70,145}</string>
      </dict>
      <key>weapon_0273_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,690},{48,110}}</string>
        <key>offset</key>
        <string>{13,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{48,110}</string>
        <key>sourceSize</key>
        <string>{48,110}</string>
      </dict>
      <key>weapon_0273_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{48,169}}</string>
        <key>offset</key>
        <string>{13,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{48,169}</string>
        <key>sourceSize</key>
        <string>{48,169}</string>
      </dict>
      <key>weapon_0273_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{45,126}}</string>
        <key>offset</key>
        <string>{9,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{45,126}</string>
        <key>sourceSize</key>
        <string>{45,126}</string>
      </dict>
      <key>weapon_0273_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,572},{59,122}}</string>
        <key>offset</key>
        <string>{7,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{59,122}</string>
        <key>sourceSize</key>
        <string>{59,122}</string>
      </dict>
      <key>weapon_0273_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,350},{121,135}}</string>
        <key>offset</key>
        <string>{1,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{121,135}</string>
        <key>sourceSize</key>
        <string>{121,135}</string>
      </dict>
      <key>weapon_0273_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,472},{126,116}}</string>
        <key>offset</key>
        <string>{7,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{126,116}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>weapon_0273_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,50},{108,150}}</string>
        <key>offset</key>
        <string>{8,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{108,150}</string>
        <key>sourceSize</key>
        <string>{108,150}</string>
      </dict>
      <key>weapon_0273_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,179}}</string>
        <key>offset</key>
        <string>{12,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,179}</string>
        <key>sourceSize</key>
        <string>{100,179}</string>
      </dict>
      <key>weapon_0273_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,356},{114,134}}</string>
        <key>offset</key>
        <string>{8,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{114,134}</string>
        <key>sourceSize</key>
        <string>{114,134}</string>
      </dict>
      <key>weapon_0273_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,633},{117,86}}</string>
        <key>offset</key>
        <string>{9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{117,86}</string>
        <key>sourceSize</key>
        <string>{117,86}</string>
      </dict>
      <key>weapon_0273_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{157,92}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{157,92}</string>
        <key>sourceSize</key>
        <string>{157,92}</string>
      </dict>
      <key>weapon_0273_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,160},{145,90}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{145,90}</string>
        <key>sourceSize</key>
        <string>{145,90}</string>
      </dict>
      <key>weapon_0273_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{139,101}}</string>
        <key>offset</key>
        <string>{7,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{139,101}</string>
        <key>sourceSize</key>
        <string>{139,101}</string>
      </dict>
      <key>weapon_0273_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,467},{127,103}}</string>
        <key>offset</key>
        <string>{12,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{127,103}</string>
        <key>sourceSize</key>
        <string>{127,103}</string>
      </dict>
      <key>weapon_0273_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,363},{131,102}}</string>
        <key>offset</key>
        <string>{8,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{131,102}</string>
        <key>sourceSize</key>
        <string>{131,102}</string>
      </dict>
      <key>weapon_0273_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,94},{150,97}}</string>
        <key>offset</key>
        <string>{-9,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{150,97}</string>
        <key>sourceSize</key>
        <string>{150,97}</string>
      </dict>
      <key>weapon_0273_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,740},{82,99}}</string>
        <key>offset</key>
        <string>{-8,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{82,99}</string>
        <key>sourceSize</key>
        <string>{82,99}</string>
      </dict>
      <key>weapon_0273_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,472},{121,112}}</string>
        <key>offset</key>
        <string>{-27,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{121,112}</string>
        <key>sourceSize</key>
        <string>{121,112}</string>
      </dict>
      <key>weapon_0273_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{104,81}}</string>
        <key>offset</key>
        <string>{-6,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{104,81}</string>
        <key>sourceSize</key>
        <string>{104,81}</string>
      </dict>
      <key>weapon_0273_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,721},{105,81}}</string>
        <key>offset</key>
        <string>{5,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{105,81}</string>
        <key>sourceSize</key>
        <string>{105,81}</string>
      </dict>
      <key>weapon_0273_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,863},{104,80}}</string>
        <key>offset</key>
        <string>{-2,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{104,80}</string>
        <key>sourceSize</key>
        <string>{104,80}</string>
      </dict>
      <key>weapon_0273_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,252},{109,138}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{109,138}</string>
        <key>sourceSize</key>
        <string>{109,138}</string>
      </dict>
      <key>weapon_0273_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,794},{67,105}}</string>
        <key>offset</key>
        <string>{-27,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,105}</string>
        <key>sourceSize</key>
        <string>{67,105}</string>
      </dict>
      <key>weapon_0273_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{34,70}}</string>
        <key>offset</key>
        <string>{-13,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{34,70}</string>
        <key>sourceSize</key>
        <string>{34,70}</string>
      </dict>
      <key>weapon_0273_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{37,76}}</string>
        <key>offset</key>
        <string>{-9,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{37,76}</string>
        <key>sourceSize</key>
        <string>{37,76}</string>
      </dict>
      <key>weapon_0273_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,408},{61,86}}</string>
        <key>offset</key>
        <string>{-21,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{61,86}</string>
        <key>sourceSize</key>
        <string>{61,86}</string>
      </dict>
      <key>weapon_0273_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,914},{41,93}}</string>
        <key>offset</key>
        <string>{-16,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{41,93}</string>
        <key>sourceSize</key>
        <string>{41,93}</string>
      </dict>
      <key>weapon_0273_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,909},{65,102}}</string>
        <key>offset</key>
        <string>{-22,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{65,102}</string>
        <key>sourceSize</key>
        <string>{65,102}</string>
      </dict>
      <key>weapon_0273_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,274},{132,88}}</string>
        <key>offset</key>
        <string>{-90,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{132,88}</string>
        <key>sourceSize</key>
        <string>{132,88}</string>
      </dict>
      <key>weapon_0273_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,969},{99,53}}</string>
        <key>offset</key>
        <string>{-66,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,53}</string>
        <key>sourceSize</key>
        <string>{99,53}</string>
      </dict>
      <key>weapon_0273_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,740},{100,75}}</string>
        <key>offset</key>
        <string>{-72,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,75}</string>
        <key>sourceSize</key>
        <string>{100,75}</string>
      </dict>
      <key>weapon_0273_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,914},{92,80}}</string>
        <key>offset</key>
        <string>{-65,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{92,80}</string>
        <key>sourceSize</key>
        <string>{92,80}</string>
      </dict>
      <key>weapon_0273_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,909},{101,84}}</string>
        <key>offset</key>
        <string>{-66,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{101,84}</string>
        <key>sourceSize</key>
        <string>{101,84}</string>
      </dict>
      <key>weapon_0273_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{115,72}}</string>
        <key>offset</key>
        <string>{-79,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{115,72}</string>
        <key>sourceSize</key>
        <string>{115,72}</string>
      </dict>
      <key>weapon_0273_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,595},{113,70}}</string>
        <key>offset</key>
        <string>{-68,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{113,70}</string>
        <key>sourceSize</key>
        <string>{113,70}</string>
      </dict>
      <key>weapon_0273_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{136,71}}</string>
        <key>offset</key>
        <string>{-91,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,71}</string>
        <key>sourceSize</key>
        <string>{136,71}</string>
      </dict>
      <key>weapon_0273_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,193},{139,79}}</string>
        <key>offset</key>
        <string>{-93,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{139,79}</string>
        <key>sourceSize</key>
        <string>{139,79}</string>
      </dict>
      <key>weapon_0273_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,667},{111,71}}</string>
        <key>offset</key>
        <string>{-81,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{111,71}</string>
        <key>sourceSize</key>
        <string>{111,71}</string>
      </dict>
      <key>weapon_0273_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,274},{135,80}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,80}</string>
        <key>sourceSize</key>
        <string>{135,80}</string>
      </dict>
      <key>weapon_0273_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,473},{127,84}}</string>
        <key>offset</key>
        <string>{-78,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{127,84}</string>
        <key>sourceSize</key>
        <string>{127,84}</string>
      </dict>
      <key>weapon_0273_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,824},{99,88}}</string>
        <key>offset</key>
        <string>{-43,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{99,88}</string>
        <key>sourceSize</key>
        <string>{99,88}</string>
      </dict>
      <key>weapon_0273_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,193},{78,91}}</string>
        <key>offset</key>
        <string>{-27,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{78,91}</string>
        <key>sourceSize</key>
        <string>{78,91}</string>
      </dict>
      <key>weapon_0273_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,804},{103,97}}</string>
        <key>offset</key>
        <string>{-62,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{103,97}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>weapon_0273_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{112,118}}</string>
        <key>offset</key>
        <string>{-58,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{112,118}</string>
        <key>sourceSize</key>
        <string>{112,118}</string>
      </dict>
      <key>weapon_0273_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,590},{118,98}}</string>
        <key>offset</key>
        <string>{-59,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{118,98}</string>
        <key>sourceSize</key>
        <string>{118,98}</string>
      </dict>
      <key>weapon_0273_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,94},{84,86}}</string>
        <key>offset</key>
        <string>{-33,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{84,86}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0273_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0273_0_1.png</string>
    </dict>
  </dict>
</plist>