<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3028_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,108},{46,22}}</string>
        <key>offset</key>
        <string>{38,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,22}}</string>
        <key>sourceSize</key>
        <string>{46,22}</string>
      </dict>
      <key>weapon_3028_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,33},{16,56}}</string>
        <key>offset</key>
        <string>{14,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,56}}</string>
        <key>sourceSize</key>
        <string>{16,56}</string>
      </dict>
      <key>weapon_3028_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,192},{36,11}}</string>
        <key>offset</key>
        <string>{25,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,11}}</string>
        <key>sourceSize</key>
        <string>{36,11}</string>
      </dict>
      <key>weapon_3028_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,241},{11,39}}</string>
        <key>offset</key>
        <string>{-7,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,39}}</string>
        <key>sourceSize</key>
        <string>{11,39}</string>
      </dict>
      <key>weapon_3028_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,244},{10,39}}</string>
        <key>offset</key>
        <string>{-3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,39}}</string>
        <key>sourceSize</key>
        <string>{10,39}</string>
      </dict>
      <key>weapon_3028_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,137},{59,36}}</string>
        <key>offset</key>
        <string>{23,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,36}}</string>
        <key>sourceSize</key>
        <string>{59,36}</string>
      </dict>
      <key>weapon_3028_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,108},{16,27}}</string>
        <key>offset</key>
        <string>{41,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,27}}</string>
        <key>sourceSize</key>
        <string>{16,27}</string>
      </dict>
      <key>weapon_3028_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,91},{52,47}}</string>
        <key>offset</key>
        <string>{-30,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,47}}</string>
        <key>sourceSize</key>
        <string>{52,47}</string>
      </dict>
      <key>weapon_3028_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,178},{18,12}}</string>
        <key>offset</key>
        <string>{30,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>weapon_3028_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,124},{57,22}}</string>
        <key>offset</key>
        <string>{20,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,22}}</string>
        <key>sourceSize</key>
        <string>{57,22}</string>
      </dict>
      <key>weapon_3028_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{31,23}}</string>
        <key>offset</key>
        <string>{34,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,23}}</string>
        <key>sourceSize</key>
        <string>{31,23}</string>
      </dict>
      <key>weapon_3028_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{62,8}}</string>
        <key>offset</key>
        <string>{33,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,8}}</string>
        <key>sourceSize</key>
        <string>{62,8}</string>
      </dict>
      <key>weapon_3028_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,91},{52,15}}</string>
        <key>offset</key>
        <string>{-13,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,15}}</string>
        <key>sourceSize</key>
        <string>{52,15}</string>
      </dict>
      <key>weapon_3028_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,74},{68,28}}</string>
        <key>offset</key>
        <string>{-48,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,28}}</string>
        <key>sourceSize</key>
        <string>{68,28}</string>
      </dict>
      <key>weapon_3028_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,192},{47,12}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,12}}</string>
        <key>sourceSize</key>
        <string>{47,12}</string>
      </dict>
      <key>weapon_3028_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,0},{68,7}}</string>
        <key>offset</key>
        <string>{42,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,7}}</string>
        <key>sourceSize</key>
        <string>{68,7}</string>
      </dict>
      <key>weapon_3028_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{67,4}}</string>
        <key>offset</key>
        <string>{36,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,4}}</string>
        <key>sourceSize</key>
        <string>{67,4}</string>
      </dict>
      <key>weapon_3028_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,156},{21,18}}</string>
        <key>offset</key>
        <string>{40,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,18}</string>
      </dict>
      <key>weapon_3028_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{71,16}}</string>
        <key>offset</key>
        <string>{-44,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,16}}</string>
        <key>sourceSize</key>
        <string>{71,16}</string>
      </dict>
      <key>weapon_3028_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,194},{49,12}}</string>
        <key>offset</key>
        <string>{-29,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,12}}</string>
        <key>sourceSize</key>
        <string>{49,12}</string>
      </dict>
      <key>weapon_3028_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,64},{58,43}}</string>
        <key>offset</key>
        <string>{-13,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,43}}</string>
        <key>sourceSize</key>
        <string>{58,43}</string>
      </dict>
      <key>weapon_3028_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,214},{45,35}}</string>
        <key>offset</key>
        <string>{48,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>weapon_3028_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,217},{57,35}}</string>
        <key>offset</key>
        <string>{41,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,35}}</string>
        <key>sourceSize</key>
        <string>{57,35}</string>
      </dict>
      <key>weapon_3028_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,140},{36,13}}</string>
        <key>offset</key>
        <string>{5,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,13}}</string>
        <key>sourceSize</key>
        <string>{36,13}</string>
      </dict>
      <key>weapon_3028_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,194},{48,45}}</string>
        <key>offset</key>
        <string>{-36,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,45}}</string>
        <key>sourceSize</key>
        <string>{48,45}</string>
      </dict>
      <key>weapon_3028_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,156},{17,7}}</string>
        <key>offset</key>
        <string>{19,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,7}}</string>
        <key>sourceSize</key>
        <string>{17,7}</string>
      </dict>
      <key>weapon_3028_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{23,58}}</string>
        <key>offset</key>
        <string>{0,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,58}}</string>
        <key>sourceSize</key>
        <string>{23,58}</string>
      </dict>
      <key>weapon_3028_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,51},{17,54}}</string>
        <key>offset</key>
        <string>{43,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,54}}</string>
        <key>sourceSize</key>
        <string>{17,54}</string>
      </dict>
      <key>weapon_3028_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,183},{11,52}}</string>
        <key>offset</key>
        <string>{40,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,52}}</string>
        <key>sourceSize</key>
        <string>{11,52}</string>
      </dict>
      <key>weapon_3028_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{68,18}}</string>
        <key>offset</key>
        <string>{-40,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,18}}</string>
        <key>sourceSize</key>
        <string>{68,18}</string>
      </dict>
      <key>weapon_3028_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{12,58}}</string>
        <key>offset</key>
        <string>{-4,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,58}}</string>
        <key>sourceSize</key>
        <string>{12,58}</string>
      </dict>
      <key>weapon_3028_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,196},{52,16}}</string>
        <key>offset</key>
        <string>{25,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,16}}</string>
        <key>sourceSize</key>
        <string>{52,16}</string>
      </dict>
      <key>weapon_3028_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,144},{15,67}}</string>
        <key>offset</key>
        <string>{1,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,67}}</string>
        <key>sourceSize</key>
        <string>{15,67}</string>
      </dict>
      <key>weapon_3028_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,91},{44,47}}</string>
        <key>offset</key>
        <string>{-13,-10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,47}}</string>
        <key>sourceSize</key>
        <string>{44,47}</string>
      </dict>
      <key>weapon_3028_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,33},{44,46}}</string>
        <key>offset</key>
        <string>{-11,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,46}}</string>
        <key>sourceSize</key>
        <string>{44,46}</string>
      </dict>
      <key>weapon_3028_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,46},{56,43}}</string>
        <key>offset</key>
        <string>{-41,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,43}}</string>
        <key>sourceSize</key>
        <string>{56,43}</string>
      </dict>
      <key>weapon_3028_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,140},{42,50}}</string>
        <key>offset</key>
        <string>{10,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,50}}</string>
        <key>sourceSize</key>
        <string>{42,50}</string>
      </dict>
      <key>weapon_3028_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{57,44}}</string>
        <key>offset</key>
        <string>{30,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,44}}</string>
        <key>sourceSize</key>
        <string>{57,44}</string>
      </dict>
      <key>weapon_3028_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,140},{52,52}}</string>
        <key>offset</key>
        <string>{-7,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>weapon_3028_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{69,27}}</string>
        <key>offset</key>
        <string>{-57,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,27}}</string>
        <key>sourceSize</key>
        <string>{69,27}</string>
      </dict>
      <key>weapon_3028_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,19}}</string>
        <key>offset</key>
        <string>{-53,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,19}}</string>
        <key>sourceSize</key>
        <string>{72,19}</string>
      </dict>
      <key>weapon_3028_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,144},{16,67}}</string>
        <key>offset</key>
        <string>{-9,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,67}}</string>
        <key>sourceSize</key>
        <string>{16,67}</string>
      </dict>
      <key>weapon_3028_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{68,28}}</string>
        <key>offset</key>
        <string>{23,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,28}}</string>
        <key>sourceSize</key>
        <string>{68,28}</string>
      </dict>
      <key>weapon_3028_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,70},{31,65}}</string>
        <key>offset</key>
        <string>{32,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,65}}</string>
        <key>sourceSize</key>
        <string>{31,65}</string>
      </dict>
      <key>weapon_3028_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{57,31}}</string>
        <key>offset</key>
        <string>{3,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,31}}</string>
        <key>sourceSize</key>
        <string>{57,31}</string>
      </dict>
      <key>weapon_3028_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,198},{58,17}}</string>
        <key>offset</key>
        <string>{-58,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,17}}</string>
        <key>sourceSize</key>
        <string>{58,17}</string>
      </dict>
      <key>weapon_3028_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,70},{53,19}}</string>
        <key>offset</key>
        <string>{-45,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,19}}</string>
        <key>sourceSize</key>
        <string>{53,19}</string>
      </dict>
      <key>weapon_3028_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{36,62}}</string>
        <key>offset</key>
        <string>{7,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,62}}</string>
        <key>sourceSize</key>
        <string>{36,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3028_1_10.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3028_1_10.png</string>
    </dict>
  </dict>
</plist>