<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3056_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,67},{6,23}}</string>
        <key>offset</key>
        <string>{35,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,23}}</string>
        <key>sourceSize</key>
        <string>{6,23}</string>
      </dict>
      <key>weapon_3056_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,119},{6,22}}</string>
        <key>offset</key>
        <string>{35,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,22}}</string>
        <key>sourceSize</key>
        <string>{6,22}</string>
      </dict>
      <key>weapon_3056_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,119},{6,22}}</string>
        <key>offset</key>
        <string>{35,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,22}}</string>
        <key>sourceSize</key>
        <string>{6,22}</string>
      </dict>
      <key>weapon_3056_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,118},{6,22}}</string>
        <key>offset</key>
        <string>{35,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,22}}</string>
        <key>sourceSize</key>
        <string>{6,22}</string>
      </dict>
      <key>weapon_3056_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,106},{40,11}}</string>
        <key>offset</key>
        <string>{23,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,11}}</string>
        <key>sourceSize</key>
        <string>{40,11}</string>
      </dict>
      <key>weapon_3056_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{40,12}}</string>
        <key>offset</key>
        <string>{24,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,12}}</string>
        <key>sourceSize</key>
        <string>{40,12}</string>
      </dict>
      <key>weapon_3056_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{39,15}}</string>
        <key>offset</key>
        <string>{25,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,15}}</string>
        <key>sourceSize</key>
        <string>{39,15}</string>
      </dict>
      <key>weapon_3056_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,42},{40,13}}</string>
        <key>offset</key>
        <string>{24,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,13}}</string>
        <key>sourceSize</key>
        <string>{40,13}</string>
      </dict>
      <key>weapon_3056_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{53,18}}</string>
        <key>offset</key>
        <string>{13,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,18}}</string>
        <key>sourceSize</key>
        <string>{53,18}</string>
      </dict>
      <key>weapon_3056_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,55},{52,18}}</string>
        <key>offset</key>
        <string>{14,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,18}}</string>
        <key>sourceSize</key>
        <string>{52,18}</string>
      </dict>
      <key>weapon_3056_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{53,18}}</string>
        <key>offset</key>
        <string>{13,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,18}}</string>
        <key>sourceSize</key>
        <string>{53,18}</string>
      </dict>
      <key>weapon_3056_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,55},{53,17}}</string>
        <key>offset</key>
        <string>{13,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,17}}</string>
        <key>sourceSize</key>
        <string>{53,17}</string>
      </dict>
      <key>weapon_3056_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,41},{36,37}}</string>
        <key>offset</key>
        <string>{6,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,37}}</string>
        <key>sourceSize</key>
        <string>{36,37}</string>
      </dict>
      <key>weapon_3056_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,80},{35,36}}</string>
        <key>offset</key>
        <string>{7,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>weapon_3056_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,39},{36,35}}</string>
        <key>offset</key>
        <string>{7,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,35}}</string>
        <key>sourceSize</key>
        <string>{36,35}</string>
      </dict>
      <key>weapon_3056_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{37,33}}</string>
        <key>offset</key>
        <string>{7,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,33}}</string>
        <key>sourceSize</key>
        <string>{37,33}</string>
      </dict>
      <key>weapon_3056_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,54},{5,41}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,41}}</string>
        <key>sourceSize</key>
        <string>{5,41}</string>
      </dict>
      <key>weapon_3056_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,54},{5,42}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,42}}</string>
        <key>sourceSize</key>
        <string>{5,42}</string>
      </dict>
      <key>weapon_3056_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,98},{6,42}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,42}}</string>
        <key>sourceSize</key>
        <string>{6,42}</string>
      </dict>
      <key>weapon_3056_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,54},{5,42}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,42}}</string>
        <key>sourceSize</key>
        <string>{5,42}</string>
      </dict>
      <key>weapon_3056_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{35,30}}</string>
        <key>offset</key>
        <string>{-18,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,30}}</string>
        <key>sourceSize</key>
        <string>{35,30}</string>
      </dict>
      <key>weapon_3056_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{35,31}}</string>
        <key>offset</key>
        <string>{-18,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>weapon_3056_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,33},{35,32}}</string>
        <key>offset</key>
        <string>{-18,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,32}}</string>
        <key>sourceSize</key>
        <string>{35,32}</string>
      </dict>
      <key>weapon_3056_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,76},{35,31}}</string>
        <key>offset</key>
        <string>{-18,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>weapon_3056_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,0},{53,16}}</string>
        <key>offset</key>
        <string>{-20,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,16}}</string>
        <key>sourceSize</key>
        <string>{53,16}</string>
      </dict>
      <key>weapon_3056_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{53,15}}</string>
        <key>offset</key>
        <string>{-20,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,15}}</string>
        <key>sourceSize</key>
        <string>{53,15}</string>
      </dict>
      <key>weapon_3056_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,110},{53,16}}</string>
        <key>offset</key>
        <string>{-20,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,16}}</string>
        <key>sourceSize</key>
        <string>{53,16}</string>
      </dict>
      <key>weapon_3056_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{52,16}}</string>
        <key>offset</key>
        <string>{-19,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,16}}</string>
        <key>sourceSize</key>
        <string>{52,16}</string>
      </dict>
      <key>weapon_3056_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{36,15}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,15}}</string>
        <key>sourceSize</key>
        <string>{36,15}</string>
      </dict>
      <key>weapon_3056_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{36,15}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,15}}</string>
        <key>sourceSize</key>
        <string>{36,15}</string>
      </dict>
      <key>weapon_3056_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,77},{36,15}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,15}}</string>
        <key>sourceSize</key>
        <string>{36,15}</string>
      </dict>
      <key>weapon_3056_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,38},{36,15}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,15}}</string>
        <key>sourceSize</key>
        <string>{36,15}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3056_0_0.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3056_0_0.png</string>
    </dict>
  </dict>
</plist>