<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0253_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,78},{48,70}}</string>
        <key>offset</key>
        <string>{-197,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{235,158},{48,70}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,254},{48,96}}</string>
        <key>offset</key>
        <string>{-203,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{229,132},{48,96}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,422},{46,124}}</string>
        <key>offset</key>
        <string>{-203,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{230,111},{46,124}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,858},{46,128}}</string>
        <key>offset</key>
        <string>{-202,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{231,104},{46,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,128},{68,96}}</string>
        <key>offset</key>
        <string>{-208,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{214,130},{68,96}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{56,76}}</string>
        <key>offset</key>
        <string>{-195,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{233,147},{56,76}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,726},{138,58}}</string>
        <key>offset</key>
        <string>{-185,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,185},{138,58}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,362},{152,66}}</string>
        <key>offset</key>
        <string>{-178,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,158},{152,66}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,584},{166,124}}</string>
        <key>offset</key>
        <string>{-192,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{181,124},{166,124}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,182},{178,138}}</string>
        <key>offset</key>
        <string>{-192,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{175,116},{178,138}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{146,64}}</string>
        <key>offset</key>
        <string>{-181,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,156},{146,64}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,686},{150,64}}</string>
        <key>offset</key>
        <string>{-181,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,162},{150,64}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,362},{164,106}}</string>
        <key>offset</key>
        <string>{-191,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{183,179},{164,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{194,84}}</string>
        <key>offset</key>
        <string>{-179,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{180,185},{194,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,86}}</string>
        <key>offset</key>
        <string>{-173,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{183,167},{200,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{186,72}}</string>
        <key>offset</key>
        <string>{-175,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{188,159},{186,72}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,202},{182,76}}</string>
        <key>offset</key>
        <string>{-183,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{182,184},{182,76}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{178,76}}</string>
        <key>offset</key>
        <string>{-186,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{181,182},{178,76}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,528},{126,156}}</string>
        <key>offset</key>
        <string>{-216,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{177,157},{126,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{126,122}}</string>
        <key>offset</key>
        <string>{-199,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{194,163},{126,122}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,292},{128,98}}</string>
        <key>offset</key>
        <string>{-198,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{194,171},{128,98}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,274},{124,92}}</string>
        <key>offset</key>
        <string>{-194,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{200,177},{124,92}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,144},{120,128}}</string>
        <key>offset</key>
        <string>{-200,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{196,164},{120,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,866},{118,136}}</string>
        <key>offset</key>
        <string>{-202,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{195,163},{118,136}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,962},{54,176}}</string>
        <key>offset</key>
        <string>{-240,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{189,146},{54,176}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,334},{66,144}}</string>
        <key>offset</key>
        <string>{-221,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{202,158},{66,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,594},{76,120}}</string>
        <key>offset</key>
        <string>{-218,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,160},{76,120}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,716},{82,116}}</string>
        <key>offset</key>
        <string>{-212,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{203,163},{82,116}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,148},{64,142}}</string>
        <key>offset</key>
        <string>{-229,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{195,154},{64,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,180},{68,152}}</string>
        <key>offset</key>
        <string>{-224,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{198,151},{68,152}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,480},{136,140}}</string>
        <key>offset</key>
        <string>{-248,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{140,154},{136,140}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,752},{162,108}}</string>
        <key>offset</key>
        <string>{-240,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,163},{162,108}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,622},{140,102}}</string>
        <key>offset</key>
        <string>{-252,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{134,168},{140,102}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,916},{150,86}}</string>
        <key>offset</key>
        <string>{-253,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{128,170},{150,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,752},{144,150}}</string>
        <key>offset</key>
        <string>{-252,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{132,161},{144,150}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{142,132}}</string>
        <key>offset</key>
        <string>{-250,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,157},{142,132}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{180,108}}</string>
        <key>offset</key>
        <string>{-235,246}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{131,155},{180,108}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,398},{184,118}}</string>
        <key>offset</key>
        <string>{-250,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{114,157},{184,118}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,586},{186,62}}</string>
        <key>offset</key>
        <string>{-253,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{110,165},{186,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{186,68}}</string>
        <key>offset</key>
        <string>{-259,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{104,162},{186,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,586},{186,68}}</string>
        <key>offset</key>
        <string>{-252,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{111,164},{186,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{178,80}}</string>
        <key>offset</key>
        <string>{-248,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{119,155},{178,80}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,400},{114,60}}</string>
        <key>offset</key>
        <string>{-222,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{177,166},{114,60}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,904},{142,74}}</string>
        <key>offset</key>
        <string>{-229,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{156,143},{142,74}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,774},{172,106}}</string>
        <key>offset</key>
        <string>{-255,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,116},{172,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,726},{130,106}}</string>
        <key>offset</key>
        <string>{-242,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{149,117},{130,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,470},{122,104}}</string>
        <key>offset</key>
        <string>{-234,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{161,138},{122,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0253_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,128},{124,84}}</string>
        <key>offset</key>
        <string>{-234,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,153},{124,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0253_1_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0253_1_1.png</string>
    </dict>
  </dict>
</plist>