<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0265_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{54,90}}</string>
        <key>offset</key>
        <string>{5,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,5},{54,90}}</string>
        <key>sourceSize</key>
        <string>{70,110}</string>
      </dict>
      <key>weapon_0265_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,820},{54,116}}</string>
        <key>offset</key>
        <string>{-1,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,18},{54,116}}</string>
        <key>sourceSize</key>
        <string>{75,195}</string>
      </dict>
      <key>weapon_0265_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,878},{54,140}}</string>
        <key>offset</key>
        <string>{1,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,14},{54,140}}</string>
        <key>sourceSize</key>
        <string>{70,170}</string>
      </dict>
      <key>weapon_0265_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,878},{56,144}}</string>
        <key>offset</key>
        <string>{-1,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,20},{56,144}}</string>
        <key>sourceSize</key>
        <string>{75,180}</string>
      </dict>
      <key>weapon_0265_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,876},{56,110}}</string>
        <key>offset</key>
        <string>{5,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{8,11},{56,110}}</string>
        <key>sourceSize</key>
        <string>{70,135}</string>
      </dict>
      <key>weapon_0265_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,876},{54,92}}</string>
        <key>offset</key>
        <string>{5,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,11},{54,92}}</string>
        <key>sourceSize</key>
        <string>{70,115}</string>
      </dict>
      <key>weapon_0265_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,490},{158,76}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,8},{158,76}}</string>
        <key>sourceSize</key>
        <string>{180,90}</string>
      </dict>
      <key>weapon_0265_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{162,92}}</string>
        <key>offset</key>
        <string>{-8,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,11},{162,92}}</string>
        <key>sourceSize</key>
        <string>{185,115}</string>
      </dict>
      <key>weapon_0265_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,496},{160,116}}</string>
        <key>offset</key>
        <string>{-6,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,10},{160,116}}</string>
        <key>sourceSize</key>
        <string>{185,135}</string>
      </dict>
      <key>weapon_0265_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,550},{162,120}}</string>
        <key>offset</key>
        <string>{-3,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,7},{162,120}}</string>
        <key>sourceSize</key>
        <string>{190,140}</string>
      </dict>
      <key>weapon_0265_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,714},{162,88}}</string>
        <key>offset</key>
        <string>{-12,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{15,10},{162,88}}</string>
        <key>sourceSize</key>
        <string>{195,105}</string>
      </dict>
      <key>weapon_0265_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,328},{160,80}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,7},{160,80}}</string>
        <key>sourceSize</key>
        <string>{185,95}</string>
      </dict>
      <key>weapon_0265_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,218},{214,90}}</string>
        <key>offset</key>
        <string>{-30,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,7},{214,90}}</string>
        <key>sourceSize</key>
        <string>{245,105}</string>
      </dict>
      <key>weapon_0265_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{226,74}}</string>
        <key>offset</key>
        <string>{-24,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,9},{226,74}}</string>
        <key>sourceSize</key>
        <string>{250,90}</string>
      </dict>
      <key>weapon_0265_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{228,64}}</string>
        <key>offset</key>
        <string>{-20,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,9},{228,64}}</string>
        <key>sourceSize</key>
        <string>{250,80}</string>
      </dict>
      <key>weapon_0265_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,228},{218,64}}</string>
        <key>offset</key>
        <string>{-20,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,7},{218,64}}</string>
        <key>sourceSize</key>
        <string>{255,80}</string>
      </dict>
      <key>weapon_0265_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{214,80}}</string>
        <key>offset</key>
        <string>{-28,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,8},{214,80}}</string>
        <key>sourceSize</key>
        <string>{250,95}</string>
      </dict>
      <key>weapon_0265_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,680},{210,90}}</string>
        <key>offset</key>
        <string>{-28,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,8},{210,90}}</string>
        <key>sourceSize</key>
        <string>{240,105}</string>
      </dict>
      <key>weapon_0265_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{154,164}}</string>
        <key>offset</key>
        <string>{-29,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,12},{154,164}}</string>
        <key>sourceSize</key>
        <string>{180,185}</string>
      </dict>
      <key>weapon_0265_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,878},{162,138}}</string>
        <key>offset</key>
        <string>{-26,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,13},{162,138}}</string>
        <key>sourceSize</key>
        <string>{185,165}</string>
      </dict>
      <key>weapon_0265_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,606},{166,114}}</string>
        <key>offset</key>
        <string>{-24,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,10},{166,114}}</string>
        <key>sourceSize</key>
        <string>{190,130}</string>
      </dict>
      <key>weapon_0265_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,714},{162,104}}</string>
        <key>offset</key>
        <string>{-21,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,11},{162,104}}</string>
        <key>sourceSize</key>
        <string>{190,130}</string>
      </dict>
      <key>weapon_0265_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,488},{154,142}}</string>
        <key>offset</key>
        <string>{-27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,12},{154,142}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>weapon_0265_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,322},{152,154}}</string>
        <key>offset</key>
        <string>{-30,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{15,12},{152,154}}</string>
        <key>sourceSize</key>
        <string>{180,180}</string>
      </dict>
      <key>weapon_0265_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,632},{58,190}}</string>
        <key>offset</key>
        <string>{-26,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,8},{58,190}}</string>
        <key>sourceSize</key>
        <string>{70,210}</string>
      </dict>
      <key>weapon_0265_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,824},{56,170}}</string>
        <key>offset</key>
        <string>{-26,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,11},{56,170}}</string>
        <key>sourceSize</key>
        <string>{75,190}</string>
      </dict>
      <key>weapon_0265_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,820},{56,150}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,12},{56,150}}</string>
        <key>sourceSize</key>
        <string>{70,185}</string>
      </dict>
      <key>weapon_0265_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,878},{56,140}}</string>
        <key>offset</key>
        <string>{-26,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{10,4},{56,140}}</string>
        <key>sourceSize</key>
        <string>{75,155}</string>
      </dict>
      <key>weapon_0265_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,434},{58,170}}</string>
        <key>offset</key>
        <string>{-29,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,12},{58,170}}</string>
        <key>sourceSize</key>
        <string>{75,195}</string>
      </dict>
      <key>weapon_0265_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,434},{58,196}}</string>
        <key>offset</key>
        <string>{-29,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,1},{58,196}}</string>
        <key>sourceSize</key>
        <string>{75,215}</string>
      </dict>
      <key>weapon_0265_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,658},{160,160}}</string>
        <key>offset</key>
        <string>{-124,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,15},{160,160}}</string>
        <key>sourceSize</key>
        <string>{180,185}</string>
      </dict>
      <key>weapon_0265_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,332},{162,140}}</string>
        <key>offset</key>
        <string>{-132,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,13},{162,140}}</string>
        <key>sourceSize</key>
        <string>{190,160}</string>
      </dict>
      <key>weapon_0265_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,164},{162,122}}</string>
        <key>offset</key>
        <string>{-131,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,5},{162,122}}</string>
        <key>sourceSize</key>
        <string>{185,140}</string>
      </dict>
      <key>weapon_0265_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,384},{164,116}}</string>
        <key>offset</key>
        <string>{-139,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,3},{164,116}}</string>
        <key>sourceSize</key>
        <string>{190,135}</string>
      </dict>
      <key>weapon_0265_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,166},{164,146}}</string>
        <key>offset</key>
        <string>{-134,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,4},{164,146}}</string>
        <key>sourceSize</key>
        <string>{190,165}</string>
      </dict>
      <key>weapon_0265_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{162,162}}</string>
        <key>offset</key>
        <string>{-127,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{10,2},{162,162}}</string>
        <key>sourceSize</key>
        <string>{185,175}</string>
      </dict>
      <key>weapon_0265_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{216,84}}</string>
        <key>offset</key>
        <string>{-165,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,11},{216,84}}</string>
        <key>sourceSize</key>
        <string>{240,105}</string>
      </dict>
      <key>weapon_0265_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,684},{220,74}}</string>
        <key>offset</key>
        <string>{-175,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,8},{220,74}}</string>
        <key>sourceSize</key>
        <string>{250,90}</string>
      </dict>
      <key>weapon_0265_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{226,64}}</string>
        <key>offset</key>
        <string>{-182,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,10},{226,64}}</string>
        <key>sourceSize</key>
        <string>{250,80}</string>
      </dict>
      <key>weapon_0265_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{224,66}}</string>
        <key>offset</key>
        <string>{-190,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,6},{224,66}}</string>
        <key>sourceSize</key>
        <string>{255,80}</string>
      </dict>
      <key>weapon_0265_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,458},{220,74}}</string>
        <key>offset</key>
        <string>{-177,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,5},{220,74}}</string>
        <key>sourceSize</key>
        <string>{250,85}</string>
      </dict>
      <key>weapon_0265_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,906},{214,82}}</string>
        <key>offset</key>
        <string>{-165,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{14,9},{214,82}}</string>
        <key>sourceSize</key>
        <string>{240,100}</string>
      </dict>
      <key>weapon_0265_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,164},{156,78}}</string>
        <key>offset</key>
        <string>{-99,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,8},{156,78}}</string>
        <key>sourceSize</key>
        <string>{175,95}</string>
      </dict>
      <key>weapon_0265_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,328},{158,94}}</string>
        <key>offset</key>
        <string>{-109,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,10},{158,94}}</string>
        <key>sourceSize</key>
        <string>{185,115}</string>
      </dict>
      <key>weapon_0265_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,882},{168,114}}</string>
        <key>offset</key>
        <string>{-118,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{9,12},{168,114}}</string>
        <key>sourceSize</key>
        <string>{190,135}</string>
      </dict>
      <key>weapon_0265_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,216},{166,120}}</string>
        <key>offset</key>
        <string>{-122,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{11,12},{166,120}}</string>
        <key>sourceSize</key>
        <string>{190,145}</string>
      </dict>
      <key>weapon_0265_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,164},{152,92}}</string>
        <key>offset</key>
        <string>{-104,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,8},{152,92}}</string>
        <key>sourceSize</key>
        <string>{180,110}</string>
      </dict>
      <key>weapon_0265_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{150,82}}</string>
        <key>offset</key>
        <string>{-100,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{16,7},{150,82}}</string>
        <key>sourceSize</key>
        <string>{180,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0265_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0265_0_1.png</string>
    </dict>
  </dict>
</plist>