<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0264_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,280},{32,134}}</string>
        <key>offset</key>
        <string>{-136,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{139,0},{32,134}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{26,116}}</string>
        <key>offset</key>
        <string>{-132,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{146,23},{26,116}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,262},{22,50}}</string>
        <key>offset</key>
        <string>{-120,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,95},{22,50}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,150},{32,56}}</string>
        <key>offset</key>
        <string>{-116,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{159,114},{32,56}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,224},{20,52}}</string>
        <key>offset</key>
        <string>{-121,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{160,92},{20,52}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,284},{36,136}}</string>
        <key>offset</key>
        <string>{-138,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{135,0},{36,136}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,142},{52,136}}</string>
        <key>offset</key>
        <string>{-102,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,4},{52,136}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,108},{84,102}}</string>
        <key>offset</key>
        <string>{-93,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{156,42},{84,102}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{106,44}}</string>
        <key>offset</key>
        <string>{-92,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{146,111},{106,44}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{98,68}}</string>
        <key>offset</key>
        <string>{-102,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{140,118},{98,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,362},{104,42}}</string>
        <key>offset</key>
        <string>{-93,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{146,109},{104,42}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,140}}</string>
        <key>offset</key>
        <string>{-100,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{163,2},{56,140}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,116},{98,112}}</string>
        <key>offset</key>
        <string>{-87,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{155,33},{98,112}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{134,70}}</string>
        <key>offset</key>
        <string>{-79,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{145,78},{134,70}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{140,64}}</string>
        <key>offset</key>
        <string>{-91,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{130,119},{140,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{114,100}}</string>
        <key>offset</key>
        <string>{-111,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{123,114},{114,100}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{140,60}}</string>
        <key>offset</key>
        <string>{-91,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{130,119},{140,60}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,258},{104,114}}</string>
        <key>offset</key>
        <string>{-85,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{154,33},{104,114}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,428},{88,80}}</string>
        <key>offset</key>
        <string>{-103,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{144,68},{88,80}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,254},{106,40}}</string>
        <key>offset</key>
        <string>{-100,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{138,112},{106,40}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,212},{90,94}}</string>
        <key>offset</key>
        <string>{-118,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{128,120},{90,94}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,272},{64,130}}</string>
        <key>offset</key>
        <string>{-136,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{123,106},{64,130}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,100},{94,90}}</string>
        <key>offset</key>
        <string>{-117,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{127,117},{94,90}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,330},{96,86}}</string>
        <key>offset</key>
        <string>{-100,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{143,63},{96,86}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,380},{32,64}}</string>
        <key>offset</key>
        <string>{-141,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{134,83},{32,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,374},{24,52}}</string>
        <key>offset</key>
        <string>{-144,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,111},{24,52}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,230},{22,108}}</string>
        <key>offset</key>
        <string>{-157,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{123,115},{22,108}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{30,132}}</string>
        <key>offset</key>
        <string>{-162,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{114,103},{30,132}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,490},{20,102}}</string>
        <key>offset</key>
        <string>{-156,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{125,115},{20,102}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,428},{36,68}}</string>
        <key>offset</key>
        <string>{-139,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{134,79},{36,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,196},{52,64}}</string>
        <key>offset</key>
        <string>{-176,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,76},{52,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{82,42}}</string>
        <key>offset</key>
        <string>{-185,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,106},{82,42}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,254},{106,88}}</string>
        <key>offset</key>
        <string>{-185,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{53,110},{106,88}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{98,112}}</string>
        <key>offset</key>
        <string>{-175,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,99},{98,112}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,362},{104,86}}</string>
        <key>offset</key>
        <string>{-184,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{55,108},{104,86}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,308},{56,70}}</string>
        <key>offset</key>
        <string>{-177,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,70},{56,70}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,0},{98,90}}</string>
        <key>offset</key>
        <string>{-191,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,44},{98,90}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,136},{134,54}}</string>
        <key>offset</key>
        <string>{-199,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{25,80},{134,54}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{140,54}}</string>
        <key>offset</key>
        <string>{-187,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{34,106},{140,54}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,374},{114,74}}</string>
        <key>offset</key>
        <string>{-167,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{67,104},{114,74}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{140,52}}</string>
        <key>offset</key>
        <string>{-187,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,106},{140,52}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,224},{104,94}}</string>
        <key>offset</key>
        <string>{-192,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{47,40},{104,94}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,136},{88,120}}</string>
        <key>offset</key>
        <string>{-175,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,10},{88,120}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,114},{108,92}}</string>
        <key>offset</key>
        <string>{-177,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,43},{108,92}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,468},{90,40}}</string>
        <key>offset</key>
        <string>{-159,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,100},{90,40}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,84},{64,54}}</string>
        <key>offset</key>
        <string>{-142,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{117,109},{64,54}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,468},{94,40}}</string>
        <key>offset</key>
        <string>{-161,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{83,99},{94,40}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0264_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,404},{96,124}}</string>
        <key>offset</key>
        <string>{-177,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,8},{96,124}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0264_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0264_0_5.png</string>
    </dict>
  </dict>
</plist>