<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21021_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,209},{31,60}}</string>
        <key>offset</key>
        <string>{37,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,60}}</string>
        <key>sourceSize</key>
        <string>{31,60}</string>
      </dict>
      <key>weapon_21021_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{38,63}}</string>
        <key>offset</key>
        <string>{37,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,63}}</string>
        <key>sourceSize</key>
        <string>{38,63}</string>
      </dict>
      <key>weapon_21021_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,65},{22,56}}</string>
        <key>offset</key>
        <string>{39,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,56}}</string>
        <key>sourceSize</key>
        <string>{22,56}</string>
      </dict>
      <key>weapon_21021_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,79},{73,45}}</string>
        <key>offset</key>
        <string>{14,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,45}}</string>
        <key>sourceSize</key>
        <string>{73,45}</string>
      </dict>
      <key>weapon_21021_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{78,39}}</string>
        <key>offset</key>
        <string>{21,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,39}}</string>
        <key>sourceSize</key>
        <string>{78,39}</string>
      </dict>
      <key>weapon_21021_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{73,35}}</string>
        <key>offset</key>
        <string>{27,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,35}}</string>
        <key>sourceSize</key>
        <string>{73,35}</string>
      </dict>
      <key>weapon_21021_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,161},{76,21}}</string>
        <key>offset</key>
        <string>{-1,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,21}}</string>
        <key>sourceSize</key>
        <string>{76,21}</string>
      </dict>
      <key>weapon_21021_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,75},{68,27}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,27}}</string>
        <key>sourceSize</key>
        <string>{68,27}</string>
      </dict>
      <key>weapon_21021_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,0},{77,29}}</string>
        <key>offset</key>
        <string>{14,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,29}}</string>
        <key>sourceSize</key>
        <string>{77,29}</string>
      </dict>
      <key>weapon_21021_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,79},{32,56}}</string>
        <key>offset</key>
        <string>{-2,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,56}}</string>
        <key>sourceSize</key>
        <string>{32,56}</string>
      </dict>
      <key>weapon_21021_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,125},{27,48}}</string>
        <key>offset</key>
        <string>{5,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,48}}</string>
        <key>sourceSize</key>
        <string>{27,48}</string>
      </dict>
      <key>weapon_21021_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{39,60}}</string>
        <key>offset</key>
        <string>{7,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,60}}</string>
        <key>sourceSize</key>
        <string>{39,60}</string>
      </dict>
      <key>weapon_21021_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,41},{36,59}}</string>
        <key>offset</key>
        <string>{-21,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,59}}</string>
        <key>sourceSize</key>
        <string>{36,59}</string>
      </dict>
      <key>weapon_21021_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,201},{34,32}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,32}}</string>
        <key>sourceSize</key>
        <string>{34,32}</string>
      </dict>
      <key>weapon_21021_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,160},{21,39}}</string>
        <key>offset</key>
        <string>{-12,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,39}}</string>
        <key>sourceSize</key>
        <string>{21,39}</string>
      </dict>
      <key>weapon_21021_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{52,20}}</string>
        <key>offset</key>
        <string>{-29,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,20}}</string>
        <key>sourceSize</key>
        <string>{52,20}</string>
      </dict>
      <key>weapon_21021_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,65},{58,34}}</string>
        <key>offset</key>
        <string>{-39,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,34}}</string>
        <key>sourceSize</key>
        <string>{58,34}</string>
      </dict>
      <key>weapon_21021_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{66,19}}</string>
        <key>offset</key>
        <string>{-48,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,19}}</string>
        <key>sourceSize</key>
        <string>{66,19}</string>
      </dict>
      <key>weapon_21021_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,161},{75,28}}</string>
        <key>offset</key>
        <string>{-21,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,28}}</string>
        <key>sourceSize</key>
        <string>{75,28}</string>
      </dict>
      <key>weapon_21021_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,154},{70,40}}</string>
        <key>offset</key>
        <string>{-24,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,40}}</string>
        <key>sourceSize</key>
        <string>{70,40}</string>
      </dict>
      <key>weapon_21021_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,23}}</string>
        <key>offset</key>
        <string>{-41,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,23}}</string>
        <key>sourceSize</key>
        <string>{79,23}</string>
      </dict>
      <key>weapon_21021_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,145},{48,62}}</string>
        <key>offset</key>
        <string>{6,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,62}}</string>
        <key>sourceSize</key>
        <string>{48,62}</string>
      </dict>
      <key>weapon_21021_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,226},{25,70}}</string>
        <key>offset</key>
        <string>{18,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,70}}</string>
        <key>sourceSize</key>
        <string>{25,70}</string>
      </dict>
      <key>weapon_21021_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,113},{45,53}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,53}}</string>
        <key>sourceSize</key>
        <string>{45,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21021_1_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_21021_1_7.png</string>
    </dict>
  </dict>
</plist>