<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3072_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{54,58}}</string>
        <key>offset</key>
        <string>{34,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,58}}</string>
        <key>sourceSize</key>
        <string>{54,58}</string>
      </dict>
      <key>weapon_3072_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{48,52}}</string>
        <key>offset</key>
        <string>{25,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>weapon_3072_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,130},{23,53}}</string>
        <key>offset</key>
        <string>{13,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,53}}</string>
        <key>sourceSize</key>
        <string>{23,53}</string>
      </dict>
      <key>weapon_3072_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{28,51}}</string>
        <key>offset</key>
        <string>{-15,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,51}}</string>
        <key>sourceSize</key>
        <string>{28,51}</string>
      </dict>
      <key>weapon_3072_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,29},{53,66}}</string>
        <key>offset</key>
        <string>{-37,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,66}}</string>
        <key>sourceSize</key>
        <string>{53,66}</string>
      </dict>
      <key>weapon_3072_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{50,65}}</string>
        <key>offset</key>
        <string>{-23,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,65}}</string>
        <key>sourceSize</key>
        <string>{50,65}</string>
      </dict>
      <key>weapon_3072_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,67},{14,61}}</string>
        <key>offset</key>
        <string>{21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,61}}</string>
        <key>sourceSize</key>
        <string>{14,61}</string>
      </dict>
      <key>weapon_3072_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{27,73}}</string>
        <key>offset</key>
        <string>{37,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,73}}</string>
        <key>sourceSize</key>
        <string>{27,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3072_1_11.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>weapon_3072_1_11.png</string>
    </dict>
  </dict>
</plist>