<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20001_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,0},{172,100}}</string>
        <key>offset</key>
        <string>{-132,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{237,117},{172,100}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,188},{174,104}}</string>
        <key>offset</key>
        <string>{-256,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{112,165},{174,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,820},{188,106}}</string>
        <key>offset</key>
        <string>{-143,320}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,82},{188,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,688},{96,96}}</string>
        <key>offset</key>
        <string>{-205,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,123},{96,96}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,364},{116,166}}</string>
        <key>offset</key>
        <string>{-194,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{203,56},{116,166}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,394},{188,118}}</string>
        <key>offset</key>
        <string>{-147,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{214,87},{188,118}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,588},{104,54}}</string>
        <key>offset</key>
        <string>{-182,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{221,165},{104,54}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{226,56}}</string>
        <key>offset</key>
        <string>{-290,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,160},{226,56}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,0},{138,68}}</string>
        <key>offset</key>
        <string>{-142,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{244,133},{138,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{174,66}}</string>
        <key>offset</key>
        <string>{-143,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{225,157},{174,66}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,228},{196,128}}</string>
        <key>offset</key>
        <string>{-138,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{219,96},{196,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,354},{158,84}}</string>
        <key>offset</key>
        <string>{-145,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{231,137},{158,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,400},{126,60}}</string>
        <key>offset</key>
        <string>{-214,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{178,163},{126,60}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,188},{176,110}}</string>
        <key>offset</key>
        <string>{-278,307}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,93},{176,110}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,820},{110,58}}</string>
        <key>offset</key>
        <string>{-180,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{220,154},{110,58}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,466},{210,90}}</string>
        <key>offset</key>
        <string>{-119,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{231,182},{210,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,678},{202,48}}</string>
        <key>offset</key>
        <string>{-126,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{228,174},{202,48}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,694},{82,62}}</string>
        <key>offset</key>
        <string>{-189,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{225,165},{82,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,766},{170,98}}</string>
        <key>offset</key>
        <string>{-271,281}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{99,125},{170,98}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,908},{100,144}}</string>
        <key>offset</key>
        <string>{-213,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,54},{100,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{196,80}}</string>
        <key>offset</key>
        <string>{-232,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{125,140},{196,80}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,440},{158,146}}</string>
        <key>offset</key>
        <string>{-134,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{242,196},{158,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,266},{160,86}}</string>
        <key>offset</key>
        <string>{-145,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{230,186},{160,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,176},{150,60}}</string>
        <key>offset</key>
        <string>{-232,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{148,167},{150,60}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,532},{164,160}}</string>
        <key>offset</key>
        <string>{-282,316}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{91,59},{164,160}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,738},{168,116}}</string>
        <key>offset</key>
        <string>{-160,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{211,80},{168,116}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{186,142}}</string>
        <key>offset</key>
        <string>{-276,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{86,83},{186,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,566},{92,170}}</string>
        <key>offset</key>
        <string>{-204,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{205,201},{92,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,588},{98,110}}</string>
        <key>offset</key>
        <string>{-204,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,190},{98,110}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,896},{204,106}}</string>
        <key>offset</key>
        <string>{-267,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,119},{204,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,682},{114,212}}</string>
        <key>offset</key>
        <string>{-237,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{161,0},{114,212}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{234,82}}</string>
        <key>offset</key>
        <string>{-121,277}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{217,137},{234,82}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,198},{128,194}}</string>
        <key>offset</key>
        <string>{-260,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{131,26},{128,194}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,196},{188,130}}</string>
        <key>offset</key>
        <string>{-274,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{87,205},{188,130}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{194,88}}</string>
        <key>offset</key>
        <string>{-265,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{93,183},{194,88}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,102},{162,172}}</string>
        <key>offset</key>
        <string>{-266,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{108,54},{162,172}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{138,194}}</string>
        <key>offset</key>
        <string>{-186,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,9},{138,194}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{174,106}}</string>
        <key>offset</key>
        <string>{-140,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{228,149},{174,106}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,678},{116,200}}</string>
        <key>offset</key>
        <string>{-220,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{177,4},{116,200}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,466},{214,88}}</string>
        <key>offset</key>
        <string>{-310,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,175},{214,88}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{228,90}}</string>
        <key>offset</key>
        <string>{-301,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{40,153},{228,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,880},{106,200}}</string>
        <key>offset</key>
        <string>{-226,336}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{176,19},{106,200}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,624},{194,150}}</string>
        <key>offset</key>
        <string>{-141,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{217,51},{194,150}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,266},{80,132}}</string>
        <key>offset</key>
        <string>{-191,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{224,159},{80,132}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,426},{196,158}}</string>
        <key>offset</key>
        <string>{-165,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,28},{196,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,938},{170,84}}</string>
        <key>offset</key>
        <string>{-267,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{103,146},{170,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,386},{178,146}}</string>
        <key>offset</key>
        <string>{-266,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,83},{178,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20001_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,584},{162,180}}</string>
        <key>offset</key>
        <string>{-172,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{202,29},{162,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20001_1_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20001_1_10.png</string>
    </dict>
  </dict>
</plist>