<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0278_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{121,225}}</string>
        <key>offset</key>
        <string>{3,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{121,225}</string>
        <key>sourceSize</key>
        <string>{121,225}</string>
      </dict>
      <key>weapon_0278_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,453},{108,223}}</string>
        <key>offset</key>
        <string>{-35,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{108,223}</string>
        <key>sourceSize</key>
        <string>{108,223}</string>
      </dict>
      <key>weapon_0278_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,863},{200,158}}</string>
        <key>offset</key>
        <string>{-139,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{200,158}</string>
        <key>sourceSize</key>
        <string>{200,158}</string>
      </dict>
      <key>weapon_0278_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,213},{196,115}}</string>
        <key>offset</key>
        <string>{-124,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{196,115}</string>
        <key>sourceSize</key>
        <string>{196,115}</string>
      </dict>
      <key>weapon_0278_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,179},{151,166}}</string>
        <key>offset</key>
        <string>{-76,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{151,166}</string>
        <key>sourceSize</key>
        <string>{151,166}</string>
      </dict>
      <key>weapon_0278_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,0},{115,166}}</string>
        <key>offset</key>
        <string>{9,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{115,166}</string>
        <key>sourceSize</key>
        <string>{115,166}</string>
      </dict>
      <key>weapon_0278_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{184,217}}</string>
        <key>offset</key>
        <string>{13,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{184,217}</string>
        <key>sourceSize</key>
        <string>{184,217}</string>
      </dict>
      <key>weapon_0278_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,452},{103,220}}</string>
        <key>offset</key>
        <string>{7,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{103,220}</string>
        <key>sourceSize</key>
        <string>{103,220}</string>
      </dict>
      <key>weapon_0278_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,446},{215,198}}</string>
        <key>offset</key>
        <string>{-128,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{215,198}</string>
        <key>sourceSize</key>
        <string>{215,198}</string>
      </dict>
      <key>weapon_0278_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{272,163}}</string>
        <key>offset</key>
        <string>{-174,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{272,163}</string>
        <key>sourceSize</key>
        <string>{272,163}</string>
      </dict>
      <key>weapon_0278_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,652},{209,195}}</string>
        <key>offset</key>
        <string>{-116,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{209,195}</string>
        <key>sourceSize</key>
        <string>{209,195}</string>
      </dict>
      <key>weapon_0278_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,538},{243,112}}</string>
        <key>offset</key>
        <string>{8,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{243,112}</string>
        <key>sourceSize</key>
        <string>{243,112}</string>
      </dict>
      <key>weapon_0278_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,196},{182,150}}</string>
        <key>offset</key>
        <string>{6,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{182,150}</string>
        <key>sourceSize</key>
        <string>{182,150}</string>
      </dict>
      <key>weapon_0278_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,227},{128,223}}</string>
        <key>offset</key>
        <string>{14,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,223}</string>
        <key>sourceSize</key>
        <string>{128,223}</string>
      </dict>
      <key>weapon_0278_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,224},{136,220}}</string>
        <key>offset</key>
        <string>{-46,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,220}</string>
        <key>sourceSize</key>
        <string>{136,220}</string>
      </dict>
      <key>weapon_0278_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,674},{189,216}}</string>
        <key>offset</key>
        <string>{-105,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{189,216}</string>
        <key>sourceSize</key>
        <string>{189,216}</string>
      </dict>
      <key>weapon_0278_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,436},{157,214}}</string>
        <key>offset</key>
        <string>{-71,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{157,214}</string>
        <key>sourceSize</key>
        <string>{157,214}</string>
      </dict>
      <key>weapon_0278_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{234,108}}</string>
        <key>offset</key>
        <string>{17,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{234,108}</string>
        <key>sourceSize</key>
        <string>{234,108}</string>
      </dict>
      <key>weapon_0278_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1426,0},{115,126}}</string>
        <key>offset</key>
        <string>{-2,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{115,126}</string>
        <key>sourceSize</key>
        <string>{115,126}</string>
      </dict>
      <key>weapon_0278_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,219},{143,214}}</string>
        <key>offset</key>
        <string>{0,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,214}</string>
        <key>sourceSize</key>
        <string>{143,214}</string>
      </dict>
      <key>weapon_0278_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,777},{120,227}}</string>
        <key>offset</key>
        <string>{-1,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{120,227}</string>
        <key>sourceSize</key>
        <string>{120,227}</string>
      </dict>
      <key>weapon_0278_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,219},{94,215}}</string>
        <key>offset</key>
        <string>{-22,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{94,215}</string>
        <key>sourceSize</key>
        <string>{94,215}</string>
      </dict>
      <key>weapon_0278_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,502},{102,224}}</string>
        <key>offset</key>
        <string>{-21,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{102,224}</string>
        <key>sourceSize</key>
        <string>{102,224}</string>
      </dict>
      <key>weapon_0278_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,554},{140,154}}</string>
        <key>offset</key>
        <string>{8,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{140,154}</string>
        <key>sourceSize</key>
        <string>{140,154}</string>
      </dict>
      <key>weapon_0278_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,347},{135,136}}</string>
        <key>offset</key>
        <string>{-86,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,136}</string>
        <key>sourceSize</key>
        <string>{135,136}</string>
      </dict>
      <key>weapon_0278_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{110,219}}</string>
        <key>offset</key>
        <string>{-18,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{110,219}</string>
        <key>sourceSize</key>
        <string>{110,219}</string>
      </dict>
      <key>weapon_0278_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{195,225}}</string>
        <key>offset</key>
        <string>{-15,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{195,225}</string>
        <key>sourceSize</key>
        <string>{195,225}</string>
      </dict>
      <key>weapon_0278_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,841},{172,195}}</string>
        <key>offset</key>
        <string>{-28,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,195}</string>
        <key>sourceSize</key>
        <string>{172,195}</string>
      </dict>
      <key>weapon_0278_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,663},{155,215}}</string>
        <key>offset</key>
        <string>{-25,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{155,215}</string>
        <key>sourceSize</key>
        <string>{155,215}</string>
      </dict>
      <key>weapon_0278_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,0},{164,177}}</string>
        <key>offset</key>
        <string>{-112,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{164,177}</string>
        <key>sourceSize</key>
        <string>{164,177}</string>
      </dict>
      <key>weapon_0278_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,435},{205,185}}</string>
        <key>offset</key>
        <string>{-160,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{205,185}</string>
        <key>sourceSize</key>
        <string>{205,185}</string>
      </dict>
      <key>weapon_0278_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{109,222}}</string>
        <key>offset</key>
        <string>{-62,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{109,222}</string>
        <key>sourceSize</key>
        <string>{109,222}</string>
      </dict>
      <key>weapon_0278_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,880},{211,141}}</string>
        <key>offset</key>
        <string>{-36,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{211,141}</string>
        <key>sourceSize</key>
        <string>{211,141}</string>
      </dict>
      <key>weapon_0278_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,538},{237,151}}</string>
        <key>offset</key>
        <string>{-39,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{237,151}</string>
        <key>sourceSize</key>
        <string>{237,151}</string>
      </dict>
      <key>weapon_0278_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,642},{197,197}}</string>
        <key>offset</key>
        <string>{-44,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{197,197}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>weapon_0278_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,783},{240,127}}</string>
        <key>offset</key>
        <string>{-199,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{240,127}</string>
        <key>sourceSize</key>
        <string>{240,127}</string>
      </dict>
      <key>weapon_0278_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,274},{184,226}}</string>
        <key>offset</key>
        <string>{-140,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{184,226}</string>
        <key>sourceSize</key>
        <string>{184,226}</string>
      </dict>
      <key>weapon_0278_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,227},{138,224}}</string>
        <key>offset</key>
        <string>{-97,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{138,224}</string>
        <key>sourceSize</key>
        <string>{138,224}</string>
      </dict>
      <key>weapon_0278_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,168},{129,102}}</string>
        <key>offset</key>
        <string>{-32,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{129,102}</string>
        <key>sourceSize</key>
        <string>{129,102}</string>
      </dict>
      <key>weapon_0278_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,0},{194,110}}</string>
        <key>offset</key>
        <string>{-19,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{194,110}</string>
        <key>sourceSize</key>
        <string>{194,110}</string>
      </dict>
      <key>weapon_0278_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,380},{162,172}}</string>
        <key>offset</key>
        <string>{-35,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{162,172}</string>
        <key>sourceSize</key>
        <string>{162,172}</string>
      </dict>
      <key>weapon_0278_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{262,119}}</string>
        <key>offset</key>
        <string>{-199,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{262,119}</string>
        <key>sourceSize</key>
        <string>{262,119}</string>
      </dict>
      <key>weapon_0278_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,728},{125,224}}</string>
        <key>offset</key>
        <string>{-54,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{125,224}</string>
        <key>sourceSize</key>
        <string>{125,224}</string>
      </dict>
      <key>weapon_0278_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,0},{135,211}}</string>
        <key>offset</key>
        <string>{-87,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,211}</string>
        <key>sourceSize</key>
        <string>{135,211}</string>
      </dict>
      <key>weapon_0278_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,805},{115,111}}</string>
        <key>offset</key>
        <string>{-67,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{115,111}</string>
        <key>sourceSize</key>
        <string>{115,111}</string>
      </dict>
      <key>weapon_0278_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,922},{82,100}}</string>
        <key>offset</key>
        <string>{-12,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{82,100}</string>
        <key>sourceSize</key>
        <string>{82,100}</string>
      </dict>
      <key>weapon_0278_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,710},{93,152}}</string>
        <key>offset</key>
        <string>{-18,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{93,152}</string>
        <key>sourceSize</key>
        <string>{93,152}</string>
      </dict>
      <key>weapon_0278_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,892},{128,174}}</string>
        <key>offset</key>
        <string>{-78,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{128,174}</string>
        <key>sourceSize</key>
        <string>{128,174}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0278_1_3.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0278_1_3.png</string>
    </dict>
  </dict>
</plist>