<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3030_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,35},{22,74}}</string>
        <key>offset</key>
        <string>{35,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,74}}</string>
        <key>sourceSize</key>
        <string>{22,74}</string>
      </dict>
      <key>weapon_3030_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{33,79}}</string>
        <key>offset</key>
        <string>{32,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,79}}</string>
        <key>sourceSize</key>
        <string>{33,79}</string>
      </dict>
      <key>weapon_3030_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,78},{18,70}}</string>
        <key>offset</key>
        <string>{37,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,70}}</string>
        <key>sourceSize</key>
        <string>{18,70}</string>
      </dict>
      <key>weapon_3030_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,117},{72,57}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,57}}</string>
        <key>sourceSize</key>
        <string>{72,57}</string>
      </dict>
      <key>weapon_3030_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,92},{82,48}}</string>
        <key>offset</key>
        <string>{9,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,48}}</string>
        <key>sourceSize</key>
        <string>{82,48}</string>
      </dict>
      <key>weapon_3030_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,35},{79,41}}</string>
        <key>offset</key>
        <string>{16,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,41}}</string>
        <key>sourceSize</key>
        <string>{79,41}</string>
      </dict>
      <key>weapon_3030_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,0},{90,19}}</string>
        <key>offset</key>
        <string>{-14,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,19}}</string>
        <key>sourceSize</key>
        <string>{90,19}</string>
      </dict>
      <key>weapon_3030_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,221},{81,21}}</string>
        <key>offset</key>
        <string>{-3,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,21}}</string>
        <key>sourceSize</key>
        <string>{81,21}</string>
      </dict>
      <key>weapon_3030_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,21}}</string>
        <key>offset</key>
        <string>{1,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,21}}</string>
        <key>sourceSize</key>
        <string>{91,21}</string>
      </dict>
      <key>weapon_3030_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,115},{37,48}}</string>
        <key>offset</key>
        <string>{-6,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,48}}</string>
        <key>sourceSize</key>
        <string>{37,48}</string>
      </dict>
      <key>weapon_3030_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,224},{30,39}}</string>
        <key>offset</key>
        <string>{2,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,39}}</string>
        <key>sourceSize</key>
        <string>{30,39}</string>
      </dict>
      <key>weapon_3030_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,170},{45,52}}</string>
        <key>offset</key>
        <string>{1,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,52}}</string>
        <key>sourceSize</key>
        <string>{45,52}</string>
      </dict>
      <key>weapon_3030_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,176},{37,56}}</string>
        <key>offset</key>
        <string>{-17,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,56}}</string>
        <key>sourceSize</key>
        <string>{37,56}</string>
      </dict>
      <key>weapon_3030_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,78},{35,23}}</string>
        <key>offset</key>
        <string>{-17,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,23}}</string>
        <key>sourceSize</key>
        <string>{35,23}</string>
      </dict>
      <key>weapon_3030_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{17,29}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,29}}</string>
        <key>sourceSize</key>
        <string>{17,29}</string>
      </dict>
      <key>weapon_3030_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,224},{51,22}}</string>
        <key>offset</key>
        <string>{-16,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,22}}</string>
        <key>sourceSize</key>
        <string>{51,22}</string>
      </dict>
      <key>weapon_3030_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,176},{57,42}}</string>
        <key>offset</key>
        <string>{-26,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>weapon_3030_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,98},{69,15}}</string>
        <key>offset</key>
        <string>{-41,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,15}}</string>
        <key>sourceSize</key>
        <string>{69,15}</string>
      </dict>
      <key>weapon_3030_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{89,33}}</string>
        <key>offset</key>
        <string>{-22,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,33}}</string>
        <key>sourceSize</key>
        <string>{89,33}</string>
      </dict>
      <key>weapon_3030_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{82,48}}</string>
        <key>offset</key>
        <string>{-24,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,48}}</string>
        <key>sourceSize</key>
        <string>{82,48}</string>
      </dict>
      <key>weapon_3030_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{91,27}}</string>
        <key>offset</key>
        <string>{-40,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,27}}</string>
        <key>sourceSize</key>
        <string>{91,27}</string>
      </dict>
      <key>weapon_3030_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,59},{56,73}}</string>
        <key>offset</key>
        <string>{5,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,73}}</string>
        <key>sourceSize</key>
        <string>{56,73}</string>
      </dict>
      <key>weapon_3030_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{29,85}}</string>
        <key>offset</key>
        <string>{18,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,85}}</string>
        <key>sourceSize</key>
        <string>{29,85}</string>
      </dict>
      <key>weapon_3030_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,115},{53,66}}</string>
        <key>offset</key>
        <string>{-3,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,66}}</string>
        <key>sourceSize</key>
        <string>{53,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3030_1_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3030_1_7.png</string>
    </dict>
  </dict>
</plist>