<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0277_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,105},{97,166}}</string>
        <key>offset</key>
        <string>{-20,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{97,166}</string>
        <key>sourceSize</key>
        <string>{97,166}</string>
      </dict>
      <key>weapon_0277_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,535},{110,52}}</string>
        <key>offset</key>
        <string>{-50,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{110,52}</string>
        <key>sourceSize</key>
        <string>{110,52}</string>
      </dict>
      <key>weapon_0277_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{170,85}}</string>
        <key>offset</key>
        <string>{-94,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{170,85}</string>
        <key>sourceSize</key>
        <string>{170,85}</string>
      </dict>
      <key>weapon_0277_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{131,89}}</string>
        <key>offset</key>
        <string>{-48,-16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{131,89}</string>
        <key>sourceSize</key>
        <string>{131,89}</string>
      </dict>
      <key>weapon_0277_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{54,183}}</string>
        <key>offset</key>
        <string>{30,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{54,183}</string>
        <key>sourceSize</key>
        <string>{54,183}</string>
      </dict>
      <key>weapon_0277_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{161,102}}</string>
        <key>offset</key>
        <string>{-87,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{161,102}</string>
        <key>sourceSize</key>
        <string>{161,102}</string>
      </dict>
      <key>weapon_0277_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{158,58}}</string>
        <key>offset</key>
        <string>{-117,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{158,58}</string>
        <key>sourceSize</key>
        <string>{158,58}</string>
      </dict>
      <key>weapon_0277_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{179,52}}</string>
        <key>offset</key>
        <string>{-126,-17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{179,52}</string>
        <key>sourceSize</key>
        <string>{179,52}</string>
      </dict>
      <key>weapon_0277_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,179},{113,160}}</string>
        <key>offset</key>
        <string>{11,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{113,160}</string>
        <key>sourceSize</key>
        <string>{113,160}</string>
      </dict>
      <key>weapon_0277_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,294},{123,152}}</string>
        <key>offset</key>
        <string>{-58,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{123,152}</string>
        <key>sourceSize</key>
        <string>{123,152}</string>
      </dict>
      <key>weapon_0277_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,740},{74,93}}</string>
        <key>offset</key>
        <string>{-66,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{74,93}</string>
        <key>sourceSize</key>
        <string>{74,93}</string>
      </dict>
      <key>weapon_0277_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,419},{134,112}}</string>
        <key>offset</key>
        <string>{-121,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{134,112}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>weapon_0277_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,624},{128,114}}</string>
        <key>offset</key>
        <string>{-12,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,114}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
      <key>weapon_0277_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{48,177}}</string>
        <key>offset</key>
        <string>{1,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{48,177}</string>
        <key>sourceSize</key>
        <string>{48,177}</string>
      </dict>
      <key>weapon_0277_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,656},{96,88}}</string>
        <key>offset</key>
        <string>{-39,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{96,88}</string>
        <key>sourceSize</key>
        <string>{96,88}</string>
      </dict>
      <key>weapon_0277_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,643},{48,128}}</string>
        <key>offset</key>
        <string>{-50,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{48,128}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>weapon_0277_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,743},{86,71}}</string>
        <key>offset</key>
        <string>{-23,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{86,71}</string>
        <key>sourceSize</key>
        <string>{86,71}</string>
      </dict>
      <key>weapon_0277_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,301},{113,151}}</string>
        <key>offset</key>
        <string>{-10,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{113,151}</string>
        <key>sourceSize</key>
        <string>{113,151}</string>
      </dict>
      <key>weapon_0277_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{167,51}}</string>
        <key>offset</key>
        <string>{-25,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{167,51}</string>
        <key>sourceSize</key>
        <string>{167,51}</string>
      </dict>
      <key>weapon_0277_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,518},{134,104}}</string>
        <key>offset</key>
        <string>{-35,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{134,104}</string>
        <key>sourceSize</key>
        <string>{134,104}</string>
      </dict>
      <key>weapon_0277_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,535},{46,50}}</string>
        <key>offset</key>
        <string>{-29,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{46,50}</string>
        <key>sourceSize</key>
        <string>{46,50}</string>
      </dict>
      <key>weapon_0277_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{154,103}}</string>
        <key>offset</key>
        <string>{-22,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{154,103}</string>
        <key>sourceSize</key>
        <string>{154,103}</string>
      </dict>
      <key>weapon_0277_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,204},{159,95}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{159,95}</string>
        <key>sourceSize</key>
        <string>{159,95}</string>
      </dict>
      <key>weapon_0277_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,54},{176,49}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{176,49}</string>
        <key>sourceSize</key>
        <string>{176,49}</string>
      </dict>
      <key>weapon_0277_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,647},{105,77}}</string>
        <key>offset</key>
        <string>{-71,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{105,77}</string>
        <key>sourceSize</key>
        <string>{105,77}</string>
      </dict>
      <key>weapon_0277_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,419},{114,50}}</string>
        <key>offset</key>
        <string>{-11,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{114,50}</string>
        <key>sourceSize</key>
        <string>{114,50}</string>
      </dict>
      <key>weapon_0277_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{77,146}}</string>
        <key>offset</key>
        <string>{39,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{77,146}</string>
        <key>sourceSize</key>
        <string>{77,146}</string>
      </dict>
      <key>weapon_0277_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{135,93}}</string>
        <key>offset</key>
        <string>{36,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,93}</string>
        <key>sourceSize</key>
        <string>{135,93}</string>
      </dict>
      <key>weapon_0277_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,533},{130,121}}</string>
        <key>offset</key>
        <string>{-69,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,121}</string>
        <key>sourceSize</key>
        <string>{130,121}</string>
      </dict>
      <key>weapon_0277_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,740},{35,43}}</string>
        <key>offset</key>
        <string>{6,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{35,43}</string>
        <key>sourceSize</key>
        <string>{35,43}</string>
      </dict>
      <key>weapon_0277_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,416},{100,139}}</string>
        <key>offset</key>
        <string>{-9,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{100,139}</string>
        <key>sourceSize</key>
        <string>{100,139}</string>
      </dict>
      <key>weapon_0277_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,693},{48,115}}</string>
        <key>offset</key>
        <string>{52,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{48,115}</string>
        <key>sourceSize</key>
        <string>{48,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0277_1_4.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0277_1_4.png</string>
    </dict>
  </dict>
</plist>