<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21019_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,156},{37,66}}</string>
        <key>offset</key>
        <string>{37,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,66}}</string>
        <key>sourceSize</key>
        <string>{37,66}</string>
      </dict>
      <key>weapon_21019_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{38,76}}</string>
        <key>offset</key>
        <string>{37,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,76}}</string>
        <key>sourceSize</key>
        <string>{38,76}</string>
      </dict>
      <key>weapon_21019_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,76},{28,68}}</string>
        <key>offset</key>
        <string>{38,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,68}}</string>
        <key>sourceSize</key>
        <string>{28,68}</string>
      </dict>
      <key>weapon_21019_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,78},{76,51}}</string>
        <key>offset</key>
        <string>{13,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,51}}</string>
        <key>sourceSize</key>
        <string>{76,51}</string>
      </dict>
      <key>weapon_21019_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{74,57}}</string>
        <key>offset</key>
        <string>{19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,57}}</string>
        <key>sourceSize</key>
        <string>{74,57}</string>
      </dict>
      <key>weapon_21019_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,163},{77,44}}</string>
        <key>offset</key>
        <string>{26,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,44}}</string>
        <key>sourceSize</key>
        <string>{77,44}</string>
      </dict>
      <key>weapon_21019_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{78,29}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,29}}</string>
        <key>sourceSize</key>
        <string>{78,29}</string>
      </dict>
      <key>weapon_21019_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,156},{69,35}}</string>
        <key>offset</key>
        <string>{3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,35}}</string>
        <key>sourceSize</key>
        <string>{69,35}</string>
      </dict>
      <key>weapon_21019_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,28}}</string>
        <key>offset</key>
        <string>{10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,28}}</string>
        <key>sourceSize</key>
        <string>{80,28}</string>
      </dict>
      <key>weapon_21019_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,194},{28,55}}</string>
        <key>offset</key>
        <string>{-5,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,55}}</string>
        <key>sourceSize</key>
        <string>{28,55}</string>
      </dict>
      <key>weapon_21019_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,227},{23,48}}</string>
        <key>offset</key>
        <string>{1,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,48}}</string>
        <key>sourceSize</key>
        <string>{23,48}</string>
      </dict>
      <key>weapon_21019_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,194},{31,57}}</string>
        <key>offset</key>
        <string>{5,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,57}}</string>
        <key>sourceSize</key>
        <string>{31,57}</string>
      </dict>
      <key>weapon_21019_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,194},{45,51}}</string>
        <key>offset</key>
        <string>{-33,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,51}}</string>
        <key>sourceSize</key>
        <string>{45,51}</string>
      </dict>
      <key>weapon_21019_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,150},{45,33}}</string>
        <key>offset</key>
        <string>{-33,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,33}}</string>
        <key>sourceSize</key>
        <string>{45,33}</string>
      </dict>
      <key>weapon_21019_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,91},{28,40}}</string>
        <key>offset</key>
        <string>{-19,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>weapon_21019_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,71},{70,18}}</string>
        <key>offset</key>
        <string>{-45,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,18}}</string>
        <key>sourceSize</key>
        <string>{70,18}</string>
      </dict>
      <key>weapon_21019_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{72,23}}</string>
        <key>offset</key>
        <string>{-52,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,23}}</string>
        <key>sourceSize</key>
        <string>{72,23}</string>
      </dict>
      <key>weapon_21019_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,0},{72,20}}</string>
        <key>offset</key>
        <string>{-55,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,20}}</string>
        <key>sourceSize</key>
        <string>{72,20}</string>
      </dict>
      <key>weapon_21019_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,81},{77,37}}</string>
        <key>offset</key>
        <string>{-25,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,37}}</string>
        <key>sourceSize</key>
        <string>{77,37}</string>
      </dict>
      <key>weapon_21019_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,91},{67,57}}</string>
        <key>offset</key>
        <string>{-32,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,57}}</string>
        <key>sourceSize</key>
        <string>{67,57}</string>
      </dict>
      <key>weapon_21019_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{79,35}}</string>
        <key>offset</key>
        <string>{-44,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,35}}</string>
        <key>sourceSize</key>
        <string>{79,35}</string>
      </dict>
      <key>weapon_21019_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,25},{44,71}}</string>
        <key>offset</key>
        <string>{8,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,71}}</string>
        <key>sourceSize</key>
        <string>{44,71}</string>
      </dict>
      <key>weapon_21019_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{28,79}}</string>
        <key>offset</key>
        <string>{16,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,79}}</string>
        <key>sourceSize</key>
        <string>{28,79}</string>
      </dict>
      <key>weapon_21019_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,150},{42,63}}</string>
        <key>offset</key>
        <string>{-1,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,63}}</string>
        <key>sourceSize</key>
        <string>{42,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21019_0_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_21019_0_7.png</string>
    </dict>
  </dict>
</plist>