<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_5005_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,144},{60,129}}</string>
        <key>offset</key>
        <string>{9,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,129}}</string>
        <key>sourceSize</key>
        <string>{60,129}</string>
      </dict>
      <key>weapon_5005_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,436},{52,121}}</string>
        <key>offset</key>
        <string>{3,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,121}}</string>
        <key>sourceSize</key>
        <string>{52,121}</string>
      </dict>
      <key>weapon_5005_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,228},{119,118}}</string>
        <key>offset</key>
        <string>{15,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,118}}</string>
        <key>sourceSize</key>
        <string>{119,118}</string>
      </dict>
      <key>weapon_5005_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,348},{118,109}}</string>
        <key>offset</key>
        <string>{18,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,109}}</string>
        <key>sourceSize</key>
        <string>{118,109}</string>
      </dict>
      <key>weapon_5005_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{142,122}}</string>
        <key>offset</key>
        <string>{5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,122}}</string>
        <key>sourceSize</key>
        <string>{142,122}</string>
      </dict>
      <key>weapon_5005_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{156,112}}</string>
        <key>offset</key>
        <string>{19,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,112}}</string>
        <key>sourceSize</key>
        <string>{156,112}</string>
      </dict>
      <key>weapon_5005_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,321},{110,152}}</string>
        <key>offset</key>
        <string>{-5,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,152}}</string>
        <key>sourceSize</key>
        <string>{110,152}</string>
      </dict>
      <key>weapon_5005_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,156},{124,147}}</string>
        <key>offset</key>
        <string>{9,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,147}}</string>
        <key>sourceSize</key>
        <string>{124,147}</string>
      </dict>
      <key>weapon_5005_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,161}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,161}}</string>
        <key>sourceSize</key>
        <string>{60,161}</string>
      </dict>
      <key>weapon_5005_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{51,154}}</string>
        <key>offset</key>
        <string>{-11,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,154}}</string>
        <key>sourceSize</key>
        <string>{51,154}</string>
      </dict>
      <key>weapon_5005_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{111,139}}</string>
        <key>offset</key>
        <string>{-83,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,139}}</string>
        <key>sourceSize</key>
        <string>{111,139}</string>
      </dict>
      <key>weapon_5005_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,113},{113,130}}</string>
        <key>offset</key>
        <string>{-91,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{113,130}</string>
      </dict>
      <key>weapon_5005_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{144,99}}</string>
        <key>offset</key>
        <string>{-103,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,99}}</string>
        <key>sourceSize</key>
        <string>{144,99}</string>
      </dict>
      <key>weapon_5005_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,321},{153,104}}</string>
        <key>offset</key>
        <string>{-129,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,104}}</string>
        <key>sourceSize</key>
        <string>{153,104}</string>
      </dict>
      <key>weapon_5005_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,348},{105,104}}</string>
        <key>offset</key>
        <string>{-57,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,104}}</string>
        <key>sourceSize</key>
        <string>{105,104}</string>
      </dict>
      <key>weapon_5005_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,305},{129,100}}</string>
        <key>offset</key>
        <string>{-90,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,100}}</string>
        <key>sourceSize</key>
        <string>{129,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_5005_0_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_5005_0_8.png</string>
    </dict>
  </dict>
</plist>