<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0255_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,184},{70,82}}</string>
        <key>offset</key>
        <string>{-132,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{124,77},{70,82}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,440},{70,88}}</string>
        <key>offset</key>
        <string>{-132,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{124,68},{70,88}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,440},{62,88}}</string>
        <key>offset</key>
        <string>{-128,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{132,67},{62,88}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,300},{62,84}}</string>
        <key>offset</key>
        <string>{-128,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{132,74},{62,84}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{868,168},{70,80}}</string>
        <key>offset</key>
        <string>{-132,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{124,82},{70,80}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,184},{70,78}}</string>
        <key>offset</key>
        <string>{-132,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{124,83},{70,78}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,0},{92,76}}</string>
        <key>offset</key>
        <string>{-109,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{136,88},{92,76}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{94,82}}</string>
        <key>offset</key>
        <string>{-105,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{139,80},{94,82}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,84},{92,82}}</string>
        <key>offset</key>
        <string>{-106,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{139,79},{92,82}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,94},{88,78}}</string>
        <key>offset</key>
        <string>{-109,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{138,84},{88,78}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,212},{86,74}}</string>
        <key>offset</key>
        <string>{-113,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,92},{86,74}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,326},{88,72}}</string>
        <key>offset</key>
        <string>{-110,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{137,93},{88,72}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{138,70}}</string>
        <key>offset</key>
        <string>{-90,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{132,103},{138,70}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,290},{140,68}}</string>
        <key>offset</key>
        <string>{-86,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,103},{140,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{142,68}}</string>
        <key>offset</key>
        <string>{-87,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{133,101},{142,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{140,66}}</string>
        <key>offset</key>
        <string>{-91,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{130,102},{140,66}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,284},{134,68}}</string>
        <key>offset</key>
        <string>{-95,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{129,104},{134,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,432},{138,70}}</string>
        <key>offset</key>
        <string>{-94,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{128,104},{138,70}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,140},{120,96}}</string>
        <key>offset</key>
        <string>{-108,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{123,106},{120,96}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,384},{118,94}}</string>
        <key>offset</key>
        <string>{-104,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{128,107},{118,94}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{120,94}}</string>
        <key>offset</key>
        <string>{-104,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{127,106},{120,94}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,284},{122,94}}</string>
        <key>offset</key>
        <string>{-106,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{124,103},{122,94}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,408},{122,92}}</string>
        <key>offset</key>
        <string>{-110,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{120,107},{122,92}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,262},{120,96}}</string>
        <key>offset</key>
        <string>{-110,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{121,106},{120,96}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{70,112}}</string>
        <key>offset</key>
        <string>{-145,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{111,103},{70,112}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,114},{70,110}}</string>
        <key>offset</key>
        <string>{-144,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,103},{70,110}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,226},{70,106}}</string>
        <key>offset</key>
        <string>{-144,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,104},{70,106}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{62,110}}</string>
        <key>offset</key>
        <string>{-148,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,100},{62,110}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,350},{70,110}}</string>
        <key>offset</key>
        <string>{-144,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{112,104},{70,110}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,236},{70,112}}</string>
        <key>offset</key>
        <string>{-145,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{111,104},{70,112}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,334},{92,104}}</string>
        <key>offset</key>
        <string>{-169,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{76,100},{92,104}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{694,108},{92,102}}</string>
        <key>offset</key>
        <string>{-173,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,100},{92,102}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{92,102}}</string>
        <key>offset</key>
        <string>{-171,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{74,100},{92,102}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,220},{90,104}}</string>
        <key>offset</key>
        <string>{-167,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{79,96},{90,104}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,112},{88,106}}</string>
        <key>offset</key>
        <string>{-163,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{84,99},{88,106}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{90,106}}</string>
        <key>offset</key>
        <string>{-166,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{80,99},{90,106}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{142,78}}</string>
        <key>offset</key>
        <string>{-186,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{34,98},{142,78}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,74}}</string>
        <key>offset</key>
        <string>{-190,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{29,98},{144,74}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,146},{142,76}}</string>
        <key>offset</key>
        <string>{-189,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,96},{142,76}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{142,76}}</string>
        <key>offset</key>
        <string>{-186,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{34,97},{142,76}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{140,82}}</string>
        <key>offset</key>
        <string>{-180,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{41,96},{140,82}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,142},{140,80}}</string>
        <key>offset</key>
        <string>{-182,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{39,98},{140,80}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{116,64}}</string>
        <key>offset</key>
        <string>{-171,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{62,92},{116,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,240},{116,68}}</string>
        <key>offset</key>
        <string>{-173,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,86},{116,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,122},{118,68}}</string>
        <key>offset</key>
        <string>{-174,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{58,85},{118,68}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{118,64}}</string>
        <key>offset</key>
        <string>{-172,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{60,90},{118,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,120},{118,64}}</string>
        <key>offset</key>
        <string>{-168,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,95},{118,64}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
      <key>weapon_0255_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,118},{116,66}}</string>
        <key>offset</key>
        <string>{-169,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,92},{116,66}}</string>
        <key>sourceSize</key>
        <string>{320,320}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0255_1_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0255_1_1.png</string>
    </dict>
  </dict>
</plist>