<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3036_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,97},{57,88}}</string>
        <key>offset</key>
        <string>{38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,88}}</string>
        <key>sourceSize</key>
        <string>{57,88}</string>
      </dict>
      <key>weapon_3036_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{98,46}}</string>
        <key>offset</key>
        <string>{-61,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,46}}</string>
        <key>sourceSize</key>
        <string>{98,46}</string>
      </dict>
      <key>weapon_3036_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,457},{41,100}}</string>
        <key>offset</key>
        <string>{4,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,100}}</string>
        <key>sourceSize</key>
        <string>{41,100}</string>
      </dict>
      <key>weapon_3036_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,425},{83,33}}</string>
        <key>offset</key>
        <string>{29,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,33}}</string>
        <key>sourceSize</key>
        <string>{83,33}</string>
      </dict>
      <key>weapon_3036_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,121},{31,29}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,29}}</string>
        <key>sourceSize</key>
        <string>{31,29}</string>
      </dict>
      <key>weapon_3036_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,158},{12,61}}</string>
        <key>offset</key>
        <string>{33,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,61}}</string>
        <key>sourceSize</key>
        <string>{12,61}</string>
      </dict>
      <key>weapon_3036_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,231},{35,56}}</string>
        <key>offset</key>
        <string>{33,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,56}}</string>
        <key>sourceSize</key>
        <string>{35,56}</string>
      </dict>
      <key>weapon_3036_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,83},{73,19}}</string>
        <key>offset</key>
        <string>{-65,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,19}}</string>
        <key>sourceSize</key>
        <string>{73,19}</string>
      </dict>
      <key>weapon_3036_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{81,55}}</string>
        <key>offset</key>
        <string>{-35,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,55}}</string>
        <key>sourceSize</key>
        <string>{81,55}</string>
      </dict>
      <key>weapon_3036_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,323},{24,20}}</string>
        <key>offset</key>
        <string>{46,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>weapon_3036_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,71},{47,48}}</string>
        <key>offset</key>
        <string>{37,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,48}}</string>
        <key>sourceSize</key>
        <string>{47,48}</string>
      </dict>
      <key>weapon_3036_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,289},{44,28}}</string>
        <key>offset</key>
        <string>{36,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,28}}</string>
        <key>sourceSize</key>
        <string>{44,28}</string>
      </dict>
      <key>weapon_3036_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,396},{19,45}}</string>
        <key>offset</key>
        <string>{15,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,45}}</string>
        <key>sourceSize</key>
        <string>{19,45}</string>
      </dict>
      <key>weapon_3036_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{69,68}}</string>
        <key>offset</key>
        <string>{-70,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,68}}</string>
        <key>sourceSize</key>
        <string>{69,68}</string>
      </dict>
      <key>weapon_3036_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,20}}</string>
        <key>offset</key>
        <string>{-69,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,20}}</string>
        <key>sourceSize</key>
        <string>{109,20}</string>
      </dict>
      <key>weapon_3036_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,375},{65,19}}</string>
        <key>offset</key>
        <string>{4,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,19}}</string>
        <key>sourceSize</key>
        <string>{65,19}</string>
      </dict>
      <key>weapon_3036_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,498},{98,12}}</string>
        <key>offset</key>
        <string>{40,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,12}}</string>
        <key>sourceSize</key>
        <string>{98,12}</string>
      </dict>
      <key>weapon_3036_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,102},{99,23}}</string>
        <key>offset</key>
        <string>{18,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,23}}</string>
        <key>sourceSize</key>
        <string>{99,23}</string>
      </dict>
      <key>weapon_3036_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,172},{29,57}}</string>
        <key>offset</key>
        <string>{-18,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,57}}</string>
        <key>sourceSize</key>
        <string>{29,57}</string>
      </dict>
      <key>weapon_3036_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{35,103}}</string>
        <key>offset</key>
        <string>{-6,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,103}}</string>
        <key>sourceSize</key>
        <string>{35,103}</string>
      </dict>
      <key>weapon_3036_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,174},{58,78}}</string>
        <key>offset</key>
        <string>{-35,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,78}}</string>
        <key>sourceSize</key>
        <string>{58,78}</string>
      </dict>
      <key>weapon_3036_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,100},{95,50}}</string>
        <key>offset</key>
        <string>{-46,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,50}}</string>
        <key>sourceSize</key>
        <string>{95,50}</string>
      </dict>
      <key>weapon_3036_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,272},{80,51}}</string>
        <key>offset</key>
        <string>{40,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,51}}</string>
        <key>sourceSize</key>
        <string>{80,51}</string>
      </dict>
      <key>weapon_3036_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,90},{82,69}}</string>
        <key>offset</key>
        <string>{10,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,69}}</string>
        <key>sourceSize</key>
        <string>{82,69}</string>
      </dict>
      <key>weapon_3036_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,203},{46,97}}</string>
        <key>offset</key>
        <string>{-38,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,97}}</string>
        <key>sourceSize</key>
        <string>{46,97}</string>
      </dict>
      <key>weapon_3036_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,325},{101,42}}</string>
        <key>offset</key>
        <string>{10,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,42}}</string>
        <key>sourceSize</key>
        <string>{101,42}</string>
      </dict>
      <key>weapon_3036_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,157},{37,54}}</string>
        <key>offset</key>
        <string>{1,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,54}}</string>
        <key>sourceSize</key>
        <string>{37,54}</string>
      </dict>
      <key>weapon_3036_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,425},{69,83}}</string>
        <key>offset</key>
        <string>{-54,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,83}}</string>
        <key>sourceSize</key>
        <string>{69,83}</string>
      </dict>
      <key>weapon_3036_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,302},{38,94}}</string>
        <key>offset</key>
        <string>{19,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,94}}</string>
        <key>sourceSize</key>
        <string>{38,94}</string>
      </dict>
      <key>weapon_3036_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,0},{14,100}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,100}}</string>
        <key>sourceSize</key>
        <string>{14,100}</string>
      </dict>
      <key>weapon_3036_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{39,101}}</string>
        <key>offset</key>
        <string>{-25,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,101}}</string>
        <key>sourceSize</key>
        <string>{39,101}</string>
      </dict>
      <key>weapon_3036_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,380},{84,43}}</string>
        <key>offset</key>
        <string>{38,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,43}}</string>
        <key>sourceSize</key>
        <string>{84,43}</string>
      </dict>
      <key>weapon_3036_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,325},{103,23}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,23}}</string>
        <key>sourceSize</key>
        <string>{103,23}</string>
      </dict>
      <key>weapon_3036_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{20,107}}</string>
        <key>offset</key>
        <string>{-28,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,107}}</string>
        <key>sourceSize</key>
        <string>{20,107}</string>
      </dict>
      <key>weapon_3036_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,187},{38,83}}</string>
        <key>offset</key>
        <string>{-28,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,83}}</string>
        <key>sourceSize</key>
        <string>{38,83}</string>
      </dict>
      <key>weapon_3036_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,254},{67,57}}</string>
        <key>offset</key>
        <string>{-55,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,57}}</string>
        <key>sourceSize</key>
        <string>{67,57}</string>
      </dict>
      <key>weapon_3036_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,427},{20,85}}</string>
        <key>offset</key>
        <string>{13,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,85}}</string>
        <key>sourceSize</key>
        <string>{20,85}</string>
      </dict>
      <key>weapon_3036_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,323},{50,66}}</string>
        <key>offset</key>
        <string>{51,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,66}}</string>
        <key>sourceSize</key>
        <string>{50,66}</string>
      </dict>
      <key>weapon_3036_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{95,45}}</string>
        <key>offset</key>
        <string>{10,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,45}}</string>
        <key>sourceSize</key>
        <string>{95,45}</string>
      </dict>
      <key>weapon_3036_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,292},{54,86}}</string>
        <key>offset</key>
        <string>{-24,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,86}}</string>
        <key>sourceSize</key>
        <string>{54,86}</string>
      </dict>
      <key>weapon_3036_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{88,59}}</string>
        <key>offset</key>
        <string>{-78,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,59}}</string>
        <key>sourceSize</key>
        <string>{88,59}</string>
      </dict>
      <key>weapon_3036_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{103,25}}</string>
        <key>offset</key>
        <string>{-76,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,25}}</string>
        <key>sourceSize</key>
        <string>{103,25}</string>
      </dict>
      <key>weapon_3036_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,398},{27,93}}</string>
        <key>offset</key>
        <string>{35,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,93}}</string>
        <key>sourceSize</key>
        <string>{27,93}</string>
      </dict>
      <key>weapon_3036_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,174},{34,79}}</string>
        <key>offset</key>
        <string>{19,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,79}}</string>
        <key>sourceSize</key>
        <string>{34,79}</string>
      </dict>
      <key>weapon_3036_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,197},{48,93}}</string>
        <key>offset</key>
        <string>{24,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>weapon_3036_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,83},{72,53}}</string>
        <key>offset</key>
        <string>{-1,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,53}}</string>
        <key>sourceSize</key>
        <string>{72,53}</string>
      </dict>
      <key>weapon_3036_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,354},{78,21}}</string>
        <key>offset</key>
        <string>{-64,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,21}}</string>
        <key>sourceSize</key>
        <string>{78,21}</string>
      </dict>
      <key>weapon_3036_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{72,40}}</string>
        <key>offset</key>
        <string>{-37,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,40}}</string>
        <key>sourceSize</key>
        <string>{72,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3036_0_2.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3036_0_2.png</string>
    </dict>
  </dict>
</plist>