<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3067_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,209},{13,45}}</string>
        <key>offset</key>
        <string>{30,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,45}}</string>
        <key>sourceSize</key>
        <string>{13,45}</string>
      </dict>
      <key>weapon_3067_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,138},{17,61}}</string>
        <key>offset</key>
        <string>{22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,61}}</string>
        <key>sourceSize</key>
        <string>{17,61}</string>
      </dict>
      <key>weapon_3067_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,209},{67,36}}</string>
        <key>offset</key>
        <string>{5,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,36}}</string>
        <key>sourceSize</key>
        <string>{67,36}</string>
      </dict>
      <key>weapon_3067_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,138},{69,57}}</string>
        <key>offset</key>
        <string>{18,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,57}}</string>
        <key>sourceSize</key>
        <string>{69,57}</string>
      </dict>
      <key>weapon_3067_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{111,29}}</string>
        <key>offset</key>
        <string>{-23,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,29}}</string>
        <key>sourceSize</key>
        <string>{111,29}</string>
      </dict>
      <key>weapon_3067_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,29}}</string>
        <key>offset</key>
        <string>{1,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,29}}</string>
        <key>sourceSize</key>
        <string>{112,29}</string>
      </dict>
      <key>weapon_3067_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{91,63}}</string>
        <key>offset</key>
        <string>{-21,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,63}}</string>
        <key>sourceSize</key>
        <string>{91,63}</string>
      </dict>
      <key>weapon_3067_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{89,38}}</string>
        <key>offset</key>
        <string>{-2,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,38}}</string>
        <key>sourceSize</key>
        <string>{89,38}</string>
      </dict>
      <key>weapon_3067_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,75},{20,56}}</string>
        <key>offset</key>
        <string>{5,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,56}}</string>
        <key>sourceSize</key>
        <string>{20,56}</string>
      </dict>
      <key>weapon_3067_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{14,77}}</string>
        <key>offset</key>
        <string>{12,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,77}}</string>
        <key>sourceSize</key>
        <string>{14,77}</string>
      </dict>
      <key>weapon_3067_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,75},{61,85}}</string>
        <key>offset</key>
        <string>{-21,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,85}}</string>
        <key>sourceSize</key>
        <string>{61,85}</string>
      </dict>
      <key>weapon_3067_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,138},{60,63}}</string>
        <key>offset</key>
        <string>{-33,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>weapon_3067_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,0},{101,60}}</string>
        <key>offset</key>
        <string>{-37,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,60}}</string>
        <key>sourceSize</key>
        <string>{101,60}</string>
      </dict>
      <key>weapon_3067_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,114},{107,34}}</string>
        <key>offset</key>
        <string>{-61,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,34}}</string>
        <key>sourceSize</key>
        <string>{107,34}</string>
      </dict>
      <key>weapon_3067_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,40},{87,33}}</string>
        <key>offset</key>
        <string>{-18,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,33}}</string>
        <key>sourceSize</key>
        <string>{87,33}</string>
      </dict>
      <key>weapon_3067_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,103},{101,35}}</string>
        <key>offset</key>
        <string>{-46,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,35}}</string>
        <key>sourceSize</key>
        <string>{101,35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3067_1_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3067_1_8.png</string>
    </dict>
  </dict>
</plist>