<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3033_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{74,82}}</string>
        <key>offset</key>
        <string>{38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,82}}</string>
        <key>sourceSize</key>
        <string>{74,82}</string>
      </dict>
      <key>weapon_3033_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,57},{62,60}}</string>
        <key>offset</key>
        <string>{28,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,60}}</string>
        <key>sourceSize</key>
        <string>{62,60}</string>
      </dict>
      <key>weapon_3033_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{24,48}}</string>
        <key>offset</key>
        <string>{14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,48}}</string>
        <key>sourceSize</key>
        <string>{24,48}</string>
      </dict>
      <key>weapon_3033_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{55,66}}</string>
        <key>offset</key>
        <string>{-37,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,66}}</string>
        <key>sourceSize</key>
        <string>{55,66}</string>
      </dict>
      <key>weapon_3033_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,109},{67,94}}</string>
        <key>offset</key>
        <string>{-59,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,94}}</string>
        <key>sourceSize</key>
        <string>{67,94}</string>
      </dict>
      <key>weapon_3033_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{53,112}}</string>
        <key>offset</key>
        <string>{-35,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,112}}</string>
        <key>sourceSize</key>
        <string>{53,112}</string>
      </dict>
      <key>weapon_3033_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,114}}</string>
        <key>offset</key>
        <string>{7,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,114}}</string>
        <key>sourceSize</key>
        <string>{32,114}</string>
      </dict>
      <key>weapon_3033_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,0},{42,107}}</string>
        <key>offset</key>
        <string>{32,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,107}}</string>
        <key>sourceSize</key>
        <string>{42,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3033_0_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3033_0_11.png</string>
    </dict>
  </dict>
</plist>