<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3037_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{67,90}}</string>
        <key>offset</key>
        <string>{36,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,90}}</string>
        <key>sourceSize</key>
        <string>{67,90}</string>
      </dict>
      <key>weapon_3037_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,173},{70,63}}</string>
        <key>offset</key>
        <string>{25,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,63}}</string>
        <key>sourceSize</key>
        <string>{70,63}</string>
      </dict>
      <key>weapon_3037_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,61},{34,24}}</string>
        <key>offset</key>
        <string>{13,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>weapon_3037_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,120},{30,61}}</string>
        <key>offset</key>
        <string>{-20,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,61}}</string>
        <key>sourceSize</key>
        <string>{30,61}</string>
      </dict>
      <key>weapon_3037_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{57,102}}</string>
        <key>offset</key>
        <string>{-46,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,102}}</string>
        <key>sourceSize</key>
        <string>{57,102}</string>
      </dict>
      <key>weapon_3037_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{51,96}}</string>
        <key>offset</key>
        <string>{-32,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,96}}</string>
        <key>sourceSize</key>
        <string>{51,96}</string>
      </dict>
      <key>weapon_3037_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,37},{22,106}}</string>
        <key>offset</key>
        <string>{12,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,106}}</string>
        <key>sourceSize</key>
        <string>{22,106}</string>
      </dict>
      <key>weapon_3037_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{35,114}}</string>
        <key>offset</key>
        <string>{38,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,114}}</string>
        <key>sourceSize</key>
        <string>{35,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3037_1_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3037_1_11.png</string>
    </dict>
  </dict>
</plist>