<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3027_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{71,27}}</string>
        <key>offset</key>
        <string>{14,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,27}}</string>
        <key>sourceSize</key>
        <string>{71,27}</string>
      </dict>
      <key>weapon_3027_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{22,64}}</string>
        <key>offset</key>
        <string>{17,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,64}}</string>
        <key>sourceSize</key>
        <string>{22,64}</string>
      </dict>
      <key>weapon_3027_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,60},{52,18}}</string>
        <key>offset</key>
        <string>{9,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,18}}</string>
        <key>sourceSize</key>
        <string>{52,18}</string>
      </dict>
      <key>weapon_3027_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,64},{19,40}}</string>
        <key>offset</key>
        <string>{-7,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,40}}</string>
        <key>sourceSize</key>
        <string>{19,40}</string>
      </dict>
      <key>weapon_3027_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,106},{18,38}}</string>
        <key>offset</key>
        <string>{-2,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,38}}</string>
        <key>sourceSize</key>
        <string>{18,38}</string>
      </dict>
      <key>weapon_3027_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,161},{74,60}}</string>
        <key>offset</key>
        <string>{-5,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,60}}</string>
        <key>sourceSize</key>
        <string>{74,60}</string>
      </dict>
      <key>weapon_3027_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,114},{31,38}}</string>
        <key>offset</key>
        <string>{32,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,38}}</string>
        <key>sourceSize</key>
        <string>{31,38}</string>
      </dict>
      <key>weapon_3027_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,146},{68,51}}</string>
        <key>offset</key>
        <string>{-21,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,51}}</string>
        <key>sourceSize</key>
        <string>{68,51}</string>
      </dict>
      <key>weapon_3027_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{14,9}}</string>
        <key>offset</key>
        <string>{39,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,9}}</string>
        <key>sourceSize</key>
        <string>{14,9}</string>
      </dict>
      <key>weapon_3027_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{70,20}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,20}}</string>
        <key>sourceSize</key>
        <string>{70,20}</string>
      </dict>
      <key>weapon_3027_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,222},{58,30}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,30}}</string>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>weapon_3027_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,87},{84,13}}</string>
        <key>offset</key>
        <string>{5,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,13}}</string>
        <key>sourceSize</key>
        <string>{84,13}</string>
      </dict>
      <key>weapon_3027_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{58,26}}</string>
        <key>offset</key>
        <string>{1,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,26}}</string>
        <key>sourceSize</key>
        <string>{58,26}</string>
      </dict>
      <key>weapon_3027_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{91,27}}</string>
        <key>offset</key>
        <string>{-39,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,27}}</string>
        <key>sourceSize</key>
        <string>{91,27}</string>
      </dict>
      <key>weapon_3027_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,216},{50,20}}</string>
        <key>offset</key>
        <string>{22,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,20}}</string>
        <key>sourceSize</key>
        <string>{50,20}</string>
      </dict>
      <key>weapon_3027_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,19}}</string>
        <key>offset</key>
        <string>{6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,19}}</string>
        <key>sourceSize</key>
        <string>{92,19}</string>
      </dict>
      <key>weapon_3027_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,0},{90,13}}</string>
        <key>offset</key>
        <string>{0,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,13}}</string>
        <key>sourceSize</key>
        <string>{90,13}</string>
      </dict>
      <key>weapon_3027_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,126},{36,22}}</string>
        <key>offset</key>
        <string>{31,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,22}}</string>
        <key>sourceSize</key>
        <string>{36,22}</string>
      </dict>
      <key>weapon_3027_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,187},{90,14}}</string>
        <key>offset</key>
        <string>{-33,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,14}}</string>
        <key>sourceSize</key>
        <string>{90,14}</string>
      </dict>
      <key>weapon_3027_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,229},{65,24}}</string>
        <key>offset</key>
        <string>{-24,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,24}}</string>
        <key>sourceSize</key>
        <string>{65,24}</string>
      </dict>
      <key>weapon_3027_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,149},{71,55}}</string>
        <key>offset</key>
        <string>{-3,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,55}}</string>
        <key>sourceSize</key>
        <string>{71,55}</string>
      </dict>
      <key>weapon_3027_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{62,53}}</string>
        <key>offset</key>
        <string>{25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,53}}</string>
        <key>sourceSize</key>
        <string>{62,53}</string>
      </dict>
      <key>weapon_3027_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,79},{74,55}}</string>
        <key>offset</key>
        <string>{14,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,55}}</string>
        <key>sourceSize</key>
        <string>{74,55}</string>
      </dict>
      <key>weapon_3027_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,147},{36,23}}</string>
        <key>offset</key>
        <string>{17,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>weapon_3027_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{73,53}}</string>
        <key>offset</key>
        <string>{-37,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,53}}</string>
        <key>sourceSize</key>
        <string>{73,53}</string>
      </dict>
      <key>weapon_3027_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,150},{28,20}}</string>
        <key>offset</key>
        <string>{8,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>weapon_3027_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,82},{38,79}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,79}}</string>
        <key>sourceSize</key>
        <string>{38,79}</string>
      </dict>
      <key>weapon_3027_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,173},{26,78}}</string>
        <key>offset</key>
        <string>{33,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,78}}</string>
        <key>sourceSize</key>
        <string>{26,78}</string>
      </dict>
      <key>weapon_3027_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,161},{19,76}}</string>
        <key>offset</key>
        <string>{33,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,76}}</string>
        <key>sourceSize</key>
        <string>{19,76}</string>
      </dict>
      <key>weapon_3027_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{85,17}}</string>
        <key>offset</key>
        <string>{-28,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,17}}</string>
        <key>sourceSize</key>
        <string>{85,17}</string>
      </dict>
      <key>weapon_3027_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{25,74}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,74}}</string>
        <key>sourceSize</key>
        <string>{25,74}</string>
      </dict>
      <key>weapon_3027_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,239},{76,14}}</string>
        <key>offset</key>
        <string>{-2,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,14}}</string>
        <key>sourceSize</key>
        <string>{76,14}</string>
      </dict>
      <key>weapon_3027_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,92},{10,90}}</string>
        <key>offset</key>
        <string>{-3,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,90}}</string>
        <key>sourceSize</key>
        <string>{10,90}</string>
      </dict>
      <key>weapon_3027_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,155},{50,72}}</string>
        <key>offset</key>
        <string>{-3,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,72}}</string>
        <key>sourceSize</key>
        <string>{50,72}</string>
      </dict>
      <key>weapon_3027_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,73},{51,71}}</string>
        <key>offset</key>
        <string>{-2,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,71}}</string>
        <key>sourceSize</key>
        <string>{51,71}</string>
      </dict>
      <key>weapon_3027_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{79,50}}</string>
        <key>offset</key>
        <string>{-38,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,50}}</string>
        <key>sourceSize</key>
        <string>{79,50}</string>
      </dict>
      <key>weapon_3027_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,72},{43,68}}</string>
        <key>offset</key>
        <string>{-4,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,68}}</string>
        <key>sourceSize</key>
        <string>{43,68}</string>
      </dict>
      <key>weapon_3027_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{80,51}}</string>
        <key>offset</key>
        <string>{3,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,51}}</string>
        <key>sourceSize</key>
        <string>{80,51}</string>
      </dict>
      <key>weapon_3027_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,81},{56,78}}</string>
        <key>offset</key>
        <string>{-26,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,78}}</string>
        <key>sourceSize</key>
        <string>{56,78}</string>
      </dict>
      <key>weapon_3027_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,203},{84,43}}</string>
        <key>offset</key>
        <string>{-43,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,43}}</string>
        <key>sourceSize</key>
        <string>{84,43}</string>
      </dict>
      <key>weapon_3027_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{89,35}}</string>
        <key>offset</key>
        <string>{-39,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,35}}</string>
        <key>sourceSize</key>
        <string>{89,35}</string>
      </dict>
      <key>weapon_3027_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,91},{31,86}}</string>
        <key>offset</key>
        <string>{-16,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,86}}</string>
        <key>sourceSize</key>
        <string>{31,86}</string>
      </dict>
      <key>weapon_3027_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{85,43}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,43}}</string>
        <key>sourceSize</key>
        <string>{85,43}</string>
      </dict>
      <key>weapon_3027_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{47,77}}</string>
        <key>offset</key>
        <string>{18,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,77}}</string>
        <key>sourceSize</key>
        <string>{47,77}</string>
      </dict>
      <key>weapon_3027_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,75},{72,51}}</string>
        <key>offset</key>
        <string>{-21,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>weapon_3027_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,161},{75,12}}</string>
        <key>offset</key>
        <string>{-47,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,12}}</string>
        <key>sourceSize</key>
        <string>{75,12}</string>
      </dict>
      <key>weapon_3027_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{71,13}}</string>
        <key>offset</key>
        <string>{-36,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,13}}</string>
        <key>sourceSize</key>
        <string>{71,13}</string>
      </dict>
      <key>weapon_3027_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,87},{35,84}}</string>
        <key>offset</key>
        <string>{-4,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,84}}</string>
        <key>sourceSize</key>
        <string>{35,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3027_1_10.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3027_1_10.png</string>
    </dict>
  </dict>
</plist>