<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3039_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,215},{37,102}}</string>
        <key>offset</key>
        <string>{31,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,102}}</string>
        <key>sourceSize</key>
        <string>{37,102}</string>
      </dict>
      <key>weapon_3039_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{51,107}}</string>
        <key>offset</key>
        <string>{29,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,107}}</string>
        <key>sourceSize</key>
        <string>{51,107}</string>
      </dict>
      <key>weapon_3039_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{29,95}}</string>
        <key>offset</key>
        <string>{34,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,95}}</string>
        <key>sourceSize</key>
        <string>{29,95}</string>
      </dict>
      <key>weapon_3039_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,167},{106,75}}</string>
        <key>offset</key>
        <string>{1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,75}}</string>
        <key>sourceSize</key>
        <string>{106,75}</string>
      </dict>
      <key>weapon_3039_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{120,63}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,63}</string>
      </dict>
      <key>weapon_3039_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,117},{114,54}}</string>
        <key>offset</key>
        <string>{13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,54}}</string>
        <key>sourceSize</key>
        <string>{114,54}</string>
      </dict>
      <key>weapon_3039_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{126,30}}</string>
        <key>offset</key>
        <string>{-15,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,30}}</string>
        <key>sourceSize</key>
        <string>{126,30}</string>
      </dict>
      <key>weapon_3039_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,122},{115,33}}</string>
        <key>offset</key>
        <string>{-4,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,33}}</string>
        <key>sourceSize</key>
        <string>{115,33}</string>
      </dict>
      <key>weapon_3039_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{128,34}}</string>
        <key>offset</key>
        <string>{0,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,34}}</string>
        <key>sourceSize</key>
        <string>{128,34}</string>
      </dict>
      <key>weapon_3039_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,112},{53,74}}</string>
        <key>offset</key>
        <string>{-8,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,74}}</string>
        <key>sourceSize</key>
        <string>{53,74}</string>
      </dict>
      <key>weapon_3039_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,233},{44,61}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,61}}</string>
        <key>sourceSize</key>
        <string>{44,61}</string>
      </dict>
      <key>weapon_3039_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,112},{64,80}}</string>
        <key>offset</key>
        <string>{-1,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,80}}</string>
        <key>sourceSize</key>
        <string>{64,80}</string>
      </dict>
      <key>weapon_3039_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,57},{53,81}}</string>
        <key>offset</key>
        <string>{-32,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,81}}</string>
        <key>sourceSize</key>
        <string>{53,81}</string>
      </dict>
      <key>weapon_3039_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,242},{51,36}}</string>
        <key>offset</key>
        <string>{-31,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,36}}</string>
        <key>sourceSize</key>
        <string>{51,36}</string>
      </dict>
      <key>weapon_3039_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,242},{27,47}}</string>
        <key>offset</key>
        <string>{-13,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,47}}</string>
        <key>sourceSize</key>
        <string>{27,47}</string>
      </dict>
      <key>weapon_3039_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,194},{80,32}}</string>
        <key>offset</key>
        <string>{-40,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,32}}</string>
        <key>sourceSize</key>
        <string>{80,32}</string>
      </dict>
      <key>weapon_3039_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{87,55}}</string>
        <key>offset</key>
        <string>{-52,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,55}}</string>
        <key>sourceSize</key>
        <string>{87,55}</string>
      </dict>
      <key>weapon_3039_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,109},{104,24}}</string>
        <key>offset</key>
        <string>{-71,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,24}}</string>
        <key>sourceSize</key>
        <string>{104,24}</string>
      </dict>
      <key>weapon_3039_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{124,45}}</string>
        <key>offset</key>
        <string>{-56,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,45}}</string>
        <key>sourceSize</key>
        <string>{124,45}</string>
      </dict>
      <key>weapon_3039_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{115,66}}</string>
        <key>offset</key>
        <string>{-56,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,66}}</string>
        <key>sourceSize</key>
        <string>{115,66}</string>
      </dict>
      <key>weapon_3039_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,36}}</string>
        <key>offset</key>
        <string>{-76,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,36}}</string>
        <key>sourceSize</key>
        <string>{129,36}</string>
      </dict>
      <key>weapon_3039_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,109},{79,104}}</string>
        <key>offset</key>
        <string>{-16,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,104}}</string>
        <key>sourceSize</key>
        <string>{79,104}</string>
      </dict>
      <key>weapon_3039_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,122},{43,118}}</string>
        <key>offset</key>
        <string>{6,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,118}}</string>
        <key>sourceSize</key>
        <string>{43,118}</string>
      </dict>
      <key>weapon_3039_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{75,89}}</string>
        <key>offset</key>
        <string>{-23,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,89}}</string>
        <key>sourceSize</key>
        <string>{75,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3039_1_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3039_1_7.png</string>
    </dict>
  </dict>
</plist>