<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3008_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,101},{14,45}}</string>
        <key>offset</key>
        <string>{37,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,45}}</string>
        <key>sourceSize</key>
        <string>{14,45}</string>
      </dict>
      <key>weapon_3008_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,51},{21,48}}</string>
        <key>offset</key>
        <string>{38,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,48}}</string>
        <key>sourceSize</key>
        <string>{21,48}</string>
      </dict>
      <key>weapon_3008_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,46},{12,39}}</string>
        <key>offset</key>
        <string>{39,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,39}}</string>
        <key>sourceSize</key>
        <string>{12,39}</string>
      </dict>
      <key>weapon_3008_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,50},{45,35}}</string>
        <key>offset</key>
        <string>{19,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>weapon_3008_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,54},{50,29}}</string>
        <key>offset</key>
        <string>{26,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,29}}</string>
        <key>sourceSize</key>
        <string>{50,29}</string>
      </dict>
      <key>weapon_3008_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{49,26}}</string>
        <key>offset</key>
        <string>{32,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,26}}</string>
        <key>sourceSize</key>
        <string>{49,26}</string>
      </dict>
      <key>weapon_3008_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,14}}</string>
        <key>offset</key>
        <string>{4,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,14}}</string>
        <key>sourceSize</key>
        <string>{55,14}</string>
      </dict>
      <key>weapon_3008_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{50,13}}</string>
        <key>offset</key>
        <string>{14,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,13}}</string>
        <key>sourceSize</key>
        <string>{50,13}</string>
      </dict>
      <key>weapon_3008_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,57},{55,13}}</string>
        <key>offset</key>
        <string>{20,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,13}}</string>
        <key>sourceSize</key>
        <string>{55,13}</string>
      </dict>
      <key>weapon_3008_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{24,30}}</string>
        <key>offset</key>
        <string>{0,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,30}}</string>
        <key>sourceSize</key>
        <string>{24,30}</string>
      </dict>
      <key>weapon_3008_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{20,24}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>weapon_3008_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,37},{29,33}}</string>
        <key>offset</key>
        <string>{9,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,33}}</string>
        <key>sourceSize</key>
        <string>{29,33}</string>
      </dict>
      <key>weapon_3008_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,46},{23,35}}</string>
        <key>offset</key>
        <string>{-10,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>weapon_3008_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,17},{22,14}}</string>
        <key>offset</key>
        <string>{-10,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,14}}</string>
        <key>sourceSize</key>
        <string>{22,14}</string>
      </dict>
      <key>weapon_3008_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{11,18}}</string>
        <key>offset</key>
        <string>{-2,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>weapon_3008_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{29,15}}</string>
        <key>offset</key>
        <string>{-6,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,15}}</string>
        <key>sourceSize</key>
        <string>{29,15}</string>
      </dict>
      <key>weapon_3008_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{35,26}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,26}}</string>
        <key>sourceSize</key>
        <string>{35,26}</string>
      </dict>
      <key>weapon_3008_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,117},{44,8}}</string>
        <key>offset</key>
        <string>{-28,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,8}}</string>
        <key>sourceSize</key>
        <string>{44,8}</string>
      </dict>
      <key>weapon_3008_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,0},{52,20}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,20}}</string>
        <key>sourceSize</key>
        <string>{52,20}</string>
      </dict>
      <key>weapon_3008_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{48,28}}</string>
        <key>offset</key>
        <string>{-7,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,28}}</string>
        <key>sourceSize</key>
        <string>{48,28}</string>
      </dict>
      <key>weapon_3008_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,57},{55,17}}</string>
        <key>offset</key>
        <string>{-23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,17}}</string>
        <key>sourceSize</key>
        <string>{55,17}</string>
      </dict>
      <key>weapon_3008_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{34,44}}</string>
        <key>offset</key>
        <string>{17,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,44}}</string>
        <key>sourceSize</key>
        <string>{34,44}</string>
      </dict>
      <key>weapon_3008_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,106},{18,49}}</string>
        <key>offset</key>
        <string>{24,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,49}}</string>
        <key>sourceSize</key>
        <string>{18,49}</string>
      </dict>
      <key>weapon_3008_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,87},{32,39}}</string>
        <key>offset</key>
        <string>{8,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,39}}</string>
        <key>sourceSize</key>
        <string>{32,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3008_1_7.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3008_1_7.png</string>
    </dict>
  </dict>
</plist>