<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3010_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,207},{35,58}}</string>
        <key>offset</key>
        <string>{33,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,58}}</string>
        <key>sourceSize</key>
        <string>{35,58}</string>
      </dict>
      <key>weapon_3010_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,0},{36,67}}</string>
        <key>offset</key>
        <string>{32,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,67}}</string>
        <key>sourceSize</key>
        <string>{36,67}</string>
      </dict>
      <key>weapon_3010_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{28,59}}</string>
        <key>offset</key>
        <string>{33,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,59}}</string>
        <key>sourceSize</key>
        <string>{28,59}</string>
      </dict>
      <key>weapon_3010_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,40}}</string>
        <key>offset</key>
        <string>{2,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,40}}</string>
        <key>sourceSize</key>
        <string>{72,40}</string>
      </dict>
      <key>weapon_3010_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{70,47}}</string>
        <key>offset</key>
        <string>{9,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,47}}</string>
        <key>sourceSize</key>
        <string>{70,47}</string>
      </dict>
      <key>weapon_3010_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{71,33}}</string>
        <key>offset</key>
        <string>{15,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,33}}</string>
        <key>sourceSize</key>
        <string>{71,33}</string>
      </dict>
      <key>weapon_3010_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,144},{68,29}}</string>
        <key>offset</key>
        <string>{-14,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,29}}</string>
        <key>sourceSize</key>
        <string>{68,29}</string>
      </dict>
      <key>weapon_3010_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,69},{62,29}}</string>
        <key>offset</key>
        <string>{-6,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,29}}</string>
        <key>sourceSize</key>
        <string>{62,29}</string>
      </dict>
      <key>weapon_3010_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,74},{71,29}}</string>
        <key>offset</key>
        <string>{-1,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,29}}</string>
        <key>sourceSize</key>
        <string>{71,29}</string>
      </dict>
      <key>weapon_3010_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,87},{24,52}}</string>
        <key>offset</key>
        <string>{-8,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,52}}</string>
        <key>sourceSize</key>
        <string>{24,52}</string>
      </dict>
      <key>weapon_3010_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,61},{19,46}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,46}}</string>
        <key>sourceSize</key>
        <string>{19,46}</string>
      </dict>
      <key>weapon_3010_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,41},{27,54}}</string>
        <key>offset</key>
        <string>{1,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,54}}</string>
        <key>sourceSize</key>
        <string>{27,54}</string>
      </dict>
      <key>weapon_3010_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,87},{40,47}}</string>
        <key>offset</key>
        <string>{-24,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>weapon_3010_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{42,32}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,32}}</string>
        <key>sourceSize</key>
        <string>{42,32}</string>
      </dict>
      <key>weapon_3010_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,129},{28,38}}</string>
        <key>offset</key>
        <string>{-15,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>weapon_3010_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,70},{53,15}}</string>
        <key>offset</key>
        <string>{-28,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,15}}</string>
        <key>sourceSize</key>
        <string>{53,15}</string>
      </dict>
      <key>weapon_3010_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{72,17}}</string>
        <key>offset</key>
        <string>{-36,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,17}}</string>
        <key>sourceSize</key>
        <string>{72,17}</string>
      </dict>
      <key>weapon_3010_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{70,18}}</string>
        <key>offset</key>
        <string>{-39,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,18}}</string>
        <key>sourceSize</key>
        <string>{70,18}</string>
      </dict>
      <key>weapon_3010_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,72},{68,34}}</string>
        <key>offset</key>
        <string>{-5,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,34}}</string>
        <key>sourceSize</key>
        <string>{68,34}</string>
      </dict>
      <key>weapon_3010_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,142},{63,50}}</string>
        <key>offset</key>
        <string>{-19,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,50}}</string>
        <key>sourceSize</key>
        <string>{63,50}</string>
      </dict>
      <key>weapon_3010_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,147},{70,31}}</string>
        <key>offset</key>
        <string>{-24,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,31}}</string>
        <key>sourceSize</key>
        <string>{70,31}</string>
      </dict>
      <key>weapon_3010_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,214},{40,63}}</string>
        <key>offset</key>
        <string>{19,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,63}}</string>
        <key>sourceSize</key>
        <string>{40,63}</string>
      </dict>
      <key>weapon_3010_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,72},{26,70}}</string>
        <key>offset</key>
        <string>{23,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,70}}</string>
        <key>sourceSize</key>
        <string>{26,70}</string>
      </dict>
      <key>weapon_3010_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{39,57}}</string>
        <key>offset</key>
        <string>{9,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,57}}</string>
        <key>sourceSize</key>
        <string>{39,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3010_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3010_0_7.png</string>
    </dict>
  </dict>
</plist>