<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3071_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,207},{43,92}}</string>
        <key>offset</key>
        <string>{33,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,92}}</string>
        <key>sourceSize</key>
        <string>{43,92}</string>
      </dict>
      <key>weapon_3071_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,0},{44,103}}</string>
        <key>offset</key>
        <string>{32,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,103}}</string>
        <key>sourceSize</key>
        <string>{44,103}</string>
      </dict>
      <key>weapon_3071_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{33,94}}</string>
        <key>offset</key>
        <string>{34,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,94}}</string>
        <key>sourceSize</key>
        <string>{33,94}</string>
      </dict>
      <key>weapon_3071_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{96,70}}</string>
        <key>offset</key>
        <string>{7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,70}}</string>
        <key>sourceSize</key>
        <string>{96,70}</string>
      </dict>
      <key>weapon_3071_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,96},{92,79}}</string>
        <key>offset</key>
        <string>{13,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,79}}</string>
        <key>sourceSize</key>
        <string>{92,79}</string>
      </dict>
      <key>weapon_3071_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,105},{100,63}}</string>
        <key>offset</key>
        <string>{20,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,63}}</string>
        <key>sourceSize</key>
        <string>{100,63}</string>
      </dict>
      <key>weapon_3071_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,105},{103,45}}</string>
        <key>offset</key>
        <string>{-9,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,45}}</string>
        <key>sourceSize</key>
        <string>{103,45}</string>
      </dict>
      <key>weapon_3071_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{91,51}}</string>
        <key>offset</key>
        <string>{-2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,51}}</string>
        <key>sourceSize</key>
        <string>{91,51}</string>
      </dict>
      <key>weapon_3071_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,42}}</string>
        <key>offset</key>
        <string>{4,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,42}}</string>
        <key>sourceSize</key>
        <string>{106,42}</string>
      </dict>
      <key>weapon_3071_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{38,62}}</string>
        <key>offset</key>
        <string>{-6,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,62}}</string>
        <key>sourceSize</key>
        <string>{38,62}</string>
      </dict>
      <key>weapon_3071_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,40},{31,53}}</string>
        <key>offset</key>
        <string>{1,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,53}}</string>
        <key>sourceSize</key>
        <string>{31,53}</string>
      </dict>
      <key>weapon_3071_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,176},{43,65}}</string>
        <key>offset</key>
        <string>{3,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,65}}</string>
        <key>sourceSize</key>
        <string>{43,65}</string>
      </dict>
      <key>weapon_3071_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,40},{55,60}}</string>
        <key>offset</key>
        <string>{-39,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>weapon_3071_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,40},{54,37}}</string>
        <key>offset</key>
        <string>{-38,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>weapon_3071_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{34,43}}</string>
        <key>offset</key>
        <string>{-21,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,43}}</string>
        <key>sourceSize</key>
        <string>{34,43}</string>
      </dict>
      <key>weapon_3071_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,190},{86,23}}</string>
        <key>offset</key>
        <string>{-61,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,23}}</string>
        <key>sourceSize</key>
        <string>{86,23}</string>
      </dict>
      <key>weapon_3071_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,215},{86,33}}</string>
        <key>offset</key>
        <string>{-66,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,33}}</string>
        <key>sourceSize</key>
        <string>{86,33}</string>
      </dict>
      <key>weapon_3071_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{87,24}}</string>
        <key>offset</key>
        <string>{-70,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,24}}</string>
        <key>sourceSize</key>
        <string>{87,24}</string>
      </dict>
      <key>weapon_3071_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{103,51}}</string>
        <key>offset</key>
        <string>{-45,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,51}}</string>
        <key>sourceSize</key>
        <string>{103,51}</string>
      </dict>
      <key>weapon_3071_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,89},{85,77}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,77}}</string>
        <key>sourceSize</key>
        <string>{85,77}</string>
      </dict>
      <key>weapon_3071_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{105,51}}</string>
        <key>offset</key>
        <string>{-64,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,51}}</string>
        <key>sourceSize</key>
        <string>{105,51}</string>
      </dict>
      <key>weapon_3071_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,98},{61,95}}</string>
        <key>offset</key>
        <string>{-5,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,95}}</string>
        <key>sourceSize</key>
        <string>{61,95}</string>
      </dict>
      <key>weapon_3071_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,215},{38,104}}</string>
        <key>offset</key>
        <string>{8,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,104}}</string>
        <key>sourceSize</key>
        <string>{38,104}</string>
      </dict>
      <key>weapon_3071_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,195},{58,88}}</string>
        <key>offset</key>
        <string>{-13,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,88}}</string>
        <key>sourceSize</key>
        <string>{58,88}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3071_0_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3071_0_7.png</string>
    </dict>
  </dict>
</plist>