<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3026_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,66},{40,55}}</string>
        <key>offset</key>
        <string>{29,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,55}}</string>
        <key>sourceSize</key>
        <string>{40,55}</string>
      </dict>
      <key>weapon_3026_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,143},{40,64}}</string>
        <key>offset</key>
        <string>{28,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,64}}</string>
        <key>sourceSize</key>
        <string>{40,64}</string>
      </dict>
      <key>weapon_3026_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,66},{34,56}}</string>
        <key>offset</key>
        <string>{30,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,56}}</string>
        <key>sourceSize</key>
        <string>{34,56}</string>
      </dict>
      <key>weapon_3026_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,149},{71,34}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,34}}</string>
        <key>sourceSize</key>
        <string>{71,34}</string>
      </dict>
      <key>weapon_3026_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,73},{68,41}}</string>
        <key>offset</key>
        <string>{4,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,41}}</string>
        <key>sourceSize</key>
        <string>{68,41}</string>
      </dict>
      <key>weapon_3026_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,26}}</string>
        <key>offset</key>
        <string>{8,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,26}}</string>
        <key>sourceSize</key>
        <string>{73,26}</string>
      </dict>
      <key>weapon_3026_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,68},{64,17}}</string>
        <key>offset</key>
        <string>{-19,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,17}}</string>
        <key>sourceSize</key>
        <string>{64,17}</string>
      </dict>
      <key>weapon_3026_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,134},{57,16}}</string>
        <key>offset</key>
        <string>{-9,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,16}}</string>
        <key>sourceSize</key>
        <string>{57,16}</string>
      </dict>
      <key>weapon_3026_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{67,15}}</string>
        <key>offset</key>
        <string>{-6,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,15}}</string>
        <key>sourceSize</key>
        <string>{67,15}</string>
      </dict>
      <key>weapon_3026_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,204},{17,46}}</string>
        <key>offset</key>
        <string>{-5,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,46}}</string>
        <key>sourceSize</key>
        <string>{17,46}</string>
      </dict>
      <key>weapon_3026_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,45},{14,39}}</string>
        <key>offset</key>
        <string>{3,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,39}}</string>
        <key>sourceSize</key>
        <string>{14,39}</string>
      </dict>
      <key>weapon_3026_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,182},{20,47}}</string>
        <key>offset</key>
        <string>{3,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,47}}</string>
        <key>sourceSize</key>
        <string>{20,47}</string>
      </dict>
      <key>weapon_3026_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{43,35}}</string>
        <key>offset</key>
        <string>{-26,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,35}}</string>
        <key>sourceSize</key>
        <string>{43,35}</string>
      </dict>
      <key>weapon_3026_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{42,21}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,21}}</string>
        <key>sourceSize</key>
        <string>{42,21}</string>
      </dict>
      <key>weapon_3026_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,23},{34,28}}</string>
        <key>offset</key>
        <string>{-18,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,28}}</string>
        <key>sourceSize</key>
        <string>{34,28}</string>
      </dict>
      <key>weapon_3026_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{72,16}}</string>
        <key>offset</key>
        <string>{-23,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,16}}</string>
        <key>sourceSize</key>
        <string>{72,16}</string>
      </dict>
      <key>weapon_3026_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,75},{71,23}}</string>
        <key>offset</key>
        <string>{-29,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,23}}</string>
        <key>sourceSize</key>
        <string>{71,23}</string>
      </dict>
      <key>weapon_3026_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{72,15}}</string>
        <key>offset</key>
        <string>{-34,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,15}}</string>
        <key>sourceSize</key>
        <string>{72,15}</string>
      </dict>
      <key>weapon_3026_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{64,42}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,42}}</string>
        <key>sourceSize</key>
        <string>{64,42}</string>
      </dict>
      <key>weapon_3026_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,124},{55,56}}</string>
        <key>offset</key>
        <string>{-9,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{55,56}</string>
      </dict>
      <key>weapon_3026_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{66,36}}</string>
        <key>offset</key>
        <string>{-15,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,36}}</string>
        <key>sourceSize</key>
        <string>{66,36}</string>
      </dict>
      <key>weapon_3026_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,222},{32,69}}</string>
        <key>offset</key>
        <string>{27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,69}}</string>
        <key>sourceSize</key>
        <string>{32,69}</string>
      </dict>
      <key>weapon_3026_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,0},{19,71}}</string>
        <key>offset</key>
        <string>{27,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,71}}</string>
        <key>sourceSize</key>
        <string>{19,71}</string>
      </dict>
      <key>weapon_3026_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,209},{31,59}}</string>
        <key>offset</key>
        <string>{16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,59}}</string>
        <key>sourceSize</key>
        <string>{31,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3026_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3026_0_7.png</string>
    </dict>
  </dict>
</plist>