<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_5005_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,672},{73,160}}</string>
        <key>offset</key>
        <string>{3,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,160}}</string>
        <key>sourceSize</key>
        <string>{73,160}</string>
      </dict>
      <key>weapon_5005_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{91,150}}</string>
        <key>offset</key>
        <string>{-38,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,150}}</string>
        <key>sourceSize</key>
        <string>{91,150}</string>
      </dict>
      <key>weapon_5005_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,593},{120,122}}</string>
        <key>offset</key>
        <string>{-69,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,122}}</string>
        <key>sourceSize</key>
        <string>{120,122}</string>
      </dict>
      <key>weapon_5005_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,717},{103,113}}</string>
        <key>offset</key>
        <string>{-45,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>weapon_5005_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,935},{78,108}}</string>
        <key>offset</key>
        <string>{-18,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,108}}</string>
        <key>sourceSize</key>
        <string>{78,108}</string>
      </dict>
      <key>weapon_5005_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,144},{89,131}}</string>
        <key>offset</key>
        <string>{-2,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,131}}</string>
        <key>sourceSize</key>
        <string>{89,131}</string>
      </dict>
      <key>weapon_5005_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{106,142}}</string>
        <key>offset</key>
        <string>{14,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,142}}</string>
        <key>sourceSize</key>
        <string>{106,142}</string>
      </dict>
      <key>weapon_5005_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{49,169}}</string>
        <key>offset</key>
        <string>{6,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,169}}</string>
        <key>sourceSize</key>
        <string>{49,169}</string>
      </dict>
      <key>weapon_5005_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,319},{124,146}}</string>
        <key>offset</key>
        <string>{-62,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,146}}</string>
        <key>sourceSize</key>
        <string>{124,146}</string>
      </dict>
      <key>weapon_5005_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,164},{146,109}}</string>
        <key>offset</key>
        <string>{-85,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,109}}</string>
        <key>sourceSize</key>
        <string>{146,109}</string>
      </dict>
      <key>weapon_5005_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,132},{115,114}}</string>
        <key>offset</key>
        <string>{-50,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,114}}</string>
        <key>sourceSize</key>
        <string>{115,114}</string>
      </dict>
      <key>weapon_5005_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,467},{143,98}}</string>
        <key>offset</key>
        <string>{18,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,98}}</string>
        <key>sourceSize</key>
        <string>{143,98}</string>
      </dict>
      <key>weapon_5005_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{114,102}}</string>
        <key>offset</key>
        <string>{12,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,102}}</string>
        <key>sourceSize</key>
        <string>{114,102}</string>
      </dict>
      <key>weapon_5005_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,508},{85,160}}</string>
        <key>offset</key>
        <string>{5,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,160}}</string>
        <key>sourceSize</key>
        <string>{85,160}</string>
      </dict>
      <key>weapon_5005_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{106,162}}</string>
        <key>offset</key>
        <string>{-29,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,162}}</string>
        <key>sourceSize</key>
        <string>{106,162}</string>
      </dict>
      <key>weapon_5005_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{122,146}}</string>
        <key>offset</key>
        <string>{-71,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,146}}</string>
        <key>sourceSize</key>
        <string>{122,146}</string>
      </dict>
      <key>weapon_5005_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,670},{104,149}}</string>
        <key>offset</key>
        <string>{-49,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,149}}</string>
        <key>sourceSize</key>
        <string>{104,149}</string>
      </dict>
      <key>weapon_5005_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,170},{163,62}}</string>
        <key>offset</key>
        <string>{16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,62}}</string>
        <key>sourceSize</key>
        <string>{163,62}</string>
      </dict>
      <key>weapon_5005_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,249},{108,96}}</string>
        <key>offset</key>
        <string>{-18,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,96}}</string>
        <key>sourceSize</key>
        <string>{108,96}</string>
      </dict>
      <key>weapon_5005_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,612},{106,140}}</string>
        <key>offset</key>
        <string>{-5,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,140}}</string>
        <key>sourceSize</key>
        <string>{106,140}</string>
      </dict>
      <key>weapon_5005_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{96,168}}</string>
        <key>offset</key>
        <string>{-14,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,168}}</string>
        <key>sourceSize</key>
        <string>{96,168}</string>
      </dict>
      <key>weapon_5005_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,164},{54,153}}</string>
        <key>offset</key>
        <string>{-17,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,153}}</string>
        <key>sourceSize</key>
        <string>{54,153}</string>
      </dict>
      <key>weapon_5005_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{58,162}}</string>
        <key>offset</key>
        <string>{-18,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,162}}</string>
        <key>sourceSize</key>
        <string>{58,162}</string>
      </dict>
      <key>weapon_5005_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,663},{103,101}}</string>
        <key>offset</key>
        <string>{8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,101}}</string>
        <key>sourceSize</key>
        <string>{103,101}</string>
      </dict>
      <key>weapon_5005_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,548},{76,113}}</string>
        <key>offset</key>
        <string>{-36,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,113}}</string>
        <key>sourceSize</key>
        <string>{76,113}</string>
      </dict>
      <key>weapon_5005_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,886},{92,124}}</string>
        <key>offset</key>
        <string>{-11,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,124}}</string>
        <key>sourceSize</key>
        <string>{92,124}</string>
      </dict>
      <key>weapon_5005_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,791},{114,142}}</string>
        <key>offset</key>
        <string>{-6,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,142}}</string>
        <key>sourceSize</key>
        <string>{114,142}</string>
      </dict>
      <key>weapon_5005_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,312},{104,143}}</string>
        <key>offset</key>
        <string>{-14,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,143}}</string>
        <key>sourceSize</key>
        <string>{104,143}</string>
      </dict>
      <key>weapon_5005_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,335},{80,156}}</string>
        <key>offset</key>
        <string>{-19,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,156}}</string>
        <key>sourceSize</key>
        <string>{80,156}</string>
      </dict>
      <key>weapon_5005_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,0},{90,130}}</string>
        <key>offset</key>
        <string>{-41,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,130}}</string>
        <key>sourceSize</key>
        <string>{90,130}</string>
      </dict>
      <key>weapon_5005_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,832},{105,105}}</string>
        <key>offset</key>
        <string>{-76,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>weapon_5005_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,277},{51,116}}</string>
        <key>offset</key>
        <string>{-13,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,116}}</string>
        <key>sourceSize</key>
        <string>{51,116}</string>
      </dict>
      <key>weapon_5005_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,886},{123,99}}</string>
        <key>offset</key>
        <string>{-16,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,99}}</string>
        <key>sourceSize</key>
        <string>{123,99}</string>
      </dict>
      <key>weapon_5005_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,821},{145,114}}</string>
        <key>offset</key>
        <string>{-17,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,114}}</string>
        <key>sourceSize</key>
        <string>{145,114}</string>
      </dict>
      <key>weapon_5005_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,457},{119,134}}</string>
        <key>offset</key>
        <string>{-23,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,134}}</string>
        <key>sourceSize</key>
        <string>{119,134}</string>
      </dict>
      <key>weapon_5005_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,644},{145,123}}</string>
        <key>offset</key>
        <string>{-118,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,123}}</string>
        <key>sourceSize</key>
        <string>{145,123}</string>
      </dict>
      <key>weapon_5005_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,148},{121,143}}</string>
        <key>offset</key>
        <string>{-89,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,143}}</string>
        <key>sourceSize</key>
        <string>{121,143}</string>
      </dict>
      <key>weapon_5005_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,427},{87,119}}</string>
        <key>offset</key>
        <string>{-45,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,119}}</string>
        <key>sourceSize</key>
        <string>{87,119}</string>
      </dict>
      <key>weapon_5005_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,116},{107,81}}</string>
        <key>offset</key>
        <string>{-31,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,81}}</string>
        <key>sourceSize</key>
        <string>{107,81}</string>
      </dict>
      <key>weapon_5005_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,754},{120,130}}</string>
        <key>offset</key>
        <string>{-6,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,130}}</string>
        <key>sourceSize</key>
        <string>{120,130}</string>
      </dict>
      <key>weapon_5005_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,0},{103,107}}</string>
        <key>offset</key>
        <string>{-11,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,107}}</string>
        <key>sourceSize</key>
        <string>{103,107}</string>
      </dict>
      <key>weapon_5005_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{164,109}}</string>
        <key>offset</key>
        <string>{-132,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,109}}</string>
        <key>sourceSize</key>
        <string>{164,109}</string>
      </dict>
      <key>weapon_5005_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{101,169}}</string>
        <key>offset</key>
        <string>{-45,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,169}}</string>
        <key>sourceSize</key>
        <string>{101,169}</string>
      </dict>
      <key>weapon_5005_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,493},{108,149}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,149}}</string>
        <key>sourceSize</key>
        <string>{108,149}</string>
      </dict>
      <key>weapon_5005_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,509},{86,96}}</string>
        <key>offset</key>
        <string>{-39,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>weapon_5005_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,968},{49,119}}</string>
        <key>offset</key>
        <string>{8,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,119}}</string>
        <key>sourceSize</key>
        <string>{49,119}</string>
      </dict>
      <key>weapon_5005_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,395},{55,112}}</string>
        <key>offset</key>
        <string>{4,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,112}}</string>
        <key>sourceSize</key>
        <string>{55,112}</string>
      </dict>
      <key>weapon_5005_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,293},{105,132}}</string>
        <key>offset</key>
        <string>{-68,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,132}}</string>
        <key>sourceSize</key>
        <string>{105,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_5005_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_5005_1_3.png</string>
    </dict>
  </dict>
</plist>