<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3038_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{13,51}}</string>
        <key>offset</key>
        <string>{31,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,51}}</string>
        <key>sourceSize</key>
        <string>{13,51}</string>
      </dict>
      <key>weapon_3038_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,188},{7,60}}</string>
        <key>offset</key>
        <string>{30,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,60}}</string>
        <key>sourceSize</key>
        <string>{7,60}</string>
      </dict>
      <key>weapon_3038_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{106,36}}</string>
        <key>offset</key>
        <string>{-4,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,36}}</string>
        <key>sourceSize</key>
        <string>{106,36}</string>
      </dict>
      <key>weapon_3038_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,104},{93,44}}</string>
        <key>offset</key>
        <string>{9,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,44}}</string>
        <key>sourceSize</key>
        <string>{93,44}</string>
      </dict>
      <key>weapon_3038_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{136,40}}</string>
        <key>offset</key>
        <string>{-22,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,40}}</string>
        <key>sourceSize</key>
        <string>{136,40}</string>
      </dict>
      <key>weapon_3038_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,30}}</string>
        <key>offset</key>
        <string>{-9,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,30}}</string>
        <key>sourceSize</key>
        <string>{142,30}</string>
      </dict>
      <key>weapon_3038_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{92,84}}</string>
        <key>offset</key>
        <string>{-15,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,84}}</string>
        <key>sourceSize</key>
        <string>{92,84}</string>
      </dict>
      <key>weapon_3038_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,94},{92,80}}</string>
        <key>offset</key>
        <string>{-3,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,80}}</string>
        <key>sourceSize</key>
        <string>{92,80}</string>
      </dict>
      <key>weapon_3038_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,112},{11,105}}</string>
        <key>offset</key>
        <string>{5,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,105}}</string>
        <key>sourceSize</key>
        <string>{11,105}</string>
      </dict>
      <key>weapon_3038_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{9,110}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,110}}</string>
        <key>sourceSize</key>
        <string>{9,110}</string>
      </dict>
      <key>weapon_3038_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,125},{99,80}}</string>
        <key>offset</key>
        <string>{-51,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,80}}</string>
        <key>sourceSize</key>
        <string>{99,80}</string>
      </dict>
      <key>weapon_3038_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{102,80}}</string>
        <key>offset</key>
        <string>{-63,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,80}}</string>
        <key>sourceSize</key>
        <string>{102,80}</string>
      </dict>
      <key>weapon_3038_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{142,31}}</string>
        <key>offset</key>
        <string>{-71,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,31}}</string>
        <key>sourceSize</key>
        <string>{142,31}</string>
      </dict>
      <key>weapon_3038_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{141,30}}</string>
        <key>offset</key>
        <string>{-86,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,30}}</string>
        <key>sourceSize</key>
        <string>{141,30}</string>
      </dict>
      <key>weapon_3038_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{88,38}}</string>
        <key>offset</key>
        <string>{-27,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,38}}</string>
        <key>sourceSize</key>
        <string>{88,38}</string>
      </dict>
      <key>weapon_3038_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,177},{97,43}}</string>
        <key>offset</key>
        <string>{-48,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,43}}</string>
        <key>sourceSize</key>
        <string>{97,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3038_0_8.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3038_0_8.png</string>
    </dict>
  </dict>
</plist>