<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3014_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,37},{7,18}}</string>
        <key>offset</key>
        <string>{31,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,18}}</string>
        <key>sourceSize</key>
        <string>{7,18}</string>
      </dict>
      <key>weapon_3014_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,37},{4,11}}</string>
        <key>offset</key>
        <string>{31,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,11}}</string>
        <key>sourceSize</key>
        <string>{4,11}</string>
      </dict>
      <key>weapon_3014_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,63},{35,15}}</string>
        <key>offset</key>
        <string>{27,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,15}}</string>
        <key>sourceSize</key>
        <string>{35,15}</string>
      </dict>
      <key>weapon_3014_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,44},{36,27}}</string>
        <key>offset</key>
        <string>{41,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,27}}</string>
        <key>sourceSize</key>
        <string>{36,27}</string>
      </dict>
      <key>weapon_3014_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,4}}</string>
        <key>offset</key>
        <string>{15,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,4}}</string>
        <key>sourceSize</key>
        <string>{56,4}</string>
      </dict>
      <key>weapon_3014_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{56,4}}</string>
        <key>offset</key>
        <string>{39,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,4}}</string>
        <key>sourceSize</key>
        <string>{56,4}</string>
      </dict>
      <key>weapon_3014_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{47,27}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,27}}</string>
        <key>sourceSize</key>
        <string>{47,27}</string>
      </dict>
      <key>weapon_3014_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,23},{44,12}}</string>
        <key>offset</key>
        <string>{28,-15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,12}}</string>
        <key>sourceSize</key>
        <string>{44,12}</string>
      </dict>
      <key>weapon_3014_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,88},{9,22}}</string>
        <key>offset</key>
        <string>{11,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,22}}</string>
        <key>sourceSize</key>
        <string>{9,22}</string>
      </dict>
      <key>weapon_3014_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,80},{6,35}}</string>
        <key>offset</key>
        <string>{15,-14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,35}}</string>
        <key>sourceSize</key>
        <string>{6,35}</string>
      </dict>
      <key>weapon_3014_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,29},{32,39}}</string>
        <key>offset</key>
        <string>{-12,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,39}}</string>
        <key>sourceSize</key>
        <string>{32,39}</string>
      </dict>
      <key>weapon_3014_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,88},{31,26}}</string>
        <key>offset</key>
        <string>{-24,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,26}}</string>
        <key>sourceSize</key>
        <string>{31,26}</string>
      </dict>
      <key>weapon_3014_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{42,21}}</string>
        <key>offset</key>
        <string>{-22,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,21}}</string>
        <key>sourceSize</key>
        <string>{42,21}</string>
      </dict>
      <key>weapon_3014_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{53,8}}</string>
        <key>offset</key>
        <string>{-44,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,8}}</string>
        <key>sourceSize</key>
        <string>{53,8}</string>
      </dict>
      <key>weapon_3014_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,15},{45,6}}</string>
        <key>offset</key>
        <string>{-5,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,6}}</string>
        <key>sourceSize</key>
        <string>{45,6}</string>
      </dict>
      <key>weapon_3014_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,0},{46,13}}</string>
        <key>offset</key>
        <string>{-30,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,13}}</string>
        <key>sourceSize</key>
        <string>{46,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3014_1_8.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3014_1_8.png</string>
    </dict>
  </dict>
</plist>