<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3501_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,161},{57,137}}</string>
        <key>offset</key>
        <string>{38,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,137}}</string>
        <key>sourceSize</key>
        <string>{57,137}</string>
      </dict>
      <key>weapon_3501_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{34,131}}</string>
        <key>offset</key>
        <string>{6,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,131}}</string>
        <key>sourceSize</key>
        <string>{34,131}</string>
      </dict>
      <key>weapon_3501_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,592},{74,54}}</string>
        <key>offset</key>
        <string>{-39,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,54}}</string>
        <key>sourceSize</key>
        <string>{74,54}</string>
      </dict>
      <key>weapon_3501_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,547},{89,43}}</string>
        <key>offset</key>
        <string>{-51,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,43}}</string>
        <key>sourceSize</key>
        <string>{89,43}</string>
      </dict>
      <key>weapon_3501_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,455},{63,94}}</string>
        <key>offset</key>
        <string>{-26,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,94}}</string>
        <key>sourceSize</key>
        <string>{63,94}</string>
      </dict>
      <key>weapon_3501_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{31,124}}</string>
        <key>offset</key>
        <string>{51,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,124}}</string>
        <key>sourceSize</key>
        <string>{31,124}</string>
      </dict>
      <key>weapon_3501_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,489},{95,101}}</string>
        <key>offset</key>
        <string>{39,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,101}}</string>
        <key>sourceSize</key>
        <string>{95,101}</string>
      </dict>
      <key>weapon_3501_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{16,132}}</string>
        <key>offset</key>
        <string>{33,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,132}}</string>
        <key>sourceSize</key>
        <string>{16,132}</string>
      </dict>
      <key>weapon_3501_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,387},{107,100}}</string>
        <key>offset</key>
        <string>{-56,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,100}}</string>
        <key>sourceSize</key>
        <string>{107,100}</string>
      </dict>
      <key>weapon_3501_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{139,59}}</string>
        <key>offset</key>
        <string>{-86,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,59}}</string>
        <key>sourceSize</key>
        <string>{139,59}</string>
      </dict>
      <key>weapon_3501_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,286},{76,119}}</string>
        <key>offset</key>
        <string>{-37,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,119}}</string>
        <key>sourceSize</key>
        <string>{76,119}</string>
      </dict>
      <key>weapon_3501_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{124,84}}</string>
        <key>offset</key>
        <string>{42,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,84}}</string>
        <key>sourceSize</key>
        <string>{124,84}</string>
      </dict>
      <key>weapon_3501_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,599},{79,60}}</string>
        <key>offset</key>
        <string>{23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,60}}</string>
        <key>sourceSize</key>
        <string>{79,60}</string>
      </dict>
      <key>weapon_3501_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,89},{41,131}}</string>
        <key>offset</key>
        <string>{36,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,131}}</string>
        <key>sourceSize</key>
        <string>{41,131}</string>
      </dict>
      <key>weapon_3501_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,43},{88,140}}</string>
        <key>offset</key>
        <string>{-28,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,140}}</string>
        <key>sourceSize</key>
        <string>{88,140}</string>
      </dict>
      <key>weapon_3501_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,348},{105,116}}</string>
        <key>offset</key>
        <string>{-49,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,116}}</string>
        <key>sourceSize</key>
        <string>{105,116}</string>
      </dict>
      <key>weapon_3501_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,33},{45,143}}</string>
        <key>offset</key>
        <string>{-9,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,143}}</string>
        <key>sourceSize</key>
        <string>{45,143}</string>
      </dict>
      <key>weapon_3501_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{153,25}}</string>
        <key>offset</key>
        <string>{19,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,25}}</string>
        <key>sourceSize</key>
        <string>{153,25}</string>
      </dict>
      <key>weapon_3501_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,169},{29,51}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,51}}</string>
        <key>sourceSize</key>
        <string>{29,51}</string>
      </dict>
      <key>weapon_3501_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{54,115}}</string>
        <key>offset</key>
        <string>{27,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,115}}</string>
        <key>sourceSize</key>
        <string>{54,115}</string>
      </dict>
      <key>weapon_3501_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{41,158}}</string>
        <key>offset</key>
        <string>{8,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,158}}</string>
        <key>sourceSize</key>
        <string>{41,158}</string>
      </dict>
      <key>weapon_3501_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,27},{17,140}}</string>
        <key>offset</key>
        <string>{24,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,140}}</string>
        <key>sourceSize</key>
        <string>{17,140}</string>
      </dict>
      <key>weapon_3501_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{20,133}}</string>
        <key>offset</key>
        <string>{19,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,133}}</string>
        <key>sourceSize</key>
        <string>{20,133}</string>
      </dict>
      <key>weapon_3501_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,585},{85,69}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,69}}</string>
        <key>sourceSize</key>
        <string>{85,69}</string>
      </dict>
      <key>weapon_3501_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,600},{59,68}}</string>
        <key>offset</key>
        <string>{-48,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,68}}</string>
        <key>sourceSize</key>
        <string>{59,68}</string>
      </dict>
      <key>weapon_3501_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,427},{34,107}}</string>
        <key>offset</key>
        <string>{10,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,107}}</string>
        <key>sourceSize</key>
        <string>{34,107}</string>
      </dict>
      <key>weapon_3501_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,163},{74,135}}</string>
        <key>offset</key>
        <string>{11,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,135}}</string>
        <key>sourceSize</key>
        <string>{74,135}</string>
      </dict>
      <key>weapon_3501_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,222},{88,124}}</string>
        <key>offset</key>
        <string>{10,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,124}}</string>
        <key>sourceSize</key>
        <string>{88,124}</string>
      </dict>
      <key>weapon_3501_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,220},{64,131}}</string>
        <key>offset</key>
        <string>{13,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,131}}</string>
        <key>sourceSize</key>
        <string>{64,131}</string>
      </dict>
      <key>weapon_3501_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,551},{32,87}}</string>
        <key>offset</key>
        <string>{-37,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,87}}</string>
        <key>sourceSize</key>
        <string>{32,87}</string>
      </dict>
      <key>weapon_3501_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,463},{95,103}}</string>
        <key>offset</key>
        <string>{-78,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,103}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>weapon_3501_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,581},{16,98}}</string>
        <key>offset</key>
        <string>{-3,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,98}}</string>
        <key>sourceSize</key>
        <string>{16,98}</string>
      </dict>
      <key>weapon_3501_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,455},{104,90}}</string>
        <key>offset</key>
        <string>{-9,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,90}}</string>
        <key>sourceSize</key>
        <string>{104,90}</string>
      </dict>
      <key>weapon_3501_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,89},{138,70}}</string>
        <key>offset</key>
        <string>{-5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,70}}</string>
        <key>sourceSize</key>
        <string>{138,70}</string>
      </dict>
      <key>weapon_3501_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,503},{76,100}}</string>
        <key>offset</key>
        <string>{7,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,100}</string>
      </dict>
      <key>weapon_3501_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,239},{128,54}}</string>
        <key>offset</key>
        <string>{-124,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,54}}</string>
        <key>sourceSize</key>
        <string>{128,54}</string>
      </dict>
      <key>weapon_3501_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,80},{81,140}}</string>
        <key>offset</key>
        <string>{-56,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,140}}</string>
        <key>sourceSize</key>
        <string>{81,140}</string>
      </dict>
      <key>weapon_3501_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,420},{41,106}}</string>
        <key>offset</key>
        <string>{-29,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,106}}</string>
        <key>sourceSize</key>
        <string>{41,106}</string>
      </dict>
      <key>weapon_3501_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,560},{82,38}}</string>
        <key>offset</key>
        <string>{-11,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,38}}</string>
        <key>sourceSize</key>
        <string>{82,38}</string>
      </dict>
      <key>weapon_3501_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{107,38}}</string>
        <key>offset</key>
        <string>{-4,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,38}}</string>
        <key>sourceSize</key>
        <string>{107,38}</string>
      </dict>
      <key>weapon_3501_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,586},{44,82}}</string>
        <key>offset</key>
        <string>{12,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,82}}</string>
        <key>sourceSize</key>
        <string>{44,82}</string>
      </dict>
      <key>weapon_3501_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,27},{153,60}}</string>
        <key>offset</key>
        <string>{-132,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,60}}</string>
        <key>sourceSize</key>
        <string>{153,60}</string>
      </dict>
      <key>weapon_3501_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{31,157}}</string>
        <key>offset</key>
        <string>{-2,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,157}}</string>
        <key>sourceSize</key>
        <string>{31,157}</string>
      </dict>
      <key>weapon_3501_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,364},{54,115}}</string>
        <key>offset</key>
        <string>{-33,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,115}}</string>
        <key>sourceSize</key>
        <string>{54,115}</string>
      </dict>
      <key>weapon_3501_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,592},{39,30}}</string>
        <key>offset</key>
        <string>{-2,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,30}}</string>
        <key>sourceSize</key>
        <string>{39,30}</string>
      </dict>
      <key>weapon_3501_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,600},{18,62}}</string>
        <key>offset</key>
        <string>{7,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,62}}</string>
        <key>sourceSize</key>
        <string>{18,62}</string>
      </dict>
      <key>weapon_3501_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,364},{20,81}}</string>
        <key>offset</key>
        <string>{9,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,81}}</string>
        <key>sourceSize</key>
        <string>{20,81}</string>
      </dict>
      <key>weapon_3501_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,295},{90,116}}</string>
        <key>offset</key>
        <string>{-40,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,116}}</string>
        <key>sourceSize</key>
        <string>{90,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3501_0_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_3501_0_3.png</string>
    </dict>
  </dict>
</plist>