<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3028_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,105},{6,18}}</string>
        <key>offset</key>
        <string>{31,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,18}}</string>
        <key>sourceSize</key>
        <string>{6,18}</string>
      </dict>
      <key>weapon_3028_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,71},{9,37}}</string>
        <key>offset</key>
        <string>{25,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,37}}</string>
        <key>sourceSize</key>
        <string>{9,37}</string>
      </dict>
      <key>weapon_3028_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,105},{44,20}}</string>
        <key>offset</key>
        <string>{25,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,20}}</string>
        <key>sourceSize</key>
        <string>{44,20}</string>
      </dict>
      <key>weapon_3028_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,58},{45,35}}</string>
        <key>offset</key>
        <string>{39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>weapon_3028_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{71,7}}</string>
        <key>offset</key>
        <string>{13,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,7}}</string>
        <key>sourceSize</key>
        <string>{71,7}</string>
      </dict>
      <key>weapon_3028_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,7}}</string>
        <key>offset</key>
        <string>{37,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,7}}</string>
        <key>sourceSize</key>
        <string>{72,7}</string>
      </dict>
      <key>weapon_3028_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{58,34}}</string>
        <key>offset</key>
        <string>{9,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,34}}</string>
        <key>sourceSize</key>
        <string>{58,34}</string>
      </dict>
      <key>weapon_3028_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,83},{57,17}}</string>
        <key>offset</key>
        <string>{27,-14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,17}}</string>
        <key>sourceSize</key>
        <string>{57,17}</string>
      </dict>
      <key>weapon_3028_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,41},{12,28}}</string>
        <key>offset</key>
        <string>{11,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,28}}</string>
        <key>sourceSize</key>
        <string>{12,28}</string>
      </dict>
      <key>weapon_3028_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{7,44}}</string>
        <key>offset</key>
        <string>{16,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,44}}</string>
        <key>sourceSize</key>
        <string>{7,44}</string>
      </dict>
      <key>weapon_3028_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,20},{40,49}}</string>
        <key>offset</key>
        <string>{-18,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>weapon_3028_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{39,33}}</string>
        <key>offset</key>
        <string>{-30,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>weapon_3028_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,0},{67,32}}</string>
        <key>offset</key>
        <string>{-35,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,32}}</string>
        <key>sourceSize</key>
        <string>{67,32}</string>
      </dict>
      <key>weapon_3028_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,0},{68,11}}</string>
        <key>offset</key>
        <string>{-57,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,11}}</string>
        <key>sourceSize</key>
        <string>{68,11}</string>
      </dict>
      <key>weapon_3028_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{56,9}}</string>
        <key>offset</key>
        <string>{-15,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,9}}</string>
        <key>sourceSize</key>
        <string>{56,9}</string>
      </dict>
      <key>weapon_3028_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{58,18}}</string>
        <key>offset</key>
        <string>{-42,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,18}}</string>
        <key>sourceSize</key>
        <string>{58,18}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3028_1_8.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3028_1_8.png</string>
    </dict>
  </dict>
</plist>