<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21021_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,138},{45,63}}</string>
        <key>offset</key>
        <string>{40,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,63}}</string>
        <key>sourceSize</key>
        <string>{45,63}</string>
      </dict>
      <key>weapon_21021_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,152},{72,36}}</string>
        <key>offset</key>
        <string>{-37,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,36}}</string>
        <key>sourceSize</key>
        <string>{72,36}</string>
      </dict>
      <key>weapon_21021_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,110},{33,51}}</string>
        <key>offset</key>
        <string>{3,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,51}}</string>
        <key>sourceSize</key>
        <string>{33,51}</string>
      </dict>
      <key>weapon_21021_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{58,29}}</string>
        <key>offset</key>
        <string>{31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,29}}</string>
        <key>sourceSize</key>
        <string>{58,29}</string>
      </dict>
      <key>weapon_21021_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,84},{39,33}}</string>
        <key>offset</key>
        <string>{-24,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,33}}</string>
        <key>sourceSize</key>
        <string>{39,33}</string>
      </dict>
      <key>weapon_21021_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,203},{13,48}}</string>
        <key>offset</key>
        <string>{20,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,48}}</string>
        <key>sourceSize</key>
        <string>{13,48}</string>
      </dict>
      <key>weapon_21021_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,47},{45,35}}</string>
        <key>offset</key>
        <string>{37,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,35}}</string>
        <key>sourceSize</key>
        <string>{45,35}</string>
      </dict>
      <key>weapon_21021_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{81,13}}</string>
        <key>offset</key>
        <string>{-67,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,13}}</string>
        <key>sourceSize</key>
        <string>{81,13}</string>
      </dict>
      <key>weapon_21021_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,77},{73,37}}</string>
        <key>offset</key>
        <string>{-36,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,37}}</string>
        <key>sourceSize</key>
        <string>{73,37}</string>
      </dict>
      <key>weapon_21021_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,84},{31,23}}</string>
        <key>offset</key>
        <string>{58,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,23}}</string>
        <key>sourceSize</key>
        <string>{31,23}</string>
      </dict>
      <key>weapon_21021_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,109},{24,19}}</string>
        <key>offset</key>
        <string>{38,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>weapon_21021_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{62,32}}</string>
        <key>offset</key>
        <string>{37,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,32}}</string>
        <key>sourceSize</key>
        <string>{62,32}</string>
      </dict>
      <key>weapon_21021_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,56},{31,52}}</string>
        <key>offset</key>
        <string>{25,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,52}}</string>
        <key>sourceSize</key>
        <string>{31,52}</string>
      </dict>
      <key>weapon_21021_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,194},{59,52}}</string>
        <key>offset</key>
        <string>{-55,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,52}}</string>
        <key>sourceSize</key>
        <string>{59,52}</string>
      </dict>
      <key>weapon_21021_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,0},{77,12}}</string>
        <key>offset</key>
        <string>{-48,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,12}}</string>
        <key>sourceSize</key>
        <string>{77,12}</string>
      </dict>
      <key>weapon_21021_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,241},{46,10}}</string>
        <key>offset</key>
        <string>{24,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,10}}</string>
        <key>sourceSize</key>
        <string>{46,10}</string>
      </dict>
      <key>weapon_21021_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,110},{52,22}}</string>
        <key>offset</key>
        <string>{47,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,22}}</string>
        <key>sourceSize</key>
        <string>{52,22}</string>
      </dict>
      <key>weapon_21021_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,81},{78,24}}</string>
        <key>offset</key>
        <string>{36,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,24}}</string>
        <key>sourceSize</key>
        <string>{78,24}</string>
      </dict>
      <key>weapon_21021_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,56},{25,52}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,52}}</string>
        <key>sourceSize</key>
        <string>{25,52}</string>
      </dict>
      <key>weapon_21021_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,132},{31,62}}</string>
        <key>offset</key>
        <string>{-2,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,62}}</string>
        <key>sourceSize</key>
        <string>{31,62}</string>
      </dict>
      <key>weapon_21021_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,54},{47,51}}</string>
        <key>offset</key>
        <string>{-26,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,51}}</string>
        <key>sourceSize</key>
        <string>{47,51}</string>
      </dict>
      <key>weapon_21021_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{69,39}}</string>
        <key>offset</key>
        <string>{-16,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,39}}</string>
        <key>sourceSize</key>
        <string>{69,39}</string>
      </dict>
      <key>weapon_21021_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,71},{65,44}}</string>
        <key>offset</key>
        <string>{47,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,44}}</string>
        <key>sourceSize</key>
        <string>{65,44}</string>
      </dict>
      <key>weapon_21021_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{47,35}}</string>
        <key>offset</key>
        <string>{31,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,35}}</string>
        <key>sourceSize</key>
        <string>{47,35}</string>
      </dict>
      <key>weapon_21021_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,64},{42,59}}</string>
        <key>offset</key>
        <string>{-34,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,59}}</string>
        <key>sourceSize</key>
        <string>{42,59}</string>
      </dict>
      <key>weapon_21021_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,160},{74,41}}</string>
        <key>offset</key>
        <string>{13,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,41}}</string>
        <key>sourceSize</key>
        <string>{74,41}</string>
      </dict>
      <key>weapon_21021_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{38,52}}</string>
        <key>offset</key>
        <string>{11,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,52}}</string>
        <key>sourceSize</key>
        <string>{38,52}</string>
      </dict>
      <key>weapon_21021_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,196},{54,60}}</string>
        <key>offset</key>
        <string>{-35,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,60}}</string>
        <key>sourceSize</key>
        <string>{54,60}</string>
      </dict>
      <key>weapon_21021_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,147},{42,69}}</string>
        <key>offset</key>
        <string>{32,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,69}}</string>
        <key>sourceSize</key>
        <string>{42,69}</string>
      </dict>
      <key>weapon_21021_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,241},{10,66}}</string>
        <key>offset</key>
        <string>{12,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,66}}</string>
        <key>sourceSize</key>
        <string>{10,66}</string>
      </dict>
      <key>weapon_21021_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{42,75}}</string>
        <key>offset</key>
        <string>{-30,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,75}}</string>
        <key>sourceSize</key>
        <string>{42,75}</string>
      </dict>
      <key>weapon_21021_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{80,21}}</string>
        <key>offset</key>
        <string>{34,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,21}}</string>
        <key>sourceSize</key>
        <string>{80,21}</string>
      </dict>
      <key>weapon_21021_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,74},{71,29}}</string>
        <key>offset</key>
        <string>{12,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,29}}</string>
        <key>sourceSize</key>
        <string>{71,29}</string>
      </dict>
      <key>weapon_21021_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,0},{23,79}}</string>
        <key>offset</key>
        <string>{-35,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,79}}</string>
        <key>sourceSize</key>
        <string>{23,79}</string>
      </dict>
      <key>weapon_21021_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,226},{25,68}}</string>
        <key>offset</key>
        <string>{-10,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,68}}</string>
        <key>sourceSize</key>
        <string>{25,68}</string>
      </dict>
      <key>weapon_21021_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,132},{58,60}}</string>
        <key>offset</key>
        <string>{-46,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,60}}</string>
        <key>sourceSize</key>
        <string>{58,60}</string>
      </dict>
      <key>weapon_21021_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{17,78}}</string>
        <key>offset</key>
        <string>{7,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,78}}</string>
        <key>sourceSize</key>
        <string>{17,78}</string>
      </dict>
      <key>weapon_21021_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{54,43}}</string>
        <key>offset</key>
        <string>{49,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,43}}</string>
        <key>sourceSize</key>
        <string>{54,43}</string>
      </dict>
      <key>weapon_21021_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{72,38}}</string>
        <key>offset</key>
        <string>{20,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,38}}</string>
        <key>sourceSize</key>
        <string>{72,38}</string>
      </dict>
      <key>weapon_21021_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,161},{38,78}}</string>
        <key>offset</key>
        <string>{-23,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,78}}</string>
        <key>sourceSize</key>
        <string>{38,78}</string>
      </dict>
      <key>weapon_21021_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,67},{63,60}}</string>
        <key>offset</key>
        <string>{-58,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,60}}</string>
        <key>sourceSize</key>
        <string>{63,60}</string>
      </dict>
      <key>weapon_21021_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,80},{78,27}}</string>
        <key>offset</key>
        <string>{-66,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,27}}</string>
        <key>sourceSize</key>
        <string>{78,27}</string>
      </dict>
      <key>weapon_21021_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{28,79}}</string>
        <key>offset</key>
        <string>{32,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,79}}</string>
        <key>sourceSize</key>
        <string>{28,79}</string>
      </dict>
      <key>weapon_21021_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,218},{21,64}}</string>
        <key>offset</key>
        <string>{29,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,64}}</string>
        <key>sourceSize</key>
        <string>{21,64}</string>
      </dict>
      <key>weapon_21021_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,0},{46,45}}</string>
        <key>offset</key>
        <string>{30,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,45}}</string>
        <key>sourceSize</key>
        <string>{46,45}</string>
      </dict>
      <key>weapon_21021_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{65,59}}</string>
        <key>offset</key>
        <string>{-4,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,59}}</string>
        <key>sourceSize</key>
        <string>{65,59}</string>
      </dict>
      <key>weapon_21021_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,74},{71,22}}</string>
        <key>offset</key>
        <string>{-68,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,22}}</string>
        <key>sourceSize</key>
        <string>{71,22}</string>
      </dict>
      <key>weapon_21021_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,164},{39,25}}</string>
        <key>offset</key>
        <string>{-30,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,25}}</string>
        <key>sourceSize</key>
        <string>{39,25}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21021_1_2.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_21021_1_2.png</string>
    </dict>
  </dict>
</plist>