<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3019_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,117},{7,33}}</string>
        <key>offset</key>
        <string>{39,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,33}}</string>
        <key>sourceSize</key>
        <string>{7,33}</string>
      </dict>
      <key>weapon_3019_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,0},{11,36}}</string>
        <key>offset</key>
        <string>{40,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,36}}</string>
        <key>sourceSize</key>
        <string>{11,36}</string>
      </dict>
      <key>weapon_3019_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,36},{6,32}}</string>
        <key>offset</key>
        <string>{41,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,32}}</string>
        <key>sourceSize</key>
        <string>{6,32}</string>
      </dict>
      <key>weapon_3019_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,100},{26,29}}</string>
        <key>offset</key>
        <string>{22,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,29}}</string>
        <key>sourceSize</key>
        <string>{26,29}</string>
      </dict>
      <key>weapon_3019_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,70},{31,25}}</string>
        <key>offset</key>
        <string>{29,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,25}}</string>
        <key>sourceSize</key>
        <string>{31,25}</string>
      </dict>
      <key>weapon_3019_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,103},{31,23}}</string>
        <key>offset</key>
        <string>{35,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,23}}</string>
        <key>sourceSize</key>
        <string>{31,23}</string>
      </dict>
      <key>weapon_3019_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,79},{36,10}}</string>
        <key>offset</key>
        <string>{8,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,10}}</string>
        <key>sourceSize</key>
        <string>{36,10}</string>
      </dict>
      <key>weapon_3019_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,76},{33,8}}</string>
        <key>offset</key>
        <string>{17,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,8}}</string>
        <key>sourceSize</key>
        <string>{33,8}</string>
      </dict>
      <key>weapon_3019_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{38,7}}</string>
        <key>offset</key>
        <string>{23,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,7}}</string>
        <key>sourceSize</key>
        <string>{38,7}</string>
      </dict>
      <key>weapon_3019_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,22},{15,14}}</string>
        <key>offset</key>
        <string>{5,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,14}}</string>
        <key>sourceSize</key>
        <string>{15,14}</string>
      </dict>
      <key>weapon_3019_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,23},{12,11}}</string>
        <key>offset</key>
        <string>{11,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>weapon_3019_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{20,18}}</string>
        <key>offset</key>
        <string>{12,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>weapon_3019_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{13,20}}</string>
        <key>offset</key>
        <string>{-2,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,20}}</string>
        <key>sourceSize</key>
        <string>{13,20}</string>
      </dict>
      <key>weapon_3019_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,38},{13,6}}</string>
        <key>offset</key>
        <string>{-3,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,6}}</string>
        <key>sourceSize</key>
        <string>{13,6}</string>
      </dict>
      <key>weapon_3019_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{6,9}}</string>
        <key>offset</key>
        <string>{2,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,9}}</string>
        <key>sourceSize</key>
        <string>{6,9}</string>
      </dict>
      <key>weapon_3019_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{17,12}}</string>
        <key>offset</key>
        <string>{6,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>weapon_3019_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{20,21}}</string>
        <key>offset</key>
        <string>{-2,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,21}}</string>
        <key>sourceSize</key>
        <string>{20,21}</string>
      </dict>
      <key>weapon_3019_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,0},{27,6}}</string>
        <key>offset</key>
        <string>{-14,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,6}}</string>
        <key>sourceSize</key>
        <string>{27,6}</string>
      </dict>
      <key>weapon_3019_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,79},{36,14}}</string>
        <key>offset</key>
        <string>{9,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,14}}</string>
        <key>sourceSize</key>
        <string>{36,14}</string>
      </dict>
      <key>weapon_3019_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,0},{34,21}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,21}}</string>
        <key>sourceSize</key>
        <string>{34,21}</string>
      </dict>
      <key>weapon_3019_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{37,14}}</string>
        <key>offset</key>
        <string>{-8,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,14}}</string>
        <key>sourceSize</key>
        <string>{37,14}</string>
      </dict>
      <key>weapon_3019_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,36},{25,30}}</string>
        <key>offset</key>
        <string>{23,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,30}}</string>
        <key>sourceSize</key>
        <string>{25,30}</string>
      </dict>
      <key>weapon_3019_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,38},{13,36}}</string>
        <key>offset</key>
        <string>{27,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,36}}</string>
        <key>sourceSize</key>
        <string>{13,36}</string>
      </dict>
      <key>weapon_3019_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,68},{22,30}}</string>
        <key>offset</key>
        <string>{15,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,30}}</string>
        <key>sourceSize</key>
        <string>{22,30}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3019_1_7.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3019_1_7.png</string>
    </dict>
  </dict>
</plist>