<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3503_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{29,60}}</string>
        <key>offset</key>
        <string>{27,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,60}}</string>
        <key>sourceSize</key>
        <string>{29,60}</string>
      </dict>
      <key>weapon_3503_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,427},{24,41}}</string>
        <key>offset</key>
        <string>{33,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,41}}</string>
        <key>sourceSize</key>
        <string>{24,41}</string>
      </dict>
      <key>weapon_3503_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,379},{21,46}}</string>
        <key>offset</key>
        <string>{22,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,46}}</string>
        <key>sourceSize</key>
        <string>{21,46}</string>
      </dict>
      <key>weapon_3503_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{31,56}}</string>
        <key>offset</key>
        <string>{17,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,56}}</string>
        <key>sourceSize</key>
        <string>{31,56}</string>
      </dict>
      <key>weapon_3503_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,441},{17,36}}</string>
        <key>offset</key>
        <string>{22,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,36}}</string>
        <key>sourceSize</key>
        <string>{17,36}</string>
      </dict>
      <key>weapon_3503_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,493},{15,48}}</string>
        <key>offset</key>
        <string>{38,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,48}}</string>
        <key>sourceSize</key>
        <string>{15,48}</string>
      </dict>
      <key>weapon_3503_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,114},{51,70}}</string>
        <key>offset</key>
        <string>{17,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,70}}</string>
        <key>sourceSize</key>
        <string>{51,70}</string>
      </dict>
      <key>weapon_3503_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,378},{48,55}}</string>
        <key>offset</key>
        <string>{24,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{48,55}</string>
      </dict>
      <key>weapon_3503_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,462},{47,50}}</string>
        <key>offset</key>
        <string>{31,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,50}}</string>
        <key>sourceSize</key>
        <string>{47,50}</string>
      </dict>
      <key>weapon_3503_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{47,67}}</string>
        <key>offset</key>
        <string>{31,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,67}}</string>
        <key>sourceSize</key>
        <string>{47,67}</string>
      </dict>
      <key>weapon_3503_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,428},{47,38}}</string>
        <key>offset</key>
        <string>{35,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,38}}</string>
        <key>sourceSize</key>
        <string>{47,38}</string>
      </dict>
      <key>weapon_3503_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,255},{47,60}}</string>
        <key>offset</key>
        <string>{27,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,60}}</string>
        <key>sourceSize</key>
        <string>{47,60}</string>
      </dict>
      <key>weapon_3503_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,46},{46,72}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,72}}</string>
        <key>sourceSize</key>
        <string>{46,72}</string>
      </dict>
      <key>weapon_3503_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,167},{64,67}}</string>
        <key>offset</key>
        <string>{1,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,67}}</string>
        <key>sourceSize</key>
        <string>{64,67}</string>
      </dict>
      <key>weapon_3503_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{72,44}}</string>
        <key>offset</key>
        <string>{8,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,44}}</string>
        <key>sourceSize</key>
        <string>{72,44}</string>
      </dict>
      <key>weapon_3503_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,74},{71,55}}</string>
        <key>offset</key>
        <string>{17,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,55}}</string>
        <key>sourceSize</key>
        <string>{71,55}</string>
      </dict>
      <key>weapon_3503_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{71,54}}</string>
        <key>offset</key>
        <string>{13,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,54}}</string>
        <key>sourceSize</key>
        <string>{71,54}</string>
      </dict>
      <key>weapon_3503_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,218},{62,67}}</string>
        <key>offset</key>
        <string>{10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,67}}</string>
        <key>sourceSize</key>
        <string>{62,67}</string>
      </dict>
      <key>weapon_3503_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,46},{43,72}}</string>
        <key>offset</key>
        <string>{-4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,72}}</string>
        <key>sourceSize</key>
        <string>{43,72}</string>
      </dict>
      <key>weapon_3503_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{46,73}}</string>
        <key>offset</key>
        <string>{-2,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,73}}</string>
        <key>sourceSize</key>
        <string>{46,73}</string>
      </dict>
      <key>weapon_3503_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,279},{62,64}}</string>
        <key>offset</key>
        <string>{-7,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,64}}</string>
        <key>sourceSize</key>
        <string>{62,64}</string>
      </dict>
      <key>weapon_3503_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,233},{65,44}}</string>
        <key>offset</key>
        <string>{0,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,44}}</string>
        <key>sourceSize</key>
        <string>{65,44}</string>
      </dict>
      <key>weapon_3503_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,156},{60,69}}</string>
        <key>offset</key>
        <string>{2,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,69}}</string>
        <key>sourceSize</key>
        <string>{60,69}</string>
      </dict>
      <key>weapon_3503_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{44,74}}</string>
        <key>offset</key>
        <string>{0,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,74}}</string>
        <key>sourceSize</key>
        <string>{44,74}</string>
      </dict>
      <key>weapon_3503_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{32,67}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,67}}</string>
        <key>sourceSize</key>
        <string>{32,67}</string>
      </dict>
      <key>weapon_3503_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,46},{29,71}}</string>
        <key>offset</key>
        <string>{-6,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,71}}</string>
        <key>sourceSize</key>
        <string>{29,71}</string>
      </dict>
      <key>weapon_3503_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,131},{23,70}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,70}}</string>
        <key>sourceSize</key>
        <string>{23,70}</string>
      </dict>
      <key>weapon_3503_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,343},{33,58}}</string>
        <key>offset</key>
        <string>{-8,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,58}}</string>
        <key>sourceSize</key>
        <string>{33,58}</string>
      </dict>
      <key>weapon_3503_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,91},{21,71}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,71}}</string>
        <key>sourceSize</key>
        <string>{21,71}</string>
      </dict>
      <key>weapon_3503_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,48},{24,72}}</string>
        <key>offset</key>
        <string>{-9,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,72}}</string>
        <key>sourceSize</key>
        <string>{24,72}</string>
      </dict>
      <key>weapon_3503_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,441},{50,44}}</string>
        <key>offset</key>
        <string>{-21,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,44}}</string>
        <key>sourceSize</key>
        <string>{50,44}</string>
      </dict>
      <key>weapon_3503_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{46,53}}</string>
        <key>offset</key>
        <string>{-19,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{46,53}</string>
      </dict>
      <key>weapon_3503_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{41,53}}</string>
        <key>offset</key>
        <string>{-25,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{41,53}</string>
      </dict>
      <key>weapon_3503_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,477},{33,45}}</string>
        <key>offset</key>
        <string>{-26,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,45}}</string>
        <key>sourceSize</key>
        <string>{33,45}</string>
      </dict>
      <key>weapon_3503_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,397},{42,55}}</string>
        <key>offset</key>
        <string>{-23,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,55}}</string>
        <key>sourceSize</key>
        <string>{42,55}</string>
      </dict>
      <key>weapon_3503_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{46,59}}</string>
        <key>offset</key>
        <string>{-26,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,59}}</string>
        <key>sourceSize</key>
        <string>{46,59}</string>
      </dict>
      <key>weapon_3503_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,423},{45,34}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,34}}</string>
        <key>sourceSize</key>
        <string>{45,34}</string>
      </dict>
      <key>weapon_3503_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,191},{62,39}}</string>
        <key>offset</key>
        <string>{-23,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>weapon_3503_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,119},{70,34}}</string>
        <key>offset</key>
        <string>{-29,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,34}}</string>
        <key>sourceSize</key>
        <string>{70,34}</string>
      </dict>
      <key>weapon_3503_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{67,24}}</string>
        <key>offset</key>
        <string>{-38,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,24}}</string>
        <key>sourceSize</key>
        <string>{67,24}</string>
      </dict>
      <key>weapon_3503_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{70,41}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,41}}</string>
        <key>sourceSize</key>
        <string>{70,41}</string>
      </dict>
      <key>weapon_3503_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,317},{60,46}}</string>
        <key>offset</key>
        <string>{-21,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,46}}</string>
        <key>sourceSize</key>
        <string>{60,46}</string>
      </dict>
      <key>weapon_3503_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,470},{39,45}}</string>
        <key>offset</key>
        <string>{10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,45}}</string>
        <key>sourceSize</key>
        <string>{39,45}</string>
      </dict>
      <key>weapon_3503_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{43,38}}</string>
        <key>offset</key>
        <string>{-2,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,38}}</string>
        <key>sourceSize</key>
        <string>{43,38}</string>
      </dict>
      <key>weapon_3503_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,327},{60,36}}</string>
        <key>offset</key>
        <string>{-15,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,36}}</string>
        <key>sourceSize</key>
        <string>{60,36}</string>
      </dict>
      <key>weapon_3503_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,282},{62,43}}</string>
        <key>offset</key>
        <string>{-17,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,43}}</string>
        <key>sourceSize</key>
        <string>{62,43}</string>
      </dict>
      <key>weapon_3503_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,365},{58,30}}</string>
        <key>offset</key>
        <string>{-15,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,30}}</string>
        <key>sourceSize</key>
        <string>{58,30}</string>
      </dict>
      <key>weapon_3503_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,379},{42,49}}</string>
        <key>offset</key>
        <string>{-1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,49}}</string>
        <key>sourceSize</key>
        <string>{42,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3503_0_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3503_0_5.png</string>
    </dict>
  </dict>
</plist>