<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3063_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{39,44}}</string>
        <key>offset</key>
        <string>{22,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,44}}</string>
        <key>sourceSize</key>
        <string>{39,44}</string>
      </dict>
      <key>weapon_3063_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,161},{36,48}}</string>
        <key>offset</key>
        <string>{26,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,48}}</string>
        <key>sourceSize</key>
        <string>{36,48}</string>
      </dict>
      <key>weapon_3063_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,164},{21,50}}</string>
        <key>offset</key>
        <string>{32,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,50}}</string>
        <key>sourceSize</key>
        <string>{21,50}</string>
      </dict>
      <key>weapon_3063_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,109},{48,50}}</string>
        <key>offset</key>
        <string>{13,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,50}}</string>
        <key>sourceSize</key>
        <string>{48,50}</string>
      </dict>
      <key>weapon_3063_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,110},{44,52}}</string>
        <key>offset</key>
        <string>{26,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,52}}</string>
        <key>sourceSize</key>
        <string>{44,52}</string>
      </dict>
      <key>weapon_3063_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{37,51}}</string>
        <key>offset</key>
        <string>{33,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,51}}</string>
        <key>sourceSize</key>
        <string>{37,51}</string>
      </dict>
      <key>weapon_3063_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{36,53}}</string>
        <key>offset</key>
        <string>{8,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,53}}</string>
        <key>sourceSize</key>
        <string>{36,53}</string>
      </dict>
      <key>weapon_3063_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,55},{35,52}}</string>
        <key>offset</key>
        <string>{16,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,52}}</string>
        <key>sourceSize</key>
        <string>{35,52}</string>
      </dict>
      <key>weapon_3063_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,216},{37,50}}</string>
        <key>offset</key>
        <string>{24,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,50}}</string>
        <key>sourceSize</key>
        <string>{37,50}</string>
      </dict>
      <key>weapon_3063_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,55},{23,53}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,53}}</string>
        <key>sourceSize</key>
        <string>{23,53}</string>
      </dict>
      <key>weapon_3063_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{19,51}}</string>
        <key>offset</key>
        <string>{7,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,51}}</string>
        <key>sourceSize</key>
        <string>{19,51}</string>
      </dict>
      <key>weapon_3063_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{26,52}}</string>
        <key>offset</key>
        <string>{10,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,52}}</string>
        <key>sourceSize</key>
        <string>{26,52}</string>
      </dict>
      <key>weapon_3063_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{22,45}}</string>
        <key>offset</key>
        <string>{-6,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,45}}</string>
        <key>sourceSize</key>
        <string>{22,45}</string>
      </dict>
      <key>weapon_3063_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,161},{20,50}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,50}}</string>
        <key>sourceSize</key>
        <string>{20,50}</string>
      </dict>
      <key>weapon_3063_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,46},{20,43}}</string>
        <key>offset</key>
        <string>{-4,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,43}}</string>
        <key>sourceSize</key>
        <string>{20,43}</string>
      </dict>
      <key>weapon_3063_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,54},{46,30}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,30}}</string>
        <key>sourceSize</key>
        <string>{46,30}</string>
      </dict>
      <key>weapon_3063_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,211},{46,39}}</string>
        <key>offset</key>
        <string>{-18,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,39}}</string>
        <key>sourceSize</key>
        <string>{46,39}</string>
      </dict>
      <key>weapon_3063_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,46},{40,38}}</string>
        <key>offset</key>
        <string>{-22,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>weapon_3063_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{37,16}}</string>
        <key>offset</key>
        <string>{9,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,16}}</string>
        <key>sourceSize</key>
        <string>{37,16}</string>
      </dict>
      <key>weapon_3063_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,88},{36,21}}</string>
        <key>offset</key>
        <string>{3,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,21}}</string>
        <key>sourceSize</key>
        <string>{36,21}</string>
      </dict>
      <key>weapon_3063_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{38,30}}</string>
        <key>offset</key>
        <string>{-10,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,30}}</string>
        <key>sourceSize</key>
        <string>{38,30}</string>
      </dict>
      <key>weapon_3063_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,157},{33,29}}</string>
        <key>offset</key>
        <string>{18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,29}}</string>
        <key>sourceSize</key>
        <string>{33,29}</string>
      </dict>
      <key>weapon_3063_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,136},{19,39}}</string>
        <key>offset</key>
        <string>{24,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,39}}</string>
        <key>sourceSize</key>
        <string>{19,39}</string>
      </dict>
      <key>weapon_3063_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,91},{27,43}}</string>
        <key>offset</key>
        <string>{12,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,43}}</string>
        <key>sourceSize</key>
        <string>{27,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3063_1_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3063_1_7.png</string>
    </dict>
  </dict>
</plist>