<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21011_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{30,51}}</string>
        <key>offset</key>
        <string>{38,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,51}}</string>
        <key>sourceSize</key>
        <string>{30,51}</string>
      </dict>
      <key>weapon_21011_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{31,63}}</string>
        <key>offset</key>
        <string>{37,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,63}}</string>
        <key>sourceSize</key>
        <string>{31,63}</string>
      </dict>
      <key>weapon_21011_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,199},{23,52}}</string>
        <key>offset</key>
        <string>{38,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,52}}</string>
        <key>sourceSize</key>
        <string>{23,52}</string>
      </dict>
      <key>weapon_21011_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,73},{69,30}}</string>
        <key>offset</key>
        <string>{13,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,30}}</string>
        <key>sourceSize</key>
        <string>{69,30}</string>
      </dict>
      <key>weapon_21011_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,144},{66,39}}</string>
        <key>offset</key>
        <string>{20,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,39}}</string>
        <key>sourceSize</key>
        <string>{66,39}</string>
      </dict>
      <key>weapon_21011_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,0},{71,22}}</string>
        <key>offset</key>
        <string>{26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,22}}</string>
        <key>sourceSize</key>
        <string>{71,22}</string>
      </dict>
      <key>weapon_21011_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{69,12}}</string>
        <key>offset</key>
        <string>{-4,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,12}}</string>
        <key>sourceSize</key>
        <string>{69,12}</string>
      </dict>
      <key>weapon_21011_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{62,13}}</string>
        <key>offset</key>
        <string>{3,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,13}}</string>
        <key>sourceSize</key>
        <string>{62,13}</string>
      </dict>
      <key>weapon_21011_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,12}}</string>
        <key>offset</key>
        <string>{10,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,12}}</string>
        <key>sourceSize</key>
        <string>{72,12}</string>
      </dict>
      <key>weapon_21011_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,49},{21,45}}</string>
        <key>offset</key>
        <string>{-4,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,45}}</string>
        <key>sourceSize</key>
        <string>{21,45}</string>
      </dict>
      <key>weapon_21011_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,118},{16,37}}</string>
        <key>offset</key>
        <string>{3,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,37}}</string>
        <key>sourceSize</key>
        <string>{16,37}</string>
      </dict>
      <key>weapon_21011_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{23,47}}</string>
        <key>offset</key>
        <string>{6,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,47}}</string>
        <key>sourceSize</key>
        <string>{23,47}</string>
      </dict>
      <key>weapon_21011_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{40,44}}</string>
        <key>offset</key>
        <string>{-28,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,44}}</string>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>weapon_21011_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,96},{39,23}}</string>
        <key>offset</key>
        <string>{-28,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,23}}</string>
        <key>sourceSize</key>
        <string>{39,23}</string>
      </dict>
      <key>weapon_21011_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,46},{23,30}}</string>
        <key>offset</key>
        <string>{-15,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,30}}</string>
        <key>sourceSize</key>
        <string>{23,30}</string>
      </dict>
      <key>weapon_21011_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,136},{62,10}}</string>
        <key>offset</key>
        <string>{-38,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,10}}</string>
        <key>sourceSize</key>
        <string>{62,10}</string>
      </dict>
      <key>weapon_21011_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,70},{65,12}}</string>
        <key>offset</key>
        <string>{-45,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,12}}</string>
        <key>sourceSize</key>
        <string>{65,12}</string>
      </dict>
      <key>weapon_21011_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,70},{64,13}}</string>
        <key>offset</key>
        <string>{-48,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,13}}</string>
        <key>sourceSize</key>
        <string>{64,13}</string>
      </dict>
      <key>weapon_21011_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{70,31}}</string>
        <key>offset</key>
        <string>{-17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,31}}</string>
        <key>sourceSize</key>
        <string>{70,31}</string>
      </dict>
      <key>weapon_21011_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,136},{61,47}}</string>
        <key>offset</key>
        <string>{-26,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,47}}</string>
        <key>sourceSize</key>
        <string>{61,47}</string>
      </dict>
      <key>weapon_21011_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{72,26}}</string>
        <key>offset</key>
        <string>{-36,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,26}}</string>
        <key>sourceSize</key>
        <string>{72,26}</string>
      </dict>
      <key>weapon_21011_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,212},{37,63}}</string>
        <key>offset</key>
        <string>{16,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,63}}</string>
        <key>sourceSize</key>
        <string>{37,63}</string>
      </dict>
      <key>weapon_21011_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{23,68}}</string>
        <key>offset</key>
        <string>{21,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,68}}</string>
        <key>sourceSize</key>
        <string>{23,68}</string>
      </dict>
      <key>weapon_21011_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,64},{37,52}}</string>
        <key>offset</key>
        <string>{5,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,52}}</string>
        <key>sourceSize</key>
        <string>{37,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21011_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_21011_0_7.png</string>
    </dict>
  </dict>
</plist>