<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3011_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,92},{10,26}}</string>
        <key>offset</key>
        <string>{31,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,26}}</string>
        <key>sourceSize</key>
        <string>{10,26}</string>
      </dict>
      <key>weapon_3011_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,104},{7,22}}</string>
        <key>offset</key>
        <string>{31,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,22}}</string>
        <key>sourceSize</key>
        <string>{7,22}</string>
      </dict>
      <key>weapon_3011_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{46,18}}</string>
        <key>offset</key>
        <string>{10,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,18}}</string>
        <key>sourceSize</key>
        <string>{46,18}</string>
      </dict>
      <key>weapon_3011_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,59},{46,34}}</string>
        <key>offset</key>
        <string>{24,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,34}}</string>
        <key>sourceSize</key>
        <string>{46,34}</string>
      </dict>
      <key>weapon_3011_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{74,12}}</string>
        <key>offset</key>
        <string>{-13,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,12}}</string>
        <key>sourceSize</key>
        <string>{74,12}</string>
      </dict>
      <key>weapon_3011_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,11}}</string>
        <key>offset</key>
        <string>{10,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,11}}</string>
        <key>sourceSize</key>
        <string>{76,11}</string>
      </dict>
      <key>weapon_3011_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,71},{61,41}}</string>
        <key>offset</key>
        <string>{-13,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,41}}</string>
        <key>sourceSize</key>
        <string>{61,41}</string>
      </dict>
      <key>weapon_3011_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{59,22}}</string>
        <key>offset</key>
        <string>{6,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,22}}</string>
        <key>sourceSize</key>
        <string>{59,22}</string>
      </dict>
      <key>weapon_3011_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{13,35}}</string>
        <key>offset</key>
        <string>{7,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,35}}</string>
        <key>sourceSize</key>
        <string>{13,35}</string>
      </dict>
      <key>weapon_3011_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,61},{7,39}}</string>
        <key>offset</key>
        <string>{15,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,39}}</string>
        <key>sourceSize</key>
        <string>{7,39}</string>
      </dict>
      <key>weapon_3011_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{41,57}}</string>
        <key>offset</key>
        <string>{-6,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,57}}</string>
        <key>sourceSize</key>
        <string>{41,57}</string>
      </dict>
      <key>weapon_3011_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{37,37}}</string>
        <key>offset</key>
        <string>{-19,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>weapon_3011_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,0},{69,39}}</string>
        <key>offset</key>
        <string>{-13,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,39}}</string>
        <key>sourceSize</key>
        <string>{69,39}</string>
      </dict>
      <key>weapon_3011_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,0},{71,16}}</string>
        <key>offset</key>
        <string>{-35,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,16}}</string>
        <key>sourceSize</key>
        <string>{71,16}</string>
      </dict>
      <key>weapon_3011_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{59,13}}</string>
        <key>offset</key>
        <string>{3,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,13}}</string>
        <key>sourceSize</key>
        <string>{59,13}</string>
      </dict>
      <key>weapon_3011_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{69,16}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,16}}</string>
        <key>sourceSize</key>
        <string>{69,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3011_1_8.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3011_1_8.png</string>
    </dict>
  </dict>
</plist>