<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3039_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,352},{58,112}}</string>
        <key>offset</key>
        <string>{23,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,112}}</string>
        <key>sourceSize</key>
        <string>{58,112}</string>
      </dict>
      <key>weapon_3039_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,318},{29,94}}</string>
        <key>offset</key>
        <string>{3,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,94}}</string>
        <key>sourceSize</key>
        <string>{29,94}</string>
      </dict>
      <key>weapon_3039_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,202},{90,91}}</string>
        <key>offset</key>
        <string>{-45,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,91}}</string>
        <key>sourceSize</key>
        <string>{90,91}</string>
      </dict>
      <key>weapon_3039_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{130,32}}</string>
        <key>offset</key>
        <string>{-68,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,32}}</string>
        <key>sourceSize</key>
        <string>{130,32}</string>
      </dict>
      <key>weapon_3039_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,117},{41,111}}</string>
        <key>offset</key>
        <string>{8,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,111}}</string>
        <key>sourceSize</key>
        <string>{41,111}</string>
      </dict>
      <key>weapon_3039_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,104},{36,96}}</string>
        <key>offset</key>
        <string>{31,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,96}}</string>
        <key>sourceSize</key>
        <string>{36,96}</string>
      </dict>
      <key>weapon_3039_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,217},{99,91}}</string>
        <key>offset</key>
        <string>{20,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,91}}</string>
        <key>sourceSize</key>
        <string>{99,91}</string>
      </dict>
      <key>weapon_3039_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,0},{15,109}}</string>
        <key>offset</key>
        <string>{28,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,109}}</string>
        <key>sourceSize</key>
        <string>{15,109}</string>
      </dict>
      <key>weapon_3039_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,376},{70,75}}</string>
        <key>offset</key>
        <string>{-19,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,75}}</string>
        <key>sourceSize</key>
        <string>{70,75}</string>
      </dict>
      <key>weapon_3039_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,230},{108,45}}</string>
        <key>offset</key>
        <string>{-54,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,45}}</string>
        <key>sourceSize</key>
        <string>{108,45}</string>
      </dict>
      <key>weapon_3039_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{36,93}}</string>
        <key>offset</key>
        <string>{11,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,93}}</string>
        <key>sourceSize</key>
        <string>{36,93}</string>
      </dict>
      <key>weapon_3039_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,0},{90,52}}</string>
        <key>offset</key>
        <string>{27,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,52}}</string>
        <key>sourceSize</key>
        <string>{90,52}</string>
      </dict>
      <key>weapon_3039_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,449},{98,56}}</string>
        <key>offset</key>
        <string>{14,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,56}}</string>
        <key>sourceSize</key>
        <string>{98,56}</string>
      </dict>
      <key>weapon_3039_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{50,118}}</string>
        <key>offset</key>
        <string>{24,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,118}}</string>
        <key>sourceSize</key>
        <string>{50,118}</string>
      </dict>
      <key>weapon_3039_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{43,93}}</string>
        <key>offset</key>
        <string>{2,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,93}}</string>
        <key>sourceSize</key>
        <string>{43,93}</string>
      </dict>
      <key>weapon_3039_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,104},{96,93}}</string>
        <key>offset</key>
        <string>{-51,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,93}}</string>
        <key>sourceSize</key>
        <string>{96,93}</string>
      </dict>
      <key>weapon_3039_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,412},{34,108}}</string>
        <key>offset</key>
        <string>{4,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,108}}</string>
        <key>sourceSize</key>
        <string>{34,108}</string>
      </dict>
      <key>weapon_3039_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{132,28}}</string>
        <key>offset</key>
        <string>{17,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,28}}</string>
        <key>sourceSize</key>
        <string>{132,28}</string>
      </dict>
      <key>weapon_3039_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,280},{20,26}}</string>
        <key>offset</key>
        <string>{20,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,26}}</string>
        <key>sourceSize</key>
        <string>{20,26}</string>
      </dict>
      <key>weapon_3039_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{65,115}}</string>
        <key>offset</key>
        <string>{18,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,115}}</string>
        <key>sourceSize</key>
        <string>{65,115}</string>
      </dict>
      <key>weapon_3039_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,131},{23,117}}</string>
        <key>offset</key>
        <string>{23,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,117}}</string>
        <key>sourceSize</key>
        <string>{23,117}</string>
      </dict>
      <key>weapon_3039_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,280},{20,83}}</string>
        <key>offset</key>
        <string>{4,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,83}}</string>
        <key>sourceSize</key>
        <string>{20,83}</string>
      </dict>
      <key>weapon_3039_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,111},{15,108}}</string>
        <key>offset</key>
        <string>{10,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,108}}</string>
        <key>sourceSize</key>
        <string>{15,108}</string>
      </dict>
      <key>weapon_3039_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,90},{66,72}}</string>
        <key>offset</key>
        <string>{23,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,72}}</string>
        <key>sourceSize</key>
        <string>{66,72}</string>
      </dict>
      <key>weapon_3039_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,302},{72,79}}</string>
        <key>offset</key>
        <string>{-46,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,79}}</string>
        <key>sourceSize</key>
        <string>{72,79}</string>
      </dict>
      <key>weapon_3039_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,0},{25,117}}</string>
        <key>offset</key>
        <string>{19,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,117}}</string>
        <key>sourceSize</key>
        <string>{25,117}</string>
      </dict>
      <key>weapon_3039_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,453},{51,118}}</string>
        <key>offset</key>
        <string>{12,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,118}}</string>
        <key>sourceSize</key>
        <string>{51,118}</string>
      </dict>
      <key>weapon_3039_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{50,88}}</string>
        <key>offset</key>
        <string>{2,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,88}}</string>
        <key>sourceSize</key>
        <string>{50,88}</string>
      </dict>
      <key>weapon_3039_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,266},{30,121}}</string>
        <key>offset</key>
        <string>{1,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,121}}</string>
        <key>sourceSize</key>
        <string>{30,121}</string>
      </dict>
      <key>weapon_3039_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,352},{30,44}}</string>
        <key>offset</key>
        <string>{-9,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,44}}</string>
        <key>sourceSize</key>
        <string>{30,44}</string>
      </dict>
      <key>weapon_3039_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,403},{81,73}}</string>
        <key>offset</key>
        <string>{-61,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>weapon_3039_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,295},{20,88}}</string>
        <key>offset</key>
        <string>{2,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,88}}</string>
        <key>sourceSize</key>
        <string>{20,88}</string>
      </dict>
      <key>weapon_3039_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,188},{90,90}}</string>
        <key>offset</key>
        <string>{-4,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>weapon_3039_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,119},{116,69}}</string>
        <key>offset</key>
        <string>{-9,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,69}}</string>
        <key>sourceSize</key>
        <string>{116,69}</string>
      </dict>
      <key>weapon_3039_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{55,123}}</string>
        <key>offset</key>
        <string>{-5,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,123}}</string>
        <key>sourceSize</key>
        <string>{55,123}</string>
      </dict>
      <key>weapon_3039_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,237},{112,42}}</string>
        <key>offset</key>
        <string>{-97,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,42}}</string>
        <key>sourceSize</key>
        <string>{112,42}</string>
      </dict>
      <key>weapon_3039_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,237},{60,113}}</string>
        <key>offset</key>
        <string>{-37,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,113}}</string>
        <key>sourceSize</key>
        <string>{60,113}</string>
      </dict>
      <key>weapon_3039_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{51,109}}</string>
        <key>offset</key>
        <string>{-29,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,109}}</string>
        <key>sourceSize</key>
        <string>{51,109}</string>
      </dict>
      <key>weapon_3039_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,95},{91,88}}</string>
        <key>offset</key>
        <string>{-9,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,88}}</string>
        <key>sourceSize</key>
        <string>{91,88}</string>
      </dict>
      <key>weapon_3039_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{128,31}}</string>
        <key>offset</key>
        <string>{-4,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,31}}</string>
        <key>sourceSize</key>
        <string>{128,31}</string>
      </dict>
      <key>weapon_3039_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,317},{31,81}}</string>
        <key>offset</key>
        <string>{8,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,81}}</string>
        <key>sourceSize</key>
        <string>{31,81}</string>
      </dict>
      <key>weapon_3039_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,412},{108,35}}</string>
        <key>offset</key>
        <string>{-92,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,35}}</string>
        <key>sourceSize</key>
        <string>{108,35}</string>
      </dict>
      <key>weapon_3039_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{15,129}}</string>
        <key>offset</key>
        <string>{14,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,129}}</string>
        <key>sourceSize</key>
        <string>{15,129}</string>
      </dict>
      <key>weapon_3039_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,111},{44,104}}</string>
        <key>offset</key>
        <string>{-26,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,104}}</string>
        <key>sourceSize</key>
        <string>{44,104}</string>
      </dict>
      <key>weapon_3039_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,349},{28,51}}</string>
        <key>offset</key>
        <string>{-3,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,51}}</string>
        <key>sourceSize</key>
        <string>{28,51}</string>
      </dict>
      <key>weapon_3039_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,317},{84,66}}</string>
        <key>offset</key>
        <string>{10,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,66}}</string>
        <key>sourceSize</key>
        <string>{84,66}</string>
      </dict>
      <key>weapon_3039_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,0},{8,91}}</string>
        <key>offset</key>
        <string>{24,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,91}}</string>
        <key>sourceSize</key>
        <string>{8,91}</string>
      </dict>
      <key>weapon_3039_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{89,102}}</string>
        <key>offset</key>
        <string>{-56,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,102}}</string>
        <key>sourceSize</key>
        <string>{89,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3039_0_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_3039_0_3.png</string>
    </dict>
  </dict>
</plist>