<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20004_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,908},{92,130}}</string>
        <key>offset</key>
        <string>{5,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,130}}</string>
        <key>sourceSize</key>
        <string>{92,130}</string>
      </dict>
      <key>weapon_20004_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,638},{78,188}}</string>
        <key>offset</key>
        <string>{-5,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{78,188}}</string>
        <key>sourceSize</key>
        <string>{78,189}</string>
      </dict>
      <key>weapon_20004_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,220},{96,208}}</string>
        <key>offset</key>
        <string>{-27,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{96,208}}</string>
        <key>sourceSize</key>
        <string>{97,208}</string>
      </dict>
      <key>weapon_20004_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{98,178}}</string>
        <key>offset</key>
        <string>{-36,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,178}}</string>
        <key>sourceSize</key>
        <string>{99,179}</string>
      </dict>
      <key>weapon_20004_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{96,208}}</string>
        <key>offset</key>
        <string>{-27,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{96,208}}</string>
        <key>sourceSize</key>
        <string>{96,208}</string>
      </dict>
      <key>weapon_20004_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,172},{74,168}}</string>
        <key>offset</key>
        <string>{-1,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,168}}</string>
        <key>sourceSize</key>
        <string>{75,169}</string>
      </dict>
      <key>weapon_20004_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,412},{188,116}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{188,116}}</string>
        <key>sourceSize</key>
        <string>{188,116}</string>
      </dict>
      <key>weapon_20004_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,400},{162,150}}</string>
        <key>offset</key>
        <string>{0,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{162,150}}</string>
        <key>sourceSize</key>
        <string>{162,151}</string>
      </dict>
      <key>weapon_20004_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,446},{102,210}}</string>
        <key>offset</key>
        <string>{13,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{102,210}}</string>
        <key>sourceSize</key>
        <string>{102,211}</string>
      </dict>
      <key>weapon_20004_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{112,184}}</string>
        <key>offset</key>
        <string>{-31,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,184}}</string>
        <key>sourceSize</key>
        <string>{113,185}</string>
      </dict>
      <key>weapon_20004_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,224}}</string>
        <key>offset</key>
        <string>{12,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{94,224}}</string>
        <key>sourceSize</key>
        <string>{95,224}</string>
      </dict>
      <key>weapon_20004_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,248},{164,150}}</string>
        <key>offset</key>
        <string>{-1,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{164,150}}</string>
        <key>sourceSize</key>
        <string>{165,150}</string>
      </dict>
      <key>weapon_20004_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,658},{210,132}}</string>
        <key>offset</key>
        <string>{-24,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{210,132}}</string>
        <key>sourceSize</key>
        <string>{211,132}</string>
      </dict>
      <key>weapon_20004_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{218,122}}</string>
        <key>offset</key>
        <string>{-15,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{218,122}}</string>
        <key>sourceSize</key>
        <string>{218,123}</string>
      </dict>
      <key>weapon_20004_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,382},{152,182}}</string>
        <key>offset</key>
        <string>{8,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{152,182}}</string>
        <key>sourceSize</key>
        <string>{152,182}</string>
      </dict>
      <key>weapon_20004_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{100,218}}</string>
        <key>offset</key>
        <string>{-13,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{100,218}}</string>
        <key>sourceSize</key>
        <string>{100,218}</string>
      </dict>
      <key>weapon_20004_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,192},{138,188}}</string>
        <key>offset</key>
        <string>{7,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{138,188}}</string>
        <key>sourceSize</key>
        <string>{138,189}</string>
      </dict>
      <key>weapon_20004_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{218,106}}</string>
        <key>offset</key>
        <string>{-17,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{218,106}}</string>
        <key>sourceSize</key>
        <string>{218,107}</string>
      </dict>
      <key>weapon_20004_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,178},{144,170}}</string>
        <key>offset</key>
        <string>{-26,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{144,170}}</string>
        <key>sourceSize</key>
        <string>{145,170}</string>
      </dict>
      <key>weapon_20004_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,186},{180,112}}</string>
        <key>offset</key>
        <string>{-23,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{180,112}}</string>
        <key>sourceSize</key>
        <string>{180,112}</string>
      </dict>
      <key>weapon_20004_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,552},{148,136}}</string>
        <key>offset</key>
        <string>{-4,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,136}}</string>
        <key>sourceSize</key>
        <string>{149,137}</string>
      </dict>
      <key>weapon_20004_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,666},{82,214}}</string>
        <key>offset</key>
        <string>{1,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{82,214}}</string>
        <key>sourceSize</key>
        <string>{82,215}</string>
      </dict>
      <key>weapon_20004_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,0},{138,170}}</string>
        <key>offset</key>
        <string>{-5,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,170}}</string>
        <key>sourceSize</key>
        <string>{139,171}</string>
      </dict>
      <key>weapon_20004_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{176,112}}</string>
        <key>offset</key>
        <string>{-23,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{176,112}}</string>
        <key>sourceSize</key>
        <string>{176,113}</string>
      </dict>
      <key>weapon_20004_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,180},{92,178}}</string>
        <key>offset</key>
        <string>{-49,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{92,178}}</string>
        <key>sourceSize</key>
        <string>{92,179}</string>
      </dict>
      <key>weapon_20004_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,690},{78,136}}</string>
        <key>offset</key>
        <string>{-25,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{78,136}}</string>
        <key>sourceSize</key>
        <string>{78,137}</string>
      </dict>
      <key>weapon_20004_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,904},{94,102}}</string>
        <key>offset</key>
        <string>{-18,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,102}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>weapon_20004_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,210},{102,200}}</string>
        <key>offset</key>
        <string>{-14,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,200}}</string>
        <key>sourceSize</key>
        <string>{103,201}</string>
      </dict>
      <key>weapon_20004_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,248},{94,132}}</string>
        <key>offset</key>
        <string>{-19,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{94,132}}</string>
        <key>sourceSize</key>
        <string>{94,133}</string>
      </dict>
      <key>weapon_20004_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,552},{76,134}}</string>
        <key>offset</key>
        <string>{-25,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,134}}</string>
        <key>sourceSize</key>
        <string>{76,135}</string>
      </dict>
      <key>weapon_20004_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,602},{184,142}}</string>
        <key>offset</key>
        <string>{-126,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{184,142}}</string>
        <key>sourceSize</key>
        <string>{184,143}</string>
      </dict>
      <key>weapon_20004_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,552},{156,122}}</string>
        <key>offset</key>
        <string>{-110,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{156,122}}</string>
        <key>sourceSize</key>
        <string>{157,122}</string>
      </dict>
      <key>weapon_20004_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,710},{100,104}}</string>
        <key>offset</key>
        <string>{-66,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{100,104}}</string>
        <key>sourceSize</key>
        <string>{100,105}</string>
      </dict>
      <key>weapon_20004_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{110,170}}</string>
        <key>offset</key>
        <string>{-31,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{110,170}}</string>
        <key>sourceSize</key>
        <string>{111,170}</string>
      </dict>
      <key>weapon_20004_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,908},{92,126}}</string>
        <key>offset</key>
        <string>{-56,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,126}}</string>
        <key>sourceSize</key>
        <string>{93,127}</string>
      </dict>
      <key>weapon_20004_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,742},{160,130}}</string>
        <key>offset</key>
        <string>{-112,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,130}}</string>
        <key>sourceSize</key>
        <string>{160,131}</string>
      </dict>
      <key>weapon_20004_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,430},{206,108}}</string>
        <key>offset</key>
        <string>{-134,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{206,108}}</string>
        <key>sourceSize</key>
        <string>{207,108}</string>
      </dict>
      <key>weapon_20004_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{212,104}}</string>
        <key>offset</key>
        <string>{-151,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,104}}</string>
        <key>sourceSize</key>
        <string>{213,105}</string>
      </dict>
      <key>weapon_20004_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,360},{148,172}}</string>
        <key>offset</key>
        <string>{-110,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{148,172}}</string>
        <key>sourceSize</key>
        <string>{149,172}</string>
      </dict>
      <key>weapon_20004_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,400},{96,150}}</string>
        <key>offset</key>
        <string>{-37,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,150}}</string>
        <key>sourceSize</key>
        <string>{97,151}</string>
      </dict>
      <key>weapon_20004_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,690},{136,144}}</string>
        <key>offset</key>
        <string>{-96,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{136,144}}</string>
        <key>sourceSize</key>
        <string>{136,144}</string>
      </dict>
      <key>weapon_20004_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,666},{212,98}}</string>
        <key>offset</key>
        <string>{-149,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,98}}</string>
        <key>sourceSize</key>
        <string>{213,99}</string>
      </dict>
      <key>weapon_20004_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,828},{142,128}}</string>
        <key>offset</key>
        <string>{-67,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{142,128}}</string>
        <key>sourceSize</key>
        <string>{142,129}</string>
      </dict>
      <key>weapon_20004_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,788},{176,150}}</string>
        <key>offset</key>
        <string>{-105,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{176,150}}</string>
        <key>sourceSize</key>
        <string>{176,151}</string>
      </dict>
      <key>weapon_20004_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{146,190}}</string>
        <key>offset</key>
        <string>{-94,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{146,190}}</string>
        <key>sourceSize</key>
        <string>{146,190}</string>
      </dict>
      <key>weapon_20004_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,828},{78,142}}</string>
        <key>offset</key>
        <string>{-33,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,142}}</string>
        <key>sourceSize</key>
        <string>{79,143}</string>
      </dict>
      <key>weapon_20004_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,870},{136,202}}</string>
        <key>offset</key>
        <string>{-83,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{136,202}}</string>
        <key>sourceSize</key>
        <string>{136,202}</string>
      </dict>
      <key>weapon_20004_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,566},{174,140}}</string>
        <key>offset</key>
        <string>{-102,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{174,140}}</string>
        <key>sourceSize</key>
        <string>{174,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20004_0_5.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20004_0_5.png</string>
    </dict>
  </dict>
</plist>