<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3018_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{23,51}}</string>
        <key>offset</key>
        <string>{33,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,51}}</string>
        <key>sourceSize</key>
        <string>{23,51}</string>
      </dict>
      <key>weapon_3018_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,60},{29,54}}</string>
        <key>offset</key>
        <string>{30,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,54}}</string>
        <key>sourceSize</key>
        <string>{29,54}</string>
      </dict>
      <key>weapon_3018_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,53},{17,49}}</string>
        <key>offset</key>
        <string>{35,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,49}}</string>
        <key>sourceSize</key>
        <string>{17,49}</string>
      </dict>
      <key>weapon_3018_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,56},{52,41}}</string>
        <key>offset</key>
        <string>{2,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,41}}</string>
        <key>sourceSize</key>
        <string>{52,41}</string>
      </dict>
      <key>weapon_3018_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{58,37}}</string>
        <key>offset</key>
        <string>{6,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,37}}</string>
        <key>sourceSize</key>
        <string>{58,37}</string>
      </dict>
      <key>weapon_3018_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{54,33}}</string>
        <key>offset</key>
        <string>{13,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,33}}</string>
        <key>sourceSize</key>
        <string>{54,33}</string>
      </dict>
      <key>weapon_3018_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,0},{59,22}}</string>
        <key>offset</key>
        <string>{-16,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,22}}</string>
        <key>sourceSize</key>
        <string>{59,22}</string>
      </dict>
      <key>weapon_3018_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,56},{54,21}}</string>
        <key>offset</key>
        <string>{-5,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,21}}</string>
        <key>sourceSize</key>
        <string>{54,21}</string>
      </dict>
      <key>weapon_3018_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,20}}</string>
        <key>offset</key>
        <string>{-1,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,20}}</string>
        <key>sourceSize</key>
        <string>{60,20}</string>
      </dict>
      <key>weapon_3018_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{26,41}}</string>
        <key>offset</key>
        <string>{-8,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,41}}</string>
        <key>sourceSize</key>
        <string>{26,41}</string>
      </dict>
      <key>weapon_3018_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,89},{22,35}}</string>
        <key>offset</key>
        <string>{0,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,35}}</string>
        <key>sourceSize</key>
        <string>{22,35}</string>
      </dict>
      <key>weapon_3018_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,116},{31,43}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,43}}</string>
        <key>sourceSize</key>
        <string>{31,43}</string>
      </dict>
      <key>weapon_3018_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{25,41}}</string>
        <key>offset</key>
        <string>{-5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,41}}</string>
        <key>sourceSize</key>
        <string>{25,41}</string>
      </dict>
      <key>weapon_3018_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,106},{25,24}}</string>
        <key>offset</key>
        <string>{-6,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>weapon_3018_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,89},{15,28}}</string>
        <key>offset</key>
        <string>{-3,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,28}}</string>
        <key>sourceSize</key>
        <string>{15,28}</string>
      </dict>
      <key>weapon_3018_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,119},{42,19}}</string>
        <key>offset</key>
        <string>{-3,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,19}}</string>
        <key>sourceSize</key>
        <string>{42,19}</string>
      </dict>
      <key>weapon_3018_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{45,31}}</string>
        <key>offset</key>
        <string>{-11,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,31}}</string>
        <key>sourceSize</key>
        <string>{45,31}</string>
      </dict>
      <key>weapon_3018_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,110},{50,15}}</string>
        <key>offset</key>
        <string>{-17,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,15}}</string>
        <key>sourceSize</key>
        <string>{50,15}</string>
      </dict>
      <key>weapon_3018_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,61},{59,23}}</string>
        <key>offset</key>
        <string>{10,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,23}}</string>
        <key>sourceSize</key>
        <string>{59,23}</string>
      </dict>
      <key>weapon_3018_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{54,33}}</string>
        <key>offset</key>
        <string>{6,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,33}}</string>
        <key>sourceSize</key>
        <string>{54,33}</string>
      </dict>
      <key>weapon_3018_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,62},{60,21}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,21}}</string>
        <key>sourceSize</key>
        <string>{60,21}</string>
      </dict>
      <key>weapon_3018_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{39,49}}</string>
        <key>offset</key>
        <string>{24,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,49}}</string>
        <key>sourceSize</key>
        <string>{39,49}</string>
      </dict>
      <key>weapon_3018_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,60},{20,57}}</string>
        <key>offset</key>
        <string>{28,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,57}}</string>
        <key>sourceSize</key>
        <string>{20,57}</string>
      </dict>
      <key>weapon_3018_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,51},{36,45}}</string>
        <key>offset</key>
        <string>{16,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,45}}</string>
        <key>sourceSize</key>
        <string>{36,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3018_1_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3018_1_7.png</string>
    </dict>
  </dict>
</plist>