<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3072_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,154},{25,52}}</string>
        <key>offset</key>
        <string>{32,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,52}}</string>
        <key>sourceSize</key>
        <string>{25,52}</string>
      </dict>
      <key>weapon_3072_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{21,67}}</string>
        <key>offset</key>
        <string>{29,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,67}}</string>
        <key>sourceSize</key>
        <string>{21,67}</string>
      </dict>
      <key>weapon_3072_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,195},{12,59}}</string>
        <key>offset</key>
        <string>{26,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,59}}</string>
        <key>sourceSize</key>
        <string>{12,59}</string>
      </dict>
      <key>weapon_3072_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,219},{12,51}}</string>
        <key>offset</key>
        <string>{21,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,51}}</string>
        <key>sourceSize</key>
        <string>{12,51}</string>
      </dict>
      <key>weapon_3072_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{5,50}}</string>
        <key>offset</key>
        <string>{31,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{5,50}}</string>
        <key>sourceSize</key>
        <string>{5,50}</string>
      </dict>
      <key>weapon_3072_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,72},{12,67}}</string>
        <key>offset</key>
        <string>{32,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,67}}</string>
        <key>sourceSize</key>
        <string>{12,67}</string>
      </dict>
      <key>weapon_3072_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{54,53}}</string>
        <key>offset</key>
        <string>{18,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,53}}</string>
        <key>sourceSize</key>
        <string>{54,53}</string>
      </dict>
      <key>weapon_3072_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,127},{50,58}}</string>
        <key>offset</key>
        <string>{25,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>weapon_3072_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,154},{50,72}}</string>
        <key>offset</key>
        <string>{22,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,72}}</string>
        <key>sourceSize</key>
        <string>{50,72}</string>
      </dict>
      <key>weapon_3072_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{38,60}}</string>
        <key>offset</key>
        <string>{21,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,60}}</string>
        <key>sourceSize</key>
        <string>{38,60}</string>
      </dict>
      <key>weapon_3072_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{43,70}}</string>
        <key>offset</key>
        <string>{29,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,70}}</string>
        <key>sourceSize</key>
        <string>{43,70}</string>
      </dict>
      <key>weapon_3072_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{56,51}}</string>
        <key>offset</key>
        <string>{20,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,51}}</string>
        <key>sourceSize</key>
        <string>{56,51}</string>
      </dict>
      <key>weapon_3072_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{75,50}}</string>
        <key>offset</key>
        <string>{-3,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,50}}</string>
        <key>sourceSize</key>
        <string>{75,50}</string>
      </dict>
      <key>weapon_3072_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,154},{72,51}}</string>
        <key>offset</key>
        <string>{10,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>weapon_3072_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{53,65}}</string>
        <key>offset</key>
        <string>{26,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,65}}</string>
        <key>sourceSize</key>
        <string>{53,65}</string>
      </dict>
      <key>weapon_3072_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{53,74}}</string>
        <key>offset</key>
        <string>{16,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,74}}</string>
        <key>sourceSize</key>
        <string>{53,74}</string>
      </dict>
      <key>weapon_3072_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,67},{63,53}}</string>
        <key>offset</key>
        <string>{22,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>weapon_3072_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,54}}</string>
        <key>offset</key>
        <string>{5,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>weapon_3072_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,208},{42,53}}</string>
        <key>offset</key>
        <string>{-4,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,53}}</string>
        <key>sourceSize</key>
        <string>{42,53}</string>
      </dict>
      <key>weapon_3072_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{57,53}}</string>
        <key>offset</key>
        <string>{0,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,53}}</string>
        <key>sourceSize</key>
        <string>{57,53}</string>
      </dict>
      <key>weapon_3072_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,132},{52,61}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,61}}</string>
        <key>sourceSize</key>
        <string>{52,61}</string>
      </dict>
      <key>weapon_3072_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,72},{51,67}}</string>
        <key>offset</key>
        <string>{8,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,67}}</string>
        <key>sourceSize</key>
        <string>{51,67}</string>
      </dict>
      <key>weapon_3072_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,181},{48,52}}</string>
        <key>offset</key>
        <string>{13,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,52}}</string>
        <key>sourceSize</key>
        <string>{48,52}</string>
      </dict>
      <key>weapon_3072_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,55},{51,53}}</string>
        <key>offset</key>
        <string>{2,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,53}}</string>
        <key>sourceSize</key>
        <string>{51,53}</string>
      </dict>
      <key>weapon_3072_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,228},{18,53}}</string>
        <key>offset</key>
        <string>{-4,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,53}}</string>
        <key>sourceSize</key>
        <string>{18,53}</string>
      </dict>
      <key>weapon_3072_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,246},{8,54}}</string>
        <key>offset</key>
        <string>{7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,54}}</string>
        <key>sourceSize</key>
        <string>{8,54}</string>
      </dict>
      <key>weapon_3072_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,108},{9,52}}</string>
        <key>offset</key>
        <string>{11,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,52}}</string>
        <key>sourceSize</key>
        <string>{9,52}</string>
      </dict>
      <key>weapon_3072_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,228},{24,60}}</string>
        <key>offset</key>
        <string>{8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,60}}</string>
        <key>sourceSize</key>
        <string>{24,60}</string>
      </dict>
      <key>weapon_3072_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,149},{3,50}}</string>
        <key>offset</key>
        <string>{13,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{3,50}}</string>
        <key>sourceSize</key>
        <string>{3,50}</string>
      </dict>
      <key>weapon_3072_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,181},{11,53}}</string>
        <key>offset</key>
        <string>{5,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,53}}</string>
        <key>sourceSize</key>
        <string>{11,53}</string>
      </dict>
      <key>weapon_3072_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,149},{68,53}}</string>
        <key>offset</key>
        <string>{-28,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,53}}</string>
        <key>sourceSize</key>
        <string>{68,53}</string>
      </dict>
      <key>weapon_3072_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,64},{61,53}}</string>
        <key>offset</key>
        <string>{-33,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,53}}</string>
        <key>sourceSize</key>
        <string>{61,53}</string>
      </dict>
      <key>weapon_3072_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,235},{45,49}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>weapon_3072_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,108},{44,53}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,53}}</string>
        <key>sourceSize</key>
        <string>{44,53}</string>
      </dict>
      <key>weapon_3072_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,236},{42,44}}</string>
        <key>offset</key>
        <string>{-25,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>weapon_3072_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,195},{59,53}}</string>
        <key>offset</key>
        <string>{-28,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,53}}</string>
        <key>sourceSize</key>
        <string>{59,53}</string>
      </dict>
      <key>weapon_3072_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,78},{74,53}}</string>
        <key>offset</key>
        <string>{-24,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,53}}</string>
        <key>sourceSize</key>
        <string>{74,53}</string>
      </dict>
      <key>weapon_3072_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,75},{72,52}}</string>
        <key>offset</key>
        <string>{-33,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,52}}</string>
        <key>sourceSize</key>
        <string>{72,52}</string>
      </dict>
      <key>weapon_3072_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{53,62}}</string>
        <key>offset</key>
        <string>{-34,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,62}}</string>
        <key>sourceSize</key>
        <string>{53,62}</string>
      </dict>
      <key>weapon_3072_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,141},{54,65}}</string>
        <key>offset</key>
        <string>{-20,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,65}}</string>
        <key>sourceSize</key>
        <string>{54,65}</string>
      </dict>
      <key>weapon_3072_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,187},{57,53}}</string>
        <key>offset</key>
        <string>{-37,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,53}}</string>
        <key>sourceSize</key>
        <string>{57,53}</string>
      </dict>
      <key>weapon_3072_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{73,53}}</string>
        <key>offset</key>
        <string>{-29,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,53}}</string>
        <key>sourceSize</key>
        <string>{73,53}</string>
      </dict>
      <key>weapon_3072_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,122},{42,57}}</string>
        <key>offset</key>
        <string>{8,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,57}}</string>
        <key>sourceSize</key>
        <string>{42,57}</string>
      </dict>
      <key>weapon_3072_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,59},{52,57}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,57}}</string>
        <key>sourceSize</key>
        <string>{52,57}</string>
      </dict>
      <key>weapon_3072_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,248},{40,47}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>weapon_3072_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{33,70}}</string>
        <key>offset</key>
        <string>{-7,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,70}}</string>
        <key>sourceSize</key>
        <string>{33,70}</string>
      </dict>
      <key>weapon_3072_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,62},{50,58}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>weapon_3072_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,181},{53,52}}</string>
        <key>offset</key>
        <string>{-6,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,52}}</string>
        <key>sourceSize</key>
        <string>{53,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3072_1_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3072_1_5.png</string>
    </dict>
  </dict>
</plist>