<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3045_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,474},{79,30}}</string>
        <key>offset</key>
        <string>{36,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,30}}</string>
        <key>sourceSize</key>
        <string>{79,30}</string>
      </dict>
      <key>weapon_3045_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,92},{86,82}}</string>
        <key>offset</key>
        <string>{-56,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>weapon_3045_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,174},{47,47}}</string>
        <key>offset</key>
        <string>{28,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>weapon_3045_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,176},{18,48}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,48}}</string>
        <key>sourceSize</key>
        <string>{18,48}</string>
      </dict>
      <key>weapon_3045_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,124},{26,52}}</string>
        <key>offset</key>
        <string>{-13,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,52}}</string>
        <key>sourceSize</key>
        <string>{26,52}</string>
      </dict>
      <key>weapon_3045_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,206},{94,64}}</string>
        <key>offset</key>
        <string>{23,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,64}}</string>
        <key>sourceSize</key>
        <string>{94,64}</string>
      </dict>
      <key>weapon_3045_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,166},{36,49}}</string>
        <key>offset</key>
        <string>{31,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,49}}</string>
        <key>sourceSize</key>
        <string>{36,49}</string>
      </dict>
      <key>weapon_3045_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,330},{106,49}}</string>
        <key>offset</key>
        <string>{-82,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,49}}</string>
        <key>sourceSize</key>
        <string>{106,49}</string>
      </dict>
      <key>weapon_3045_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,178},{28,31}}</string>
        <key>offset</key>
        <string>{23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>weapon_3045_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,124},{56,40}}</string>
        <key>offset</key>
        <string>{39,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,40}}</string>
        <key>sourceSize</key>
        <string>{56,40}</string>
      </dict>
      <key>weapon_3045_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,123},{61,25}}</string>
        <key>offset</key>
        <string>{30,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,25}}</string>
        <key>sourceSize</key>
        <string>{61,25}</string>
      </dict>
      <key>weapon_3045_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,482},{89,22}}</string>
        <key>offset</key>
        <string>{34,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,22}}</string>
        <key>sourceSize</key>
        <string>{89,22}</string>
      </dict>
      <key>weapon_3045_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,199},{88,21}}</string>
        <key>offset</key>
        <string>{-47,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,21}}</string>
        <key>sourceSize</key>
        <string>{88,21}</string>
      </dict>
      <key>weapon_3045_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{101,28}}</string>
        <key>offset</key>
        <string>{-80,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,28}}</string>
        <key>sourceSize</key>
        <string>{101,28}</string>
      </dict>
      <key>weapon_3045_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,458},{64,48}}</string>
        <key>offset</key>
        <string>{-11,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,48}}</string>
        <key>sourceSize</key>
        <string>{64,48}</string>
      </dict>
      <key>weapon_3045_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,328},{98,40}}</string>
        <key>offset</key>
        <string>{40,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,40}}</string>
        <key>sourceSize</key>
        <string>{98,40}</string>
      </dict>
      <key>weapon_3045_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,482},{93,27}}</string>
        <key>offset</key>
        <string>{40,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,27}}</string>
        <key>sourceSize</key>
        <string>{93,27}</string>
      </dict>
      <key>weapon_3045_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,0},{40,17}}</string>
        <key>offset</key>
        <string>{34,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,17}}</string>
        <key>sourceSize</key>
        <string>{40,17}</string>
      </dict>
      <key>weapon_3045_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,0},{107,37}}</string>
        <key>offset</key>
        <string>{-81,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,37}}</string>
        <key>sourceSize</key>
        <string>{107,37}</string>
      </dict>
      <key>weapon_3045_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,123},{17,51}}</string>
        <key>offset</key>
        <string>{8,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,51}}</string>
        <key>sourceSize</key>
        <string>{17,51}</string>
      </dict>
      <key>weapon_3045_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,289},{81,87}}</string>
        <key>offset</key>
        <string>{-39,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,87}}</string>
        <key>sourceSize</key>
        <string>{81,87}</string>
      </dict>
      <key>weapon_3045_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,378},{67,79}}</string>
        <key>offset</key>
        <string>{44,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,79}}</string>
        <key>sourceSize</key>
        <string>{67,79}</string>
      </dict>
      <key>weapon_3045_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{86,72}}</string>
        <key>offset</key>
        <string>{36,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,72}}</string>
        <key>sourceSize</key>
        <string>{86,72}</string>
      </dict>
      <key>weapon_3045_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,223},{45,15}}</string>
        <key>offset</key>
        <string>{-4,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,15}}</string>
        <key>sourceSize</key>
        <string>{45,15}</string>
      </dict>
      <key>weapon_3045_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,42},{80,80}}</string>
        <key>offset</key>
        <string>{-68,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>weapon_3045_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{90,34}}</string>
        <key>offset</key>
        <string>{15,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,34}}</string>
        <key>sourceSize</key>
        <string>{90,34}</string>
      </dict>
      <key>weapon_3045_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,103},{37,101}}</string>
        <key>offset</key>
        <string>{-20,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,101}}</string>
        <key>sourceSize</key>
        <string>{37,101}</string>
      </dict>
      <key>weapon_3045_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,180},{17,84}}</string>
        <key>offset</key>
        <string>{27,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,84}}</string>
        <key>sourceSize</key>
        <string>{17,84}</string>
      </dict>
      <key>weapon_3045_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,199},{26,89}}</string>
        <key>offset</key>
        <string>{23,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,89}}</string>
        <key>sourceSize</key>
        <string>{26,89}</string>
      </dict>
      <key>weapon_3045_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{82,40}}</string>
        <key>offset</key>
        <string>{-56,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,40}}</string>
        <key>sourceSize</key>
        <string>{82,40}</string>
      </dict>
      <key>weapon_3045_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{32,107}}</string>
        <key>offset</key>
        <string>{-14,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,107}}</string>
        <key>sourceSize</key>
        <string>{32,107}</string>
      </dict>
      <key>weapon_3045_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,221},{105,49}}</string>
        <key>offset</key>
        <string>{23,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,49}}</string>
        <key>sourceSize</key>
        <string>{105,49}</string>
      </dict>
      <key>weapon_3045_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{23,109}}</string>
        <key>offset</key>
        <string>{-5,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,109}}</string>
        <key>sourceSize</key>
        <string>{23,109}</string>
      </dict>
      <key>weapon_3045_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,199},{75,84}}</string>
        <key>offset</key>
        <string>{-53,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,84}}</string>
        <key>sourceSize</key>
        <string>{75,84}</string>
      </dict>
      <key>weapon_3045_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,88},{72,84}}</string>
        <key>offset</key>
        <string>{-46,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,84}}</string>
        <key>sourceSize</key>
        <string>{72,84}</string>
      </dict>
      <key>weapon_3045_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,394},{88,78}}</string>
        <key>offset</key>
        <string>{-76,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,78}}</string>
        <key>sourceSize</key>
        <string>{88,78}</string>
      </dict>
      <key>weapon_3045_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{80,90}}</string>
        <key>offset</key>
        <string>{6,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,90}}</string>
        <key>sourceSize</key>
        <string>{80,90}</string>
      </dict>
      <key>weapon_3045_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,302},{90,84}}</string>
        <key>offset</key>
        <string>{28,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,84}}</string>
        <key>sourceSize</key>
        <string>{90,84}</string>
      </dict>
      <key>weapon_3045_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,103},{75,94}}</string>
        <key>offset</key>
        <string>{-9,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,94}}</string>
        <key>sourceSize</key>
        <string>{75,94}</string>
      </dict>
      <key>weapon_3045_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{101,48}}</string>
        <key>offset</key>
        <string>{-93,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,48}}</string>
        <key>sourceSize</key>
        <string>{101,48}</string>
      </dict>
      <key>weapon_3045_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{108,47}}</string>
        <key>offset</key>
        <string>{-90,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,47}}</string>
        <key>sourceSize</key>
        <string>{108,47}</string>
      </dict>
      <key>weapon_3045_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{42,99}}</string>
        <key>offset</key>
        <string>{-30,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,99}}</string>
        <key>sourceSize</key>
        <string>{42,99}</string>
      </dict>
      <key>weapon_3045_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{83,45}}</string>
        <key>offset</key>
        <string>{22,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,45}}</string>
        <key>sourceSize</key>
        <string>{83,45}</string>
      </dict>
      <key>weapon_3045_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,109},{21,103}}</string>
        <key>offset</key>
        <string>{20,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,103}}</string>
        <key>sourceSize</key>
        <string>{21,103}</string>
      </dict>
      <key>weapon_3045_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,378},{78,68}}</string>
        <key>offset</key>
        <string>{4,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,68}}</string>
        <key>sourceSize</key>
        <string>{78,68}</string>
      </dict>
      <key>weapon_3045_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,85},{80,30}}</string>
        <key>offset</key>
        <string>{-74,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,30}}</string>
        <key>sourceSize</key>
        <string>{80,30}</string>
      </dict>
      <key>weapon_3045_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,42},{79,44}}</string>
        <key>offset</key>
        <string>{-68,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,44}}</string>
        <key>sourceSize</key>
        <string>{79,44}</string>
      </dict>
      <key>weapon_3045_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,174},{44,48}}</string>
        <key>offset</key>
        <string>{25,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,48}}</string>
        <key>sourceSize</key>
        <string>{44,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3045_0_10.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3045_0_10.png</string>
    </dict>
  </dict>
</plist>