<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3007_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,59},{12,32}}</string>
        <key>offset</key>
        <string>{31,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,32}}</string>
        <key>sourceSize</key>
        <string>{12,32}</string>
      </dict>
      <key>weapon_3007_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,105},{13,43}}</string>
        <key>offset</key>
        <string>{26,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,43}}</string>
        <key>sourceSize</key>
        <string>{13,43}</string>
      </dict>
      <key>weapon_3007_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,70},{55,25}}</string>
        <key>offset</key>
        <string>{8,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,25}}</string>
        <key>sourceSize</key>
        <string>{55,25}</string>
      </dict>
      <key>weapon_3007_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,13},{57,44}}</string>
        <key>offset</key>
        <string>{21,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,44}}</string>
        <key>sourceSize</key>
        <string>{57,44}</string>
      </dict>
      <key>weapon_3007_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{91,13}}</string>
        <key>offset</key>
        <string>{-16,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,13}}</string>
        <key>sourceSize</key>
        <string>{91,13}</string>
      </dict>
      <key>weapon_3007_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{92,13}}</string>
        <key>offset</key>
        <string>{7,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,13}}</string>
        <key>sourceSize</key>
        <string>{92,13}</string>
      </dict>
      <key>weapon_3007_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{75,49}}</string>
        <key>offset</key>
        <string>{-17,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,49}}</string>
        <key>sourceSize</key>
        <string>{75,49}</string>
      </dict>
      <key>weapon_3007_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,77},{74,26}}</string>
        <key>offset</key>
        <string>{2,-8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,26}}</string>
        <key>sourceSize</key>
        <string>{74,26}</string>
      </dict>
      <key>weapon_3007_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,120},{17,41}}</string>
        <key>offset</key>
        <string>{5,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,41}}</string>
        <key>sourceSize</key>
        <string>{17,41}</string>
      </dict>
      <key>weapon_3007_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{11,62}}</string>
        <key>offset</key>
        <string>{12,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,62}}</string>
        <key>sourceSize</key>
        <string>{11,62}</string>
      </dict>
      <key>weapon_3007_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{51,68}}</string>
        <key>offset</key>
        <string>{-13,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,68}}</string>
        <key>sourceSize</key>
        <string>{51,68}</string>
      </dict>
      <key>weapon_3007_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,59},{44,44}}</string>
        <key>offset</key>
        <string>{-25,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>weapon_3007_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{83,46}}</string>
        <key>offset</key>
        <string>{-24,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,46}}</string>
        <key>sourceSize</key>
        <string>{83,46}</string>
      </dict>
      <key>weapon_3007_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{88,17}}</string>
        <key>offset</key>
        <string>{-48,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,17}}</string>
        <key>sourceSize</key>
        <string>{88,17}</string>
      </dict>
      <key>weapon_3007_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,109},{72,15}}</string>
        <key>offset</key>
        <string>{-7,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,15}}</string>
        <key>sourceSize</key>
        <string>{72,15}</string>
      </dict>
      <key>weapon_3007_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,0},{84,23}}</string>
        <key>offset</key>
        <string>{-34,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,23}}</string>
        <key>sourceSize</key>
        <string>{84,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3007_1_8.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3007_1_8.png</string>
    </dict>
  </dict>
</plist>