<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3008_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,99},{23,41}}</string>
        <key>offset</key>
        <string>{39,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,41}}</string>
        <key>sourceSize</key>
        <string>{23,41}</string>
      </dict>
      <key>weapon_3008_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,52},{23,48}}</string>
        <key>offset</key>
        <string>{38,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,48}}</string>
        <key>sourceSize</key>
        <string>{23,48}</string>
      </dict>
      <key>weapon_3008_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,50},{18,41}}</string>
        <key>offset</key>
        <string>{39,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,41}}</string>
        <key>sourceSize</key>
        <string>{18,41}</string>
      </dict>
      <key>weapon_3008_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,0},{52,25}}</string>
        <key>offset</key>
        <string>{17,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,25}}</string>
        <key>sourceSize</key>
        <string>{52,25}</string>
      </dict>
      <key>weapon_3008_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{50,32}}</string>
        <key>offset</key>
        <string>{23,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,32}}</string>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>weapon_3008_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,57},{53,19}}</string>
        <key>offset</key>
        <string>{30,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,19}}</string>
        <key>sourceSize</key>
        <string>{53,19}</string>
      </dict>
      <key>weapon_3008_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{53,13}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,13}}</string>
        <key>sourceSize</key>
        <string>{53,13}</string>
      </dict>
      <key>weapon_3008_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,50},{47,13}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,13}}</string>
        <key>sourceSize</key>
        <string>{47,13}</string>
      </dict>
      <key>weapon_3008_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,57},{54,12}}</string>
        <key>offset</key>
        <string>{14,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,12}}</string>
        <key>sourceSize</key>
        <string>{54,12}</string>
      </dict>
      <key>weapon_3008_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,81},{17,33}}</string>
        <key>offset</key>
        <string>{-4,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,33}}</string>
        <key>sourceSize</key>
        <string>{17,33}</string>
      </dict>
      <key>weapon_3008_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{14,27}}</string>
        <key>offset</key>
        <string>{3,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,27}}</string>
        <key>sourceSize</key>
        <string>{14,27}</string>
      </dict>
      <key>weapon_3008_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{19,35}}</string>
        <key>offset</key>
        <string>{6,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,35}}</string>
        <key>sourceSize</key>
        <string>{19,35}</string>
      </dict>
      <key>weapon_3008_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,81},{30,32}}</string>
        <key>offset</key>
        <string>{-20,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>weapon_3008_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,37},{29,17}}</string>
        <key>offset</key>
        <string>{-20,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,17}}</string>
        <key>sourceSize</key>
        <string>{29,17}</string>
      </dict>
      <key>weapon_3008_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{18,21}}</string>
        <key>offset</key>
        <string>{-10,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,21}}</string>
        <key>sourceSize</key>
        <string>{18,21}</string>
      </dict>
      <key>weapon_3008_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{48,8}}</string>
        <key>offset</key>
        <string>{-24,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,8}}</string>
        <key>sourceSize</key>
        <string>{48,8}</string>
      </dict>
      <key>weapon_3008_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{51,10}}</string>
        <key>offset</key>
        <string>{-31,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,10}}</string>
        <key>sourceSize</key>
        <string>{51,10}</string>
      </dict>
      <key>weapon_3008_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,108},{51,10}}</string>
        <key>offset</key>
        <string>{-34,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,10}}</string>
        <key>sourceSize</key>
        <string>{51,10}</string>
      </dict>
      <key>weapon_3008_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{35,54},{52,24}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,24}}</string>
        <key>sourceSize</key>
        <string>{52,24}</string>
      </dict>
      <key>weapon_3008_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,41},{38,32}}</string>
        <key>offset</key>
        <string>{-14,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,32}}</string>
        <key>sourceSize</key>
        <string>{38,32}</string>
      </dict>
      <key>weapon_3008_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,21}}</string>
        <key>offset</key>
        <string>{-23,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,21}}</string>
        <key>sourceSize</key>
        <string>{55,21}</string>
      </dict>
      <key>weapon_3008_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{30,48}}</string>
        <key>offset</key>
        <string>{22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,48}}</string>
        <key>sourceSize</key>
        <string>{30,48}</string>
      </dict>
      <key>weapon_3008_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,53},{19,51}}</string>
        <key>offset</key>
        <string>{25,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,51}}</string>
        <key>sourceSize</key>
        <string>{19,51}</string>
      </dict>
      <key>weapon_3008_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{27,39}}</string>
        <key>offset</key>
        <string>{13,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,39}}</string>
        <key>sourceSize</key>
        <string>{27,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3008_0_7.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_3008_0_7.png</string>
    </dict>
  </dict>
</plist>