<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0269_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,310},{102,138}}</string>
        <key>offset</key>
        <string>{19,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,138}}</string>
        <key>sourceSize</key>
        <string>{103,139}</string>
      </dict>
      <key>weapon_0269_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,336},{150,66}}</string>
        <key>offset</key>
        <string>{-101,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,66}}</string>
        <key>sourceSize</key>
        <string>{151,67}</string>
      </dict>
      <key>weapon_0269_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,560},{100,90}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{100,90}}</string>
        <key>sourceSize</key>
        <string>{101,90}</string>
      </dict>
      <key>weapon_0269_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,794},{56,132}}</string>
        <key>offset</key>
        <string>{18,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{56,132}}</string>
        <key>sourceSize</key>
        <string>{56,132}</string>
      </dict>
      <key>weapon_0269_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,662},{90,98}}</string>
        <key>offset</key>
        <string>{-46,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{90,98}}</string>
        <key>sourceSize</key>
        <string>{92,98}</string>
      </dict>
      <key>weapon_0269_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{70,156}}</string>
        <key>offset</key>
        <string>{-15,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{70,156}}</string>
        <key>sourceSize</key>
        <string>{70,156}</string>
      </dict>
      <key>weapon_0269_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,874},{98,108}}</string>
        <key>offset</key>
        <string>{0,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{98,108}}</string>
        <key>sourceSize</key>
        <string>{98,109}</string>
      </dict>
      <key>weapon_0269_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,186},{174,98}}</string>
        <key>offset</key>
        <string>{-149,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,98}}</string>
        <key>sourceSize</key>
        <string>{175,99}</string>
      </dict>
      <key>weapon_0269_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{172,44}}</string>
        <key>offset</key>
        <string>{-111,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{172,44}}</string>
        <key>sourceSize</key>
        <string>{172,45}</string>
      </dict>
      <key>weapon_0269_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,928},{86,130}}</string>
        <key>offset</key>
        <string>{17,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{86,130}}</string>
        <key>sourceSize</key>
        <string>{86,130}</string>
      </dict>
      <key>weapon_0269_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,762},{90,94}}</string>
        <key>offset</key>
        <string>{17,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{91,95}</string>
      </dict>
      <key>weapon_0269_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,158},{102,150}}</string>
        <key>offset</key>
        <string>{28,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,150}}</string>
        <key>sourceSize</key>
        <string>{103,152}</string>
      </dict>
      <key>weapon_0269_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,292},{76,106}}</string>
        <key>offset</key>
        <string>{-13,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,106}}</string>
        <key>sourceSize</key>
        <string>{76,107}</string>
      </dict>
      <key>weapon_0269_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,492},{104,152}}</string>
        <key>offset</key>
        <string>{-95,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,152}}</string>
        <key>sourceSize</key>
        <string>{105,153}</string>
      </dict>
      <key>weapon_0269_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,546},{170,104}}</string>
        <key>offset</key>
        <string>{-122,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,104}}</string>
        <key>sourceSize</key>
        <string>{171,105}</string>
      </dict>
      <key>weapon_0269_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,152},{92,138}}</string>
        <key>offset</key>
        <string>{-1,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,138}}</string>
        <key>sourceSize</key>
        <string>{92,138}</string>
      </dict>
      <key>weapon_0269_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{166,60}}</string>
        <key>offset</key>
        <string>{24,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{166,60}}</string>
        <key>sourceSize</key>
        <string>{166,60}</string>
      </dict>
      <key>weapon_0269_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{176,102}}</string>
        <key>offset</key>
        <string>{16,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{176,102}}</string>
        <key>sourceSize</key>
        <string>{177,102}</string>
      </dict>
      <key>weapon_0269_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,636},{76,124}}</string>
        <key>offset</key>
        <string>{-50,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{76,124}}</string>
        <key>sourceSize</key>
        <string>{76,125}</string>
      </dict>
      <key>weapon_0269_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,956},{64,160}}</string>
        <key>offset</key>
        <string>{-23,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{64,160}}</string>
        <key>sourceSize</key>
        <string>{64,161}</string>
      </dict>
      <key>weapon_0269_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,646},{94,146}}</string>
        <key>offset</key>
        <string>{-56,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{94,146}}</string>
        <key>sourceSize</key>
        <string>{94,146}</string>
      </dict>
      <key>weapon_0269_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,702},{68,164}}</string>
        <key>offset</key>
        <string>{-16,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,164}}</string>
        <key>sourceSize</key>
        <string>{69,165}</string>
      </dict>
      <key>weapon_0269_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,362},{170,102}}</string>
        <key>offset</key>
        <string>{14,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{170,102}}</string>
        <key>sourceSize</key>
        <string>{171,102}</string>
      </dict>
      <key>weapon_0269_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{156,76}}</string>
        <key>offset</key>
        <string>{6,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{156,76}}</string>
        <key>sourceSize</key>
        <string>{157,76}</string>
      </dict>
      <key>weapon_0269_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{102,150}}</string>
        <key>offset</key>
        <string>{-74,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{102,150}}</string>
        <key>sourceSize</key>
        <string>{103,150}</string>
      </dict>
      <key>weapon_0269_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,826},{150,134}}</string>
        <key>offset</key>
        <string>{0,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,134}}</string>
        <key>sourceSize</key>
        <string>{151,135}</string>
      </dict>
      <key>weapon_0269_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,336},{98,154}}</string>
        <key>offset</key>
        <string>{-20,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{98,154}}</string>
        <key>sourceSize</key>
        <string>{99,154}</string>
      </dict>
      <key>weapon_0269_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,718},{56,166}}</string>
        <key>offset</key>
        <string>{-29,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{56,166}}</string>
        <key>sourceSize</key>
        <string>{56,167}</string>
      </dict>
      <key>weapon_0269_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,488},{92,146}}</string>
        <key>offset</key>
        <string>{0,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,146}}</string>
        <key>sourceSize</key>
        <string>{92,146}</string>
      </dict>
      <key>weapon_0269_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,450},{66,108}}</string>
        <key>offset</key>
        <string>{-10,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{66,108}}</string>
        <key>sourceSize</key>
        <string>{66,108}</string>
      </dict>
      <key>weapon_0269_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,176},{98,168}}</string>
        <key>offset</key>
        <string>{-51,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,168}}</string>
        <key>sourceSize</key>
        <string>{99,170}</string>
      </dict>
      <key>weapon_0269_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{172,84}}</string>
        <key>offset</key>
        <string>{25,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{172,84}}</string>
        <key>sourceSize</key>
        <string>{173,85}</string>
      </dict>
      <key>weapon_0269_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{174,114}}</string>
        <key>offset</key>
        <string>{-14,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,114}}</string>
        <key>sourceSize</key>
        <string>{175,118}</string>
      </dict>
      <key>weapon_0269_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,718},{86,166}}</string>
        <key>offset</key>
        <string>{-57,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{86,166}}</string>
        <key>sourceSize</key>
        <string>{86,167}</string>
      </dict>
      <key>weapon_0269_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,512},{88,156}}</string>
        <key>offset</key>
        <string>{-61,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{88,156}}</string>
        <key>sourceSize</key>
        <string>{89,156}</string>
      </dict>
      <key>weapon_0269_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,138},{106,96}}</string>
        <key>offset</key>
        <string>{-85,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,96}}</string>
        <key>sourceSize</key>
        <string>{107,97}</string>
      </dict>
      <key>weapon_0269_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{78,184}}</string>
        <key>offset</key>
        <string>{-16,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{78,184}}</string>
        <key>sourceSize</key>
        <string>{78,185}</string>
      </dict>
      <key>weapon_0269_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,762},{110,88}}</string>
        <key>offset</key>
        <string>{37,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{110,88}}</string>
        <key>sourceSize</key>
        <string>{111,88}</string>
      </dict>
      <key>weapon_0269_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,534},{166,90}}</string>
        <key>offset</key>
        <string>{3,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{166,90}}</string>
        <key>sourceSize</key>
        <string>{166,91}</string>
      </dict>
      <key>weapon_0269_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,670},{94,154}}</string>
        <key>offset</key>
        <string>{-47,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,154}}</string>
        <key>sourceSize</key>
        <string>{95,155}</string>
      </dict>
      <key>weapon_0269_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,886},{166,120}}</string>
        <key>offset</key>
        <string>{-145,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,1},{166,120}}</string>
        <key>sourceSize</key>
        <string>{167,122}</string>
      </dict>
      <key>weapon_0269_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{180,74}}</string>
        <key>offset</key>
        <string>{-149,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{180,74}}</string>
        <key>sourceSize</key>
        <string>{180,75}</string>
      </dict>
      <key>weapon_0269_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,346},{78,164}}</string>
        <key>offset</key>
        <string>{22,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,164}}</string>
        <key>sourceSize</key>
        <string>{79,165}</string>
      </dict>
      <key>weapon_0269_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,400},{64,88}}</string>
        <key>offset</key>
        <string>{10,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{64,88}}</string>
        <key>sourceSize</key>
        <string>{64,88}</string>
      </dict>
      <key>weapon_0269_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{88,104}}</string>
        <key>offset</key>
        <string>{13,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{88,104}}</string>
        <key>sourceSize</key>
        <string>{89,104}</string>
      </dict>
      <key>weapon_0269_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,0},{66,136}}</string>
        <key>offset</key>
        <string>{-4,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,136}}</string>
        <key>sourceSize</key>
        <string>{67,137}</string>
      </dict>
      <key>weapon_0269_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{168,86}}</string>
        <key>offset</key>
        <string>{-140,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{168,86}}</string>
        <key>sourceSize</key>
        <string>{169,86}</string>
      </dict>
      <key>weapon_0269_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,170},{164,120}}</string>
        <key>offset</key>
        <string>{-118,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{164,120}}</string>
        <key>sourceSize</key>
        <string>{165,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0269_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0269_1_2.png</string>
    </dict>
  </dict>
</plist>