<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3020_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,161},{37,60}}</string>
        <key>offset</key>
        <string>{24,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,60}}</string>
        <key>sourceSize</key>
        <string>{37,60}</string>
      </dict>
      <key>weapon_3020_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,167},{37,75}}</string>
        <key>offset</key>
        <string>{23,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,75}}</string>
        <key>sourceSize</key>
        <string>{37,75}</string>
      </dict>
      <key>weapon_3020_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{29,63}}</string>
        <key>offset</key>
        <string>{27,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,63}}</string>
        <key>sourceSize</key>
        <string>{29,63}</string>
      </dict>
      <key>weapon_3020_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,0},{83,36}}</string>
        <key>offset</key>
        <string>{-19,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,36}}</string>
        <key>sourceSize</key>
        <string>{83,36}</string>
      </dict>
      <key>weapon_3020_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{79,46}}</string>
        <key>offset</key>
        <string>{-11,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,46}}</string>
        <key>sourceSize</key>
        <string>{79,46}</string>
      </dict>
      <key>weapon_3020_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{83,25}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,25}}</string>
        <key>sourceSize</key>
        <string>{83,25}</string>
      </dict>
      <key>weapon_3020_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{32,85},{83,2}}</string>
        <key>offset</key>
        <string>{-36,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,2}}</string>
        <key>sourceSize</key>
        <string>{83,2}</string>
      </dict>
      <key>weapon_3020_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{74,11}}</string>
        <key>offset</key>
        <string>{-25,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,11}}</string>
        <key>sourceSize</key>
        <string>{74,11}</string>
      </dict>
      <key>weapon_3020_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,6}}</string>
        <key>offset</key>
        <string>{-23,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,6}}</string>
        <key>sourceSize</key>
        <string>{86,6}</string>
      </dict>
      <key>weapon_3020_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,128},{26,53}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,53}}</string>
        <key>sourceSize</key>
        <string>{26,53}</string>
      </dict>
      <key>weapon_3020_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,74},{19,45}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,45}}</string>
        <key>sourceSize</key>
        <string>{19,45}</string>
      </dict>
      <key>weapon_3020_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,223},{28,56}}</string>
        <key>offset</key>
        <string>{-5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,56}}</string>
        <key>sourceSize</key>
        <string>{28,56}</string>
      </dict>
      <key>weapon_3020_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,77},{49,54}}</string>
        <key>offset</key>
        <string>{-18,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,54}}</string>
        <key>sourceSize</key>
        <string>{49,54}</string>
      </dict>
      <key>weapon_3020_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,128},{35,21}}</string>
        <key>offset</key>
        <string>{-18,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,21}}</string>
        <key>sourceSize</key>
        <string>{35,21}</string>
      </dict>
      <key>weapon_3020_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,128},{23,30}}</string>
        <key>offset</key>
        <string>{-9,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,30}}</string>
        <key>sourceSize</key>
        <string>{23,30}</string>
      </dict>
      <key>weapon_3020_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,85},{83,9}}</string>
        <key>offset</key>
        <string>{-19,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,9}}</string>
        <key>sourceSize</key>
        <string>{83,9}</string>
      </dict>
      <key>weapon_3020_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{83,12}}</string>
        <key>offset</key>
        <string>{-26,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,12}}</string>
        <key>sourceSize</key>
        <string>{83,12}</string>
      </dict>
      <key>weapon_3020_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,85},{82,14}}</string>
        <key>offset</key>
        <string>{-30,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,14}}</string>
        <key>sourceSize</key>
        <string>{82,14}</string>
      </dict>
      <key>weapon_3020_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{82,38}}</string>
        <key>offset</key>
        <string>{2,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,38}}</string>
        <key>sourceSize</key>
        <string>{82,38}</string>
      </dict>
      <key>weapon_3020_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{72,57}}</string>
        <key>offset</key>
        <string>{-10,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,57}}</string>
        <key>sourceSize</key>
        <string>{72,57}</string>
      </dict>
      <key>weapon_3020_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{85,30}}</string>
        <key>offset</key>
        <string>{-17,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,30}}</string>
        <key>sourceSize</key>
        <string>{85,30}</string>
      </dict>
      <key>weapon_3020_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,84},{45,75}}</string>
        <key>offset</key>
        <string>{25,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,75}}</string>
        <key>sourceSize</key>
        <string>{45,75}</string>
      </dict>
      <key>weapon_3020_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,84},{27,81}}</string>
        <key>offset</key>
        <string>{27,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,81}}</string>
        <key>sourceSize</key>
        <string>{27,81}</string>
      </dict>
      <key>weapon_3020_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,31},{44,62}}</string>
        <key>offset</key>
        <string>{14,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,62}}</string>
        <key>sourceSize</key>
        <string>{44,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3020_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3020_0_7.png</string>
    </dict>
  </dict>
</plist>