<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3028_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,54},{26,51}}</string>
        <key>offset</key>
        <string>{39,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,51}}</string>
        <key>sourceSize</key>
        <string>{26,51}</string>
      </dict>
      <key>weapon_3028_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{27,62}}</string>
        <key>offset</key>
        <string>{38,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,62}}</string>
        <key>sourceSize</key>
        <string>{27,62}</string>
      </dict>
      <key>weapon_3028_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,60},{21,54}}</string>
        <key>offset</key>
        <string>{38,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,54}}</string>
        <key>sourceSize</key>
        <string>{21,54}</string>
      </dict>
      <key>weapon_3028_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,82},{64,34}}</string>
        <key>offset</key>
        <string>{16,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,34}}</string>
        <key>sourceSize</key>
        <string>{64,34}</string>
      </dict>
      <key>weapon_3028_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{61,41}}</string>
        <key>offset</key>
        <string>{23,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,41}}</string>
        <key>sourceSize</key>
        <string>{61,41}</string>
      </dict>
      <key>weapon_3028_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,0},{66,25}}</string>
        <key>offset</key>
        <string>{29,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,25}}</string>
        <key>sourceSize</key>
        <string>{66,25}</string>
      </dict>
      <key>weapon_3028_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,0},{66,8}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,8}}</string>
        <key>sourceSize</key>
        <string>{66,8}</string>
      </dict>
      <key>weapon_3028_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{58,14}}</string>
        <key>offset</key>
        <string>{7,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,14}}</string>
        <key>sourceSize</key>
        <string>{58,14}</string>
      </dict>
      <key>weapon_3028_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{67,10}}</string>
        <key>offset</key>
        <string>{14,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,10}}</string>
        <key>sourceSize</key>
        <string>{67,10}</string>
      </dict>
      <key>weapon_3028_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,116},{21,40}}</string>
        <key>offset</key>
        <string>{-3,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,40}}</string>
        <key>sourceSize</key>
        <string>{21,40}</string>
      </dict>
      <key>weapon_3028_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,125},{15,29}}</string>
        <key>offset</key>
        <string>{6,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,29}}</string>
        <key>sourceSize</key>
        <string>{15,29}</string>
      </dict>
      <key>weapon_3028_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{24,41}}</string>
        <key>offset</key>
        <string>{7,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,41}}</string>
        <key>sourceSize</key>
        <string>{24,41}</string>
      </dict>
      <key>weapon_3028_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,125},{37,39}}</string>
        <key>offset</key>
        <string>{-26,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,39}}</string>
        <key>sourceSize</key>
        <string>{37,39}</string>
      </dict>
      <key>weapon_3028_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,125},{36,22}}</string>
        <key>offset</key>
        <string>{-26,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,22}}</string>
        <key>sourceSize</key>
        <string>{36,22}</string>
      </dict>
      <key>weapon_3028_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,149},{20,27}}</string>
        <key>offset</key>
        <string>{-12,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,27}}</string>
        <key>sourceSize</key>
        <string>{20,27}</string>
      </dict>
      <key>weapon_3028_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,118},{60,8}}</string>
        <key>offset</key>
        <string>{-36,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,8}}</string>
        <key>sourceSize</key>
        <string>{60,8}</string>
      </dict>
      <key>weapon_3028_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,68},{62,11}}</string>
        <key>offset</key>
        <string>{-42,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,11}}</string>
        <key>sourceSize</key>
        <string>{62,11}</string>
      </dict>
      <key>weapon_3028_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{63,11}}</string>
        <key>offset</key>
        <string>{-46,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,11}}</string>
        <key>sourceSize</key>
        <string>{63,11}</string>
      </dict>
      <key>weapon_3028_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{65,31}}</string>
        <key>offset</key>
        <string>{-16,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,31}}</string>
        <key>sourceSize</key>
        <string>{65,31}</string>
      </dict>
      <key>weapon_3028_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,82},{49,41}}</string>
        <key>offset</key>
        <string>{-25,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,41}}</string>
        <key>sourceSize</key>
        <string>{49,41}</string>
      </dict>
      <key>weapon_3028_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,26}}</string>
        <key>offset</key>
        <string>{-36,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,26}}</string>
        <key>sourceSize</key>
        <string>{68,26}</string>
      </dict>
      <key>weapon_3028_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,63},{37,60}}</string>
        <key>offset</key>
        <string>{14,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,60}}</string>
        <key>sourceSize</key>
        <string>{37,60}</string>
      </dict>
      <key>weapon_3028_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{22,66}}</string>
        <key>offset</key>
        <string>{20,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,66}}</string>
        <key>sourceSize</key>
        <string>{22,66}</string>
      </dict>
      <key>weapon_3028_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{35,52}}</string>
        <key>offset</key>
        <string>{4,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,52}}</string>
        <key>sourceSize</key>
        <string>{35,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3028_0_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3028_0_7.png</string>
    </dict>
  </dict>
</plist>