<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3071_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,270},{24,74}}</string>
        <key>offset</key>
        <string>{34,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,74}}</string>
        <key>sourceSize</key>
        <string>{24,74}</string>
      </dict>
      <key>weapon_3071_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{20,107}}</string>
        <key>offset</key>
        <string>{28,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,107}}</string>
        <key>sourceSize</key>
        <string>{20,107}</string>
      </dict>
      <key>weapon_3071_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,382},{19,79}}</string>
        <key>offset</key>
        <string>{20,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,79}}</string>
        <key>sourceSize</key>
        <string>{19,79}</string>
      </dict>
      <key>weapon_3071_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,90},{20,61}}</string>
        <key>offset</key>
        <string>{16,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,61}}</string>
        <key>sourceSize</key>
        <string>{20,61}</string>
      </dict>
      <key>weapon_3071_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,406},{10,93}}</string>
        <key>offset</key>
        <string>{26,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,93}}</string>
        <key>sourceSize</key>
        <string>{10,93}</string>
      </dict>
      <key>weapon_3071_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{14,107}}</string>
        <key>offset</key>
        <string>{31,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,107}}</string>
        <key>sourceSize</key>
        <string>{14,107}</string>
      </dict>
      <key>weapon_3071_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,159},{76,66}}</string>
        <key>offset</key>
        <string>{17,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,66}}</string>
        <key>sourceSize</key>
        <string>{76,66}</string>
      </dict>
      <key>weapon_3071_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,103},{65,97}}</string>
        <key>offset</key>
        <string>{22,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,97}}</string>
        <key>sourceSize</key>
        <string>{65,97}</string>
      </dict>
      <key>weapon_3071_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{36,106}}</string>
        <key>offset</key>
        <string>{32,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,106}}</string>
        <key>sourceSize</key>
        <string>{36,106}</string>
      </dict>
      <key>weapon_3071_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,297},{40,81}}</string>
        <key>offset</key>
        <string>{10,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,81}}</string>
        <key>sourceSize</key>
        <string>{40,81}</string>
      </dict>
      <key>weapon_3071_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,337},{43,105}}</string>
        <key>offset</key>
        <string>{32,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,105}}</string>
        <key>sourceSize</key>
        <string>{43,105}</string>
      </dict>
      <key>weapon_3071_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{77,85}}</string>
        <key>offset</key>
        <string>{19,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,85}}</string>
        <key>sourceSize</key>
        <string>{77,85}</string>
      </dict>
      <key>weapon_3071_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,36}}</string>
        <key>offset</key>
        <string>{-3,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,36}}</string>
        <key>sourceSize</key>
        <string>{113,36}</string>
      </dict>
      <key>weapon_3071_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,208},{99,67}}</string>
        <key>offset</key>
        <string>{9,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,67}}</string>
        <key>sourceSize</key>
        <string>{99,67}</string>
      </dict>
      <key>weapon_3071_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{55,103}}</string>
        <key>offset</key>
        <string>{28,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,103}}</string>
        <key>sourceSize</key>
        <string>{55,103}</string>
      </dict>
      <key>weapon_3071_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{48,110}}</string>
        <key>offset</key>
        <string>{9,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,110}}</string>
        <key>sourceSize</key>
        <string>{48,110}</string>
      </dict>
      <key>weapon_3071_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{84,88}}</string>
        <key>offset</key>
        <string>{20,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>weapon_3071_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{111,48}}</string>
        <key>offset</key>
        <string>{5,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,48}}</string>
        <key>sourceSize</key>
        <string>{111,48}</string>
      </dict>
      <key>weapon_3071_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,227},{68,66}}</string>
        <key>offset</key>
        <string>{-3,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,66}}</string>
        <key>sourceSize</key>
        <string>{68,66}</string>
      </dict>
      <key>weapon_3071_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,469},{85,39}}</string>
        <key>offset</key>
        <string>{0,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,39}}</string>
        <key>sourceSize</key>
        <string>{85,39}</string>
      </dict>
      <key>weapon_3071_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,323},{56,101}}</string>
        <key>offset</key>
        <string>{14,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,101}}</string>
        <key>sourceSize</key>
        <string>{56,101}</string>
      </dict>
      <key>weapon_3071_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,426},{41,101}}</string>
        <key>offset</key>
        <string>{7,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,101}}</string>
        <key>sourceSize</key>
        <string>{41,101}</string>
      </dict>
      <key>weapon_3071_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,296},{65,71}}</string>
        <key>offset</key>
        <string>{11,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,71}}</string>
        <key>sourceSize</key>
        <string>{65,71}</string>
      </dict>
      <key>weapon_3071_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,188},{78,48}}</string>
        <key>offset</key>
        <string>{2,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,48}}</string>
        <key>sourceSize</key>
        <string>{78,48}</string>
      </dict>
      <key>weapon_3071_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,369},{26,56}}</string>
        <key>offset</key>
        <string>{-11,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,56}}</string>
        <key>sourceSize</key>
        <string>{26,56}</string>
      </dict>
      <key>weapon_3071_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{12,58}}</string>
        <key>offset</key>
        <string>{6,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,58}}</string>
        <key>sourceSize</key>
        <string>{12,58}</string>
      </dict>
      <key>weapon_3071_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,221},{15,52}}</string>
        <key>offset</key>
        <string>{11,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,52}}</string>
        <key>sourceSize</key>
        <string>{15,52}</string>
      </dict>
      <key>weapon_3071_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{20,100}}</string>
        <key>offset</key>
        <string>{11,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,100}}</string>
        <key>sourceSize</key>
        <string>{20,100}</string>
      </dict>
      <key>weapon_3071_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,90},{8,38}}</string>
        <key>offset</key>
        <string>{11,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,38}}</string>
        <key>sourceSize</key>
        <string>{8,38}</string>
      </dict>
      <key>weapon_3071_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,484},{18,65}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,65}}</string>
        <key>sourceSize</key>
        <string>{18,65}</string>
      </dict>
      <key>weapon_3071_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,335},{104,38}}</string>
        <key>offset</key>
        <string>{-64,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,38}}</string>
        <key>sourceSize</key>
        <string>{104,38}</string>
      </dict>
      <key>weapon_3071_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,297},{83,37}}</string>
        <key>offset</key>
        <string>{-64,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,37}}</string>
        <key>sourceSize</key>
        <string>{83,37}</string>
      </dict>
      <key>weapon_3071_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,188},{37,80}}</string>
        <key>offset</key>
        <string>{-22,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,80}}</string>
        <key>sourceSize</key>
        <string>{37,80}</string>
      </dict>
      <key>weapon_3071_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,90},{49,82}}</string>
        <key>offset</key>
        <string>{-4,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,82}}</string>
        <key>sourceSize</key>
        <string>{49,82}</string>
      </dict>
      <key>weapon_3071_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,159},{47,60}}</string>
        <key>offset</key>
        <string>{-31,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,60}}</string>
        <key>sourceSize</key>
        <string>{47,60}</string>
      </dict>
      <key>weapon_3071_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,403},{79,36}}</string>
        <key>offset</key>
        <string>{-59,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,36}}</string>
        <key>sourceSize</key>
        <string>{79,36}</string>
      </dict>
      <key>weapon_3071_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,112},{104,62}}</string>
        <key>offset</key>
        <string>{-53,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,62}}</string>
        <key>sourceSize</key>
        <string>{104,62}</string>
      </dict>
      <key>weapon_3071_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,105},{101,66}}</string>
        <key>offset</key>
        <string>{-61,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,66}}</string>
        <key>sourceSize</key>
        <string>{101,66}</string>
      </dict>
      <key>weapon_3071_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{64,101}}</string>
        <key>offset</key>
        <string>{-43,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,101}}</string>
        <key>sourceSize</key>
        <string>{64,101}</string>
      </dict>
      <key>weapon_3071_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{48,95}}</string>
        <key>offset</key>
        <string>{-7,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,95}}</string>
        <key>sourceSize</key>
        <string>{48,95}</string>
      </dict>
      <key>weapon_3071_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,97},{77,89}}</string>
        <key>offset</key>
        <string>{-56,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,89}}</string>
        <key>sourceSize</key>
        <string>{77,89}</string>
      </dict>
      <key>weapon_3071_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{22,228},{105,61}}</string>
        <key>offset</key>
        <string>{-60,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,61}}</string>
        <key>sourceSize</key>
        <string>{105,61}</string>
      </dict>
      <key>weapon_3071_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,309},{55,95}}</string>
        <key>offset</key>
        <string>{-3,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,95}}</string>
        <key>sourceSize</key>
        <string>{55,95}</string>
      </dict>
      <key>weapon_3071_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,202},{72,93}}</string>
        <key>offset</key>
        <string>{-25,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,93}}</string>
        <key>sourceSize</key>
        <string>{72,93}</string>
      </dict>
      <key>weapon_3071_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{62,89}}</string>
        <key>offset</key>
        <string>{-30,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,89}}</string>
        <key>sourceSize</key>
        <string>{62,89}</string>
      </dict>
      <key>weapon_3071_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,218},{27,103}}</string>
        <key>offset</key>
        <string>{-7,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,103}}</string>
        <key>sourceSize</key>
        <string>{27,103}</string>
      </dict>
      <key>weapon_3071_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,418},{71,90}}</string>
        <key>offset</key>
        <string>{-31,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,90}}</string>
        <key>sourceSize</key>
        <string>{71,90}</string>
      </dict>
      <key>weapon_3071_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,79},{78,84}}</string>
        <key>offset</key>
        <string>{-31,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,84}}</string>
        <key>sourceSize</key>
        <string>{78,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3071_1_5.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_3071_1_5.png</string>
    </dict>
  </dict>
</plist>