<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0278_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{247,165}}</string>
        <key>offset</key>
        <string>{4,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{247,165}</string>
        <key>sourceSize</key>
        <string>{247,165}</string>
      </dict>
      <key>weapon_0278_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,701},{201,195}}</string>
        <key>offset</key>
        <string>{18,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{201,195}</string>
        <key>sourceSize</key>
        <string>{201,195}</string>
      </dict>
      <key>weapon_0278_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,0},{148,170}}</string>
        <key>offset</key>
        <string>{18,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{148,170}</string>
        <key>sourceSize</key>
        <string>{148,170}</string>
      </dict>
      <key>weapon_0278_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,508},{230,103}}</string>
        <key>offset</key>
        <string>{-10,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{230,103}</string>
        <key>sourceSize</key>
        <string>{230,103}</string>
      </dict>
      <key>weapon_0278_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,442},{191,139}}</string>
        <key>offset</key>
        <string>{0,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{191,139}</string>
        <key>sourceSize</key>
        <string>{191,139}</string>
      </dict>
      <key>weapon_0278_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,257},{249,119}}</string>
        <key>offset</key>
        <string>{2,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{249,119}</string>
        <key>sourceSize</key>
        <string>{249,119}</string>
      </dict>
      <key>weapon_0278_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,174},{94,106}}</string>
        <key>offset</key>
        <string>{-21,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{94,106}</string>
        <key>sourceSize</key>
        <string>{94,106}</string>
      </dict>
      <key>weapon_0278_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,0},{112,103}}</string>
        <key>offset</key>
        <string>{-27,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{112,103}</string>
        <key>sourceSize</key>
        <string>{112,103}</string>
      </dict>
      <key>weapon_0278_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,125}}</string>
        <key>offset</key>
        <string>{-14,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{255,125}</string>
        <key>sourceSize</key>
        <string>{255,125}</string>
      </dict>
      <key>weapon_0278_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,150},{166,116}}</string>
        <key>offset</key>
        <string>{-141,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{166,116}</string>
        <key>sourceSize</key>
        <string>{166,116}</string>
      </dict>
      <key>weapon_0278_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,150},{147,111}}</string>
        <key>offset</key>
        <string>{-112,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{147,111}</string>
        <key>sourceSize</key>
        <string>{147,111}</string>
      </dict>
      <key>weapon_0278_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{101,172}}</string>
        <key>offset</key>
        <string>{-29,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{101,172}</string>
        <key>sourceSize</key>
        <string>{101,172}</string>
      </dict>
      <key>weapon_0278_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,761},{237,125}}</string>
        <key>offset</key>
        <string>{-199,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{237,125}</string>
        <key>sourceSize</key>
        <string>{237,125}</string>
      </dict>
      <key>weapon_0278_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,477},{222,172}}</string>
        <key>offset</key>
        <string>{-183,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{222,172}</string>
        <key>sourceSize</key>
        <string>{222,172}</string>
      </dict>
      <key>weapon_0278_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,206},{186,140}}</string>
        <key>offset</key>
        <string>{-146,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{186,140}</string>
        <key>sourceSize</key>
        <string>{186,140}</string>
      </dict>
      <key>weapon_0278_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{204,197}}</string>
        <key>offset</key>
        <string>{-140,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{204,197}</string>
        <key>sourceSize</key>
        <string>{204,197}</string>
      </dict>
      <key>weapon_0278_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,740},{180,223}}</string>
        <key>offset</key>
        <string>{-129,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{180,223}</string>
        <key>sourceSize</key>
        <string>{180,223}</string>
      </dict>
      <key>weapon_0278_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{250,105}}</string>
        <key>offset</key>
        <string>{-199,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{250,105}</string>
        <key>sourceSize</key>
        <string>{250,105}</string>
      </dict>
      <key>weapon_0278_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,249},{110,226}}</string>
        <key>offset</key>
        <string>{-27,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{110,226}</string>
        <key>sourceSize</key>
        <string>{110,226}</string>
      </dict>
      <key>weapon_0278_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,761},{111,231}}</string>
        <key>offset</key>
        <string>{-35,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{111,231}</string>
        <key>sourceSize</key>
        <string>{111,231}</string>
      </dict>
      <key>weapon_0278_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,227},{213,157}}</string>
        <key>offset</key>
        <string>{-147,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{213,157}</string>
        <key>sourceSize</key>
        <string>{213,157}</string>
      </dict>
      <key>weapon_0278_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{143,225}}</string>
        <key>offset</key>
        <string>{21,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,225}</string>
        <key>sourceSize</key>
        <string>{143,225}</string>
      </dict>
      <key>weapon_0278_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,509},{145,250}}</string>
        <key>offset</key>
        <string>{3,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{145,250}</string>
        <key>sourceSize</key>
        <string>{145,250}</string>
      </dict>
      <key>weapon_0278_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,904},{97,200}}</string>
        <key>offset</key>
        <string>{-19,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{97,200}</string>
        <key>sourceSize</key>
        <string>{97,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0278_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0278_0_7.png</string>
    </dict>
  </dict>
</plist>