<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0259_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,734},{128,152}}</string>
        <key>offset</key>
        <string>{-48,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{76,59},{128,152}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,832},{188,36}}</string>
        <key>offset</key>
        <string>{-160,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{39,105},{188,36}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,172},{92,102}}</string>
        <key>offset</key>
        <string>{-116,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{87,84},{92,102}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,360},{68,150}}</string>
        <key>offset</key>
        <string>{-70,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{109,52},{68,150}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,0},{116,82}}</string>
        <key>offset</key>
        <string>{-138,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{63,92},{116,82}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{60,186}}</string>
        <key>offset</key>
        <string>{-110,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{99,42},{60,186}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,888},{120,132}}</string>
        <key>offset</key>
        <string>{-57,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{90,61},{120,132}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,208},{202,106}}</string>
        <key>offset</key>
        <string>{-187,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{39,72},{202,106}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,692},{210,32}}</string>
        <key>offset</key>
        <string>{-156,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{29,109},{210,32}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,394},{48,180}}</string>
        <key>offset</key>
        <string>{-72,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{118,30},{48,180}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,84},{112,72}}</string>
        <key>offset</key>
        <string>{-56,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,99},{112,72}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,570},{142,162}}</string>
        <key>offset</key>
        <string>{-43,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{67,57},{142,162}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,988},{30,122}}</string>
        <key>offset</key>
        <string>{-108,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{122,66},{30,122}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,756},{108,164}}</string>
        <key>offset</key>
        <string>{-170,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,52},{108,164}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,398},{188,106}}</string>
        <key>offset</key>
        <string>{-161,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,75},{188,106}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,804},{64,178}}</string>
        <key>offset</key>
        <string>{-90,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{107,40},{64,178}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{206,56}}</string>
        <key>offset</key>
        <string>{-24,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{25,113},{206,56}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{234,72}}</string>
        <key>offset</key>
        <string>{-23,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{17,107},{234,72}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,702},{98,132}}</string>
        <key>offset</key>
        <string>{-151,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{80,68},{98,132}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,216},{50,208}}</string>
        <key>offset</key>
        <string>{-132,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{94,24},{50,208}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,394},{116,174}}</string>
        <key>offset</key>
        <string>{-152,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,47},{116,174}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,204},{50,192}}</string>
        <key>offset</key>
        <string>{-113,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{113,40},{50,192}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,204},{188,134}}</string>
        <key>offset</key>
        <string>{-41,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{28,71},{188,134}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,632},{198,90}}</string>
        <key>offset</key>
        <string>{-48,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,102},{198,90}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,188},{144,170}}</string>
        <key>offset</key>
        <string>{-173,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{45,53},{144,170}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{166,186}}</string>
        <key>offset</key>
        <string>{-63,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{40,27},{166,186}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,426},{76,204}}</string>
        <key>offset</key>
        <string>{-109,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{82,21},{76,204}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,692},{68,210}}</string>
        <key>offset</key>
        <string>{-145,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,32},{68,210}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,922},{88,164}}</string>
        <key>offset</key>
        <string>{-85,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{90,42},{88,164}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,512},{48,140}}</string>
        <key>offset</key>
        <string>{-110,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{105,77},{48,140}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{124,214}}</string>
        <key>offset</key>
        <string>{-159,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,28},{124,214}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,236},{218,108}}</string>
        <key>offset</key>
        <string>{-23,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{19,62},{218,108}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{202,156}}</string>
        <key>offset</key>
        <string>{-62,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{25,38},{202,156}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,696},{58,224}}</string>
        <key>offset</key>
        <string>{-146,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,18},{58,224}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,668},{80,206}}</string>
        <key>offset</key>
        <string>{-142,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{104,35},{80,206}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{132,120}}</string>
        <key>offset</key>
        <string>{-167,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{64,86},{132,120}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{66,230}}</string>
        <key>offset</key>
        <string>{-114,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{86,17},{66,230}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{170,52}}</string>
        <key>offset</key>
        <string>{-26,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{57,98},{170,52}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,468},{222,74}}</string>
        <key>offset</key>
        <string>{-43,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{23,80},{222,74}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,456},{66,210}}</string>
        <key>offset</key>
        <string>{-131,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{85,20},{66,210}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,610},{192,152}}</string>
        <key>offset</key>
        <string>{-187,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,71},{192,152}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{226,56}}</string>
        <key>offset</key>
        <string>{-189,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{19,115},{226,56}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,412},{68,196}}</string>
        <key>offset</key>
        <string>{-76,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{89,36},{68,196}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,0},{42,96}}</string>
        <key>offset</key>
        <string>{-95,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{111,87},{42,96}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,562},{138,94}}</string>
        <key>offset</key>
        <string>{-58,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,85},{138,94}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,576},{58,178}}</string>
        <key>offset</key>
        <string>{-104,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{94,36},{58,178}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,922},{212,72}}</string>
        <key>offset</key>
        <string>{-184,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{25,109},{212,72}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
      <key>weapon_0259_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,876},{200,110}}</string>
        <key>offset</key>
        <string>{-167,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{30,87},{200,110}}</string>
        <key>sourceSize</key>
        <string>{264,264}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0259_1_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0259_1_2.png</string>
    </dict>
  </dict>
</plist>