<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3067_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{72,87}}</string>
        <key>offset</key>
        <string>{22,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,87}}</string>
        <key>sourceSize</key>
        <string>{72,87}</string>
      </dict>
      <key>weapon_3067_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,74},{71,70}}</string>
        <key>offset</key>
        <string>{9,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,70}}</string>
        <key>sourceSize</key>
        <string>{71,70}</string>
      </dict>
      <key>weapon_3067_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,212},{33,34}}</string>
        <key>offset</key>
        <string>{6,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,34}}</string>
        <key>sourceSize</key>
        <string>{33,34}</string>
      </dict>
      <key>weapon_3067_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{33,67}}</string>
        <key>offset</key>
        <string>{-17,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,67}}</string>
        <key>sourceSize</key>
        <string>{33,67}</string>
      </dict>
      <key>weapon_3067_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,111},{64,99}}</string>
        <key>offset</key>
        <string>{-41,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,99}}</string>
        <key>sourceSize</key>
        <string>{64,99}</string>
      </dict>
      <key>weapon_3067_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{60,96}}</string>
        <key>offset</key>
        <string>{-28,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,96}}</string>
        <key>sourceSize</key>
        <string>{60,96}</string>
      </dict>
      <key>weapon_3067_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{23,101}}</string>
        <key>offset</key>
        <string>{17,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,101}}</string>
        <key>sourceSize</key>
        <string>{23,101}</string>
      </dict>
      <key>weapon_3067_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{38,109}}</string>
        <key>offset</key>
        <string>{30,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,109}}</string>
        <key>sourceSize</key>
        <string>{38,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3067_1_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3067_1_11.png</string>
    </dict>
  </dict>
</plist>