<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21051_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{115,93}}</string>
        <key>offset</key>
        <string>{-8,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,93}}</string>
        <key>sourceSize</key>
        <string>{115,93}</string>
      </dict>
      <key>weapon_21051_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,381},{118,102}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,102}}</string>
        <key>sourceSize</key>
        <string>{118,102}</string>
      </dict>
      <key>weapon_21051_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,131},{127,82}}</string>
        <key>offset</key>
        <string>{-16,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,82}}</string>
        <key>sourceSize</key>
        <string>{127,82}</string>
      </dict>
      <key>weapon_21051_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,316},{85,73}}</string>
        <key>offset</key>
        <string>{-9,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,73}}</string>
        <key>sourceSize</key>
        <string>{85,73}</string>
      </dict>
      <key>weapon_21051_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{100,78}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,78}}</string>
        <key>sourceSize</key>
        <string>{100,78}</string>
      </dict>
      <key>weapon_21051_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,255},{87,59}}</string>
        <key>offset</key>
        <string>{-12,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,59}}</string>
        <key>sourceSize</key>
        <string>{87,59}</string>
      </dict>
      <key>weapon_21051_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,391},{59,73}}</string>
        <key>offset</key>
        <string>{-24,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,73}}</string>
        <key>sourceSize</key>
        <string>{59,73}</string>
      </dict>
      <key>weapon_21051_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,391},{47,70}}</string>
        <key>offset</key>
        <string>{-15,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,70}}</string>
        <key>sourceSize</key>
        <string>{47,70}</string>
      </dict>
      <key>weapon_21051_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,440},{58,60}}</string>
        <key>offset</key>
        <string>{-22,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,60}}</string>
        <key>sourceSize</key>
        <string>{58,60}</string>
      </dict>
      <key>weapon_21051_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,80},{100,90}}</string>
        <key>offset</key>
        <string>{-54,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,90}}</string>
        <key>sourceSize</key>
        <string>{100,90}</string>
      </dict>
      <key>weapon_21051_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,172},{89,81}}</string>
        <key>offset</key>
        <string>{-48,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,81}}</string>
        <key>sourceSize</key>
        <string>{89,81}</string>
      </dict>
      <key>weapon_21051_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,117},{112,75}}</string>
        <key>offset</key>
        <string>{-59,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,75}}</string>
        <key>sourceSize</key>
        <string>{112,75}</string>
      </dict>
      <key>weapon_21051_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,123},{116,116}}</string>
        <key>offset</key>
        <string>{-61,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,116}}</string>
        <key>sourceSize</key>
        <string>{116,116}</string>
      </dict>
      <key>weapon_21051_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,260},{119,106}}</string>
        <key>offset</key>
        <string>{-61,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
      <key>weapon_21051_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,404},{127,106}}</string>
        <key>offset</key>
        <string>{-64,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,106}}</string>
        <key>sourceSize</key>
        <string>{127,106}</string>
      </dict>
      <key>weapon_21051_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{86,135}}</string>
        <key>offset</key>
        <string>{-30,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,135}}</string>
        <key>sourceSize</key>
        <string>{86,135}</string>
      </dict>
      <key>weapon_21051_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{101,129}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,129}}</string>
        <key>sourceSize</key>
        <string>{101,129}</string>
      </dict>
      <key>weapon_21051_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,417},{88,129}}</string>
        <key>offset</key>
        <string>{-28,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,129}}</string>
        <key>sourceSize</key>
        <string>{88,129}</string>
      </dict>
      <key>weapon_21051_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{59,138}}</string>
        <key>offset</key>
        <string>{12,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,138}}</string>
        <key>sourceSize</key>
        <string>{59,138}</string>
      </dict>
      <key>weapon_21051_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{48,138}}</string>
        <key>offset</key>
        <string>{14,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,138}}</string>
        <key>sourceSize</key>
        <string>{48,138}</string>
      </dict>
      <key>weapon_21051_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,140},{60,132}}</string>
        <key>offset</key>
        <string>{10,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,132}}</string>
        <key>sourceSize</key>
        <string>{60,132}</string>
      </dict>
      <key>weapon_21051_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{100,121}}</string>
        <key>offset</key>
        <string>{1,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,121}}</string>
        <key>sourceSize</key>
        <string>{100,121}</string>
      </dict>
      <key>weapon_21051_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,274},{89,128}}</string>
        <key>offset</key>
        <string>{6,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,128}}</string>
        <key>sourceSize</key>
        <string>{89,128}</string>
      </dict>
      <key>weapon_21051_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,241},{112,113}}</string>
        <key>offset</key>
        <string>{-6,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,113}}</string>
        <key>sourceSize</key>
        <string>{112,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21051_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_21051_0_7.png</string>
    </dict>
  </dict>
</plist>