<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21013_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,90},{8,21}}</string>
        <key>offset</key>
        <string>{31,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,21}}</string>
        <key>sourceSize</key>
        <string>{8,21}</string>
      </dict>
      <key>weapon_21013_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{12,38}}</string>
        <key>offset</key>
        <string>{24,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,38}}</string>
        <key>sourceSize</key>
        <string>{12,38}</string>
      </dict>
      <key>weapon_21013_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{48,21}}</string>
        <key>offset</key>
        <string>{23,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,21}}</string>
        <key>sourceSize</key>
        <string>{48,21}</string>
      </dict>
      <key>weapon_21013_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,90},{50,35}}</string>
        <key>offset</key>
        <string>{37,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,35}}</string>
        <key>sourceSize</key>
        <string>{50,35}</string>
      </dict>
      <key>weapon_21013_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,19}}</string>
        <key>offset</key>
        <string>{9,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,19}}</string>
        <key>sourceSize</key>
        <string>{80,19}</string>
      </dict>
      <key>weapon_21013_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{80,18}}</string>
        <key>offset</key>
        <string>{33,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,18}}</string>
        <key>sourceSize</key>
        <string>{80,18}</string>
      </dict>
      <key>weapon_21013_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{66,40}}</string>
        <key>offset</key>
        <string>{4,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,40}}</string>
        <key>sourceSize</key>
        <string>{66,40}</string>
      </dict>
      <key>weapon_21013_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,102},{64,22}}</string>
        <key>offset</key>
        <string>{23,-10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,22}}</string>
        <key>sourceSize</key>
        <string>{64,22}</string>
      </dict>
      <key>weapon_21013_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,50},{13,33}}</string>
        <key>offset</key>
        <string>{11,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,33}}</string>
        <key>sourceSize</key>
        <string>{13,33}</string>
      </dict>
      <key>weapon_21013_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,58},{8,54}}</string>
        <key>offset</key>
        <string>{15,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,54}}</string>
        <key>sourceSize</key>
        <string>{8,54}</string>
      </dict>
      <key>weapon_21013_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{43,56}}</string>
        <key>offset</key>
        <string>{-21,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,56}}</string>
        <key>sourceSize</key>
        <string>{43,56}</string>
      </dict>
      <key>weapon_21013_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{43,39}}</string>
        <key>offset</key>
        <string>{-32,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,39}}</string>
        <key>sourceSize</key>
        <string>{43,39}</string>
      </dict>
      <key>weapon_21013_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{21,0},{73,39}}</string>
        <key>offset</key>
        <string>{-37,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,39}}</string>
        <key>sourceSize</key>
        <string>{73,39}</string>
      </dict>
      <key>weapon_21013_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{74,23}}</string>
        <key>offset</key>
        <string>{-61,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,23}}</string>
        <key>sourceSize</key>
        <string>{74,23}</string>
      </dict>
      <key>weapon_21013_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,68},{63,20}}</string>
        <key>offset</key>
        <string>{-18,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,20}}</string>
        <key>sourceSize</key>
        <string>{63,20}</string>
      </dict>
      <key>weapon_21013_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{63,23}}</string>
        <key>offset</key>
        <string>{-47,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,23}}</string>
        <key>sourceSize</key>
        <string>{63,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21013_1_8.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>weapon_21013_1_8.png</string>
    </dict>
  </dict>
</plist>