<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3039_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{77,91}}</string>
        <key>offset</key>
        <string>{32,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,91}}</string>
        <key>sourceSize</key>
        <string>{77,91}</string>
      </dict>
      <key>weapon_3039_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{56,64}}</string>
        <key>offset</key>
        <string>{30,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>weapon_3039_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,58},{18,40}}</string>
        <key>offset</key>
        <string>{18,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,40}}</string>
        <key>sourceSize</key>
        <string>{18,40}</string>
      </dict>
      <key>weapon_3039_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,58},{58,61}}</string>
        <key>offset</key>
        <string>{-36,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,61}}</string>
        <key>sourceSize</key>
        <string>{58,61}</string>
      </dict>
      <key>weapon_3039_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,121},{69,99}}</string>
        <key>offset</key>
        <string>{-55,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,99}}</string>
        <key>sourceSize</key>
        <string>{69,99}</string>
      </dict>
      <key>weapon_3039_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{44,125}}</string>
        <key>offset</key>
        <string>{-32,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,125}}</string>
        <key>sourceSize</key>
        <string>{44,125}</string>
      </dict>
      <key>weapon_3039_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{22,127}}</string>
        <key>offset</key>
        <string>{11,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,127}}</string>
        <key>sourceSize</key>
        <string>{22,127}</string>
      </dict>
      <key>weapon_3039_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{44,119}}</string>
        <key>offset</key>
        <string>{29,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,119}}</string>
        <key>sourceSize</key>
        <string>{44,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3039_0_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3039_0_11.png</string>
    </dict>
  </dict>
</plist>