<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21009_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,638},{62,88}}</string>
        <key>offset</key>
        <string>{9,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{62,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>weapon_21009_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,544},{62,92}}</string>
        <key>offset</key>
        <string>{9,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,92}}</string>
        <key>sourceSize</key>
        <string>{68,93}</string>
      </dict>
      <key>weapon_21009_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,254},{62,88}}</string>
        <key>offset</key>
        <string>{9,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{62,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>weapon_21009_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,550},{62,88}}</string>
        <key>offset</key>
        <string>{9,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{62,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>weapon_21009_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,780},{132,86}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,86}}</string>
        <key>sourceSize</key>
        <string>{133,88}</string>
      </dict>
      <key>weapon_21009_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,396},{132,84}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,1},{132,84}}</string>
        <key>sourceSize</key>
        <string>{133,88}</string>
      </dict>
      <key>weapon_21009_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,654},{132,84}}</string>
        <key>offset</key>
        <string>{-4,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,2},{132,84}}</string>
        <key>sourceSize</key>
        <string>{133,88}</string>
      </dict>
      <key>weapon_21009_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,120},{132,84}}</string>
        <key>offset</key>
        <string>{-4,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,3},{132,84}}</string>
        <key>sourceSize</key>
        <string>{133,88}</string>
      </dict>
      <key>weapon_21009_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{226,226}}</string>
        <key>offset</key>
        <string>{-88,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{226,226}}</string>
        <key>sourceSize</key>
        <string>{228,233}</string>
      </dict>
      <key>weapon_21009_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,526},{226,226}}</string>
        <key>offset</key>
        <string>{-88,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,5},{226,226}}</string>
        <key>sourceSize</key>
        <string>{228,233}</string>
      </dict>
      <key>weapon_21009_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,754},{226,226}}</string>
        <key>offset</key>
        <string>{-88,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,0},{226,226}}</string>
        <key>sourceSize</key>
        <string>{228,228}</string>
      </dict>
      <key>weapon_21009_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,228},{226,226}}</string>
        <key>offset</key>
        <string>{-88,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,0},{226,226}}</string>
        <key>sourceSize</key>
        <string>{228,228}</string>
      </dict>
      <key>weapon_21009_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,122}}</string>
        <key>offset</key>
        <string>{-140,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,122}}</string>
        <key>sourceSize</key>
        <string>{293,123}</string>
      </dict>
      <key>weapon_21009_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{288,122}}</string>
        <key>offset</key>
        <string>{-140,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,122}}</string>
        <key>sourceSize</key>
        <string>{293,123}</string>
      </dict>
      <key>weapon_21009_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{288,128}}</string>
        <key>offset</key>
        <string>{-142,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,-1},{288,128}}</string>
        <key>sourceSize</key>
        <string>{293,128}</string>
      </dict>
      <key>weapon_21009_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,870},{288,122}}</string>
        <key>offset</key>
        <string>{-142,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,0},{288,122}}</string>
        <key>sourceSize</key>
        <string>{293,123}</string>
      </dict>
      <key>weapon_21009_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,198},{126,194}}</string>
        <key>offset</key>
        <string>{-29,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{6,3},{126,194}}</string>
        <key>sourceSize</key>
        <string>{133,198}</string>
      </dict>
      <key>weapon_21009_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{196,188}}</string>
        <key>offset</key>
        <string>{-96,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{196,188}}</string>
        <key>sourceSize</key>
        <string>{198,193}</string>
      </dict>
      <key>weapon_21009_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,456},{196,192}}</string>
        <key>offset</key>
        <string>{-100,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,5},{196,192}}</string>
        <key>sourceSize</key>
        <string>{203,198}</string>
      </dict>
      <key>weapon_21009_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,198},{196,142}}</string>
        <key>offset</key>
        <string>{-101,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,0},{196,142}}</string>
        <key>sourceSize</key>
        <string>{203,143}</string>
      </dict>
      <key>weapon_21009_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{140,118}}</string>
        <key>offset</key>
        <string>{-81,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{140,118}}</string>
        <key>sourceSize</key>
        <string>{143,118}</string>
      </dict>
      <key>weapon_21009_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,0},{140,118}}</string>
        <key>offset</key>
        <string>{-81,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{140,118}}</string>
        <key>sourceSize</key>
        <string>{143,118}</string>
      </dict>
      <key>weapon_21009_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,326},{140,118}}</string>
        <key>offset</key>
        <string>{-82,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{140,118}}</string>
        <key>sourceSize</key>
        <string>{143,118}</string>
      </dict>
      <key>weapon_21009_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,326},{132,112}}</string>
        <key>offset</key>
        <string>{-80,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,112}}</string>
        <key>sourceSize</key>
        <string>{133,113}</string>
      </dict>
      <key>weapon_21009_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{274,180}}</string>
        <key>offset</key>
        <string>{-128,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,3},{274,180}}</string>
        <key>sourceSize</key>
        <string>{283,188}</string>
      </dict>
      <key>weapon_21009_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,276},{248,148}}</string>
        <key>offset</key>
        <string>{-99,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,5},{248,148}}</string>
        <key>sourceSize</key>
        <string>{253,158}</string>
      </dict>
      <key>weapon_21009_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,276},{250,76}}</string>
        <key>offset</key>
        <string>{-99,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,3},{250,76}}</string>
        <key>sourceSize</key>
        <string>{253,83}</string>
      </dict>
      <key>weapon_21009_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,528},{250,76}}</string>
        <key>offset</key>
        <string>{-99,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,3},{250,76}}</string>
        <key>sourceSize</key>
        <string>{253,83}</string>
      </dict>
      <key>weapon_21009_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,440},{120,102}}</string>
        <key>offset</key>
        <string>{-61,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,5},{120,102}}</string>
        <key>sourceSize</key>
        <string>{123,108}</string>
      </dict>
      <key>weapon_21009_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,446},{118,102}}</string>
        <key>offset</key>
        <string>{-60,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,0},{118,102}}</string>
        <key>sourceSize</key>
        <string>{123,103}</string>
      </dict>
      <key>weapon_21009_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,544},{118,102}}</string>
        <key>offset</key>
        <string>{-60,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,0},{118,102}}</string>
        <key>sourceSize</key>
        <string>{123,103}</string>
      </dict>
      <key>weapon_21009_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,550},{116,100}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,2},{116,100}}</string>
        <key>sourceSize</key>
        <string>{123,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21009_1_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_21009_1_0.png</string>
    </dict>
  </dict>
</plist>