<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21005_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,386},{138,122}}</string>
        <key>offset</key>
        <string>{-63,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,122}}</string>
        <key>sourceSize</key>
        <string>{139,123}</string>
      </dict>
      <key>weapon_21005_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,442},{66,212}}</string>
        <key>offset</key>
        <string>{-5,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,212}}</string>
        <key>sourceSize</key>
        <string>{67,213}</string>
      </dict>
      <key>weapon_21005_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,386},{92,136}}</string>
        <key>offset</key>
        <string>{10,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{92,136}}</string>
        <key>sourceSize</key>
        <string>{92,136}</string>
      </dict>
      <key>weapon_21005_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{178,186}}</string>
        <key>offset</key>
        <string>{-19,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,0},{178,186}}</string>
        <key>sourceSize</key>
        <string>{178,187}</string>
      </dict>
      <key>weapon_21005_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{192,146}}</string>
        <key>offset</key>
        <string>{-5,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{192,146}}</string>
        <key>sourceSize</key>
        <string>{192,147}</string>
      </dict>
      <key>weapon_21005_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,156}}</string>
        <key>offset</key>
        <string>{-45,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{244,156}}</string>
        <key>sourceSize</key>
        <string>{244,156}</string>
      </dict>
      <key>weapon_21005_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,224},{216,176}}</string>
        <key>offset</key>
        <string>{-37,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{216,176}}</string>
        <key>sourceSize</key>
        <string>{216,176}</string>
      </dict>
      <key>weapon_21005_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,112},{176,170}}</string>
        <key>offset</key>
        <string>{-27,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{176,170}}</string>
        <key>sourceSize</key>
        <string>{176,170}</string>
      </dict>
      <key>weapon_21005_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,0},{110,182}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{110,182}}</string>
        <key>sourceSize</key>
        <string>{110,183}</string>
      </dict>
      <key>weapon_21005_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,404},{58,144}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,-1},{58,144}}</string>
        <key>sourceSize</key>
        <string>{58,144}</string>
      </dict>
      <key>weapon_21005_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{92,242}}</string>
        <key>offset</key>
        <string>{-53,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,-1},{92,242}}</string>
        <key>sourceSize</key>
        <string>{93,242}</string>
      </dict>
      <key>weapon_21005_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,194},{176,190}}</string>
        <key>offset</key>
        <string>{-110,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,190}}</string>
        <key>sourceSize</key>
        <string>{177,191}</string>
      </dict>
      <key>weapon_21005_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{200,198}}</string>
        <key>offset</key>
        <string>{-138,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,-1},{200,198}}</string>
        <key>sourceSize</key>
        <string>{201,198}</string>
      </dict>
      <key>weapon_21005_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,246},{240,142}}</string>
        <key>offset</key>
        <string>{-147,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,142}}</string>
        <key>sourceSize</key>
        <string>{241,143}</string>
      </dict>
      <key>weapon_21005_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{222,150}}</string>
        <key>offset</key>
        <string>{-147,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,150}}</string>
        <key>sourceSize</key>
        <string>{223,151}</string>
      </dict>
      <key>weapon_21005_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,202},{190,200}}</string>
        <key>offset</key>
        <string>{-101,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,200}}</string>
        <key>sourceSize</key>
        <string>{191,201}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21005_1_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_21005_1_8.png</string>
    </dict>
  </dict>
</plist>