<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20002_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,942},{74,138}}</string>
        <key>offset</key>
        <string>{-200,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,101},{74,138}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,826},{84,162}}</string>
        <key>offset</key>
        <string>{-196,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{217,84},{84,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,938},{82,170}}</string>
        <key>offset</key>
        <string>{-196,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,73},{82,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,308},{82,142}}</string>
        <key>offset</key>
        <string>{-196,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{218,94},{82,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,166},{194,140}}</string>
        <key>offset</key>
        <string>{-141,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{217,116},{194,140}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{198,144}}</string>
        <key>offset</key>
        <string>{-139,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{217,104},{198,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,206},{202,150}}</string>
        <key>offset</key>
        <string>{-136,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{218,98},{202,150}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,308},{194,142}}</string>
        <key>offset</key>
        <string>{-140,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{218,113},{194,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,500},{226,134}}</string>
        <key>offset</key>
        <string>{-140,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,169},{226,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{228,134}}</string>
        <key>offset</key>
        <string>{-139,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,156},{228,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{228,130}}</string>
        <key>offset</key>
        <string>{-139,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,158},{228,130}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,750},{228,134}}</string>
        <key>offset</key>
        <string>{-139,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{202,161},{228,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{168,202}}</string>
        <key>offset</key>
        <string>{-177,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{194,156},{168,202}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,772},{168,174}}</string>
        <key>offset</key>
        <string>{-173,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{198,171},{168,174}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,826},{176,170}}</string>
        <key>offset</key>
        <string>{-175,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{192,171},{176,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,600},{170,192}}</string>
        <key>offset</key>
        <string>{-170,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{200,158},{170,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,230},{108,206}}</string>
        <key>offset</key>
        <string>{-219,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{182,142},{108,206}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,624},{94,190}}</string>
        <key>offset</key>
        <string>{-219,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{189,139},{94,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,614},{98,156}}</string>
        <key>offset</key>
        <string>{-219,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{187,162},{98,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,720},{104,190}}</string>
        <key>offset</key>
        <string>{-220,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{183,145},{104,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,728},{208,192}}</string>
        <key>offset</key>
        <string>{-269,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{82,142},{208,192}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,204},{200,188}}</string>
        <key>offset</key>
        <string>{-276,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{79,142},{200,188}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,500},{208,180}}</string>
        <key>offset</key>
        <string>{-275,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,144},{208,180}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{204,188}}</string>
        <key>offset</key>
        <string>{-273,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{80,146},{204,188}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{246,136}}</string>
        <key>offset</key>
        <string>{-283,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{49,140},{246,136}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,504},{244,140}}</string>
        <key>offset</key>
        <string>{-284,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{49,128},{244,140}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,256},{242,142}}</string>
        <key>offset</key>
        <string>{-286,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{48,120},{242,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{254,146}}</string>
        <key>offset</key>
        <string>{-282,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,126},{254,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,452},{194,146}}</string>
        <key>offset</key>
        <string>{-239,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{119,98},{194,146}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,452},{194,170}}</string>
        <key>offset</key>
        <string>{-242,291}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,79},{194,170}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,0},{198,164}}</string>
        <key>offset</key>
        <string>{-240,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{116,81},{198,164}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_20002_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,410},{202,158}}</string>
        <key>offset</key>
        <string>{-239,287}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{115,89},{202,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20002_1_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20002_1_0.png</string>
    </dict>
  </dict>
</plist>