<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3027_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,127},{13,28}}</string>
        <key>offset</key>
        <string>{31,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,28}}</string>
        <key>sourceSize</key>
        <string>{13,28}</string>
      </dict>
      <key>weapon_3027_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,74},{10,24}}</string>
        <key>offset</key>
        <string>{31,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,24}}</string>
        <key>sourceSize</key>
        <string>{10,24}</string>
      </dict>
      <key>weapon_3027_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,74},{57,14}}</string>
        <key>offset</key>
        <string>{7,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,14}}</string>
        <key>sourceSize</key>
        <string>{57,14}</string>
      </dict>
      <key>weapon_3027_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,73},{60,34}}</string>
        <key>offset</key>
        <string>{20,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,34}}</string>
        <key>sourceSize</key>
        <string>{60,34}</string>
      </dict>
      <key>weapon_3027_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{91,16}}</string>
        <key>offset</key>
        <string>{-18,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,16}}</string>
        <key>sourceSize</key>
        <string>{91,16}</string>
      </dict>
      <key>weapon_3027_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,93},{91,16}}</string>
        <key>offset</key>
        <string>{6,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,16}}</string>
        <key>sourceSize</key>
        <string>{91,16}</string>
      </dict>
      <key>weapon_3027_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{71,56}}</string>
        <key>offset</key>
        <string>{-17,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,56}}</string>
        <key>sourceSize</key>
        <string>{71,56}</string>
      </dict>
      <key>weapon_3027_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{71,31}}</string>
        <key>offset</key>
        <string>{1,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,31}}</string>
        <key>sourceSize</key>
        <string>{71,31}</string>
      </dict>
      <key>weapon_3027_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,127},{17,48}}</string>
        <key>offset</key>
        <string>{4,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,48}}</string>
        <key>sourceSize</key>
        <string>{17,48}</string>
      </dict>
      <key>weapon_3027_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,58},{11,69}}</string>
        <key>offset</key>
        <string>{11,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,69}}</string>
        <key>sourceSize</key>
        <string>{11,69}</string>
      </dict>
      <key>weapon_3027_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{52,72}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,72}}</string>
        <key>sourceSize</key>
        <string>{52,72}</string>
      </dict>
      <key>weapon_3027_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{50,54}}</string>
        <key>offset</key>
        <string>{-27,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>weapon_3027_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{81,49}}</string>
        <key>offset</key>
        <string>{-21,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,49}}</string>
        <key>sourceSize</key>
        <string>{81,49}</string>
      </dict>
      <key>weapon_3027_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,0},{88,23}}</string>
        <key>offset</key>
        <string>{-47,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,23}}</string>
        <key>sourceSize</key>
        <string>{88,23}</string>
      </dict>
      <key>weapon_3027_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,71},{68,18}}</string>
        <key>offset</key>
        <string>{-2,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,18}}</string>
        <key>sourceSize</key>
        <string>{68,18}</string>
      </dict>
      <key>weapon_3027_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{82,14}}</string>
        <key>offset</key>
        <string>{-30,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,14}}</string>
        <key>sourceSize</key>
        <string>{82,14}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3027_1_8.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3027_1_8.png</string>
    </dict>
  </dict>
</plist>