<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3035_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,90},{39,70}}</string>
        <key>offset</key>
        <string>{-2,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,70}}</string>
        <key>sourceSize</key>
        <string>{39,70}</string>
      </dict>
      <key>weapon_3035_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,142},{42,68}}</string>
        <key>offset</key>
        <string>{-7,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,68}}</string>
        <key>sourceSize</key>
        <string>{42,68}</string>
      </dict>
      <key>weapon_3035_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{77,19}}</string>
        <key>offset</key>
        <string>{-40,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,19}}</string>
        <key>sourceSize</key>
        <string>{77,19}</string>
      </dict>
      <key>weapon_3035_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,275},{41,25}}</string>
        <key>offset</key>
        <string>{-10,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,25}}</string>
        <key>sourceSize</key>
        <string>{41,25}</string>
      </dict>
      <key>weapon_3035_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,217},{57,13}}</string>
        <key>offset</key>
        <string>{-18,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,13}}</string>
        <key>sourceSize</key>
        <string>{57,13}</string>
      </dict>
      <key>weapon_3035_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,161},{7,67}}</string>
        <key>offset</key>
        <string>{43,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,67}}</string>
        <key>sourceSize</key>
        <string>{7,67}</string>
      </dict>
      <key>weapon_3035_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,21},{13,74}}</string>
        <key>offset</key>
        <string>{25,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,74}}</string>
        <key>sourceSize</key>
        <string>{13,74}</string>
      </dict>
      <key>weapon_3035_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,93},{17,70}}</string>
        <key>offset</key>
        <string>{20,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,70}}</string>
        <key>sourceSize</key>
        <string>{17,70}</string>
      </dict>
      <key>weapon_3035_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{43,51}}</string>
        <key>offset</key>
        <string>{2,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,51}}</string>
        <key>sourceSize</key>
        <string>{43,51}</string>
      </dict>
      <key>weapon_3035_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,44},{73,14}}</string>
        <key>offset</key>
        <string>{-36,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,14}}</string>
        <key>sourceSize</key>
        <string>{73,14}</string>
      </dict>
      <key>weapon_3035_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,263},{56,21}}</string>
        <key>offset</key>
        <string>{-24,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,21}}</string>
        <key>sourceSize</key>
        <string>{56,21}</string>
      </dict>
      <key>weapon_3035_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,112},{14,69}}</string>
        <key>offset</key>
        <string>{43,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,69}}</string>
        <key>sourceSize</key>
        <string>{14,69}</string>
      </dict>
      <key>weapon_3035_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,55},{33,72}}</string>
        <key>offset</key>
        <string>{35,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,72}}</string>
        <key>sourceSize</key>
        <string>{33,72}</string>
      </dict>
      <key>weapon_3035_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,149},{37,68}}</string>
        <key>offset</key>
        <string>{35,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,68}}</string>
        <key>sourceSize</key>
        <string>{37,68}</string>
      </dict>
      <key>weapon_3035_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,90},{30,69}}</string>
        <key>offset</key>
        <string>{17,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,69}}</string>
        <key>sourceSize</key>
        <string>{30,69}</string>
      </dict>
      <key>weapon_3035_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,236},{51,37}}</string>
        <key>offset</key>
        <string>{-14,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,37}}</string>
        <key>sourceSize</key>
        <string>{51,37}</string>
      </dict>
      <key>weapon_3035_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,234},{27,60}}</string>
        <key>offset</key>
        <string>{-4,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,60}}</string>
        <key>sourceSize</key>
        <string>{27,60}</string>
      </dict>
      <key>weapon_3035_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{13,70}}</string>
        <key>offset</key>
        <string>{34,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,70}}</string>
        <key>sourceSize</key>
        <string>{13,70}</string>
      </dict>
      <key>weapon_3035_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{68,39}}</string>
        <key>offset</key>
        <string>{26,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>weapon_3035_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,186},{64,48}}</string>
        <key>offset</key>
        <string>{28,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,48}}</string>
        <key>sourceSize</key>
        <string>{64,48}</string>
      </dict>
      <key>weapon_3035_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{15,79}}</string>
        <key>offset</key>
        <string>{31,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,79}}</string>
        <key>sourceSize</key>
        <string>{15,79}</string>
      </dict>
      <key>weapon_3035_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,275},{19,29}}</string>
        <key>offset</key>
        <string>{24,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,29}}</string>
        <key>sourceSize</key>
        <string>{19,29}</string>
      </dict>
      <key>weapon_3035_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,36},{17,74}}</string>
        <key>offset</key>
        <string>{11,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,74}}</string>
        <key>sourceSize</key>
        <string>{17,74}</string>
      </dict>
      <key>weapon_3035_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{20,73}}</string>
        <key>offset</key>
        <string>{16,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,73}}</string>
        <key>sourceSize</key>
        <string>{20,73}</string>
      </dict>
      <key>weapon_3035_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,76},{71,15}}</string>
        <key>offset</key>
        <string>{15,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,15}}</string>
        <key>sourceSize</key>
        <string>{71,15}</string>
      </dict>
      <key>weapon_3035_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{71,14}}</string>
        <key>offset</key>
        <string>{16,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,14}}</string>
        <key>sourceSize</key>
        <string>{71,14}</string>
      </dict>
      <key>weapon_3035_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{61,49}}</string>
        <key>offset</key>
        <string>{16,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,49}}</string>
        <key>sourceSize</key>
        <string>{61,49}</string>
      </dict>
      <key>weapon_3035_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,276},{41,14}}</string>
        <key>offset</key>
        <string>{17,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,14}}</string>
        <key>sourceSize</key>
        <string>{41,14}</string>
      </dict>
      <key>weapon_3035_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,231},{62,45}}</string>
        <key>offset</key>
        <string>{9,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>weapon_3035_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,60},{14,72}}</string>
        <key>offset</key>
        <string>{-2,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,72}}</string>
        <key>sourceSize</key>
        <string>{14,72}</string>
      </dict>
      <key>weapon_3035_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,264},{7,15}}</string>
        <key>offset</key>
        <string>{10,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,15}}</string>
        <key>sourceSize</key>
        <string>{7,15}</string>
      </dict>
      <key>weapon_3035_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,77},{8,14}}</string>
        <key>offset</key>
        <string>{12,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,14}}</string>
        <key>sourceSize</key>
        <string>{8,14}</string>
      </dict>
      <key>weapon_3035_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,128},{69,19}}</string>
        <key>offset</key>
        <string>{3,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,19}}</string>
        <key>sourceSize</key>
        <string>{69,19}</string>
      </dict>
      <key>weapon_3035_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{70,31}}</string>
        <key>offset</key>
        <string>{11,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,31}}</string>
        <key>sourceSize</key>
        <string>{70,31}</string>
      </dict>
      <key>weapon_3035_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{78,16}}</string>
        <key>offset</key>
        <string>{15,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,16}}</string>
        <key>sourceSize</key>
        <string>{78,16}</string>
      </dict>
      <key>weapon_3035_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{15,69}}</string>
        <key>offset</key>
        <string>{-9,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,69}}</string>
        <key>sourceSize</key>
        <string>{15,69}</string>
      </dict>
      <key>weapon_3035_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{60,11}}</string>
        <key>offset</key>
        <string>{-44,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,11}}</string>
        <key>sourceSize</key>
        <string>{60,11}</string>
      </dict>
      <key>weapon_3035_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,217},{61,15}}</string>
        <key>offset</key>
        <string>{-46,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,15}}</string>
        <key>sourceSize</key>
        <string>{61,15}</string>
      </dict>
      <key>weapon_3035_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{75,8}}</string>
        <key>offset</key>
        <string>{-3,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,8}}</string>
        <key>sourceSize</key>
        <string>{75,8}</string>
      </dict>
      <key>weapon_3035_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,18},{24,76}}</string>
        <key>offset</key>
        <string>{15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,76}}</string>
        <key>sourceSize</key>
        <string>{24,76}</string>
      </dict>
      <key>weapon_3035_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,302},{20,17}}</string>
        <key>offset</key>
        <string>{27,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>weapon_3035_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,17},{15,78}}</string>
        <key>offset</key>
        <string>{2,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,78}}</string>
        <key>sourceSize</key>
        <string>{15,78}</string>
      </dict>
      <key>weapon_3035_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,188},{63,27}}</string>
        <key>offset</key>
        <string>{-45,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,27}}</string>
        <key>sourceSize</key>
        <string>{63,27}</string>
      </dict>
      <key>weapon_3035_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,161},{68,30}}</string>
        <key>offset</key>
        <string>{-49,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,30}}</string>
        <key>sourceSize</key>
        <string>{68,30}</string>
      </dict>
      <key>weapon_3035_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,302},{18,24}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>weapon_3035_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{20,76}}</string>
        <key>offset</key>
        <string>{6,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,76}}</string>
        <key>sourceSize</key>
        <string>{20,76}</string>
      </dict>
      <key>weapon_3035_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,295},{17,17}}</string>
        <key>offset</key>
        <string>{20,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>weapon_3035_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,131},{9,69}}</string>
        <key>offset</key>
        <string>{22,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,69}}</string>
        <key>sourceSize</key>
        <string>{9,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3035_1_3.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>weapon_3035_1_3.png</string>
    </dict>
  </dict>
</plist>