<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21009_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,160},{156,94}}</string>
        <key>offset</key>
        <string>{-2,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{156,94}}</string>
        <key>sourceSize</key>
        <string>{163,98}</string>
      </dict>
      <key>weapon_21009_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,150},{146,114}}</string>
        <key>offset</key>
        <string>{-3,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,2},{146,114}}</string>
        <key>sourceSize</key>
        <string>{153,118}</string>
      </dict>
      <key>weapon_21009_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,268},{104,126}}</string>
        <key>offset</key>
        <string>{-4,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,6},{104,126}}</string>
        <key>sourceSize</key>
        <string>{113,133}</string>
      </dict>
      <key>weapon_21009_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,374},{96,118}}</string>
        <key>offset</key>
        <string>{4,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,4},{96,118}}</string>
        <key>sourceSize</key>
        <string>{98,123}</string>
      </dict>
      <key>weapon_21009_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,138},{128,104}}</string>
        <key>offset</key>
        <string>{5,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,3},{128,104}}</string>
        <key>sourceSize</key>
        <string>{128,108}</string>
      </dict>
      <key>weapon_21009_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{136,96}}</string>
        <key>offset</key>
        <string>{7,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,6},{136,96}}</string>
        <key>sourceSize</key>
        <string>{143,103}</string>
      </dict>
      <key>weapon_21009_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{190,82}}</string>
        <key>offset</key>
        <string>{-30,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,4},{190,82}}</string>
        <key>sourceSize</key>
        <string>{193,88}</string>
      </dict>
      <key>weapon_21009_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,160},{152,78}}</string>
        <key>offset</key>
        <string>{-13,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,1},{152,78}}</string>
        <key>sourceSize</key>
        <string>{153,83}</string>
      </dict>
      <key>weapon_21009_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{148,68}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,0},{148,68}}</string>
        <key>sourceSize</key>
        <string>{158,73}</string>
      </dict>
      <key>weapon_21009_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,138}}</string>
        <key>offset</key>
        <string>{-98,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,4},{200,138}}</string>
        <key>sourceSize</key>
        <string>{203,143}</string>
      </dict>
      <key>weapon_21009_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,318},{154,146}}</string>
        <key>offset</key>
        <string>{-53,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,4},{154,146}}</string>
        <key>sourceSize</key>
        <string>{158,153}</string>
      </dict>
      <key>weapon_21009_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,348},{122,162}}</string>
        <key>offset</key>
        <string>{-19,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{-1,5},{122,162}}</string>
        <key>sourceSize</key>
        <string>{123,173}</string>
      </dict>
      <key>weapon_21009_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,394},{174,92}}</string>
        <key>offset</key>
        <string>{-112,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,6},{174,92}}</string>
        <key>sourceSize</key>
        <string>{178,103}</string>
      </dict>
      <key>weapon_21009_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,348},{162,68}}</string>
        <key>offset</key>
        <string>{-101,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,1},{162,68}}</string>
        <key>sourceSize</key>
        <string>{168,73}</string>
      </dict>
      <key>weapon_21009_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,374},{116,102}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,1},{116,102}}</string>
        <key>sourceSize</key>
        <string>{123,108}</string>
      </dict>
      <key>weapon_21009_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,202},{190,190}}</string>
        <key>offset</key>
        <string>{-117,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{190,190}}</string>
        <key>sourceSize</key>
        <string>{198,193}</string>
      </dict>
      <key>weapon_21009_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{186,188}}</string>
        <key>offset</key>
        <string>{-115,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{186,188}}</string>
        <key>sourceSize</key>
        <string>{188,193}</string>
      </dict>
      <key>weapon_21009_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,190},{186,188}}</string>
        <key>offset</key>
        <string>{-115,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{186,188}}</string>
        <key>sourceSize</key>
        <string>{188,193}</string>
      </dict>
      <key>weapon_21009_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,0},{178,142}}</string>
        <key>offset</key>
        <string>{-102,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,5},{178,142}}</string>
        <key>sourceSize</key>
        <string>{183,148}</string>
      </dict>
      <key>weapon_21009_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{158,134}}</string>
        <key>offset</key>
        <string>{-101,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{158,134}}</string>
        <key>sourceSize</key>
        <string>{163,143}</string>
      </dict>
      <key>weapon_21009_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{142,92}}</string>
        <key>offset</key>
        <string>{-92,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,1},{142,92}}</string>
        <key>sourceSize</key>
        <string>{148,98}</string>
      </dict>
      <key>weapon_21009_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{188,124}}</string>
        <key>offset</key>
        <string>{-46,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{5,3},{188,124}}</string>
        <key>sourceSize</key>
        <string>{198,128}</string>
      </dict>
      <key>weapon_21009_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,180},{166,138}}</string>
        <key>offset</key>
        <string>{-46,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{4,4},{166,138}}</string>
        <key>sourceSize</key>
        <string>{173,143}</string>
      </dict>
      <key>weapon_21009_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,380},{166,128}}</string>
        <key>offset</key>
        <string>{-46,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,2},{166,128}}</string>
        <key>sourceSize</key>
        <string>{173,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21009_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_21009_0_7.png</string>
    </dict>
  </dict>
</plist>