<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3058_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{61,71}}</string>
        <key>offset</key>
        <string>{43,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,71}}</string>
        <key>sourceSize</key>
        <string>{61,71}</string>
      </dict>
      <key>weapon_3058_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,94},{43,49}}</string>
        <key>offset</key>
        <string>{35,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>weapon_3058_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{18,34}}</string>
        <key>offset</key>
        <string>{17,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,34}}</string>
        <key>sourceSize</key>
        <string>{18,34}</string>
      </dict>
      <key>weapon_3058_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,145},{45,49}}</string>
        <key>offset</key>
        <string>{-32,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,49}}</string>
        <key>sourceSize</key>
        <string>{45,49}</string>
      </dict>
      <key>weapon_3058_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{53,78}}</string>
        <key>offset</key>
        <string>{-50,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,78}}</string>
        <key>sourceSize</key>
        <string>{53,78}</string>
      </dict>
      <key>weapon_3058_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,21},{35,98}}</string>
        <key>offset</key>
        <string>{-24,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,98}}</string>
        <key>sourceSize</key>
        <string>{35,98}</string>
      </dict>
      <key>weapon_3058_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{19,101}}</string>
        <key>offset</key>
        <string>{13,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,101}}</string>
        <key>sourceSize</key>
        <string>{19,101}</string>
      </dict>
      <key>weapon_3058_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{34,92}}</string>
        <key>offset</key>
        <string>{36,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,92}}</string>
        <key>sourceSize</key>
        <string>{34,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3058_0_11.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>weapon_3058_0_11.png</string>
    </dict>
  </dict>
</plist>