<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0270_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,144},{50,134}}</string>
        <key>offset</key>
        <string>{16,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{12,9},{50,134}}</string>
        <key>sourceSize</key>
        <string>{70,158}</string>
      </dict>
      <key>weapon_0270_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,144},{52,136}}</string>
        <key>offset</key>
        <string>{8,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{11,8},{52,136}}</string>
        <key>sourceSize</key>
        <string>{85,160}</string>
      </dict>
      <key>weapon_0270_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,440},{52,134}}</string>
        <key>offset</key>
        <string>{14,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,8},{52,134}}</string>
        <key>sourceSize</key>
        <string>{74,157}</string>
      </dict>
      <key>weapon_0270_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,436},{52,134}}</string>
        <key>offset</key>
        <string>{13,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,8},{52,134}}</string>
        <key>sourceSize</key>
        <string>{77,157}</string>
      </dict>
      <key>weapon_0270_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,360},{146,108}}</string>
        <key>offset</key>
        <string>{10,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,8},{146,108}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>weapon_0270_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,148},{144,108}}</string>
        <key>offset</key>
        <string>{10,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,7},{144,108}}</string>
        <key>sourceSize</key>
        <string>{161,129}</string>
      </dict>
      <key>weapon_0270_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{146,106}}</string>
        <key>offset</key>
        <string>{11,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,9},{146,106}}</string>
        <key>sourceSize</key>
        <string>{161,130}</string>
      </dict>
      <key>weapon_0270_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{142,108}}</string>
        <key>offset</key>
        <string>{10,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{9,9},{142,108}}</string>
        <key>sourceSize</key>
        <string>{160,130}</string>
      </dict>
      <key>weapon_0270_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,186},{182,72}}</string>
        <key>offset</key>
        <string>{-6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,11},{182,72}}</string>
        <key>sourceSize</key>
        <string>{189,96}</string>
      </dict>
      <key>weapon_0270_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,74}}</string>
        <key>offset</key>
        <string>{-5,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,10},{184,74}}</string>
        <key>sourceSize</key>
        <string>{189,99}</string>
      </dict>
      <key>weapon_0270_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{178,74}}</string>
        <key>offset</key>
        <string>{-7,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,10},{178,74}}</string>
        <key>sourceSize</key>
        <string>{188,99}</string>
      </dict>
      <key>weapon_0270_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,180},{178,74}}</string>
        <key>offset</key>
        <string>{-7,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,10},{178,74}}</string>
        <key>sourceSize</key>
        <string>{188,101}</string>
      </dict>
      <key>weapon_0270_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,372},{120,112}}</string>
        <key>offset</key>
        <string>{-19,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{12,11},{120,112}}</string>
        <key>sourceSize</key>
        <string>{140,132}</string>
      </dict>
      <key>weapon_0270_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{120,110}}</string>
        <key>offset</key>
        <string>{-19,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{13,12},{120,110}}</string>
        <key>sourceSize</key>
        <string>{141,135}</string>
      </dict>
      <key>weapon_0270_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,244},{118,114}}</string>
        <key>offset</key>
        <string>{-19,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,11},{118,114}}</string>
        <key>sourceSize</key>
        <string>{142,138}</string>
      </dict>
      <key>weapon_0270_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,122},{120,114}}</string>
        <key>offset</key>
        <string>{-21,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{14,11},{120,114}}</string>
        <key>sourceSize</key>
        <string>{145,139}</string>
      </dict>
      <key>weapon_0270_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{50,122}}</string>
        <key>offset</key>
        <string>{-40,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,14},{50,122}}</string>
        <key>sourceSize</key>
        <string>{71,144}</string>
      </dict>
      <key>weapon_0270_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,124},{50,122}}</string>
        <key>offset</key>
        <string>{-42,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{7,14},{50,122}}</string>
        <key>sourceSize</key>
        <string>{77,143}</string>
      </dict>
      <key>weapon_0270_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,280},{50,124}}</string>
        <key>offset</key>
        <string>{-40,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{5,14},{50,124}}</string>
        <key>sourceSize</key>
        <string>{68,146}</string>
      </dict>
      <key>weapon_0270_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,248},{50,122}}</string>
        <key>offset</key>
        <string>{-39,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{4,15},{50,122}}</string>
        <key>sourceSize</key>
        <string>{65,145}</string>
      </dict>
      <key>weapon_0270_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{144,98}}</string>
        <key>offset</key>
        <string>{-122,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,13},{144,98}}</string>
        <key>sourceSize</key>
        <string>{159,118}</string>
      </dict>
      <key>weapon_0270_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,292},{142,98}}</string>
        <key>offset</key>
        <string>{-123,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,13},{142,98}}</string>
        <key>sourceSize</key>
        <string>{160,125}</string>
      </dict>
      <key>weapon_0270_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,294},{144,100}}</string>
        <key>offset</key>
        <string>{-123,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,14},{144,100}}</string>
        <key>sourceSize</key>
        <string>{160,128}</string>
      </dict>
      <key>weapon_0270_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,146},{144,100}}</string>
        <key>offset</key>
        <string>{-122,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,14},{144,100}}</string>
        <key>sourceSize</key>
        <string>{160,128}</string>
      </dict>
      <key>weapon_0270_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{182,68}}</string>
        <key>offset</key>
        <string>{-137,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{6,14},{182,68}}</string>
        <key>sourceSize</key>
        <string>{189,96}</string>
      </dict>
      <key>weapon_0270_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{184,70}}</string>
        <key>offset</key>
        <string>{-137,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{3,13},{184,70}}</string>
        <key>sourceSize</key>
        <string>{188,98}</string>
      </dict>
      <key>weapon_0270_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{184,68}}</string>
        <key>offset</key>
        <string>{-137,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,16},{184,68}}</string>
        <key>sourceSize</key>
        <string>{188,99}</string>
      </dict>
      <key>weapon_0270_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{178,68}}</string>
        <key>offset</key>
        <string>{-135,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,17},{178,68}}</string>
        <key>sourceSize</key>
        <string>{190,100}</string>
      </dict>
      <key>weapon_0270_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,0},{120,116}}</string>
        <key>offset</key>
        <string>{-75,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{120,116}}</string>
        <key>sourceSize</key>
        <string>{140,137}</string>
      </dict>
      <key>weapon_0270_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,122},{118,116}}</string>
        <key>offset</key>
        <string>{-75,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{8,6},{118,116}}</string>
        <key>sourceSize</key>
        <string>{141,137}</string>
      </dict>
      <key>weapon_0270_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{118,114}}</string>
        <key>offset</key>
        <string>{-75,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{118,114}}</string>
        <key>sourceSize</key>
        <string>{140,135}</string>
      </dict>
      <key>weapon_0270_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,364},{118,114}}</string>
        <key>offset</key>
        <string>{-75,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{7,7},{118,114}}</string>
        <key>sourceSize</key>
        <string>{140,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0270_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0270_0_0.png</string>
    </dict>
  </dict>
</plist>