<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3066_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,52},{29,26}}</string>
        <key>offset</key>
        <string>{41,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,26}}</string>
        <key>sourceSize</key>
        <string>{29,26}</string>
      </dict>
      <key>weapon_3066_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,0},{43,20}}</string>
        <key>offset</key>
        <string>{25,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,20}}</string>
        <key>sourceSize</key>
        <string>{43,20}</string>
      </dict>
      <key>weapon_3066_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{27,34}}</string>
        <key>offset</key>
        <string>{13,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>weapon_3066_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,45},{17,38}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,38}}</string>
        <key>sourceSize</key>
        <string>{17,38}</string>
      </dict>
      <key>weapon_3066_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,46},{30,35}}</string>
        <key>offset</key>
        <string>{-23,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,35}}</string>
        <key>sourceSize</key>
        <string>{30,35}</string>
      </dict>
      <key>weapon_3066_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{44,37}}</string>
        <key>offset</key>
        <string>{-22,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,37}}</string>
        <key>sourceSize</key>
        <string>{44,37}</string>
      </dict>
      <key>weapon_3066_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,0},{34,37}}</string>
        <key>offset</key>
        <string>{5,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,37}}</string>
        <key>sourceSize</key>
        <string>{34,37}</string>
      </dict>
      <key>weapon_3066_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,39},{11,34}}</string>
        <key>offset</key>
        <string>{37,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,34}}</string>
        <key>sourceSize</key>
        <string>{11,34}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3066_0_11.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3066_0_11.png</string>
    </dict>
  </dict>
</plist>