<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3029_1_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,166},{19,21}}</string>
        <key>offset</key>
        <string>{28,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{19,21}</string>
      </dict>
      <key>weapon_3029_1_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,149},{15,31}}</string>
        <key>offset</key>
        <string>{30,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,31}}</string>
        <key>sourceSize</key>
        <string>{15,31}</string>
      </dict>
      <key>weapon_3029_1_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,220},{7,41}}</string>
        <key>offset</key>
        <string>{31,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,41}}</string>
        <key>sourceSize</key>
        <string>{7,41}</string>
      </dict>
      <key>weapon_3029_1_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,62},{4,59}}</string>
        <key>offset</key>
        <string>{32,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,59}}</string>
        <key>sourceSize</key>
        <string>{4,59}</string>
      </dict>
      <key>weapon_3029_1_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,58},{9,44}}</string>
        <key>offset</key>
        <string>{31,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,44}}</string>
        <key>sourceSize</key>
        <string>{9,44}</string>
      </dict>
      <key>weapon_3029_1_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,220},{21,25}}</string>
        <key>offset</key>
        <string>{30,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>weapon_3029_1_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,140},{65,12}}</string>
        <key>offset</key>
        <string>{13,12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,12}}</string>
        <key>sourceSize</key>
        <string>{65,12}</string>
      </dict>
      <key>weapon_3029_1_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,234},{66,18}}</string>
        <key>offset</key>
        <string>{17,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,18}}</string>
        <key>sourceSize</key>
        <string>{66,18}</string>
      </dict>
      <key>weapon_3029_1_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,0},{54,36}}</string>
        <key>offset</key>
        <string>{24,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,36}}</string>
        <key>sourceSize</key>
        <string>{54,36}</string>
      </dict>
      <key>weapon_3029_1_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,112},{53,43}}</string>
        <key>offset</key>
        <string>{25,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,43}}</string>
        <key>sourceSize</key>
        <string>{53,43}</string>
      </dict>
      <key>weapon_3029_1_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,230},{58,24}}</string>
        <key>offset</key>
        <string>{21,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,24}}</string>
        <key>sourceSize</key>
        <string>{58,24}</string>
      </dict>
      <key>weapon_3029_1_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,220},{67,12}}</string>
        <key>offset</key>
        <string>{15,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,12}}</string>
        <key>sourceSize</key>
        <string>{67,12}</string>
      </dict>
      <key>weapon_3029_1_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,71},{67,38}}</string>
        <key>offset</key>
        <string>{3,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,38}}</string>
        <key>sourceSize</key>
        <string>{67,38}</string>
      </dict>
      <key>weapon_3029_1_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{75,17}}</string>
        <key>offset</key>
        <string>{5,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,17}}</string>
        <key>sourceSize</key>
        <string>{75,17}</string>
      </dict>
      <key>weapon_3029_1_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,11}}</string>
        <key>offset</key>
        <string>{10,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,11}}</string>
        <key>sourceSize</key>
        <string>{76,11}</string>
      </dict>
      <key>weapon_3029_1_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{76,11}}</string>
        <key>offset</key>
        <string>{15,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,11}}</string>
        <key>sourceSize</key>
        <string>{76,11}</string>
      </dict>
      <key>weapon_3029_1_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,0},{75,15}}</string>
        <key>offset</key>
        <string>{9,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,15}}</string>
        <key>sourceSize</key>
        <string>{75,15}</string>
      </dict>
      <key>weapon_3029_1_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,0},{69,32}}</string>
        <key>offset</key>
        <string>{7,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,32}}</string>
        <key>sourceSize</key>
        <string>{69,32}</string>
      </dict>
      <key>weapon_3029_1_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,56},{26,50}}</string>
        <key>offset</key>
        <string>{7,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,50}}</string>
        <key>sourceSize</key>
        <string>{26,50}</string>
      </dict>
      <key>weapon_3029_1_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,56},{43,49}}</string>
        <key>offset</key>
        <string>{6,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,49}}</string>
        <key>sourceSize</key>
        <string>{43,49}</string>
      </dict>
      <key>weapon_3029_1_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,167},{51,37}}</string>
        <key>offset</key>
        <string>{8,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,37}}</string>
        <key>sourceSize</key>
        <string>{51,37}</string>
      </dict>
      <key>weapon_3029_1_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{60,32}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,32}}</string>
        <key>sourceSize</key>
        <string>{60,32}</string>
      </dict>
      <key>weapon_3029_1_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,108},{50,46}}</string>
        <key>offset</key>
        <string>{8,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,46}}</string>
        <key>sourceSize</key>
        <string>{50,46}</string>
      </dict>
      <key>weapon_3029_1_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,140},{35,62}}</string>
        <key>offset</key>
        <string>{8,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,62}}</string>
        <key>sourceSize</key>
        <string>{35,62}</string>
      </dict>
      <key>weapon_3029_1_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{20,56}}</string>
        <key>offset</key>
        <string>{-1,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,56}}</string>
        <key>sourceSize</key>
        <string>{20,56}</string>
      </dict>
      <key>weapon_3029_1_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{16,59}}</string>
        <key>offset</key>
        <string>{3,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,59}}</string>
        <key>sourceSize</key>
        <string>{16,59}</string>
      </dict>
      <key>weapon_3029_1_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,220},{8,61}}</string>
        <key>offset</key>
        <string>{11,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,61}}</string>
        <key>sourceSize</key>
        <string>{8,61}</string>
      </dict>
      <key>weapon_3029_1_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,68},{4,56}}</string>
        <key>offset</key>
        <string>{13,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,56}}</string>
        <key>sourceSize</key>
        <string>{4,56}</string>
      </dict>
      <key>weapon_3029_1_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,207},{11,65}}</string>
        <key>offset</key>
        <string>{8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,65}}</string>
        <key>sourceSize</key>
        <string>{11,65}</string>
      </dict>
      <key>weapon_3029_1_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,68},{18,56}}</string>
        <key>offset</key>
        <string>{1,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,56}}</string>
        <key>sourceSize</key>
        <string>{18,56}</string>
      </dict>
      <key>weapon_3029_1_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{66,37}}</string>
        <key>offset</key>
        <string>{-31,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,37}}</string>
        <key>sourceSize</key>
        <string>{66,37}</string>
      </dict>
      <key>weapon_3029_1_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,68},{61,25}}</string>
        <key>offset</key>
        <string>{-31,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,25}}</string>
        <key>sourceSize</key>
        <string>{61,25}</string>
      </dict>
      <key>weapon_3029_1_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{43,23}}</string>
        <key>offset</key>
        <string>{-26,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,23}}</string>
        <key>sourceSize</key>
        <string>{43,23}</string>
      </dict>
      <key>weapon_3029_1_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,160},{43,20}}</string>
        <key>offset</key>
        <string>{-26,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,20}}</string>
        <key>sourceSize</key>
        <string>{43,20}</string>
      </dict>
      <key>weapon_3029_1_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,56},{54,33}}</string>
        <key>offset</key>
        <string>{-26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,33}}</string>
        <key>sourceSize</key>
        <string>{54,33}</string>
      </dict>
      <key>weapon_3029_1_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,131},{60,32}}</string>
        <key>offset</key>
        <string>{-31,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,32}}</string>
        <key>sourceSize</key>
        <string>{60,32}</string>
      </dict>
      <key>weapon_3029_1_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,149},{69,8}}</string>
        <key>offset</key>
        <string>{-25,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,8}}</string>
        <key>sourceSize</key>
        <string>{69,8}</string>
      </dict>
      <key>weapon_3029_1_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,154},{73,11}}</string>
        <key>offset</key>
        <string>{-31,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,11}}</string>
        <key>sourceSize</key>
        <string>{73,11}</string>
      </dict>
      <key>weapon_3029_1_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,77},{75,13}}</string>
        <key>offset</key>
        <string>{-42,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,13}}</string>
        <key>sourceSize</key>
        <string>{75,13}</string>
      </dict>
      <key>weapon_3029_1_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,77},{70,15}}</string>
        <key>offset</key>
        <string>{-40,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,15}}</string>
        <key>sourceSize</key>
        <string>{70,15}</string>
      </dict>
      <key>weapon_3029_1_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{76,13}}</string>
        <key>offset</key>
        <string>{-40,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,13}}</string>
        <key>sourceSize</key>
        <string>{76,13}</string>
      </dict>
      <key>weapon_3029_1_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,154},{72,12}}</string>
        <key>offset</key>
        <string>{-31,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,12}}</string>
        <key>sourceSize</key>
        <string>{72,12}</string>
      </dict>
      <key>weapon_3029_1_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,68},{27,23}}</string>
        <key>offset</key>
        <string>{14,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,23}}</string>
        <key>sourceSize</key>
        <string>{27,23}</string>
      </dict>
      <key>weapon_3029_1_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{38,40}}</string>
        <key>offset</key>
        <string>{3,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,40}}</string>
        <key>sourceSize</key>
        <string>{38,40}</string>
      </dict>
      <key>weapon_3029_1_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,107},{40,37}}</string>
        <key>offset</key>
        <string>{-3,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,37}}</string>
        <key>sourceSize</key>
        <string>{40,37}</string>
      </dict>
      <key>weapon_3029_1_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,167},{51,45}}</string>
        <key>offset</key>
        <string>{-15,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,45}}</string>
        <key>sourceSize</key>
        <string>{51,45}</string>
      </dict>
      <key>weapon_3029_1_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{46,40}}</string>
        <key>offset</key>
        <string>{-8,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,40}}</string>
        <key>sourceSize</key>
        <string>{46,40}</string>
      </dict>
      <key>weapon_3029_1_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,220},{32,33}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,33}}</string>
        <key>sourceSize</key>
        <string>{32,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3029_1_1.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3029_1_1.png</string>
    </dict>
  </dict>
</plist>