<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_20008_1_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,620},{128,116}}</string>
        <key>offset</key>
        <string>{13,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{128,116}}</string>
        <key>sourceSize</key>
        <string>{132,119}</string>
      </dict>
      <key>weapon_20008_1_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,864},{142,134}}</string>
        <key>offset</key>
        <string>{-85,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{142,134}}</string>
        <key>sourceSize</key>
        <string>{145,138}</string>
      </dict>
      <key>weapon_20008_1_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,156},{142,128}}</string>
        <key>offset</key>
        <string>{0,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{142,128}}</string>
        <key>sourceSize</key>
        <string>{145,131}</string>
      </dict>
      <key>weapon_20008_1_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,130},{80,120}}</string>
        <key>offset</key>
        <string>{-21,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{80,120}}</string>
        <key>sourceSize</key>
        <string>{83,123}</string>
      </dict>
      <key>weapon_20008_1_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,656},{86,152}}</string>
        <key>offset</key>
        <string>{-21,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{86,152}}</string>
        <key>sourceSize</key>
        <string>{89,156}</string>
      </dict>
      <key>weapon_20008_1_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{154,130}}</string>
        <key>offset</key>
        <string>{-3,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{154,130}}</string>
        <key>sourceSize</key>
        <string>{157,134}</string>
      </dict>
      <key>weapon_20008_1_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,336},{82,84}}</string>
        <key>offset</key>
        <string>{9,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{82,84}}</string>
        <key>sourceSize</key>
        <string>{86,87}</string>
      </dict>
      <key>weapon_20008_1_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,868},{160,94}}</string>
        <key>offset</key>
        <string>{-117,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{160,94}}</string>
        <key>sourceSize</key>
        <string>{164,97}</string>
      </dict>
      <key>weapon_20008_1_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,210},{90,92}}</string>
        <key>offset</key>
        <string>{25,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{90,92}}</string>
        <key>sourceSize</key>
        <string>{94,96}</string>
      </dict>
      <key>weapon_20008_1_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,864},{144,88}}</string>
        <key>offset</key>
        <string>{0,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{144,88}}</string>
        <key>sourceSize</key>
        <string>{148,92}</string>
      </dict>
      <key>weapon_20008_1_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{140,122}}</string>
        <key>offset</key>
        <string>{-5,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{140,122}}</string>
        <key>sourceSize</key>
        <string>{143,125}</string>
      </dict>
      <key>weapon_20008_1_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,138},{114,94}}</string>
        <key>offset</key>
        <string>{11,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{114,94}}</string>
        <key>sourceSize</key>
        <string>{117,98}</string>
      </dict>
      <key>weapon_20008_1_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,130},{116,78}}</string>
        <key>offset</key>
        <string>{-52,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{116,78}}</string>
        <key>sourceSize</key>
        <string>{119,81}</string>
      </dict>
      <key>weapon_20008_1_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,440},{124,120}}</string>
        <key>offset</key>
        <string>{-87,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{124,120}}</string>
        <key>sourceSize</key>
        <string>{127,123}</string>
      </dict>
      <key>weapon_20008_1_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,254},{88,80}}</string>
        <key>offset</key>
        <string>{-19,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{88,80}}</string>
        <key>sourceSize</key>
        <string>{92,83}</string>
      </dict>
      <key>weapon_20008_1_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,338},{160,102}}</string>
        <key>offset</key>
        <string>{14,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{160,102}}</string>
        <key>sourceSize</key>
        <string>{164,106}</string>
      </dict>
      <key>weapon_20008_1_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{162,78}}</string>
        <key>offset</key>
        <string>{5,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{162,78}}</string>
        <key>sourceSize</key>
        <string>{166,81}</string>
      </dict>
      <key>weapon_20008_1_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,336},{60,88}}</string>
        <key>offset</key>
        <string>{16,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{60,88}}</string>
        <key>sourceSize</key>
        <string>{63,92}</string>
      </dict>
      <key>weapon_20008_1_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,0},{136,120}}</string>
        <key>offset</key>
        <string>{-92,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{136,120}}</string>
        <key>sourceSize</key>
        <string>{139,123}</string>
      </dict>
      <key>weapon_20008_1_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,964},{58,136}}</string>
        <key>offset</key>
        <string>{-17,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{58,136}}</string>
        <key>sourceSize</key>
        <string>{62,139}</string>
      </dict>
      <key>weapon_20008_1_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,0},{142,98}}</string>
        <key>offset</key>
        <string>{-77,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{142,98}}</string>
        <key>sourceSize</key>
        <string>{146,102}</string>
      </dict>
      <key>weapon_20008_1_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,862},{118,128}}</string>
        <key>offset</key>
        <string>{17,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{118,128}}</string>
        <key>sourceSize</key>
        <string>{121,131}</string>
      </dict>
      <key>weapon_20008_1_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,750},{116,94}}</string>
        <key>offset</key>
        <string>{17,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{116,94}}</string>
        <key>sourceSize</key>
        <string>{119,98}</string>
      </dict>
      <key>weapon_20008_1_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,778},{130,82}}</string>
        <key>offset</key>
        <string>{-64,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{130,82}}</string>
        <key>sourceSize</key>
        <string>{134,85}</string>
      </dict>
      <key>weapon_20008_1_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,706},{134,168}}</string>
        <key>offset</key>
        <string>{-101,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{134,168}}</string>
        <key>sourceSize</key>
        <string>{137,172}</string>
      </dict>
      <key>weapon_20008_1_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,300},{138,118}}</string>
        <key>offset</key>
        <string>{-8,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{138,118}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>weapon_20008_1_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,0},{128,132}}</string>
        <key>offset</key>
        <string>{-80,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{128,132}}</string>
        <key>sourceSize</key>
        <string>{131,135}</string>
      </dict>
      <key>weapon_20008_1_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,352},{82,164}}</string>
        <key>offset</key>
        <string>{-14,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{82,164}}</string>
        <key>sourceSize</key>
        <string>{85,167}</string>
      </dict>
      <key>weapon_20008_1_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{920,0},{78,128}}</string>
        <key>offset</key>
        <string>{-10,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{78,128}}</string>
        <key>sourceSize</key>
        <string>{81,131}</string>
      </dict>
      <key>weapon_20008_1_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,326},{150,116}}</string>
        <key>offset</key>
        <string>{-101,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{150,116}}</string>
        <key>sourceSize</key>
        <string>{153,119}</string>
      </dict>
      <key>weapon_20008_1_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,180},{96,170}}</string>
        <key>offset</key>
        <string>{-49,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{96,170}}</string>
        <key>sourceSize</key>
        <string>{100,174}</string>
      </dict>
      <key>weapon_20008_1_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{172,100}}</string>
        <key>offset</key>
        <string>{-3,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,1},{172,100}}</string>
        <key>sourceSize</key>
        <string>{175,103}</string>
      </dict>
      <key>weapon_20008_1_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,534},{88,168}}</string>
        <key>offset</key>
        <string>{-60,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{88,168}}</string>
        <key>sourceSize</key>
        <string>{91,172}</string>
      </dict>
      <key>weapon_20008_1_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,500},{154,142}}</string>
        <key>offset</key>
        <string>{-102,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{154,142}}</string>
        <key>sourceSize</key>
        <string>{158,146}</string>
      </dict>
      <key>weapon_20008_1_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,326},{154,106}}</string>
        <key>offset</key>
        <string>{-95,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{154,106}}</string>
        <key>sourceSize</key>
        <string>{158,110}</string>
      </dict>
      <key>weapon_20008_1_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{110,170}}</string>
        <key>offset</key>
        <string>{-80,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{110,170}}</string>
        <key>sourceSize</key>
        <string>{114,173}</string>
      </dict>
      <key>weapon_20008_1_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,178}}</string>
        <key>offset</key>
        <string>{-13,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{114,178}}</string>
        <key>sourceSize</key>
        <string>{117,181}</string>
      </dict>
      <key>weapon_20008_1_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,636},{140,116}}</string>
        <key>offset</key>
        <string>{-2,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{140,116}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>weapon_20008_1_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{94,170}}</string>
        <key>offset</key>
        <string>{-28,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{94,170}}</string>
        <key>sourceSize</key>
        <string>{98,174}</string>
      </dict>
      <key>weapon_20008_1_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,172},{164,102}}</string>
        <key>offset</key>
        <string>{-132,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{164,102}}</string>
        <key>sourceSize</key>
        <string>{168,105}</string>
      </dict>
      <key>weapon_20008_1_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{162,120}}</string>
        <key>offset</key>
        <string>{-123,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,1},{162,120}}</string>
        <key>sourceSize</key>
        <string>{166,123}</string>
      </dict>
      <key>weapon_20008_1_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{72,178}}</string>
        <key>offset</key>
        <string>{-34,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,2},{72,178}}</string>
        <key>sourceSize</key>
        <string>{75,182}</string>
      </dict>
      <key>weapon_20008_1_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,478},{140,132}}</string>
        <key>offset</key>
        <string>{2,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,1},{140,132}}</string>
        <key>sourceSize</key>
        <string>{144,135}</string>
      </dict>
      <key>weapon_20008_1_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,810},{52,150}}</string>
        <key>offset</key>
        <string>{9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{2,2},{52,150}}</string>
        <key>sourceSize</key>
        <string>{56,154}</string>
      </dict>
      <key>weapon_20008_1_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,164},{140,160}}</string>
        <key>offset</key>
        <string>{-22,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{2,2},{140,160}}</string>
        <key>sourceSize</key>
        <string>{144,164}</string>
      </dict>
      <key>weapon_20008_1_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,142},{138,122}}</string>
        <key>offset</key>
        <string>{-105,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{1,2},{138,122}}</string>
        <key>sourceSize</key>
        <string>{141,126}</string>
      </dict>
      <key>weapon_20008_1_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,482},{124,152}}</string>
        <key>offset</key>
        <string>{-91,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{124,152}}</string>
        <key>sourceSize</key>
        <string>{127,155}</string>
      </dict>
      <key>weapon_20008_1_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,704},{142,162}}</string>
        <key>offset</key>
        <string>{-24,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{1,1},{142,162}}</string>
        <key>sourceSize</key>
        <string>{145,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_20008_1_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_20008_1_10.png</string>
    </dict>
  </dict>
</plist>