<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0249_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{92,182}}</string>
        <key>offset</key>
        <string>{-219,355}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{191,19},{92,182}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,474},{122,50}}</string>
        <key>offset</key>
        <string>{-254,291}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{141,149},{122,50}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,96},{182,78}}</string>
        <key>offset</key>
        <string>{-268,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{97,235},{182,78}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,542},{134,86}}</string>
        <key>offset</key>
        <string>{-230,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{159,257},{134,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,200}}</string>
        <key>offset</key>
        <string>{-176,346}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{251,19},{58,200}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,234},{164,98}}</string>
        <key>offset</key>
        <string>{-264,318}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{110,98},{164,98}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,196},{172,60}}</string>
        <key>offset</key>
        <string>{-302,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,209},{172,60}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{198,48}}</string>
        <key>offset</key>
        <string>{-304,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{53,251},{198,48}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{112,162}}</string>
        <key>offset</key>
        <string>{-157,316}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{243,68},{112,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{122,158}}</string>
        <key>offset</key>
        <string>{-250,334}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{145,52},{122,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{80,94}}</string>
        <key>offset</key>
        <string>{-287,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{129,150},{80,94}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,370},{156,102}}</string>
        <key>offset</key>
        <string>{-328,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{50,172},{156,102}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,566},{134,110}}</string>
        <key>offset</key>
        <string>{-175,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{214,117},{134,110}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,50},{44,190}}</string>
        <key>offset</key>
        <string>{-217,344}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{217,26},{44,190}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,694},{96,90}}</string>
        <key>offset</key>
        <string>{-228,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{180,130},{96,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,580},{54,134}}</string>
        <key>offset</key>
        <string>{-280,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{149,115},{54,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,766},{96,64}}</string>
        <key>offset</key>
        <string>{-212,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{196,151},{96,64}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,334},{120,162}}</string>
        <key>offset</key>
        <string>{-181,334}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{215,50},{120,162}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,176},{174,56}}</string>
        <key>offset</key>
        <string>{-169,279}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,158},{174,56}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,474},{142,104}}</string>
        <key>offset</key>
        <string>{-200,296}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{185,117},{142,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,722},{56,54}}</string>
        <key>offset</key>
        <string>{-257,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{171,149},{56,54}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,196},{158,92}}</string>
        <key>offset</key>
        <string>{-172,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{205,107},{158,92}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{178,90}}</string>
        <key>offset</key>
        <string>{-128,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{239,179},{178,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{194,54}}</string>
        <key>offset</key>
        <string>{-132,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{227,169},{194,54}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,598},{122,84}}</string>
        <key>offset</key>
        <string>{-282,320}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{113,103},{122,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{128,52}}</string>
        <key>offset</key>
        <string>{-182,293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{210,146},{128,52}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{80,144}}</string>
        <key>offset</key>
        <string>{-147,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{269,191},{80,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,456},{154,84}}</string>
        <key>offset</key>
        <string>{-107,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{272,205},{154,84}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,630},{134,134}}</string>
        <key>offset</key>
        <string>{-259,346}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{130,52},{134,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,130},{48,58}}</string>
        <key>offset</key>
        <string>{-215,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{217,150},{48,58}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{94,132}}</string>
        <key>offset</key>
        <string>{-205,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{204,215},{94,132}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,636},{56,120}}</string>
        <key>offset</key>
        <string>{-153,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{275,230},{56,120}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0249_0_4.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0249_0_4.png</string>
    </dict>
  </dict>
</plist>