<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3046_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,339},{55,18}}</string>
        <key>offset</key>
        <string>{41,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,18}}</string>
        <key>sourceSize</key>
        <string>{55,18}</string>
      </dict>
      <key>weapon_3046_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,213},{64,58}}</string>
        <key>offset</key>
        <string>{-38,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,58}}</string>
        <key>sourceSize</key>
        <string>{64,58}</string>
      </dict>
      <key>weapon_3046_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,386},{36,29}}</string>
        <key>offset</key>
        <string>{31,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>weapon_3046_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,282},{9,32}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{9,32}}</string>
        <key>sourceSize</key>
        <string>{9,32}</string>
      </dict>
      <key>weapon_3046_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,370},{16,35}}</string>
        <key>offset</key>
        <string>{-4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,35}}</string>
        <key>sourceSize</key>
        <string>{16,35}</string>
      </dict>
      <key>weapon_3046_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{74,48}}</string>
        <key>offset</key>
        <string>{25,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,48}}</string>
        <key>sourceSize</key>
        <string>{74,48}</string>
      </dict>
      <key>weapon_3046_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,396},{21,37}}</string>
        <key>offset</key>
        <string>{35,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,37}}</string>
        <key>sourceSize</key>
        <string>{21,37}</string>
      </dict>
      <key>weapon_3046_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,22},{83,32}}</string>
        <key>offset</key>
        <string>{-64,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,32}}</string>
        <key>sourceSize</key>
        <string>{83,32}</string>
      </dict>
      <key>weapon_3046_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,404},{19,20}}</string>
        <key>offset</key>
        <string>{31,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,20}}</string>
        <key>sourceSize</key>
        <string>{19,20}</string>
      </dict>
      <key>weapon_3046_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,370},{43,24}}</string>
        <key>offset</key>
        <string>{38,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,24}}</string>
        <key>sourceSize</key>
        <string>{43,24}</string>
      </dict>
      <key>weapon_3046_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,359},{45,15}}</string>
        <key>offset</key>
        <string>{29,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,15}}</string>
        <key>sourceSize</key>
        <string>{45,15}</string>
      </dict>
      <key>weapon_3046_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,171},{67,14}}</string>
        <key>offset</key>
        <string>{38,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,14}}</string>
        <key>sourceSize</key>
        <string>{67,14}</string>
      </dict>
      <key>weapon_3046_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,252},{63,15}}</string>
        <key>offset</key>
        <string>{-26,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,15}}</string>
        <key>sourceSize</key>
        <string>{63,15}</string>
      </dict>
      <key>weapon_3046_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,84},{78,19}}</string>
        <key>offset</key>
        <string>{-62,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,19}}</string>
        <key>sourceSize</key>
        <string>{78,19}</string>
      </dict>
      <key>weapon_3046_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,359},{46,30}}</string>
        <key>offset</key>
        <string>{4,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,30}}</string>
        <key>sourceSize</key>
        <string>{46,30}</string>
      </dict>
      <key>weapon_3046_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{75,26}}</string>
        <key>offset</key>
        <string>{43,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,26}}</string>
        <key>sourceSize</key>
        <string>{75,26}</string>
      </dict>
      <key>weapon_3046_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{80,20}}</string>
        <key>offset</key>
        <string>{34,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,20}}</string>
        <key>sourceSize</key>
        <string>{80,20}</string>
      </dict>
      <key>weapon_3046_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,407},{25,11}}</string>
        <key>offset</key>
        <string>{36,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,11}}</string>
        <key>sourceSize</key>
        <string>{25,11}</string>
      </dict>
      <key>weapon_3046_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{83,26}}</string>
        <key>offset</key>
        <string>{-62,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,26}}</string>
        <key>sourceSize</key>
        <string>{83,26}</string>
      </dict>
      <key>weapon_3046_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,206},{11,35}}</string>
        <key>offset</key>
        <string>{11,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,35}}</string>
        <key>sourceSize</key>
        <string>{11,35}</string>
      </dict>
      <key>weapon_3046_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,206},{61,64}}</string>
        <key>offset</key>
        <string>{-23,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,64}}</string>
        <key>sourceSize</key>
        <string>{61,64}</string>
      </dict>
      <key>weapon_3046_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,330},{54,58}}</string>
        <key>offset</key>
        <string>{46,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,58}}</string>
        <key>sourceSize</key>
        <string>{54,58}</string>
      </dict>
      <key>weapon_3046_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,132},{68,56}}</string>
        <key>offset</key>
        <string>{40,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,56}}</string>
        <key>sourceSize</key>
        <string>{68,56}</string>
      </dict>
      <key>weapon_3046_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,76},{30,11}}</string>
        <key>offset</key>
        <string>{10,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,11}}</string>
        <key>sourceSize</key>
        <string>{30,11}</string>
      </dict>
      <key>weapon_3046_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,269},{59,63}}</string>
        <key>offset</key>
        <string>{-52,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,63}}</string>
        <key>sourceSize</key>
        <string>{59,63}</string>
      </dict>
      <key>weapon_3046_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,116},{69,21}}</string>
        <key>offset</key>
        <string>{20,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,21}}</string>
        <key>sourceSize</key>
        <string>{69,21}</string>
      </dict>
      <key>weapon_3046_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,85},{29,77}}</string>
        <key>offset</key>
        <string>{-14,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,77}}</string>
        <key>sourceSize</key>
        <string>{29,77}</string>
      </dict>
      <key>weapon_3046_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,269},{11,60}}</string>
        <key>offset</key>
        <string>{30,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,60}}</string>
        <key>sourceSize</key>
        <string>{11,60}</string>
      </dict>
      <key>weapon_3046_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,187},{17,67}}</string>
        <key>offset</key>
        <string>{27,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,67}}</string>
        <key>sourceSize</key>
        <string>{17,67}</string>
      </dict>
      <key>weapon_3046_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{63,25}}</string>
        <key>offset</key>
        <string>{-42,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,25}}</string>
        <key>sourceSize</key>
        <string>{63,25}</string>
      </dict>
      <key>weapon_3046_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{20,85}}</string>
        <key>offset</key>
        <string>{-8,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,85}}</string>
        <key>sourceSize</key>
        <string>{20,85}</string>
      </dict>
      <key>weapon_3046_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,50},{81,32}}</string>
        <key>offset</key>
        <string>{28,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,32}}</string>
        <key>sourceSize</key>
        <string>{81,32}</string>
      </dict>
      <key>weapon_3046_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,32},{16,83}}</string>
        <key>offset</key>
        <string>{-4,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,83}}</string>
        <key>sourceSize</key>
        <string>{16,83}</string>
      </dict>
      <key>weapon_3046_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,282},{55,59}}</string>
        <key>offset</key>
        <string>{-37,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,59}}</string>
        <key>sourceSize</key>
        <string>{55,59}</string>
      </dict>
      <key>weapon_3046_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,316},{52,59}}</string>
        <key>offset</key>
        <string>{-31,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,59}}</string>
        <key>sourceSize</key>
        <string>{52,59}</string>
      </dict>
      <key>weapon_3046_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{63,55}}</string>
        <key>offset</key>
        <string>{-55,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,55}}</string>
        <key>sourceSize</key>
        <string>{63,55}</string>
      </dict>
      <key>weapon_3046_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{56,68}}</string>
        <key>offset</key>
        <string>{10,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,68}}</string>
        <key>sourceSize</key>
        <string>{56,68}</string>
      </dict>
      <key>weapon_3046_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,190},{65,60}}</string>
        <key>offset</key>
        <string>{33,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,60}}</string>
        <key>sourceSize</key>
        <string>{65,60}</string>
      </dict>
      <key>weapon_3046_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,116},{53,71}}</string>
        <key>offset</key>
        <string>{-5,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,71}}</string>
        <key>sourceSize</key>
        <string>{53,71}</string>
      </dict>
      <key>weapon_3046_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{78,31}}</string>
        <key>offset</key>
        <string>{-75,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,31}}</string>
        <key>sourceSize</key>
        <string>{78,31}</string>
      </dict>
      <key>weapon_3046_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{84,30}}</string>
        <key>offset</key>
        <string>{-72,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,30}}</string>
        <key>sourceSize</key>
        <string>{84,30}</string>
      </dict>
      <key>weapon_3046_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,105},{25,76}}</string>
        <key>offset</key>
        <string>{-16,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,76}}</string>
        <key>sourceSize</key>
        <string>{25,76}</string>
      </dict>
      <key>weapon_3046_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,187},{63,28}}</string>
        <key>offset</key>
        <string>{26,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,28}}</string>
        <key>sourceSize</key>
        <string>{63,28}</string>
      </dict>
      <key>weapon_3046_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,78},{14,79}}</string>
        <key>offset</key>
        <string>{24,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,79}}</string>
        <key>sourceSize</key>
        <string>{14,79}</string>
      </dict>
      <key>weapon_3046_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{57,45}}</string>
        <key>offset</key>
        <string>{9,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,45}}</string>
        <key>sourceSize</key>
        <string>{57,45}</string>
      </dict>
      <key>weapon_3046_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,252},{60,18}}</string>
        <key>offset</key>
        <string>{-58,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,18}}</string>
        <key>sourceSize</key>
        <string>{60,18}</string>
      </dict>
      <key>weapon_3046_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,252},{62,27}}</string>
        <key>offset</key>
        <string>{-55,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,27}}</string>
        <key>sourceSize</key>
        <string>{62,27}</string>
      </dict>
      <key>weapon_3046_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{34,29}}</string>
        <key>offset</key>
        <string>{25,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,29}}</string>
        <key>sourceSize</key>
        <string>{34,29}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3046_0_10.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>weapon_3046_0_10.png</string>
    </dict>
  </dict>
</plist>