<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_21057_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,731},{86,166}}</string>
        <key>offset</key>
        <string>{-8,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,166}}</string>
        <key>sourceSize</key>
        <string>{86,166}</string>
      </dict>
      <key>weapon_21057_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,143},{139,107}}</string>
        <key>offset</key>
        <string>{-53,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>weapon_21057_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,284},{75,136}}</string>
        <key>offset</key>
        <string>{-18,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,136}}</string>
        <key>sourceSize</key>
        <string>{75,136}</string>
      </dict>
      <key>weapon_21057_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,674},{49,70}}</string>
        <key>offset</key>
        <string>{1,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,70}}</string>
        <key>sourceSize</key>
        <string>{49,70}</string>
      </dict>
      <key>weapon_21057_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,789},{62,89}}</string>
        <key>offset</key>
        <string>{0,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,89}}</string>
        <key>sourceSize</key>
        <string>{62,89}</string>
      </dict>
      <key>weapon_21057_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,971},{45,111}}</string>
        <key>offset</key>
        <string>{8,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,111}}</string>
        <key>sourceSize</key>
        <string>{45,111}</string>
      </dict>
      <key>weapon_21057_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,185}}</string>
        <key>offset</key>
        <string>{11,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,185}}</string>
        <key>sourceSize</key>
        <string>{68,185}</string>
      </dict>
      <key>weapon_21057_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,702},{130,157}}</string>
        <key>offset</key>
        <string>{-35,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,157}}</string>
        <key>sourceSize</key>
        <string>{130,157}</string>
      </dict>
      <key>weapon_21057_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{99,158}}</string>
        <key>offset</key>
        <string>{-21,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,158}}</string>
        <key>sourceSize</key>
        <string>{99,158}</string>
      </dict>
      <key>weapon_21057_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,770},{121,109}}</string>
        <key>offset</key>
        <string>{-43,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,109}}</string>
        <key>sourceSize</key>
        <string>{121,109}</string>
      </dict>
      <key>weapon_21057_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,893},{114,113}}</string>
        <key>offset</key>
        <string>{-28,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,113}}</string>
        <key>sourceSize</key>
        <string>{114,113}</string>
      </dict>
      <key>weapon_21057_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,141},{136,103}}</string>
        <key>offset</key>
        <string>{-9,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,103}}</string>
        <key>sourceSize</key>
        <string>{136,103}</string>
      </dict>
      <key>weapon_21057_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,182},{102,177}}</string>
        <key>offset</key>
        <string>{-3,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,177}}</string>
        <key>sourceSize</key>
        <string>{102,177}</string>
      </dict>
      <key>weapon_21057_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{74,177}}</string>
        <key>offset</key>
        <string>{0,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,177}}</string>
        <key>sourceSize</key>
        <string>{74,177}</string>
      </dict>
      <key>weapon_21057_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,553},{91,176}}</string>
        <key>offset</key>
        <string>{-12,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,176}}</string>
        <key>sourceSize</key>
        <string>{91,176}</string>
      </dict>
      <key>weapon_21057_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,160},{145,133}}</string>
        <key>offset</key>
        <string>{-59,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,133}}</string>
        <key>sourceSize</key>
        <string>{145,133}</string>
      </dict>
      <key>weapon_21057_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{139,137}}</string>
        <key>offset</key>
        <string>{-44,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>weapon_21057_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{180,89}}</string>
        <key>offset</key>
        <string>{-21,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,89}}</string>
        <key>sourceSize</key>
        <string>{180,89}</string>
      </dict>
      <key>weapon_21057_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,630},{114,138}}</string>
        <key>offset</key>
        <string>{-25,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,138}}</string>
        <key>sourceSize</key>
        <string>{114,138}</string>
      </dict>
      <key>weapon_21057_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,535},{101,165}}</string>
        <key>offset</key>
        <string>{-6,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,165}}</string>
        <key>sourceSize</key>
        <string>{101,165}</string>
      </dict>
      <key>weapon_21057_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,187},{73,183}}</string>
        <key>offset</key>
        <string>{4,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,183}}</string>
        <key>sourceSize</key>
        <string>{73,183}</string>
      </dict>
      <key>weapon_21057_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,179},{105,159}}</string>
        <key>offset</key>
        <string>{-36,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,159}}</string>
        <key>sourceSize</key>
        <string>{105,159}</string>
      </dict>
      <key>weapon_21057_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,361},{104,162}}</string>
        <key>offset</key>
        <string>{-30,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,162}}</string>
        <key>sourceSize</key>
        <string>{104,162}</string>
      </dict>
      <key>weapon_21057_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{135,96}}</string>
        <key>offset</key>
        <string>{-18,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,96}}</string>
        <key>sourceSize</key>
        <string>{135,96}</string>
      </dict>
      <key>weapon_21057_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,559},{85,113}}</string>
        <key>offset</key>
        <string>{-30,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,113}}</string>
        <key>sourceSize</key>
        <string>{85,113}</string>
      </dict>
      <key>weapon_21057_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,830},{139,127}}</string>
        <key>offset</key>
        <string>{-39,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,127}}</string>
        <key>sourceSize</key>
        <string>{139,127}</string>
      </dict>
      <key>weapon_21057_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,905},{76,168}}</string>
        <key>offset</key>
        <string>{-10,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,168}}</string>
        <key>sourceSize</key>
        <string>{76,168}</string>
      </dict>
      <key>weapon_21057_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,361},{51,172}}</string>
        <key>offset</key>
        <string>{-4,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,172}}</string>
        <key>sourceSize</key>
        <string>{51,172}</string>
      </dict>
      <key>weapon_21057_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{53,172}}</string>
        <key>offset</key>
        <string>{-6,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,172}}</string>
        <key>sourceSize</key>
        <string>{53,172}</string>
      </dict>
      <key>weapon_21057_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,412},{59,110}}</string>
        <key>offset</key>
        <string>{-8,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,110}}</string>
        <key>sourceSize</key>
        <string>{59,110}</string>
      </dict>
      <key>weapon_21057_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,279},{62,108}}</string>
        <key>offset</key>
        <string>{-29,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,108}}</string>
        <key>sourceSize</key>
        <string>{62,108}</string>
      </dict>
      <key>weapon_21057_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,893},{121,94}}</string>
        <key>offset</key>
        <string>{-46,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,94}}</string>
        <key>sourceSize</key>
        <string>{121,94}</string>
      </dict>
      <key>weapon_21057_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,340},{93,146}}</string>
        <key>offset</key>
        <string>{-30,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,146}}</string>
        <key>sourceSize</key>
        <string>{93,146}</string>
      </dict>
      <key>weapon_21057_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,525},{118,151}}</string>
        <key>offset</key>
        <string>{-31,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,151}}</string>
        <key>sourceSize</key>
        <string>{118,151}</string>
      </dict>
      <key>weapon_21057_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,861},{111,157}}</string>
        <key>offset</key>
        <string>{-39,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>weapon_21057_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,449},{137,101}}</string>
        <key>offset</key>
        <string>{-81,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,101}}</string>
        <key>sourceSize</key>
        <string>{137,101}</string>
      </dict>
      <key>weapon_21057_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,674},{106,113}}</string>
        <key>offset</key>
        <string>{-56,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,113}}</string>
        <key>sourceSize</key>
        <string>{106,113}</string>
      </dict>
      <key>weapon_21057_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,674},{68,64}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>weapon_21057_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,488},{89,140}}</string>
        <key>offset</key>
        <string>{-30,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,140}}</string>
        <key>sourceSize</key>
        <string>{89,140}</string>
      </dict>
      <key>weapon_21057_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,678},{150,127}}</string>
        <key>offset</key>
        <string>{-39,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,127}}</string>
        <key>sourceSize</key>
        <string>{150,127}</string>
      </dict>
      <key>weapon_21057_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,307},{140,133}}</string>
        <key>offset</key>
        <string>{-48,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,133}}</string>
        <key>sourceSize</key>
        <string>{140,133}</string>
      </dict>
      <key>weapon_21057_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{179,82}}</string>
        <key>offset</key>
        <string>{-111,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,82}}</string>
        <key>sourceSize</key>
        <string>{179,82}</string>
      </dict>
      <key>weapon_21057_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{111,141}}</string>
        <key>offset</key>
        <string>{-38,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,141}}</string>
        <key>sourceSize</key>
        <string>{111,141}</string>
      </dict>
      <key>weapon_21057_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,883},{97,79}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,79}}</string>
        <key>sourceSize</key>
        <string>{97,79}</string>
      </dict>
      <key>weapon_21057_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,279},{74,131}}</string>
        <key>offset</key>
        <string>{-24,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,131}}</string>
        <key>sourceSize</key>
        <string>{74,131}</string>
      </dict>
      <key>weapon_21057_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,559},{113,91}}</string>
        <key>offset</key>
        <string>{-21,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,91}}</string>
        <key>sourceSize</key>
        <string>{113,91}</string>
      </dict>
      <key>weapon_21057_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,789},{103,92}}</string>
        <key>offset</key>
        <string>{-26,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,92}}</string>
        <key>sourceSize</key>
        <string>{103,92}</string>
      </dict>
      <key>weapon_21057_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,422},{135,101}}</string>
        <key>offset</key>
        <string>{-70,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,101}}</string>
        <key>sourceSize</key>
        <string>{135,101}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_21057_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_21057_1_3.png</string>
    </dict>
  </dict>
</plist>