<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3028_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,109},{17,57}}</string>
        <key>offset</key>
        <string>{37,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,57}}</string>
        <key>sourceSize</key>
        <string>{17,57}</string>
      </dict>
      <key>weapon_3028_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{25,61}}</string>
        <key>offset</key>
        <string>{37,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,61}}</string>
        <key>sourceSize</key>
        <string>{25,61}</string>
      </dict>
      <key>weapon_3028_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{14,55}}</string>
        <key>offset</key>
        <string>{39,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,55}}</string>
        <key>sourceSize</key>
        <string>{14,55}</string>
      </dict>
      <key>weapon_3028_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{54,45}}</string>
        <key>offset</key>
        <string>{18,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,45}}</string>
        <key>sourceSize</key>
        <string>{54,45}</string>
      </dict>
      <key>weapon_3028_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,68},{62,39}}</string>
        <key>offset</key>
        <string>{25,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>weapon_3028_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,63},{61,34}}</string>
        <key>offset</key>
        <string>{31,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,34}}</string>
        <key>sourceSize</key>
        <string>{61,34}</string>
      </dict>
      <key>weapon_3028_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{16,0},{69,8}}</string>
        <key>offset</key>
        <string>{4,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,8}}</string>
        <key>sourceSize</key>
        <string>{69,8}</string>
      </dict>
      <key>weapon_3028_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{63,12}}</string>
        <key>offset</key>
        <string>{13,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,12}}</string>
        <key>sourceSize</key>
        <string>{63,12}</string>
      </dict>
      <key>weapon_3028_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,14}}</string>
        <key>offset</key>
        <string>{19,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,14}}</string>
        <key>sourceSize</key>
        <string>{70,14}</string>
      </dict>
      <key>weapon_3028_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,124},{29,37}}</string>
        <key>offset</key>
        <string>{1,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,37}}</string>
        <key>sourceSize</key>
        <string>{29,37}</string>
      </dict>
      <key>weapon_3028_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{24,30}}</string>
        <key>offset</key>
        <string>{8,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,30}}</string>
        <key>sourceSize</key>
        <string>{24,30}</string>
      </dict>
      <key>weapon_3028_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,90},{35,39}}</string>
        <key>offset</key>
        <string>{10,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,39}}</string>
        <key>sourceSize</key>
        <string>{35,39}</string>
      </dict>
      <key>weapon_3028_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{28,43}}</string>
        <key>offset</key>
        <string>{-14,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,43}}</string>
        <key>sourceSize</key>
        <string>{28,43}</string>
      </dict>
      <key>weapon_3028_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,127},{27,17}}</string>
        <key>offset</key>
        <string>{-14,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,17}}</string>
        <key>sourceSize</key>
        <string>{27,17}</string>
      </dict>
      <key>weapon_3028_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,127},{14,22}}</string>
        <key>offset</key>
        <string>{-4,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,22}}</string>
        <key>sourceSize</key>
        <string>{14,22}</string>
      </dict>
      <key>weapon_3028_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,127},{35,18}}</string>
        <key>offset</key>
        <string>{-12,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,18}}</string>
        <key>sourceSize</key>
        <string>{35,18}</string>
      </dict>
      <key>weapon_3028_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,90},{41,32}}</string>
        <key>offset</key>
        <string>{-22,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,32}}</string>
        <key>sourceSize</key>
        <string>{41,32}</string>
      </dict>
      <key>weapon_3028_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{54,8}}</string>
        <key>offset</key>
        <string>{-37,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,8}}</string>
        <key>sourceSize</key>
        <string>{54,8}</string>
      </dict>
      <key>weapon_3028_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,0},{68,25}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,25}}</string>
        <key>sourceSize</key>
        <string>{68,25}</string>
      </dict>
      <key>weapon_3028_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{62,37}}</string>
        <key>offset</key>
        <string>{-21,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,37}}</string>
        <key>sourceSize</key>
        <string>{62,37}</string>
      </dict>
      <key>weapon_3028_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{70,23}}</string>
        <key>offset</key>
        <string>{-37,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,23}}</string>
        <key>sourceSize</key>
        <string>{70,23}</string>
      </dict>
      <key>weapon_3028_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{43,56}}</string>
        <key>offset</key>
        <string>{7,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,56}}</string>
        <key>sourceSize</key>
        <string>{43,56}</string>
      </dict>
      <key>weapon_3028_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{23,66}}</string>
        <key>offset</key>
        <string>{18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,66}}</string>
        <key>sourceSize</key>
        <string>{23,66}</string>
      </dict>
      <key>weapon_3028_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,47},{41,52}}</string>
        <key>offset</key>
        <string>{-2,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,52}}</string>
        <key>sourceSize</key>
        <string>{41,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3028_1_7.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3028_1_7.png</string>
    </dict>
  </dict>
</plist>