<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3002_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,62},{7,18}}</string>
        <key>offset</key>
        <string>{31,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,18}}</string>
        <key>sourceSize</key>
        <string>{7,18}</string>
      </dict>
      <key>weapon_3002_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,62},{4,10}}</string>
        <key>offset</key>
        <string>{31,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,10}}</string>
        <key>sourceSize</key>
        <string>{4,10}</string>
      </dict>
      <key>weapon_3002_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,36},{24,13}}</string>
        <key>offset</key>
        <string>{27,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,13}}</string>
        <key>sourceSize</key>
        <string>{24,13}</string>
      </dict>
      <key>weapon_3002_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,61},{24,20}}</string>
        <key>offset</key>
        <string>{41,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>weapon_3002_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{38,11}}</string>
        <key>offset</key>
        <string>{15,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,11}}</string>
        <key>sourceSize</key>
        <string>{38,11}</string>
      </dict>
      <key>weapon_3002_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,40},{38,11}}</string>
        <key>offset</key>
        <string>{39,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,11}}</string>
        <key>sourceSize</key>
        <string>{38,11}</string>
      </dict>
      <key>weapon_3002_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,36},{32,26}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>weapon_3002_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{31,16}}</string>
        <key>offset</key>
        <string>{28,-15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,16}}</string>
        <key>sourceSize</key>
        <string>{31,16}</string>
      </dict>
      <key>weapon_3002_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,36},{8,24}}</string>
        <key>offset</key>
        <string>{11,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,24}}</string>
        <key>sourceSize</key>
        <string>{8,24}</string>
      </dict>
      <key>weapon_3002_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{6,31}}</string>
        <key>offset</key>
        <string>{15,-14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,31}}</string>
        <key>sourceSize</key>
        <string>{6,31}</string>
      </dict>
      <key>weapon_3002_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{23,34}}</string>
        <key>offset</key>
        <string>{-2,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,34}}</string>
        <key>sourceSize</key>
        <string>{23,34}</string>
      </dict>
      <key>weapon_3002_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,33},{22,26}}</string>
        <key>offset</key>
        <string>{-15,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,26}}</string>
        <key>sourceSize</key>
        <string>{22,26}</string>
      </dict>
      <key>weapon_3002_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,14},{25,20}}</string>
        <key>offset</key>
        <string>{-5,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,20}}</string>
        <key>sourceSize</key>
        <string>{25,20}</string>
      </dict>
      <key>weapon_3002_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{13,0},{37,14}}</string>
        <key>offset</key>
        <string>{-28,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,14}}</string>
        <key>sourceSize</key>
        <string>{37,14}</string>
      </dict>
      <key>weapon_3002_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{30,12}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,12}}</string>
        <key>sourceSize</key>
        <string>{30,12}</string>
      </dict>
      <key>weapon_3002_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{31,13}}</string>
        <key>offset</key>
        <string>{-15,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,13}}</string>
        <key>sourceSize</key>
        <string>{31,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3002_1_8.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3002_1_8.png</string>
    </dict>
  </dict>
</plist>