<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3066_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{18,42}}</string>
        <key>offset</key>
        <string>{36,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,42}}</string>
        <key>sourceSize</key>
        <string>{18,42}</string>
      </dict>
      <key>weapon_3066_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,76},{30,33}}</string>
        <key>offset</key>
        <string>{30,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,33}}</string>
        <key>sourceSize</key>
        <string>{30,33}</string>
      </dict>
      <key>weapon_3066_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{30,28}}</string>
        <key>offset</key>
        <string>{17,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,28}}</string>
        <key>sourceSize</key>
        <string>{30,28}</string>
      </dict>
      <key>weapon_3066_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,80},{37,17}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,17}}</string>
        <key>sourceSize</key>
        <string>{37,17}</string>
      </dict>
      <key>weapon_3066_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{26,44}}</string>
        <key>offset</key>
        <string>{30,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,44}}</string>
        <key>sourceSize</key>
        <string>{26,44}</string>
      </dict>
      <key>weapon_3066_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,0},{30,43}}</string>
        <key>offset</key>
        <string>{35,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,43}}</string>
        <key>sourceSize</key>
        <string>{30,43}</string>
      </dict>
      <key>weapon_3066_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{26,40}}</string>
        <key>offset</key>
        <string>{50,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,40}}</string>
        <key>sourceSize</key>
        <string>{26,40}</string>
      </dict>
      <key>weapon_3066_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,39},{35,25}}</string>
        <key>offset</key>
        <string>{47,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,25}}</string>
        <key>sourceSize</key>
        <string>{35,25}</string>
      </dict>
      <key>weapon_3066_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,88},{37,39}}</string>
        <key>offset</key>
        <string>{13,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,39}}</string>
        <key>sourceSize</key>
        <string>{37,39}</string>
      </dict>
      <key>weapon_3066_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,45},{38,43}}</string>
        <key>offset</key>
        <string>{19,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,43}}</string>
        <key>sourceSize</key>
        <string>{38,43}</string>
      </dict>
      <key>weapon_3066_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,90},{35,42}}</string>
        <key>offset</key>
        <string>{50,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,42}}</string>
        <key>sourceSize</key>
        <string>{35,42}</string>
      </dict>
      <key>weapon_3066_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{17,47},{44,29}}</string>
        <key>offset</key>
        <string>{68,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,29}}</string>
        <key>sourceSize</key>
        <string>{44,29}</string>
      </dict>
      <key>weapon_3066_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{28,35}}</string>
        <key>offset</key>
        <string>{2,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,35}}</string>
        <key>sourceSize</key>
        <string>{28,35}</string>
      </dict>
      <key>weapon_3066_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,42},{31,39}}</string>
        <key>offset</key>
        <string>{7,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>weapon_3066_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{38,45}}</string>
        <key>offset</key>
        <string>{31,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,45}}</string>
        <key>sourceSize</key>
        <string>{38,45}</string>
      </dict>
      <key>weapon_3066_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{38,31}}</string>
        <key>offset</key>
        <string>{58,-22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,31}}</string>
        <key>sourceSize</key>
        <string>{38,31}</string>
      </dict>
      <key>weapon_3066_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,79},{15,36}}</string>
        <key>offset</key>
        <string>{-3,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,36}}</string>
        <key>sourceSize</key>
        <string>{15,36}</string>
      </dict>
      <key>weapon_3066_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,37},{26,34}}</string>
        <key>offset</key>
        <string>{-10,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,34}}</string>
        <key>sourceSize</key>
        <string>{26,34}</string>
      </dict>
      <key>weapon_3066_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,44},{27,42}}</string>
        <key>offset</key>
        <string>{5,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,42}}</string>
        <key>sourceSize</key>
        <string>{27,42}</string>
      </dict>
      <key>weapon_3066_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,40},{37,33}}</string>
        <key>offset</key>
        <string>{12,-39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,33}}</string>
        <key>sourceSize</key>
        <string>{37,33}</string>
      </dict>
      <key>weapon_3066_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{19,28}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,28}}</string>
        <key>sourceSize</key>
        <string>{19,28}</string>
      </dict>
      <key>weapon_3066_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,136},{30,21}}</string>
        <key>offset</key>
        <string>{-16,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,21}}</string>
        <key>sourceSize</key>
        <string>{30,21}</string>
      </dict>
      <key>weapon_3066_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,123},{27,31}}</string>
        <key>offset</key>
        <string>{-25,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,31}}</string>
        <key>sourceSize</key>
        <string>{27,31}</string>
      </dict>
      <key>weapon_3066_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{39,22}}</string>
        <key>offset</key>
        <string>{-37,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,22}}</string>
        <key>sourceSize</key>
        <string>{39,22}</string>
      </dict>
      <key>weapon_3066_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{37,25}}</string>
        <key>offset</key>
        <string>{1,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,25}}</string>
        <key>sourceSize</key>
        <string>{37,25}</string>
      </dict>
      <key>weapon_3066_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,83},{38,6}}</string>
        <key>offset</key>
        <string>{-10,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,6}}</string>
        <key>sourceSize</key>
        <string>{38,6}</string>
      </dict>
      <key>weapon_3066_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,117},{32,17}}</string>
        <key>offset</key>
        <string>{-36,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,17}}</string>
        <key>sourceSize</key>
        <string>{32,17}</string>
      </dict>
      <key>weapon_3066_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,47},{45,15}}</string>
        <key>offset</key>
        <string>{-65,-8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,15}}</string>
        <key>sourceSize</key>
        <string>{45,15}</string>
      </dict>
      <key>weapon_3066_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,108},{33,26}}</string>
        <key>offset</key>
        <string>{16,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,26}}</string>
        <key>sourceSize</key>
        <string>{33,26}</string>
      </dict>
      <key>weapon_3066_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,79},{36,15}}</string>
        <key>offset</key>
        <string>{8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,15}}</string>
        <key>sourceSize</key>
        <string>{36,15}</string>
      </dict>
      <key>weapon_3066_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,83},{38,12}}</string>
        <key>offset</key>
        <string>{-19,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,12}}</string>
        <key>sourceSize</key>
        <string>{38,12}</string>
      </dict>
      <key>weapon_3066_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,40},{38,13}}</string>
        <key>offset</key>
        <string>{-48,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,13}}</string>
        <key>sourceSize</key>
        <string>{38,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3066_1_4.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_3066_1_4.png</string>
    </dict>
  </dict>
</plist>