<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3009_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,97},{31,54}}</string>
        <key>offset</key>
        <string>{39,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,54}}</string>
        <key>sourceSize</key>
        <string>{31,54}</string>
      </dict>
      <key>weapon_3009_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,69},{65,30}}</string>
        <key>offset</key>
        <string>{-30,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,30}}</string>
        <key>sourceSize</key>
        <string>{65,30}</string>
      </dict>
      <key>weapon_3009_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,149},{23,48}}</string>
        <key>offset</key>
        <string>{14,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,48}}</string>
        <key>sourceSize</key>
        <string>{23,48}</string>
      </dict>
      <key>weapon_3009_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,199},{46,17}}</string>
        <key>offset</key>
        <string>{30,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,17}}</string>
        <key>sourceSize</key>
        <string>{46,17}</string>
      </dict>
      <key>weapon_3009_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,33},{29,28}}</string>
        <key>offset</key>
        <string>{-14,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,28}}</string>
        <key>sourceSize</key>
        <string>{29,28}</string>
      </dict>
      <key>weapon_3009_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,247},{4,44}}</string>
        <key>offset</key>
        <string>{29,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,44}}</string>
        <key>sourceSize</key>
        <string>{4,44}</string>
      </dict>
      <key>weapon_3009_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{29,31}}</string>
        <key>offset</key>
        <string>{35,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,31}}</string>
        <key>sourceSize</key>
        <string>{29,31}</string>
      </dict>
      <key>weapon_3009_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{70,6}}</string>
        <key>offset</key>
        <string>{-56,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,6}}</string>
        <key>sourceSize</key>
        <string>{70,6}</string>
      </dict>
      <key>weapon_3009_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,65},{61,35}}</string>
        <key>offset</key>
        <string>{-23,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,35}}</string>
        <key>sourceSize</key>
        <string>{61,35}</string>
      </dict>
      <key>weapon_3009_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,134},{21,12}}</string>
        <key>offset</key>
        <string>{56,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,12}}</string>
        <key>sourceSize</key>
        <string>{21,12}</string>
      </dict>
      <key>weapon_3009_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,50},{13,10}}</string>
        <key>offset</key>
        <string>{45,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{13,10}}</string>
        <key>sourceSize</key>
        <string>{13,10}</string>
      </dict>
      <key>weapon_3009_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,43},{56,30}}</string>
        <key>offset</key>
        <string>{36,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,30}}</string>
        <key>sourceSize</key>
        <string>{56,30}</string>
      </dict>
      <key>weapon_3009_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,130},{17,48}}</string>
        <key>offset</key>
        <string>{24,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,48}}</string>
        <key>sourceSize</key>
        <string>{17,48}</string>
      </dict>
      <key>weapon_3009_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,203},{49,41}}</string>
        <key>offset</key>
        <string>{-44,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,41}}</string>
        <key>sourceSize</key>
        <string>{49,41}</string>
      </dict>
      <key>weapon_3009_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,0},{63,5}}</string>
        <key>offset</key>
        <string>{-33,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,5}}</string>
        <key>sourceSize</key>
        <string>{63,5}</string>
      </dict>
      <key>weapon_3009_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,149},{44,4}}</string>
        <key>offset</key>
        <string>{27,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,4}}</string>
        <key>sourceSize</key>
        <string>{44,4}</string>
      </dict>
      <key>weapon_3009_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,149},{49,11}}</string>
        <key>offset</key>
        <string>{46,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,11}}</string>
        <key>sourceSize</key>
        <string>{49,11}</string>
      </dict>
      <key>weapon_3009_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,13}}</string>
        <key>offset</key>
        <string>{35,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,13}}</string>
        <key>sourceSize</key>
        <string>{72,13}</string>
      </dict>
      <key>weapon_3009_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{21,48}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{21,48}}</string>
        <key>sourceSize</key>
        <string>{21,48}</string>
      </dict>
      <key>weapon_3009_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,149},{29,44}}</string>
        <key>offset</key>
        <string>{-2,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,44}}</string>
        <key>sourceSize</key>
        <string>{29,44}</string>
      </dict>
      <key>weapon_3009_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,180},{33,38}}</string>
        <key>offset</key>
        <string>{-11,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>weapon_3009_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,67},{64,27}}</string>
        <key>offset</key>
        <string>{-10,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,27}}</string>
        <key>sourceSize</key>
        <string>{64,27}</string>
      </dict>
      <key>weapon_3009_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,59},{56,36}}</string>
        <key>offset</key>
        <string>{46,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,36}}</string>
        <key>sourceSize</key>
        <string>{56,36}</string>
      </dict>
      <key>weapon_3009_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,215},{36,22}}</string>
        <key>offset</key>
        <string>{31,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,22}}</string>
        <key>sourceSize</key>
        <string>{36,22}</string>
      </dict>
      <key>weapon_3009_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,75},{28,55}}</string>
        <key>offset</key>
        <string>{-18,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,55}}</string>
        <key>sourceSize</key>
        <string>{28,55}</string>
      </dict>
      <key>weapon_3009_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,0},{67,25}}</string>
        <key>offset</key>
        <string>{13,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,25}}</string>
        <key>sourceSize</key>
        <string>{67,25}</string>
      </dict>
      <key>weapon_3009_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,130},{34,35}}</string>
        <key>offset</key>
        <string>{11,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,35}}</string>
        <key>sourceSize</key>
        <string>{34,35}</string>
      </dict>
      <key>weapon_3009_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,149},{46,52}}</string>
        <key>offset</key>
        <string>{-27,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,52}}</string>
        <key>sourceSize</key>
        <string>{46,52}</string>
      </dict>
      <key>weapon_3009_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,146},{32,59}}</string>
        <key>offset</key>
        <string>{32,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,59}}</string>
        <key>sourceSize</key>
        <string>{32,59}</string>
      </dict>
      <key>weapon_3009_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,128},{4,48}}</string>
        <key>offset</key>
        <string>{14,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{4,48}}</string>
        <key>sourceSize</key>
        <string>{4,48}</string>
      </dict>
      <key>weapon_3009_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{8,147},{26,68}}</string>
        <key>offset</key>
        <string>{-12,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,68}}</string>
        <key>sourceSize</key>
        <string>{26,68}</string>
      </dict>
      <key>weapon_3009_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,232},{67,20}}</string>
        <key>offset</key>
        <string>{34,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,20}}</string>
        <key>sourceSize</key>
        <string>{67,20}</string>
      </dict>
      <key>weapon_3009_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{65,14}}</string>
        <key>offset</key>
        <string>{11,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,14}}</string>
        <key>sourceSize</key>
        <string>{65,14}</string>
      </dict>
      <key>weapon_3009_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{11,69}}</string>
        <key>offset</key>
        <string>{-21,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,69}}</string>
        <key>sourceSize</key>
        <string>{11,69}</string>
      </dict>
      <key>weapon_3009_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,65},{24,50}}</string>
        <key>offset</key>
        <string>{-8,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,50}}</string>
        <key>sourceSize</key>
        <string>{24,50}</string>
      </dict>
      <key>weapon_3009_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,105},{53,42}}</string>
        <key>offset</key>
        <string>{-40,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,42}}</string>
        <key>sourceSize</key>
        <string>{53,42}</string>
      </dict>
      <key>weapon_3009_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{6,68}}</string>
        <key>offset</key>
        <string>{18,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{6,68}}</string>
        <key>sourceSize</key>
        <string>{6,68}</string>
      </dict>
      <key>weapon_3009_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,180},{36,40}}</string>
        <key>offset</key>
        <string>{48,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,40}}</string>
        <key>sourceSize</key>
        <string>{36,40}</string>
      </dict>
      <key>weapon_3009_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,0},{57,37}}</string>
        <key>offset</key>
        <string>{20,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,37}}</string>
        <key>sourceSize</key>
        <string>{57,37}</string>
      </dict>
      <key>weapon_3009_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,0},{37,63}}</string>
        <key>offset</key>
        <string>{-23,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,63}}</string>
        <key>sourceSize</key>
        <string>{37,63}</string>
      </dict>
      <key>weapon_3009_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{58,41}}</string>
        <key>offset</key>
        <string>{-53,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,41}}</string>
        <key>sourceSize</key>
        <string>{58,41}</string>
      </dict>
      <key>weapon_3009_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{71,13}}</string>
        <key>offset</key>
        <string>{-58,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,13}}</string>
        <key>sourceSize</key>
        <string>{71,13}</string>
      </dict>
      <key>weapon_3009_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{25,65}}</string>
        <key>offset</key>
        <string>{32,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,65}}</string>
        <key>sourceSize</key>
        <string>{25,65}</string>
      </dict>
      <key>weapon_3009_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,208},{19,59}}</string>
        <key>offset</key>
        <string>{30,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,59}}</string>
        <key>sourceSize</key>
        <string>{19,59}</string>
      </dict>
      <key>weapon_3009_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,218},{29,40}}</string>
        <key>offset</key>
        <string>{29,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,40}}</string>
        <key>sourceSize</key>
        <string>{29,40}</string>
      </dict>
      <key>weapon_3009_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,146},{60,41}}</string>
        <key>offset</key>
        <string>{-4,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,41}}</string>
        <key>sourceSize</key>
        <string>{60,41}</string>
      </dict>
      <key>weapon_3009_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{15,136},{65,8}}</string>
        <key>offset</key>
        <string>{-61,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,8}}</string>
        <key>sourceSize</key>
        <string>{65,8}</string>
      </dict>
      <key>weapon_3009_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,97},{34,22}}</string>
        <key>offset</key>
        <string>{-20,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,22}}</string>
        <key>sourceSize</key>
        <string>{34,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3009_1_2.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3009_1_2.png</string>
    </dict>
  </dict>
</plist>