<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3036_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,237},{16,22}}</string>
        <key>offset</key>
        <string>{39,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>weapon_3036_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,237},{16,29}}</string>
        <key>offset</key>
        <string>{36,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,29}}</string>
        <key>sourceSize</key>
        <string>{16,29}</string>
      </dict>
      <key>weapon_3036_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,71},{43,34}}</string>
        <key>offset</key>
        <string>{3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,34}}</string>
        <key>sourceSize</key>
        <string>{43,34}</string>
      </dict>
      <key>weapon_3036_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{107,25}}</string>
        <key>offset</key>
        <string>{-60,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,25}}</string>
        <key>sourceSize</key>
        <string>{107,25}</string>
      </dict>
      <key>weapon_3036_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,152},{72,23}}</string>
        <key>offset</key>
        <string>{24,20}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,23}}</string>
        <key>sourceSize</key>
        <string>{72,23}</string>
      </dict>
      <key>weapon_3036_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,89},{80,31}}</string>
        <key>offset</key>
        <string>{28,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,31}}</string>
        <key>sourceSize</key>
        <string>{80,31}</string>
      </dict>
      <key>weapon_3036_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,146},{57,24}}</string>
        <key>offset</key>
        <string>{46,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,24}}</string>
        <key>sourceSize</key>
        <string>{57,24}</string>
      </dict>
      <key>weapon_3036_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,77},{73,64}}</string>
        <key>offset</key>
        <string>{14,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,64}}</string>
        <key>sourceSize</key>
        <string>{73,64}</string>
      </dict>
      <key>weapon_3036_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{98,46}}</string>
        <key>offset</key>
        <string>{4,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,46}}</string>
        <key>sourceSize</key>
        <string>{98,46}</string>
      </dict>
      <key>weapon_3036_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{106,37}}</string>
        <key>offset</key>
        <string>{9,6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,37}}</string>
        <key>sourceSize</key>
        <string>{106,37}</string>
      </dict>
      <key>weapon_3036_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,100},{97,46}}</string>
        <key>offset</key>
        <string>{41,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,46}}</string>
        <key>sourceSize</key>
        <string>{97,46}</string>
      </dict>
      <key>weapon_3036_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,171},{20,80}}</string>
        <key>offset</key>
        <string>{81,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,80}}</string>
        <key>sourceSize</key>
        <string>{20,80}</string>
      </dict>
      <key>weapon_3036_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{74,75}}</string>
        <key>offset</key>
        <string>{-6,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,75}}</string>
        <key>sourceSize</key>
        <string>{74,75}</string>
      </dict>
      <key>weapon_3036_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,193},{77,59}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,59}}</string>
        <key>sourceSize</key>
        <string>{77,59}</string>
      </dict>
      <key>weapon_3036_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{27,0},{106,22}}</string>
        <key>offset</key>
        <string>{21,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,22}}</string>
        <key>sourceSize</key>
        <string>{106,22}</string>
      </dict>
      <key>weapon_3036_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,199},{93,51}}</string>
        <key>offset</key>
        <string>{50,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,51}}</string>
        <key>sourceSize</key>
        <string>{93,51}</string>
      </dict>
      <key>weapon_3036_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{11,87}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,87}}</string>
        <key>sourceSize</key>
        <string>{11,87}</string>
      </dict>
      <key>weapon_3036_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{15,80}}</string>
        <key>offset</key>
        <string>{-6,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,80}}</string>
        <key>sourceSize</key>
        <string>{15,80}</string>
      </dict>
      <key>weapon_3036_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,75},{69,35}}</string>
        <key>offset</key>
        <string>{-1,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,35}}</string>
        <key>sourceSize</key>
        <string>{69,35}</string>
      </dict>
      <key>weapon_3036_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,108},{105,18}}</string>
        <key>offset</key>
        <string>{2,-45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,18}}</string>
        <key>sourceSize</key>
        <string>{105,18}</string>
      </dict>
      <key>weapon_3036_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,0},{65,69}}</string>
        <key>offset</key>
        <string>{-43,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,69}}</string>
        <key>sourceSize</key>
        <string>{65,69}</string>
      </dict>
      <key>weapon_3036_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{73,55}}</string>
        <key>offset</key>
        <string>{-53,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,55}}</string>
        <key>sourceSize</key>
        <string>{73,55}</string>
      </dict>
      <key>weapon_3036_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,71},{19,47}}</string>
        <key>offset</key>
        <string>{-23,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,47}}</string>
        <key>sourceSize</key>
        <string>{19,47}</string>
      </dict>
      <key>weapon_3036_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,177},{58,37}}</string>
        <key>offset</key>
        <string>{-36,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,37}}</string>
        <key>sourceSize</key>
        <string>{58,37}</string>
      </dict>
      <key>weapon_3036_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{105,30}}</string>
        <key>offset</key>
        <string>{-57,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,30}}</string>
        <key>sourceSize</key>
        <string>{105,30}</string>
      </dict>
      <key>weapon_3036_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{106,20}}</string>
        <key>offset</key>
        <string>{-69,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,20}}</string>
        <key>sourceSize</key>
        <string>{106,20}</string>
      </dict>
      <key>weapon_3036_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,75},{71,25}}</string>
        <key>offset</key>
        <string>{-68,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,25}}</string>
        <key>sourceSize</key>
        <string>{71,25}</string>
      </dict>
      <key>weapon_3036_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,120},{23,41}}</string>
        <key>offset</key>
        <string>{-56,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,41}}</string>
        <key>sourceSize</key>
        <string>{23,41}</string>
      </dict>
      <key>weapon_3036_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,96},{89,26}}</string>
        <key>offset</key>
        <string>{-32,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,26}}</string>
        <key>sourceSize</key>
        <string>{89,26}</string>
      </dict>
      <key>weapon_3036_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{88,13}}</string>
        <key>offset</key>
        <string>{-36,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,13}}</string>
        <key>sourceSize</key>
        <string>{88,13}</string>
      </dict>
      <key>weapon_3036_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,107},{104,24}}</string>
        <key>offset</key>
        <string>{-76,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,24}}</string>
        <key>sourceSize</key>
        <string>{104,24}</string>
      </dict>
      <key>weapon_3036_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{94,17}}</string>
        <key>offset</key>
        <string>{-96,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,17}}</string>
        <key>sourceSize</key>
        <string>{94,17}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3036_1_4.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_3036_1_4.png</string>
    </dict>
  </dict>
</plist>