<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0271_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,427},{56,72}}</string>
        <key>offset</key>
        <string>{15,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{56,72}</string>
        <key>sourceSize</key>
        <string>{56,72}</string>
      </dict>
      <key>weapon_0271_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,174},{88,102}}</string>
        <key>offset</key>
        <string>{-8,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{88,102}</string>
        <key>sourceSize</key>
        <string>{88,102}</string>
      </dict>
      <key>weapon_0271_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,362},{145,64}}</string>
        <key>offset</key>
        <string>{23,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{145,64}</string>
        <key>sourceSize</key>
        <string>{145,64}</string>
      </dict>
      <key>weapon_0271_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,275},{146,85}}</string>
        <key>offset</key>
        <string>{29,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{146,85}</string>
        <key>sourceSize</key>
        <string>{146,85}</string>
      </dict>
      <key>weapon_0271_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{185,88}}</string>
        <key>offset</key>
        <string>{9,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,88}</string>
        <key>sourceSize</key>
        <string>{185,88}</string>
      </dict>
      <key>weapon_0271_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,60}}</string>
        <key>offset</key>
        <string>{24,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{212,60}</string>
        <key>sourceSize</key>
        <string>{212,60}</string>
      </dict>
      <key>weapon_0271_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,134},{139,152}}</string>
        <key>offset</key>
        <string>{-1,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{139,152}</string>
        <key>sourceSize</key>
        <string>{139,152}</string>
      </dict>
      <key>weapon_0271_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{172,118}}</string>
        <key>offset</key>
        <string>{14,-6}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{172,118}</string>
        <key>sourceSize</key>
        <string>{172,118}</string>
      </dict>
      <key>weapon_0271_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,60},{72,165}}</string>
        <key>offset</key>
        <string>{-5,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{72,165}</string>
        <key>sourceSize</key>
        <string>{72,165}</string>
      </dict>
      <key>weapon_0271_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{55,148}}</string>
        <key>offset</key>
        <string>{1,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{55,148}</string>
        <key>sourceSize</key>
        <string>{55,148}</string>
      </dict>
      <key>weapon_0271_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,275},{144,150}}</string>
        <key>offset</key>
        <string>{-100,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{144,150}</string>
        <key>sourceSize</key>
        <string>{144,150}</string>
      </dict>
      <key>weapon_0271_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,362},{131,140}}</string>
        <key>offset</key>
        <string>{-103,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{131,140}</string>
        <key>sourceSize</key>
        <string>{131,140}</string>
      </dict>
      <key>weapon_0271_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,419},{186,91}}</string>
        <key>offset</key>
        <string>{-136,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{186,91}</string>
        <key>sourceSize</key>
        <string>{186,91}</string>
      </dict>
      <key>weapon_0271_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{203,78}}</string>
        <key>offset</key>
        <string>{-161,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{203,78}</string>
        <key>sourceSize</key>
        <string>{203,78}</string>
      </dict>
      <key>weapon_0271_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{170,58}}</string>
        <key>offset</key>
        <string>{-86,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{170,58}</string>
        <key>sourceSize</key>
        <string>{170,58}</string>
      </dict>
      <key>weapon_0271_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,187},{185,73}}</string>
        <key>offset</key>
        <string>{-115,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{185,73}</string>
        <key>sourceSize</key>
        <string>{185,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0271_1_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_0271_1_8.png</string>
    </dict>
  </dict>
</plist>