<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_3060_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{38,40}}</string>
        <key>offset</key>
        <string>{40,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,40}}</string>
        <key>sourceSize</key>
        <string>{38,40}</string>
      </dict>
      <key>weapon_3060_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,35},{34,36}}</string>
        <key>offset</key>
        <string>{30,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>weapon_3060_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{16,32}}</string>
        <key>offset</key>
        <string>{15,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,32}}</string>
        <key>sourceSize</key>
        <string>{16,32}</string>
      </dict>
      <key>weapon_3060_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{18,36}}</string>
        <key>offset</key>
        <string>{-10,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,36}}</string>
        <key>sourceSize</key>
        <string>{18,36}</string>
      </dict>
      <key>weapon_3060_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,21},{35,42}}</string>
        <key>offset</key>
        <string>{-27,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,42}}</string>
        <key>sourceSize</key>
        <string>{35,42}</string>
      </dict>
      <key>weapon_3060_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,0},{33,38}}</string>
        <key>offset</key>
        <string>{-15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,38}}</string>
        <key>sourceSize</key>
        <string>{33,38}</string>
      </dict>
      <key>weapon_3060_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{11,43}}</string>
        <key>offset</key>
        <string>{23,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,43}}</string>
        <key>sourceSize</key>
        <string>{11,43}</string>
      </dict>
      <key>weapon_3060_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{19,44}}</string>
        <key>offset</key>
        <string>{40,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,44}}</string>
        <key>sourceSize</key>
        <string>{19,44}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_3060_1_11.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>weapon_3060_1_11.png</string>
    </dict>
  </dict>
</plist>