<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_0249_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,900},{50,86}}</string>
        <key>offset</key>
        <string>{-198,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{233,135},{50,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,790},{48,112}}</string>
        <key>offset</key>
        <string>{-202,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{230,109},{48,112}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,490},{46,138}}</string>
        <key>offset</key>
        <string>{-202,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{231,83},{46,138}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,948},{48,144}}</string>
        <key>offset</key>
        <string>{-200,320}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{232,73},{48,144}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,790},{50,108}}</string>
        <key>offset</key>
        <string>{-198,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{233,110},{50,108}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,484},{48,88}}</string>
        <key>offset</key>
        <string>{-200,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{232,133},{48,88}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{148,62}}</string>
        <key>offset</key>
        <string>{-158,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{224,169},{148,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,686},{140,80}}</string>
        <key>offset</key>
        <string>{-160,280}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{226,145},{140,80}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,828},{140,104}}</string>
        <key>offset</key>
        <string>{-158,295}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{228,118},{140,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,384},{154,110}}</string>
        <key>offset</key>
        <string>{-148,301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{231,109},{154,110}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,540},{144,78}}</string>
        <key>offset</key>
        <string>{-159,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{225,147},{144,78}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,746},{148,68}}</string>
        <key>offset</key>
        <string>{-158,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{224,162},{148,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,196},{186,74}}</string>
        <key>offset</key>
        <string>{-154,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{209,196},{186,74}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,788},{190,58}}</string>
        <key>offset</key>
        <string>{-150,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{211,191},{190,58}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{192,50}}</string>
        <key>offset</key>
        <string>{-145,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{215,182},{192,50}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,50}}</string>
        <key>offset</key>
        <string>{-138,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{219,181},{198,50}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,594},{190,62}}</string>
        <key>offset</key>
        <string>{-149,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{212,192},{190,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,396},{190,72}}</string>
        <key>offset</key>
        <string>{-153,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{208,194},{190,72}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,676},{128,134}}</string>
        <key>offset</key>
        <string>{-185,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{207,188},{128,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,810},{132,114}}</string>
        <key>offset</key>
        <string>{-180,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{210,190},{132,114}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{142,94}}</string>
        <key>offset</key>
        <string>{-174,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{211,191},{142,94}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,344},{138,90}}</string>
        <key>offset</key>
        <string>{-172,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{215,194},{138,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,612},{130,120}}</string>
        <key>offset</key>
        <string>{-182,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{209,189},{130,120}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,538},{128,134}}</string>
        <key>offset</key>
        <string>{-184,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{208,188},{128,134}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,974},{46,158}}</string>
        <key>offset</key>
        <string>{-233,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{200,178},{46,158}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,296},{46,142}}</string>
        <key>offset</key>
        <string>{-230,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{203,182},{46,142}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,288},{44,118}}</string>
        <key>offset</key>
        <string>{-231,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{203,186},{44,118}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,744},{44,116}}</string>
        <key>offset</key>
        <string>{-231,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{203,187},{44,116}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,896},{50,148}}</string>
        <key>offset</key>
        <string>{-235,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{196,179},{50,148}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,588},{46,156}}</string>
        <key>offset</key>
        <string>{-233,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{200,178},{46,156}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,144},{142,128}}</string>
        <key>offset</key>
        <string>{-273,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{112,178},{142,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,344},{144,114}}</string>
        <key>offset</key>
        <string>{-275,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{109,180},{144,114}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,150},{144,90}}</string>
        <key>offset</key>
        <string>{-278,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{106,183},{144,90}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{150,86}}</string>
        <key>offset</key>
        <string>{-284,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{97,184},{150,86}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,188},{154,118}}</string>
        <key>offset</key>
        <string>{-280,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{99,177},{154,118}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{142,128}}</string>
        <key>offset</key>
        <string>{-273,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{112,178},{142,128}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{186,70}}</string>
        <key>offset</key>
        <string>{-279,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,175},{186,70}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,786},{186,58}}</string>
        <key>offset</key>
        <string>{-282,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{81,173},{186,58}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{196,48}}</string>
        <key>offset</key>
        <string>{-290,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{68,166},{196,48}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{194,52}}</string>
        <key>offset</key>
        <string>{-294,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,161},{194,52}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,200},{194,62}}</string>
        <key>offset</key>
        <string>{-286,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,167},{194,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{194,68}}</string>
        <key>offset</key>
        <string>{-283,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,173},{194,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,926},{132,62}}</string>
        <key>offset</key>
        <string>{-251,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{139,154},{132,62}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,934},{134,80}}</string>
        <key>offset</key>
        <string>{-254,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{135,132},{134,80}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,538},{136,104}}</string>
        <key>offset</key>
        <string>{-257,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{131,108},{136,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,674},{134,104}}</string>
        <key>offset</key>
        <string>{-260,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{129,105},{134,104}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,344},{132,82}}</string>
        <key>offset</key>
        <string>{-253,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{137,130},{132,82}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
      <key>weapon_0249_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,478},{132,68}}</string>
        <key>offset</key>
        <string>{-251,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{139,149},{132,68}}</string>
        <key>sourceSize</key>
        <string>{480,480}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_0249_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_0249_0_1.png</string>
    </dict>
  </dict>
</plist>