<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0030_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,360},{112,136}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,136}}</string>
        <key>sourceSize</key>
        <string>{112,136}</string>
      </dict>
      <key>sfx_0030_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{117,151}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,151}}</string>
        <key>sourceSize</key>
        <string>{117,151}</string>
      </dict>
      <key>sfx_0030_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{118,153}}</string>
        <key>offset</key>
        <string>{-35,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,153}}</string>
        <key>sourceSize</key>
        <string>{118,153}</string>
      </dict>
      <key>sfx_0030_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,120},{119,153}}</string>
        <key>offset</key>
        <string>{-37,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,153}}</string>
        <key>sourceSize</key>
        <string>{119,153}</string>
      </dict>
      <key>sfx_0030_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,156}}</string>
        <key>offset</key>
        <string>{-36,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,156}}</string>
        <key>sourceSize</key>
        <string>{118,156}</string>
      </dict>
      <key>sfx_0030_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{119,148}}</string>
        <key>offset</key>
        <string>{-35,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,148}}</string>
        <key>sourceSize</key>
        <string>{119,148}</string>
      </dict>
      <key>sfx_0030_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{118,145}}</string>
        <key>offset</key>
        <string>{-30,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,145}}</string>
        <key>sourceSize</key>
        <string>{118,145}</string>
      </dict>
      <key>sfx_0030_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,241},{117,133}}</string>
        <key>offset</key>
        <string>{-29,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,133}}</string>
        <key>sourceSize</key>
        <string>{117,133}</string>
      </dict>
      <key>sfx_0030_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,360},{108,105}}</string>
        <key>offset</key>
        <string>{-21,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,105}}</string>
        <key>sourceSize</key>
        <string>{108,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0030_0.png</string>
      <key>size</key>
      <string>{384,512}</string>
      <key>textureFileName</key>
      <string>sfx_0030_0.png</string>
    </dict>
  </dict>
</plist>