<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21116_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,544},{326,273}}</string>
        <key>offset</key>
        <string>{-65,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{326,273}</string>
        <key>sourceSize</key>
        <string>{326,273}</string>
      </dict>
      <key>sfx_21116_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1735,0},{347,264}}</string>
        <key>offset</key>
        <string>{-80,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{347,264}</string>
        <key>sourceSize</key>
        <string>{347,264}</string>
      </dict>
      <key>sfx_21116_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{382,272}}</string>
        <key>offset</key>
        <string>{-98,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{382,272}</string>
        <key>sourceSize</key>
        <string>{382,272}</string>
      </dict>
      <key>sfx_21116_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{399,282}}</string>
        <key>offset</key>
        <string>{-107,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{399,282}</string>
        <key>sourceSize</key>
        <string>{399,282}</string>
      </dict>
      <key>sfx_21116_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,401},{392,274}}</string>
        <key>offset</key>
        <string>{-104,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{392,274}</string>
        <key>sourceSize</key>
        <string>{392,274}</string>
      </dict>
      <key>sfx_21116_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,384},{373,267}}</string>
        <key>offset</key>
        <string>{-94,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{373,267}</string>
        <key>sourceSize</key>
        <string>{373,267}</string>
      </dict>
      <key>sfx_21116_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,0},{352,277}}</string>
        <key>offset</key>
        <string>{-81,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{352,277}</string>
        <key>sourceSize</key>
        <string>{352,277}</string>
      </dict>
      <key>sfx_21116_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,349},{327,284}}</string>
        <key>offset</key>
        <string>{-66,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{327,284}</string>
        <key>sourceSize</key>
        <string>{327,284}</string>
      </dict>
      <key>sfx_21116_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1714,678},{326,273}}</string>
        <key>offset</key>
        <string>{-65,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{326,273}</string>
        <key>sourceSize</key>
        <string>{326,273}</string>
      </dict>
      <key>sfx_21116_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1381,278},{347,264}}</string>
        <key>offset</key>
        <string>{-80,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{347,264}</string>
        <key>sourceSize</key>
        <string>{347,264}</string>
      </dict>
      <key>sfx_21116_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,384},{382,271}}</string>
        <key>offset</key>
        <string>{-98,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{382,271}</string>
        <key>sourceSize</key>
        <string>{382,271}</string>
      </dict>
      <key>sfx_21116_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{399,282}}</string>
        <key>offset</key>
        <string>{-107,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{399,282}</string>
        <key>sourceSize</key>
        <string>{399,282}</string>
      </dict>
      <key>sfx_21116_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{392,274}}</string>
        <key>offset</key>
        <string>{-104,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{392,274}</string>
        <key>sourceSize</key>
        <string>{392,274}</string>
      </dict>
      <key>sfx_21116_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{373,266}}</string>
        <key>offset</key>
        <string>{-94,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{373,266}</string>
        <key>sourceSize</key>
        <string>{373,266}</string>
      </dict>
      <key>sfx_21116_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1381,0},{352,276}}</string>
        <key>offset</key>
        <string>{-81,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{352,276}</string>
        <key>sourceSize</key>
        <string>{352,276}</string>
      </dict>
      <key>sfx_21116_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1102,678},{327,282}}</string>
        <key>offset</key>
        <string>{-66,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{327,282}</string>
        <key>sourceSize</key>
        <string>{327,282}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21116_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21116_0.png</string>
    </dict>
  </dict>
</plist>