<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0180_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>offset</key>
        <string>{-500,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>sfx_0180_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,1002},{77,69}}</string>
        <key>offset</key>
        <string>{54,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,69}}</string>
        <key>sourceSize</key>
        <string>{77,69}</string>
      </dict>
      <key>sfx_0180_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,1113},{72,97}}</string>
        <key>offset</key>
        <string>{13,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,97}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>sfx_0180_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,1002},{91,109}}</string>
        <key>offset</key>
        <string>{-51,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,109}}</string>
        <key>sourceSize</key>
        <string>{91,109}</string>
      </dict>
      <key>sfx_0180_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1002},{290,178}}</string>
        <key>offset</key>
        <string>{-218,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,178}}</string>
        <key>sourceSize</key>
        <string>{290,178}</string>
      </dict>
      <key>sfx_0180_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,146},{253,138}}</string>
        <key>offset</key>
        <string>{-213,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,138}}</string>
        <key>sourceSize</key>
        <string>{253,138}</string>
      </dict>
      <key>sfx_0180_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,286},{251,146}}</string>
        <key>offset</key>
        <string>{-213,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,146}}</string>
        <key>sourceSize</key>
        <string>{251,146}</string>
      </dict>
      <key>sfx_0180_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{254,144}}</string>
        <key>offset</key>
        <string>{-244,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,144}}</string>
        <key>sourceSize</key>
        <string>{254,144}</string>
      </dict>
      <key>sfx_0180_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,434},{231,136}}</string>
        <key>offset</key>
        <string>{-239,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,136}}</string>
        <key>sourceSize</key>
        <string>{231,136}</string>
      </dict>
      <key>sfx_0180_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,572},{212,121}}</string>
        <key>offset</key>
        <string>{-234,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,121}}</string>
        <key>sourceSize</key>
        <string>{212,121}</string>
      </dict>
      <key>sfx_0180_5_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,572},{120,61}}</string>
        <key>offset</key>
        <string>{-220,-59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,61}}</string>
        <key>sourceSize</key>
        <string>{120,61}</string>
      </dict>
      <key>sfx_0180_5_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,434},{68,39}}</string>
        <key>offset</key>
        <string>{-223,-76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0180_5.png</string>
      <key>size</key>
      <string>{1282,1202}</string>
      <key>textureFileName</key>
      <string>sfx_0180_5.png</string>
    </dict>
  </dict>
</plist>