<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfx_4018_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,264},{274,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,15},{274,84}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
            <key>sfx_4018_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{274,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{15,14},{274,86}}</string>
                <key>sourceSize</key>
                <string>{308,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfx_4018_0.png</string>
            <key>size</key>
            <string>{450,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ccb5d637803088a54cf082566a73df:835570110e8f4150f9c722fb030bd595:cd2243721209bc04a5cb1dc3c3fbf4ac$</string>
            <key>textureFileName</key>
            <string>sfx_4018_0.png</string>
        </dict>
    </dict>
</plist>