<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25057_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,415},{413,443}}</string>
        <key>offset</key>
        <string>{-210,388}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,443}}</string>
        <key>sourceSize</key>
        <string>{413,443}</string>
      </dict>
      <key>sfx_25057_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,831},{412,442}}</string>
        <key>offset</key>
        <string>{-210,388}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,442}}</string>
        <key>sourceSize</key>
        <string>{412,442}</string>
      </dict>
      <key>sfx_25057_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,830},{412,440}}</string>
        <key>offset</key>
        <string>{-211,387}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,440}}</string>
        <key>sourceSize</key>
        <string>{412,440}</string>
      </dict>
      <key>sfx_25057_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,831},{416,442}}</string>
        <key>offset</key>
        <string>{-212,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,442}}</string>
        <key>sourceSize</key>
        <string>{416,442}</string>
      </dict>
      <key>sfx_25057_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{414,447}}</string>
        <key>offset</key>
        <string>{-210,395}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,447}}</string>
        <key>sourceSize</key>
        <string>{414,447}</string>
      </dict>
      <key>sfx_25057_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{413,444}}</string>
        <key>offset</key>
        <string>{-210,387}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,444}}</string>
        <key>sourceSize</key>
        <string>{413,444}</string>
      </dict>
      <key>sfx_25057_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{413,443}}</string>
        <key>offset</key>
        <string>{-211,392}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,443}}</string>
        <key>sourceSize</key>
        <string>{413,443}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25057_0_1.png</string>
      <key>size</key>
      <string>{1436,1282}</string>
      <key>textureFileName</key>
      <string>sfx_25057_0_1.png</string>
    </dict>
  </dict>
</plist>