<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21154_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,552},{168,272}}</string>
        <key>offset</key>
        <string>{-63,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{168,272}</string>
        <key>sourceSize</key>
        <string>{168,272}</string>
      </dict>
      <key>sfx_21154_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,680},{167,272}}</string>
        <key>offset</key>
        <string>{-62,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{167,272}</string>
        <key>sourceSize</key>
        <string>{167,272}</string>
      </dict>
      <key>sfx_21154_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{166,274}}</string>
        <key>offset</key>
        <string>{-61,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{166,274}</string>
        <key>sourceSize</key>
        <string>{166,274}</string>
      </dict>
      <key>sfx_21154_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{165,274}}</string>
        <key>offset</key>
        <string>{-60,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{165,274}</string>
        <key>sourceSize</key>
        <string>{165,274}</string>
      </dict>
      <key>sfx_21154_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,509},{169,273}}</string>
        <key>offset</key>
        <string>{-64,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,273}</string>
        <key>sourceSize</key>
        <string>{169,273}</string>
      </dict>
      <key>sfx_21154_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,276},{169,274}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{169,274}</string>
        <key>sourceSize</key>
        <string>{169,274}</string>
      </dict>
      <key>sfx_21154_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,275}}</string>
        <key>offset</key>
        <string>{-64,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,275}</string>
        <key>sourceSize</key>
        <string>{169,275}</string>
      </dict>
      <key>sfx_21154_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{169,274}}</string>
        <key>offset</key>
        <string>{-64,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{169,274}</string>
        <key>sourceSize</key>
        <string>{169,274}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21154_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21154_0.png</string>
    </dict>
  </dict>
</plist>