<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21073_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,226}}</string>
        <key>sourceSize</key>
        <string>{144,226}</string>
      </dict>
      <key>sfx_21073_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{146,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,226}}</string>
        <key>sourceSize</key>
        <string>{146,226}</string>
      </dict>
      <key>sfx_21073_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{148,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,226}}</string>
        <key>sourceSize</key>
        <string>{148,226}</string>
      </dict>
      <key>sfx_21073_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,148},{152,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,226}}</string>
        <key>sourceSize</key>
        <string>{152,226}</string>
      </dict>
      <key>sfx_21073_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{154,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,226}}</string>
        <key>sourceSize</key>
        <string>{154,226}</string>
      </dict>
      <key>sfx_21073_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,302},{154,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,226}}</string>
        <key>sourceSize</key>
        <string>{154,226}</string>
      </dict>
      <key>sfx_21073_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{155,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,226}}</string>
        <key>sourceSize</key>
        <string>{155,226}</string>
      </dict>
      <key>sfx_21073_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,458},{155,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,226}}</string>
        <key>sourceSize</key>
        <string>{155,226}</string>
      </dict>
      <key>sfx_21073_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,609},{156,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,226}}</string>
        <key>sourceSize</key>
        <string>{156,226}</string>
      </dict>
      <key>sfx_21073_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{156,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,226}}</string>
        <key>sourceSize</key>
        <string>{156,226}</string>
      </dict>
      <key>sfx_21073_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,767},{141,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,226}}</string>
        <key>sourceSize</key>
        <string>{141,226}</string>
      </dict>
      <key>sfx_21073_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,615},{144,226}}</string>
        <key>offset</key>
        <string>{-57,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,226}}</string>
        <key>sourceSize</key>
        <string>{144,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21073_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21073_0.png</string>
    </dict>
  </dict>
</plist>