<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0106_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,222},{217,187}}</string>
        <key>offset</key>
        <string>{-85,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,187}}</string>
        <key>sourceSize</key>
        <string>{217,187}</string>
      </dict>
      <key>sfx_0106_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,223},{220,182}}</string>
        <key>offset</key>
        <string>{-91,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,182}}</string>
        <key>sourceSize</key>
        <string>{220,182}</string>
      </dict>
      <key>sfx_0106_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{224,172}}</string>
        <key>offset</key>
        <string>{-97,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,172}}</string>
        <key>sourceSize</key>
        <string>{224,172}</string>
      </dict>
      <key>sfx_0106_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{221,163}}</string>
        <key>offset</key>
        <string>{-103,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,163}}</string>
        <key>sourceSize</key>
        <string>{221,163}</string>
      </dict>
      <key>sfx_0106_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,445},{219,165}}</string>
        <key>offset</key>
        <string>{-98,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,165}}</string>
        <key>sourceSize</key>
        <string>{219,165}</string>
      </dict>
      <key>sfx_0106_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{216,162}}</string>
        <key>offset</key>
        <string>{-91,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,162}}</string>
        <key>sourceSize</key>
        <string>{216,162}</string>
      </dict>
      <key>sfx_0106_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,612},{216,167}}</string>
        <key>offset</key>
        <string>{-87,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,167}}</string>
        <key>sourceSize</key>
        <string>{216,167}</string>
      </dict>
      <key>sfx_0106_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{223,180}}</string>
        <key>offset</key>
        <string>{-86,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,180}}</string>
        <key>sourceSize</key>
        <string>{223,180}</string>
      </dict>
      <key>sfx_0106_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{227,160}}</string>
        <key>offset</key>
        <string>{-86,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,160}}</string>
        <key>sourceSize</key>
        <string>{227,160}</string>
      </dict>
      <key>sfx_0106_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{220,159}}</string>
        <key>offset</key>
        <string>{-84,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,159}}</string>
        <key>sourceSize</key>
        <string>{220,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0106_0.png</string>
      <key>size</key>
      <string>{642,802}</string>
      <key>textureFileName</key>
      <string>sfx_0106_0.png</string>
    </dict>
  </dict>
</plist>