<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_8617_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,356},{176,442}}</string>
        <key>offset</key>
        <string>{-86,392}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,12},{176,442}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{176,428}}</string>
        <key>offset</key>
        <string>{-86,385}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,26},{176,428}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,0},{176,424}}</string>
        <key>offset</key>
        <string>{-86,383}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,30},{176,424}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,0},{176,440}}</string>
        <key>offset</key>
        <string>{-86,391}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,14},{176,440}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{176,448}}</string>
        <key>offset</key>
        <string>{-86,395}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,6},{176,448}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,178},{176,426}}</string>
        <key>offset</key>
        <string>{-86,384}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,28},{176,426}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,178},{176,438}}</string>
        <key>offset</key>
        <string>{-86,390}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,16},{176,438}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,178},{176,452}}</string>
        <key>offset</key>
        <string>{-86,397}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,2},{176,452}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{176,434}}</string>
        <key>offset</key>
        <string>{-86,388}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,20},{176,434}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,356},{176,436}}</string>
        <key>offset</key>
        <string>{-86,389}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,18},{176,436}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,442}}</string>
        <key>offset</key>
        <string>{-86,392}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,12},{176,442}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
      <key>sfx_8617_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,356},{176,444}}</string>
        <key>offset</key>
        <string>{-86,393}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,10},{176,444}}</string>
        <key>sourceSize</key>
        <string>{176,454}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_8617_0.png</string>
      <key>size</key>
      <string>{1770,532}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:62ebcb59cd1dd2dd54c9da87b3807a41:a3971d6c63906cb8a8fba958ce40b9d7:de45c4401b08943fe8228b2d03268dfa$</string>
      <key>textureFileName</key>
      <string>sfx_8617_0.png</string>
    </dict>
  </dict>
</plist>