<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfx_8000_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,174},{82,66}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,35},{82,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,86},{86,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,34},{86,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{84,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{76,84}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{76,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{76,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{76,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{74,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{74,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,156},{60,78}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{60,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,84},{62,70}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{62,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,174},{62,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{62,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sfx_8000_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{82,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{82,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfx_8000_0.png</string>
            <key>size</key>
            <string>{270,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:987a239be4494b39ad313947ee9d55cf:24ef0ce6f6028aa248a93962fc28d1ff:4946829d856b799baf9863cfa4e862d5$</string>
            <key>textureFileName</key>
            <string>sfx_8000_0.png</string>
        </dict>
    </dict>
</plist>
