<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0207_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1012},{10,9}}</string>
        <key>offset</key>
        <string>{-95,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,9}}</string>
        <key>sourceSize</key>
        <string>{10,9}</string>
      </dict>
      <key>sfx_0207_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,726},{83,49}}</string>
        <key>offset</key>
        <string>{-114,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,49}}</string>
        <key>sourceSize</key>
        <string>{83,49}</string>
      </dict>
      <key>sfx_0207_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,0},{150,95}}</string>
        <key>offset</key>
        <string>{-114,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,95}}</string>
        <key>sourceSize</key>
        <string>{150,95}</string>
      </dict>
      <key>sfx_0207_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,790},{215,145}}</string>
        <key>offset</key>
        <string>{-114,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,145}}</string>
        <key>sourceSize</key>
        <string>{215,145}</string>
      </dict>
      <key>sfx_0207_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,0},{249,193}}</string>
        <key>offset</key>
        <string>{-116,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,193}}</string>
        <key>sourceSize</key>
        <string>{249,193}</string>
      </dict>
      <key>sfx_0207_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,790},{254,231}}</string>
        <key>offset</key>
        <string>{-116,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,231}}</string>
        <key>sourceSize</key>
        <string>{254,231}</string>
      </dict>
      <key>sfx_0207_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,261},{255,249}}</string>
        <key>offset</key>
        <string>{-117,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,249}}</string>
        <key>sourceSize</key>
        <string>{255,249}</string>
      </dict>
      <key>sfx_0207_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,528},{259,260}}</string>
        <key>offset</key>
        <string>{-117,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,260}}</string>
        <key>sourceSize</key>
        <string>{259,260}</string>
      </dict>
      <key>sfx_0207_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{259,261}}</string>
        <key>offset</key>
        <string>{-117,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,261}}</string>
        <key>sourceSize</key>
        <string>{259,261}</string>
      </dict>
      <key>sfx_0207_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,265},{262,256}}</string>
        <key>offset</key>
        <string>{-121,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,256}}</string>
        <key>sourceSize</key>
        <string>{262,256}</string>
      </dict>
      <key>sfx_0207_2_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{262,246}}</string>
        <key>offset</key>
        <string>{-121,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,246}}</string>
        <key>sourceSize</key>
        <string>{262,246}</string>
      </dict>
      <key>sfx_0207_2_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,529},{262,247}}</string>
        <key>offset</key>
        <string>{-121,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,247}}</string>
        <key>sourceSize</key>
        <string>{262,247}</string>
      </dict>
      <key>sfx_0207_2_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{263,250}}</string>
        <key>offset</key>
        <string>{-121,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,250}}</string>
        <key>sourceSize</key>
        <string>{263,250}</string>
      </dict>
      <key>sfx_0207_2_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{263,236}}</string>
        <key>offset</key>
        <string>{-121,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,236}}</string>
        <key>sourceSize</key>
        <string>{263,236}</string>
      </dict>
      <key>sfx_0207_2_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{263,226}}</string>
        <key>offset</key>
        <string>{-121,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,226}}</string>
        <key>sourceSize</key>
        <string>{263,226}</string>
      </dict>
      <key>sfx_0207_2_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,795},{263,215}}</string>
        <key>offset</key>
        <string>{-121,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,215}}</string>
        <key>sourceSize</key>
        <string>{263,215}</string>
      </dict>
      <key>sfx_0207_2_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,530},{263,214}}</string>
        <key>offset</key>
        <string>{-121,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,214}}</string>
        <key>sourceSize</key>
        <string>{263,214}</string>
      </dict>
      <key>sfx_0207_2_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,264},{262,214}}</string>
        <key>offset</key>
        <string>{-120,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,214}}</string>
        <key>sourceSize</key>
        <string>{262,214}</string>
      </dict>
      <key>sfx_0207_2_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,263},{259,214}}</string>
        <key>offset</key>
        <string>{-117,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,214}}</string>
        <key>sourceSize</key>
        <string>{259,214}</string>
      </dict>
      <key>sfx_0207_2_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,0},{259,213}}</string>
        <key>offset</key>
        <string>{-117,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,213}}</string>
        <key>sourceSize</key>
        <string>{259,213}</string>
      </dict>
      <key>sfx_0207_2_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,795},{247,213}}</string>
        <key>offset</key>
        <string>{-106,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,213}}</string>
        <key>sourceSize</key>
        <string>{247,213}</string>
      </dict>
      <key>sfx_0207_2_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,518},{201,206}}</string>
        <key>offset</key>
        <string>{-61,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,206}}</string>
        <key>sourceSize</key>
        <string>{201,206}</string>
      </dict>
      <key>sfx_0207_2_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,793},{145,205}}</string>
        <key>offset</key>
        <string>{-6,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,205}}</string>
        <key>sourceSize</key>
        <string>{145,205}</string>
      </dict>
      <key>sfx_0207_2_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,726},{72,174}}</string>
        <key>offset</key>
        <string>{56,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,174}}</string>
        <key>sourceSize</key>
        <string>{72,174}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0207_2.png</string>
      <key>size</key>
      <string>{1280,1024}</string>
      <key>textureFileName</key>
      <string>sfx_0207_2.png</string>
    </dict>
  </dict>
</plist>