<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0110_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,430},{82,389}}</string>
        <key>offset</key>
        <string>{-19,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,389}}</string>
        <key>sourceSize</key>
        <string>{82,389}</string>
      </dict>
      <key>sfx_0110_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{82,394}}</string>
        <key>offset</key>
        <string>{-24,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,394}}</string>
        <key>sourceSize</key>
        <string>{82,394}</string>
      </dict>
      <key>sfx_0110_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{142,415}}</string>
        <key>offset</key>
        <string>{-42,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,415}}</string>
        <key>sourceSize</key>
        <string>{142,415}</string>
      </dict>
      <key>sfx_0110_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,238},{190,433}}</string>
        <key>offset</key>
        <string>{-62,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,433}}</string>
        <key>sourceSize</key>
        <string>{190,433}</string>
      </dict>
      <key>sfx_0110_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{236,441}}</string>
        <key>offset</key>
        <string>{-90,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,441}}</string>
        <key>sourceSize</key>
        <string>{236,441}</string>
      </dict>
      <key>sfx_0110_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{245,445}}</string>
        <key>offset</key>
        <string>{-98,340}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,445}}</string>
        <key>sourceSize</key>
        <string>{245,445}</string>
      </dict>
      <key>sfx_0110_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,0},{258,272}}</string>
        <key>offset</key>
        <string>{-106,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,272}}</string>
        <key>sourceSize</key>
        <string>{258,272}</string>
      </dict>
      <key>sfx_0110_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{266,284}}</string>
        <key>offset</key>
        <string>{-110,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,284}}</string>
        <key>sourceSize</key>
        <string>{266,284}</string>
      </dict>
      <key>sfx_0110_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,743},{271,280}}</string>
        <key>offset</key>
        <string>{-113,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,280}}</string>
        <key>sourceSize</key>
        <string>{271,280}</string>
      </dict>
      <key>sfx_0110_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,743},{276,256}}</string>
        <key>offset</key>
        <string>{-115,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,256}}</string>
        <key>sourceSize</key>
        <string>{276,256}</string>
      </dict>
      <key>sfx_0110_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,514},{276,262}}</string>
        <key>offset</key>
        <string>{-115,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,262}}</string>
        <key>sourceSize</key>
        <string>{276,262}</string>
      </dict>
      <key>sfx_0110_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,274},{171,249}}</string>
        <key>offset</key>
        <string>{-58,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,249}}</string>
        <key>sourceSize</key>
        <string>{171,249}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0110_0.png</string>
      <key>size</key>
      <string>{1154,1026}</string>
      <key>textureFileName</key>
      <string>sfx_0110_0.png</string>
    </dict>
  </dict>
</plist>