<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_1002_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>offset</key>
        <string>{-481,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>sfx_1002_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{100,100}}</string>
        <key>offset</key>
        <string>{-481,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_1002_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,102},{100,100}}</string>
        <key>offset</key>
        <string>{-481,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sfx_1002_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,252},{48,49}}</string>
        <key>offset</key>
        <string>{-51,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>sfx_1002_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,204},{51,54}}</string>
        <key>offset</key>
        <string>{-62,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,54}}</string>
        <key>sourceSize</key>
        <string>{51,54}</string>
      </dict>
      <key>sfx_1002_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,204},{46,58}}</string>
        <key>offset</key>
        <string>{-57,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,58}}</string>
        <key>sourceSize</key>
        <string>{46,58}</string>
      </dict>
      <key>sfx_1002_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,257},{35,48}}</string>
        <key>offset</key>
        <string>{-44,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,48}}</string>
        <key>sourceSize</key>
        <string>{35,48}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_1002_5.png</string>
      <key>size</key>
      <string>{1124,1026}</string>
      <key>textureFileName</key>
      <string>sfx_1002_5.png</string>
    </dict>
  </dict>
</plist>