<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_50697_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,138},{186,136}}</string>
        <key>offset</key>
        <string>{-126,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,42},{186,136}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,138},{186,136}}</string>
        <key>offset</key>
        <string>{-126,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,42},{186,136}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{188,136}}</string>
        <key>offset</key>
        <string>{-125,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{57,42},{188,136}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,138}}</string>
        <key>offset</key>
        <string>{-124,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,40},{188,138}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,138}}</string>
        <key>offset</key>
        <string>{-124,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,40},{188,138}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,278},{188,134}}</string>
        <key>offset</key>
        <string>{-124,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,44},{188,134}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{190,132}}</string>
        <key>offset</key>
        <string>{-125,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,46},{190,132}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{190,132}}</string>
        <key>offset</key>
        <string>{-125,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,46},{190,132}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,276},{186,134}}</string>
        <key>offset</key>
        <string>{-125,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{58,44},{186,134}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,276},{186,134}}</string>
        <key>offset</key>
        <string>{-126,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{57,44},{186,134}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,276},{186,134}}</string>
        <key>offset</key>
        <string>{-126,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{57,44},{186,134}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50697_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{186,136}}</string>
        <key>offset</key>
        <string>{-125,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{58,42},{186,136}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_50697_0.png</string>
      <key>size</key>
      <string>{510,462}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:70e8167fdcc95e588fe1b1b988c68deb:d35de31126bde9b7f0ba4fd3e03d4a1d:3e45df225a7638cd2f13acb06e9e0757$</string>
      <key>textureFileName</key>
      <string>sfx_50697_0.png</string>
    </dict>
  </dict>
</plist>