<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_1000_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>offset</key>
        <string>{-476,475}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>sfx_1000_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,390},{64,90}}</string>
        <key>offset</key>
        <string>{-11,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,90}}</string>
        <key>sourceSize</key>
        <string>{64,90}</string>
      </dict>
      <key>sfx_1000_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,115},{68,107}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,107}}</string>
        <key>sourceSize</key>
        <string>{68,107}</string>
      </dict>
      <key>sfx_1000_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{72,113}}</string>
        <key>offset</key>
        <string>{-14,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,113}}</string>
        <key>sourceSize</key>
        <string>{72,113}</string>
      </dict>
      <key>sfx_1000_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,224},{61,101}}</string>
        <key>offset</key>
        <string>{-8,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,101}}</string>
        <key>sourceSize</key>
        <string>{61,101}</string>
      </dict>
      <key>sfx_1000_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,327},{61,92}}</string>
        <key>offset</key>
        <string>{-8,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,92}}</string>
        <key>sourceSize</key>
        <string>{61,92}</string>
      </dict>
      <key>sfx_1000_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,456},{64,87}}</string>
        <key>offset</key>
        <string>{-11,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,87}}</string>
        <key>sourceSize</key>
        <string>{64,87}</string>
      </dict>
      <key>sfx_1000_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,522},{66,62}}</string>
        <key>offset</key>
        <string>{-12,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,62}}</string>
        <key>sourceSize</key>
        <string>{66,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_1000_0.png</string>
      <key>size</key>
      <string>{1096,1026}</string>
      <key>textureFileName</key>
      <string>sfx_1000_0.png</string>
    </dict>
  </dict>
</plist>