<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfx_4014_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,0},{126,126}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{126,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,124},{136,128}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{136,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,128},{130,128}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,390},{130,134}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{130,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,386},{130,134}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,29},{130,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{130,134}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{130,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,258},{130,134}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{130,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{134,130}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{134,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{134,126}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{134,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{134,130}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{134,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,118}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{136,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sfx_4014_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{142,122}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{142,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfx_4014_0.png</string>
            <key>size</key>
            <string>{408,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c508f2565e67cdd179c409f83037a07:d8e2cd1a5423e6c7a6dc1c825143b9f0:c434ebd0f0d81ff35139370e5983d24a$</string>
            <key>textureFileName</key>
            <string>sfx_4014_0.png</string>
        </dict>
    </dict>
</plist>
