<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_50700_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,166},{246,168}}</string>
        <key>offset</key>
        <string>{-125,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,17},{246,168}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,166},{246,168}}</string>
        <key>offset</key>
        <string>{-125,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,17},{246,168}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,166},{240,168}}</string>
        <key>offset</key>
        <string>{-124,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,17},{240,168}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,0},{234,170}}</string>
        <key>offset</key>
        <string>{-128,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,15},{234,170}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,0},{234,170}}</string>
        <key>offset</key>
        <string>{-128,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{31,15},{234,170}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{230,166}}</string>
        <key>offset</key>
        <string>{-129,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,19},{230,166}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{228,162}}</string>
        <key>offset</key>
        <string>{-129,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,23},{228,162}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{228,162}}</string>
        <key>offset</key>
        <string>{-129,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,23},{228,162}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,172},{234,162}}</string>
        <key>offset</key>
        <string>{-132,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,23},{234,162}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,164}}</string>
        <key>offset</key>
        <string>{-127,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{24,21},{250,164}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,164}}</string>
        <key>offset</key>
        <string>{-127,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{24,21},{250,164}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
      <key>sfx_50700_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,166}}</string>
        <key>offset</key>
        <string>{-123,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,19},{250,166}}</string>
        <key>sourceSize</key>
        <string>{300,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_50700_0.png</string>
      <key>size</key>
      <string>{976,334}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:8c7c820dd81f263e59412eeb8de1209f:30f5bdea060c807c00755f01b42ba9f4:fc07c11634dcfb54b28b2f5a7df32cdf$</string>
      <key>textureFileName</key>
      <string>sfx_50700_0.png</string>
    </dict>
  </dict>
</plist>