<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21106_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1619},{250,287}}</string>
        <key>offset</key>
        <string>{-32,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{250,287}</string>
        <key>sourceSize</key>
        <string>{250,287}</string>
      </dict>
      <key>sfx_21106_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,1350},{254,291}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{254,291}</string>
        <key>sourceSize</key>
        <string>{254,291}</string>
      </dict>
      <key>sfx_21106_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,1088},{256,293}}</string>
        <key>offset</key>
        <string>{-35,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{256,293}</string>
        <key>sourceSize</key>
        <string>{256,293}</string>
      </dict>
      <key>sfx_21106_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1101},{260,294}}</string>
        <key>offset</key>
        <string>{-37,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{260,294}</string>
        <key>sourceSize</key>
        <string>{260,294}</string>
      </dict>
      <key>sfx_21106_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,824},{262,297}}</string>
        <key>offset</key>
        <string>{-38,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{262,297}</string>
        <key>sourceSize</key>
        <string>{262,297}</string>
      </dict>
      <key>sfx_21106_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,820},{265,299}}</string>
        <key>offset</key>
        <string>{-39,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{265,299}</string>
        <key>sourceSize</key>
        <string>{265,299}</string>
      </dict>
      <key>sfx_21106_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,549},{269,302}}</string>
        <key>offset</key>
        <string>{-41,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{269,302}</string>
        <key>sourceSize</key>
        <string>{269,302}</string>
      </dict>
      <key>sfx_21106_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,563},{271,302}}</string>
        <key>offset</key>
        <string>{-42,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{271,302}</string>
        <key>sourceSize</key>
        <string>{271,302}</string>
      </dict>
      <key>sfx_21106_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{275,308}}</string>
        <key>offset</key>
        <string>{-44,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{275,308}</string>
        <key>sourceSize</key>
        <string>{275,308}</string>
      </dict>
      <key>sfx_21106_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,269},{278,307}}</string>
        <key>offset</key>
        <string>{-46,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{278,307}</string>
        <key>sourceSize</key>
        <string>{278,307}</string>
      </dict>
      <key>sfx_21106_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{282,321}}</string>
        <key>offset</key>
        <string>{-48,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{282,321}</string>
        <key>sourceSize</key>
        <string>{282,321}</string>
      </dict>
      <key>sfx_21106_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{277,307}}</string>
        <key>offset</key>
        <string>{-45,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{277,307}</string>
        <key>sourceSize</key>
        <string>{277,307}</string>
      </dict>
      <key>sfx_21106_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,549},{273,304}}</string>
        <key>offset</key>
        <string>{-43,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{273,304}</string>
        <key>sourceSize</key>
        <string>{273,304}</string>
      </dict>
      <key>sfx_21106_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,277},{270,306}}</string>
        <key>offset</key>
        <string>{-42,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{270,306}</string>
        <key>sourceSize</key>
        <string>{270,306}</string>
      </dict>
      <key>sfx_21106_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{267,311}}</string>
        <key>offset</key>
        <string>{-40,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{267,311}</string>
        <key>sourceSize</key>
        <string>{267,311}</string>
      </dict>
      <key>sfx_21106_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,836},{263,299}}</string>
        <key>offset</key>
        <string>{-38,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{263,299}</string>
        <key>sourceSize</key>
        <string>{263,299}</string>
      </dict>
      <key>sfx_21106_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,1087},{261,296}}</string>
        <key>offset</key>
        <string>{-37,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{261,296}</string>
        <key>sourceSize</key>
        <string>{261,296}</string>
      </dict>
      <key>sfx_21106_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,1346},{257,293}}</string>
        <key>offset</key>
        <string>{-35,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{257,293}</string>
        <key>sourceSize</key>
        <string>{257,293}</string>
      </dict>
      <key>sfx_21106_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1363},{254,291}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{254,291}</string>
        <key>sourceSize</key>
        <string>{254,291}</string>
      </dict>
      <key>sfx_21106_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,1619},{250,287}}</string>
        <key>offset</key>
        <string>{-32,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{250,287}</string>
        <key>sourceSize</key>
        <string>{250,287}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21106_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_21106_0.png</string>
    </dict>
  </dict>
</plist>