<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0019_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,186},{97,97}}</string>
        <key>offset</key>
        <string>{-4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,97}}</string>
        <key>sourceSize</key>
        <string>{97,97}</string>
      </dict>
      <key>sfx_0019_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{93,99}}</string>
        <key>offset</key>
        <string>{1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,99}}</string>
        <key>sourceSize</key>
        <string>{93,99}</string>
      </dict>
      <key>sfx_0019_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,112},{93,101}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,101}}</string>
        <key>sourceSize</key>
        <string>{93,101}</string>
      </dict>
      <key>sfx_0019_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,247},{100,106}}</string>
        <key>offset</key>
        <string>{-5,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,106}}</string>
        <key>sourceSize</key>
        <string>{100,106}</string>
      </dict>
      <key>sfx_0019_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,247},{105,109}}</string>
        <key>offset</key>
        <string>{-8,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,109}}</string>
        <key>sourceSize</key>
        <string>{105,109}</string>
      </dict>
      <key>sfx_0019_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{111,116}}</string>
        <key>offset</key>
        <string>{-12,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,116}}</string>
        <key>sourceSize</key>
        <string>{111,116}</string>
      </dict>
      <key>sfx_0019_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{107,126}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,126}}</string>
        <key>sourceSize</key>
        <string>{107,126}</string>
      </dict>
      <key>sfx_0019_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,127}}</string>
        <key>offset</key>
        <string>{-18,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,127}}</string>
        <key>sourceSize</key>
        <string>{112,127}</string>
      </dict>
      <key>sfx_0019_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,129},{110,116}}</string>
        <key>offset</key>
        <string>{-19,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,116}}</string>
        <key>sourceSize</key>
        <string>{110,116}</string>
      </dict>
      <key>sfx_0019_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{93,110}}</string>
        <key>offset</key>
        <string>{-7,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,110}}</string>
        <key>sourceSize</key>
        <string>{93,110}</string>
      </dict>
      <key>sfx_0019_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{98,116}}</string>
        <key>offset</key>
        <string>{-9,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,116}}</string>
        <key>sourceSize</key>
        <string>{98,116}</string>
      </dict>
      <key>sfx_0019_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,95},{98,89}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,89}}</string>
        <key>sourceSize</key>
        <string>{98,89}</string>
      </dict>
      <key>sfx_0019_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,355},{26,42}}</string>
        <key>offset</key>
        <string>{26,-21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,42}}</string>
        <key>sourceSize</key>
        <string>{26,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0019_0.png</string>
      <key>size</key>
      <string>{430,385}</string>
      <key>textureFileName</key>
      <string>sfx_0019_0.png</string>
    </dict>
  </dict>
</plist>