<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_30028_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,63},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,63},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,126},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,126},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,189},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,189},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,252},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,252},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,315},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,315},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,378},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,441},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,441},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,378},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,441},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,0},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,63},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>sfx_30028_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,63},{61,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_30028_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_30028_0.png</string>
    </dict>
  </dict>
</plist>