<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_1010_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,29},{32,19}}</string>
        <key>offset</key>
        <string>{10,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,19}}</string>
        <key>sourceSize</key>
        <string>{32,19}</string>
      </dict>
      <key>sfx_1010_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{42,27}}</string>
        <key>offset</key>
        <string>{5,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,27}}</string>
        <key>sourceSize</key>
        <string>{42,27}</string>
      </dict>
      <key>sfx_1010_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,249},{58,62}}</string>
        <key>offset</key>
        <string>{-2,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,62}}</string>
        <key>sourceSize</key>
        <string>{58,62}</string>
      </dict>
      <key>sfx_1010_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,294},{60,71}}</string>
        <key>offset</key>
        <string>{-4,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,71}}</string>
        <key>sourceSize</key>
        <string>{60,71}</string>
      </dict>
      <key>sfx_1010_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,180},{67,75}}</string>
        <key>offset</key>
        <string>{-8,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>sfx_1010_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{66,78}}</string>
        <key>offset</key>
        <string>{-9,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,78}}</string>
        <key>sourceSize</key>
        <string>{66,78}</string>
      </dict>
      <key>sfx_1010_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,79}}</string>
        <key>offset</key>
        <string>{-11,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,79}}</string>
        <key>sourceSize</key>
        <string>{68,79}</string>
      </dict>
      <key>sfx_1010_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{70,74}}</string>
        <key>offset</key>
        <string>{-13,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,74}}</string>
        <key>sourceSize</key>
        <string>{70,74}</string>
      </dict>
      <key>sfx_1010_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,224},{72,68}}</string>
        <key>offset</key>
        <string>{-14,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,68}}</string>
        <key>sourceSize</key>
        <string>{72,68}</string>
      </dict>
      <key>sfx_1010_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,310},{73,60}}</string>
        <key>offset</key>
        <string>{-15,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,60}}</string>
        <key>sourceSize</key>
        <string>{73,60}</string>
      </dict>
      <key>sfx_1010_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{74,55}}</string>
        <key>offset</key>
        <string>{-15,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,55}}</string>
        <key>sourceSize</key>
        <string>{74,55}</string>
      </dict>
      <key>sfx_1010_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{75,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,54}}</string>
        <key>sourceSize</key>
        <string>{75,54}</string>
      </dict>
      <key>sfx_1010_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,112},{76,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>sfx_1010_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,124},{76,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>sfx_1010_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{76,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
      <key>sfx_1010_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{77,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,54}}</string>
        <key>sourceSize</key>
        <string>{77,54}</string>
      </dict>
      <key>sfx_1010_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,56},{77,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,54}}</string>
        <key>sourceSize</key>
        <string>{77,54}</string>
      </dict>
      <key>sfx_1010_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,68},{77,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,54}}</string>
        <key>sourceSize</key>
        <string>{77,54}</string>
      </dict>
      <key>sfx_1010_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{77,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,54}}</string>
        <key>sourceSize</key>
        <string>{77,54}</string>
      </dict>
      <key>sfx_1010_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,168},{76,54}}</string>
        <key>offset</key>
        <string>{-15,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,54}}</string>
        <key>sourceSize</key>
        <string>{76,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_1010_0.png</string>
      <key>size</key>
      <string>{285,385}</string>
      <key>textureFileName</key>
      <string>sfx_1010_0.png</string>
    </dict>
  </dict>
</plist>