<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_3004_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,716},{116,215}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,215}}</string>
        <key>sourceSize</key>
        <string>{116,215}</string>
      </dict>
      <key>sfx_3004_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,833},{117,217}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,217}}</string>
        <key>sourceSize</key>
        <string>{117,217}</string>
      </dict>
      <key>sfx_3004_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,597},{116,218}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,218}}</string>
        <key>sourceSize</key>
        <string>{116,218}</string>
      </dict>
      <key>sfx_3004_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,479},{116,219}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,219}}</string>
        <key>sourceSize</key>
        <string>{116,219}</string>
      </dict>
      <key>sfx_3004_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{117,221}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,221}}</string>
        <key>sourceSize</key>
        <string>{117,221}</string>
      </dict>
      <key>sfx_3004_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,240},{117,222}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,222}}</string>
        <key>sourceSize</key>
        <string>{117,222}</string>
      </dict>
      <key>sfx_3004_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{118,223}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,223}}</string>
        <key>sourceSize</key>
        <string>{118,223}</string>
      </dict>
      <key>sfx_3004_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{118,224}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,224}}</string>
        <key>sourceSize</key>
        <string>{118,224}</string>
      </dict>
      <key>sfx_3004_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,225}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,225}}</string>
        <key>sourceSize</key>
        <string>{118,225}</string>
      </dict>
      <key>sfx_3004_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,120},{118,224}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,224}}</string>
        <key>sourceSize</key>
        <string>{118,224}</string>
      </dict>
      <key>sfx_3004_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{118,223}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,223}}</string>
        <key>sourceSize</key>
        <string>{118,223}</string>
      </dict>
      <key>sfx_3004_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,359},{117,222}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,222}}</string>
        <key>sourceSize</key>
        <string>{117,222}</string>
      </dict>
      <key>sfx_3004_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,478},{116,221}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,221}}</string>
        <key>sourceSize</key>
        <string>{116,221}</string>
      </dict>
      <key>sfx_3004_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,596},{118,219}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,219}}</string>
        <key>sourceSize</key>
        <string>{118,219}</string>
      </dict>
      <key>sfx_3004_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,715},{116,218}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,218}}</string>
        <key>sourceSize</key>
        <string>{116,218}</string>
      </dict>
      <key>sfx_3004_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,833},{116,217}}</string>
        <key>offset</key>
        <string>{-43,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,217}}</string>
        <key>sourceSize</key>
        <string>{116,217}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_3004_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_3004_0.png</string>
    </dict>
  </dict>
</plist>