<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21099_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,314},{122,311}}</string>
        <key>offset</key>
        <string>{-42,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{122,311}</string>
        <key>sourceSize</key>
        <string>{122,311}</string>
      </dict>
      <key>sfx_21099_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{124,311}}</string>
        <key>offset</key>
        <string>{-44,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{124,311}</string>
        <key>sourceSize</key>
        <string>{124,311}</string>
      </dict>
      <key>sfx_21099_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,627},{125,311}}</string>
        <key>offset</key>
        <string>{-45,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{125,311}</string>
        <key>sourceSize</key>
        <string>{125,311}</string>
      </dict>
      <key>sfx_21099_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,313},{130,311}}</string>
        <key>offset</key>
        <string>{-47,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,311}</string>
        <key>sourceSize</key>
        <string>{130,311}</string>
      </dict>
      <key>sfx_21099_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{128,311}}</string>
        <key>offset</key>
        <string>{-48,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{128,311}</string>
        <key>sourceSize</key>
        <string>{128,311}</string>
      </dict>
      <key>sfx_21099_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,626},{130,311}}</string>
        <key>offset</key>
        <string>{-48,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{130,311}</string>
        <key>sourceSize</key>
        <string>{130,311}</string>
      </dict>
      <key>sfx_21099_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{136,312}}</string>
        <key>offset</key>
        <string>{-51,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{136,312}</string>
        <key>sourceSize</key>
        <string>{136,312}</string>
      </dict>
      <key>sfx_21099_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,629},{139,312}}</string>
        <key>offset</key>
        <string>{-51,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{139,312}</string>
        <key>sourceSize</key>
        <string>{139,312}</string>
      </dict>
      <key>sfx_21099_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,313}}</string>
        <key>offset</key>
        <string>{-53,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{143,313}</string>
        <key>sourceSize</key>
        <string>{143,313}</string>
      </dict>
      <key>sfx_21099_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,315},{134,312}}</string>
        <key>offset</key>
        <string>{-53,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{134,312}</string>
        <key>sourceSize</key>
        <string>{134,312}</string>
      </dict>
      <key>sfx_21099_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{133,312}}</string>
        <key>offset</key>
        <string>{-53,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{133,312}</string>
        <key>sourceSize</key>
        <string>{133,312}</string>
      </dict>
      <key>sfx_21099_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,629},{132,312}}</string>
        <key>offset</key>
        <string>{-52,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{132,312}</string>
        <key>sourceSize</key>
        <string>{132,312}</string>
      </dict>
      <key>sfx_21099_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,313},{132,311}}</string>
        <key>offset</key>
        <string>{-52,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{132,311}</string>
        <key>sourceSize</key>
        <string>{132,311}</string>
      </dict>
      <key>sfx_21099_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{135,311}}</string>
        <key>offset</key>
        <string>{-54,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{135,311}</string>
        <key>sourceSize</key>
        <string>{135,311}</string>
      </dict>
      <key>sfx_21099_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,0},{125,311}}</string>
        <key>offset</key>
        <string>{-41,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{125,311}</string>
        <key>sourceSize</key>
        <string>{125,311}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21099_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21099_0.png</string>
    </dict>
  </dict>
</plist>