<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_6355_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{246,84}}</string>
        <key>offset</key>
        <string>{-55,-71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,9},{246,84}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{246,84}}</string>
        <key>offset</key>
        <string>{-55,-71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,9},{246,84}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{240,86}}</string>
        <key>offset</key>
        <string>{-54,-70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,7},{240,86}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,252},{234,86}}</string>
        <key>offset</key>
        <string>{-58,-70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,7},{234,86}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,252},{234,86}}</string>
        <key>offset</key>
        <string>{-58,-70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{31,7},{234,86}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{230,84}}</string>
        <key>offset</key>
        <string>{-59,-71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{32,9},{230,84}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{228,82}}</string>
        <key>offset</key>
        <string>{-59,-72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,11},{228,82}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,430},{228,82}}</string>
        <key>offset</key>
        <string>{-59,-72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{33,11},{228,82}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{234,82}}</string>
        <key>offset</key>
        <string>{-62,-72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{27,11},{234,82}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,82}}</string>
        <key>offset</key>
        <string>{-57,-72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{24,11},{250,82}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,82}}</string>
        <key>offset</key>
        <string>{-57,-72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{24,11},{250,82}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
      <key>sfx_6355_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,84}}</string>
        <key>offset</key>
        <string>{-53,-71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{28,9},{250,84}}</string>
        <key>sourceSize</key>
        <string>{300,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_6355_0.png</string>
      <key>size</key>
      <string>{334,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:71d5dca30d095514a090a14a297c1cd2:b02fda4d5129ae22b32475f9f598f670:0311b8cfa807204234d9830ec50e508a$</string>
      <key>textureFileName</key>
      <string>sfx_6355_0.png</string>
    </dict>
  </dict>
</plist>