<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21068_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{500,463}}</string>
        <key>offset</key>
        <string>{-161,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,463}}</string>
        <key>sourceSize</key>
        <string>{500,463}</string>
      </dict>
      <key>sfx_21068_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1004},{436,463}}</string>
        <key>offset</key>
        <string>{-161,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,463}}</string>
        <key>sourceSize</key>
        <string>{436,463}</string>
      </dict>
      <key>sfx_21068_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1649,0},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{500,392}}</string>
        <key>offset</key>
        <string>{-161,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,392}}</string>
        <key>sourceSize</key>
        <string>{500,392}</string>
      </dict>
      <key>sfx_21068_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1004},{500,414}}</string>
        <key>offset</key>
        <string>{-161,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,414}}</string>
        <key>sourceSize</key>
        <string>{500,414}</string>
      </dict>
      <key>sfx_21068_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,502},{500,458}}</string>
        <key>offset</key>
        <string>{-161,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,458}}</string>
        <key>sourceSize</key>
        <string>{500,458}</string>
      </dict>
      <key>sfx_21068_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,483},{460,463}}</string>
        <key>offset</key>
        <string>{-161,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,463}}</string>
        <key>sourceSize</key>
        <string>{460,463}</string>
      </dict>
      <key>sfx_21068_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1649,363},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,1469},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,0},{372,396}}</string>
        <key>offset</key>
        <string>{-97,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,396}}</string>
        <key>sourceSize</key>
        <string>{372,396}</string>
      </dict>
      <key>sfx_21068_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1238,948},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,726},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,1089},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,1452},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
      <key>sfx_21068_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{361,463}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,463}}</string>
        <key>sourceSize</key>
        <string>{361,463}</string>
      </dict>
      <key>sfx_21068_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,1004},{382,473}}</string>
        <key>offset</key>
        <string>{-86,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,473}}</string>
        <key>sourceSize</key>
        <string>{382,473}</string>
      </dict>
      <key>sfx_21068_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{445,481}}</string>
        <key>offset</key>
        <string>{-140,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{445,481}}</string>
        <key>sourceSize</key>
        <string>{445,481}</string>
      </dict>
      <key>sfx_21068_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1506},{466,478}}</string>
        <key>offset</key>
        <string>{-146,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,478}}</string>
        <key>sourceSize</key>
        <string>{466,478}</string>
      </dict>
      <key>sfx_21068_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,1479},{463,464}}</string>
        <key>offset</key>
        <string>{-154,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,464}}</string>
        <key>sourceSize</key>
        <string>{463,464}</string>
      </dict>
      <key>sfx_21068_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1659,1452},{361,392}}</string>
        <key>offset</key>
        <string>{-86,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,392}}</string>
        <key>sourceSize</key>
        <string>{361,392}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21068_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_21068_0.png</string>
    </dict>
  </dict>
</plist>