<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35014_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1480,0},{392,366}}</string>
        <key>offset</key>
        <string>{5,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{134,137},{392,366}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1484,394},{392,370}}</string>
        <key>offset</key>
        <string>{7,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{136,136},{392,370}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,0},{408,366}}</string>
        <key>offset</key>
        <string>{6,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{127,134},{408,366}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,836},{406,374}}</string>
        <key>offset</key>
        <string>{6,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{128,141},{406,374}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,0},{422,374}}</string>
        <key>offset</key>
        <string>{-14,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{100,135},{422,374}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,884},{428,370}}</string>
        <key>offset</key>
        <string>{-27,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{84,139},{428,370}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,434},{428,370}}</string>
        <key>offset</key>
        <string>{-30,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{81,136},{428,370}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,864},{414,368}}</string>
        <key>offset</key>
        <string>{-46,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{72,136},{414,368}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1314},{416,366}}</string>
        <key>offset</key>
        <string>{-51,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,138},{416,366}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1314},{416,366}}</string>
        <key>offset</key>
        <string>{-53,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,138},{416,366}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,1280},{414,362}}</string>
        <key>offset</key>
        <string>{-56,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{62,133},{414,362}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,424},{410,372}}</string>
        <key>offset</key>
        <string>{-56,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{64,137},{410,372}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{446,364}}</string>
        <key>offset</key>
        <string>{-26,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{76,140},{446,364}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{432,368}}</string>
        <key>offset</key>
        <string>{-20,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{89,138},{432,368}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{434,368}}</string>
        <key>offset</key>
        <string>{-16,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{92,138},{434,368}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
      <key>sfx_35014_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1116,410},{406,366}}</string>
        <key>offset</key>
        <string>{-2,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{120,141},{406,366}}</string>
        <key>sourceSize</key>
        <string>{650,650}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35014_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_35014_0.png</string>
    </dict>
  </dict>
</plist>