<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_3015_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,694},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,694},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,230},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,460},{147,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,228}}</string>
        <key>sourceSize</key>
        <string>{147,228}</string>
      </dict>
      <key>sfx_3015_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,690},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,230}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,230}}</string>
        <key>sourceSize</key>
        <string>{146,230}</string>
      </dict>
      <key>sfx_3015_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{146,229}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,229}}</string>
        <key>sourceSize</key>
        <string>{146,229}</string>
      </dict>
      <key>sfx_3015_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,463},{146,229}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,229}}</string>
        <key>sourceSize</key>
        <string>{146,229}</string>
      </dict>
      <key>sfx_3015_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,230},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,460},{147,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,228}}</string>
        <key>sourceSize</key>
        <string>{147,228}</string>
      </dict>
      <key>sfx_3015_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,690},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,230},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
      <key>sfx_3015_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,460},{147,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,228}}</string>
        <key>sourceSize</key>
        <string>{147,228}</string>
      </dict>
      <key>sfx_3015_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,0},{146,228}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,228}}</string>
        <key>sourceSize</key>
        <string>{146,228}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_3015_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_3015_0.png</string>
    </dict>
  </dict>
</plist>