<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20020_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{166,238}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{168,238}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{168,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{166,238}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,170},{166,238}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{166,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{164,238}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{164,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,338},{162,238}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{162,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,502},{160,238}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{160,238}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,664},{160,238}}</string>
        <key>offset</key>
        <string>{-7,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{160,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,664},{160,238}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,826},{162,238}}</string>
        <key>offset</key>
        <string>{-5,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
      <key>sfx_20020_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,826},{166,238}}</string>
        <key>offset</key>
        <string>{-4,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{-1,0},{166,238}}</string>
        <key>sourceSize</key>
        <string>{173,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20020_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20020_0.png</string>
    </dict>
  </dict>
</plist>