<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfx_5038_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,126},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,84},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,42},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,126},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,84},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sfx_5038_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfx_5038_0.png</string>
            <key>size</key>
            <string>{128,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ea8f933e1422530960cca65be11bd27:13d4872f28bafbebe3c989e48439e952:4e2a19dcb1522f5d4126d02610b5e6d0$</string>
            <key>textureFileName</key>
            <string>sfx_5038_0.png</string>
        </dict>
    </dict>
</plist>
