<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0100_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>offset</key>
        <string>{-500,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>sfx_0100_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,954},{83,44}}</string>
        <key>offset</key>
        <string>{36,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,44}}</string>
        <key>sourceSize</key>
        <string>{83,44}</string>
      </dict>
      <key>sfx_0100_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1242,652},{76,37}}</string>
        <key>offset</key>
        <string>{-4,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,37}}</string>
        <key>sourceSize</key>
        <string>{76,37}</string>
      </dict>
      <key>sfx_0100_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,1242},{165,274}}</string>
        <key>offset</key>
        <string>{-111,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,274}}</string>
        <key>sourceSize</key>
        <string>{165,274}</string>
      </dict>
      <key>sfx_0100_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,954},{168,286}}</string>
        <key>offset</key>
        <string>{-153,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,286}}</string>
        <key>sourceSize</key>
        <string>{168,286}</string>
      </dict>
      <key>sfx_0100_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,652},{238,300}}</string>
        <key>offset</key>
        <string>{-224,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,300}}</string>
        <key>sourceSize</key>
        <string>{238,300}</string>
      </dict>
      <key>sfx_0100_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1002},{314,296}}</string>
        <key>offset</key>
        <string>{-298,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,296}}</string>
        <key>sourceSize</key>
        <string>{314,296}</string>
      </dict>
      <key>sfx_0100_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{335,273}}</string>
        <key>offset</key>
        <string>{-319,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,273}}</string>
        <key>sourceSize</key>
        <string>{335,273}</string>
      </dict>
      <key>sfx_0100_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,337},{313,239}}</string>
        <key>offset</key>
        <string>{-341,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,239}}</string>
        <key>sourceSize</key>
        <string>{313,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0100_5.png</string>
      <key>size</key>
      <string>{1281,1428}</string>
      <key>textureFileName</key>
      <string>sfx_0100_5.png</string>
    </dict>
  </dict>
</plist>