<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21072_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1814},{196,404}}</string>
        <key>offset</key>
        <string>{6,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{48,41},{196,404}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,800},{188,414}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,31},{188,414}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1376},{186,408}}</string>
        <key>offset</key>
        <string>{7,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{54,37},{186,408}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,798},{194,416}}</string>
        <key>offset</key>
        <string>{3,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{46,29},{194,416}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{198,428}}</string>
        <key>offset</key>
        <string>{7,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{48,31},{198,428}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{194,418}}</string>
        <key>offset</key>
        <string>{4,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{47,27},{194,418}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,600},{198,418}}</string>
        <key>offset</key>
        <string>{11,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{52,32},{198,418}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,990},{204,414}}</string>
        <key>offset</key>
        <string>{13,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,38},{204,414}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,410},{188,420}}</string>
        <key>offset</key>
        <string>{12,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{58,24},{188,420}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1406},{186,406}}</string>
        <key>offset</key>
        <string>{21,11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{68,38},{186,406}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{178,418}}</string>
        <key>offset</key>
        <string>{15,18}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,25},{178,418}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,800},{184,402}}</string>
        <key>offset</key>
        <string>{18,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{66,41},{184,402}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,1814},{202,404}}</string>
        <key>offset</key>
        <string>{15,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{54,39},{202,404}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1402},{206,408}}</string>
        <key>offset</key>
        <string>{6,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{43,39},{206,408}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,994},{216,414}}</string>
        <key>offset</key>
        <string>{3,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{35,35},{216,414}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,200},{208,422}}</string>
        <key>offset</key>
        <string>{2,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{38,36},{208,422}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{212,422}}</string>
        <key>offset</key>
        <string>{8,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{42,28},{212,422}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{206,430}}</string>
        <key>offset</key>
        <string>{14,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{51,33},{206,430}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1212},{188,410}}</string>
        <key>offset</key>
        <string>{16,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{62,34},{188,410}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,990},{188,414}}</string>
        <key>offset</key>
        <string>{20,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,31},{188,414}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,1564},{206,406}}</string>
        <key>offset</key>
        <string>{19,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{56,39},{206,406}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,1814},{206,404}}</string>
        <key>offset</key>
        <string>{18,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{55,41},{206,404}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,1196},{178,412}}</string>
        <key>offset</key>
        <string>{14,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{65,33},{178,412}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,1406},{182,400}}</string>
        <key>offset</key>
        <string>{17,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{66,45},{182,400}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
      <key>sfx_21072_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1610},{198,406}}</string>
        <key>offset</key>
        <string>{14,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{55,39},{198,406}}</string>
        <key>sourceSize</key>
        <string>{280,505}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21072_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_21072_0.png</string>
    </dict>
  </dict>
</plist>