<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0180_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>offset</key>
        <string>{-500,500}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1000,1000}}</string>
        <key>sourceSize</key>
        <string>{1000,1000}</string>
      </dict>
      <key>sfx_0180_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,406},{32,89}}</string>
        <key>offset</key>
        <string>{-10,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,89}}</string>
        <key>sourceSize</key>
        <string>{32,89}</string>
      </dict>
      <key>sfx_0180_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,1111},{59,82}}</string>
        <key>offset</key>
        <string>{-20,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,82}}</string>
        <key>sourceSize</key>
        <string>{59,82}</string>
      </dict>
      <key>sfx_0180_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,1002},{82,107}}</string>
        <key>offset</key>
        <string>{-45,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,107}}</string>
        <key>sourceSize</key>
        <string>{82,107}</string>
      </dict>
      <key>sfx_0180_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1002},{291,161}}</string>
        <key>offset</key>
        <string>{4,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,161}}</string>
        <key>sourceSize</key>
        <string>{291,161}</string>
      </dict>
      <key>sfx_0180_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,141},{252,127}}</string>
        <key>offset</key>
        <string>{38,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,127}}</string>
        <key>sourceSize</key>
        <string>{252,127}</string>
      </dict>
      <key>sfx_0180_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,270},{250,134}}</string>
        <key>offset</key>
        <string>{40,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,134}}</string>
        <key>sourceSize</key>
        <string>{250,134}</string>
      </dict>
      <key>sfx_0180_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{262,139}}</string>
        <key>offset</key>
        <string>{58,-16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,139}}</string>
        <key>sourceSize</key>
        <string>{262,139}</string>
      </dict>
      <key>sfx_0180_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,406},{220,117}}</string>
        <key>offset</key>
        <string>{96,-36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,117}}</string>
        <key>sourceSize</key>
        <string>{220,117}</string>
      </dict>
      <key>sfx_0180_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,525},{203,103}}</string>
        <key>offset</key>
        <string>{107,-46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,103}}</string>
        <key>sourceSize</key>
        <string>{203,103}</string>
      </dict>
      <key>sfx_0180_3_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1207,525},{119,60}}</string>
        <key>offset</key>
        <string>{178,-83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,60}}</string>
        <key>sourceSize</key>
        <string>{119,60}</string>
      </dict>
      <key>sfx_0180_3_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,1111},{67,39}}</string>
        <key>offset</key>
        <string>{232,-99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,39}}</string>
        <key>sourceSize</key>
        <string>{67,39}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0180_3.png</string>
      <key>size</key>
      <string>{1282,1184}</string>
      <key>textureFileName</key>
      <string>sfx_0180_3.png</string>
    </dict>
  </dict>
</plist>