<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0207_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,0},{10,9}}</string>
        <key>offset</key>
        <string>{15,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,9}}</string>
        <key>sourceSize</key>
        <string>{10,9}</string>
      </dict>
      <key>sfx_0207_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,1043},{71,66}}</string>
        <key>offset</key>
        <string>{-17,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,66}}</string>
        <key>sourceSize</key>
        <string>{71,66}</string>
      </dict>
      <key>sfx_0207_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,919},{139,137}}</string>
        <key>offset</key>
        <string>{-53,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>sfx_0207_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,847},{209,194}}</string>
        <key>offset</key>
        <string>{-83,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,194}}</string>
        <key>sourceSize</key>
        <string>{209,194}</string>
      </dict>
      <key>sfx_0207_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,646},{269,213}}</string>
        <key>offset</key>
        <string>{-111,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,213}}</string>
        <key>sourceSize</key>
        <string>{269,213}</string>
      </dict>
      <key>sfx_0207_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,571},{274,214}}</string>
        <key>offset</key>
        <string>{-111,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,214}}</string>
        <key>sourceSize</key>
        <string>{274,214}</string>
      </dict>
      <key>sfx_0207_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{951,432},{274,212}}</string>
        <key>offset</key>
        <string>{-111,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,212}}</string>
        <key>sourceSize</key>
        <string>{274,212}</string>
      </dict>
      <key>sfx_0207_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,288},{281,217}}</string>
        <key>offset</key>
        <string>{-114,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,217}}</string>
        <key>sourceSize</key>
        <string>{281,217}</string>
      </dict>
      <key>sfx_0207_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,212},{280,218}}</string>
        <key>offset</key>
        <string>{-113,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,218}}</string>
        <key>sourceSize</key>
        <string>{280,218}</string>
      </dict>
      <key>sfx_0207_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,0},{281,220}}</string>
        <key>offset</key>
        <string>{-115,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,220}}</string>
        <key>sourceSize</key>
        <string>{281,220}</string>
      </dict>
      <key>sfx_0207_4_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,0},{281,210}}</string>
        <key>offset</key>
        <string>{-115,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,210}}</string>
        <key>sourceSize</key>
        <string>{281,210}</string>
      </dict>
      <key>sfx_0207_4_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,580},{282,203}}</string>
        <key>offset</key>
        <string>{-116,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,203}}</string>
        <key>sourceSize</key>
        <string>{282,203}</string>
      </dict>
      <key>sfx_0207_4_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,580},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,290},{288,195}}</string>
        <key>offset</key>
        <string>{-121,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,195}}</string>
        <key>sourceSize</key>
        <string>{288,195}</string>
      </dict>
      <key>sfx_0207_4_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,290},{288,190}}</string>
        <key>offset</key>
        <string>{-121,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,190}}</string>
        <key>sourceSize</key>
        <string>{288,190}</string>
      </dict>
      <key>sfx_0207_4_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{287,188}}</string>
        <key>offset</key>
        <string>{-120,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,188}}</string>
        <key>sourceSize</key>
        <string>{287,188}</string>
      </dict>
      <key>sfx_0207_4_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,0},{286,179}}</string>
        <key>offset</key>
        <string>{-120,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,179}}</string>
        <key>sourceSize</key>
        <string>{286,179}</string>
      </dict>
      <key>sfx_0207_4_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,283},{279,144}}</string>
        <key>offset</key>
        <string>{-114,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,144}}</string>
        <key>sourceSize</key>
        <string>{279,144}</string>
      </dict>
      <key>sfx_0207_4_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,571},{278,107}}</string>
        <key>offset</key>
        <string>{-114,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,107}}</string>
        <key>sourceSize</key>
        <string>{278,107}</string>
      </dict>
      <key>sfx_0207_4_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,870},{252,47}}</string>
        <key>offset</key>
        <string>{-99,-33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,47}}</string>
        <key>sourceSize</key>
        <string>{252,47}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0207_4.png</string>
      <key>size</key>
      <string>{1283,1113}</string>
      <key>textureFileName</key>
      <string>sfx_0207_4.png</string>
    </dict>
  </dict>
</plist>