<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20008_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{207,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,195}}</string>
        <key>sourceSize</key>
        <string>{207,195}</string>
      </dict>
      <key>sfx_20008_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,626},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,626},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,208},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,416},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,416},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,624},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,624},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,209},{207,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,195}}</string>
        <key>sourceSize</key>
        <string>{207,195}</string>
      </dict>
      <key>sfx_20008_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,0},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,0},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,0},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,208},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,208},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,416},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,416},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,197},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
      <key>sfx_20008_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,624},{206,195}}</string>
        <key>offset</key>
        <string>{-8,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,195}}</string>
        <key>sourceSize</key>
        <string>{206,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20008_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20008_0.png</string>
    </dict>
  </dict>
</plist>