<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_17104_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,110},{106,75}}</string>
        <key>offset</key>
        <string>{-34,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,75}}</string>
        <key>sourceSize</key>
        <string>{106,75}</string>
      </dict>
      <key>sfx_17104_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{108,74}}</string>
        <key>offset</key>
        <string>{-36,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,74}}</string>
        <key>sourceSize</key>
        <string>{108,74}</string>
      </dict>
      <key>sfx_17104_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,73}}</string>
        <key>offset</key>
        <string>{-40,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,73}}</string>
        <key>sourceSize</key>
        <string>{112,73}</string>
      </dict>
      <key>sfx_17104_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{112,73}}</string>
        <key>offset</key>
        <string>{-43,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,73}}</string>
        <key>sourceSize</key>
        <string>{112,73}</string>
      </dict>
      <key>sfx_17104_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,0},{111,73}}</string>
        <key>offset</key>
        <string>{-42,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,73}}</string>
        <key>sourceSize</key>
        <string>{111,73}</string>
      </dict>
      <key>sfx_17104_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,0},{108,72}}</string>
        <key>offset</key>
        <string>{-39,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,72}}</string>
        <key>sourceSize</key>
        <string>{108,72}</string>
      </dict>
      <key>sfx_17104_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,112},{109,72}}</string>
        <key>offset</key>
        <string>{-37,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,72}}</string>
        <key>sourceSize</key>
        <string>{109,72}</string>
      </dict>
      <key>sfx_17104_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,114},{112,74}}</string>
        <key>offset</key>
        <string>{-37,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,74}}</string>
        <key>sourceSize</key>
        <string>{112,74}</string>
      </dict>
      <key>sfx_17104_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{111,77}}</string>
        <key>offset</key>
        <string>{-37,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,77}}</string>
        <key>sourceSize</key>
        <string>{111,77}</string>
      </dict>
      <key>sfx_17104_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,112},{109,77}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,77}}</string>
        <key>sourceSize</key>
        <string>{109,77}</string>
      </dict>
      <key>sfx_17104_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{110,76}}</string>
        <key>offset</key>
        <string>{-37,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,76}}</string>
        <key>sourceSize</key>
        <string>{110,76}</string>
      </dict>
      <key>sfx_17104_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,113},{111,77}}</string>
        <key>offset</key>
        <string>{-38,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,77}}</string>
        <key>sourceSize</key>
        <string>{111,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_17104_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_17104_0.png</string>
    </dict>
  </dict>
</plist>