<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20009_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{309,254}}</string>
        <key>offset</key>
        <string>{-62,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,254}}</string>
        <key>sourceSize</key>
        <string>{309,254}</string>
      </dict>
      <key>sfx_20009_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,315},{312,255}}</string>
        <key>offset</key>
        <string>{-63,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,255}}</string>
        <key>sourceSize</key>
        <string>{312,255}</string>
      </dict>
      <key>sfx_20009_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{313,257}}</string>
        <key>offset</key>
        <string>{-59,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,257}}</string>
        <key>sourceSize</key>
        <string>{313,257}</string>
      </dict>
      <key>sfx_20009_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{313,252}}</string>
        <key>offset</key>
        <string>{-62,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,252}}</string>
        <key>sourceSize</key>
        <string>{313,252}</string>
      </dict>
      <key>sfx_20009_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,636},{313,253}}</string>
        <key>offset</key>
        <string>{-63,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,253}}</string>
        <key>sourceSize</key>
        <string>{313,253}</string>
      </dict>
      <key>sfx_20009_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{318,254}}</string>
        <key>offset</key>
        <string>{-65,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,254}}</string>
        <key>sourceSize</key>
        <string>{318,254}</string>
      </dict>
      <key>sfx_20009_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,629},{312,253}}</string>
        <key>offset</key>
        <string>{-59,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,253}}</string>
        <key>sourceSize</key>
        <string>{312,253}</string>
      </dict>
      <key>sfx_20009_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,315},{312,257}}</string>
        <key>offset</key>
        <string>{-59,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,257}}</string>
        <key>sourceSize</key>
        <string>{312,257}</string>
      </dict>
      <key>sfx_20009_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{314,255}}</string>
        <key>offset</key>
        <string>{-59,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,255}}</string>
        <key>sourceSize</key>
        <string>{314,255}</string>
      </dict>
      <key>sfx_20009_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,0},{311,252}}</string>
        <key>offset</key>
        <string>{-63,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,252}}</string>
        <key>sourceSize</key>
        <string>{311,252}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20009_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20009_0.png</string>
    </dict>
  </dict>
</plist>