<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_5013_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,238},{388,236}}</string>
        <key>offset</key>
        <string>{11,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{73,137},{388,236}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{390,236}}</string>
        <key>offset</key>
        <string>{11,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{72,137},{390,236}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{386,246}}</string>
        <key>offset</key>
        <string>{8,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{71,127},{386,246}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,476},{382,258}}</string>
        <key>offset</key>
        <string>{4,12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{69,115},{382,258}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{396,242}}</string>
        <key>offset</key>
        <string>{-10,4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{48,131},{396,242}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,238},{342,236}}</string>
        <key>offset</key>
        <string>{-12,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{73,137},{342,236}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,492},{328,240}}</string>
        <key>offset</key>
        <string>{6,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{98,137},{328,240}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,582},{340,252}}</string>
        <key>offset</key>
        <string>{1,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{87,137},{340,252}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,924},{312,248}}</string>
        <key>offset</key>
        <string>{9,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{109,127},{312,248}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,924},{252,236}}</string>
        <key>offset</key>
        <string>{5,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{135,137},{252,236}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,962},{238,236}}</string>
        <key>offset</key>
        <string>{12,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{149,137},{238,236}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,924},{236,224}}</string>
        <key>offset</key>
        <string>{14,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{152,143},{236,224}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,0},{236,224}}</string>
        <key>offset</key>
        <string>{13,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{151,143},{236,224}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>sfx_5013_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,736},{216,224}}</string>
        <key>offset</key>
        <string>{3,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{151,143},{216,224}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_5013_0.png</string>
      <key>size</key>
      <string>{1024,1198}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:dac4a5a44bee2d2f9abc159cea9e9dab:81590562e3518db006478b488c1ef002:beabc972d9fad52dec5842df9ac0b007$</string>
      <key>textureFileName</key>
      <string>sfx_5013_0.png</string>
    </dict>
  </dict>
</plist>