<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21128_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{59,73}}</string>
        <key>offset</key>
        <string>{57,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{59,73}</string>
        <key>sourceSize</key>
        <string>{59,73}</string>
      </dict>
      <key>sfx_21128_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,199},{61,74}}</string>
        <key>offset</key>
        <string>{56,-37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{61,74}</string>
        <key>sourceSize</key>
        <string>{61,74}</string>
      </dict>
      <key>sfx_21128_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,132},{63,77}}</string>
        <key>offset</key>
        <string>{55,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{63,77}</string>
        <key>sourceSize</key>
        <string>{63,77}</string>
      </dict>
      <key>sfx_21128_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{63,79}}</string>
        <key>offset</key>
        <string>{55,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{63,79}</string>
        <key>sourceSize</key>
        <string>{63,79}</string>
      </dict>
      <key>sfx_21128_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{65,80}}</string>
        <key>offset</key>
        <string>{54,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,80}</string>
        <key>sourceSize</key>
        <string>{65,80}</string>
      </dict>
      <key>sfx_21128_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{65,81}}</string>
        <key>offset</key>
        <string>{54,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,81}</string>
        <key>sourceSize</key>
        <string>{65,81}</string>
      </dict>
      <key>sfx_21128_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65,83}}</string>
        <key>offset</key>
        <string>{54,-30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,83}</string>
        <key>sourceSize</key>
        <string>{65,83}</string>
      </dict>
      <key>sfx_21128_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,394},{66,68}}</string>
        <key>offset</key>
        <string>{53,-45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,68}</string>
        <key>sourceSize</key>
        <string>{66,68}</string>
      </dict>
      <key>sfx_21128_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{66,69}}</string>
        <key>offset</key>
        <string>{53,-44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,69}</string>
        <key>sourceSize</key>
        <string>{66,69}</string>
      </dict>
      <key>sfx_21128_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,332},{67,71}}</string>
        <key>offset</key>
        <string>{53,-43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,71}</string>
        <key>sourceSize</key>
        <string>{67,71}</string>
      </dict>
      <key>sfx_21128_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{68,73}}</string>
        <key>offset</key>
        <string>{52,-41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{68,73}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>sfx_21128_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,262},{67,74}}</string>
        <key>offset</key>
        <string>{53,-40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{67,74}</string>
        <key>sourceSize</key>
        <string>{67,74}</string>
      </dict>
      <key>sfx_21128_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,264},{66,74}}</string>
        <key>offset</key>
        <string>{53,-39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,74}</string>
        <key>sourceSize</key>
        <string>{66,74}</string>
      </dict>
      <key>sfx_21128_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{66,75}}</string>
        <key>offset</key>
        <string>{53,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{66,75}</string>
        <key>sourceSize</key>
        <string>{66,75}</string>
      </dict>
      <key>sfx_21128_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,132},{65,76}}</string>
        <key>offset</key>
        <string>{54,-37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,76}</string>
        <key>sourceSize</key>
        <string>{65,76}</string>
      </dict>
      <key>sfx_21128_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,197},{65,76}}</string>
        <key>offset</key>
        <string>{54,-36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,76}</string>
        <key>sourceSize</key>
        <string>{65,76}</string>
      </dict>
      <key>sfx_21128_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{65,77}}</string>
        <key>offset</key>
        <string>{54,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{65,77}</string>
        <key>sourceSize</key>
        <string>{65,77}</string>
      </dict>
      <key>sfx_21128_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,67},{63,79}}</string>
        <key>offset</key>
        <string>{55,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{63,79}</string>
        <key>sourceSize</key>
        <string>{63,79}</string>
      </dict>
      <key>sfx_21128_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,67},{63,80}}</string>
        <key>offset</key>
        <string>{55,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{63,80}</string>
        <key>sourceSize</key>
        <string>{63,80}</string>
      </dict>
      <key>sfx_21128_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,331},{61,72}}</string>
        <key>offset</key>
        <string>{56,-39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{0,0},{61,72}</string>
        <key>sourceSize</key>
        <string>{61,72}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21128_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_21128_0.png</string>
    </dict>
  </dict>
</plist>