<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0194_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,396},{141,96}}</string>
        <key>offset</key>
        <string>{-46,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,96}}</string>
        <key>sourceSize</key>
        <string>{141,96}</string>
      </dict>
      <key>sfx_0194_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,847},{186,167}}</string>
        <key>offset</key>
        <string>{-67,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,167}}</string>
        <key>sourceSize</key>
        <string>{186,167}</string>
      </dict>
      <key>sfx_0194_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,644},{193,161}}</string>
        <key>offset</key>
        <string>{-70,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,161}}</string>
        <key>sourceSize</key>
        <string>{193,161}</string>
      </dict>
      <key>sfx_0194_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{201,167}}</string>
        <key>offset</key>
        <string>{-73,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,167}}</string>
        <key>sourceSize</key>
        <string>{201,167}</string>
      </dict>
      <key>sfx_0194_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,580},{212,185}}</string>
        <key>offset</key>
        <string>{-80,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,185}}</string>
        <key>sourceSize</key>
        <string>{212,185}</string>
      </dict>
      <key>sfx_0194_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,396},{218,182}}</string>
        <key>offset</key>
        <string>{-83,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,182}}</string>
        <key>sourceSize</key>
        <string>{218,182}</string>
      </dict>
      <key>sfx_0194_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,413},{224,184}}</string>
        <key>offset</key>
        <string>{-85,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,184}}</string>
        <key>sourceSize</key>
        <string>{224,184}</string>
      </dict>
      <key>sfx_0194_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,413},{229,189}}</string>
        <key>offset</key>
        <string>{-85,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,189}}</string>
        <key>sourceSize</key>
        <string>{229,189}</string>
      </dict>
      <key>sfx_0194_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,413},{222,192}}</string>
        <key>offset</key>
        <string>{-85,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,192}}</string>
        <key>sourceSize</key>
        <string>{222,192}</string>
      </dict>
      <key>sfx_0194_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,637},{200,189}}</string>
        <key>offset</key>
        <string>{-82,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,189}}</string>
        <key>sourceSize</key>
        <string>{200,189}</string>
      </dict>
      <key>sfx_0194_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,0},{90,78}}</string>
        <key>offset</key>
        <string>{24,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>sfx_0194_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{411,394}}</string>
        <key>offset</key>
        <string>{-184,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,394}}</string>
        <key>sourceSize</key>
        <string>{411,394}</string>
      </dict>
      <key>sfx_0194_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{411,394}}</string>
        <key>offset</key>
        <string>{-184,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,394}}</string>
        <key>sourceSize</key>
        <string>{411,394}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0194_0.png</string>
      <key>size</key>
      <string>{899,1017}</string>
      <key>textureFileName</key>
      <string>sfx_0194_0.png</string>
    </dict>
  </dict>
</plist>