<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_1008_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{136,143}}</string>
        <key>offset</key>
        <string>{-40,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,143}}</string>
        <key>sourceSize</key>
        <string>{136,143}</string>
      </dict>
      <key>sfx_1008_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,156},{133,151}}</string>
        <key>offset</key>
        <string>{-43,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,151}}</string>
        <key>sourceSize</key>
        <string>{133,151}</string>
      </dict>
      <key>sfx_1008_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{99,95}}</string>
        <key>offset</key>
        <string>{-18,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,95}}</string>
        <key>sourceSize</key>
        <string>{99,95}</string>
      </dict>
      <key>sfx_1008_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,309},{125,129}}</string>
        <key>offset</key>
        <string>{25,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,129}}</string>
        <key>sourceSize</key>
        <string>{125,129}</string>
      </dict>
      <key>sfx_1008_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,0},{142,111}}</string>
        <key>offset</key>
        <string>{17,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,111}}</string>
        <key>sourceSize</key>
        <string>{142,111}</string>
      </dict>
      <key>sfx_1008_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,0},{154,120}}</string>
        <key>offset</key>
        <string>{12,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,120}}</string>
        <key>sourceSize</key>
        <string>{154,120}</string>
      </dict>
      <key>sfx_1008_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{166,126}}</string>
        <key>offset</key>
        <string>{6,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,126}}</string>
        <key>sourceSize</key>
        <string>{166,126}</string>
      </dict>
      <key>sfx_1008_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{168,129}}</string>
        <key>offset</key>
        <string>{6,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,129}}</string>
        <key>sourceSize</key>
        <string>{168,129}</string>
      </dict>
      <key>sfx_1008_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,170},{159,112}}</string>
        <key>offset</key>
        <string>{12,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,112}}</string>
        <key>sourceSize</key>
        <string>{159,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_1008_2.png</string>
      <key>size</key>
      <string>{513,439}</string>
      <key>textureFileName</key>
      <string>sfx_1008_2.png</string>
    </dict>
  </dict>
</plist>