<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_3005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{187,172}}</string>
        <key>offset</key>
        <string>{-57,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,172}}</string>
        <key>sourceSize</key>
        <string>{187,172}</string>
      </dict>
      <key>sfx_3005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{155,140}}</string>
        <key>offset</key>
        <string>{-44,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>sfx_3005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,355},{157,127}}</string>
        <key>offset</key>
        <string>{-46,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,127}}</string>
        <key>sourceSize</key>
        <string>{157,127}</string>
      </dict>
      <key>sfx_3005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,163},{157,132}}</string>
        <key>offset</key>
        <string>{-44,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,132}}</string>
        <key>sourceSize</key>
        <string>{157,132}</string>
      </dict>
      <key>sfx_3005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,0},{141,132}}</string>
        <key>offset</key>
        <string>{-33,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,132}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>sfx_3005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,157},{146,137}}</string>
        <key>offset</key>
        <string>{-36,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,137}}</string>
        <key>sourceSize</key>
        <string>{146,137}</string>
      </dict>
      <key>sfx_3005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,317},{149,143}}</string>
        <key>offset</key>
        <string>{-40,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,143}}</string>
        <key>sourceSize</key>
        <string>{149,143}</string>
      </dict>
      <key>sfx_3005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,322},{154,156}}</string>
        <key>offset</key>
        <string>{-42,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,156}}</string>
        <key>sourceSize</key>
        <string>{154,156}</string>
      </dict>
      <key>sfx_3005_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{158,161}}</string>
        <key>offset</key>
        <string>{-45,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,161}}</string>
        <key>sourceSize</key>
        <string>{158,161}</string>
      </dict>
      <key>sfx_3005_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{156,157}}</string>
        <key>offset</key>
        <string>{-45,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,157}}</string>
        <key>sourceSize</key>
        <string>{156,157}</string>
      </dict>
      <key>sfx_3005_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{161,173}}</string>
        <key>offset</key>
        <string>{-39,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,173}}</string>
        <key>sourceSize</key>
        <string>{161,173}</string>
      </dict>
      <key>sfx_3005_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{166,137}}</string>
        <key>offset</key>
        <string>{-42,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,137}}</string>
        <key>sourceSize</key>
        <string>{166,137}</string>
      </dict>
      <key>sfx_3005_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,159},{156,150}}</string>
        <key>offset</key>
        <string>{-47,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,150}}</string>
        <key>sourceSize</key>
        <string>{156,150}</string>
      </dict>
      <key>sfx_3005_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,189},{164,146}}</string>
        <key>offset</key>
        <string>{-46,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,146}}</string>
        <key>sourceSize</key>
        <string>{164,146}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_3005_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>sfx_3005_0.png</string>
    </dict>
  </dict>
</plist>