<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0193_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{284,306}}</string>
        <key>offset</key>
        <string>{-133,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,306}}</string>
        <key>sourceSize</key>
        <string>{284,306}</string>
      </dict>
      <key>sfx_0193_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{284,306}}</string>
        <key>offset</key>
        <string>{-133,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,306}}</string>
        <key>sourceSize</key>
        <string>{284,306}</string>
      </dict>
      <key>sfx_0193_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,297},{83,58}}</string>
        <key>offset</key>
        <string>{-29,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,58}}</string>
        <key>sourceSize</key>
        <string>{83,58}</string>
      </dict>
      <key>sfx_0193_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,616},{167,116}}</string>
        <key>offset</key>
        <string>{-72,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,116}}</string>
        <key>sourceSize</key>
        <string>{167,116}</string>
      </dict>
      <key>sfx_0193_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,616},{172,113}}</string>
        <key>offset</key>
        <string>{-77,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,113}}</string>
        <key>sourceSize</key>
        <string>{172,113}</string>
      </dict>
      <key>sfx_0193_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,152},{183,143}}</string>
        <key>offset</key>
        <string>{-87,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,143}}</string>
        <key>sourceSize</key>
        <string>{183,143}</string>
      </dict>
      <key>sfx_0193_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{184,150}}</string>
        <key>offset</key>
        <string>{-87,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,150}}</string>
        <key>sourceSize</key>
        <string>{184,150}</string>
      </dict>
      <key>sfx_0193_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,0},{185,126}}</string>
        <key>offset</key>
        <string>{-87,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,126}}</string>
        <key>sourceSize</key>
        <string>{185,126}</string>
      </dict>
      <key>sfx_0193_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{178,107}}</string>
        <key>offset</key>
        <string>{-78,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,107}}</string>
        <key>sourceSize</key>
        <string>{178,107}</string>
      </dict>
      <key>sfx_0193_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,616},{90,78}}</string>
        <key>offset</key>
        <string>{9,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>sfx_0193_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,308},{284,306}}</string>
        <key>offset</key>
        <string>{-133,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,306}}</string>
        <key>sourceSize</key>
        <string>{284,306}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0193_0.png</string>
      <key>size</key>
      <string>{642,746}</string>
      <key>textureFileName</key>
      <string>sfx_0193_0.png</string>
    </dict>
  </dict>
</plist>