<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_0008_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,125},{120,89}}</string>
        <key>offset</key>
        <string>{-39,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,89}}</string>
        <key>sourceSize</key>
        <string>{120,89}</string>
      </dict>
      <key>sfx_0008_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,129},{123,88}}</string>
        <key>offset</key>
        <string>{-43,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,88}}</string>
        <key>sourceSize</key>
        <string>{123,88}</string>
      </dict>
      <key>sfx_0008_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{131,90}}</string>
        <key>offset</key>
        <string>{-44,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,90}}</string>
        <key>sourceSize</key>
        <string>{131,90}</string>
      </dict>
      <key>sfx_0008_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{129,83}}</string>
        <key>offset</key>
        <string>{-42,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,83}}</string>
        <key>sourceSize</key>
        <string>{129,83}</string>
      </dict>
      <key>sfx_0008_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{127,100}}</string>
        <key>offset</key>
        <string>{-41,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,100}}</string>
        <key>sourceSize</key>
        <string>{127,100}</string>
      </dict>
      <key>sfx_0008_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{123,87}}</string>
        <key>offset</key>
        <string>{-38,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,87}}</string>
        <key>sourceSize</key>
        <string>{123,87}</string>
      </dict>
      <key>sfx_0008_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{117,88}}</string>
        <key>offset</key>
        <string>{-36,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,88}}</string>
        <key>sourceSize</key>
        <string>{117,88}</string>
      </dict>
      <key>sfx_0008_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,247},{95,67}}</string>
        <key>offset</key>
        <string>{-22,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,67}}</string>
        <key>sourceSize</key>
        <string>{95,67}</string>
      </dict>
      <key>sfx_0008_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{64,45}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,45}}</string>
        <key>sourceSize</key>
        <string>{64,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_0008_0.png</string>
      <key>size</key>
      <string>{386,344}</string>
      <key>textureFileName</key>
      <string>sfx_0008_0.png</string>
    </dict>
  </dict>
</plist>